<div id="container" class="container">
    <div class="user-widget">
        <ul class="func-list">
            <!--<li>
                <a href="/addon/vipcard/score">
                    <span class="sign color118"><i class="icon icon-star"></i></span> 我的积分
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>-->
            <li>
                <a href="javascript:;">
                    <span class="sign color102"><i class="icon icon-comments-alt"></i></span> 我的收藏
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
        </ul>
        <ul class="">
            <!--<li>
                <a href="/addon/vipcard/score">
                    <span class="sign color118"><i class="icon icon-star"></i></span> 我的积分
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>-->
            <?php if ($collection) { ?>
                <?php foreach ($collection as $item) { ?>
                    <li class="collection_list">
                        <a target="_blank"
                           href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['pid'])); ?>">
                            <?php echo $item['thumb'] ?>
                        </a>
                    </li>
                <?php } ?>
            <?php } else { ?>
                <li class="vote_list">
                    <a href="javascript:;">
                        你没有收藏任何商品
                    </a>
                </li>

            <?php } ?>

        </ul>

    </div>

</div>