<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style type="text/css">
    body {
        width: 100%;
        height: 100%;
        background: url("/static/wap/images/tpl/renhao2/register.png") no-repeat;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
</style>
<!------------------------------- find back password begin ------------------------------------------>
<div id="register" class="register">
    <div class="pic"><img src="/static/wap/images/tpl/renhao2/register_logo.png" alt=""/></div>


    <form action="javascript:;" class="form" method="post" id="phoneCheckForm">
        <p class="field"><input type="text" id="r_phone" name="phone" class="phone" placeholder="请设置您的手机号"/>
        </p>

        <p class="field">
            <input type="text" id="verifyCode" name="verifyCode" class="verify-code" value="" placeholder="验证码">
        </p>
        <a href="javascript:;" class="btn btn-gray get-code" id="sendCodeBtn" data-timer="0">获取验证码</a>

        <input type="submit" value="下一步" class="nextBtn reg_sub  check-verify-code"/>
    </form>
    <form action="javascript:;" class="form" method="post" id="signUpForm" style="display: none;">


        <p class="field"><input type="password" id="r_phone" name="password" class="password" placeholder="密码"/>
        </p>

        <p class="field">
            <input type="password" id="verifyCode" name="repassword" class="repassword" value="" placeholder="确认密码">
        </p>
        <input type="submit" value="修改密码" class="regBtn reg_sub reset-pass"/>
        </p>
    </form>


</div>


<!------------------------------- find back password end ------------------------------------------>
<script>
    seajs.use('renhao/renhao.user', function (user) {
        user.user_forgot("<?php echo $this->request->get('go'); ?>");
        user.send_code();
    })
</script>