<?php if ($this->request->get('id')) { ?>
    <div id="register_success" class="register_success">
        <div class="word">恭喜你，你的账号<?php echo $this->request->get('id') ?>注册成功请牢记你的账号及安全密码</div>
        <div class="href"><a href="/">进入首页 </a><a href="/user" class="m_l">进入个人中心</a></div>
    </div>
<?php } else { ?>
    illegal parameter;
<?php } ?>