<div id="container" class="container">
    <div class="block-tip">更改密码</div>

    <div class="user-widget">
        <form action="javascript:;" class="form" method="post" id="resetPassForm">
            <p>
                <label for="">原始密码</label>
                <span class="red">*</span>
                <input type="password" name="old_pass" class="old_pass" placeholder="请输入原始密码"
                       value=""/>
                <span class="tip" style="padding: 0 0 0 62px;"></span>
            </p>

            <p>
                <label for="">新密码</label>
                <span class="red">*</span>
                <input type="password" name="password" class="password" placeholder="请输入新密码"
                       value="">
                <span class="tip" style="padding: 0 0 0 62px;"></span>
            </p>

            <p>
                <label for="">确认密码</label>
                <span class="red">*</span>
                <input type="password" name="repassword" class="repassword" placeholder="请再次输入新密码"
                       value="">
                <br/>
                <span class="tip" style="padding: 0 0 0 62px;"></span>
            </p>

            <p>
                <input type="submit" value="更改密码"
                       data-phone="<?php echo \Util\EasyEncrypt::encode($user['phone']); ?>"
                       class=" resetPassBtn" id="btn-large"/>
            </p>

        </form>

    </div>
</div>

<script>
    seajs.use('app/app.user', function (user) {
        user.user_resetPass()
    });
</script>