<!DOCTYPE HTML>
<html>
<head>
    {{ get_title() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/bui/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/static/bui/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/static/bui/css/main-min.css" rel="stylesheet" type="text/css" />
    <link href="/static/bui/css/page-min.css" rel="stylesheet" type="text/css" />
    {% for cssFile in cssFiles %}
    <script type="text/javascript">
        var explorer = window.navigator.userAgent;
        if (explorer.indexOf("Firefox") >= 0) {//Firefox
            browser = 'Firefox';
        } else if (explorer.indexOf("Chrome") >= 0) {//Chrome
            browser = 'Chrome';
        } else if (explorer.indexOf("Opera") >= 0) {//Opera
            browser = 'Opera';
        } else if (explorer.indexOf("Safari") >= 0) {//Safari
            browser = 'Safari';
        } else if (explorer.indexOf("Trident/7.0") >= 0) {//IE11
            browser = 'IE:10.0以上';
        } else {
            alert("本系统只适用于支持html5规范的浏览器，请下载使用firefox或chrome浏览器~！");
            window.close();
            setInterval(function () {
                window.close();
            }, 1000)
            /*if (explorer.indexOf("MSIE") >= 0) {//ie10及以下
             var b_name = navigator.appName;
             var b_version = navigator.appVersion;
             var version = b_version.split(";");
             version = version[1].replace(/[ ]/g, "");
             version = version.split('MSIE')[1];
             browser = 'IE:' + version;
             if (version < 9) {
             alert("您的浏览器版本过低，请下载使用firefox或chrome浏览器~！");
             window.close();
             setInterval(function () {
             window.close();
             }, 1000)
             }
             } else {
             alert("您的浏览器版本过低，请下载使用firefox或chrome浏览器~！");
             window.close();
             setInterval(function () {
             window.close();
             }, 1000)
             }*/
        }
    </script>
    {{ stylesheet_link(cssFile) }}
    {% endfor%}
    <?php echo $this->assets->outputCss();?>
    <script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/static/bui/js/bui.js"></script>
    <script type="text/javascript" src="/static/bui/js/config.js"></script>
</head>
<body>
{{content()}}
<?php echo $this->assets->outputJs();?>
{% for jsFile in jsFiles %}
{{ javascript_include(jsFile) }}
{% endfor%}
</body>
</html>
