<?php
use Components\Module\DemandManager;

$replies = DemandManager::init()->getDemandReplies($item['id']);

?>
<div id="container" class="container">
    <p class="apply-banner">
        <img alt="" src="/static/wap/images/module/reserve/head_pic.jpg">
    </p>

    <ul class="round" style="margin: 8px;">
        <li class="nob">
            <a href="<?php echo $this->uri->wapModuleUrl('demand'); ?>" style="display: block;width: 100%;">
                我的需求列表
            <span class="right">
                               <em class="ok"><?php echo $count; ?></em>
                                <i class="icon icon-angle-right" style="font-size: 16px;"></i>
                            </span>
            </a>
        </li>
    </ul>

    <div class="apply-content">
        <ul class="round">
            <li class="title mb">
                <span
                    class="right red"><?php echo \Components\Module\DemandManager::init()->getStatus($item['status']); ?></span>
                <span class="none">需求详情</span>
            </li>

            <li class="item">
                <strong style="font-weight: bold;">我的联系信息:</strong><br/>
                <?php echo $item['username']; ?> <br/>
                <?php echo $item['phone']; ?> <br/>
                <?php echo $item['email']; ?> <br/>
            </li>

            <li class="item">
                <strong style="font-weight: bold;">提问:</strong>  <?php echo $item['title']; ?>
            </li>

            <li class="nob">
                <strong style="font-weight: bold;">详情:</strong>  <?php echo $item['detail']; ?>
            </li>
        </ul>

        <ul class="replies round">
            <li class="title mb">
                <span class="none">回复信息</span>
            </li>
            <?php
            if ($replies) {
                foreach ($replies as $reply) {
//                    echo $reply['created'];
                    if ($reply['is_customer'] == 1) {
                        ?>
                        <li class="reply from-customer" data-id="<?php echo $reply['id']; ?>">
                            <h4 class="reply-title">
                                <span class="right"><?php echo date('Y-m-d H:i:s', $reply['created']); ?></span>
                                <span class="blue">商家回复</span>
                            </h4>

                            <div class="reply-detail"><?php echo $reply['detail']; ?></div>
                        </li>
                    <?php } else { ?>
                        <li class="reply from-user" data-id="<?php echo $reply['id']; ?>">
                            <h4 class="reply-title">
                                <span class="right"><?php echo date('Y-m-d H:i:s', $reply['created']); ?></span>
                                <span class="green">我回复</span>
                            </h4>

                            <div class="reply-detail"><?php echo $reply['detail']; ?></div>
                        </li>
                    <?php } ?>
                <?php } ?>
            <?php } else { ?>
                <li class="noData">暂无回复内容</li>
            <?php } ?>
            <?php
            if ($item['status'] != DemandManager::DEMAND_STATUS_END) {
                ?>
                <li class="nob">
                    <form action="javascript:;" id="replyForm" style="padding: 0 0 6px 0;">
                        <p>
                            <span>回复内容：</span>
                            <textarea name="" id="txtDetail" style="height: 60px;" class="pxtextarea"></textarea>
                        </p>

                        <p style="margin: 6px 0 0;">
                            <span class="right"><a class="btn btn-orange" id="endReply" href="javascript:;"
                                                   data-id="<?php echo $item['id']; ?>">立即结束</a></span>
                            <input type="submit" value="继续追问" id="smbBtn" class="btn btn-green"
                                   data-demand_id="<?php echo $item['id']; ?>"/>
                        </p>
                    </form>
                </li>
            <?php } ?>
        </ul>

        <script>
            seajs.use('module/module.demand', function (api) {
                api.reply();
                api.endReply();
            });
        </script>
    </div>
</div>