<?php
$user = \Components\UserStatusWap::init()->getUserInfo();
$types = \Components\Module\DemandManager::init()->getType();
?>
<div id="container" class="container">
<p class="apply-banner">
    <img alt="" src="/static/wap/images/module/reserve/head_pic.jpg">
</p>

<div class="apply-content">
<ul class="round">
    <li class="nob">
        我的需求管理
                <span class="right">
                   <em class="ok"><?php echo $count; ?></em>
                    <i class="icon icon-angle-right" style="font-size: 16px;"></i>
                </span>
    </li>
</ul>

<ul class="round">
    <li class="title mb">
        <span class="right red"></span>
        <span class="none">我的需求列表</span>
    </li>
    <?php
    if ($list) {
        foreach ($list as $item) {
            ?>
            <li class="addr">
                <a href="<?php echo $this->uri->wapModuleUrl('demand/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                    <p>
                    <span class="right">
                        <i class="icon icon-angle-right"></i>
                    </span>
                        [<span
                            class="red"><?php echo \Components\Module\DemandManager::init()->getStatus($item['status']); ?></span>]
                        <?php echo $item['title']; ?>
                    </p>
                </a>
            </li>
        <?php
        }
    } else {
        ?>
        <li class="addr">
            您尚未提交任何需求~!
        </li>
    <?php } ?>
</ul>

<form action="javascript:;" id="demandForm">
    <ul class="round">
        <li class="title mb">
            <span class="right red">发布需求</span>
            <span class="none">请认真填写需求表单</span>
        </li>
        <li class="nob">

            <table class="table">
                <tbody>
                <tr>
                    <th class="name">联系人 <span class="tip">*</span></th>
                    <td class="more">
                        <input type="text" placeholder="请输入您的真实姓名" value="<?php echo $user['username']; ?>"
                               id="username" class="px">
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                <tr>
                    <th class="name">联系电话 <span class="tip">*</span></th>
                    <td class="more">
                        <input type="text" placeholder="请输入您的电话" value="<?php echo $user['phone']; ?>"
                               id="phone"
                               class="px" name="tel">
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <tbody>
                <tr>
                    <th class="name">联系邮箱 <span class="tip">*</span></th>
                    <td class="more">
                        <input type="text" placeholder="请输入您的邮箱" value="<?php echo $user['email']; ?>"
                               id="email"
                               class="px" name="email">
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                <tr>
                    <th class="name">期望服务时间 <span class="tip">*</span></th>
                    <td class="more date">
                        <?php
                        $curYear = date('Y');
                        $curMonth = date('m');
                        $curDay = date('d');


                        ?>
                        <i class="icon-calendar bigger-110"></i>
                        <select name="" id="selectYear" class="selc">
                            <option value="">年份</option>
                            <?php for ($i = date('Y'); $i > 1900; $i--) { ?>
                                <option
                                    value="<?php echo $i; ?>" <?php echo $curYear == $i ? 'selected="selected"' : ''; ?> ><?php echo $i; ?></option>
                            <?php } ?>
                        </select>
                        <select name="" id="selectMonth" class="selc">
                            <option value="">月份</option>
                            <?php for ($i = 1; $i <= 12; $i++) { ?>
                                <option
                                    value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curMonth == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                            <?php } ?>
                        </select>


                        <select name="" id="selectDay" class="selc">
                            <option value="">日期</option>
                            <?php
                            $monthDay = array(0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                            $nowMonth = intval(date('m'));
                            $nowYear = date('Y');

                            // 年下拉框改变时，判断是否是是闰年，更改二月分的天数
                            if ($nowMonth == 2 && ($nowYear % 100 == 0) && ($nowYear % 400 == 0) || ($nowYear % 100 != 0) && ($nowYear % 4 == 0)) {
                                $monthDay[2] = $monthDay[2] + 1;
                            }

                            for ($i = 1; $i <= $monthDay[$nowMonth]; $i++) {
                                ?>
                                <option
                                    value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curDay == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                            <?php } ?>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                <tr>
                    <th class="name">选择需求类别 <span class="tip">*</span></th>
                    <td class="more">
                        <select name="type_id" id="type_id">
                            <option value="">--请选择需求类别--</option>
                            <?php
                            if ($types) {
                                foreach ($types as $k => $t) {
                                    ?>
                                    <option value="<?php echo $k; ?>"><?php echo $t; ?></option>
                                <?php
                                }
                            } else {
                                ?>
                                <option value="0">商家未设置</option>
                            <?php
                            }
                            ?>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <tbody>
                <tr>
                    <th class="name">需求主题 <span class="tip">*</span></th>
                    <td class="more">
                        <input type="text" placeholder="请输入您的需求主题" value=""
                               id="title"
                               class="px" name="title">
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <tbody>
                <tr>
                    <th class="name">需求明细</th>
                    <td class="more">
                        <textarea placeholder="请输入需求明细" id="detail" class="pxtextarea"
                                  style="height: 99px; overflow-y: visible"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <input type="button" value="提交需求" class="submit" id="addDemandBtn">
        </li>
    </ul>
</form>

<script>
    seajs.use('module/module.demand', function (api) {
        api.addDemand();
        api.selectMonth();
    });
</script>

</div>
</div>