<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;

?>
<!------------------------------- find back password begin ------------------------------------------>
<div id="login-bg">
    <div id="logo"></div>
    <div id="login-list-bg" class="phoneCheckForm">
        <form action="javascript:;" method="post" id="phoneCheckForm" class="form">
            <div class="login-list">
                <div class="login-input">
                    <img src="/static/wap/images/tpl/huarunqi/tel.png" alt="" width="30" height="30">
                    <input type="text" name="phone" class="login-kuang phone">
                </div>
                <div class="get-code verify" id="sendCodeBtn" data-checkUnique="false"
                     data-timer="0">获取验证码
                </div>
            </div>

            <div class="login-list">
                <input type="text" name="verifyCode" id="verifyCode" placeholder="验证码"
                       class="verify-code box01">
            </div>
            <div class="login-list">
                <input type="submit" name="Submit" value="确认验证码" class="submit nextBtn check-verify-code">
            </div>
        </form>
    </div>
    <div id="login-list-bg01" class="signUpForm" style="display: none;">
        <form action="javascript:;" class="form" method="post" id="signUpForm">
            <label for="" class="form-label">密 码</label>

            <div class="login-list">
                <img src="/static/wap/images/tpl/huarunqi/Password.png">
                <input type="password" name="password" class="box02 password">
            </div>

            <label for="" class="form-label">确认密码</label>

            <div class="login-list">
                <img src="/static/wap/images/tpl/huarunqi/Password.png">
                <input type="password" name="repassword" class="box02 password repassword">
            </div>

            <div class="ok-box">
                <input type="submit" name="Submit" value="修改密码" class="OK01 nextBtn reset-pass"/>
            </div>
        </form>
    </div>
    <!-- register_main_w end -->
    <?php require_once MODULE_PATH . "/Views/customize/huarunqi/base/copyRight.phtml"; ?>
</div><!-- register_main end -->
<!------------------------------- find back password end ------------------------------------------>
<script>
    seajs.use('huarunqi/huarunqi.user', function (user) {
        user.user_forgot("<?php echo $this->request->get('go'); ?>");
        //user.send_code();
    })
</script>