<!----------------------用户中心 user_center begin --------------------------------->
<div id="user_center">
    <div class="topbg">
        <div class="user">
            <img
                src="<?php echo !empty($user['avatar']) ? $user['avatar'] : '/static/wap/images/default/portrait.jpg'; ?>"
                alt="#">
            <label id="up_portrait"
                   style="font-size: 12px;cursor: pointer;width: 90px;display: block; text-align: center;">
                [更换头像]</label>
        </div>
        <ul>
            <li>用户名： <?php echo $user['username']; ?> <a href="/user/profile" class="box"><img
                        src="/static/wap/images/tpl/huarunqi/pen.png" alt="" width="17px" height="17px"></a></li>
            <li>
                性别：<?php echo $user['gender'] == 'm' ? '男' : ($user['gender'] == 'f' ? '女' : '保密') ?> <?php if ($user['province']) { ?>
                    <span class="box">所在地： <?php echo $user['province'] . $user['city'] . '...'; ?> </span> <?php } ?>
            </li>
            <li>电话： <?php echo $user['phone']; ?></li>
            <li>邮箱：<?php echo $user['email']; ?></li>
            <li><a href="/user/logout" class="box">退出登录</a></li>
        </ul>
    </div>
    <div class="box-box">
        <a href="/addon/vipcard/" class="list"><img src="/static/wap/images/tpl/huarunqi/user01.png" alt="" width="25px"
                                                    height="25px">会员卡</a>
        <!--<a href="/addon/wheel/" class="list"><img src="/static/wap/images/tpl/huarunqi/user02.png" alt="" width="25px"
                                                  height="25px">大转盘</a>
        <a href="/addon/scratch/" class="list"><img src="/static/wap/images/tpl/huarunqi/user03.png" alt="" width="25px"
                                                    height="25px">刮刮乐</a>-->
        <a href="/addon/store/" class="list"><img src="/static/wap/images/tpl/huarunqi/user06.png" alt="" width="25px"
                                                  height="25px">附近门店</a>
        <a href="/addon/guestbook/" class="list"><img src="/static/wap/images/tpl/huarunqi/user04.png" alt=""
                                                      width="25px" height="25px">留言板</a>
        <a href="/about/" class="list"><img src="/static/wap/images/tpl/huarunqi/user05.png" alt="" width="25px"
                                            height="25px">用户协议</a>
    </div>
</div>
<!---------------------- 用户中心 user_center end --------------------------------->

<?php require_once MODULE_PATH . "/Views/customize/huarunqi/base/copyRight2.phtml"; ?>
<div id="portrait-dialog" title="头像上传" style="display: none;">
    <form action="/api/user/updatePortrait" target="frameFile" enctype="multipart/form-data" class="form w250-center"
          method="post" id="signUpForm">
        <p>
            <input type="file" name="portrait" id="portrait">
            <span class="tip"></span>
        </p>

        <p style="margin: 20px 0 0;">
            <input type="submit" value="确定" class="btn btn-green portraitUp"/>
        </p>

    </form>


</div>
<iframe id='frameFile' name='frameFile' style='display: none;'>

</iframe>
<script src="/static/wap/js/base.js">


</script>
<script>
    seajs.use('base', function () {
        $("#up_portrait").on('click', function (e) {
            $("#portrait-dialog").dialog('open');
            e.stopImmediatePropagation();
        });
        $(".portraitUp").on('click', function (e) {
            if ($("#portrait").val() == '') {
                return false;
            }
            $("#portrait-dialog").dialog('close');
            e.stopImmediatePropagation();
        });

    });
    function myAlert(msg, type) {
        tip.showTip(type, msg, 2000);
    }

</script>
