<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;

?>

<div id="login-bg">
    <div id="logo"></div>
    <div id="login-list-bg01">
        <form action="javascript:;" method="post" id="loginForm" class="form">
            <div class="login-list"><img src="/static/wap/images/tpl/huarunqi/tel.png" alt="" width="30px"
                                         height="30px">
                <input name="phone" id="phone" placeholder="手机号" class="phone box02"></div>
            <div class="login-list"><img src="/static/wap/images/tpl/huarunqi/Password.png">
                <input type="password" id="password" name="password" class="box02 password"></div>

            <p class="forgot-tip">忘记密码 ? <a href="/user/forgot">找回密码</a></p>

            <div class="sign-in">
                <div class="denglu">
                    <input type="submit" name="Submit" value="立即登录" class="ok-sign-in loginBtn">
                </div>
                <a href="/user/signup" alt="" title="" class="zhuce">我要注册</a>
            </div>
        </form>
    </div>


    <?php require_once MODULE_PATH . "/Views/customize/huarunqi/base/copyRight.phtml"; ?>
</div>

<script>
    seajs.use('app/app.user', function (user) {
        user.user_login("<?php echo $this->request->get('go'); ?>");
    });
</script>
