<?php
use Components\UserStatusWap;

$user = \Components\Module\VipcardManager::getCardInfoByUid(\Components\UserStatus::getUid(), CUR_APP_ID);
?>
<!------------------------------- person_info_main begin ------------------------------------------>
<div class="person_info_main">
    <div class="person_info_w">
        <ul>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">真实姓名</div>
                    <div class="con"><?php echo $user['realname']; ?></div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">手机</div>
                    <div class="con"><?php echo $user['phone']; ?></div>
                    <div class="clear"></div>
                </a>
            </li>
            <!--<li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">email</div>
                    <div class="con"><?php /*echo $user['email']; */?></div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">地址</div>
                    <div
                        class="con"><?php /*echo $user['province'] . $user['city'] . $user['town']; */?></div>
                    <div class="clear"></div>
                </a>
            </li>-->
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">性别</div>
                    <div class="con">
                        <?php $gender = array('m' => '男', 'f' => '女');
                        echo in_array($user['gender'], array('m', 'f')) ? $gender[$user['gender']] : '保密'; ?>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>
            <!--<li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">出生年月</div>
                    <div class="con"><?php /*echo $user['birthday'] == '0000-00-00' ? '保密' : $user['birthday']; */?></div>
                    <div class="clear"></div>
                </a>
            </li>

            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">是否接收email</div>
                    <div class="con">
                        <?php /*echo $user['accept_email'] == 1 ? '是' : '否'; */?>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">是否接收短信</div>
                    <div class="con">
                        <?php /*echo $user['accept_msg'] == 1 ? '是' : '否'; */?>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">是否接收DM</div>
                    <div class="con">
                        <?php /*echo $user['accept_dm'] == 1 ? '是' : '否'; */?>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>-->
            <li class="qiye ll_sty1">
                <a href="javascript:;">
                    <div class="tit">企业附加选项</div>
                    <div class="clear"></div>
                </a>

                <?php
                if ($user['company_info']) {
                    $info = json_decode($user['company_info'], true);
                    if ($info) {

                        ?>
                        <div class="details">
                            <ul>
                                <li class="ll_sty1">
                                    <a href="javascript:;">
                                        <div class="tit tit_lf">公司名称</div>
                                        <div class="con"><?php echo $info['company_name']; ?></div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li class="ll_sty1">
                                    <a href="javascript:;">
                                        <div class="tit tit_lf">公司电话</div>
                                        <div class="con"><a
                                                href="tel:<?php echo $info['company_tel']; ?>"><?php echo $info['company_tel']; ?></a>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li class="ll_sty1">
                                    <a href="javascript:;">
                                        <div class="tit tit_lf">公司传真</div>
                                        <div class="con"><?php echo $info['company_fax']; ?></div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li class="ll_sty1">
                                    <a href="javascript:;">
                                        <div class="tit tit_lf">公司网址</div>
                                        <div class="con"><a href="<?php echo $info['site']; ?>"
                                                            target="_blank"><?php echo $info['company_site']; ?></a>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    <?php
                    }
                } ?>
            </li>
        </ul>
    </div>
    <a href="/addon/vipcard/setting" class="btn-emoi btn btn-block btn-large">修改信息</a>

    <!-- person_info_w end-->
</div><!-- person_info_main end -->
<!------------------------------- person_info_main end ------------------------------------------>

<script>
    //是否是企业
    $("#openCompanyInfo").click(function () {
        if ($(this).attr('data-flag') == "1") {
            $(".qiye").css("height", 44 + "px");
            $(".qiye  .details").css("display", "none");
            $(this).attr('data-flag', 0);
        } else {
            $(".qiye").css("height", 224 + "px");
            $(".qiye  .details").css("display", "block");
            $(this).attr('data-flag', 1);
        }
    });
</script>