<?php
\Components\TplManager::$_config['hideHeader'] = true;
?>
<div id="container" class="container">
    <div class="block-tip">
        用户设置
    </div>
    <div class="user-widget">
        <?php if ($user) { ?>
        <form action="javascript:;" id="settingForm" class="form">
            <p>
                <label for="">手机</label>
                <span class=""><?php echo $user['phone']; ?></span> <span class="tip">（用于登陆）</span>
            </p>

            <p>
                <label for="">密码</label>
                <a href="/user/resetPass">修改密码</a>
            </p>

            <p>
                <label for="">昵称</label>
                <input type="text" value="<?php echo $user['username']; ?>" class="username"/>
                <span class="tip">*</span>
            </p>

            <p>
                <label for="">邮箱</label>
                <input type="text" value="<?php echo $user['email']; ?>" class="email"/>
                <span class="tip">*</span>
            </p>

            <p>
                <label for="">所在地区</label>
                <span class="tip">* 请选择区域</span>
            </p>

            <p style="padding: 0 0 0 62px;">
                <select name="province" id="province" class=""></select> <br/>
                <select name="city" id="city" class=""></select><br/>
                <select name="town" id="town" class=""></select><br/>

            </p>

            <p>
                <label for="">性别</label>
                <input type="radio" name="gender" value="m"
                       class="gender" <?php echo $user['gender'] == 'm' ? 'checked' : ''; ?>/>
                男
                <input type="radio" name="gender" value="f"
                       class="gender" <?php echo $user['gender'] == 'f' ? 'checked' : ''; ?>/>
                女
                <span class="tip">*</span>
            </p>

            <p>
                <input type="submit" value="确认" class="btn btn-green saveBtn btn-large"/>
            </p>
            <script>
                // 初始化
                seajs.use('app/app.user', function (user) {
                    new PCAS('province', 'city', 'town', '<?php echo  $user['province'] ;?>', '<?php echo $user['city'];?>', '<?php echo $user['town'];?>');
                    user.user_profile();
                });
            </script>
            <?php } ?>
        </form>

    </div>

</div>