<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;

?>
<div id="login-bg">
    <div id="logo"></div>

    <div id="login-list-bg" class="phoneCheckForm">
        <form name="form1" method="post" action="javascript:;">
            <div class="login-list">
                <div class="login-input">
                    <img src="/static/wap/images/tpl/huarunqi/tel.png" alt="" width="30px" height="30px">
                    <input type="text" name="phone" class="login-kuang phone">
                </div>
                <div class="get-code verify" id="sendCodeBtn" data-checkUnique="true"
                     data-timer="0">获取验证码
                </div>
            </div>
            <div class="login-list">
                <input type="text" name="verifyCode" id="verifyCode" placeholder="验证码"
                       class="verify-code box01">
            </div>
            <div class="login-list">
                <input type="submit" name="Submit" value="确认验证码" class="submit nextBtn">
            </div>
        </form>
    </div>
    <div id="login-list-bg01" class="signUpForm" style="display: none;">
        <form action="javascript:;" class="form" method="post">
            <div class="login-list">
                <img src="/static/wap/images/tpl/huarunqi/Password.png">
                <input type="password" name="password" class="box02 password">
            </div>
            <div class="xieyi">
                <img src="/static/wap/images/tpl/huarunqi/Agreement.png">接受华润漆有关协议
            </div>
            <div class="ok-box">
                <input type="submit" name="Submit" value="确认注册" class="OK01 regBtn"></div>
        </form>
    </div>

    <?php require_once MODULE_PATH . "/Views/customize/huarunqi/base/copyRight.phtml"; ?>

</div>
<script>
    seajs.use('huarunqi/huarunqi.user', function (api) {
        api.user_reg("<?php echo $this->request->get('go'); ?>");
    });

</script>