@charset "utf-8";

/* reset css start*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,main,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline;background:transparent;}
main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,html{min-width:1024px;}
nav,ul{list-style:none;list-style-type: none;outline: none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#333;padding: 0 4px;color: #666;font-size: 14px;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;outline: none;}
/* reset css end*/

/* new  add  start*/
*{margin: 0; padding: 0; list-style: none; font-size: 12px; line-height: 18px; border: none;}
div{ margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.clear{clear: both;}
a{color:#333333; text-decoration:none; }
a:hover{  cursor:pointer; }
/* new  add  end*/

/*-------------------------- public_header ---------------------------------*/
.top_header{ height: 100px; width:100%; background: #2682ff;position: fixed; top: 0px; left: 0px;z-index: 1000;}
.top_header .top_header_wrap{width: 1176px;  background:url("/static/home/pc/estt/images/slide-small.jpg")repeat 0px 0px;  margin:0 auto; height: 100px;}

/*----------------------header-------------*/
.header{*zoom:1}
.header:before,.header:after{display:table;content:""}
.hide-text{border:0;background-color:transparent;color:transparent;text-shadow:none;font:0/0 a}
*, *::before, *::after{-webkit-box-sizing:0;box-sizing:0;}
h1,h2,h3,h4,h5{font-weight:normal;font-size:100%}
.header:after{clear:both;display:block;visibility:hidden;height:0;content:" ";font-size:0}
.left{float:left}
.right{float:right}
.nav{position:fixed;top:0px;left:0;z-index:1000;margin-bottom:0;width:100%;height:48px;line-height: 48px;background:#424860;}
.nav .nav-content{position:relative;margin:0 auto;width:1150px; height:48px; }
.nav h1{width:200px;height:48px;background:url("/static/home/pc/estt/images/logo.png") no-repeat 0 0;text-indent:-9999em;_filter:progid:dximagetransform.microsoft.AlphaImageLoader(enabled=true,src='/static/home/pc/estt/images/logo.png');_background:0;_position:absolute;_top:10px;_left:0;_margin-top:0}
.nav h1 a{ display:block;width:200px;height:48px;}
.nav .line-li{width:750px;}
.nav .line-li li{line-height: 48px; height: 48px;float:left;margin-left:-1px;*margin-left:-4px; background: url("/static/home/pc/estt/images/top_border.png") no-repeat right center ;}
.nav .line-li li:nth-last-child(1){background: none;}
.nav .line-li li{svertical-align:top; font-size:14px;}
.nav .line-li li a,.nav .line-li li .sub-nav a{display:inline-block;color:#e0e1e2;text-align:center;text-decoration:none;text-shadow:none;font-size:15px; padding:9px 30px; margin:0 1px;}
.nav .line-li li.current{
background: #2896cd;background-size:100% 48px;
}
.nav .line-li li.current a{
    color:#FFF;
}

/*-------------------------- public_footer ---------------------------------*/
.footer_up{ width: 100%; height: 200px; background-color: #f8f8f8; border-top: 1px solid #dedede; overflow: hidden;}
.footer_up_wrapper{ width: 1000px; height: 200px;}

.footer_up_wrapper .footer_up_1{ float: left; width: 260px; height: 200px;border-right: 1px solid #dedede;}
.footer_up_wrapper .footer_up_1 .img{ text-align: right; margin-top: 20px; margin-right: 30px;  }
.footer_up_wrapper .footer_up_1 p{ text-align: right;  font-family: Arial, Verdana; font-size: 27px;  margin-right: 20px;  color: #b4b4b4; margin-top: 32px;}
.footer_up_wrapper .footer_up_2{ padding: 20px 0 20px 30px; float: left; width: 242px; height: 200px; border-right: 1px solid #dedede;}

.footer_up_wrapper .footer_up_2 .tit{ font-family: "微软雅黑"; font-size: 15px; color: #525252; }
.footer_up_wrapper .footer_up_2 .con table{  overflow: hidden; margin-top: 14px;}
.footer_up_wrapper .footer_up_2 .con table tr td{width: 100px; line-height: 40px;}
.footer_up_wrapper .footer_up_2 .con table tr td img {width: 80px;height:40px;}
.footer_up_wrapper .footer_up_2 .con table tr td a{text-align: left; color: #868686; }
.footer_up_wrapper .footer_up_4{ float: left; width: 280px; height: 200px;}
.footer_up_wrapper .footer_up_4 .icon {margin: 50px 0 0 22px}
.footer_up_wrapper .footer_up_4 .icon ul li{ float: left;  width: 33px; height: 33px; overflow: hidden; cursor: pointer;}
.footer_up_wrapper .footer_up_4 .icon ul .log1{background: url("/static/home/pc/estt/images/index_bot_icon1.png") no-repeat; width: 33px; height: 33px;}
.footer_up_wrapper .footer_up_4 .icon ul .log2{background: url("/static/home/pc/estt/images/index_bot_icon2.png") no-repeat; width: 33px; height: 33px;}
.footer_up_wrapper .footer_up_4 .icon ul .log3{background: url("/static/home/pc/estt/images/index_bot_icon3.png") no-repeat; width: 33px; height: 33px;}
.footer_up_wrapper .footer_up_4 .search { margin-top: 20px; margin-left: 22px;}
.footer_up_wrapper .footer_up_4 .search input{ width: 237px; height: 30px; background: url("/static/home/pc/estt/images/index_bot_search.png") no-repeat; border: none; padding-left: 5px; }
.footer_up_wrapper .footer_up_5{ float: right; margin-top: 30px;  }

.footer_bottom{ width: 100%; height: 160px; background-color: #30323a;}
.footer_bottom a{ color: #fff; line-height: 30px; }
.footer_bottom_wrapper{ width: 1000px; height: 160px;}
.footer_bottom_wrapper .footer_bottom_1{ height: 160px; padding-top: 24px; float: left; width: 155px; line-height: 50px;padding-left: 30px; background: url("/static/home/pc/estt/images/footer_line.png") no-repeat right center;}
.footer_bottom_wrapper .footer_bottom_1 dl dt,.footer_bottom_wrapper .footer_bottom_2 dl dt,.footer_bottom_wrapper .footer_bottom_3 dl dt,.footer_bottom_wrapper .footer_bottom_4 dl dt{ margin-bottom: 10px; font-size: 19px; font-family: "微软雅黑"; color: #fff;}
.footer_bottom_wrapper .footer_bottom_1 dl dd,.footer_bottom_wrapper .footer_bottom_2 dl dd,.footer_bottom_wrapper .footer_bottom_3 dl dd{ font-size: 13px; font-family: "微软雅黑"; color: #fff; background: url("/static/home/pc/estt/images/index_bot_arrow.png") no-repeat left center; padding-left: 15px;}
.footer_bottom_wrapper .footer_bottom_2{ height: 160px; padding-top: 24px; float: left; padding-left:40px;width: 290px;line-height: 40px; background: url("/static/home/pc/estt/images/footer_line.png") no-repeat right center;}
.footer_bottom_wrapper .footer_bottom_3{ height: 160px; padding-top: 24px; float: left; padding-left:40px; width: 290px; line-height: 40px; background: url("/static/home/pc/estt/images/footer_line.png") no-repeat right center;}

.footer_bottom_wrapper .footer_bottom_3 .icon1{ background: url("/static/home/pc/estt/images/index_bot_update.png") no-repeat left center; padding-left: 22px;}
.footer_bottom_wrapper .footer_bottom_3 .icon2{ background: url("/static/home/pc/estt/images/index_bot_tel.png") no-repeat left center; padding-left: 22px;}
.footer_bottom_wrapper .footer_bottom_3 .icon3{ background: url("/static/home/pc/estt/images/index_bot_info.png") no-repeat left center; padding-left: 22px;}
.footer_bottom_wrapper .footer_bottom_4{ height: 160px; padding-top: 24px; float: left; width: 240px; padding-left:45px;  line-height: 30px; }
.footer_bottom_wrapper .footer_bottom_4 dl dd a{margin-right: 10px; padding-right: 10px;}
.footer_bottom_wrapper .footer_bottom_4 dl dd a.g{margin-right: 10px; background: url("/static/home/pc/estt/images/footer_g.png") no-repeat right center;}

/*-----------------------------------        登录注册        --------------------------*/
.login_box{width:60px;height:130px;position:fixed;right:0;top:500px;}
.login_box img{width:60px;height:60px;}
.copyright{ width: 100%; height: 45px; background-color: #24252b; }
.copyright .copyright_w{   width: 1000px; padding-left:22px; padding-top: 15px; font-family: "微软雅黑"; font-size: 13px; color: #fff;}
.copyright .copyright_w a{color: #fff;}
/*-------------------------------------   案例滚动 -------------------------------------*/
#case{height:120px; overflow: hidden; }
#case .caseCon{width:1000px; margin:20px auto;}
#case .text { width:280px; display: block; float: left; height:80px; font-size: 30px; text-align: right;line-height: 80px; color:#9b9b9b;}
#case .caseScroll{width:640px; float: left;position: relative;}
#case .caseScroll .btn_left{width:50px; height:50px; background: url("/static/home/pc/estt/images/lt.png") no-repeat ;  position: absolute; top:10px; left:4px; cursor: pointer;}
#case .caseScroll .btn_right{ width:50px; height:50px; background: url("/static/home/pc/estt/images/gt.png") no-repeat;;  position: absolute; top:10px; right:6px; cursor: pointer;}
#case .caseScroll .box{width:546px;   height: 80px; overflow: hidden; position: relative;}
#case .caseScroll .box li{width:135px; margin:0 5px; height:80px; position: absolute; left:0; top:0; overflow: hidden; margin-right:0px; }
#case .caseScroll .box li img{ width:128px; height:50px; margin:15px 6px;}



