@charset "utf-8";
body{font:12px/180% Arial, Helvetica, sans-serif, "微软雅黑";}
div{box-sizing:border-box;}
.case_banner{ padding-bottom: 100px;  overflow: hidden; background:url("/static/home/pc/estt/images/functBg.png") ;}
.func_combo{width:1000px;height:auto;margin:150px auto; overflow:hidden;color:#424860;}
.combo_title{height:50px;line-height: 50px;padding:0 15px;}
.combo_title img,span{vertical-align: middle;}
.combo_title span{font-weight: bold;font-size:25px;color:#FFF;}
.combo_tablBox{width:1000px;padding:10px;background:rgba(255,255,255,0.3) !important;background:#FFF;filter:alpha(opacity=30);border-radius: 5px;}
.combo_tabl{width:100%;background:#fff;border-collapse: collapse;border:2px solid #8d99aa;position: relative;;}
.combo_tabl tr{line-height: 40px; }
.combo_tabl tr th{background:rgba(66,72,96,0.69) !important;background:#485168;filter:alpha(opacity=69);color:#FFF;font-size: 14px; padding: 10px 5px;}
.combo_tabl tr td{text-align: center;border:1px solid #424860;font-size: 13px; padding: 8px 2px;}
.tabl_td2{width:200px;}
.icon-ok {color: green;}
.icon-remove {color: red;}






