@charset "utf-8";

.contact_us_banner{  background: url("/static/home/pc/estt/images/contact_us_banner.gif") no-repeat top center;}
.contact_us_content{ width: 1000px; padding-top: 120px;}
.contact_main{ width:1000px; padding-bottom: 15px; margin-top: 30px;}
.contact_left{ float: left; width: 590px;}
.contact_left_tit .big{ font-family: "微软雅黑"; font-size: 23px; color: #fff;}
.contact_left_tit .small{ font-family: "微软雅黑"; font-size: 10px; color: #fff; margin-top: 17px;}
.contact_left_form form { margin-top: 45px;}
.contact_left_form form .name{  color: #fff;  }
.contact_left_form form .name input{ width: 387px; height: 29px; margin-left: 10px; background: url("/static/home/pc/estt/images/contact_us_input.png") no-repeat; padding-left: 10px; color: #fff; }
.contact_left_form form .email{  color: #fff;  margin-top: 16px;}
.contact_left_form form .email input{ width: 387px; height: 29px; margin-left: 10px; background: url("/static/home/pc/estt/images/contact_us_input.png") no-repeat; padding-left: 10px; color: #fff; }
.contact_left_form form .tel{  color: #fff;  margin-top: 16px;}
.contact_left_form form .tel input{ width: 387px; height: 29px; margin-left: 10px; background: url("/static/home/pc/estt/images/contact_us_input.png") no-repeat; padding-left: 10px; color: #fff; }
.contact_left_form form .suggestion{  color: #fff;  margin-top: 16px;}
.contact_left_form form .suggestion textarea{ vertical-align: middle; width: 377px; height: 142px; margin-left: 10px; background: url("/static/home/pc/estt/images/contact_us_textarea.png") no-repeat; padding-left: 10px; color: #fff; }
.contact_left_form form .tijiao { margin-left: 128px; margin-top: 28px;}
.contact_left_form form .tijiao input{ width: 188px; height: 49px; background: url("/static/home/pc/estt/images/contact_us_submit.png") no-repeat; font-family: "微软雅黑"; font-size: 23px; color: #8b8b8b; cursor: pointer;}
.contact_left_icon{ margin-top: 55px;}
.contact_left_icon .tit{  font-family: "微软雅黑"; font-size: 22px; color: #fff;}
.contact_left_icon .con  ul{ margin-right: -120px;}
.contact_left_icon .con {  width: 645px; overflow: hidden;}
.contact_left_icon .con ul li{margin-top: 15px; float: left; font-family: "微软雅黑"; font-size: 14px; color: #fff;  height: 43px; line-height: 43px; padding-left: 50px; width: 142px;}
.contact_left_icon .con ul .tel{ background: url("/static/home/pc/estt/images/contact_us_tel.png") no-repeat;}
.contact_left_icon .con ul .qq{ background: url("/static/home/pc/estt/images/contact_us_qq.png") no-repeat;}
.contact_left_icon .con ul .pen{ background: url("/static/home/pc/estt/images/contact_us_pen.png") no-repeat;}
.contact_left_icon .con ul .phone{ background: url("/static/home/pc/estt/images/contact_us_mobile.png") no-repeat;}
.contact_left_address{ margin-top: 22px; font-family: "微软雅黑"; font-size: 14px; color: #fff;}

.contact_right{ float: left; width: 410px;}
.contact_right_p .tit { font-family: "微软雅黑"; font-size: 19px; line-height: 25px; color: #fff;}
.contact_right_p .con { font-family: "微软雅黑"; font-size: 14px; color: #fff; margin-top: 40px; line-height: 30px;}
.contact_right_pic{ margin-top: 30px;}







