
.float0831 {
    position: fixed; top: 150px; right: 1px; _position: absolute;
    z-index: 1000;
}
.float0831 a {
    color: #00a0e9
}
.float0831 a:hover {
    color: #ff8100; text-decoration: none
}
.float0831 .floatL {
    position: relative; width: 28px; float: left
}
.float0831 .floatL a {
    text-indent: -9999px; display: block; font-size: 0px
}
.float0831 .floatR {
    background: url(/static/home/pc/estt/images/float_bg.png)
}
.float0831 .tp {
    background: url(/static/home/pc/estt/images/float_bg.png)
}
.float0831 .cn {
    background: url(/static/home/pc/estt/images/float_bg.png)
}
.float0831 .floatR {
    padding-bottom: 15px; width: 130px; background-repeat: no-repeat; background-position: -131px bottom; float: left; overflow: hidden
}
.float0831 .tp {
    background-repeat: no-repeat; background-position: 0% 0%; height: 10px
}
.float0831 .cn {
    background-repeat: repeat-y; background-position: -262px 0px
}
.float0831 .cn h3 {
    text-indent: -9999px; height: 36px; font-size: 0px
}
.float0831 .cn ul {
    padding-bottom: 0px; padding-left: 5px; padding-right: 8px; padding-top: 0px
}
.float0831 .cn ul li {
    border-bottom: #e6e5e4 1px solid; line-height: 36px; word-wrap: break-word; height: 36px; overflow: hidden; word-break: normal;
    vertical-align: middle;
}
.float0831 .titZx {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .titDh {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .titDc {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .icoZx {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .icoTc {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .icoFf {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .icoTl {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .btnOpen {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .btnOpen_n {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .btnCtn {
    background: url(/static/home/pc/estt/images/float_s.png) no-repeat
}
.float0831 .titZx {
    background-position: 5px -10px
}
.float0831 .titDh {
    background-position: 5px -66px
}
.float0831 .titDc {
    background-position: 5px -124px
}
.float0831 .icoZx {
    background-position: 2px -160px
}
.float0831 .icoTc {
    background-position: 0px -330px
}
.float0831 .icoFf {
    background-position: 2px -213px
}
.float0831 .icoTl {
    padding-left: 20px; display: block; font-family: "微软雅黑"; background-position: 2px -272px; FLOaT: left;
    height: 22px;
    line-height: 22px;
    margin-top:6px;
}
.float0831 .btnOpen {
    background-position: -30px -396px
}
.float0831 .btnOpen_n {
    background-position: 0px -530px
}
.float0831 .btnCtn {
    background-position: 0px -396px
}
.float0831 .icoZx {
    padding-left: 28px; display: block; float: left;
    height: 18px;
    line-height: 18px;
    margin-top:8px;

}
.float0831 .icoTc {
    padding-left: 28px; display: block; float: left;
    height: 18px;
    line-height: 18px;
    margin-top:8px;

}
.float0831 .icoFf {
    padding-left: 28px; display: block; float: left;
    height: 18px;
    line-height: 18px;
    margin-top:8px;
}
.float0831 .btnOpen {
    position: relative; width: 28px; height: 118px; top: 80px; left: 2px
}
.float0831 .btnOpen_n {
    position: relative; width: 28px; height: 118px; top: 80px; left: 2px
}
.float0831 .btnCtn {
    position: relative; width: 28px; height: 118px; top: 80px; left: 2px
}
.float0831 .btnOpen {
    top: 118px; left: 1px
}
.float0831 .btnOpen_n {
    top: 118px; left: 1px
}
.float0831 .btnCtn {
    top: 118px; left: 2px
}
.float0831 ul li h3.titDc a {
    width: 80px; display: block; height: 36px
}
.float0831 ul li.top {
    border-bottom: #ace5f9 1px solid
}
.float0831 ul li.bot {
    border-bottom-style: none
}
.float0831 ul.webZx {
    padding-bottom: 0px; padding-left: 0px; width: 164px; padding-right: 0px; background: url(/static/home/pc/estt/images/webZx_bg.jpg) no-repeat; height: 65px; padding-top: 0px
}
.float0831 ul li.webZx-in {
    border-bottom-style: none; padding-left: 5px; height: 50px; padding-top: 8px
}
