@charset "utf-8";

.help_center_banner{  background: url("/static/home/pc/estt/images/help_center_banner.jpg") no-repeat top center;margin-top: 29px;}
.help_center_content{ width: 1000px; padding-top:100px;}
.help_center_logo{width:1000px;height:80px;}
.help_center_logo img{width:80px;height:80px;float:left;padding-left:20px;}
.help_center_logo p{font-family:"微软雅黑";font-size: 28px;float: left;line-height:80px;color:#FFF;padding-left: 20px;}

.help_center_main{ width:1000px; background: url("/static/home/pc/estt/images/help_center_con_bg.png") no-repeat top center; }
.help_center_left{ float: left; width: 770px; padding-left: 30px; padding-right: 20px;margin-top: 50px; padding-bottom: 150px;}
.help_center_left img{display:block; max-width:700px; height:auto !important; margin:0 auto; padding:5px 0;}
.help_process{ background: url("/static/home/pc/estt/images/help_center_process.png") no-repeat left center; height: 35px; line-height: 35px; padding-left: 150px; font-family: Arial, Verdana; color: #b6b6b6;}
.help_steps{ margin-top: 35px;}
.help_p{margin-top: 30px; font-family:"微软雅黑"; font-size: 14px; color: #6a6a6a; line-height: 25px;}
.help_pic{margin-top: 20px;}

.help_center_right{ float: left; width: 220px;border-left: 1px solid #dadada;padding-left: 2px; margin-left: 2px; margin-top: 50px; }

.help_center_right .jichujinashe{background:#424860; position: relative; height:40px;margin-bottom:3px;}

.help_center_right  .jichujinashe span { position: absolute;left: 0px ; top: 0px;line-height:40px; height: 40px;  font-family: "微软雅黑"; font-size:15px;vertical-align: middle;  font-weight:bolder;color: #fff; padding-left: 20px;}

.help_center_right_p{ padding-left: 25px; padding-bottom: 25px;}
.help_center_right .help_center_right_p{display: none;}
.help_center_right .current_cat{display: block;}
.help_center_right_p p{ line-height: 35px;width:190px; white-space:nowrap;overflow: hidden;text-overflow:ellipsis; }
.help_center_right_p .current_a a{color:red;}
.help_center_right_p p a{line-height: 35px; font-family: "微软雅黑"; font-size: 14px; color: #6F6F6F;}


/*lightbox  帮助中心*/
#baguetteBox-overlay {display: none; opacity: 0;position: fixed;overflow: hidden;top: 0;left: 0;width: 100%;
height: 100%;z-index: 1000000;background-color: #222;background-color: rgba(0, 0, 0, 0.8);-webkit-transition: opacity 0.5s ease;transition: opacity 0.5s ease;}

#baguetteBox-overlay.visible {opacity: 1;}

#baguetteBox-overlay .full-image {display: inline-block;position: relative;width: 100%;height: 100%;text-align: center;}

#baguetteBox-overlay .full-image figure {display: inline; margin: 0;height: 100%;}

#baguetteBox-overlay .full-image img {display: inline-block;width: auto;height: auto;max-height: 100%;max-width: 100%;
vertical-align: middle;-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);}

#baguetteBox-overlay .full-image figcaption {display: block;position: absolute;bottom: 0;width: 100%;text-align: center;line-height: 1.8;
color: #ccc;background-color: #000; background-color: rgba(0, 0, 0, 0.6);font-family: sans-serif;}

#baguetteBox-overlay .full-image:before {content: "";display: inline-block;height: 50%; width: 1px;margin-right: -1px;}

#baguetteBox-slider { position: absolute; left: 0;top: 0; height: 100%;width: 100%; white-space: nowrap; -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
transition: left 0.4s ease, -moz-transform 0.4s ease; transition: left 0.4s ease, transform 0.4s ease;}

#baguetteBox-slider.bounce-from-right { -webkit-animation: bounceFromRight 0.4s ease-out;animation: bounceFromRight 0.4s ease-out;}

#baguetteBox-slider.bounce-from-left { -webkit-animation: bounceFromLeft 0.4s ease-out;animation: bounceFromLeft 0.4s ease-out;}

.baguetteBox-button#next-button,
.baguetteBox-button#previous-button { top: 50%;top: calc(50% - 30px); width: 44px; height: 60px;}

.baguetteBox-button {position: absolute; cursor: pointer; outline: none; padding: 0; margin: 0; border: 0; -moz-border-radius: 15%;
border-radius: 15%;background-color: #323232;background-color: rgba(50, 50, 50, 0.5); color: #ddd;font: 1.6em sans-serif;    -webkit-transition: background-color 0.4s ease; transition: background-color 0.4s ease;}

.baguetteBox-button:hover { background-color: rgba(50, 50, 50, 0.9);}

.baguetteBox-button#next-button {right: 2%;}

.baguetteBox-button#previous-button {left: 2%;}

.baguetteBox-button#close-button {top: 20px; right: 2%; right: calc(2% + 6px);width: 30px;height: 30px;}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/

.spinner { width: 40px;height: 40px;display: inline-block;position: absolute; top: 50%;left: 50%;margin-top: -20px;margin-left: -20px;}

.double-bounce1,
.double-bounce2 {width: 100%;height: 100%; -moz-border-radius: 50%; border-radius: 50%;background-color: #fff;opacity: 0.6;
 position: absolute; top: 0; left: 0; -webkit-animation: bounce 2s infinite ease-in-out;animation: bounce 2s infinite ease-in-out;}

.double-bounce2 { -webkit-animation-delay: -1s; animation-delay: -1s;}

@-webkit-keyframes bounceFromRight {

    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0;
    }

}

@keyframes bounceFromRight {

    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0;
    }

}

@-webkit-keyframes bounceFromLeft {

    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }

}

@keyframes bounceFromLeft {

    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0;
    }

}

@-webkit-keyframes bounce {

    0%,100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}

@keyframes bounce {

    0%,100% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }

}
/*lightbox  帮助中心*/