@charset "utf-8";

/*-------------------------- banner ---------------------------------*/

/*bannar*/
.wrapper { width: 986px; margin: 0 auto; position: relative; }
#banner { width: 100%; height: 520px; background: #000; overflow: hidden; position: relative; }
#banner_img { display: block; position: relative; }
#banner_img li { position: absolute; top: 0; left: 0; width: 100%; height: 520px; background-position: center; background-size: cover; display: none; }
#banner_img li a{ width:100%; height:100%; display: block;}
#banner_img li.item1 { background-image: url(/static/home/pc/estt/images/banner0.jpg); display: block; }
#banner_img li.item2 { background-image: url(/static/home/pc/estt/images/banner1.jpg); }
#banner_img li.item3 { background-image: url(/static/home/pc/estt/images/banner2.jpg); }
#banner_img li.item4 { background-image: url(/static/home/pc/estt/images/banner3.jpg); }
#banner_img li.item5 { background-image: url(/static/home/pc/estt/images/banner4.jpg); }
#banner_img .ad_img { position: absolute; right: 10px; top: 50px; width: 506px; height: 350px; }
#banner_img .ad_txt { position: absolute; left: 10px; top: 50px; color: #fff; text-shadow: 1px 1px rgba(51,51,51,0.3); }
#banner_img .ad_txt h2 { font: bold 36px/60px Microsoft YaHei; }
#banner_img .ad_txt a { display: block; width: 100px; height: 25px; line-height: 25px; text-align: center; margin-top: 10px; background: #fff; color: #666; text-decoration: none; text-shadow: none; }
#banner_img .ad_txt p{ line-height:24px;}
#banner_ctr { position: absolute; width: 790px; height: 84px; margin-left: -407px; left: 50%; bottom: 10px; z-index: 1;  }
#banner_ctr ul { width: 790px; height: 84px; font-size: 0; line-height: 0; position: relative; }
#banner_ctr li { display: block; float: left; width: 138px; height: 84px; cursor: pointer; }
#banner_ctr li img {width:124px; height:76px; margin: 4px 7px;}
#banner_ctr li.first-item { cursor: pointer;background: url("/static/home/pc/estt/images/h_lt.png") no-repeat  0px 10px; width:50px; }
#banner_ctr li.last-item { cursor: pointer;background: url("/static/home/pc/estt/images/h_gt.png") no-repeat  8px 11px ; width: 50px;  }
#drag_ctr {  position: absolute; top: 0px; left: 50px; width: 134px; margin-left: 2px; height: 84px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; bottom: 170px; background: #ff3600; }
#drag_arrow { position: absolute; top: 0px; left: 50px; width: 134px;  margin-left: 2px; height: 84px;  }

/* -----------------------------------   效果图    -------------------------------------*/
.nm_wap { width:100%;}
/* -----------------------------------   酷炫微网站    -------------------------------------*/
.nm_text_product{margin:0 auto; height:39px; margin-bottom: 15px; width:1000px; background: url("/static/home/pc/estt/images/beijin_1.png") no-repeat;  font-size: 16px;}
.text1{margin:0 auto; height:39px; margin-bottom: 15px; width:1000px; background: url("/static/home/pc/estt/images/beijing2.png") no-repeat;  font-size: 16px;}
.nm_text_product .h1{ display: block; width:100px;padding-left: 48px; height:39px; line-height:39px; flot:left; background: url("/static/home/pc/estt/images/tb1.png") no-repeat 10px 5px;color: #ffffff;font-family: "微软雅黑"; font-weight:inherit;}
.nm_text_product .h7{ display: block; width:100px;padding-left: 48px; height:39px; line-height:39px; flot:left; background: url("/static/home/pc/estt/images/tb2.png") no-repeat 10px 5px;color: #ffffff;font-family: "微软雅黑"; font-weight:inherit;}
.nm_text_product .h3{ display: block; width:130px;padding-left: 48px; height:39px; line-height:39px; flot:left; background: url("/static/home/pc/estt/images/tb3.png") no-repeat 11px 7px;color: #ffffff;font-family: "微软雅黑"; font-weight:inherit;}
.nm_text_product .h4{ display: block; width:130px;padding-left: 48px; height:39px; line-height:39px; flot:left; background: url("/static/home/pc/estt/images/tb4.png") no-repeat 13px 18px;color: #ffffff;font-family: "微软雅黑"; font-weight:inherit;}
.nm_text_product .h5{ display: block; width:130px;padding-left: 48px; height:39px; line-height:39px; flot:left; background: url("/static/home/pc/estt/images/tb5.png") no-repeat 10px 6px;color: #ffffff;font-family: "微软雅黑"; font-weight:inherit;}
.nm_text_product .h6{ display: block; width:100px;padding-left: 48px; height:39px; line-height:39px; flot:left; background: url("/static/home/pc/estt/images/tb6.png") no-repeat 10px 9px;color: #ffffff;font-family: "微软雅黑"; font-weight:inherit;}
.nm_text_product .h2 {float:right; line-height:39px; display: block; height:39px; }
/*产品标题*/
/*产品小图标*/
.servicesBox { width:1000px; height:270px; margin:0 auto; clear:both; line-height:18px; color:#999999; font-size:12px;}
.servicesBox .serBox { cursor:pointer; border:1px solid #fff; display:inline; width:200px; height:250px; float:left; overflow:hidden; background-color:#f7f7f7; position:relative;}
.servicesBox .serBoxOn { font-family:"微软雅黑"; display:none; width:320px; height:270px; background:#2896cd; position:absolute; left:0px; top:0px; z-index:19;}
.servicesBox .serBox .pic1 { width:110px; height:110px; text-align:center; position:absolute; top:22px; right:41px; z-index:99;}
.servicesBox .serBox .pic2 { width:110px; height:110px; text-align:center; position:absolute; top:22px; left:-110px; z-index:99;}
.servicesBox .serBox .txt1 { width:198px; height:100px; color:#999999; position:absolute; top:135px; left:0px; z-index:99;}
.servicesBox .serBox .txt2 { width:198px; height:100px; color:#a9cf4f; position:absolute; top:135px; right:-240px; z-index:99;}
.servicesBox .serBox .txt2 a {color:#a9cf4f;}
.servicesBox .serBox span.tit { font-size:16px; display:block; text-align:center;}
.servicesBox .serBox .txt1 .tit { color:#333; line-height:30px;font-size: 14px;}
.servicesBox .serBox .txt2 .tit { color:#fff; line-height:30px; font-family:"微软雅黑";}
.servicesBox .serBox p{ padding:0 10px; text-align:left;color:#FFF;}
/*产品小图标*/


/* -----------------------------------   更多功能开发中    -------------------------------------*/
.maintab{width:1000px;height:auto;}
#more_func_develop{width:1000px;margin:0 auto;overflow: hidden; margin-top:40px;}
#more_func_develop .tab_menu{width:1008px;margin:0px auto;margin-left: -4px;}
#more_func_develop .tab_menu li{width:128px;height:130px;margin:0 8px;display:block;float:left;background:url(/static/home/pc/estt/images/index_more_circleBg.png) no-repeat;cursor:pointer;text-align:center;}
#more_func_develop .tab_menu li img{padding:29px;}
#more_func_develop .tab_box{width:1000px;height:auto;clear:both;}
.hide{display:none;}
.tab_box div{height:410px;color:#2896cd;margin-top: 20px;}
.tab_box_lf{padding:10px;float:left;width: 400px;}
.tab_box_rt{float:left;width: 600px;}
.tab_box_lf h3{font-weight:normal;font-size: 18px;line-height:35px;}
.tab_box_lf p{font-size: 15px;line-height: 22px;padding:10px;}
.tab_box_lf span{font-weight:bold;display:block;font-size: 22px;padding:10px 10px 0 10px;}
.tab_box_lf ul{padding:10px;}
.tab_box_lf ul li{font-size: 15px;list-style: decimal inside;line-height: 22px; }
.tab_box_lf img{max-width: 400px;}
.tab_box_rt img{max-width: 600px;margin-top: 30px;margin:0 auto;}
/*-----------------------------------        成功案列        --------------------------*/
a:hover{text-decoration:none;}
.s_wrapper .maincontent{width: 1000px;margin:0 auto;}
.s_wrapper img{vertical-align: bottom;}
.s_wrapper .carousel{height: 650px;}
#box{position:relative;height:500px;left:0;top:50px;}
#box ul{position:absolute;left:80px;width:839px;height:500px;}
#box li{position:absolute;list-style:none;background:#000;width:0;height:0;top:146px;left:377px;z-index:0;cursor:pointer;overflow:hidden;border-radius:3px;}
#box li img{width:100%;height:100%;vertical-align:top;}
#box li a img{border: none;}
#box .prev ,#box .next{position:absolute;top:210px;z-index:1000;width:37px;height:63px;overflow:hidden;text-indent:-999px;cursor:pointer;}
#box .prev{left:35px;background:url(/static/home/pc/estt/images/h_lt.png) no-repeat;}
#box .next{left:930px;background-position:-32px 0;background:url(/static/home/pc/estt/images/h_gt.png) no-repeat;}
.mask{background: url(/static/home/pc/estt/images/pan.png);width:510px;height:612px;position:absolute;top:-20px;left: 50%;margin-left: -255px; z-index:1000;}






