@charset "utf-8";

.join_us_banner{  background: url("/static/home/pc/estt/images/help_banner.jpg") no-repeat top center;}
.join_us_content{ width: 1000px; padding-top: 120px;}
.join_us_tit {}
.join_us_tit .join_us_tit_big{ font-family: "微软雅黑"; font-size: 51px; color: #fff; text-align: center; height: 67px; line-height: 67px;}
.join_us_tit .join_us_tit_small{ font-family: "微软雅黑"; font-size: 23px; color: #fff; text-align: center; height: 40px; line-height: 40px;}
.join_main{ width:1000px;  padding-left: 30px; padding-right: 20px;  margin-top: 65px; padding-bottom: 150px; }
.join_main .join_tit{ font-family: "微软雅黑"; font-size: 20px; color: #4f4f4f; margin-top: 40px; margin-bottom: 40px;}
.join_main .join_p{ font-family: "微软雅黑"; font-size: 14px; color: #797979; line-height: 25px;}






