@charset "utf-8";

.list_banner{}
.list_banner_pic{margin-top:48px; background:#000 url("/static/home/pc/estt/images/banner4.jpg") no-repeat top center; height: 520px;}
.list_jcyx{ width: 100%;}
.list_jcyx_w{ width: 1000px; height: 108px;}
.list_jcyx .tit{  width: 590px; height: 40px; line-height: 40px; background-color: #83c614; float: left; margin-top: 34px; margin-left: 160px; padding: 0 17px; color: #fff; font-family: Arial, Verdana; font-size: 16px;}
.list_line{ width: 100%; height:16px; background: url("/static/home/pc/estt/images/list_line.png") repeat-x center; }

/*   */
#product{width:1000px; margin: 0 auto;overflow: hidden; }
#product_top{overflow: hidden; padding:20px 0;}
#product_top .top_text{width:399px; height:45px; background: #dbdbdb; border-radius:30px; overflow: hidden;}
#product_top .top_text ul  li{width:133px;line-height: 45px;  color:#5a5a5a;text-align: center; float: left;cursor:pointer; background: url("/static/home/pc/estt/images/p_t1.png")  no-repeat right; }
#product_top .top_text .serve_tab{
    width:133px;height:45px;color:#5a5a5a;
}
#product_top .top_text .serve_tab.fst{
    border-radius:30px 0 0 30px;
}
#product_top .top_text .serve_tab.end{
    border-radius: 0 30px 30px 0;
}
#product_top .top_text .serve_tab.active{
    background: #424860;
    color: #FFF;
}
#product_left{width:44px;overflow: hidden;height:auto;}
#product_left ul li{width:38px; cursor:pointer;text-align: center; height:88px;line-height:15px; font-size: 13px; color:#6f6f6f;margin-bottom: 3px; background: #e2e2e2; }
#product_left ul li.active{background:#424860;color:#FFF;}

#product_right{width:955px;overflow: hidden; height:auto;}
#product_right div .nm_text_product{margin:0 auto; height:35px; background:#ededed;  margin-bottom: 10px; line-height:35px; width:954px;text-align: center;   font-size: 16px;color:#555555;font-family: "微软雅黑"; font-weight:inherit;}

/*产品标题*/
/*产品小图标*/
.servicesBox { width:963px ;max-width:963px; overflow: hidden; height:auto; margin:10px auto;  clear:both; line-height:18px; color:#999999; font-size:12px;}
.servicesBox .serBox { cursor:pointer; border:0 solid #fff; display:inline; width:184px;margin-right:8px;  height:250px; float:left; overflow:hidden; background-color:#f7f7f7; position:relative;}
.servicesBox .serBoxOn { font-family:"微软雅黑"; display:none; width:184px; height:250px; background:#2896cd; position:absolute; left:0px; top:0px; z-index:19;}
.servicesBox .serBox .pic1 { width:109px; height:110px; text-align:center; position:absolute; top:22px; right:35px; z-index:99;}
.servicesBox .serBox .pic2 { width:109px; height:110px; text-align:center; position:absolute; top:22px; left:-110px; z-index:99;}
.servicesBox .serBox .txt1 { width:188px; height:100px; color:#999999; position:absolute; top:145px; left:0px; z-index:99;}
.servicesBox .serBox .txt2 { width:188px; height:100px; color:#a9cf4f; position:absolute; top:145px; right:-240px; z-index:99;}
.servicesBox .serBox .txt2 a {color:#a9cf4f;}
.servicesBox .serBox span.tit { font-size:16px; display:block; text-align:center;}
.servicesBox .serBox .txt1 .tit { color:#333; line-height:30px;font-size:14px;}
.servicesBox .serBox .txt2 .tit { color:#fff; line-height:30px; font-family:"微软雅黑";}
.servicesBox .serBox p{ padding:0 10px; text-align:left;color:#FFF;}
/*产品小图标*/
.servicesBox  .ing{background:#f7f7f7 url("/static/home/pc/estt/images/new_h.png")no-repeat  right top; }
.servicesBox  .ok{background:#f7f7f7 ; }
.servicesBox  .new{background:#f7f7f7 url("/static/home/pc/estt/images/new_r.png")  no-repeat  right top; }

