@charset "utf-8";

.help_banner{  background: url("/static/home/pc/estt/images/help_banner.jpg") no-repeat top center;}
.help_content{ width: 1055px; padding-top: 120px;}
.help_main{ width:1055px;  }
.help_left{ padding-left: 33px; padding-right: 20px;  margin-top: 50px; padding-bottom: 150px;}
.help_process{ background: url("/static/home/pc/estt/images/help_center_process.png") no-repeat left center; height: 35px; line-height: 35px; padding-left: 150px; font-family: Arial, Verdana; color: #b6b6b6;}
.help_steps{ margin-top: 35px;}
.help_p{margin-top: 30px; font-family:"微软雅黑"; font-size: 14px; color: #6a6a6a; line-height: 25px;}
.help_pic{margin-top: 20px;}

