<style>
    .foot{
        position: fixed;
        z-index: 2;
        display: block;
       width: 100%;
        bottom:0;
    }
    .foot .copyInfo{line-height:25px;}
</style>
<?php
use Models\Shop\Shop;
use Multiple\Wap\Helper\SiteData;

$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$site = SiteData::init()->getSite('customer_id=' . CUR_APP_ID);
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
$store = $store ? $store->toArray() : [];

?>
<div id="cate14">
    <div class="mainbg"><!--mainbg-->
        <img src="<?php echo $site['site_bg']; ?>">
    </div>
    <div class="mainmenu">
        <ul>
            <div id="insert1"></div>
            <?php foreach ($navs as $item) { ?>
                <li>
                    <div class="menubtn">
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>"> <?php echo $item['name'] ?></a>
                    </div>
                </li>
            <?php } ?>
            <div id="insert2"></div>
            <div class="clr"></div>
        </ul>
    </div>

    <!--mainbg-->

</div>
