
.micro-func .box-btn {
    margin: 5px;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 12pt;
    text-align: center;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    color: #fff;
    background: #EA5946;
    background: -webkit-gradient(linear, left top, left bottom, from(#EA2818), to(#DA1710));
    background: -moz-linear-gradient(top, #fff, #ededed);
}
#high-link a {
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: 36px;
    display: block;
    color: #EA2818;
    background: #f0f0f0;
}

#high-link a:first-child {
    margin-left: -1px;
    border-right: 1px solid #E0E0E0;
}

.part {
    margin: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.part .nav {

    position: relative;
    border-bottom: 1px solid #E0E0E0;
    height: 50px;
    overflow: hidden;
}
.part .nav a{
    display: block;;
    height: 50px;
    line-height: 22px;
    width:100%;
    overflow: hidden;
}
.part .nav .img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    float: left;
    font-size: 24px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.part .nav dd {
    height: 50px;
    float: left;
    margin: 0 0 0 8px;
}

.part .nav .fst-name {
    font-size: 20px;
    color: #333;
    margin: 14px 0 0;
    font-weight: bold;
}

.part .nav .sec-name {
    color: #666;
}

.part .nav:last-child {
    border: none;
}

.part .nav:first-child .img {
    border-radius: 5px 0 0 0;
}

.part .nav:last-child .img {
    border-radius: 0 0 0 5px;
}

.part .nav .go {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 24px;
    color: #666;
}

/* about */
.left-fixed {
}

.left-fixed > div {
    -webkit-box-flex: 1;
}

.left-fixed > div.left {
    width: 80px;
    -webkit-box-flex: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #ccc;
    line-height: 34px;
}

.left-fixed > div.left a {
    color: #666;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.left-fixed > div.left a.ui-state-active {
    background: #f0f0f0;
}

.ui-scroller {
    float: left;
}

.ui-navigator {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f3f3f3;
}

.ui-navigator-list li.ui-state-hover, .ui-navigator-list li.ui-state-active {
    background: #e0e0e0;
}

.ui-navigator-list li a {
    color: #666;
    font-weight: 400;
}

.activity {
    border: 1px solid #E0E0E0;
}

.activity .act-title {
    line-height: 30px;
    padding: 0 8px;
    background: #f0f0f0;
    border-bottom: 1px solid #E0E0E0;
}

.activity .activity-list li {
    width: 50%;
    float: left;
    text-indent: 20px;
    line-height: 36px;
    font-size: 10pt;
}

.activity .activity-list li:first-child {
    border-right: 1px solid #E0E0E0;
    margin-left: -1px;
}

.activity a {
    color: #f00;
}

.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.button.white:link, .button.white:visited {
    color: #606060;
}
form p {
    margin-bottom: 8px;
}

/* merge */

/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 30px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}
/*列表布局 1.css*/
.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {

    overflow: hidden;
    color: #666;
    padding-top: 5px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}

/*详情布局 1.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    color: #666;
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
}

.article-info{
    color: #666;
}
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}
