<?php

use Components\TplManager;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');

?>
<div class="wrap">
    <div class="main">
        <ul>
            <?php foreach ($navs as $key => $item) { ?>
                <li class="<?php echo m . ($key + 1); ?>">
                    <div
                        style="background:url(<?php echo $item['cover_img']; ?>) 5px 10px no-repeat;background-size:50px 50px;">
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                            <span class="icon"><em></em></span> <span class="title"><?php echo $item['name']; ?></span>
                        </a>
                    </div>
                </li>
            <?php } ?>

        </ul>
    </div>
</div>
<div class="copyright"></div>




