<?php
use Multiple\Wap\Helper\SiteData;
$AllFootNav = SiteData::init()->getAllNavs('foot');
if (!\Components\TplManager::$_config['hideHeader']) {
    ?>
    <div class="footer">
        <a href="/" class="footer_say"></a>
        <?php if ($AllFootNav) { ?>
            <?php
            $count = count($AllFootNav);
            foreach ($AllFootNav as $k => $item) {
                if ($count > 3) {
                    $count = 3;
                }
                if ($k > 3) {
                    continue;
                }
                ?>
                <?php if (!empty($item['son'])) { ?>
                    <div class="footer_icon">
                        <img src="<?php echo $item['cover_img'] ?>" alt=""/><?php echo $item['name'] ?>
                        <div class="footer_menu">
                            <ul>
                                <?php   foreach ($item['son'] as $val) {
                                    ?>
                                    <li class="line"><a href="<?php if($val['link_type'] == 'tel'): echo 'tel:'; endif; echo $val['link'] ?>"><?php echo $val['name'] ?></a>
                                    </li>
                                <?php
                                }
                                ?>
                            </ul>
                        </div>
                    </div>
                <?php
                } else {
                    ?>
                    <a class="footer_icon" href="<?php if($item['link_type'] == 'tel'): echo 'tel:'; endif; echo $item['link'] ?>">
                        <img src="<?php echo $item['cover_img'] ?>" alt=""/><?php echo $item['name'] ?>
                    </a>

                <?php }
            } ?>



        <?php
        }
        ?>

    </div>
<?php } ?>
