<?php
use Multiple\Wap\Helper\ShopData;
use Multiple\Wap\Helper\SiteData;

$shop = ShopData::init()->getStore();
$site = SiteData::init()->getSite();
if (!\Components\TplManager::$_config['hideHeader']) {


    ?>
    <div class="header">
        <a href="javascript:;" class="menu_button"><img src="/static/wap/images/tpl/huarunqi/back.png" alt=""/></a>
        <a href="/shop"><img src="/static/wap/images/tpl/huarunqi/public_share.png" alt=""/></a>
        <a href="<?php if ($site['phone']) {
            echo "tel:" . $site['phone'];
        } else {
            echo "javascript:;";
        } ?>"><img src="/static/wap/images/tpl/huarunqi/public_tel.png" alt=""/></a>
        <!--    <a href="-->
        <?php //if($site['qq']){echo "http://wpa.qq.com/msgrd?v=3&uin=".$site['qq']."&site=qq&menu=yes";}else{echo "javascript:;";}?><!--"><img src="/static/wap/images/tpl/huarunqi/public_qq.png" alt=""/></a>-->
        <a href="/user"><img src="/static/wap/images/tpl/huarunqi/public_qq.png" alt=""/></a>
    </div>
<?php
}

?>

<script type="text/javascript">
    $(document).ready(function () {
        $('.menu_button').on('click', function () {
            window.history.back();
        });
    });
</script>
