<?php
use Multiple\Wap\Helper\SiteData;

/*if ($this->dispatcher->getControllerName() == 'shop') {
    $AllFootNav = SiteData::init()->getAllNavs('foot', 'shop');
} else {
    $AllFootNav = SiteData::init()->getAllNavs('foot', 'home');
}*/
$AllFootNav = SiteData::init()->getAllNavs('foot');
?>

<div class="panel" id="panel_s">
    <div id="menu">
        <ul>
            <li class="menu_1 menu_log"><a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/menu_logo.png"
                                                                    alt=""/></a></li>
            <li class="menu_1"><a href="/"><img src="/static/wap/images/tpl/huarunqi/index_home.png" alt=""/>首页</a></li>
            <?php foreach ($AllFootNav as $item): ?>
                <li class="menu_1"><a href="<?php echo $item['link'] ?>"><img src="<?php echo $item['cover_img'] ?>"
                                                                              alt=""/><?php echo $item['name'] ?></a>
                </li>
                <?php foreach ($item['son'] as $item1) { ?>
                    <li class="menu_2"><a href="<?php echo $item1['link'] ?>"><?php echo $item1['name'] ?></a></li>
                <?php } ?>
            <?php endforeach; ?>

        </ul>
    </div>
    <!-- menu end-->
</div>


<script>

    seajs.use(['/static/wap/gmu/widget/panel.js'], function () {
        //  初始化panel，panel是iscroll
        $('.panel').css({
            'height': window.innerHeight,
            'padding-top': 0,
            'padding-bottom': 0
        }).iScroll().panel({
            contentWrap: $('#mm'),
            scrollMode: 'fixed',
            display: 'push',
            position: 'left',
            dismissible: true,
            swipeClose: true
        }).on('open', function () {
            $('.panel').iScroll('refresh');
        });
        function resetHeight() {
            $('.panel').css('height', window.innerHeight).iScroll('refresh');
        }

        $(window).on('scrollStop ortchange resize', resetHeight);

        $('.menu_button').on('click', function () {
            $('.panel').panel('toggle', 'push', 'left');
        });
    })
</script>