<div id="user-reg-dialog" title="如需浏览更完整内容，请加入俱乐部" style="display: none;">
    <form action="javascript:;" class="form w250-center" method="post" id="signUpForm">
        <p>
            <label for="">昵称</label>
            <span class="red">*</span>
            <input type="text" name="username" class="username" placeholder="昵称"
                   value=""/>
            <span class="tip"></span>
        </p>

        <p>
            <label for="">手机号</label>
            <span class="red">*</span>
            <input type="tel" name="phone" id="phone" class="phone" placeholder="手机号/用于登陆"
                   value=""/>
            <span class="tip"></span>
        </p>

        <p>
            <label for="">密码</label>
            <span class="red">*</span>
            <input type="password" name="password" class="password"
                   value="">
            <span class="tip"></span>
        </p>

        <p>
            <label for="">确认密码</label>
            <span class="red">*</span>
            <input type="password" name="repassword" class="repassword"
                   value="">
            <span class="tip"></span>
        </p>

        <p style="margin: 20px 0 0;">
            <input type="submit" value="注册" class="btn btn-green regBtn"/>
        </p>

        <p style="color: #666;">
            已有账号？ <a href="javascript:;" class="switchToLoginBtn">立即登陆</a>
        </p>
    </form>
</div>

<div id="user-login-dialog" title="如需浏览完整内容，请登陆俱乐部" style="display: none;">
    <form action="javascript:;" method="post" id="loginForm" class="form">
        <p>
            <label for="phone">手机号</label>
            <span class="red">*</span>
            <input type="text" name="phone" id="phone" class="phone" placeholder="手机号" value=""/>
            <span class="tip"></span>
        </p>

        <p>
            <label for="password">密码</label>
            <span class="red">*</span>
            <input type="password" id="password" name="password" class="password" value="">
            <span class="tip"></span>
        </p>

        <p style="margin: 0px 0px 0px;">
            <input type="submit" value="登陆" class="btn btn-green loginBtn"/>
        </p>

        <p>
            <a href="javascript:;" id="goForgotBtn" data-go="<?php echo urlencode($this->request->get('go')); ?>"
               style="display: none;">忘记密码？ 立即找回</a>
        </p>

        <p style="margin: 0px 0px 0px;">
            <input type="submit" value="注册" class="btn btn-green switchToRegBtn registerBtn"/>
        </p>

    </form>
</div>

<script>
    seajs.use('huarunqi/huarunqi.user', function (user) {
        user.user_dialog();
    });
</script>