<link rel="stylesheet" href="/static/home/pc/estt/css/investment.css"/>
<div class="join_us_banner">
    <div class="join_us_content">
        <div class="join_us_tit">
            <div class="join_us_tit_big">易卖电商平台广招代理</div>
            <div class="join_us_tit_small">We are the team, you are not alone!</div>
        </div>
        <div class="join_main" >
            <div class="join_tit">移动营销前景：</div>
            <div class="join_p" id="a001">相关资料显示，中国目前是社交媒体访问最活跃的国家，91%的人在6个月内访问过社交媒体，目前国内手机用户数已超过12亿，微信用户6亿，微博2.75亿，支付宝钱包用户数过2亿万，易信过亿，移动社交营销面临广阔的市场空间。</div>
            <div class="join_tit" >代理申请条件:</div>
            <div class="join_p">1.在当地有良好的客户资源及人脉资源</div>
            <div class="join_p">2.认同微信及其他第三方平台的发展趋势和美好前景，认同总部对形势的判断。</div>
            <div class="join_p">3.有健全的销售团队及具备较强的市场拓展能力。</div>
            <div class="join_p" id="a002">4.签订相关合作协议，甲乙双方据实履行自身的权利和义务。</div>
            <div class="join_tit" >代理申请流程：</div>
            <div class="join_p">1.意向经销商和渠道人员接洽，递交合作意向信息表</div>
            <div class="join_p">2.经商务审核通过后，双方签订合作协议</div>
            <div class="join_p">3.经销商应在签订合作协议后5个工作日内支付预付款，并提供营业执照副本、组织机构代码证、法人身份证，同事可向我司索取相关资质。</div>
            <div class="join_p">4.在收到经销商预付款之后（以财务和大款凭证确定），我司给经销商发放授权书证书、宣传资料以及产品说明书、话术等文案。</div>
            <div class="join_p"  id="a003">5.经协商，经销商可享受我司提供的相关扶持政策，进行当地业务活动。</div>
            <div class="join_tit" >平台对代理商的支持</div>
            <div class="join_p">产品层面:<br/>
                易卖平台提供最完备的微信营销行业化解决方案，并提供快速、高效的个性化定制解决方案，全功能账号免费使用。
            </div>
            <div class="join_p">渠道运营<br/>
                拥有各类丰富的厂商资源、拥有完整的渠道支撑体系，全方位支持服务代理商公司建设，全程关注代理商成长等。
            </div>
            <div class="join_p">业务拓展<br/>
                总部不对代理区域进行直销，并提供网络媒体免费宣传，将获得的资源免费分配给代理商，代理商无需承担推广费用。
            </div>
            <div class="join_p">技术支持<br/>
                提供专业的研发团队，优先处理和研发代理商反馈的需求，定制模块开发支持。
            </div>
            <div class="join_p">私人定制<br/>
                总部协助大客户洽谈，并提供统一的行业微营销策划方案，可根据大客户个性化需求成立项目，独立运作支持。
            </div>
            <div class="join_p">服务支持<br/>
                易卖平台提供专职渠道客服随时响应，7*12小时的全方位支持。
            </div>
            <div class="join_p">会议营销<br/>
                十年会销经验传授，细化流程安排，并提供会议营销特邀培训讲师支持（杜子健智囊团核心成员），以及会销所需物料设计支持。
            </div>
            <div class="join_p">市场监察<br/>
                严格执行易卖平台市场监察条例，对代理商予以支持同时维护市场秩序。
            </div>
            <div class="join_tit">联系我们：</div>
            <div class="join_p">地址：深圳市宝安区新湖路华美居B区1栋609-610室</div>
            <div class="join_p">传真： (0755) 8830-9091</div>
            <div class="join_p">电话： (0755) 8830-9091</div>
        </div><!-- join_main end -->
    </div><!-- join_us_content end -->
</div><!-- join_us_banner end-->