<div class="container">
    <div class="detail-page">
        <div class="detail-section">
            <h3>基本信息</h3>
            <input id="payment_type" type="hidden" value="{{payment['key']}}"/>
            <div class="row detail-row">
                <div class="span8">
                    <label>名称：</label>
                    <span class="detail-text">{{payment['name']}}</span>
                </div>
                <div class="span8">
                    <label>Logo：</label>
                    <span class="detail-text">{% if payment['logo']|length > 0 %}<img style="width: 100px;height: 50px;" src="{{payment['logo']}}"/> {% endif %}</span>
                </div>
                <div class="span8">
                    <label>是否激活：</label>
                    <span class="detail-text">
                        <select name="status" class="input-normal" id="status">
                            <option value="0" {% if payment is defined and payment['is_active'] == 0 %}selected{% endif %}>未激活</option>
                            <option value="1" {% if payment is defined and payment['is_active'] == 1 %}selected{% endif %}>已激活</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="row detail-row">
                <div class="span20">
                    <label>描述：</label>
                    <span class="detail-text" id="paid_time_box">
                        {% if payment['description']|length > 0 %}{{payment['description']}}{% else %}无{% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% if config is defined and config|length > 0 %}
        <div class="detail-section">
            <form action="/admin/payment/save" id="config_form" method="post">
                <input name="payment_key" type="hidden" value="{{payment['key']}}"/>
            <h3>配置信息</h3>
            {% for item in config %}
            <div class="row detail-row">
                <div class="span24">
                    <label class="span4">{{item['meta_label']}}：</label>
                    <span class="span20">
                        {% if item['type'] == 'text'%}
                        <input name="{{item['meta_name']}}" id="{{item['meta_name']}}" class="input-normal" value="{% if item['config_value'] is defined and item['config_value']|length > 0 %}{{item['config_value']}}{% endif %}"/>
                        {% elseif item['type'] == 'radio' %}
                        {% if item['value_list'] is defined and item['value_list']|length > 0 %}
                        {% for valueItem in item['value_list'] %}
                        <span class="span5">
                            <label for="{{item['meta_name']}}_{{valueItem['value']}}">{{valueItem['label']}}</label>
                            <span class="span1">
                                <input name="{{item['meta_name']}}" type="radio" id="{{item['meta_name']}}_{{valueItem['value']}}" class="span1" value="{{valueItem['value']}}"
                                    {% if item['config_value'] is defined and item['config_value'] == valueItem['value'] %}
                                        checked
                                    {% else %}
                                        {% if item['default'] is defined and item['default'] == valueItem['value'] %}
                                        checked
                                        {% endif %}
                                    {% endif %}/>
                            </span>
                        </span>
                        {% endfor %}
                        {% endif %}
                        {% elseif item['type'] == 'checkbox' %}

                        {% endif %}
                    </span>
                </div>
            </div>
            {% endfor %}
            <div class="row detail-row">
                <div class="span8">
                    <label></label>
                    <span class="detail-text">
                        <input type="submit" class="button button-sm button-primary" value="保存">
                    </span>
                </div>
            </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    BUI.use('common/page');
        new BUI.Form.Form({
            srcNode: "#config_form",
            submitType : 'ajax',
            callback : function(data){
                if(data.code && data.code > 0) {
                    alert(data.message)
                }
            }
        }).render();

    $('#status').change(function() {
        var status = $('#status').val();
        $.ajax({
            url: '/admin/payment/active',
            dataType: 'json',
            type: 'post',
            data: {
                type: $('#payment_type').val(),
                active: status
            }
        }).done(function(data) {
            if(data.code && data.code > 0) {
                BUI.Message.Alert(data.message, "error");
            }
            else {
                BUI.Message.Show({
                    msg : "修改成功！",
                    icon : 'success',
                    buttons : [],
                    autoHide : true,
                    autoHideDelay : 1000
                });
            }
        });
    });
</script>
