<div id="container" class="container">

    <div class="vipcard" style="background: url(<?php echo $option->top_bg ?>) repeat-x top center">

        <div class="page-header">

            <div class="page-title">会员卡说明</div>

        </div>

        <div class="page-content">

            <div class="widget">

                <div class="widget-title open">
                    <?php if (!empty($option->card_use_icon)): ?>
                        <img src="<?php echo $option->card_use_icon ?>"/>
                    <?php endif; ?>
                    <a href="javascript:void(0)">会员卡说明</a>
                </div>

                <div class="widget-content">
                    <?php echo $card['card_detail']; ?>
                </div>

            </div>

            <div class="widget">

                <div class="widget-title">
                    <?php if (!empty($option->card_score_icon)): ?>
                        <img src="<?php echo $option->card_score_icon ?>"/>
                    <?php endif; ?>
                    <a href="javascript:void(0)">会员卡积分说明</a>
                </div>

                <div class="widget-content">
                    <?php echo $card['card_point_detail']; ?>
                </div>

            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(".widget-title").on('click', function () {
        $(this).toggleClass('open');
        if ($(this).hasClass('open')) {
            $(this).next('.widget-content').show();
        } else {
            $(this).next('.widget-content').hide();
        }
    });
</script>
