<?php
$point = \Components\UserStatusWap::init()->getPoint();
?>
<div class="member_card_main">
    <div class="tips">使用时向客服出示本卡编号</div>
    <div class="vipcard">
        <div class="card">
            <div class="bg-container">
                <?php if ($card['card_info']['card_bg']): ?>
                    <img class="bg" src="<?php echo $card['card_info']['card_bg'] ?>"/>
                <?php else: ?>
                    <img class="bg" src="/static/wap/images/module/vipcard/default_card_bg.png"/>
                <?php endif; ?>
            </div>
            <h4 style="color:<?php echo !empty($card['card_info']['card_name_color']) ? $card['card_info']['card_name_color'] : '#fff'; ?>;"
                class="mine_card_name"><?php echo !empty($card['card_info']['card_name']) ? $card['card_info']['card_name'] : 'VIP 会员卡'; ?></h4>

            <div class="mine_card_info"
                 style="color:<?php echo !empty($card['card_info']['card_number_color']) ? $card['card_info']['card_number_color'] : '#fff'; ?>;">
                <p>会员卡号：<?php echo $card['card_no']; ?></span></p>

                <p>会员级别：<?php echo $card['card_grade_name'] ? $card['card_grade_name'] : '体验会员'; ?></p>
            </div>

        </div>
    </div>
    <!-- card_img end-->
    <div class="card_info">
        <div class="card_info_sty">
            <div class="con line">
                <p>消费总额</p>

                <p class="money_green"><?php echo $card['consumed_cash']; ?>元</p>
            </div>
            <div class="con">
                <p>可用积分</p>

                <p class="money_green"><?php echo $point; ?>分</p>
            </div>
            <div class="con duihuan">
                <a href="<?php echo $this->uri->wapModuleUrl('pointmall'); ?>">积分兑换 </a>
            </div>
        </div>
    </div>

</div>
<div class="member_card_details">
    <div class="group info">
        <ul>
            <li class="li_sty1"><a href="/article">最新通知</a></li>
            <li><a href="<?php echo $this->uri->wapModuleUrl('vipcard/intro'); ?>">会员卡说明</a>
            </li>
        </ul>
    </div>
    <div class="group act">
        <ul>
            <li class="li_sty1"><a href="<?php echo $this->uri->wapModuleUrl('vipcard/score'); ?>">签到赚积分</a></li>
            <li class="li_sty1"><a href="/user/profile">个人资料</a></li>
            <li><a href="<?php echo $this->uri->wapModuleUrl('pointmall'); ?>">积分兑换</a></li>
        </ul>
    </div>
    <div class="group act">
        <ul>
            <li class="li_sty1"><a href="/">微官网</a></li>
        </ul>
    </div>
</div>
<!-- member_card_details end -->
</div><!-- member_card_main end -->
<!------------------------------- member_card_main end ------------------------------------------>

<script>
    //是否是企业
    $("#openCompanyInfo").click(function () {
        if ($(this).attr('data-flag') == "1") {
            $(".qiye").css("height", 44 + "px");
            $(".qiye  .details").css("display", "none");
            $(this).attr('data-flag', 0);
        } else {
            $(".qiye").css("height", 224 + "px");
            $(".qiye  .details").css("display", "block");
            $(this).attr('data-flag', 1);
        }
    });
</script>