<div id="container" class="container" style="padding: 8px;">
<div class="replyForm">
<form action="javascript:;" id="applyForm">
<ul class="round">
<li class="title ">
    <span class="none">会员信息修改</span>
</li>
<li class="line">
    <table class="table">
        <tr>
            <th class="name">真实姓名</th>
            <td class="more">
                <input type="text" placeholder="请输入您的真实姓名"
                       value="<?php echo $vipcard['realname']; ?>"
                       id="realname"
                       class="px">
            </td>
        </tr>
    </table>
</li>
<li class="line">
    <table class="table">
        <tr>
            <th class="name">联系手机</th>
            <td class="more">

                <input type="text" placeholder="请输入您的电话"
                       value="<?php echo $vipcard['phone'] ?>"
                    <?php if ($vipcard['phone']) {
                        echo ' readonly';
                    } ?>
                       id="user_phone"
                       class="px">
            </td>
        </tr>
    </table>
</li>
<li class="line">
    <input type="hidden" name="birthday" id="birthday"
           value="<?php echo isset($vipcard['birthday']) ? $vipcard['birthday'] : '0000-00-00'; ?>"/>
    <?php
    if ($vipcard['birthday'] == '0000-00-00') {
    ?>
    <table class="table">
        <tr>
            <th class="name">出生日期</th>
            <td class="more">
                <p><span class="red">生日送积分,填写后不能修改</span></p>
                <?php
                $curYear = null;
                $curMonth = null;
                $curDay = null;
                if ($vipcard['birthday']) {
                    $curTime = explode('-', $vipcard['birthday']);
                    $curYear = $curTime[0];
                    $curMonth = $curTime[1];
                    $curDay = $curTime[2];
                }
                ?>
                <span>年份</span>
                <select name="" id="selectYear" class="selc">
                    <option value="">年份</option>
                    <?php for ($i = date('Y'); $i > 1900; $i--) { ?>
                        <option
                            value="<?php echo $i; ?>" <?php echo $curYear == $i ? 'selected="selected"' : ''; ?> ><?php echo $i; ?></option>
                    <?php } ?>
                </select>
                <br>
                <span>月份</span>
                <select name="" id="selectMonth" class="selc">
                    <option value="">月份</option>
                    <?php for ($i = 1; $i <= 12; $i++) { ?>
                        <option
                            value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curMonth == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                    <?php } ?>
                </select>
                <br>
                <span>日期</span>
                <select name="" id="selectDay" class="selc">
                    <option value="">日期</option>
                    <?php
                    $monthDay = array(0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                    $nowMonth = isset($curMonth) && $curMonth ? $curMonth : intval(date('m'));
                    $nowYear = isset($curYear) && $curYear ? $curYear : date('Y');
                    // 年下拉框改变时，判断是否是是闰年，更改二月分的天数
                    if ($nowMonth == 2 && ($nowYear % 100 == 0) && ($nowYear % 400 == 0) || ($nowYear % 100 != 0) && ($nowYear % 4 == 0)) {
                        $monthDay[2] = $monthDay[2] + 1;
                    }
                    for ($i = 1; $i <= $monthDay[$nowMonth]; $i++) {
                        ?>
                        <option
                            value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curDay == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                    <?php } ?>
                </select>
            </td>
        </tr>
    </table>
</li>
<?php } else { ?>
    <table class="table">
        <tr>
            <th class="name">出生日期</th>
            <td class="more">
                <?php echo $vipcard['birthday']; ?> (<span class="red">不能修改</span>)
            </td>
        </tr>
    </table>
<?php } ?>
</li>

<li class="line">
    <table class="table">
        <tr>
            <th class="name">联系邮箱</th>
            <td class="more">
                <input type="text" id="email" class="px"
                       value="<?php echo $vipcard['email']; ?>"
                       placeholder="请输入您的联系邮箱"/>
            </td>
        </tr>
    </table>
</li>

<li class="line">
    <table class="table">
        <tr>
            <th class="name">选在地区</th>
            <td class="more">
                省份：<select name="province" id="province" class="<?php echo $vipcard['province']; ?>"></select> <br/>
                城市：<select name="city" id="city" class="<?php echo $vipcard['city']; ?>"></select><br/>
                乡镇：<select name="town" id="town" class="<?php echo $vipcard['town']; ?>"></select><br/>
            </td>
        </tr>
    </table>
</li>

<li class="line">
    <table class="table">
        <tr>
            <th class="name">详细地址</th>
            <td class="more">
                <p>
                    <input type="text" id="address" class="px"
                           value="<?php echo $vipcard['address']; ?>"
                           placeholder="请输入您的联系地址"/>
                </p>
            </td>
        </tr>
    </table>
</li>

<li class="line">
    <table class="table">
        <tr>
            <th class="name">性别</th>
            <td class="more" style="position: relative;">
                <label for="">
                    男
                </label>
                <input type="radio" value="f" class="gender" name="gender"
                    <?php if ($vipcard['gender'] == 'm') echo 'checked' ?>  />
                <label for="">
                    女
                </label>
                <input type="radio" value="m" class="gender"
                    <?php if ($vipcard['gender'] == 'f') echo 'checked' ?>  name="gender"/>
            </td>
        </tr>
    </table>
</li>
<li class="line">
    <table class="table">
        <tr>
            <th class="name">是否接受email</th>
            <td class="more" style="position: relative;">
                <label for="">
                    是
                </label>
                <input type="radio" value="1" class="accept_email" name="accept_email"
                    <?php if ($vipcard['accept_email'] == '1') echo 'checked' ?>  />
                <label for="">
                    否
                </label>
                <input type="radio" value="0" class="accept_email"
                    <?php if ($vipcard['accept_email'] == '0') echo 'checked' ?>  name="accept_email"/>
            </td>
        </tr>
    </table>
</li>
<li class="line">
    <table class="table">
        <tr>
            <th class="name">是否接受短信</th>
            <td class="more" style="position: relative;">
                <label for="">
                    是
                </label>
                <input type="radio" value="1" class="accept_msg" name="accept_msg"
                    <?php if ($vipcard['accept_msg'] == '1') echo 'checked' ?>  />
                <label for="">
                    否
                </label>
                <input type="radio" value="0" class="accept_msg"
                    <?php if ($vipcard['accept_msg'] == '0') echo 'checked' ?>  name="accept_msg"/>
            </td>
        </tr>
    </table>
</li>
<li class="line">
    <table class="table">
        <tr>
            <th class="name">是否接受DM</th>
            <td class="more" style="position: relative;">
                <label for="">
                    是
                </label>
                <input type="radio" value="1" class="accept_dm" name="accept_dm"
                    <?php if ($vipcard['accept_dm'] == '1') echo 'checked' ?>  />
                <label for="">
                    否
                </label>
                <input type="radio" value="0" class="accept_dm"
                    <?php if ($vipcard['accept_dm'] == '0') echo 'checked' ?>  name="accept_dm"/>
            </td>
        </tr>
    </table>
</li>
<li class="line">
    <table class="table">
        <tr>
            <th class="name">身份</th>
            <td class="more" style="position: relative;">
                <label for="">
                    个人
                </label>
                <input type="radio" value="0" class="is_company"
                    <?php if ($vipcard['is_company'] == '0') echo 'checked' ?>   name="is_company"/>
                <label for="">
                    企业
                </label>
                <input type="radio" value="1" class="is_company"
                    <?php if ($vipcard['is_company'] == '1') echo 'checked' ?>     name="is_company"/>
            </td>
        </tr>
    </table>
</li>

<?php

//  $company = json_decode(isset($user['company_info']) ? $user['company_info'] : "", true);
?>

<li class="line company_info"
    style="display:  <?php if ($vipcard['is_company'] == '0') echo 'none' ?> ">
    <table class="table">
        <tr>
            <th class="name">公司名称</th>
            <td class="more" style="position: relative;">
                <input type="text"
                       value="<?php if (isset($vipcard['param']['company_name'])) {
                           echo $vipcard['param']['company_name'];
                       } ?>"
                       id="company_name" class=" px" placeholder="公司名称"
                       name="company_name"/>
            </td>
        </tr>
        <tr>
            <th class="name">公司电话</th>
            <td class="more" style="position: relative;">
                <input type="text"
                       value="<?php if (isset($vipcard['param']['company_tel'])) {
                           echo $vipcard['param']['company_tel'];
                       } ?>"
                       id="company_tel" class="  px" placeholder="公司电话"
                       name="company_tel"/>
            </td>
        </tr>
        <tr>
            <th class="name">公司传真</th>
            <td class="more" style="position: relative;">
                <input type="text"
                       value="<?php if (isset($vipcard['param']['company_fax'])) echo $vipcard['param']['company_fax'] ?>"
                       id="company_fax" class="  px" placeholder="公司传真"
                       name="company_fax"/>
            </td>
        </tr>
        <tr>
            <th class="name">公司网址</th>
            <td class="more" style="position: relative;">
                <input type="text"
                       value="<?php if (isset($vipcard['param']['company_site'])) echo $vipcard['param']['company_site'] ?>"
                       id="company_site" class=" px" placeholder="公司网址"
                       name="company_site"/>
            </td>
        </tr>
    </table>
</li>


</ul>
</form>
</div>

<div class="card-action">
    <a class="btn btn-large btn-emoi" id="CardInfoBtn" href="javascript:;">
        确定
    </a>
</div>


<script>
    seajs.use('emoi/emoi.user', function (api) {
        datepicker();
        new PCAS('province', 'city', 'town', '<?php echo  $vipcard['province'] ;?>', '<?php echo $vipcard['city'];?>', '<?php echo $vipcard['town'];?>');
        api.setVipCardInfo('#CardInfoBtn', 'updateUser');
    });
</script>
</div>
