
<link rel="stylesheet" href="/static/home/pc/reach/css/project_investment.css"/>
<div class="project_investment_wrapper">
    <div class="project_invest_main">
        <div class="project_invest_pic"><img src="/static/home/pc/reach/images/project_invest_pic.png" alt=""/></div>
        <div class="project_invest_conditions"><img src="/static/home/pc/reach/images/project_conditions.png" alt=""/></div>
        <div class="project_invest_support"><img src="/static/home/pc/reach/images/project_support.png" alt=""/></div>
        <div class="project_invest_agent"><img src="/static/home/pc/reach/images/project_agency.png" alt=""/></div>
        <div class="project_invest_process"><img src="/static/home/pc/reach/images/project_process.png" alt=""/></div>
        <div class="project_invest_contact_way">
            <div class="project_tit"><img src="/static/home/pc/reach/images/project_contact_way.png" alt="" /></div>
            <div class="project_con">
                <table>
                    <tr>
                        <th class="sty_1">渠道经理</th>
                        <th class="sty_2">地区</th>
                        <th class="sty_3">企业QQ</th>
                        <th class="sty_4">联系方式</th>
                    </tr>
                    <tr>
                        <td class="sty_1">从经理</td>
                        <td class="sty_2"></td>
                        <td class="sty_3">35531020</td>
                        <td class="sty_4">13903007241</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="project_invest_slogan"><img src="/static/home/pc/reach/images/project_slogan.png" alt=""/></div>
    </div><!--project_invest_main end-->
</div><!--project_investment_wrapper end-->
