<?php
use Components\Product\ProductManager;

$curCid = intval($this->request->get('cid'));
$curCat = ProductManager::instance()->getCat($curCid, CUR_APP_ID);

$cats = ProductManager::instance()->getCats(CUR_APP_ID, true);
$list = ProductManager::instance()->getCatAttr($curCid);
$cat_name = array_column($cats, 'name', 'id');
$cat_name[0] = '未指定';
?>
<div class="page-header">
    <h1>
        商城类目属性设置
        <small>
            <i class="icon-double-angle-right"></i> 用于添加修改商品时选择或填写的商品属性项
        </small>

        <small class="right">
            <?php if ($curCid) { ?>
                <a href="#navModal" data-toggle="modal" class="btn btn-sm btn-success addOptionBtn normal">添加商品属性</a>
            <?php } ?>
        </small>
    </h1>
</div>
<style>
    .icon {
        color: #629b58;
    }

    .color-block {
        width: 38px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<table class="list">
    <?php $this->partial('product/base/cat_tr'); ?>

    <tr class="head">
        <th>属性类型</th>
        <th>属性名称</th>
        <th>属性初始内容(预览)</th>
        <th style="width: 80px;">修改</th>
        <th style="width: 80px;">是否必填</th>
        <th style="width: 80px;">启用</th>
        <th style="width: 60px;">删除</th>
    </tr>
    <?php if ($curCat){ ?>
    <?php if ($list){ ?>
    <tbody class="listData">
    <?php foreach ($list as $item) {
        $_toTypeName = array(
            'input' => '单行文字',
            'text' => '多行文字',
            'single' => '单选项',
            'multi' => '多选项',
        );
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <td class="center"><?php echo $_toTypeName[$item['attr_type']]; ?></td>
            <td style="text-align: right;"><?php echo $item['attr_name']; ?></td>
            <td>
                <?php
                if ($item['attr_type'] == 'input') {
                    ?>
                    <input type="text" value="<?php echo $item['attr_value']; ?>" class="txt"/>
                <?php
                }
                ?>

                <?php
                if ($item['attr_type'] == 'text') {
                    ?>
                    <textarea name="" id="" class="txt">
                        <?php echo $item['attr_value']; ?>
                    </textarea>
                <?php
                }
                ?>

                <?php
                if ($item['attr_type'] == 'multi') {
                    $vals = explode('-', $item['attr_value']);
                    foreach ($vals as $k => $v) {
                        ?>
                        <input type="checkbox" value="<?php echo $k; ?>" class=""/> <?php echo $v; ?>
                    <?php } ?>
                <?php
                }
                ?>

                <?php
                if ($item['attr_type'] == 'single') {
                    $vals = explode('-', $item['attr_value']);
                    ?>
                    <select name="" id="" class="selc">
                        <?php foreach ($vals as $k => $v) {
                            ?>
                            <option value="<?php echo $k; ?>" class=""/> <?php echo $v; ?></option>
                        <?php } ?>
                    </select>
                <?php
                }
                ?>
            </td>
            <td class="center">
                <a href="javascript:;" class='upBtn'
                   data-id="<?php echo $item['id']; ?>"
                   data-attr_type="<?php echo $item['attr_type']; ?>"
                   data-attr_name="<?php echo $item['attr_name']; ?>"
                   data-attr_value="<?php echo $item['attr_value']; ?>">修改</a>
            </td>
            <td class="center"><?php echo $item['must'] ? '是' : '否'; ?></td>
            <td class="center">
                <?php if ($item['is_active'] == 0) { ?>
                    <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                       data-id="<?php echo $item['id']; ?>">发布</a>
                <?php } else { ?>
                    <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                       data-status="0">取消发布</a>
                <?php } ?>
            </td>
            <td class="center">
                <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
            </td>
        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无商品属性选择项 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="">
        <th class="name">新增一栏</th>
        <td colspan="10">
            <a href="javascript:;" class="addOptionBtn">新增商品属性选择项 ></a> (最多可以创建30条数据)
        </td>
    </tr>
    <?php } else { ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;">请先选择商品分类类目！</p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php $this->partial('product/modal/attr'); ?>
