<div class="page-header">
    <h1>
        商品品牌设置
        <small>
            <i class="icon-double-angle-right"></i>
            设置品牌
        </small>
        <small class="right">
            <input type="hidden" name="page_type" id="page_type" value="home">
            <a href="#navModal" data-toggle="modal" class="btn btn-sm btn-success addBtn normal">添加品牌</a>
        </small>
    </h1>
</div>
<style>
    .icon {
        color: #629b58;
    }

    .color-block {
        width: 38px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<table class="list" style="width: auto;">
    <tr class="head">
        <th style="width:32px">批量</th>
        <th style="width: 200px;">名称</th>
        <th>logo</th>
        <th style="width:50px">编辑</th>
        <th style="width:50px">删除</th>
    </tr>
    <?php
    if ($list) {
        ?>
        <tbody class="listData">
        <?php
        foreach ($list as $item) {
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <td class="center">
                    <input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>">
                </td>
                <td><?php echo $item['name']; ?></td>
                <td class="center">
                    <img src="<?php echo $item['logo']; ?>" alt="" style="height: 36px;"/>
                </td>
                <td class="center">
                    <a class="upBtn" href="javascript:;"
                       data-id="<?php echo $item['id']; ?>"
                       data-name="<?php echo $item['name']; ?>"
                       data-logo="<?php echo $item['logo']; ?>"
                        >编辑</a>
                </td>
                <td class="center">
                    <a class="delBtn" data-id="<?php echo $item['id']; ?>" href="javascript:;">删除</a>
                </td>
            </tr>
        <?php
        }
        ?>
        </tbody>
    <?php } else { ?>
        <tr>
            <td colspan="12">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span class="right">
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
            <a href="#navModal" data-toggle="modal" class="miBtn addBtn">添加品牌</a>
        </td>
    </tr>
</table>

<script>
    seajs.use('app/panel/product/product.brand', function (api) {
        api.setBrand();
        api.del();
    });
</script>
<?php $this->partial('product/modal/brand'); ?>