<?php
$list = \Components\Product\ProductManager::instance()->getCats(CUR_APP_ID, true)
?>
    <div class="page-header">
        <h1>
            商城分类类目设置
            <small>
                <i class="icon-double-angle-right"></i>
            </small>
            <small class="right">
                <input type="hidden" name="page_type" id="page_type" value="home">
                <a href="#navModal" data-toggle="modal" class="btn btn-sm btn-success addBtn normal">添加分类</a>
            </small>
        </h1>
    </div>
    <style>
        .icon {
            color: #629b58;
        }

        .color-block {
            width: 38px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
    <table class="list" style="width: auto;">
        <tr class="head">
            <th style="width:32px">批量</th>
            <th>名称</th>
            <th style="width:50px">图标</th>
            <th style="width:80px">封面</th>
            <th>商品属性</th>
            <th>商品规格</th>
            <th style="width:50px">排序</th>
            <th style="width:50px">显示</th>
            <th style="width:50px">编辑</th>
            <th style="width:50px">删除</th>
        </tr>
        <?php
        if ($list) {
            ?>
            <tbody class="listData">
            <?php
            foreach ($list as $fst) {
                if ($fst['parent_id'] == 0) {
                    if ($fst['is_parent'] == 1) {
                        ?>
                        <tr class="item" data-id="<?php echo $fst['id']; ?>">
                            <td class="center">
                                <input type="checkbox" class="chk" data-id="<?php echo $fst['id']; ?>">
                            </td>
                            <td><b><?php echo $fst['name']; ?></b></td>
                            <td class="center"><i class="icon <?php echo $fst['icon']; ?>"></i></td>
                            <td class="center">
                                <img src="<?php echo $fst['image']; ?>" alt="" style="height: 36px;"/>
                            </td>
                            <td></td>
                            <td class="center"></td>
                            <td class="center"><?php echo $fst['sort']; ?></td>
                            <td class="center green"><?php echo $fst['published'] == 1 ? '是' : '否'; ?></td>
                            <td class="center">
                                <a class="upBtn" data-id="<?php echo $fst['id']; ?>" href="javascript:;">编辑</a>
                            </td>
                            <td class="center">
                                <a class="delBtn" data-id="<?php echo $fst['id']; ?>" href="javascript:;">删除</a>
                            </td>
                        </tr>
                        <?php
                        foreach ($list as $sec) {
                            if ($fst['id'] == $sec['parent_id']) {
                                ?>
                                <tr class="item" data-id="<?php echo $sec['id']; ?>">
                                    <td class="center">
                                        <input type="checkbox" class="chk" data-id="<?php echo $sec['id']; ?>">
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<span
                                            class="green">|―</span> <?php echo $sec['name']; ?>
                                    </td>
                                    <td class="center"><i class="icon <?php echo $sec['icon']; ?>"></i></td>
                                    <td class="center">
                                        <img src="<?php echo $sec['image']; ?>" alt="" style="height: 36px;"/>
                                    </td>
                                    <td><a href="/shop/product/attr?cid=<?php echo $sec['id']; ?>">设置商品属性</a></td>
                                    <td class="center"><a
                                            href="/shop/product/spec?cid=<?php echo $sec['id']; ?>">设置商品规格</a>
                                    </td>
                                    <td class="center"><?php echo $sec['sort']; ?></td>
                                    <td class="center green"><?php echo $sec['published'] == 1 ? '是' : '否'; ?></td>
                                    <td class="center">
                                        <a class="upBtn" data-id="<?php echo $sec['id']; ?>" href=" javascript:;">编辑</a>
                                    </td>
                                    <td class="center">
                                        <a class="delBtn" data-id="<?php echo $sec['id']; ?>" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                <?php
                                foreach ($list as $thr) {
                                    if ($sec['id'] == $thr['parent_id']) {
                                        ?>
                                        <tr class="item" data-id="<?php echo $thr['id']; ?>">
                                            <td class="center">
                                                <input type="checkbox" class="chk" data-id="<?php echo $thr['id']; ?>">
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                    class="green">|―</span> <?php echo $thr['name']; ?></td>
                                            <td class="center"><i class="icon <?php echo $thr['icon']; ?>"></i></td>
                                            <td class="center">
                                                <img src="<?php echo $thr['image']; ?>" alt="" style="height: 36px;"/>
                                            </td>
                                            <td><a href="/shop/product/attr?cid=<?php echo $thr['id']; ?>">设置商品属性</a>
                                            </td>
                                            <td class="center"><a
                                                    href="/shop/product/spec?cid=<?php echo $thr['id']; ?>">设置商品规格</a>
                                            </td>
                                            <td class="center"><?php echo $thr['sort']; ?></td>
                                            <td class="center green"><?php echo $thr['published'] == 1 ? '是' : '否'; ?></td>
                                            <td class="center">
                                                <a class="upBtn" data-id="<?php echo $thr['id']; ?>"
                                                   href=" javascript:;">编辑</a>
                                            </td>
                                            <td class="center">
                                                <a class="delBtn" data-id="<?php echo $thr['id']; ?>"
                                                   href="javascript:;">删除</a>
                                            </td>
                                        </tr>
                                    <?php
                                    }
                                } ?>
                            <?php
                            }
                        } ?>
                    <?php
                    } else {
                        ?>
                        <tr class="item" data-id="<?php echo $fst['id']; ?>">
                            <td class="center">
                                <input type="checkbox" class="chk" data-id="<?php echo $fst['id']; ?>">
                            </td>
                            <td><?php echo $fst['name']; ?></td>
                            <td class="center"><i class="icon <?php echo $fst['icon']; ?>"></i></td>
                            <td class="center">
                                <img src="<?php echo $fst['image']; ?>" alt="" style="height: 36px;"/>
                            </td>
                            <td><a href="/shop/product/attr?cid=<?php echo $fst['id']; ?>">设置商品属性</a></td>
                            <td><a href="/shop/product/spec?cid=<?php echo $fst['id']; ?>">设置商品规格</a>
                            <td class="center"><?php echo $fst['sort']; ?></td>
                            <td class="center green"><?php echo $fst['published'] == 1 ? '是' : '否'; ?></td>
                            <td class="center">
                                <a class="upBtn" data-id="<?php echo $fst['id']; ?>" href="javascript:;">编辑</a>
                            </td>
                            <td class="center">
                                <a class="delBtn" data-id="<?php echo $fst['id']; ?>" href="javascript:;">删除</a>
                            </td>
                        </tr>
                    <?php
                    }
                }
            }
            ?>
            </tbody>
        <?php } else { ?>
            <tr>
                <td colspan="12">
                    <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
                </td>
            </tr>
        <?php } ?>
        <tr class="showpage">
            <th class="name">操作</th>
            <td colspan="12">
            <span class="right">
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
                <a href="#navModal" data-toggle="modal" class="miBtn addBtn">添加分类</a>
            </td>
        </tr>
    </table>

    <script>
        seajs.use('app/panel/product/product.cat', function (api) {
            api.setCat();
            api.del();
        });
    </script>
<?php $this->partial('product/modal/cat'); ?>