<?php
use Components\Product\ProductManager;

$product_id = intval($this->request->get('iid'));
$product = ProductManager::instance()->getProduct($product_id, CUR_APP_ID);

$curCid = intval($this->request->get('cid'));
$curCid = $curCid ? $curCid : (isset($product['cid']) ? $product['cid'] : 0);
$curCat = ProductManager::instance()->getCat($curCid, CUR_APP_ID);


$cats = ProductManager::instance()->getCats(CUR_APP_ID, true);
$selectableCats = ProductManager::instance()->getSelectableCats(CUR_APP_ID);

// 分类的
$attrs = ProductManager::instance()->getCatAttr($curCid, true);
$specs = ProductManager::instance()->getCatSpec($curCid, true);

// 商品的
$product_attrs = ProductManager::instance()->getProductAttr($product_id);
$product_specs = ProductManager::instance()->getProductSpec($product_id);
$product_share_param = ProductManager::instance()->getProductShareParam($product_id);

// 物流
$freight = \Components\Product\FreightManager::init()->getFreight();
?>
<style>
    .product-area {
        width: 1100px;
    }

    .field-label {
        font-size: 14px;
        width: 120px;
        text-align: right;
        display: inline-block;
        padding: 0 8px 0 0;
        font-family: '微软雅黑';
    }

    .left-cat {
        width: 280px;
        float: left;
        position: relative;
    }

    .left-cat .intro {
        border: 1px solid #DEEFFB;
        color: #666;
        padding: 8px;
        margin: 0 0 12px;
    }

    .right-edit {
        width: 720px;
        float: left;
        margin: 0 0 0 12px;
    }

    .noCatTip {
        text-align: center;
        border: 1px solid #DEEFFB;
        padding: 20px;
        font-size: 14px;
    }

    .nob {
        border: none;
    }

    .widget-tit {
        border: 1px solid #DEEFFB;
        font-family: 'Microsoft Yahei';
        background: #FEFCEF;
        font-size: 14px;
        padding: 0 8px;
        margin: 0;
        line-height: 32px;
        border-bottom: none;
    }

    .widget-cont {
        border: 1px solid #DEEFFB;
    }

    .product-widget {
        margin: 0 0 12px;

    }

    .asideNav {
        width: 120px;
        margin: 0 0 0 160px;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        background: #FEFCEF;
        border: 1px solid #DEEFFB;
        font-family: "microsoft yahei";
    }

    .asideNav li.head {
        font-family: 'Microsoft Yahei';
        font-size: 14px;
        padding: 0 8px;
        margin: 0;
        color: #fff;
        background: #62a8d1;
        line-height: 36px;
    }

    .asideNav ul {
        margin: 0;
    }

    .asideNav li {
        border-bottom: 1px solid #eee;
    }

    .asideNav li.save {
        background: #fff;
        border-bottom: none;
    }

    .save-area {
        margin: 0 0 20px;
        padding: 12px;
        background: #FEFCEF;
        border: 1px solid #DEEFFB;
    }

    .field-line {
        border-top: 1px solid #DEEFFB;
        padding: 12px 0 0;
    }
</style>

<div class="page-header">
    <h1>
        <?php echo $product_id > 0 ? '修改' : '添加'; ?>商品信息
        <small>
            <i class="icon-double-angle-right"></i>
            请填写完整的商品信息
        </small>
        <small class="right">
            <input type="hidden" name="page_type" id="page_type" value="home">

            <?php
            $iid = intval($this->request->get("iid"));
            if ($iid) {
                ?>
                <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
            <?php } ?>
            <a href="javascript:;" class="btn btn-sm btn-success saveBtn normal">立即保存</a>
        </small>
    </h1>
</div>
<script>
    seajs.use('app/panel/product/product.edit', function (api) {
        api.saveProduct();
        api.asideNav();
    });
</script>
<section id="product-area" class="product-area">
    <?php
    if ($cats) {
        ?>
        <aside class="left-cat">
            <?php $this->view->partial('product/edit/cat'); ?>

            <div class="intro">
                <span class="red">说明：</span>
                请先选择商品类目，并填写完整信息后保存
            </div>

            <div class="asideNav">
                <nav id="">
                    <ul>
                        <li class="head">
                            商品发布助手
                        </li>
                        <li>
                            <a href="#product-base">商品信息</a>
                        </li>
                        <li>
                            <a href="#product-attr">商品属性</a>
                        </li>
                        <li>
                            <a href="#product-spec">商品规格</a>
                        </li>
                        <li>
                            <a href="#product-pic">商品图片</a>
                        </li>
                        <li>
                            <a href="#product-desc">商品描述</a>
                        </li>
                        <li>
                            <a href="#product-promo">商品推广</a>
                        </li>
                        <li class="save" style="padding: 8px ;">
                            <input type="button" class="btn btn-success btn-sm saveBtn" value="立即保存"/>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <section class="right-edit">
            <?php
            if ($curCat) {
                ?>
                <?php if (in_array($curCid, array_keys($selectableCats))) { ?>
                    <?php if ($freight) { ?>
                        <form action="javascript:;" class="form" style="margin: 0;padding: 0;" id="product-form">
                            <input name="" class="product_id" type="hidden" value="<?php echo $product_id; ?>"/>
                            <input name="cid" class="cid" type="hidden" value="<?php echo $curCid; ?>"/>
                            <?php $this->view->partial('product/edit/base'); ?>
                            <?php $this->view->partial('product/edit/attr'); ?>
                            <?php $this->view->partial('product/edit/spec'); ?>
                            <?php $this->view->partial('product/edit/freight'); ?>
                            <?php $this->view->partial('product/edit/pic'); ?>
                            <?php $this->view->partial('product/edit/desc'); ?>
                            <?php $this->view->partial('product/edit/promo'); ?>

                            <div class="save-area">
                                <input type="submit" value="立即保存" class="btn btn-success saveBtn btn-sm"/>
                                <input type="reset" value="重置" class="btn btn-sm"/>
                            </div>
                        </form>
                    <?php } else { ?>
                        <p class="noCatTip ">请先设置运费模板~ ！ <a href="/shop/freight/add" target="_blank">点击设置</a></p>
                    <?php } ?>
                <?php
                } else {
                    ?>
                    <p class="noCatTip ">您选择的分类有误！请从左边重新选择~！</p>
                <?php } ?>
            <?php
            } else {
                ?>
                <?php
                if ($product_id) {
                    if ($product) {
                        ?>
                        <p class="noCatTip ">您的商品原有分类已被删除，请从左边重新选择~!</p>
                    <?php } else { ?>
                        <p class="noCatTip ">您的商品未找到！ <a href="javascript:history.go(-1);">返回 ></a></p>
                    <?php } ?>
                <?php } else { ?>
                    <p class="noCatTip">请从左边选择相应的分类</p>
                <?php } ?>
            <?php } ?>
        </section>
    <?php
    } else {
        ?>
        <p class="noCatTip">
            您还没有添加商品分类哦，请 <a href="/shop/product/cat">添加商品类目 >></a>
        </p>
    <?php } ?>
    <div class="clear"></div>
</section>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame"
            src="<?php echo $this->uri->appUrl('/shop/item/' . \Util\EasyEncrypt::encode($iid)); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });
    })
</script>
<script>
    seajs.use("app/panel/shop/product.partial.fresh",function(p){
        p.fresh();

    })

</script>
