<?php
use Util\EasyEncrypt;

$curCid = $this->uri->getParam('cid');
$cat_name = array_column($cats, 'name', 'id');
$cat_name[0] = '未指定';
?>

<div class="page-header">
    <h1>
        商品列表
        <small>
            <i class="icon-double-angle-right"></i> 所有商品列表
        </small>

        <small class="right">
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
</div>
<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
</script>
<script>
    seajs.use('app/panel/product/product.edit', function (api) {
        api.del();
        api.pub();
    });
</script>
<form action="" method="get" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <label for="name">关键字</label>
    <input name="key" type="text" id="key" value="<?php echo $this->request->get('key'); ?>">
    <input type="submit" class="btn btn-primary btn-sm" value="搜索">
</form>
<table id="article-list" class=' list'>
    <tr class="showpage">
        <th class="name">
            栏目
        </th>
        <td colspan="9">
            <a href="<?php echo $this->uri->actionUrl(''); ?>"
               style="<?php echo $curCid == '' ? 'color:red' : ''; ?>">全部分类</a>
            |
            <?php
            foreach ($cats as $cat) {
                if ($cat['parent_id'] == 0) {
                    if ($curCid == $cat['id']) {
                        echo '【 <span style="color: #f00;">' . $cat['name'] . '</span> 】 | ';
                    } else {
                        echo '【 <a href="' . $this->uri->actionUrl('cid/' . $cat['id']) . '">' . $cat['name'] . '</a> 】 | ';
                    }
                    foreach ($cats as $cat2) {
                        if ($cat2['parent_id'] == $cat['id']) {
                            if ($curCid == $cat2['id']) {
                                echo '<span style="color: #f00;">' . $cat2['name'] . '</span> | ';
                            } else {
                                echo ' <a href="' . $this->uri->actionUrl('cid/' . $cat2['id']) . '" class"">' . $cat2['name'] . '</a> | ';
                            }
                        }
                    }
                }
            }
            ?>
            <a href="<?php echo $this->uri->actionUrl('cid/0'); ?>"
               style="<?php echo is_numeric($curCid) && $curCid == 0 ? 'color:red' : ''; ?>">未指定</a>
        </td>
    </tr>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th style='width: 80px;'>商品图片</th>
        <th style='width:120px'>商品类目</th>
        <th style=''>商品名称</th>
        <th style='width:80px'>商品价格</th>
        <th style='width:60px'>商品数量</th>
        <th style='width:80px'>是否发布</th>
        <th style='width:60px'>修改</th>
        <th style='width:50px'>删除</th>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $item) {
        $url = $this->uri->appUrl('/shop/item/' . EasyEncrypt::encode($item['id']));
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>" data-cid="<?php echo $item['cid']; ?>">
            <th class='name'><?php echo $item['id']; ?></th>
            <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
            <td>
                <img src="<?php echo \Util\ImgSize::getSize($item['thumb'],100); ?>" alt="" style="height: 36px;"/>
            </td>
            <td>
                <a href="<?php echo $this->uri->actionUrl('cid/' . $item['cid']); ?>">
                    <?php echo isset($cat_name[$item['cid']]) ? $cat_name[$item['cid']] : '未知分类'; ?>
                </a>
            </td>
            <td>
                <a href="javascript:;" class="preview-app" title="点击预览"
                   data-url="<?php echo $url; ?>">
                    <?php echo $item['name']; ?>
                </a>
                <?php if ($item['is_recommended']) { ?>
                    <mark class="mark mark-info small">荐</mark>
                <?php } ?>
                <?php if ($item['is_hot']) { ?>
                    <mark class="mark mark-yellow small">热</mark>
                <?php } ?>
                <?php if ($item['is_new']) { ?>
                    <mark class="mark mark-success small">新</mark>
                <?php } ?>
                [<a href="javascript:;" class="copy" data-id="<?php echo $item['id']; ?>">
                    查看链接
                </a>]
                <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                       type="text"
                       value="<?php echo $url; ?>"/>
            </td>
            <td>
                <span class="green">￥</span><span class="red"><?php echo $item['sell_price']; ?></span>
            </td>
            <td class="center">
                <?php echo $item['quantity']; ?>
            </td>

            <td class="center">
                <?php if (!$item['is_active']) { ?>
                    <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                       data-id="<?php echo $item['id']; ?>">发布</a>
                <?php } else { ?>
                    <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                       data-status="0">取消发布</a>
                <?php } ?>
            </td>
            <td class="center">
                <a href="<?php echo $this->uri->controllerUrl('edit?iid=' . $item['id']); ?>"
                   class='upBtn'>修改</a>
            </td>
            <td class="center">
                <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
            </td>
        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="9">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="9">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('shop/all'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>