@charset "utf-8";

.wrapper{ background: url("/static/home/pc/reach/images/aim_banner.png") no-repeat center 0;}
.main{ width: 980px;}
.main .aim_right{ float: right;}
.aim_right .enteprice{ margin-top: 60px; width: 485px; height: 155px; background: url("/static/home/pc/reach/images/aim_enterprice.png") no-repeat;}
.aim_right .enteprice p{ padding-top: 50px; margin-left: 160px; line-height: 28px; font-size: 19px; font-family: "宋体"; color: #666666; }
.aim_right .person{ margin-top: 40px; width: 485px; height: 155px; background: url("/static/home/pc/reach/images/aim_peple.png") no-repeat;}
.aim_right .person p{ padding-top: 90px; margin-left: 160px; line-height: 28px; font-size: 19px; font-family: "宋体"; color: #666666;}
.aim_right .investor{ margin-top: 40px; margin-bottom: 75px; width: 485px; height: 155px; background: url("../images/aim_investor.png") no-repeat;}
.aim_right .investor p{ padding-top:60px; margin-left: 160px; line-height: 28px; font-size: 19px; font-family: "宋体"; color: #666666;}
