@charset "utf-8";

*{margin:0; padding:0; border:none; list-style-type:none;}
body{font-family:Arial,Verdana; font-size:12px; line-height:18px; color:#333333; background:#fff; background-attachment:fixed ; }
div{margin:0 auto; }
table{border-collapse:collapse; border-spacing:0; }
th,td{font-size:12px; }
img{ border:0; }
ul,li{list-style-type:none; }
input{vertical-align:middle; color:#666666; font-family:Arial, Helvetica, sans-serif; }
select{ font-family:Arial, Helvetica, sans-serif;}
a{color:#333333; text-decoration:none; }
a:hover{  cursor:pointer; }
.clear{ clear: both;}




/*header 样式*/
.header{ width: 980px; height: 62px; overflow: hidden;}
.header .logo{ float: left; width: 173px; height: 62px; }
.header .logo img{width: 173px; height: 62px; overflow: hidden;}
.header .nav{ float: right; height: 62px;}
.header .nav ul li{ float: left; height: 62px; line-height: 62px;}
.header .nav ul li a{ display: block; padding: 0 20px; font-family: "微软雅黑"; font-size: 13px; background: #fff; color: #8a8a8a;}
.header .nav ul li a:hover{ display: block; padding: 0 20px; background: #fe9f05; color: #fff; font-size: 13px;}
.header .nav ul li .current{display: block; padding: 0 20px; background: #fe9f05; color: #fff; font-size: 13px; }

/*footer样式*/
.project_footer{ width: 100%; background: #fff ;}
.project_footer_wrapper{ padding-top: 20px; padding-bottom: 35px; width: 980px; background: url("/static/home/pc/reach/images/project_footer_logo.png") no-repeat left center;}
.project_footer_w{ width: 565px; margin-left: 212px;}
.project_footer_nav{ width: 100%; overflow: hidden;}
.project_footer_nav ul{ margin-right: -100px;}
.project_footer_nav ul li{ float: left; margin-right: 86px;  text-align: center;}
.project_footer_nav ul li a{ font-size: 18px; font-family: "宋体"; color: #666666;}
.project_copyright{ margin-top: 16px; font-size: 18px;  font-family: "宋体"; color: #666666; text-align: center;}