@charset "utf-8";

.contact_banner_wrapper{ width: 100%; background: #0f7b18;}
.contact_banner{ width: 1440px; height: 157px; background: url("/static/home/pc/reach/images/contact_banner.png") no-repeat;}

.main{ width: 980px; margin-top: 30px;}
.contact_left{ float: left; width: 500px;}
.contact_left .map img{ width: 282px; height: 52px; overflow: hidden;}
.contact_left .userinfo{ margin-top: 72px;}
.userinfo_title{ width: 100px; float: left; margin-right: 70px; margin-top: 53px;}
.title_zn{ font-size: 21px; font-family: "宋体"; color: #666666; text-align: center;}
.title_en{ margin-top: 10px; font-size: 21px; font-family: "宋体"; color: #666666; text-align: center;}

.userinfo_content{ width: 300px; float: left;}
.userinfo_content span{ margin-right: 10px; color: #999;}
.u_name{margin-bottom: 10px;}
.u_name input{ width: 260px; height: 30px; line-height: 30px; border: 1px solid #ddd;}
.u_tele{margin-bottom: 10px;}
.u_tele input{ width: 260px; height: 30px; line-height: 30px; border: 1px solid #ddd;}
.u_email{margin-bottom: 10px;}
.u_email input{ width: 260px; height: 30px; line-height: 30px; border: 1px solid #ddd;}
.userinfo_content textarea{ float:left; width: 260px;  height: 50px; border: 1px solid #ddd;}
.additional{ float: left; margin-top: 17px; margin-right: 10px; color: #999; }
.submit_and_copyright{width: 270px; margin-left: 204px; margin-top: 140px; margin-bottom: 30px;}
.submit_and_copyright input{ cursor: pointer; float: left; width: 121px; height: 31px; line-height: 31px; background: #fe9f05; color: #fff; font-size: 15px; font-family: "宋体"; font-weight: bold;}
.submit_and_copyright .icp{ float:left; margin-top: 13px; margin-left: 20px; color: #00aeff; font-size: 15px; font-family: "宋体"; font-weight: bold;}

.contact_right{ float: right; width:350px;}
.contact_weixin img{ width: 239px; height: 132px; overflow: hidden;}
.details {margin-top: 50px;}
.details .big_tit { font-size: 21px; font-family: "宋体";  color:#666666; line-height: 30px;}
.details .middle_tit { font-size: 14px; font-family: "宋体";  color:#666666; line-height: 25px;}
.details .small_tit{ margin-top: 20px;}
.details p { font-size: 14px; font-family: "宋体";  color:#666666; line-height: 25px;}