@charset "utf-8";

.main{ width: 980px;}
.banner{ width: 100%; background: url("/static/home/pc/reach/images/culture_banner.png") 0 center no-repeat; height: 257px;}
.culture_left{ float: left; width: 490px; margin-top: 67px; height: 316px;}
.culture_left img{ width:490px; height: 316px;}
.culture_right{ margin-top: 47px; float: right; width: 434px;}
.word_1{padding-left: 60px; padding-top: 4px; margin-bottom: 35px; height: 42px; background: url("/static/home/pc/reach/images/culture_innovation.png") no-repeat; color: #666;}
.word_2{padding-left: 60px; padding-top: 4px; margin-bottom: 35px; height: 42px; background: url("/static/home/pc/reach/images/culture_sincerity.png") no-repeat;  color: #666;}
.word_3{padding-left: 60px; padding-top: 4px; margin-bottom: 35px; height: 42px; background: url("/static/home/pc/reach/images/culture_team.png") no-repeat; color: #666;}
.word_4{padding-left: 60px; padding-top: 4px; margin-bottom: 35px; height: 42px; background: url("/static/home/pc/reach/images/culture_passion.png") no-repeat; color: #666;}

.culture_footer{ width: 100%; height: 40px; background: #d6e1e3;}