@charset "utf-8";

.wrapper{ background:#ebf0f4 url("/static/home/pc/reach/images/index_hg_line.png") repeat-x;}
.main{ width: 980px;}
.main .left{ float: left; width: 560px;}
.index_icon{ background: url("/static/home/pc/reach/images/index_pic.png") 0 80px no-repeat; padding-top: 540px; padding-bottom: 50px; position: relative;}
.weixin{ float: left; margin-right: 25px; width: 127px; position: absolute; z-index: 3; left: -25px;}
.weixin img{ width: 127px; height: 126px;}
.other_icon{ float: left; width:408px; padding-left: 123px;}
.other_icon ul li{ float: left; margin-right: 12px; margin-bottom: 12px; width: 47px;}
.other_icon ul li img{  width: 47px; height: 46px; overflow: hidden;}
.other_icon .word{ text-align: center;}

.main .right{ float: left; width: 420px;}
.big_word{margin-left: 50px; margin-top: 33px;}
.big_word a{ display: block; width: 357px; height: 52px; background: url("/static/home/pc/reach/images/big_word.png") no-repeat;}
.small_word{ margin-top: 10px; margin-left: 50px;}
.small_word{ margin-top: 10px;}
.small_word a{ display: block; width: 357px; height: 36px; background: url("/static/home/pc/reach/images/small_word.png") no-repeat;}
.experience{margin-top: 100px; margin-left: 210px; width: 154px; height: 43px; }
.experience a{ display: block; background: url("/static/home/pc/reach/images/begin_experience.png") no-repeat;color: #fff; font-size: 27px; height: 43px; line-height: 43px; text-align: center; }

.two_code img{ width: 120px; height: 144px; overflow: hidden; margin-top: 135px; margin-left: 227px;}