@charset "utf-8";

.main{ width: 980px;}
.banner{ width: 100%; background: url("/static/home/pc/reach/images/introduction_banner.png") 0 center no-repeat; height: 127px;}
.introduction_left{ float: left; width: 550px; margin-top: 40px;}
.introduction_left ul li{ float: left; width: 240px; margin-right: 16px; margin-bottom: 24px;}
.introduction_left ul li img{ width: 240px; height: 175px; overflow: hidden;}
.introduction_left ul li .name{ width: 240px; height: 34px; line-height: 34px; text-align: center;}
.introduction_left ul li .name a{color: #666; }

.introduction_right{float: right; width:430px; overflow: hidden; margin-bottom: 50px;}
.introduction_right p{ line-height: 30px; margin-top: 32px; color: #666;}