@charset "utf-8";

.wrapper{width: 100%; background: url("/static/home/pc/reach/images/plan_background.png") no-repeat bottom center; padding-bottom: 145px;}
.main{ width: 980px;}
.plan_tit{ padding: 10px 0; background: url("/static/home/pc/reach/images/plan_line.png") repeat-x bottom;}
.plan_zn_tit{ height: 40px; line-height: 40px; text-align: center; color:#b0c428; font-size: 24px; font-family: "微软雅黑";  letter-spacing: 3px;}
.plan_en_tit{ height: 20px; line-height: 20px; text-align: center; color:#b0c428; font-size: 11px; font-family: "微软雅黑"; }

.content{ width: 460px; float: left;}
.plan_style1{color: #b0c428; font-size: 13px; font-family: "微软雅黑"; line-height:26px; margin-top: 20px;}
.plan_style2{color: #666; font-size: 12px; font-family: "微软雅黑"; line-height: 26px; }