@charset "utf-8";

.wrapper{ background:#e2efef url("/static/home/pc/reach/images/product_line.png") repeat-x; padding-bottom: 100px;}
.product_tit{ padding: 10px 0; background: url("/static/home/pc/reach/images/product_tit_line.png") repeat-x bottom;}
.product_zn_tit{ height: 40px; line-height: 40px; text-align: center; color:#fff; font-size: 24px; font-family: "微软雅黑"; letter-spacing: 3px;}
.product_en_tit{ height: 20px; line-height: 20px; text-align: center; color:#fff; font-size: 11px; font-family: "微软雅黑"; }

.main{ width: 980px; background: url("/static/home/pc/reach/images/product_pic.png") no-repeat 0 170px;}
.product_content{ float: right; width: 490px;}
.product_content div{ line-height: 25px; font-size: 12px; color: #666; margin-top: 20px;}
.product_content span{ font-size: 16px; font-family: "微软雅黑"; color: #fe9f05;}