@charset "utf-8";

.project_investment_wrapper{ background-color: #f1f1f1;}
.project_invest_main{ width: 980px; background-color: #fff; padding-bottom: 95px;}
.project_invest_agent{ margin-top: 27px;}
.project_invest_process{ margin-top: 60px;}
.project_invest_contact_way .project_tit img{ margin-top: 26px; margin-left: 20px; margin-top: 17px;}
.project_invest_contact_way .project_con table{ border-collapse:collapse; border: 1px solid #b7e0f9;  width: 900px; margin-left: 40px;}
.project_invest_contact_way .project_con table tr td{ border: 1px solid #b7e0f9; height: 80px; line-height: 80px; text-align: center; font-size: 14px; font-family: "宋体"; color: #666666;}
.project_invest_contact_way .project_con table tr th{ border: 1px solid #b7e0f9; height: 80px; line-height: 80px; text-align: center; font-size: 15px; font-family: "宋体"; color: #666666; font-weight: bold;}
.project_invest_contact_way .project_con table tr .sty_1{ width: 132px; }
.project_invest_contact_way .project_con table tr .sty_2{ width: 328px;}
.project_invest_contact_way .project_con table tr .sty_3{ width: 218px;}
.project_invest_contact_way .project_con table tr .sty_4{ width: 222px;}
.project_invest_slogan{ margin-top: 105px; margin-left: 72px;}
.project_footer{ width: 100%; background: #fff ;}
.project_footer_wrapper{ padding-top: 20px; padding-bottom: 35px; width: 980px; background: url("../images/project_footer_logo.png") no-repeat left center;}
.project_footer_w{ width: 565px; margin-left: 212px;}
.project_footer_nav{ width: 100%; overflow: hidden;}
.project_footer_nav ul{ margin-right: -100px;}
.project_footer_nav ul li{ float: left; margin-right: 86px;  text-align: center;}
.project_footer_nav ul li a{ font-size: 18px; font-family: "宋体"; color: #666666;}
.project_copyright{ margin-top: 16px; font-size: 18px;  font-family: "宋体"; color: #666666; text-align: center;}


