<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">功能名称：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="name">
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">适用行业：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="belong">
                    </div>
                </div>
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>
</div>


<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal" action="/admin/resource/edit">
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>功能名称</label>
                <div class="controls">
                    <input name="name" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="controls bui-form-group-select">
                <label class="control-label"><s>*</s>功能类型</label>
                <div class="controls control-row4">
                    <select  class="input-small" name="type">
                        <option value="m">模块</option>
                        <option value="t">模板</option>
                        <option value="p">插件</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>模块标识</label>
                <div class="controls">
                    <input name="module_name" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>适用行业</label>
                <div class="controls">
                    <input name="belong" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>年价(平台直销)</label>
                <div class="controls">
                    <input name="year_price" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>截图图片</label>
                <div class="controls">
                    <input name="image" type="text" data-rules="{required:true}" class="input-normal control-text" value="/static/panel/images/100x100.gif">
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>年价最低</label>
                <div class="controls">
                    <input name="year_price_min" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>年价最高</label>
                <div class="controls">
                    <input name="year_price_max" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>月价最低</label>
                <div class="controls">
                    <input name="month_price_min" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>月价最高</label>
                <div class="controls">
                    <input name="month_price_max" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>功能描述</label>
                <div class="controls">
                    <input name="description" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>试用期(天)</label>
                <div class="controls">
                    <input name="free_period" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bui/js/bui-min.js"></script>
<script type="text/javascript" src="/static/bui/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
    BUI.use('common/search',function (Search) {

        var industries = {"m":"模块","p":"插件","t":"模板"},
            activeStatus = {"1":"已激活","0":"未激活"},

            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit'
            }),

            columns = [
                {title:'功能编号',dataIndex:'id',width:60},
                {title:'功能截图',dataIndex:'image',width:100, renderer: function(value, obj) {
                    return "<img src='" + value + "' style='width: 50px; height: 50px; margin: 5px;'/>";
                }},
                {title:'功能名称',dataIndex:'name',width:100},
                {title:'年价',dataIndex:'year_price',width:100},
                {title:'月价',dataIndex:'month_price',width:100},

//                {title:'价格范围(月)',dataIndex:'month_price_range',width:100},
//                {title:'价格范围(年)',dataIndex:'year_price_range',width:100},

                {title:'功能类型',dataIndex:'type',width:50, renderer:BUI.Grid.Format.enumRenderer({
                    'm': "模块",
                    'p': "插件",
                    't': "模板"
                })},
                {title:'功能描述',dataIndex:'description',width:300},
                {title:'适用行业',dataIndex:'belong',width:100},
                {title:'试用期(天)',dataIndex:'free_period',width:100},
                {title:'操作',dataIndex:'',width:100,renderer : function(value, obj){
                    var editStr1 = '<span class="grid-command btn-edit" title="编辑功能">编辑</span>',
                        delStr = '<span class="grid-command btn-del" title="删除功能">删除</span>';
                    return editStr1 + delStr;
                }}
            ],

            store = Search.createStore('/admin/resource/list', {
                proxy : {
                    save : { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                        addUrl : '/admin/resource/create',
                        updateUrl : '/admin/resource/edit',
                        removeUrl : '/admin/resource/remove'
                    },
                    method : 'POST'
                },
                pageSize:6,
                autoSync : true //保存数据后，自动更新
            }),

            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [
                        {text : '<i class="icon-plus"></i>新建', btnCls : 'button button-small',handler:addFunction},
                        {text : '<i class="icon-remove"></i>批量删除', btnCls : 'button button-small',handler : delFunction}
                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

            var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

            function addFunction(){
                var newData = {isNew : true}; //标志是新增加的记录
                editing.add(newData,'name'); //添加记录后，直接编辑
            }

             //删除操作
             function delFunction(){
                    var selections = grid.getSelection();
                    delItems(selections);
              }

            function delItems(items){
                var ids = [];
                BUI.each(items,function(item){
                    ids.push(item.id);
             });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>