<div class="container">
    <div class="detail-page">
      <div class="detail-section">
        <h3>基本信息</h3>
        <div class="row detail-row">
          <input id="order_number" type="hidden" value="{% if order is defined %}{{order.order_number}}{% else %}{{order_number}}{% endif %}"/>
          <div class="span8">
            <label>订单编号：</label><span class="detail-text">{% if order is defined %}{{order.order_number}}{% else %}{{order_number}}{% endif %}</span>
          </div>
          <div class="span8">
            <label>订单金额：</label><span class="detail-text">￥<input type="text" id="total_money" class="input-normal" data-rules="{required: true}" value="{% if order is defined %}{{order.total_money}}{% endif %}" name="total_money"/></span>
          </div>
           <div class="span8">
            <label>企业编号：</label><span class="detail-text">{% if customer is defined %}{{customer.name}}{% else %}<input id="customer_id" name="customer_id" value=''/>{% endif %}</span>
          </div>
        </div>
        <div class="row detail-row">
            <div class="span8">
                <label>下单时间：</label><span class="detail-text">{% if order is defined %}{{date("Y-m-d", order.ordered)}}{% else %}<input class="calendar" id="ordered" value="{{date('Y-m-d')}}" name="ordered"/>{% endif %}</span>
            </div>
            <div class="span8">
                <label>订单状态：</label><span class="detail-text">
                    <select name="status" class="input-normal" id="status">
                        <option value="0" {% if order is defined and order.status == 0 %}selected{% endif %}>未支付</option>
                        <option value="1" {% if order is defined and order.status == 1 %}selected{% endif %}>已支付</option>
                        <option value="2" {% if order is defined and order.status == 2 %}selected{% endif %}>已作废</option>
                    </select>
                </span>
            </div>
            <div class="span8">
                <label>支付时间：</label><span class="detail-text" id="paid_time_box">{% if order is defined and order.status == 1 %}<input name='paid_time' id="paid_time" value="{{date('Y-m-d', order.paid_time)}}" class="calendar">{% else %}——{% endif %}</span>
            </div>
        </div>
      </div>
      <div class="section">
        <h3>功能列表</h3>
        <div class="row">
            <div class="span21 offset3 control-row-auto">
                <div id="grid"></div>
            </div>
        </div>

        <div class="row">
            <div class="form-actions offset3">
                <button type="submit" class="button button-primary" id="saveOrder">保存</button>
                <button type="reset" class="button">重置</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    BUI.use('common/page');
    BUI.use(['bui/grid','bui/data','bui/form'],function (Grid,Data,Form) {
        var ResourceList = {% if resources is defined %}{ {% for r in resources %}"{{r.id}}":"{{r.name}}"{% if not loop.last%},{% endif %}{% endfor %} }{% else %}{}{% endif %},
            ResourcePriceList = {% if resources is defined %}{ {% for r in resources %}"{{r.id}}":{"year":{{r.year_price}},"month":{{r.month_price}}}{% if not loop.last%},{% endif %}{% endfor %} }{% else %}{}{% endif %},
            yearsList = {
                "0": "0年",
                "1":"1年",
                "2":"2年",
                "3":"3年"
            },
            monthList = {
                "0": "0月",
                "1":"1月",
                "2":"2月",
                "3":"3月",
                "4":"4月",
                "5":"5月",
                "6":"6月",
                "7":"7月",
                "8":"8月",
                "9":"9月",
                "10":"10月",
                "11":"11月"
            },
            daysList = {
                "0": "0天",
                "10":"10天",
                "15":"15天",
                "20":"20天",
                "30":"30天"
            };
        var columns = [{title : '功能名称',dataIndex :'source_id',editor : {xtype : 'select',rules:{required:true}, items:ResourceList}, renderer: Grid.Format.enumRenderer(ResourceList)},
                {title : '费用',dataIndex :'trade_price',editor: {xtype : 'text',rules:{required:true}},renderer : function(value, obj) {
                    var priceRow = ResourcePriceList[obj.source_id];
                    var price = 0.00;
                    if(obj.years > 0) {
                        price += (obj.years * priceRow.year);
                    }
                    if(obj.months > 0) {
                        price += (obj.months * priceRow.month);
                    }
                    if(typeof price == 'number') {
                        obj.trade_price = price;
                    }
                    reCaculateTotalMoney();
                    return '￥'+ (parseFloat(price) + 0.00);
                }},
                {title : '期限-年',dataIndex :'years',editor : {xtype : 'select',rules:{required:true}, items:yearsList},renderer : Grid.Format.enumRenderer(yearsList)},
                {title : '期限-月',dataIndex :'months',editor : {xtype : 'select',rules:{required:true}, items:monthList,},renderer : Grid.Format.enumRenderer(monthList)}/*,
                {title : '期限-天',dataIndex :'days',editor : {xtype : 'select',rules:{required:true}, items:daysList,validator : function(value,obj){
                    if(obj.years == 0 && obj.months == 0 && obj.days == 0){
                        return '期限不可为零，为零则不用添加';
                    }
                }},renderer : Grid.Format.enumRenderer(daysList)}*/
            ],
        //默认的数据
            data = [{% if orderResources is defined and orderResources|length > 0 %}{% for r in orderResources %}{'source_id':'{{r.resource_id}}','trade_price':'{{r.trade_price}}','years':'{{r.years}}','months':'{{r.months}}','days':'{{r.days}}'}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}],
            store = new Data.Store({
                data:data
            }),
            editing = new Grid.Plugins.CellEditing(),
            grid = new Grid.Grid({
                render : '#grid',
                columns : columns,
                width : 700,
                forceFit : true,
                store : store,
                plugins : [Grid.Plugins.CheckSelection,editing],
                tbar:{
                    items : [{
                        btnCls : 'button button-small',
                        text : '<i class="icon-plus"></i>添加',
                        listeners : {
                            'click' : addFunction
                        }
                    },
                        {
                            btnCls : 'button button-small',
                            text : '<i class="icon-remove"></i>删除',
                            listeners : {
                                'click' : delFunction
                            }
                        }]
                }

            });
        grid.render();

        function addFunction(){
            var _default_src_id_ = 0;
            var _default_price_ = {};
            for(i in ResourceList) {
                _default_src_ = i;
                break;
            }
            _default_price_ = ResourcePriceList[_default_src_];
            var newData = {source_id :_default_src_, years: '1', trade_price: 1 * _default_price_['year'], months: 0, days: 0};

            store.add(newData);
            editing.edit(newData,'source_id'); //添加记录后，直接编辑
        }

        function delFunction(){
            var selections = grid.getSelection();
            store.remove(selections);
            reCaculateTotalMoney();
        }

        function reCaculateTotalMoney() {
            var total_money = 0.00;
            $(store.findAll()).each(function(i, n) {
                total_money += n.trade_price;
            });
            if(typeof total_money == 'number') {
                $('#total_money').val(total_money);
            }
        }

        $('#status').change(function(e) {
            if(this.value == 1) {
                var dateObj = new Date();
                var today = dateObj.getFullYear() + '-' + (dateObj.getMonth() + 1) + '-' + dateObj.getDate();
                $('#paid_time_box').html('<input name="paid_time" id="paid_time" value="' + today + '" class="calendar">');
            }
            else {
            	$('#paid_time_box').html("——");
            }
        });

        $('#saveOrder').click(function() {
            var resources = store.findAll();
            $.ajax({
                url: '/admin/system-orders/save',
                type: 'post',
                dataType: 'json',
                data: {
                    order_number: $('#order_number').val(),
                    resources: resources,
                    status: $('#status').val(),
                    total_money: $('#total_money').val(),
                    ordered: $('#ordered').val(),
                    paid_time: $('#paid_time').val(),
                    customer_id: $('#customer_id').val()
                }
            }).done(function(data) {
                if(data.code == 0) {
                    BUI.Message.Alert("数据保存成功！", 'success');
                    var total_money = 0;
                    $(resources).each(function(i, n) {
                        total_money += n.trade_price;
                    });
                    $('#total_money').text('￥' + total_money);
                }
                else {
                	BUI.Message.Alert(data.message, 'error');
                }
            });
        });

    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true,
            dateMask : 'yyyy-mm-dd'
        });
    });

</script>
