<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">企业编号：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="customer_id">
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">平台账号：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="account">
                    </div>
                </div>
                <div class="control-group span9">
                    <label class="control-label">下单时间：</label>
                    <div class="controls">
                        <input type="text" class="calendar" name="created_min"><span> - </span><input name="created_max" type="text" class="calendar">
                    </div>
                </div>
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>

</div>
<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal" action="/admin/companies/edit">
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>订单编号</label>
                <div class="controls">
                    <input name="order_number" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="controls bui-form-group-select">
                <label class="control-label"><s>*</s>账号状态</label>
                <div class="controls control-row4">
                    <select  class="input-small" name="status">
                        <option value="0">未支付</option>
                        <option value="1">已支付</option>
                        <option value="2">已作废</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>订单金额</label>
                <div class="controls">
                    <input name="total_money" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>企业编号</label>
                <div class="controls">
                    <input name="customer_id" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bui/js/bui-min.js"></script>
<script type="text/javascript" src="/static/bui/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript">
    BUI.use('common/search', function (Search) {

        var industries = {"1":"金融","2":"计算机","3":"制造业"},
            activeStatus = {"1":"已支付","0":"未支付", "2": "已作废"},
            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit',
                title: '订单修改'
            }),
            columns = [
                {title:'订单编号',dataIndex:'order_number',width:200,renderer:function(value, obj){
                    return Search.createLink({
                        id : 'detail' + value,
                        title : '订单详情',
                        text : value,
                        href : '/admin/system-orders/detail?order_number=' + value
                    });
                }},
                {title:'客户编号',dataIndex:'customer_id',width:100},
                {title:'客户账号',dataIndex:'account',width:100},
                /*{title:'销售员编号',dataIndex:'sales_id',width:100,renderer: function(value, obj) {
                    if(value == 0) {
                        return '平台直销';
                    }
                    else {
                        return value;
                    }
                }},*/
                {title:'企业名称',dataIndex:'name',width:100},
                {title:'下单时间',dataIndex:'ordered',width:100, renderer: function(value, obj) {
                    if(value && value.length > 0) {
                        return value;
                    }
                    else {
                        return '——';
                    }
                }},
                {title:'支付时间',dataIndex:'paid_time',width:100, renderer: function(value, obj) {
                    if(value && value.length > 0) {
                        return value;
                    }
                    else {
                        return '——';
                    }
                }},
                {title:'订单总金额',dataIndex:'total_money',width:100},
                {title:'包含资源数量',dataIndex:'resource_count',width:100},
                {title:'账号状态',dataIndex:'status',width:100, renderer : BUI.Grid.Format.enumRenderer(activeStatus)}
            ],
            store = Search.createStore('/admin/system-orders/list', {
                proxy : {
                    save : { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                        addUrl : '/admin/system-orders/create',
                        updateUrl : '/admin/system-orders/edit',
                        removeUrl : '/admin/system-orders/remove'
                    },
                    method : 'POST'
                },
                pageSize:10,
                autoSync : true //保存数据后，自动更新
            }),
            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [
                        {text : '<i class="icon-plus"></i>新建', btnCls : 'button button-small', handler:function() {
                            return top.topManager.openPage({
                                id : 'edit',
                                href : '/admin/system-orders/edit',
                                title : '订单编辑'
                            });
                        }},
                        {text : '<i class="icon-remove"></i>批量删除', btnCls : 'button button-small',handler : delFunction}
                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

        var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

        var select = new BUI.Select.Select({
            render: '.status-select',
            valueField:'#hide',
            items: [
            	{text:'未付款',value:'0'},
                {text:'已付款',value:'1'},
                {text:'已作废',value:'2'}
            ]
        });
        select.render();
        select.on('change', function(ev){
            alert(ev.item);
          });
        
        function valid(value){
            if(value === '1'){
              return '不能选择1';
            }
          }
        
        function addFunction(){
            var newData = {isNew : true}; //标志是新增加的记录
            editing.add(newData,'name'); //添加记录后，直接编辑
        }

        //删除操作
        function delFunction(){
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items){
            var ids = [];
            BUI.each(items,function(item){
                ids.push(item.id);
            });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>
