body{
    -webkit-font-smoothing: antialiased;
}
.form-control-static{margin: 0 0 0 12px;}
.app-frame{background: #fff;}
.appFrame{background: #fff;}
.normal{font-size: 12px; font-weight: normal; color: #666;}
.red{color: #f00;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
p{margin: 0;}
ul{list-style-type: none;}
.miBtn{position: relative; padding: 4px 8px; margin: 0 4px 0 0; cursor: pointer; color: #444; text-shadow: 0 1px 0 #fff; white-space: nowrap; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: center; vertical-align: middle; background-color: #f3f3f3; background-repeat: repeat-x; border: 1px solid #dcdcdc; border-radius: 2px; box-shadow: none; background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);}
.miBtn:hover{text-shadow: none; border-color: #c6c6c6; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background-color: #f5f5f5; background-repeat: repeat-x; background-position: 0 0; transition: none; background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);}
.miBtn.btn-red{color: #f00;}
.miBtn.btn-green{color: #009300;}
.btn-gray{height: 24px; line-height: 24px; font-size: 12px; background: url(/static/panel/images/admin/gray.png) no-repeat left center; cursor: pointer; display: inline-block; text-align: center; color: #666; padding: 0 8px; border-radius: 3px; border: 1px solid #ccc; margin: 0 8px 0 0; box-shadow: 0 0 3px rgba(120, 120, 120, .1), inset 0 0 3px #fff;}
.btn-gray:hover{border: 1px solid #999; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); color: #000;}
.btn-light{height: 22px; line-height: 22px; font-size: 12px; background: url(/static/panel/images/admin/gray.png) no-repeat left top; cursor: pointer; display: inline-block; text-align: center; color: #666; font-weight: normal; vertical-align: middle; padding: 0 5px; border-radius: 1px; border: 1px solid #ccc; margin: 0 2px;}
.btn-light:hover{border: 1px solid #999; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); color: #000;}
.btn-deep{height: 24px; line-height: 24px; font-size: 12px; background: url(/static/panel/images/admin/gray.png) no-repeat left center; cursor: pointer; display: inline-block; text-align: center; vertical-align: middle; color: #333; font-weight: normal; padding: 0 8px; border-radius: 3px; border: 1px solid #999; margin: 0 8px 0 0; box-shadow: 0 0 3px rgba(120, 120, 120, .1), inset 0 0 3px #fff; text-shadow: 3px rgba(0, 0, 0, .1);}
.btn-deep:hover{border: 1px solid #666; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); color: #000;}
/* ajax Status*/
#ajaxStatus{position: fixed; z-index: 9999; left: 50%; top: 0; text-align: center; width: 500px; margin: 0 0 0 -250px; display: none;}
#ajaxStatus #ajaxTip{color: #999; border-radius: 0 0 5px 5px; display: inline-block; line-height: 180%; padding: 8px 16px 8px 30px; margin: 0px; box-shadow: 0 0 20px #cEE5E3; border-top: none;}
#ajaxStatus .wait{background: #FFF url(/static/panel/images/admin/loading.gif) 8px center no-repeat; border: 1px solid #A8E45A;}
#ajaxStatus .err{background: #FFF url(/static/panel/images/admin/status.png) 8px 12px no-repeat; border: 1px solid #EB7C67;}
#ajaxStatus .ok{background: #FFF url(/static/panel/images/admin/status.png) 8px -20px no-repeat; border: 1px solid #98C46A;}
.aBtn{position: relative; padding: 6px 12px; cursor: pointer; color: #444; text-shadow: 0 1px 0 #fff; white-space: nowrap; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align: center; vertical-align: middle; border: 1px solid #CCC; border-radius: 3px; box-shadow: none; background: #f3f3f3 linear-gradient(to bottom, #f1f1f1, #f1e8e7);}
.aBtn:hover{text-shadow: none; border-color: #c6c6c6; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); transition: none; background: #f5f5f5 linear-gradient(to bottom, #f8f8f8, #f1f1f1);}
.aBtn.btn-red{background: #EA2818 linear-gradient(to bottom, #EA2818, #DA1710); border: 1px solid #f00; color: #fff; text-shadow: none;}
.aBtn.btn-orange{background: #eaab2c linear-gradient(to bottom, #eaab2c, #da7b1d); border: 1px solid #ffa928; color: #fff; text-shadow: none;}
.aBtn.btn-green{background: #418d39 linear-gradient(to bottom, #4eb337, #418d39); border: 1px solid #51ae46; color: #fff; text-shadow: none;}
.aBtn.btn-blue{background: #004ba1 linear-gradient(to bottom, #003d87, #004ba2); border: 1px solid #0050ae; color: #fff; text-shadow: none;}
.aBtn.btn-block{display: block; height: 24px; line-height: 24px; font-size: 12pt;}
.aBtn.btn-large{font-size: 12pt; display: block; width: inherit;}
caption{border: 1px solid #DEEFFB; border-bottom: none; text-align: left; background: url("/static/panel/images/admin/nav.png") left -2px; height: 36px; line-height: 36px; padding: 0 8px;}
caption .captitle{font-size: 14px; font-family: 'Microsoft Yahei';}
table.list{border: 1px solid #DEEFFB; width: 100%; min-width: 600px; font-size: 12px;}
.list tr{line-height: 180%;}
.list tr.head th{border: 1px solid #DEEFFB; font-family: 'Microsoft Yahei'; background: #FEFCEF; text-align: center; line-height: 32px;}
.list tr.showpage{background: #FEFCEF; height: 36px; line-height: 36px; font-family: 'Microsoft Yahei'; color: #666;}
.list tr.showpage .pagination{padding: 0 8px;}
.list tr.showpage a{}
.list tr a:hover{color: #f00;}
.list tr th.name{width: 60px; line-height: 32px; text-align: center; font-weight: normal; font-family: 'Microsoft Yahei'; border: 1px solid #DEEFFB;}
.list tr td{border: 1px solid #DEEFFB; padding: 3px 5px;}
.list .listData{color: #333;}
.list .listData tr:hover{background: #F4FAFE;}
.list .listData .selected{background: #F4FAFE;}
.form-control{border: 1px solid #e0e0e0;}
.form-control:focus, select:focus{box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; background: #f9f9f9; color: #333;}
select{border: 1px solid #ccc; padding: 0 3px; height: 26px; color: #333; vertical-align: middle;}
.field{margin: 8px 0;}
.field-label{background: #fff; font-size: 12px; color: #333; vertical-align: middle; display: inline-block;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{border: 1px solid #e0e0e0; color: #666; height: 30px; padding: 5px 5px; background: #fefefe; font-size: 12px; outline: none;}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover{box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; background: #f9f9f9; color: #333; outline: none;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); border: 1px solid #ccc; background: #f9f9f9; color: #333; outline: none;}
.page-content .nav-tabs{height: 34px; margin: 0 0 20px; padding: 0 0 0 20px;}
label.control-label{font-weight: normal; font-size: 10pt; font-family: 'MICROSOFT YAHEI'; color: #333;}
.pagination{margin: 8px 0 0 0;}
.pagination > li > a, .pagination > li > span{padding: 2px 8px;}
.pagination .active.prev a{background-color: #f9f9f9; border-color: #d9d9d9; color: #999;}
.pagination .active.next a{background-color: #f9f9f9; color: #999; border-color: #d9d9d9;}
.zeroclipboard-is-hover{color: #333; background-color: #e6e6e6; text-decoration: none; background-position: 0 -15px; transition: background-position .1s linear 0s}
.zeroclipboard-is-active{color: #333; background-color: #e6e6e6; background-image: none; outline: 0 none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05)}
/*popup*/
.popup-wrap{display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9998; overflow: auto; overflow-y: scroll; background: url("/static/panel/images/transparent.png");}
.popup-widget.is-dragging{border: 1px solid #DEEFFB; cursor: move;}
.popup-widget{z-index: 9999; background: #fff; text-align: left; font-size: 12px; left: 50%; top: 50%; border: 1px solid #A0A0A0; position: absolute; box-shadow: 3px 3px 7px #999;}
.popup-widget .popup-head{background: url("/static/panel/images/admin/pophead-bg.png") left 0; display: block; padding: 0 8px; line-height: 24px; font-size: 12px; font-family: 'Microsoft Yahei'; border-bottom: 1px solid #E0E0E0; font-weight: normal; color: #333;}
.popup-widget .popup-head:hover{cursor: move;}
.popup-widget .popup-foot{padding: 8px 0; margin: 5px 15px; border-top: 1px solid #f0f0f0; color: #666;}
.popup-widget .popup-content{padding: 8px;}
.popup-widget .popup-close{float: right; display: inline-block; padding: 2px 4px;}
.popup-widget .popup-close:hover{color: #f00; cursor: pointer;}
/* 文件管理器*/
#storageWidget{margin-left: -284px; margin-top: -120px; z-index: 9999; min-height: 240px; width: 554px;}
#storageWidget .btn{padding: 5px; font-size: 10pt; border: 0;}
#storageWidget .nav-tabs .tab{display: none;}
#storageWidget .tab-content .tab-pane{overflow-y: auto;}
#storageWidget .tab-content .badge{height: 16px;}
#storageWidget .storage-folder{border: 1px solid #DEEFFB; padding: 8px; margin: 0;}
#storageWidget .storage-folder li{line-height: 180%; cursor: pointer;}
#storageWidget .storage-folder li:hover{background: #F4FAFE;}
#storageWidget .storage-head{margin: 0 0 8px; color: #4d6878;}
#storageWidget .storage-head .backFolderBtn{cursor: pointer;}
#storageWidget .storage-files{display: none;}
#storageWidget .file-list{margin: 0; padding: 8px; border: 1px solid #DEEFFB;}
#storageWidget .file-list .img{border: 1px solid #DEEFFB; width: 119px; height: 72px; background: #DEEFFB; overflow: hidden; float: left; margin: 2px; position: relative;}
#storageWidget .file-list .img .info{position: absolute; left: 0; bottom: 5px; width: 100%; opacity: 0.8; text-align: center; display: none;}
#storageWidget .file-list .img .info small{height: 16px;}
#storageWidget .file-list .img img{width: 119px;}
#storageWidget .file-list .current{border: 1px solid #69aa46;}
#storageWidget .file-list .choose{position: relative;}
#storageWidget .file-list .choose .chooseIcon{position: absolute; left: 5px; top: 5px; padding: 2px; margin: 0; color: #69aa46;}
#storageWidget .file-list .file{height: 24px; line-height: 24px; list-style-type: none; border: 1px solid #fff; color: #4d6878; overflow: hidden; position: relative;}
#storageWidget .file-list .choose.file .chooseIcon{position: absolute; right: 80px; top: 0; display: none;}
#storageWidget .file-list .file:hover, .file-list .file.current{background: #F4FAFE;}
#storageWidget .uploadArea{position: relative; min-height: 80px;}
#storageWidget .uploadArea .upload-btn{margin: 0 0 0 2px;}
#storageWidget .uploadArea .up_file_list{border: 1px solid #DEEFFB; padding: 4px; margin: 4px 0 0 0; display: block; color: #666;}
#storageWidget .uploadArea .moxie-shim{display: none;}
#storageWidget .uploadArea .prevImg{position: absolute; right: 0; top: 0; height: 80px;}
#storageWidget .dataArea{margin: 10px 0 2px 0; font-size: 12px;}
#storageWidget .dataArea .res-err-tip{color: #666;}
#storageWidget .previewArea .selected{position: relative; margin: 4px 4px 0 0; border: 1px solid #DEEFFB; display: inline-block;}
#storageWidget .previewArea .selected.file{padding: 2px 18px 2px 2px;}
#storageWidget .previewArea .selected img{height: 50px; display: block;}
#storageWidget .previewArea .selected.file .rmBtn{top: 5px;}
#storageWidget .previewArea .selected .rmBtn{position: absolute; right: 0; top: 0; width: 16px; height: 16px; font-weight: normal; display: block; cursor: pointer; color: #f30;}
#storageWidget .previewArea .selected .rmBtn:hover{color: #f00;}
#linkWidget{width: 600px; margin-left: -300px; margin-top: -60px; min-height: 120px;}
#linkWidget label{font-size: 12px;}
#linkWidget input[type=radio].ace + .lbl::before{font-size: 10px; line-height: 13px; height: 15px; min-width: 15px;}
#linkWidget .field{font-size: 12px; color: #666;}
#linkWidget .set-field{border: 1px solid #DEEFFB; padding: 8px;}
#linkWidget .field .help-inline{font: 12px;}
#linkWidget .module-title{font-size: 13px; background: #FEFCEF; text-align: center; padding: 8px; color: #333; border: 1px solid #DEEFFB;}
#linkWidget #module-web .web-content{border: 1px solid #DEEFFB; font-size: 12px;}
#linkWidget #module-web .web-content .nav-list{padding: 8px;}
#linkWidget #module-web .web-content .type-data-list{height: 208px; position: relative; overflow-y: auto;}
#linkWidget #module-web .web-content .nav-list label{display: block;}
#linkWidget #module-web .web-content .nav-list .lbl{display: block;}
#linkWidget #module-shop .shop-content{border: 1px solid #DEEFFB; font-size: 12px;}
#linkWidget #module-shop .shop-content .nav-list{padding: 8px;}
#linkWidget #module-shop .shop-content .type-data-list{height: 208px; position: relative; overflow-y: auto;}
#linkWidget #module-shop .shop-content .nav-list label{display: block;}
#linkWidget #module-shop .shop-content .nav-list .lbl{display: block;}
/*微信资源选择*/
#wxResourceWidget{width: 600px; margin-left: -300px;}
#wxResourceWidget .data-list{padding: 0; margin: 8px 0;}
#wxResourceWidget .data-list .item{clear: both;
    overflow: hidden;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    height: 36px;
    line-height: 36px;
    margin: 0 0 8px;
    padding: 0 8px;
}
#wxResourceWidget .data-list .item:hover{
    background: #f0f0f0;
    padding: 0 8px;
}
#wxResourceWidget .data-list label, #wxResourceWidget .data-list .lbl{display: block; width: 100%;}
#wxResourceWidget .data-list .item img{height: 36px; margin: 0 5px;}
#wxResourceWidget .data-list .item .right{float: right; color: #dd5a43; font-size: 11px;}
.dark{color: #333 !important}
.white{color: #fff !important}
.red{color: #dd5a43 !important}
.light-red{color: #f77 !important}
.blue{color: #478fca !important}
.light-blue{color: #93cbf9 !important}
.green{color: #69aa46 !important}
.light-green{color: #b0d877 !important}
.orange{color: #ff892a !important}
.light-orange{color: #fcac6f !important}
.orange2{color: #feb902 !important}
.purple{color: #a069c3 !important}
.pink{color: #c6699f !important}
.pink2{color: #d6487e !important}
.brown{color: #a52a2a !important}
.grey{color: #777 !important}
.light-grey{color: #bbb !important}
.mark{display: inline;padding: .2em .6em .3em;font-size: 100%;font-weight: normal;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}
.mark[href]:hover,
.mark[href]:focus{color: #fff;text-decoration: none;cursor: pointer;}
.mark.small{padding: 1px 4px;font-size: 12px;}
.mark:empty{display: none;}
.mark-default{background-color: #999;}
.mark-default[href]:hover,
.mark-default[href]:focus{background-color: #808080;}
.mark-primary{background-color: #428bca;}
.mark-primary[href]:hover,
.mark-primary[href]:focus{background-color: #3071a9;}
.mark-success{background-color: #5cb85c;}
.mark-success[href]:hover,
.mark-success[href]:focus{background-color: #449d44;}
.mark-info{background-color: #5bc0de;}
.mark-info[href]:hover,
.mark-info[href]:focus{background-color: #31b0d5;}
.mark-warning{background-color: #f0ad4e;}
.mark-warning[href]:hover,
.mark-warning[href]:focus{background-color: #ec971f;}
.mark-danger{background-color: #d9534f;}
.mark-danger[href]:hover,
.mark-danger[href]:focus{background-color: #c9302c;}
.mark-yellow{background-color: #f60;}
.mark-yellow[href]:hover,
.mark-yellow[href]:focus{background-color: #f30;}
.mark-gray{background-color: gray;}
.mark-danger[href]:hover,
.mark-danger[href]:focus{background-color: gray;}
.mark-gold{background-color: goldenrod;}
.mark-gold[href]:hover,
.mark-gold[href]:focus{background-color: goldenrod;}
.mark-sky{background-color: skyblue;}
.mark-sky[href]:hover,
.mark-sky[href]:focus{background-color: skyblue;}
.mark-silver{background-color: silver ;}
.mark-silver[href]:hover,
.mark-silver[href]:focus{background-color: silver ;}
.inner-nav{
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    border-bottom: 1px solid #DEEFFB;
    height: 36px;
    line-height: 36px;
    padding: 5px 0 0;
}
.inner-nav span{
    display: inline-block;
    line-height: 28px;
    height: 28px;
    background-color: #f0f0f0;
    border: 1px solid #d0dbe7;
    color: #999;
    position: relative;
    z-index: 11;
    padding: 0 8px;
}
.inner-nav span.active{
    background: #4cb329;
    border-color: #4cb329;
    color: #fff;
}
.inner-nav span.active a{
     color: #fff;
 }
.inner-nav .leftCore{
    margin-top: -5px;
    font-size: 16px;
    line-height: 36px;
    float: left;
    font-style: normal;
    padding: 0 20px;
    margin-right: 10px;
}