<link rel="stylesheet" href="/static/home/pc/estt/css/case.css"/>
<div class="case_banner">
    <div class="func_combo">
        <div class="combo_title">
            <img src="/static/home/pc/estt/images/f_combo.png" />
            <span>功能套餐</span>
        </div>
        <div class="combo_tablBox">
            <!--<table class="combo_tabl" cellpadding="0" cellspacing="0">
                <tr>
                    <th>功能</th>
                    <th></th>
                    <th>行业版</th>
                    <th>电商</th>
                    <th>家装</th>
                    <th>汽车</th>
                    <th>房产</th>
                    <th>医疗</th>
                    <th>酒店</th>
                    <th>餐饮</th>
                    <th>婚纱</th>
                </tr>
                <tr>
                    <td>图片空间</td>
                    <td class="tabl_td2">50M免费</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微信接入</td>
                    <td>关键词、关注回复、自定义菜单</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微博接入</td>
                    <td>关键词、关注回复、自定义菜单</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>3G网站</td>
                    <td>快捷导航、栏目、文章、多模版选择</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td rowspan="2">微商城</td>
                    <td>快捷导航、多模版、积分与分享、商品管理与展示</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>购物车、订单管理、退换货、多支付通道、多规格与库存价格关联、运费模板、积分支等</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微会员</td>
                    <td>微信、微博粉丝管理，会员卡</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>积分商城</td>
                    <td>商品设置、积分设置、积分兑换流程</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微询盘</td>
                    <td>询盘类型管理、询盘内容跟踪</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微门店</td>
                    <td>多门店管理、LBS一键导航、一键拨号</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微预约</td>
                    <td>通用预约管理，可自定义表单</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>优惠券</td>
                    <td>支持现金券、折扣券、特价券，订单管理</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>3D全景</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微画报</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微投票</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微调研</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微活动</td>
                    <td>大转盘、刮刮卡、砸金蛋、老虎机</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微服务</td>
                    <td>天气预报、彩票查询、火车查询、航班查询、小黄鸡等</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微游戏</td>
                    <td>捕鱼、2048、神经猫、别踩白块</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微行业</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微房产</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微汽车</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微挂号</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微订房</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>微点餐</td>
                    <td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <th>报价(￥/年)</th>
                    <th></th>
                    <th>5000</th>
                    <th>8000</th>
                    <th>8000</th>
                    <th>8000</th>
                    <th>8000</th>
                    <th>8000</th>
                    <th>9000</th>
                    <th>9000</th>
                    <th>8000</th>
                </tr>
            </table>-->

            <?php
            use Components\PackageManager;

            $package_name = PackageManager::$package_name;
            $package_func = PackageManager::$package_func;
            $package_func_limit = PackageManager::$package_func_limit;
            $package_price = PackageManager::$package_price;
            ?>
            <style>

            </style>
            <div class="content">
                <table class="combo_tabl" cellpadding="0" cellspacing="0">
                    <tr class="head">
                        <th>
                            功能名称
                        </th>
                        <th style="width: 200px;">
                            功能描述
                        </th>
                        <?php foreach ($package_name as $name) {
                            ?>
                            <th><?php echo str_ireplace('行业版', "", $name); ?></th>
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                    foreach ($package_func as $k => $func) {
                        ?>
                        <tr>
                            <?php foreach ($func as $i => $na) {
                                if ($i == 0) {
                                    echo '<th class="name">' . $na . '</th>';
                                } else {
                                    echo '<td>' . $na . '</td>';
                                }
                                ?>
                            <?php } ?>
                            <?php foreach ($package_name as $k1 => $limi) {
                                $res = in_array($k1, $package_func_limit[$k]) ? '<i class="icon icon-remove"></i>' : '<i class="icon icon-ok"></i>';
                                ?>
                                <td class="center"><?php echo $res; ?></td>
                            <?php } ?>
                        </tr>
                    <?php } ?>
                </table>
            </div>
        </div>
    </div>
</div><!-- case_banner end-->
<!--************************** list_banner end ************************************-->