<?php
use Multiple\Wap\Helper\SiteData;

$part = SiteData::init()->getNavs('part');
?>
<div id="part">
    <?php
    if ($part) {
        ?>
        <ul class="part">
            <?php foreach ($part as $k => $item) {
                ?>
                <li class="nav">

                    <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                        <dl>
                            <dt class="img <?php echo $item['color']; ?>">
                                <span class="icon part-bg <?php echo $item['icon'] ?>"></span>
                            </dt>
                            <dd>
                                <p class="fst-name"><span><?php echo $item['name'] ?></span></p>
                            </dd>
                        </dl>
                    </a>
                </li>
            <?php } ?>
        </ul>
    <?php } ?>
    <div class="clear"></div>
</div>