<div class="container">
    <div class="detail-page">
        <div class="section">
            <h3>功能列表</h3>
            <div class="row">
                <div class="span21 offset3 control-row-auto">
                    <div id="grid"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal" >
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>年价</label>
                <div class="controls">
                    <input name="year_price" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>月价</label>
                <div class="controls">
                    <input name="month_price" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>年最低价</label>
                <div class="controls">
                    <input name="year_price_min" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>年最高价</label>
                <div class="controls">
                    <input name="year_price_max" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>月最低价</label>
                <div class="controls">
                    <input name="month_price_min" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>月最高价</label>
                <div class="controls">
                    <input name="month_price_max" type="text" data-rules="{required:true}" class="input-normal control-text">
                    <input name="rid" type="hidden">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    BUI.use('common/page');
    BUI.use(['bui/grid','bui/data','bui/form'],function (Grid,Data,Form) {

        var columns = [
                {title : '功能名称',dataIndex :'name'},
                {title : '年价',dataIndex :'year_price'},
                {title : '月价',dataIndex :'month_price'},
                {title : '年最低定价',dataIndex :'year_price_min'},
                {title : '年最高定价',dataIndex :'year_price_max'},
                {title : '月最低定价',dataIndex :'month_price_min'},
                {title : '月最低定价',dataIndex :'month_price_max'},
                {title : '功能描述',dataIndex :'description'},
                {title : '是否已分配',width:120,dataIndex :'sales_id',renderer:function(value,obj){
                    if(value >0 )
                    {
                        return "是";
                    }else
                    {
                        return "否";
                    }
                }},
                {title:'操作',dataIndex:'',width:150,renderer : function(value, obj){
                    var editStr1 = '<span class="grid-command btn-edit" title="功能分配">分配</span>'
                    return editStr1;
                }}
            ],

            sales_number =  {% if sales is defined %} "{{sales}}" {% else %}""{% endif %},

            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit',
                editor : {
                    success : function(){
                        var edtor = this,
                            form = edtor.get('form'),
                            editType = editing.get('editType'),//add 或者 edit
                            url = '/agent/sales/savedetail?sales='+sales_number;

                            //检验
                            form.valid();
                            if(form.isValid()){
                                form.ajaxSubmit({ //表单异步提交
                                    url : url,
                                    type: "post",
                                    success : function(data){
                                        //将a 改成 1 测试一下显示错误
                                        if(data.hasError){ //返回的数据是 {hasError : fasle,error : 'xxxx',field : 'xxx'},也可以是任意格式的数据如 ： {success : false,'error' : 'xxxxx'}
                                            var field = data.field;
                                            form.getField(field).showErrors([data.error]); //也可以多个字段的错误信息 例如 errors : [{field : 'a',error: 'addd'},{field : 'a',error: 'addd'}]
                                        }else{
                                            edtor.accept();
                                        }
                                    },
                                    error : function(){
                                        edtor.accept();
                                    }
                            });
                        }
                    }
                }
                }),

            data = [{% if resources is defined and resources|length > 0 %}{% for r in resources %}{'rid':'{{r.rid}}','id':'{{r.id}}','name':'{{r.name}}','year_price':'{{r.year_price}}','month_price':'{{r.month_price}}','year_price_min':'{{r.year_price_min}}','year_price_max':'{{r.year_price_max}}','month_price_min':'{{r.month_price_min}}','month_price_max':'{{r.month_price_max}}','description':'{{r.description}}','sales_id':'{{r.sales_id}}'}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}],

            store = new Data.Store({
                data:data
            }),

            grid = new Grid.Grid({
                render : '#grid',
                columns : columns,
                width : 700,
                forceFit : true,
                store : store,
                plugins : [Grid.Plugins.CheckSelection,editing],
                tbar:{
                    items : [
                        {
                            btnCls : 'button button-small',
                            text : '<i class="icon-remove"></i>删除',
                            listeners : {
                                'click' : delFunction
                            }
                        }]
                }

            });
        grid.render();

        function addFunction(){
            var newData = {source_id :'1', years: '1', trade_price: 1 * ResourcePriceList[1]['years'], months: 0, days: 0};
            store.add(newData);
            editing.edit(newData,'source_id'); //添加记录后，直接编辑
        }

        function delFunction(){
            var selections = grid.getSelection();
            store.remove(selections);
            reCaculateTotalMoney();
        }

        function reCaculateTotalMoney() {
            var total_money = 0.00;
            $(store.findAll()).each(function(i, n) {
                total_money += n.trade_price;
            });
            if(typeof total_money == 'number') {
                $('#total_money').val(total_money);
            }
        }

        $('#status').change(function(e) {
            if(this.value == 1) {
                var dateObj = new Date();
                var today = dateObj.getFullYear() + '-' + (dateObj.getMonth() + 1) + '-' + dateObj.getDate();
                $('#paid_time_box').html('<input name="paid_time" id="paid_time" value="' + today + '" class="calendar">');
            }
            else {
                $('#paid_time_box').html("——");
            }
        });
    });
</script>
