<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">销售角色：</label>
                    <select  class="input-small" name="role" >
                        <option value="">全部</option>
                        <option value="second">二级代理</option>
                        <option value="sales">分销商</option>
                    </select>
                </div>
                <div class="control-group span6">
                    <label class="control-label">所属二级代理(ID)：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="second_agent">
                    </div>
                </div>
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>
</div>

<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal">
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>姓名</label>
                <div class="controls">
                    <input name="name" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="controls bui-form-group-select">
                <label class="control-label"><s>*</s>角色</label>
                <div class="controls control-row4">
                    <select  class="input-small" name="role">
                        <option value="sales">分销商</option>
                        <option value="second">二级代理</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>Email</label>
                <div class="controls">
                    <input name="email" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>QQ</label>
                <div class="controls">
                    <input name="qq" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>电话</label>
                <div class="controls">
                    <input name="phone" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>区域、行业</label>
                <div class="controls">
                    <input name="area" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>支付宝账号</label>
                <div class="controls">
                    <input name="alipay" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>

            <div class="control-group span8">
                <label class="control-label"><s>*</s>登陆密码</label>
                <div class="controls">
                    <input name="password" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bui/js/bui-min.js"></script>
<script type="text/javascript" src="/static/bui/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
    BUI.use('common/search',function (Search) {

        var industries = {"first":"一级代理","second":"二级代理","sales":"分销商"},

            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit'
            }),

            columns = [
                {title:'ID',dataIndex:'id',width:70,renderer:function(value, obj){
                    return Search.createLink({
                        id : 'detail' + value,
                        title : '价格详情',
                        text : value,
                        href : '/agent/sales/resourcedetail?sales=' + value
                    });
                }},
                {title:'姓名',dataIndex:'name',width:100},
                {title:'支付宝',dataIndex:'alipay',width:100},
                {title:'Email',dataIndex:'email',width:150},
                {title:'QQ',dataIndex:'qq',width:100},
                {title:'电话',dataIndex:'phone',width:100},
                {title:'角色',dataIndex:'role',width:80, renderer:BUI.Grid.Format.enumRenderer({
                    'first': "一级代理",
                    'second': "二级代理",
                    'sales': "分销商"
                })},
                {title:'平台分销商',dataIndex:'plat_sales',width:80, renderer:BUI.Grid.Format.enumRenderer({
                    '1': "是",
                    '0': "否"
                })},
                {title:'入驻时间',dataIndex:'created',width:100},
                {title:'一级代理',dataIndex:'first_agent',width:100},
                {title:'二级代理',dataIndex:'second_agent',width:100},

                {title:'区域、行业',dataIndex:'area',width:150},

                {title:'操作',dataIndex:'',width:100,renderer : function(value, obj){
                    var editStr1 = '<span class="grid-command btn-edit" title="编辑人员">编辑</span>',
                        delStr = '<span class="grid-command btn-del" title="删除人员">删除</span>';
                    return editStr1 + delStr;
                }}
            ],

            store = Search.createStore('/agent/sales/list', {
                proxy : {
                    save : { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                        addUrl : '/agent/sales/create',
                        updateUrl : '/agent/sales/edit',
                        removeUrl : '/agent/sales/remove'
                    },
                    method : 'POST'
                },
                autoSync : true //保存数据后，自动更新
            }),

            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [
                        {text : '<i class="icon-plus"></i>添加成员', btnCls : 'button button-small',handler:addFunction},
                        {text : '<i class="icon-remove"></i>批量删除', btnCls : 'button button-small',handler : delFunction}
                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

            var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

            function addFunction(){
                var newData = {isNew : true}; //标志是新增加的记录
                editing.add(newData,'name'); //添加记录后，直接编辑
            }

             //删除操作
             function delFunction(){
                    var selections = grid.getSelection();
                    delItems(selections);
              }

            function delItems(items){
                var ids = [];
                BUI.each(items,function(item){
                    ids.push(item.id);
             });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>