<div class="page-header">
    <h1>订单管理
        <!--<span class="pull-right">
            <span class="btn-group">
                <a href="/panel/products/edit"  class = 'btn btn-primary btn-sm'>添加商品</a>
            </span>
        </span>-->
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<?php echo $this->view->getContent(); ?>
<!-- /.panel-heading -->
<form action="/shop/transaction/orders" method="post" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <label for="name">会员名称</label>
    <input name="name" type="text" id="name" value="{% if name is defined %}{{name}}{% endif %}"/>
    <label for="order">订单号</label>
    <input name="order" type="text" id="order" value="{% if order is defined %}{{order}}{% endif %}"/>
    <label for="pay_mode">订单状态</label>
    <select name="status" id="status">
        <option value="-1">--选择状态--</option>
        {% if orderStatus is defined%}
        {% for index,item in orderStatus %}
        <option value="{{index}}"
        {% if status is defined and status == index%}selected{% endif %}>{{item}}</option>
        {% endfor %}
        {% endif %}
    </select>
    <input type="submit" class="btn btn-primary btn-sm" value="搜索"/>
</form>
<table class="list">
    <thead>
    <tr class="head">
        <th>订单编号</th>
        <th>订单金额</th>
        <th style="width: 100px;">实付金额</th>
        <th>邮费</th>
        <th>付款信息</th>
        <th>收获地址</th>
        <th>商品信息</th>
        <th>发货信息</th>
        <th>状态</th>
        <th>下单时间</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    {% if list.items|length > 0 %}
    {% for item in list.items %}
    <tr class="odd gradeX">
        <td class="center">
            <a href="/shop/transaction/orderDetail/{{item.order_number}}"
               target="_blank">
                <?php echo $item->order_number; ?>
            </a>
        </td>
        <td class="center">{{item.total_cash}}</td>
        <td class="paid_cash center" style="height: 40px" data-id="<?php echo $item->order_number; ?>"
            ><span class="paid" data-val="{{item.paid_cash}}">{{item.paid_cash}}</span>
        </td>
        <td class="center">{{item.logistics_fee}}</td>
        <td class="center">
            {% if item.is_paid %}
            <a href="javascript:;" class="tooltip-info"
               data-rel="popover" data-placement="top"
               data-original-title="<i class='icon-bolt red'></i> 付款信息"
               data-content="
                  <ul class='list list-unstyled'>
                    <li>方式：{{item.paid_time}}</li>
                    <li>时间：{{date('Y-m-d H:i:s', item.paid_time)}}</li>
                    <li>单号：{{item.paid_order}}</li>
                    <li>是否到账：{{item.is_payment_arrived==1?'到账':'未到'}}</li>
                  </ul>
                  ">
                <i class="icon icon-question"></i>点击查看</a>
            {% else %}未支付{% endif %}
        </td>
        <td class="center">
            <a href="javascript:;" class="tooltip-info"
               data-rel="popover" data-placement="top"
               data-original-title="<i class='icon-bolt red'></i> 收货信息"
               data-content="<ul class='list list-unstyled'><li>姓名：{{item.name}}</li><li>地域：{{item.province}}-{{item.city}}-{{item.town}}</li><li>地址：{{item.address}}</li><li>邮编：{{item.zip_code}}</li><li>电话：{{item.phone}}</li></ul>">
                <i class="icon icon-question"></i>点击查看</a>
        </td>
        <td class="center">
            <a href="javascript:;" class="tooltip-info" data-product="1" data-order="{{item.order_number}}"
               data-rel="popover" data-placement="top"
               data-original-title="<i class='icon-bolt red'></i> 商品信息"
               data-pulled="0"
               data-content=""><i class="icon icon-question"></i>点击查看</a>
        </td>
        <td class="center">
            {% if item.is_delivered %}
            <a href="javascript:;" class="tooltip-info"
               data-rel="popover" data-placement="top"
               data-original-title="<i class='icon-bolt red'></i> 发货信息"
               data-content="<ul class='list list-unstyled'><li>方式：{{item.logistics_name}}</li><li>时间：{{date('Y-m-d H:i:s', item.delivered_time)}}</li><li>单号：{{item.logistics_order}}</li></ul>">
                <i class="icon icon-question"></i>点击查看</a>
            {% else %}未发货{% endif %}
        </td>
        <td class="center">
            <select data-trigger="status" data-order="{{item.order_number}}" data-status="{{item.status}}">
                {% if orderStatus is defined%}
                {% for index,label in orderStatus %}
                <option value="{{index}}"
                {% if item.status is defined and item.status == index%}selected{% endif %}>{{label}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </td>
        <td>{{date("m-d H:i", item.created)}}</td>
        <td>
            <a class="item-edit" href="/shop/transaction/orderDetail/{{item.order_number}}" target="_blank"
               data-data='{{item|json_encode}}'><i class="icon-eye-open"></i>详情</a>

        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="even gradeC">
        <td colspan="11">还没有订单数据</td>
    </tr>
    {% endif %}
    </tbody>
</table>
<div class="row">
    <div class="col-sm-6">
        <div class="dataTables_info pagination" id="dataTables-example_info" role="alert"
             aria-live="polite"
             aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{list.total_items}}</code>
            条数据
        </div>
    </div>
    <div class="col-sm-6">
        <div class="pull-right" id="dataTables-example_paginate">
            <ul class="pagination">
                <li class="paginate_button previous" aria-controls="dataTables-example"
                    tabindex="0" id="dataTables-example_previous"><a
                        href="/shop/transaction/orders?page={{list.first}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">首页</a>
                </li>
                <li class="paginate_button previous" aria-controls="dataTables-example"
                    tabindex="0" id="dataTables-example_previous"><a
                        href="/shop/transaction/orders?page={{list.before}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">上一页</a>
                </li>
                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                    <a href="#">{{list.current}}</a></li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                    id="dataTables-example_next"><a
                        href="/shop/transaction/orders?page={{list.next}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">下一页</a>
                </li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                    id="dataTables-example_next"><a
                        href="/shop/transaction/orders?page={{list.last}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">末页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    seajs.use('app/panel/panel.base', function (base) {
        $(".paid").on("click", function (e) {
            var paid_cash = $(this).attr("data-val");
            var id = $(this).attr("data-id");
            $(this).css("display", 'none');
            $(this).parent().append("<input  name='paid_cash' data-id='" + id + "'/>");
            $(this).parent().find('input').focus().val(paid_cash).css('width', 50);
        });
        $(".paid_cash").on("blur", 'input', function (e) {
            var _this = $(this).parent();
            var paid_cash = parseFloat($(this).val()).toFixed(2);
            var original_cash =_this.find('.paid').attr('data-val');
            if (!/^[0-9]+(\.[0-9]+)?$/.test(paid_cash)) {
                reset(_this, original_cash);
                return;
            }


            if (paid_cash == _this.find('.paid').attr('data-val')) {
                reset(_this, original_cash);
                return false;
            }

            if (!window.confirm("您确认需要改价吗?")) {
                reset(_this, original_cash);
                return;
            }

            var order_no = _this.attr('data-id');
            _this.find('.paid').html(paid_cash);

            base.requestApi('/api/order/changePaidCash', {'order': order_no, paid_cash: paid_cash}, function (res) {
                if (res.result == 1) {
                    _this.find('input').remove();
                    _this.find('.paid')
                        .attr('data-val', paid_cash)
                        .html(paid_cash)
                        .css('display', 'block')
                    ;
                    tip.showTip('ok', '更改成功', 1000);
                }
                else {
                    $(this).parent().html(_this.attr('data-val'));
                }
            });

            function reset(par) {
                par.find('input').remove();
                par.find('.paid')
                    .attr('data-val', original_cash)
                    .html(original_cash)
                    .css('display', 'block')
                ;
            }

            e.stopImmediatePropagation();
        })

    })


</script>
