<style type="text/css">
    .ui-autocomplete {
        z-index: 9999
    }
</style>
<div class="page-header">
    <h1>
        订单详情
        <small>
            <i class="icon-double-angle-right"></i>

        </small>
    </h1>
</div><!-- /.page-header -->
<?php echo $this->view->getContent(); ?>

{% if order is defined %}
<div class="row">

    <div class="col-xs-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    订单概况
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <?php
                    if ($order->is_pointmall == 1) {
                        ?>
                        <p style="background: #f0f0f0;padding: 3px 8px;margin: 0 0 8px;color: #000;">
                            积分换购订单
                        </p>
                    <?php } ?>
                    <ul class="list list-untyled">
                        <li>订单编号：{{order.order_number}}</li>
                        <li>总计金额：{{order.total_cash}}</li>
                        <li>实付金额：{{order.paid_cash}}</li>
                        <li>打折优惠：{{order.discount_cash}}</li>
                        <li>订单状态：
                            <select name="status" id="status" data-trigger="status" data-order="{{order.order_number}}" data-status="{{order.status}}">
                                {% if orderStatus is defined%}
                                {% for index,label in orderStatus %}
                                <option value="{{index}}" {% if order.status is defined and order.status == index%}selected{% endif %}>{{label}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </li>
                        <li>支付模式：{% if order.is_cod %}货到付款{% else %}在线支付{% endif %}</li>
                        <li>订单备注：{{order.remark}}</li>
                       <!-- <li>订单备注2：{{order.remark2}}</li>-->
                    </ul>

                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>

    <div class="col-xs-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    客户概况
                    <a class="btn btn-sm btn-primary pull-right" href="javascript:;" data-toggle="modal" data-target="#address_box" data-data='{% if address is defined %}{{address|json_encode}}{% else %}[]{% endif %}'>设置地址</a>
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list list-untyled">
                        <li>会员编号：{{user.id}}</li>
                        <li>会员账号：{{user.username}}</li>
                        <li>会员组：{% if user.group_name is defined %}{{user.group_name}}{% else %}默认分组{% endif %}</li>
                        {% if address is defined %}
                        <li>收货人：{{address.name}}</li>
                        <li>售货地址：{{address.province}} {{address.city}} {{address.town}} {{address.address}}</li>
                        <li>邮政编码：{{address.zip_code}}</li>
                        <li>联系电话：{{address.phone}}</li>
                        {% else %}
                        <li><span class="alert alert-error">收货地址未<a class="btn btn-sm btn-primary pull-right" href="javascript:;" data-toggle="modal" data-target="#address_box" data-data='[]'>设置</a></span></li>
                        {% endif %}
                    </ul>
                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>
    <div class="col-xs-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    物流概况
                    <a class="btn btn-sm btn-primary pull-right" href="javascript:'" id="deliveredBtn"
                       data-toggle="modal" data-target="#deliver_box"
                       data-delivered="{{order.is_delivered}}"
                       data-logistics-type="{{order.logistics_type}}"
                       data-logistics-order="{{order.logistics_order}}">  {% if order.is_delivered %}更改物流信息{% else %}发货{% endif %}</a>
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main" id="logistics_info">
                    {% if order.is_delivered %}
                    <ul class="list list-untyled">
                        <li>快递公司：{% if order_logistics is defined %}{{order_logistics['name']}}{% else %}未知{% endif %}</li>
                        <li>发货时间：{{date('Y-m-d H:i:s', order.delivered_time)}}</li>
                        <li>快递单号：{{order.logistics_order}}</li>
                        <li>快递跟踪：<span id="logistics_log"></span></li>
                    </ul>
                    {% else %}
                    还未发货，<a class="btn btn-sm btn-primary" href="javascript:;" id="deliveredBtn" data-toggle="modal" data-target="#deliver_box">发货</a>
                    {% endif %}

                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>

    <div class="col-xs-12" style="margin-top: 10px;">

        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    商品列表
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>商品售价</th>
                            <th>客户购买价</th>
                            <th>购买数量</th>
                            <th>商品规格</th>
                            <th>总计金额</th>
                            <!--<th>管理</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {% if products is defined and products|length > 0%}
                        {% for item in products %}
                        <tr>
                            <td>{{item.item_name}}</td>
                            <td>{{item.item_sell_price}}</td>
                            <td>{{item.item_price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>
                            <?php
                            if(isset($item->item_spec_data)):
                                $specs = json_decode($item->item_spec_data, true);
                                if($specs && sizeof($specs) > 0) {
                                    echo "<ul class='list list-unstyled'>";
                                    foreach($specs as $spec) {
                                        echo "<li><label>{$spec['val']}</label></li>";
                                    }
                                    echo "</ul>";
                                }
                            endif;
                            ?>
                            </td>
                            <td>{{item.total_cash}}</td>
                            <!--<td>
                                <a href="javascript:;" data-product="{{item.item_id}}" data-order="{{order.order_number}}" data-data='{{item|json_encode}}' class="btn btn-sm btn-primary" data-toggle="modal" data-target="#product_box">编辑</a>
                                <a href="javascript:;" data-remove="1" data-product="{{item.item_id}}" data-order="{{order.order_number}}" class="btn btn-sm btn-warning">删除</a>
                            </td>-->
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                        <!--<tfoot>
                        <tr>
                            <td colspan="7">
                                <a class="btn btn-sm btn-primary" href="javascript:'" data-toggle="modal" data-target="#product_box">添加商品</a>
                            </td>
                        </tr>
                        </tfoot>-->
                    </table>

                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div>

        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-info hide">
            <i class="icon-hand-right"></i>
            <button class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <div id="dialog-message" class="hide">
            <p>
                请选择一行
            </p>
        </div><!-- #dialog-message -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
{% endif %}

<!-- 收货地址编辑 -->
<div class="modal fade" id="address_box" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">收货设置</h4>
            </div>
            <div class="modal-body">
                <form id="address_form" action="/shop/transaction/address" method="post" class="form form-horizontal">
                    <input type="hidden" name="order_number" value="{{order.order_number}}" id="order_number">
                    <input type="hidden" name="address_id" value="{{order.address_id}}" id="address_id">
                    <div class="form-group">
                        <label class="col-sm-2" for="name">收货人姓名</label>
                        <div class="col-sm-10">
                            <input id="name" name="name" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">所在区域</label>
                        <div class="col-sm-10">
                            <select name="province" id="province">
                            </select>
                            <select name="city" id="city">
                            </select>
                            <select name="town" id="town">
                            </select>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                new PCAS('province', 'city', 'town', {% if address is defined %}'{{address.province}}', '{{address.city}}', '{{address.town}}'{% else %}'', '', ''{% endif %});
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="address">详细地址</label>
                        <div class="col-sm-10">
                            <input id="address" name="address" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="zip_code">邮政编码</label>
                        <div class="col-sm-10">
                            <input id="zip_code" name="zip_code" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="phone">联系电话</label>
                        <div class="col-sm-10">
                            <input id="phone" name="phone" type="text" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">放弃</button>
                <button type="button" class="btn btn-primary btn-sm" id="saveAddressBtn">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 发货设置 -->
<div class="modal fade" id="deliver_box" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">发货设置</h4>
            </div>
            <div class="modal-body">
                <form id="deliver_form" action="/shop/transaction/deliver" method="post" class="form form-horizontal">
                    <input type="hidden" name="order_number" value="{{order.order_number}}" id="order_number">
                    <div class="form-group">
                        <label class="col-sm-2" for="logistics_type">物流方式</label>
                        <div class="col-sm-10">
                            <select id="logistics_type" name="logistics_type">
                                <option value="">——选择物流——</option>
                                {% if logistics is defined and logistics|length > 0 %}
                                {% for item in logistics %}
                                <option value="{{item['key']}}">{{item['name']}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="logistics_type">物流单号</label>
                        <div class="col-sm-10">
                            <input id="logistics_order" name="logistics_order" type="text" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">放弃</button>
                <button type="button" class="btn btn-primary btn-sm" id="saveDeliverBtn">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 添加商品 -->
<div class="modal fade" id="product_box" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">商品编辑</h4>
            </div>
            <div class="modal-body">
                <form id="product_form" action="/shop/transaction/address" method="post" class="form form-horizontal">
                    <input type="hidden" name="order_number" value="{{order.order_number}}" id="order_number">
                    <div class="form-group">
                        <label class="col-sm-2" for="product_id">商品</label>
                        <div class="col-sm-10">
                            <input id="product_id" name="product_id" type="hidden" class="form-control"/>
                            <input id="product_name" type="text" class="form-control">
                            <span class="help-block">通过名字搜索，自动提示</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="quantity">购买数量</label>
                        <div class="col-sm-10">
                            <input id="quantity" name="quantity" type="text" class="form-control" value="1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="price">商品单价</label>
                        <div class="col-sm-10">
                            <input id="price" name="price" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="total_price">商品总价</label>
                        <div class="col-sm-10">
                            <input id="total_price" name="total_price" type="text" class="form-control" readonly/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">放弃</button>
                <button type="button" class="btn btn-primary btn-sm" id="saveProductBtn">确定</button>
            </div>
        </div>
    </div>
</div>
