
<style type="text/css">
    .ui-autocomplete {
        z-index: 9999
    }
    .widget-body .btn{ padding: 2px; margin-top: 10px; margin-left: 5px;}
</style>
<div class="page-header">
    <h1>
        退换货申请
        <small>
            <i class="icon-double-angle-right"></i>

        </small>
    </h1>
</div><!-- /.page-header -->
<?php echo $this->view->getContent(); ?>

{% if apply is defined %}
<div class="row">

    <div class="col-xs-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    申请详情
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <ul class="list list-untyled">
                        <li>订单编号：<?php echo $apply['order_number']?></li>
                        <li>商品总计金额：<?php echo $apply['recharge_money']?></li>
                        <li>商品实付金额：<?php echo $apply['recharge_money']?></li>

                    </ul>

                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>

    <div class="col-xs-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    客户概况

                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <ul class="list list-untyled">
                        <li>会员编号：{{user.id}}</li>
                        <li>会员账号：{{user.username}}</li>
                        <li>会员组：{% if user.group_name is defined %}{{user.group_name}}{% else %}默认分组{% endif %}</li>

                        <li>用户名：{{user.username}}</li>
                        <li>用户地址：{{user.province}} {{user.city}} {{user.town}}</li>
                        <li>联系电话：{{user.phone}}</li>



                    </ul>
                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>
    <div class="col-xs-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                      处理详情
                </h5>
            </div>

            <div class="widget-body">

                <div class="widget-main apply-id" data-id="<?php echo $apply['id']?>">
                    <ul class="list list-untyled">
                        <li>申请类型：<?php echo $apply['type']==1 ? '换货':'退货'?></li>
                        <li>申请理由：<?php echo $apply['reason']?></li>
                        <li>申请说明：<?php echo $apply['reason_detail']?></li>
                        <li>申请时间：<?php echo date('Y-m-d H:i',$apply['created'])?></li>
                        <li>当前状态：<?php echo $apply['status']?></li>
                        <?php if($apply['buyer_deliver_no']) {?><li>快递单号:<?php echo $apply['buyer_deliver_no']?></li>  <?php } ?>
                        <?php if($apply['buyer_deliver_logistics']) {?><li>快递类型:<?php echo $apply['logistic_name']?></li>  <?php } ?>

                        <li><?php echo $apply['button']?></li>
                    </ul>
                </div><!-- /widget-main -->


            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>

    <div class="col-xs-12" style="margin-top: 10px;">



        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-info hide">
            <i class="icon-hand-right"></i>
            <button class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <div id="dialog-message" class="hide">
            <p>
                请选择一行
            </p>
        </div><!-- #dialog-message -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
{% endif %}
    <script>
     seajs.use('app/panel/panel.order',function(order){
       order.backGood();
     })
    </script>
<div class="modal" id="focusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">拒绝原因</h4>
            </div>
            <div class="modal-body">

                <p class="field set-field reason-field">
                   <textarea id="seller_refused_reason" style="width: 100%;height: 100px;
                   "></textarea>
                </p>
                <p class="field set-field order-field" style="display: none;">
                    新订单号:<input type="text" value="" id="back_order_number">

                </p>

            </div>
            <div class="modal-footer">
                <a href="javascript:;" data-dismiss="modal" class="btn closeBtn">关闭</a>
                <a href="javascript:;" class="btn btn-primary saveBtn">确定</a>
                <a href="javascript:;" class="btn  btn-primary saveOrderBtn" style="display: none;">确定</a>
            </div>
        </div>
    </div>
</div>
