<div class="page-header">
    <h1>退换货管理
        <!--<span class="pull-right">
            <span class="btn-group">
                <a href="/panel/products/edit"  class = 'btn btn-primary btn-sm'>添加商品</a>
            </span>
        </span>-->
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<?php echo $this->view->getContent(); ?>
<!-- /.panel-heading -->
<form action="/shop/transaction/refund" method="post" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <!--<label for="name">会员名称</label>
    <input name="name" type="text" id="name" value="{% if name is defined %}{{name}}{% endif %}"/>-->
    <label for="order">订单号</label>
    <input name="order" type="text" id="order" value="{% if order is defined %}{{order}}{% endif %}"/>
    <label for="type">申请类型</label>
    <select name="type" id="status">
        <option value="-1">--选择类型--</option>
        <option value="1" {% if type is defined and type == 1%}selected{% endif %}>换货申请</option>
        <option value="2" {% if type is defined and type == 2%}selected{% endif %}>退货申请</option>
    </select>
    <input type="submit" class="btn btn-primary btn-sm" value="搜索"/>
</form>
<table class="list">
    <thead>
    <tr class="head">
        <th>订单编号</th>
        <th>申请类型</th>
        <th>商品件数</th>
        <th>商品总金额</th>
        <th>状态</th>
        <th>申请时间</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    <?php if($list) {?>
    <?php foreach($list as $item){?>
    <tr class="odd gradeX">
        <td class="center">
            <a href="/shop/transaction/orderDetail/<?php echo $item['order_number']?>"
               target="_blank">
               <?php echo $item['order_number']?>
            </a>
        </td>
        <td class="center"> <?php echo $item['type']==1 ? '换货申请':'退货申请';?></td>
        <td class="center"><?php echo $item['quantity'];?></td>
        <td class="center"><?php echo $item['total_cash'];?></td>
        <td class="center">
            <?php echo $item['status'];?>
        </td>
        <td class="center"><?php echo date('Y-m-d H:i:s',$item['created']);?></td>
        <td class="center">
            <a class="item-edit" href="/shop/transaction/orderDetail/<?php echo $item['order_number']?>" target="_blank"
              ><i class="icon-eye-open"></i>订单详情</a>
            <a class="item-edit" href="/shop/transaction/refundDetail?id=<?php echo $item['id']?>" target="_blank"
             ><i class="icon-set"></i>退换货设置</a>

        </td>
    </tr>  <?php } } else{?>
    <tr class="even gradeC">
        <td colspan="9">还没有商品数据</td>
    </tr>
    <?php }?>

    </tbody>
</table>
<div class="row">
    <div class="col-sm-6">
        <div class="dataTables_info pagination" id="dataTables-example_info" role="alert"
             aria-live="polite"
             aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{list_arr.total_items}}</code>
            条数据
        </div>
    </div>
    <div class="col-sm-6">
        <div class="pull-right" id="dataTables-example_paginate">
            <ul class="pagination">
                <li class="paginate_button previous" aria-controls="dataTables-example"
                    tabindex="0" id="dataTables-example_previous"><a
                        href="/shop/transaction/refund?page={{list_arr.first}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&type={% if type is defined %}{{type}}{% endif %}">首页</a>
                </li>
                <li class="paginate_button previous" aria-controls="dataTables-example"
                    tabindex="0" id="dataTables-example_previous"><a
                        href="/shop/transaction/refund?page={{list_arr.before}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&type={% if type is defined %}{{type}}{% endif %}">上一页</a>
                </li>
                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                    <a href="#">{{list_arr.current}}</a></li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                    id="dataTables-example_next"><a
                        href="/shop/transaction/refund?page={{list_arr.next}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&type={% if type is defined %}{{type}}{% endif %}">下一页</a>
                </li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                    id="dataTables-example_next"><a
                        href="/shop/transaction/refund?page={{list_arr.last}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&type={% if type is defined %}{{type}}{% endif %}">末页</a>
                </li>
            </ul>
        </div>
    </div>
</div>

