{{ content() }}
<h2 class="header">微信设置</h2>
<div class="tabble">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#handle" data-toggle="tab" target="#handle">手动设置</a></li>
       <!-- <li><a href="<?php /*echo $this->uri->controllerUrl('auto'); */?>">一键绑定</a></li>-->
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="handle">
        <div class="row">
            <div class="col-xs-6">
                {{ form('panel/wechat/binding', 'id': 'registerForm', 'class': 'form-horizontal', 'onbeforesubmit':
                'return false', 'data-toggle':"validator", 'role':'form') }}
                <div class="form-group">
                    <label class="col-sm-2 control-label">平台回调URL</label>

                    <div class="col-sm-10">
                        <p class="form-control-static"><?php echo $this->uri->appUrl('wechat/service'); ?></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">平台TOKEN</label>

                    <div class="col-sm-10">
                        <p class="form-control-static">{% if openInfo %}{{openInfo.token}}{% endif %}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="original_id" class="col-sm-2 control-label">原始ID</label>

                    <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="original_id" name="original_id"
                           value="{% if openInfo %}{{openInfo.original_id}}{% endif %}" placeholder="原始ID"
                           data-error="原始ID必须填写，否则无法开启平台的功能">
                </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_account" class="col-sm-2 control-label">公众号</label>

                    <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="app_account" name="app_account"
                           value="{% if openInfo %}{{openInfo.app_account}}{% endif %}" placeholder="公众号" required
                           data-error="公众号必须填写，否则无法开启平台的功能">
                </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_id" class="col-sm-2 control-label">AppId</label>

                    <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="app_id" name="app_id" placeholder="AppId"
                           value="{% if openInfo %}{{openInfo.app_id}}{% endif %}" required
                           data-error="填写微信公众平台开发者的app id">
                </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_secret" class="col-sm-2 control-label">AppSecret</label>

                    <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="app_secret" name="app_secret" placeholder="AppSecret"
                           value="{% if openInfo %}{{openInfo.app_secret}}{% endif %}" required
                           data-error="请填写微信公众平台开发者的app secret">
                </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="original_id" class="col-sm-2 control-label">公众号类型</label>

                    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <label>
                            <input type="radio" name="type" id=""
                                   class="ace" <?php echo @$openInfo->type == 'dy' ? 'checked' : ''; ?> value="dy"/>
                            <span class="lbl">订阅号</span>
                        </label>
                        <label>
                            <input type="radio" name="type" id=""
                                   class="ace" <?php echo @$openInfo->type != 'fw' ? 'checked' : ''; ?> value="fw"/>
                            <span class="lbl">服务号</span>
                        </label>
                    </span>
                        <span class="help-block with-errors">订阅号和服务号的接口权限不一样，请正确设置</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="original_id" class="col-sm-2 control-label">是否已认证</label>

                    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <label>
                            <input type="radio" name="is_authed" id=""
                                   class="ace" <?php echo @$openInfo->is_authed == '1' ? 'checked' : ''; ?> value="1"/>
                            <span class="lbl">已认证</span>
                        </label>
                        <label>
                            <input type="radio" name="is_authed" id=""
                                   class="ace" <?php echo @$openInfo->is_authed != '0' ? 'checked' : ''; ?> value="0"/>
                            <span class="lbl">未认证</span>
                        </label>
                    </span>
                        <span class="help-block with-errors">订阅号/服务号认证与否，接口权限不一样，请正确设置</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="original_id" class="col-sm-2 control-label">是否开启官方多客服</label>

                    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <label>
                            <input type="radio" name="enable_dkf" id=""
                                   class="ace" <?php echo @$openInfo->enable_dkf == '1' ? 'checked' : ''; ?> value="1"/>
                            <span class="lbl">是</span>
                        </label>

                        <label>
                            <input type="radio" name="enable_dkf" id=""
                                   class="ace" <?php echo @$openInfo->enable_dkf != '1' ? 'checked' : ''; ?> value="0"/>
                            <span class="lbl">否</span>
                        </label>
                    </span>
                        <span class="help-block with-errors">如果开始官方多客服，则自动回复中的“接收普通消息”和“关键词回复”的设置将失效。</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ submit_button('保存', 'class': 'btn btn-primary btn-large') }}
                    </div>
                </div>
                {{end_form()}}
            </div>
            <div class="col-xs-6">
                <div class="alert alert-warning">
                    <h3>使用说明:</h3>
                    <ol class="list">
                        <li>如果您还没有注册微信公众号，请先注册<a
                                href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=register/step1_tmpl&lang=zh_CN"
                                target="_blank">微信公众号</a></li>
                        <li>如果您意已经有微信公众号，请<a href="mp.weixin.qq.com" target="_blank">登录微信公众号</a>官方管理后台</li>
                        <li>在微信公众号官方管理后台的"开发者中心"，填写服务器配置：URL使用左侧的“平台回调URL”，Token使用左侧的“平台Token”</li>
                        <li>将微信公众号官方管理后台的开发者凭据依次填入左侧对应输入框</li>
                        <li>查看微信公众号官方管理后台的资料设置页面，将微信公众号的“微信号”和“原始ID”填入左侧对应位置</li>
                        <li>点击保存完成设置</li>
                    </
                    0l>

                </div>
            </div>
        </div>
    </div>
</div>
