<h1 class="page-header">群发消息</h1>
{{content()}}
<!-- Nav tabs -->
<div class="container-row">
    <div class="col-sm-8">
<input type="hidden" id="messageSettingJson"
       value='{% if messageSettingJson is defined %}{{messageSettingJson}}{% else %}{}{% endif %}'/>
<input type="hidden" id="respondType" value="subscribe"/>
<input type="hidden" id="messageType" value="text"/>
<input type="hidden" id="messageData" value=''/>
    <div class="widget-box">
        <div class="widget-header">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <label class="col-xs-3" for="group">选择分组</label>
                    <div class="col-xs-3">
                        <select id="group">
                            <option>全部</option>
                            {% if groups is defined %}
                            {% for item in groups %}
                            <option value="{{item['id']}}">{{item['name']}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-xs-3" for="gender">性别</label>

                    <div class="col-xs-3">
                        <select id="gender">
                            <option>全部</option>
                            <option value="f">女</option>
                            <option value="m">男</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="messageBox">
                <div class="msg_tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active" data-type="text"><a href="#messageText" data-toggle="tab">文字</a></li>
                            <li data-type="news"><a href="#messageNews" data-toggle="tab">图文</a>
                            </li>
                            <li data-type="product"><a href="#messageProduct" data-toggle="tab">商品</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="messageText" data-tab="text">
                                <div class="js_imgArea inner ">
                                    <div class="emotion_editor">
                                        <textarea id="respondText" style="width: 100%; min-height: 200px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="messageNews" data-tab="news">
                                <div class="js_imgArea inner ">
                                    <div class="emotion_editor">
                                        <div class="edit_area" style="height: 200px;">
                                            <a class="btn btn-sm btn-primary pull-right" id="addNewsBtn" href="javascript:;">设置图文</a>
                                            <ul class="list list-unstyled" id="newsItems" style="overflow-y: auto;  display: block; height: 160px;">
                                            </ul>
                                        </div>
                                        <p class="field set-field">
                                            <label for="" class="field-label">默认链接：</label>
                                            <input type="text" id="defaultNewsLink" value="" class="input-small">
                                            <a href="javascript:;" class="btn btn-sm btn-success" id="newsLinkBtn" data-rel="#defaultNewsLink">设置链接</a>
                                            <span class="help-inline">为空表示不使用自定义的链接</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="messageProduct" data-tab="product">
                                <div class="js_imgArea inner ">
                                    <div class="emotion_editor">
                                        <div class="edit_area" style="height: 200px;">
                                            <a class="btn btn-sm btn-primary pull-right" id="addProductBtn" href="javascript:;">设置商品</a>
                                            <ul class="list list-unstyled" id="productItems" style="overflow-y: auto;  display:block; height: 160px;">
                                            </ul>
                                        </div>
                                        <p class="field set-field">
                                            <label for="" class="field-label">默认链接：</label>
                                            <input type="text" id="defaultProductLink" value="" class="input-small">
                                            <a href="javascript:;" class="btn btn-sm btn-success" id="productLinkBtn" data-rel="#defaultProductLink">设置链接</a>
                                            <span class="help-inline">为空表示不使用自定义的链接</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>

        </div>
        <!-- left end -->
    </div>
    <!-- right nav -->

    <br/>
    <span class=".col-md-2"><button class="btn btn-primary" id="saveMsgBtn">发送</button></span>
    <span class=".col-md-2"><input type="reset" class="btn" value="重置"/></span>
    </div>
    <div class="col-sm-4">
        <section class="alert alert-info">
            <ol>
                <li>在公众平台网站上，为订阅号提供了每天一条的群发权限，为服务号提供每月（自然月）4条的群发权限。而对于某些具备开发能力的公众号运营者，可以通过高级群发接口，实现更灵活的群发能力。</li>
                <li>该接口暂时仅提供给已<code>微信认证</code>的服务号</li>
                <li>虽然开发者使用高级群发接口的每日调用限制为100次，但是用户每月只能接收4条，请小心测试</li>
                <li>无论在公众平台网站上，还是使用接口群发，用户每月只能接收4条群发消息，多于4条的群发将对该用户发送失败。</li>
            </ol>
        </section>
    </div>
</div>
<!-- container end -->


<div class="modal fade" id="resourceViewer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">资源选择</h4>
            </div>
            <div class="modal-body" id="resourceList">
                <div id="mediaUploadBtn" style="display: none;">
                    <a class="btn btn-success fileinput-button" href="<?php echo $this->uri->moduleUrl('products/edit');; ?>"
                       target="_blank">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>添加商品...</span>
                    </a>
                    <a href="#" data-placement="right" data-toggle="tooltip" title="新添加的商品必须要有缩略图"><i
                            class="glyphicon glyphicon-question-sign"></i></a>
                </div>
                <div id="newsUploadBtn" style="display: none;">
                    <a class="btn btn-success fileinput-button" href="/panel/article/add" target="_blank">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>添加图文...</span>
                    </a>
                    <a href="#" data-placement="right" data-toggle="tooltip" title="新添加的文章必须要有缩略图"><i
                            class="glyphicon glyphicon-question-sign"></i></a>
                </div>
                <br>
                <br>
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <hr/>
                <ul id="resourceListBox" class="list-unstyled">
                </ul>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="dataTables_info pagination" id="dataTables-example_info" role="alert"
                             aria-live="polite"
                             aria-relevant="all">共 <code id="totalPage">1</code> 页
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="pull-right" id="dataTables-example_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous" aria-controls="dataTables-example"
                                    tabindex="0" id="dataTables-example_previous">
                                    <a href="#" data-page="1" id="firstPage">首页</a>
                                </li>
                                <li class="paginate_button previous" aria-controls="dataTables-example"
                                    tabindex="0" id="dataTables-example_previous">
                                    <a href="#" data-page="1" id="prevousPage">上一页</a>
                                </li>
                                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                    <a href="#" data-page="1" id="currentPage">1</a></li>
                                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                    id="dataTables-example_next">
                                    <a href="#" data-page="1" id="nextPage">下一页</a>
                                </li>
                                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                    id="dataTables-example_next">
                                    <a href="#" data-page="1" id="lastPage">末页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="resourcePickOK">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="keywordRuleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">规则管理</h4>
            </div>
            <div class="modal-body" id="resourceList">
                <form class="form-horizontal" role="form">
                    <input type="hidden" name="kid" id="kid" value=""/>

                    <div class="form-group">
                        <label for="ruleName" class="col-sm-2 control-label">规则名称</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ruleName" placeholder="规则名称">
                        </div>
                    </div>
                    <div class="form-group" id="keywordListBox">
                        <label class="col-sm-2 control-label">关键词</label>

                        <div class="col-sm-10" id="keywordList">
                            <div class="keywordItem" id="keywordDefaultBox">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="keywordDefault" data-keyword="1"
                                           placeholder="关键词">
                                </div>
                                <div class="checkbox col-sm-4">
                                    <label>
                                        <input type="checkbox" id="fullTextDefault" value="full_text"> 全文匹配
                                    </label>
                                    <a href="#" class="alert-success" id="addKeyword" data-toggle="tooltip"
                                       title="添加关键词"><i class="glyphicon glyphicon-plus""></i></a>
                                </div>
                                <div class="help-block col-sm-8">字数不得多于30个汉字</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="keywordRespondContent">
                        <label class="col-sm-2 control-label">回复内容</label>

                        <div class="col-sm-10">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#keywordText" data-toggle="tab" data-type="text">文字</a></li>
                                <li data-type="image" data-toggle="modal" data-target="#resourceViewer"><a
                                        href="#keywordImages" data-toggle="tab">图片</a></li>
                                <li data-type="voice" data-toggle="modal" data-target="#resourceViewer"><a
                                        href="#keywordVoices" data-toggle="tab">声音</a></li>
                                <li data-type="video" data-toggle="modal" data-target="#resourceViewer"><a
                                        href="#keywordVideos" data-toggle="tab">视频</a></li>
                                <li data-type="news" data-toggle="modal" data-target="#resourceViewer">
                                    <a href="#keywordNews" data-toggle="tab" data-type="news">图文</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content msg_sender">
                                <div class="tab-pane fade in active" id="keywordText" data-tab="text">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area js_editorArea" contenteditable="true"
                                                 style="overflow-y: auto; overflow-x: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordImages" data-tab="image">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area js_editorArea" contenteditable="true"
                                                 style="overflow-y: auto; overflow-x: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordVoices" data-tab="voice">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area js_editorArea" contenteditable="true"
                                                 style="overflow-y: auto; overflow-x: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordVideos" data-tab="video">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area js_editorArea" contenteditable="true"
                                                 style="overflow-y: auto; overflow-x: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordNews" data-tab="news">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area js_editorArea" contenteditable="true"
                                                 style="overflow-y: auto; overflow-x: hidden;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="keywordRuleOK">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<?php $this->partial('base/widget/resource'); ?>

<script type="text/javascript">
    seajs.use('app/module/wechat/wechat.mass', function(message) {
        message.init();
    });
</script>
