<div class="page-header">
    <h1>历史消息</h1>
</div>

<table class="list">
    <thead>
    <tr class="head">
        <th width="100">来自</th>
        <th width="340">内容</th>
        <th width="120">时间</th>
        <th width="340">回复内容</th>
        <th width="100">管理</th>
    </tr>
    </thead>
    <tbody>
    <?php if (count($list) > 0): ?>
        <?php foreach ($list as $item): ?>
            <tr class="odd gradeX">
                <td><?php echo $item->user_info['nickname']; ?></td>
                <td><?php
                    switch ($item->type) {
                        case \Components\WeChat\ResourceManager::MESSAGE_TYPE_TEXT:
                        {
                            echo $item->message;
                            break;
                        }
                        /*case \Components\WeChat\ResourceManager::MESSAGE_TYPE_IMAGE:
                        {
                            echo $body->PicUrl;
                            break;
                        }*/
                    }
                    ?></td>
                <td><?php echo date('Y-m-d H:i', intval($item->received)); ?></td>
                <td><?php if (isset($item->respond)): echo $item->respond; endif; ?></td>
                <td>
                    <a class="item-respond" href="javascript:;" data-toggle="modal" data-target="#replyModal" data-id="<?php echo $item->id;?>"><i class="icon icon-reply"></i>回复</a>
<!--                    <a class="item-remove" href="javascript:;" data-id="<?php /*echo $item->id;*/?>"><i class="icon icon-trash"></i>删除</a>
-->                </td>
            </tr>
        <?php endforeach; ?>
    <?php else: ?>
        <tr class="even gradeC">
            <td colspan="9">还没有历史消息</td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right" id="dataTables-example_paginate">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </div>
    </div>
</div>



<div class="modal fade" id="replyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">消息回复</h4>
            </div>
            <div class="modal-body" id="resourceList">
                <form class="form-horizontal" role="form">
                    <input type="hidden" name="kid" id="kid" value=""/>
                    <div class="form-group" id="keywordRespondContent">

                        <div class="col-sm-12">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active" data-type="text"><a href="#keywordText" data-toggle="tab" data-type="text">文字</a></li>
                                <li data-type="news">
                                    <a href="#keywordNews" data-toggle="tab" data-type="news">图文</a>
                                </li>
                                <li data-type="product">
                                    <a href="#keywordProduct" data-toggle="tab" data-type="product">商品</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content msg_sender">
                                <div class="tab-pane fade in active" id="keywordText" data-tab="text">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <textarea id="keywordRespondText" style="width: 100%; min-height: 200px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordNews" data-tab="news">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="height: 200px;">
                                                <a class="btn btn-sm btn-primary pull-right" id="addKeywordNewsBtn" href="javascript:;">回复图文</a>
                                                <ul class="list list-unstyled" id="keywordRespondNewsItems" style="overflow-y: auto;  display: block; height: 160px;">
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="keywordDefaultNewsLink" value="" class="input-small" >
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="keywordNewsLinkBtn" data-rel="#keywordDefaultNewsLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordProduct" data-tab="product">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="height: 200px;">
                                                <a class="btn btn-sm btn-primary pull-right" id="addKeywordProductBtn" href="javascript:;">回复商品</a>
                                                <ul class="list list-unstyled" id="keywordRespondProductItems" style="overflow-y: auto;  display: block; height: 160px;">
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="keywordDefaultProductLink" value="" class="input-small" >
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="keywordProductLinkBtn" data-rel="#keywordDefaultProductLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="keywordRuleOK">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<?php $this->partial('base/widget/resource'); ?>

<script type="text/javascript">
    seajs.use('app/module/wechat/wechat.message', function(message) {
        message.init();
    });
</script>

