<?php
use Components\WeChat\MessageManager;
use Components\WeChat\ResourceManager;
?>

<div class="page-header"><h1>回复消息设置</h1></div>
{{ content() }}
<!-- Nav tabs -->
<input type="hidden" id="messageSettingJson" value='<?php echo $messageSettingJson;?>'/>
<input type="hidden" id="respondType" value="<?php echo $respond_type; ?>"/>
<input type="hidden" id="messageType" value="<?php echo $message_type;?>"/>
<input type="hidden" id="messageData" value=''/>
<div class="container-row">
    <div class="tabbable tabs-left">
        <!-- right nav -->
        <ul class="nav nav-tabs" id="tabMsgSetting">
            <li <?php if(isset($respond_type) && $respond_type == MessageManager::EVENT_TYPE_SUBSCRIBE):?>class="active"<?php endif;?>><a href="#messageBox" data-toggle="tab" id="subscribe">被关注时</a></li>
            <li <?php if(isset($respond_type) && $respond_type == MessageManager::EVENT_TYPE_NORMAL):?>class="active"<?php endif;?>><a href="#messageBox" data-toggle="tab" id="normal">接收到消息时</a></li>
            <li <?php if(isset($respond_type) && $respond_type == MessageManager::EVENT_TYPE_KEYWORD):?>class="active"<?php endif;?>><a href="#keywordsBox" data-toggle="tab" id="keywords">关键词回复</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane <?php if(!isset($respond_type) || $respond_type != MessageManager::EVENT_TYPE_KEYWORD):?>active<?php endif;?>" id="messageBox">
                <div class="col-xs-8">
                    <div class="msg_tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_TEXT):?>class="active"<?php endif;?> data-type="text"><a href="#messageText" data-toggle="tab" data-type="text">文字</a></li>
                            <li <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_NEWS):?>class="active"<?php endif;?>data-type="news"><a
                                    href="#messageNews"
                                    data-toggle="tab">图文</a>
                            </li>
                            <li <?php if(isset($message_type)  && $message_type == ResourceManager::MESSAGE_TYPE_PRODUCT):?>class="active"<?php endif;?> data-type="product"><a
                                    href="#messageProduct"
                                    data-toggle="tab">商品</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="msg_sender" id="js_msgSender">
                            <div class="tab-content">
                                <div class="tab-pane fade <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_TEXT):?>in active<?php endif;?>" id="messageText" data-tab="text">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <textarea id="subscribeText" style="width: 100%; min-height: 200px;"><?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_TEXT && isset($message) && isset($message['value'])):echo $message['value']; endif;?></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_NEWS):?>in active<?php endif;?>" id="messageNews" data-tab="news">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="height: 200px">
                                                <a class="btn btn-sm btn-primary pull-right" id="addNewsBtn" href="javascript:;">设置图文</a>
                                                <ul class="list list-unstyled" id="newsItems" style="overflow-y: auto;  display: block; height: 160px;">
                                                <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_NEWS && count($message['values']) > 0):?>
                                                <?php foreach($message['values'] as $item): ?>
                                                    <li data-id="<?php echo $item['value'];?>">
                                                        <span class="list-thumb"><img src="<?php echo $item['image'];?>"/></span>
                                                        <span class="list-title"><?php echo $item['title'];?></span>
                                                    </li>
                                                <?php endforeach; ?>
                                                <?php else:?>
                                                    还没有设置图文消息
                                                <?php endif;?>
                                                </ul>
                                             </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="defaultNewsLink" value="<?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_NEWS && isset($message['default_link']) && strlen($message['default_link'])): echo $message['default_link']; endif;?>" class="input-small" >
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="newsLinkBtn" data-rel="#defaultNewsLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_PRODUCT):?>in active<?php endif;?>" id="messageProduct" data-tab="product">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="height: 200px">
                                                <a class="btn btn-sm btn-primary pull-right" id="addProductBtn" href="javascript:;">设置商品</a>
                                                <ul class="list list-unstyled" id="productItems" style="overflow-y: auto;  display: block; height: 160px;">
                                                    <?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_PRODUCT && count($message['values']) > 0):?>
                                                        <?php foreach($message['values'] as $item): ?>
                                                            <li data-id="<?php echo $item['value'];?>">
                                                                <span class="list-thumb"><img src="<?php echo $item['image'];?>"/></span>
                                                                <span class="list-title"><?php echo $item['title'];?></span>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    <?php else:?>
                                                        还没有设置商品消息
                                                    <?php endif;?>
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="defaultProductLink" value="<?php if(isset($message_type) && $message_type == ResourceManager::MESSAGE_TYPE_PRODUCT && isset($message['default_link']) && strlen($message['default_link'])): echo $message['default_link']; endif;?>" class="input-small" >
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="productLinkBtn" data-rel="#defaultProductLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <span class=".col-md-2"><button class="btn btn-primary btn-sm" id="saveMsgBtn">保存</button></span>
                    <span class=".col-md-2"><input type="reset" class="btn btn-sm" value="删除"/></span>
                </div>
                <div class="col-xs-4">
                    <p class="alert alert-danger" id="warningMsg" <?php if(isset($respond_type) && $respond_type == MessageManager::EVENT_TYPE_SUBSCRIBE):?>style="display: none;"<?php endif;?>>如果已经开启客服功能，则此功能自动失效！</p>
                    <p class="alert alert-warning">
                        使用说明：<br/>
                        图文和商品信息不得超过10条
                    </p>
                </div>
            </div>
            <?php if(isset($respond_type) && $respond_type == MessageManager::EVENT_TYPE_KEYWORD):?>
            <div class="tab-pane active" id="keywordsBox">
                <div class="col-sm-8">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="smaller">
                                关键词规则列表
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <ul class="keywords_rule_list list-unstyled" id="keywordRuleList">
                                    {% if message|length > 0 %}
                                    {% for item in message %}
                                    <li id="{{item['id']}}">
                                        <div class="panel panel-default">
                                            <div class="panel-header">
                                <span class="col-sm-10">
                                    <h4>{{item['name']}}</h4>
                                </span>
                                <span class="col-sm-2">
                                    <a href="#" class="pull-right" data-remove="{{item['id']}}"><i
                                            class="icon icon-trash"></i></a>
                                    <a href="#" class="pull-right keyword-item-edit" data-id="{{item['id']}}"
                                       data-data='{{item|json_encode}}' data-toggle="modal"
                                       data-target="#keywordRuleModal"><i class="icon icon-pencil"></i></a>
                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-sm-12">
                                                    {% for keyword in item['keywords']|json_decode %}
                                                    <span>关键词：<code>{{keyword.keyword}}</code> 全文匹配：{% if keyword.full_text == 1%}是{% else %} 否 {% endif %}</span>
                                                    {%if not loop.last %}|{% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-12">
                                                    <h4>回复设置</h4>
                                                    <label>消息类型：</label>
                                                    {% if item['message_type'] == 'text' %}文本{%
                                                    elseif item['message_type'] == 'news' %}图文{% elseif
                                                    item['message_type']
                                                    == 'product' %}商品{% endif %}
                                                    <label>具体内容：</label>
                                                    {% if item['message_type'] == 'text' %}
                                                    <pre>{{item['respond_message']}}</pre>
                                                    {% elseif item['message_type'] == 'news' or item['message_type'] ==
                                                    'product' %}
                                                    <div class="container-row">
                                                    <ul class="list list-unstyled">
                                                        {% for msg in item['message'] %}
                                                        <li><div class="row col-sm-12"><span class="col-sm-4"><img src="{{msg['image']}}"
                                                                                        style="width: 50px; height: 40px;"></span><span
                                                                class="col-sm-8">{{msg['title']}}</span></div></li>
                                                        {% endfor %}
                                                    </ul>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-12">
                                                    <h4>默认链接</h4>{{ item['default_link'] }}
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button class="pull-right btn btn-primary btn-sm" id="addKeywordRule" data-toggle="modal"
                            data-target="#keywordRuleModal">
                        添加规则
                    </button>
                    <p class="alert alert-info">设置关键词规则，自动匹配回复内容

                    </p>
                </div>
            </div>
            <?php endif;?>
            <!-- left end -->
        </div>
    </div>
</div>
<!-- container end -->

<div class="modal fade" id="keywordRuleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">规则管理</h4>
            </div>
            <div class="modal-body" id="resourceList">
                <form class="form-horizontal" role="form">
                    <input type="hidden" name="kid" id="kid" value=""/>

                    <div class="form-group">
                        <label for="ruleName" class="col-sm-2 control-label">规则名称</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ruleName" placeholder="规则名称">
                        </div>
                    </div>
                    <div class="form-group" id="keywordListBox">
                        <label class="col-sm-2 control-label">关键词</label>

                        <div class="col-sm-10" id="keywordList">
                            <div class="keywordItem" id="keywordDefaultBox">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="keywordDefault" data-keyword="1"
                                           placeholder="关键词">
                                </div>
                                <div class="checkbox col-sm-4">
                                    <label>
                                        <input type="checkbox" id="fullTextDefault" value="full_text"> 全文匹配
                                    </label>
                                    <a href="#" class="alert-success" id="addKeyword" data-toggle="tooltip"
                                       title="添加关键词"><i class="icon icon-plus""></i></a>
                                </div>
                                <div class="help-block col-sm-8">字数不得多于30个汉字</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="keywordRespondContent">
                        <label class="col-sm-2 control-label">回复内容</label>

                        <div class="col-sm-10">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active" data-type="text"><a href="#keywordText" data-toggle="tab" data-type="text">文字</a></li>
                                <li data-type="news">
                                    <a href="#keywordNews" data-toggle="tab" data-type="news">图文</a>
                                </li>
                                <li data-type="product">
                                    <a href="#keywordProduct" data-toggle="tab" data-type="product">商品</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content msg_sender">
                                <div class="tab-pane fade in active" id="keywordText" data-tab="text">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <textarea id="keywordRespondText" style="width: 100%; min-height: 200px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordNews" data-tab="news">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="height: 200px;">
                                                <a class="btn btn-sm btn-primary pull-right" id="addKeywordNewsBtn" href="javascript:;">设置图文</a>
                                                <ul class="list list-unstyled" id="keywordRespondNewsItems" style="overflow-y: auto;  display: block; height: 160px;">
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="keywordDefaultNewsLink" value="" class="input-small" >
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="keywordNewsLinkBtn" data-rel="#keywordDefaultNewsLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="keywordProduct" data-tab="product">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="height: 200px;">
                                                <a class="btn btn-sm btn-primary pull-right" id="addKeywordProductBtn" href="javascript:;">设置商品</a>
                                                <ul class="list list-unstyled" id="keywordRespondProductItems" style="overflow-y: auto;  display: block; height: 160px;">
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="keywordDefaultProductLink" value="" class="input-small" >
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="keywordProductLinkBtn" data-rel="#keywordDefaultProductLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="keywordRuleOK">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<?php $this->partial('base/widget/resource'); ?>
<script type="text/javascript">
    seajs.use('app/module/wechat/wechat.respond', function(message) {
        message.init();
    });
</script>

