<?php
use Components\TplManager;
use Library\O2O\O2oShareManager;

$user_id = \Components\UserStatus::getUid();
$param = O2oShareManager::init()->getShareParam($item['id']);
if ($user_id) {
    ?>
    <?php
    TplManager::init(CUR_APP_ID)->baseTpl('widget/share');
    $url = O2oShareManager::init(CUR_APP_ID)->generateShareUrl(O2oShareManager::SHARE_TYPE_ITEM, $item['id']);
    if ($url) { //$url
        ?>
        <a href="javascript:;" class="itemShare goShareUrlBtn"
           data-url="<?php echo urlencode($url); ?>">推广返现(￥<?php echo $param['cash']; ?>元)</a>
    <?php } ?>
<?php } else { ?>
    <a href="javascript:;" class="itemShareNoLogin goShareBtn">推广返现</a>
<?php } ?>
<script>
    seajs.use(['app/app.user'], function (user) {
        // open share widget
        $(document).on('click', '.itemShareNoLogin', function () {
            window.location.href = '/user/login?go=<?php echo urlencode($this->uri->baseUrl('/shop/item/'.\Util\EasyEncrypt::encode($item['id']))) ;?>';
        });
        $(document).on('click', '.goShareUrlBtn', function (e) {
            var url = $(this).attr('data-url');
            window.location.href = decodeURIComponent(url);
            e.stopImmediatePropagation();
        });
    });
</script>