<?php

$imgs = $item['imgs'];
if ($imgs) {
    $images = explode(';', $imgs);
    ?>
    <style>
        #item-swiper {

            position: relative;
            /*overflow: hidden;*/
            width: 100%;
        }

        #item-swiper img {
            /*height: 100%;*/
        }

        #item-swiper .pagination {
            position: absolute;
            z-index: 20;
            left: 10px;
            bottom: 10px;
        }

        #item-swiper .pagination .swiper-pagination-switch {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: #555;
            margin-right: 5px;
            opacity: 0.8;
            border: 1px solid #fff;
            cursor: pointer;
        }

        #item-swiper .pagination .swiper-active-switch {
            background: #fff;
        }

        #item-swiper .pagination .swiper-dynamic-links {
            text-align: center;
        }

        #item-swiper .pagination .swiper-dynamic-links a {
            display: inline-block;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
            margin: 5px;
            font-size: 12px;
            text-decoration: none;
            color: #333;
            background: #eee;
        }
    </style>
    <div class="swiper-container" id="item-swiper">
        <div class="swiper-wrapper">
            <?php foreach ($images as $img) {
                if ($img) {
                    ?>
                    <div class="swiper-slide">
                        <img src="<?php echo \Util\ImgSize::getSize($img, 600, 600); ?>" style="width:100%;">
                    </div>
                <?php
                }
            } ?>
        </div>
        <div class="pagination"></div>
    </div>
<?php } else { ?>
    <div>
        <img src="<?php echo \Util\ImgSize::getSize($item['thumb'], 600, 300); ?>" alt=""/>
    </div>
<?php } ?>
<script>
    seajs.use('tools/swiper.js', function () {
        var mySwiper = new Swiper('#item-swiper', {
            pagination: '#item-swiper .pagination',
            paginationClickable: true,
            calculateHeight: true,
            resizeReInit: true,
            caculateHeight: true
        })
    });
</script>