<style>
    .comment_wrap {
        width: 98%;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .comment_wrap .username {
        font-weight: bold;
        color: #73c04d;
    }

    .comment_wrap .username b {
        margin: 0px 5px;
        color: #000;
    }

    .comment_wrap .admin {
        color: #0053d1;
    }

    .comment_wrap .content {
        color: #333;
        line-height: 20px;
        vertical-align: middle;
    }

    .comment_wrap .ptime {
        font-size: 10px;
        color: #666;
        padding-left: 5px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
</style>
<?php
use Models\Product\ProductComment;


if ($item) {
    $page = $this->request->get('p');
    $rank = $this->request->get('r');
    if ($rank >= 0 && $rank <= 2) {
        $rank = $rank + 0;
    } else {
        $rank = 3;
    }

    $where = "product_id='" . $item['id'] . "' AND is_show='1'";
    $count = ProductComment::count($where);

    $curpage = $page <= 0 ? 0 : $page - 1;
    $limit = 3;
    $res = $this->modelsManager->createBuilder()
        ->addFrom('\\Models\\Product\\ProductComment', 'pc')
        ->leftJoin('\\Models\\User\\Users', 'pc.user_id=u.id', 'u')
        ->andWhere("pc.product_id=" . $item['id'] . " and pc.is_show=1")
        ->columns('pc.id,pc.content,pc.created,pc.rank,u.username')
        ->orderBy('pc.created DESC')
        ->getQuery()
        ->execute();

    $res = $res ? $res->toArray() : [];
    foreach ($res as $k => $v) {

        $son = $this->modelsManager->createBuilder()
            ->addFrom('\\Models\\Product\\ProductComment', 'pc')
            ->leftJoin('\\Models\\Customer\\Customers', 'pc.user_id=u.id', 'u')
            ->andWhere("pc.product_id=" . $item['id'] . " AND pc.parent_id <> 0 AND pc.parent_id='" . $v['id'] . "'")
            ->columns('pc.id,pc.content,pc.created,pc.rank,u.name')
            ->orderBy('pc.created DESC')
            ->getQuery()
            ->execute();

        if ($son) {
            $res[$k]['sonComment'] = $son->toArray();
        } else {
            $res[$k]['sonComment'] = [];
        }
    }

    // $res = ProductComment::find(array($where, "order" => "created desc", "limit" => $curpage * $limit . "," . $limit));

    //  Pagination::instance($this->view)->showPage($page, $count, $limit);

    if ($res) {
        foreach ($res as $item) {
            ?>
            <ul class="comment_wrap">
                <li>
                    <label class="username"><?php echo $item['username']; ?><b>:</b></label>
                    <span class="comment-rank"
                          style="display: inline-block; padding: 2px 5px; background-color:#0b8e00; border-radius: 2px; color:#fff"> <?php if ($item['rank'] == 2) {
                            echo "好评";
                        } else if ($item['rank'] == 2) {
                            echo "中评";
                        } else {
                            echo "差评";
                        } ?></span>

                    <p class="content"> <?php echo $item['content']; ?></p>

                    <p class="ptime"><span><?php echo date('Y年m月d日 H时i分', $item['created']); ?></span></p>
                <li>
                    <?php if ($item['sonComment']){
                    foreach ($item['sonComment'] as $son){
                    ?>
                <li class="replay">
                    <p class="content"><label class="username admin"><?php echo $son['name']; ?>
                            <b>:</b></label> <?php echo $son['content']; ?> </p>

                    <p class="ptime"><span><?php echo date('Y年m月d日 H时i分', $son['created']); ?></span></p>
                </li>
                <?php
                }
                }?>
            </ul>
        <?php } ?>
    <?php
    }
}
?>