<?php
use Multiple\Wap\Helper\ShopData;

$item_spec = ShopData::init()->getItemSpec();
if ($item['quantity'] > 0) {
    ?>

    <div class="buy-wrap">

        <div class="product-num">
            <span class="tit">数量</span>

        <span class="num-choose">
            <a href="javascript:;" class="minusBtn"><i class="icon icon-angle-left"></i></a>
            <input type="text" value="1"
                   class="item_quantity"
                   data-id="<?php echo $item['id']; ?>"
                   data-sell_price="<?php echo $item['sell_price']; ?>"
                   data-original_price="<?php echo $item['original_price']; ?>"
                   style="width: 20px;height: 12px;text-align: center;"
                   data-inventory="<?php echo $item['quantity']; ?>"
                />
            <a href="javascript:;" class="plusBtn"><i class="icon icon-angle-right"></i></a>
        </span>

            <span class="inventory">库存 <span class="num"><?php echo $item['quantity']; ?></span> 件</span>
        </div>

        <div class="clear"></div>
        <?php
        if ($item_spec) {
            $spec_data = [];
            foreach ($item_spec as $uniq) {
                $spec_arr = json_decode($uniq['spec_data'], true);

                foreach ($spec_arr as $tmp) {
                    $spec_data[$tmp['spec_id']]['name'] = $tmp['spec_name'];
                    $spec_data[$tmp['spec_id']]['values'][$tmp['key']] = $tmp['val'];
                    $spec_data[$tmp['spec_id']]['spec_unique_key'] = $uniq['spec_unique_key'];
                    $spec_data[$tmp['spec_id']]['sell_price'] = $uniq['sell_price'];
                    $spec_data[$tmp['spec_id']]['original_price'] = $uniq['original_price'];
                    $spec_data[$tmp['spec_id']]['num'] = $uniq['num'];
                    $spec_data[$tmp['spec_id']]['thumb'] = $uniq['thumb'];
                }
            }
            ?>
            <div class="product-spec">
                <input class="spec_all_data" type="hidden"
                       value="<?php echo base64_encode(json_encode($item_spec)); ?>"/>

                <h4 class="tit">
                    商品规格</h4>
                <?php
                foreach ($spec_data as $spec_id => $spec) {
                    ?>
                    <dl class="spec" data-spec_id="<?php echo $spec_id; ?>">
                        <dt style="">
                            <?php echo $spec['name']; ?>：
                        </dt>
                        <dd>
                            <?php
                            if ($spec['values']) {
                                $values = array_unique($spec['values']);
                                foreach ($values as $k => $val) {
                                    ?>
                                    <a href="javascript:;"
                                       class="spec_val"
                                       data-spec_id="<?php echo $spec_id; ?>"
                                       data-key="<?php echo $k; ?>"
                                       data-val="<?php echo $val; ?>"
                                        ><?php echo $val; ?></a>
                                <?php
                                }
                            }
                            ?>
                        </dd>
                    </dl>
                <?php
                } ?>
            </div>
        <?php
        }
        ?>
        <div class="product-btn">
            <a href="javascript:;" class="btn btn-red btn-buy"
               data-has_spec="<?php echo $item_spec ? 'must' : ''; ?>"
               data-id="<?php echo $item['id']; ?>"
                >立即购买</a>

            <a href="javascript:;" class="btn btn-orange btn-addToCart"
               data-has_spec="<?php echo $item_spec ? 'must' : ''; ?>"
               data-customer="<?php echo $item['id']; ?>"
               data-id="<?php echo $item['id']; ?>"
                >加入购物车</a>
        </div>

        <script>
            seajs.use('app/app.shop_cart', function (cart) {
                cart.itemPageInit();
            });
        </script>
    </div>
<?php } else { ?>
    <p>商品库存不足</p>
<?php } ?>