<?php
use Models\Shop\Shop;

$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' and enable=1');
?>
<div id="container" class="container article-wrap">

    <div class="article">

        <div class="article-head">

            <h1 class="article-title"><?php echo $item['name']; ?></h1>

            <div class="mate"><?php echo date('Y-m-d', $item['created']); ?></div>

            <div class="head-logo">
                <table>
                    <tr>
                        <td><img src="<?php echo $store->logo ?>"/></td>
                        <td style="padding-left: 20px; font-size: 16px; vertical-align: middle;">
                            <a href="<?php echo $this->uri->baseUrl('shop/index') ?>"><?php echo $store->name; ?></a>
                        </td>
                    </tr>
                </table>
            </div>

            <?php if ($item['cover']) { ?>
                <div style="text-align: center;display: block;">
                    <img src="<?php echo $item['cover']; ?>" alt="" style=""/>
                </div>
            <?php } ?>

            <div class="article-info clearfix" style="text-align:center;height:28px;">

                <div class="left">
                    <p style="">
                        浏览 <?php echo $item['views'] ?> 次
                    </p>
                </div>

                <div class="right">
                    <span class="font-select">
                        <a href="javascript:;" data-type="small">小</a>
                        <a href="javascript:;" data-type="middle">中</a>
                        <a href="javascript:;" data-type="large">大</a>
                    </span>
                </div>

                <div class="clear"></div>

            </div>

        </div>

        <div class="article-content">
            <?php echo $item['content'] ?>
        </div>

    </div>
</div>
<script>
    $(function () {
        var fontSize = new Array();
        fontSize['small'] = '10pt';
        fontSize['middle'] = '13pt';
        fontSize['large'] = '16pt';
        $('.font-select a').click(function () {
            var type = $(this).attr('data-type');
            $('.article-content').css({"font-size": fontSize[type]});
        });
    })
</script>
