<?php
$list = \Multiple\Wap\Helper\SiteData::init()->getPageData();

?>
<div id="container" class="container">
    <?php
    if ($list) {
        foreach ($list as $item) {
            ?>
            <div class="item-widget about-list">
                <a href="<?php echo $this->uri->appUrl('about/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                    <h2 class="title"><?php echo $item['name']; ?></h2>

                    <p class="mate">
                        <?php echo date('Y 年 m 月 d 日', $item['created']); ?>
                    </p>


                    <p class="cover">
                        <img src="<?php echo $item['cover']; ?>"/>
                    </p>

                    <div class="intro">

                        <?php echo $item['intro'] ? $item['intro'] : mb_substr(strip_tags($item['content']), 0, 50, 'utf-8'); ?>
                    </div>
                </a>
            </div>
        <?php
        }
    } else {
        ?>
        <p>暂无资料</p>
    <?php } ?>
</div>
