<?php
use Multiple\Wap\Helper\SiteData;

$part = SiteData::init()->getNavs('part');
?>
<div id="part">
    <?php
    if ($part) {
        ?>
        <ul class="list_ul">
            <?php foreach ($part as $k => $item): ?>
                <?php if ($k % 4 == 0): ?>
                    <li class="box">
                <?php endif; ?>
                <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                    <dl>
                        <dd class="<?php echo $item['color']; ?>">
                            <div>
									<span>
										<span class="icon part-bg <?php echo $item['icon'] ?>"></span>
									</span>
                            </div>
                        </dd>
                        <dt>
                            <span><?php echo $item['name'] ?></span>
                        </dt>
                    </dl>
                </a>
                <?php if ($k % 4 == 3): ?>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
            </li>
        </ul>
    <?php } ?>
</div>