<link rel="stylesheet" href="/static/wap/js/tools/player/video-js.min.css"/>
<video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="100%"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup="{}">
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'/>
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'/>
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'/>
    <p class="vjs-no-js">请启用javascript功能！</p>
</video>
<script>
    seajs.use('tools/player/video.js', function () {
        videojs.options.flash.swf = "video-js.swf";
    });
</script>