<?php
use Components\Product\ProductManager;
use Multiple\Wap\Helper\ShopData;
use Util\EasyEncrypt;

$sort = isset($_GET['sort']) && ($_GET['sort'] == 'desc') ? 'asc' : 'desc';
$order = isset($_GET['order']) ? $_GET['order'] : 'is_hot';
$order = in_array($order, array('is_hot', 'is_recommended', 'sell_price', 'created')) ? $order : 'is_recommended';
$id = EasyEncrypt::decode($this->dispatcher->getParam(0));

$page = $this->request->get('p');
$curpage = $page <= 0 ? 0 : $page - 1;
$limit = 10;
if ($id) {
    $sub = \Models\Product\ProductCat::find('customer_id = ' . CUR_APP_ID . ' and parent_id=' . $id);
    $cids = array($id);
    if ($sub) {
        $sub = $sub->toArray();
        $arr = array_column($sub, 'id');
        $cids = array_merge($arr, $cids);
    }
    $where = 'is_active=1 and customer_id=' . CUR_APP_ID . ' and cid in(' . implode(',', $cids) . ')';
    $cat = ProductManager::instance()->getCat($id, CUR_APP_ID);
    $list = ShopData::init()->getList($where, $curpage, $limit);
    // 设置分页
    \Util\Pagination::instance($this->view)->showPage($page, \Models\Product\Product::count($where), $limit);
    if ($list) {
        ?>
        <div id="container" class="container">
            <p class="show-path">
                <i class="icon icon-home"></i>
                <a href="<?php echo $this->uri->appUrl(''); ?>">首页</a>
                <i class="icon icon-double-angle-right"></i>
                <a href="<?php echo $this->uri->appUrl('shop'); ?>">店铺中心</a>
                <i class="icon icon-double-angle-right"></i>
                <?php echo $cat['name']; ?>
            </p>

            <div class="item-widget">
                <ul class="shop-item-list list-x">
                    <?php
                    if ($list) {
                        foreach ($list as $item) {
                            ?>
                            <li>
                                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                                    <dl class="item">
                                        <dt class="cover">
                                            <img
                                                src="/static/wap/images/default/loading.gif"
                                                class="ui-imglazyload"
                                                data-original="<?php echo \Util\ImgSize::getSize($item['thumb'], 160); ?>">
                                        </dt>
                                        <dd class="name"><?php echo $item['name']; ?></dd>
                                        <dd class="price">
                                            <span class="">&yen;<?php echo $item['sell_price']; ?></span>
                                        </dd>
                                    </dl>
                                </a>
                            </li>
                        <?php
                        }
                    } else {
                        ?>
                        <li>暂无商品信息</li>
                    <?php
                    }
                    ?>
                </ul>
            </div>
            <div>
                <?php \Util\Pagination::instance($this->view)->display($this->view, false); ?>
            </div>
        </div>
    <?php
    }
} ?>