<?php
$list = Components\Product\ProductManager::instance()->getCategories(CUR_APP_ID);
?>

<div id="container" class="container">

    <p class="show-path">
        <i class="icon icon-home"></i>
        <a href="<?php echo $this->uri->appUrl(''); ?>">首页</a>
        <i class="icon icon-double-angle-right"></i>
        <a href="<?php echo $this->uri->appUrl('shop'); ?>">店铺中心</a>
        <i class="icon icon-double-angle-right"></i> 商品类目
    </p>

    <div class="item-widget">
        <h2 class="widget-title">商品类目</h2>

        <ul id="cat-list" class="widget-content">
            <?php
            if ($cats) {
                foreach ($cats as $cat) {
                    ?>
                    <li>
                        <a href="<?php echo $this->uri->baseUrl('shop/cat/' . \Util\EasyEncrypt::encode($cat['id'])); ?>"><?php echo $cat['name']; ?></a>
                    </li>
                <?php
                }
            } else {
                echo '该店尚未发布商品类目';
            }
            ?>
        </ul>
    </div>
</div>