<?php
use Multiple\Wap\Helper\ShopData;

$shop = ShopData::init()->getStore();
$productRec = ShopData::init()->getList('is_recommended=1 and is_active=1 and customer_id=' . CUR_APP_ID, 0, 10);
$productCount = ShopData::init()->getCount();
$cats = ShopData::init()->getCatalog();
?>
<div id="container" class="container">
    <dl class="shop-info">
        <dt><img src="<?php echo $shop['logo']; ?>" alt=""/></dt>
        <dd>
            <h2 class="shop-name"><?php echo $shop['name']; ?></h2>

            <p>客服电话： <?php echo $shop['phone']; ?></p>

            <p>所在区域： <?php echo $shop['province'] . ' ' . $shop['city']; ?></p>
        </dd>
    </dl>
    <div class="clear"></div>
    <div class="cont">
        <div class="item-widget">
            <h2 class="widget-title">
                店铺描述</h2>

            <div class="widget-content">
                <?php echo $shop['introduction']; ?>
            </div>
        </div>

        <div class="item-widget">
            <h2 class="widget-title">
                详细地址</h2>

            <div class="widget-content">
                <?php echo $shop['address']; ?>
            </div>
        </div>

        <div class="item-widget">
            <h2 class="widget-title">商品类目</h2>

            <ul id="cat-list" class="widget-content">
                <?php
                if ($cats) {
                    foreach ($cats as $cat) {
                        ?>
                        <li>
                            <a href="<?php echo $this->uri->baseUrl('shop/cat/' . \Util\EasyEncrypt::encode($cat['id'])); ?>"><?php echo $cat['name']; ?></a>
                        </li>
                    <?php
                    }
                } else {
                    echo '该店尚未发布商品类目';
                }
                ?>
            </ul>
        </div>

    </div>
</div>
