<?php
use Multiple\Wap\Helper\ShopData;


$item = ShopData::init()->getItem();
if ($item) {
    $attrs = ShopData::init()->getItemAttr($item['id']);

    $brand = ShopData::init()->getItemBrand($item['brand_id']);
    $desc = $item['detail'];
    ?>
    <div id="container" class="container" style="background: #fcfcfc;">
        <p class="show-path">
            <i class="icon icon-home"></i>
            <a href="<?php echo $this->uri->appUrl(''); ?>">首页</a>
            <i class="icon icon-double-angle-right"></i>
            <a href="<?php echo $this->uri->appUrl('shop'); ?>">店铺中心</a>
            <i class="icon icon-double-angle-right"></i>
            商品详情
        </p>

        <div class="item-widget">
            <h4 class="widget-title">
                <?php echo $item['name']; ?>
            </h4>

            <div class="widget-content">
                <img src="<?php echo $item['thumb']; ?>" alt=""/>

            </div>

            <p>
                单价： <span class="red" style="color: #f33">&yen; <em
                        class="now_price"><?php echo $item['sell_price']; ?></em></span>
            </p>

            <?php
            include MODULE_PATH . "/Views/base/shop/partial/item_buy.phtml";
            ?>
            <div class="shop-info-wrap">
                <?php
                include MODULE_PATH . "/Views/base/shop/partial/item_share.phtml";
                ?>

                <a href="<?php echo $this->uri->baseUrl('shop'); ?>" class="btn-shop">进入店铺<i class="arr_r_s"></i></a>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <?php if ($brand || $attrs) { ?>
            <div class="item-widget">
                <?php if ($brand) { ?>
                    <h4 class="widget-title">
                        品牌名称
                    </h4>

                    <p class="widget-content">
                        <?php echo $brand['name']; ?>
                    </p>
                <?php } ?>
                <?php if ($attrs) { ?>
                    <p class="widget-title">
                        <em>产品参数</em>
                    </p>

                    <ul id="J_AttrUL" class="widget-content">
                        <?php foreach ($attrs as $attr) {

                            ?>
                            <li><?php echo $attr['attr_name']; ?>：<?php echo $attr['attr_val']; ?></li>
                            <!-- 健字号相关-->
                        <?php
                        }?>
                    </ul>
                <?php
                }
                ?>
            </div>
        <?php } ?>
        <div class="item-widget">
            <h4 class="widget-title">商品详情</h4>


            <div class="widget-content" style="height: auto;">
                <?php echo $item['detail']; ?>
            </div>
        </div>
    </div>
<?php
} else {
    ?>
    <p>商品未找到！</p>
<?php } ?>