<div id="container" class="container">

    <div class="search item-widget">

        <form id="form" action="<?php echo $this->uri->baseUrl('shop/all') ?>" method="get">
            <table class="searchForm">
                <tr>
                    <td>
                        <div class="find">
                            <i class="icon icon-search searchIcon"></i>
                            <input type="text" name="keyword" class="iText"
                                   placeholder="请输入关键字"/></div>
                    </td>
                    <td width="40"><a href="javascript:history.back(-1);">取消</a></td>
                </tr>
            </table>
        </form>

        <div class="keywords">
            <div class="title">热门推荐</div>
            <div class="wordlist">
                <?php
                $keywords = $store->keywords;
                if (!empty($keywords)) {
                    $words = explode(',', $keywords);
                }
                ?>
                <ul>
                    <?php if (isset($words) && count($words) > 0): ?>
                        <?php foreach ($words as $word): ?>
                            <li>
                                <a href="<?php echo $this->uri->baseUrl('shop/all' . "/?keyword=" . $word); ?>"><?php echo $word ?></a>
                            </li>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </div>

</div>
