<link rel="stylesheet" href="/static/home/pc/estt/css/list.css"/>
<div class="list_banner">
<a href="/account"><div class="list_banner_pic"></div></a>
<div class="list_jcyx">
    <div class="list_jcyx_w">

        <?php $this->view->partial('base/list'); ?>

        <!--------   项目服务的产品部分  --------->
        <div class="clear"></div>
    </div>
    <div class="list_line"></div>
</div>
<!-- list_jcyx end-->
<!--------   项目服务的产品部分  --------->
<div id="product">
<div id="product_top">
    <div class="top_text">
        <ul>
            <li class="serve_tab fst active" data-tab="all">全部</li>
            <li class="serve_tab" data-tab="ok">已开发</li>
            <li class="serve_tab end" data-tab="ing">待开发</li>
        </ul>
    </div>

</div>
<div id="product_left" class="left">
    <ul>
        <li data-target="position_1" data-toggle="scroll-spy" data-type="nav">第<br/>三<br/>方<br/>绑<br/>定</li>
        <li data-target="position_2" data-toggle="scroll-spy" data-type="nav"><br/>微<br/>网<br/>站</li>
        <li data-target="position_3" data-toggle="scroll-spy" data-type="nav"><br/>微<br/>商<br/>城</li>
        <li data-target="position_4" data-toggle="scroll-spy" data-type="nav"><br/>C<br/>R<br/>M</li>
        <li data-target="position_5" data-toggle="scroll-spy" data-type="nav"><br/>微<br/>营<br/>销</li>
        <li data-target="position_6" data-toggle="scroll-spy" data-type="nav"><br/>微<br/>行<br/>业</li>
    </ul>
</div>
<div id="product_right" class="right">
<!*******************************     dev1   ***********************>
<?php $this->partial('func/list/all');?>

</div><!-- list_banner end--></div>

