<style>
    .icon-pkg,.icon-example,.task,.task-folder{
        background: url('http://img04.taobaocdn.com/tps/i4/T12.xMFiNXXXanXMzg-20-680.gif') no-repeat -999px -999px;
    }

    .icon-pkg{
        background-position: 0 0;
    }

    .icon-example{
        background-position: 0 -440px;
    }
    .bui-tree-item .task-folder{
        background-position: 0 -200px;
    }

    .bui-tree-item .task{
        background-position: 0 -640px;
    }


</style>
<input type="hidden" id="menuClickMessages" value='{{categories|json_encode}}'>
<div class="row">
    <div class="span8 offset3">
        <div class="panel">
            <div class="panel-header clearfix">
                <h4 class="pull-left">双击编辑分类<small>暂时只有两级分类有效</small></h4>
                <div id="tbar" class="pull-right"></div>
            </div>
            <div class="panel-body" id="t1">
            </div>

        </div>

    </div>
</div>

<!-- edit modal -->
<div class="modal fade" id="menuInfoModal">
    <form role="form"  id="J_Form" class="form-horizontal">
        <input type="hidden" name="id" id="id" value=""/>
        <input type="hidden" name="pid" id="pid" value="0"/>
        <div class="control-group">
            <label for="text" class="control-label">(<s>*</s>)名称</label>
            <div class="controls">
                <input name="text" id="text"  data-rules="{required: true}" class="input-large" placeholder="分类名称"/>
            </div>
        </div>
        <div class="control-group">
            <label for="meta_keyword" class="control-label">(<s>*</s>)META关键字</label>
            <div class="controls">
                <input name="meta_keyword" id="meta_keyword"  data-rules="{required: true}" class="input-large" placeholder="分类名称"/>
            </div>
        </div>
        <div class="control-group">
            <label for="meta_desc" class="control-label">(<s>*</s>)META描述</label>
            <div class="controls">
                <input name="meta_desc" id="meta_desc"  data-rules="{required: true}" class="input-large" placeholder="分类名称"/>
            </div>
        </div>
        <div class="control-group">
            <label for="desc" class="control-label" data-rules="{minlength:20}">描述</label>
            <div class="controls">
                <textarea class="input-large" name="desc" id="description"></textarea>
            </div>
        </div>
    </form>
</div><!-- /.modal -->
