<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">客户等级列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>说明</th>
                            <th>折扣</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if list.items|length > 0 %}
                        {% for item in list.items %}
                        <tr class="odd gradeX">
                            <td>{{item['name']}}</td>
                            <td>{{item['desc']}}</td>
                            <td>{{item['discount']}}</td>
                            <td>{{item['created']}}</td>
                            <td>
                                <a class="item-edit"><i class="glyphicon glyphicon-pencil"></i>编辑</a>
                                <a class="item-remove"><i class="glyphicon glyphicon-trash"></i>删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="even gradeC">
                            <td colspan="9">还没有客户</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info pagination" id="dataTables-example_info" role="alert" aria-live="polite"
                                 aria-relevant="all">显示 1 至 10 条， 共 {{list.total_items}} 条数据
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.first}}">首页</a>
                                    </li>
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.before}}">上一页</a>
                                    </li>
                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                        <a href="#">{{list.current}}</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.next}}">下一页</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.last}}">末页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /#wrapper -->



