<div class="row-fluid">
    <div class="col-lg-12">
        <h1 class="page-header">用户信息详情
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<?php
$gender = array(
    '0' => '保密',
    'm' => '男',
    'f' => '女',
);
?>
<div>
    {{content()}}
</div>
<div id="user-profile-2" class="user-profile">
<div class="tabbable">
<ul class="nav nav-tabs padding-18">
    <li <?php if(!isset($type)):?> class="active"<?php endif;?>>
        <a data-toggle="tab" href="#home" data-url="/panel/users/detail/<?php echo \Util\EasyEncrypt::encode($user_id);?>">
            <i class="green icon-user bigger-120"></i>
            基本资料
        </a>
    </li>

    <li <?php if(isset($type) && $type == 'o'):?> class="active"<?php endif;?>>
        <a data-toggle="tab" href="#orders" data-url="/panel/users/detail/<?php echo \Util\EasyEncrypt::encode($user_id);?>/o">
            <i class="orange icon-rss bigger-120"></i>
            用户订单
        </a>
    </li>

    <!--<li>
        <a data-toggle="tab" href="#promotion">
            <i class="blue icon-group bigger-120"></i>
            推广分销
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#account">
            <i class="pink icon-picture bigger-120"></i>
            财务信息
        </a>
    </li>-->
</ul>

<div class="tab-content no-border padding-24">
<div id="home" class="tab-pane <?php if(!isset($type)):?> in active<?php endif;?>">
<?php if (isset($user_base)): ?>
    <div class="row">
        <div class="col-xs-12 col-sm-3 center">
        <span class="profile-picture">
            <img class="editable img-responsive" alt="Alex's Avatar"
                 id="avatar2"
                 src="<?php if (isset($user_base) && isset($user_base['avatar']) && strlen($user_base['avatar'])): echo $user_base['avatar'];
                 else: echo ""; endif; ?>"/>
        </span>

            <div class="space space-4"></div>

            <a href="#" class="btn btn-sm btn-block btn-success">
                <span class="bigger-110">总积分：{{user_base['points']}}:可用积分：{{user_base['points_available']}}</span>
            </a>

                <span class="bigger-110">
                    QQ：{% if user_base['qq']|length > 0%}{{user_base['qq']}}{%else%} -- {%endif%}<br/>
                    微信：{%if user_base['weixin']|length > 0%}{{user_base['weixin']}}{%else%} -- {%endif%} <br/>
                    微博：{%if user_base['weibo']|length > 0%}{{user_base['weibo']}}{%else%} -- {%endif%}<br/>
                    支付宝：{%if user_base['alipay']|length > 0%}{{user_base['alipay']}}{%else%} -- {%endif%}
                </span>
        </div>
        <!-- /span -->

        <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
                <span class="middle">基本信息</span>
            </h4>

            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 用户名</div>
                    <div class="profile-info-value">
                        <span>{{user_base['username']}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 所属用户组</div>
                    <div class="profile-info-value">
                            <span>
                            <select name="group" id="user_group" data-uid = '<?php echo $user_base['id']?>'>
                                <option value="0">未分组</option>
                                <?php if (isset($groups) && count($groups) > 0): ?>
                                    <?php foreach ($groups as $g): ?>
                                        <option
                                            value="<?php echo $g->id; ?>" <?php if ($user_base['group_id'] == $g->id): echo "selected"; endif; ?>><?php echo $g->name; ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>

                            </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 手机</div>
                    <div class="profile-info-value">
                        <i class="icon-mobile-phone light-orange bigger-110"></i>
                        <span>{{user_base['phone']}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 性别</div>
                    <div class="profile-info-value">
                        <span>{% if user_base['gender'] == 'm'%}男{%else%}女{%endif%}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 生日</div>
                    <div class="profile-info-value">
                        <span>{% if user_base['birthday'] | length > 0%}{{date("Y-m-d", user_base['birthday'])}}{%else%}未知{%endif%}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 加入时间</div>
                    <div class="profile-info-value">
                        <span>{{date("Y-m-d", user_base['created'])}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> EMAIL</div>
                    <div class="profile-info-value">
                        <?php if (strlen($user_base['email']) > 0): ?><span><a
                                href="mailTo::{{user_base['email']}}"> <?php echo $user_base['email']; ?></a>
                            </span><?php else: echo "未知"; endif; ?>
                    </div>
                </div>
            </div>

            <div class="hr hr-8 dotted"></div>
        </div>
        <!-- /span -->
    </div>
    <div class="space-12"></div>
    <div class="col-xs-12">
        <h4 class="blue">
            <span class="middle">会员卡</span>
        </h4>
        <?php if (isset($vip_card_info)): ?>
            <div class="profile-user-info">
                <div class="col-xs-12 col-sm-6">
                    <h5 class="blue">
                        <span class="middle">固有信息</span>
                    </h5>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 真实姓名</div>

                        <div class="profile-info-value">
                            <span>{{vip_card_info['realname']}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 卡号</div>

                        <div class="profile-info-value">
                            <span>{{vip_card_info['card_no']}}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 绑定手机</div>
                        <div class="profile-info-value">
                            <i class="icon-mobile-phone light-orange bigger-110"></i>
                            <span>{{vip_card_info['phone']}}</span>
                        </div>
                    </div>


                    <div class="profile-info-row">
                        <div class="profile-info-name"> 所处区域</div>
                        <div class="profile-info-value">
                            <i class="icon-map-marker light-orange bigger-110"></i>
                            <?php if (strlen($vip_card_info['province']) > 0 && strlen($vip_card_info['city']) > 0): ?>
                                <span>{{vip_card_info['province']}}</span>
                                <span>{{vip_card_info['city']}}</span>
                            <?php else: ?>
                                未知
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 会员等级</div>
                        <div class="profile-info-value">
                    <span>
                        <select name="group" id="card_grade" data-card-no = '<?php echo $vip_card_info['card_no']?>'>
                            <option value="0">无</option>
                            <?php if (isset($vip_grades) && count($vip_grades) > 0): ?>
                                <?php foreach ($vip_grades as $g): ?>
                                    <option
                                        value="<?php echo $g->id; ?>" <?php if ($vip_card_info['card_grade'] == $g->id): echo "selected"; endif; ?> data-name="<?php echo $g->name;?>"><?php echo $g->name; ?></option>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 生日</div>
                        <div class="profile-info-value">
                            <span>{%if vip_card_info['birthday'] | length > 0%}{{vip_card_info['birthday']}}{%else%}未知{%endif%}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 是否企业</div>
                        <div class="profile-info-value">
                            <span>{%if vip_card_info['is_company']%}是{%else%}否{%endif%}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h5 class="blue">
                        <span class="middle">附加信息</span>
                    </h5>
                    <?php
                    if ($fields) {
                        //|##|25-单选|#|呵呵呵|##|26-多选|#|cc@dd
                        if (isset($user['param']) && $user['param']) {
                            $tmp = explode('|##|', $user['param']);
                            foreach ($tmp as $opt) {
                                if ($opt) {
                                    $kv = explode('|#|', $opt);
                                    if (isset($kv[0]) && isset($kv[1])) {
                                        $id_name = explode('-', $kv[0]);
                                        if (isset($id_name[0]) && isset($id_name[1])) {
                                            $id = $id_name[0];
                                            $param_data[$id] = $kv[1];
                                        }
                                    }
                                }
                            }
                        }
                        ?>
                        <?php foreach ($fields as $key => $value) {
                            if (!$value['column_name']) continue;
                            ?>
                            <div class="profile-info-row">
                                <div class="profile-info-name"><?php echo $value['column_name']; ?></div>

                                <div class="profile-info-value">
                                <span>
                                    <?php if ($value['column_type'] == 'input') { ?>
                                        <?php echo isset($param_data[$value['id']]) ? $param_data[$value['id']] : (strlen($value['column_data']) > 0 ? $value['column_data'] : "未设置") ; ?>
                                    <?php } else if ($value['column_type'] == 'text') { ?>
                                        <?php echo isset($param_data[$value['id']]) ? $param_data[$value['id']] : (strlen($value['column_data']) > 0 ? $value['column_data'] : "未设置"); ?>
                                    <?php } else if ($value['column_type'] == 'single') { ?>
                                        <?php
                                        $option = explode('-', $value['column_data']);
                                        $opt_val = isset($param_data[$value['id']]) ? $param_data[$value['id']] : '';
                                        if ($option) {
                                            foreach ($option as $k => $v) {
                                                if ($v && $opt_val == $v) {
                                                    echo "<label>", $v, "</label>";
                                                }
                                            }
                                        } ?>
                                    <?php } else if ($value['column_type'] == 'multi') { ?>
                                        <?php
                                        $multi = '';
                                        $checkout = explode('-', $value['column_data']);
                                        $multi_val = isset($param_data[$value['id']]) ? $param_data[$value['id']] : '';
                                        if ($multi_val) {
                                            $multi = explode('@', $multi_val);
                                        }
                                        foreach ($checkout as $k => $v) {
                                            if ($v && $multi && in_array($v, $multi)) {
                                                echo "<label>", $v, "</label>";
                                            }
                                        }
                                        ?>
                                    <?php }  else { echo "未知"; } ?>
                                </span>
                                </div>
                            </div>
                        <?php
                        }
                        ?>
                    <?php } ?>
                </div>
            </div>
        <?php else: ?>
            <div class="profile-user-info">
                该用户还没有申请会员卡<!--，<a href="<?php /*echo $this->uri->moduleUri("vipcard/setCard");*/?>" target="_blank">手动发卡?</a>-->
            </div>
        <?php endif; ?>

    </div>
<?php endif; ?>
<!-- /row-fluid -->
</div>
<!-- #home -->

<div id="orders" class="tab-pane <?php if(isset($type) && $type== 'o'):?>in active<?php endif;?>">
    <div class="profile-feed row-fluid">
        <div class="span12">
            <table class="list">
                <thead>
                <tr class="head">
                    <th>订单编号</th>
                    <th>订单金额</th>
                    <th style="width: 100px;">实付金额</th>
                    <th>邮费</th>
                    <th>付款信息</th>
                    <th>收获地址</th>
                    <th>商品信息</th>
                    <th>发货信息</th>
                    <th>状态</th>
                    <th>下单时间</th>
                    <th>管理</th>
                </tr>
                </thead>
                <tbody>
                {% if list.items|length > 0 %}
                {% for item in list.items %}
                <tr class="odd gradeX">
                    <td class="center">
                        <a href="/shop/transaction/orderDetail/{{item.order_number}}"
                           target="_blank">
                            <?php echo $item->order_number; ?>
                        </a>
                    </td>
                    <td class="center">{{item.total_cash}}</td>
                    <td class="paid_cash center" style="height: 40px" data-id="<?php echo $item->order_number; ?>"
                        ><span class="paid" data-val="{{item.paid_cash}}">{{item.paid_cash}}</span>
                    </td>
                    <td class="center">{{item.logistics_fee}}</td>
                    <td class="center">
                        {% if item.is_paid %}
                        <a href="javascript:;" class="tooltip-info"
                           data-rel="popover" data-placement="top"
                           data-original-title="<i class='icon-bolt red'></i> 付款信息"
                           data-content="
                  <ul class='list list-unstyled'>
                    <li>方式：{{item.paid_time}}</li>
                    <li>时间：{{date('Y-m-d H:i:s', item.paid_time)}}</li>
                    <li>单号：{{item.paid_order}}</li>
                    <li>是否到账：{{item.is_payment_arrived==1?'到账':'未到'}}</li>
                  </ul>
                  ">
                            <i class="icon icon-question"></i>点击查看</a>
                        {% else %}未支付{% endif %}
                    </td>
                    <td class="center">
                        <a href="javascript:;" class="tooltip-info"
                           data-rel="popover" data-placement="top"
                           data-original-title="<i class='icon-bolt red'></i> 收货信息"
                           data-content="<ul class='list list-unstyled'><li>姓名：{{item.name}}</li><li>地域：{{item.province}}-{{item.city}}-{{item.town}}</li><li>地址：{{item.address}}</li><li>邮编：{{item.zip_code}}</li><li>电话：{{item.phone}}</li></ul>">
                            <i class="icon icon-question"></i>点击查看</a>
                    </td>
                    <td class="center">
                        <a href="javascript:;" class="tooltip-info" data-product="1" data-order="{{item.order_number}}"
                           data-rel="popover" data-placement="top"
                           data-original-title="<i class='icon-bolt red'></i> 商品信息"
                           data-pulled="0"
                           data-content=""><i class="icon icon-question"></i>点击查看</a>
                    </td>
                    <td class="center">
                        {% if item.is_delivered %}
                        <a href="javascript:;" class="tooltip-info"
                           data-rel="popover" data-placement="top"
                           data-original-title="<i class='icon-bolt red'></i> 发货信息"
                           data-content="<ul class='list list-unstyled'><li>方式：{{item.logistics_name}}</li><li>时间：{{date('Y-m-d H:i:s', item.delivered_time)}}</li><li>单号：{{item.logistics_order}}</li></ul>">
                            <i class="icon icon-question"></i>点击查看</a>
                        {% else %}未发货{% endif %}
                    </td>
                    <td class="center">
                        <select data-trigger="status" data-order="{{item.order_number}}" data-status="{{item.status}}">
                            {% if orderStatus is defined%}
                            {% for index,label in orderStatus %}
                            <option value="{{index}}"
                            {% if item.status is defined and item.status == index%}selected{% endif
                            %}>{{label}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>{{date("m-d H:i", item.created)}}</td>
                    <td>
                        <a class="item-edit" href="/shop/transaction/orderDetail/{{item.order_number}}" target="_blank"
                           data-data='{{item|json_encode}}'><i class="icon-eye-open"></i>详情</a>

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="even gradeC">
                    <td colspan="11">还没有订单数据</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info pagination" id="dataTables-example_info" role="alert"
                         aria-live="polite"
                         aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{list.total_items}}</code>
                        条数据
                    </div>
                </div>
                <?php $uid = \Util\EasyEncrypt::encode($user_id);?>
                <div class="col-sm-6">
                    <div class="pull-right" id="dataTables-example_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous" aria-controls="dataTables-example"
                                tabindex="0" id="dataTables-example_previous"><a
                                    href="/panel/users/detail/<?php echo $uid;?>/o?page={{list.first}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">首页</a>
                            </li>
                            <li class="paginate_button previous" aria-controls="dataTables-example"
                                tabindex="0" id="dataTables-example_previous"><a
                                    href="/shop/transaction/orders?page={{list.before}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">上一页</a>
                            </li>
                            <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                <a href="#">{{list.current}}</a></li>
                            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                id="dataTables-example_next"><a
                                    href="/shop/transaction/orders?page={{list.next}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">下一页</a>
                            </li>
                            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                id="dataTables-example_next"><a
                                    href="/shop/transaction/orders?page={{list.last}}&name={% if name is defined %}{{name}}{% endif %}&order={% if order is defined %}{{order}}{% endif %}&status={% if status is defined %}{{status}}{% endif %}">末页</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /span -->
    </div>
    <!-- /row -->

    <div class="space-12"></div>
</div>
<!-- /#feed -->

<div id="promotion" class="tab-pane">
    <div class="profile-users clearfix">

    </div>
</div>
<!-- /#friends -->

<div id="account" class="tab-pane">

</div>
<!-- /#pictures -->
</div>
</div>
</div>

<!-- /#wrapper -->
<script>
    seajs.use('app/users/users.detail', function (e) {
        e.init();
    })
</script>



