<div class="row-fluid">
    <div class="col-lg-12">
        <h1 class="page-header">手机用户
        <small>已经绑定了手机号的用户</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<?php
$gender = array(
    '0' => '保密',
    'm' => '男',
    'f' => '女',
);
?>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form action="/panel/users/index" method="post">
                    <label for="name">用户ID</label>
                    <input name="name" type="text" id="id" value="{% if id is defined %}{{id}}{% endif %}"/>
                    <label for="name">用户名</label>
                    <input name="name" type="text" id="name" value="{% if name is defined %}{{name}}{% endif %}"/>
                    <label for="group">用户组</label>
                    <select  name="group" id="group">
                        <option>不限</option>
                        {% if groups is defined and groups|length > 0 %}
                        {% for item in groups %}
                        <option value="{{ item['id'] }}" {% if item['id'] == group %}selected{% endif %}>{{item['name']}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <label for="card_grade">会员卡等级</label>
                    <select  name="card_grade" id="card_grade">
                        <option>不限</option>
                        {% if cardTypes is defined and cardTypes|length > 0 %}
                        {% for item in cardTypes %}
                        <option value="{{ item['grade'] }}" {% if card_grade is defined and item['grade'] == card_grade %}selected{% endif %}>{{item['name']}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>

                    <input type="submit" class="btn btn-primary btn-sm" value="搜索"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="list user-list">
                        <thead>
                        <tr class="head">
                            <th>会员ID</th>
                            <th>批量</th>
                            <th style="width: 60px;">头像</th>
                            <th style="width: 160px;">用户名</th>
                            <th style="width: 36px;">性别</th>
                            <th style="width: 72px;">所在地点</th>
                            <th style="width: 72px;">微信关注</th>
                            <th style="width: 72px;">微博关注</th>
                            <th style="width: 72px;">会员卡</th>
                            <th style="width: 120px;">电话</th>
                            <th>Email</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody class="listData">
                        {% if list.items|length > 0 %}
                        {% for item in list.items %}
                        <tr class="odd gradeX item" >
                            <th class="name">{{item.id}}</th>
                            <td class="center"><input type="checkbox" class="chk" data-id="{{item.id}}"/></td>
                            <td><img src="{{item.avatar}}" style="width: 50px; height: 50px;"/></td>
                            <td>{{item.username}}</td>
                            <td class="center"><?php echo isset($gender[$item->gender])?$gender[$item->gender]:"保密"; ?></td>
                            <td class="center">{{item.province}} {{item.city}}</td>
                            <td>{%if item.wx_open_id is defined and item.wx_open_id|length > 0%}已绑定{% else %}未绑定{%endif%}</td>
                            <td>{%if item.wb_uid is defined and item.wb_uid|length > 0%}已绑定{% else %}未绑定{%endif%}</td>
                            <td>{%if item.card_no is defined and item.card_no|length > 0%}{{item.card_no}}{% else %}未绑定{%endif%}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.email}}</td>
                            <td class="center">
                                <a href="javascript:;" class='delBtn' data-id="{{item.id}}"><i class="icon icon-trash"></i> 删除</a>
                                <a class="item-edit" href="/panel/users/detail/<?php echo \Util\EasyEncrypt::encode($item->id);?>"><i class="icon icon-eye-open"></i> 详情/编辑</a>
                                {% if item.active is defined and item.active == 1 %}
                                <a href="javascript:;" class='check_user' data-id="{{item.id}}" data-active="<?php echo abs(intval($item->active) -1);?>"><i class="icon icon-trash"></i> 禁用</a>
                                {% else %}
                                <a href="javascript:;" class='check_user' data-id="{{item.id}}" data-active="<?php echo abs(intval($item->active) -1);?>"><i class="icon icon-trash"></i> 激活</a>
                                {% endif %}
                            </td>
                        </tr>

                        {% endfor %}
                        {% else %}
                        <tr class="even gradeC">
                            <td colspan="9">还没有客户</td>
                        </tr>
                        {% endif %}
                        <tr class="showpage">
                            <th class="name">操作</th>
                            <td colspan="10">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                    <a class="btn-light exportAll" href="javascript:;">一键全部导出</a>
                    <a class="btn-light exportSelected" href="javascript:;">批量导出</a>
                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite"
                                 aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{list.total_items}}</code> 条数据
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="/panel/users/index?page={{list.first}}&id={{id}}&group={{group}}&name={{name}}">首页</a>
                                    </li>
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="/panel/users/index?page={{list.before}}&id={{id}}&group={{group}}&name={{name}}">上一页</a>
                                    </li>
                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                        <a href="#">{{list.current}}</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="/panel/users/index?page={{list.next}}&id={{id}}&group={{group}}&name={{name}}">下一页</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="/panel/users/index?page={{list.last}}&id={{id}}&group={{group}}&name={{name}}">末页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /#wrapper -->
<script>
   seajs.use('app/users/users.bind',function(e){
       e.delUsers('.delBtn');
       e.exportsUsers('.exportSelected');
       e.delAlldelUsers(".delAllSelected");
       e.exportsAllUsers('.exportAll');
       e.checkUser(".check_user");
   })
</script>



