<div class="row-fluid">
    <div class="col-lg-12">
        <h1 class="page-header">微博用户
            <small>关注官方微博的用户</small></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<?php
$gender = array(
    '0' => '保密',
    '1' => '男',
    '2' => '女',
);
?>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form action="/panel/users/index" method="post">
                    <label for="name">微博昵称</label>
                    <input name="name" type="text" id="name" value="{% if name is defined %}{{name}}{% endif %}"/>
                    <label for="group">微博用户组</label>
                    <select  name="group" id="group">
                        <option>不限</option>
                        {% if groups is defined and groups|length > 0 %}
                        {% for item in groups %}
                        <option value="{{ item['group_id'] }}" {% if item['group_id'] == group %}selected{% endif %}>{{item['name']}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <input type="submit" class="btn btn-primary btn-sm" value="搜索"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="list">
                        <thead>
                        <tr class="head">
                            <th>头像</th>
                            <th>昵称</th>
                            <th>性别</th>
                            <th>用户组</th>
                            <th>所在地点</th>
                            <th>是否绑定</th>
                            <th>关注时间</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if list.items|length > 0 %}
                        {% for item in list.items %}
                        <tr class="odd gradeX">
                            <td><img src="{{item.headimgurl}}" style="width: 50px; height: 50px;"/></td>
                            <td>{{item.nickname}}</td>
                            <td class="center"><?php echo isset($gender[$item->sex])?$gender[$item->sex]:"保密"; ?></td>
                            <td class="center">{{item.name}}</td>
                            <td class="center">{{item.province}} {{item.city}}</td>
                            <td><?php echo $item->is_binded ? "已绑定，用户ID为：" . $item->user_id :"未绑定"; ?></td>
                            <td>{{date('Y-m-d H:i:s', item.subscribe_time)}}</td>
                            <td>
                                <!--
                                 <a class="item-edit"><i class="icon icon-pencil"></i>编辑</a>
                                <a class="item-edit"><i class="icon icon-eye"></i>详情</a>
                                <a class="item-remove"><i class="icon icon-trash"></i>删除</a>
                                -->
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="even gradeC">
                            <td colspan="9">还没有客户</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite"
                                 aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{list.total_items}}</code> 条数据
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="/panel/users/weibo?page={{list.first}}&group={{group}}&name={{name}}">首页</a>
                                    </li>
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="/panel/users/weibo?page={{list.before}}&group={{group}}&name={{name}}">上一页</a>
                                    </li>
                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                        <a href="#">{{list.current}}</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="/panel/users/weibo?page={{list.next}}&group={{group}}&name={{name}}">下一页</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="/panel/users/weibo?page={{list.last}}&group={{group}}&name={{name}}">末页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /#wrapper -->



