<div class="row-fluid">
    <div class="col-lg-12">
        <h1 class="page-header">微博用户组
            <!--<span class="pull-right">
                <span class="btn-group">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#gradeInfoModal">添加分组</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#gradeInfoModal">从微博同步</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#gradeInfoModal">同步到微博</button>
                </span>
            </span>-->
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
{{content()}}


{%- macro echo_rule_info(rule_id, rules) %}
    {%- for rule in rules %}
    {% if rule.id == rule_id %}
    <li>{{ rule.name }}<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="{{rule.desc}}"></i><li>
    {% endif %}
    {%- endfor %}
{%- endmacro %}

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="list">
                        <thead>
                        <tr class="head">
                            <th>分组编号</th>
                            <th>名称</th>
                            <th>用户数</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if list.items|length > 0 %}
                        {% for item in list.items %}
                        <tr class="odd gradeX">
                            <td>{{item.group_id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.count}}</td>
                            <td>
                                <a class="item-edit" href="#" data-data='{{ item|json_encode }}' data-toggle="modal" data-target="#gradeInfoModal"><i class="icon icon-pencil brand-icon"></i>编辑</a>
                                <a class="item-remove"  href="#" data-id="{{ item.id }}"  data-type="<?php echo $type;?>"><i class="icon icon-trash brand-icon"></i>删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="even gradeC">
                            <td colspan="9">还没有创建分组</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info pagination" id="dataTables-example_info" role="alert" aria-live="polite"
                                 aria-relevant="all">显示 1 至 10 条， 共 {{list.total_items}} 条数据
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/users/group?page=');?>{{list.first}}">首页</a>
                                    </li>
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/users/group?page=');?>{{list.before}}">上一页</a>
                                    </li>
                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                        <a href="#">{{list.current}}</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/users/group?page=');?>{{list.next}}">下一页</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/users/group?page=');?>{{list.last}}">末页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /#wrapper -->

<div class="modal fade" id="gradeInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">会员组信息编辑</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" class="form-horizontal">
                    <input type="hidden" id="gid" value=""/>
                    <div class="form-group">
                        <label for="gradeName" class="col-sm-2 control-label">名称</label>
                        <span class="col-sm-10">
                            <input name="gradeName" id="gradeName" class="form-control" required
                                   data-error="会员组名称必须填写"/>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="gradeDesc" class="col-sm-2 control-label">描述</label>
                        <span class="col-sm-10">
                            <textarea name="desc" id="gradeDesc" class="form-control" required data-error="描述必须填写"
                                      placeholder="简单描述这个会员组的特点"></textarea>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveGrade">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


