<style>
    body{
        color: #333;
    }
</style>
<div id="container" class="container">
<p class="apply-banner">
    <img alt="" src="<?php echo $reserve->info_pic; ?>">
</p>

<div class="apply-content">
<ul class="round">
    <li class="head-title">
        <a href="<?php echo $this->uri->wapModuleUrl('reserve/orderList'); ?>" style="display: block;width: 100%;">
            <?php echo $reserve->name; ?>

            <span class="right">
                               <em style="color: #999;">已预约</em> <em class="ok"><?php echo $total; ?></em>
                                <i class="icon icon-angle-right" style="font-size: 16px;"></i>
                            </span>
        </a>
    </li>
</ul>

<ul class="round">
    <li>
        <h2>重要说明</h2>

        <div class="text"><?php echo $reserve->info; ?></div>
    </li>
</ul>

<ul class="round">
    <li class="addr">
        <a href="javascript:;">
            <p>
                                <span class="right">
                                    <i class="icon icon-angle-right"></i>
                                </span>
                地址： <?php echo $reserve->address; ?>
            </p>
        </a>
    </li>
    <li class="tel">
        <a href="tel:<?php echo $reserve->tel; ?>">
            <p>
                                <span class="right">
                                    <i class="icon icon-angle-right"></i>
                                </span>
                电话： <?php echo $reserve->tel; ?>
            </p>
        </a>
    </li>
</ul>

<?php
if (!$order) {

    $nowStr = time();
    $startStr = strtotime($reserve->start_date);
    if ($nowStr >= $startStr) {
        $startStr = $nowStr;
    }
    $endStr = strtotime($reserve->end_date);

    if ($endStr > $nowStr) {
        ?>
        <form action="javascript:;" id="reserveForm">
            <input type="hidden" id="reserve_id" value="<?php echo \Util\EasyEncrypt::encode($reserve->id);; ?>"/>
            <ul class="round">
                <li class="title mb"><span class="none">请认真填写表单</span></li>
                <li class="nob">
                    <table class="table">
                        <tr>
                            <th class="name">联系人 <span class="tip">*</span></th>
                            <td class="more">
                                <input type="text" placeholder="请输入您的真实姓名" value="" id="username" class="px">
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="nob">
                    <table class="table">
                        <tr>
                            <th class="name">联系电话 <span class="tip">*</span></th>
                            <td class="more">
                                <input type="tel" placeholder="请输入您的电话" value="" id="phone" class="px"
                                       name="tel">
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="nob">
                    <table class="table">
                        <tr>
                            <th class="name">预约日期 <span class="tip">*</span></th>
                            <td class="more" style="position: relative;">
                                <input type="text" readonly="readonly" id="reserve_date" class="px"
                                       value="" placeholder="请选择预约日期"/>

                                <div id="datepicker"
                                     style="display: none;position: absolute;left: 0;top: 24px;width: 100%;background: #fff;z-index: 999;border: 1px solid #ccc;"></div>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="nob">
                    <table class="table">
                        <tr>
                            <th class="name">预约时间<span class="tip">*</span></th>
                            <td class="more">
                                <select class="dropdown-select" id="reserve_time" name="reserve_time">
                                    <?php
                                    $arr = array('0:00-1:00', '1:00-2:00', '2:00-3:00', '3:00-4:00', '4:00-5:00', '5:00-6:00', '6:00-7:00', '7:00-8:00', '8:00-9:00', '9:00-10:00', '10:00-11:00', '11:00-12:00', '12:00-13:00', '13:00-14:00', '14:00-15:00', '15:00-16:00', '16:00-17:00', '18:00-19:00', '19:00-20:00', '20:00-21:00', '21:00-22:00', '22:00-23:00', '23:00-24:00');
                                    foreach ($arr as $k => $t) {
                                        ?>
                                        <option
                                            value="<?php echo $t; ?>" <?php echo $k == 10 ? 'selected' : ''; ?>><?php echo $t; ?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        </tr>
                    </table>
                </li>


                <?php
                $this->partial('reserve/partial/column');
                ?>


                <li class="nob">
                    <table class="table">
                        <tr>
                            <th class="name">备注</th>
                            <td class="more">
                                <textarea placeholder="请输入备注信息" id="remark" class="pxtextarea"
                                          style="height: 99px; overflow-y: visible"></textarea>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </form>

        <div class="footReturn">
            <input type="button" value="提交消息" class="submit" id="reserveBtn">

            <div id="windowcenter" class="window">
                <div class="wtitle" id="title">操作提示<span id="alertclose" class="close"></span></div>
                <div class="content">
                    <div id="txt"></div>
                </div>
            </div>
        </div>


        <script>
            seajs.use(['base', '/static/wap/gmu/widget/calendar'], function () {
                var param = '';

                $('#reserve_date').click(function (e) {//展开或收起日期
                    $('#datepicker').show();
                    e.stopImmediatePropagation();
                });

                $('#datepicker').calendar({//初始化开始时间的datepicker
                    date: $('#reserve_date').val(),//设置初始日期为文本内容
                    minDate: new Date('<?php echo date('Y',$startStr) ;?>', '<?php echo date('m',$startStr) ;?>', '<?php echo date('d',$startStr) ;?>'),//设置最小日期为当月第一天，既上一月的不能选
                    maxDate: new Date('<?php echo date('Y',$endStr) ;?>', '<?php echo date('m',$endStr) ;?>', '<?php echo date('d',$endStr) ;?>'),//设置最大日期为结束日期，结束日期以后的天不能选
                    select: function (e, date, dateStr) {//当选中某个日期时。
                        $('#datepicker').hide();
                        //把所选日期赋值给文本
                        $('#reserve_date').val(dateStr);
                    }
                });


                $('#reserveBtn').click(function (e) {
                    var username = $('#reserveForm').find('#username').val();
                    var phone = $('#reserveForm').find('#phone').val();
                    var reserve_date = $('#reserveForm').find('#reserve_date').val();
                    var reserve_time = $('#reserveForm').find('#reserve_time').val();
                    var remark = $('#reserveForm').find('#remark').val();
                    var reserve_id = $('#reserveForm').find('#reserve_id').val();

                    if (!checkField('#reserveForm #username', '请填写正确的联系人姓名', /^[\u4E00-\u9FA5]{2,6}$/)) {
                        tip.showTip('err', '请填写正确的联系人姓名', 2000);
                        return false;
                    }

                    if (!checkField('#reserveForm #phone', '请填写正确的手机号', /^(1[\d]{10})$/)) {
                        tip.showTip('err', '请填写正确的手机号', 2000);
                        return false;
                    }

                    if (!checkField('#reserveForm #reserve_date')) {
                        tip.showTip('err', '请选择预约日期', 2000);
                        return false;
                    }

                    // 附加选项
                    var param = '';
                    var tmpChk = '';
                    $('#column .input').each(function () {
                        var val = $(this).val();
                        var id = $(this).attr("data-id");
                        var key = $(this).attr("data-name");

                        if ($(this).attr('type') == 'checkbox' && $(this).attr('checked')) {
                            if (tmpChk == key) {
                                param += '@' + val;
                            } else {
                                param += '|##|' + id + '-' + key + '|#|' + val;
                            }
                            tmpChk = key;
                        } else {
                            if ($(this).attr('type') != 'checkbox') {
                                param += '|##|' + id + '-' + key + '|#|' + val;
                            }
                        }
                    });

                    var data = {
                        username: username,
                        phone: phone,
                        reserve_date: reserve_date,
                        reserve_time: reserve_time,
                        remark: remark,
                        param: param
                    };

                    requestApi('<?php echo $this->uri->wapModuleUrl('api/reserve/submitOrder'); ?>', {
                        data: data,
                        reserve_id: reserve_id,
                        param: param
                    }, function (res) {
                        if (res.result == 1) {
                            window.location.reload();
                            tip.showTip('ok', '预约生成成功! 即将跳转～', 1000);
                        }

                    });

                    e.stopImmediatePropagation();
                });

                var date = new Date();
                // todo 日期选择

            });
        </script>
    <?php } else { ?>

        <div>
            该预约已经过期，无法申请！
        </div>

    <?php
    }
} else {
    ?>
    <?php
    $this->partial('reserve/partial/order');
    ?>
<?php } ?>
</div>
</div>