<style>
    body{
        color: #333;
    }
</style>
<div id="container" class="container">
    <p class="apply-banner">
        <img alt="" src="<?php echo $reserve->info_pic; ?>">
    </p>

    <div class="apply-content">
        <p style="margin: 10px 2px;">
            <i class="icon icon-angle-right"></i>
            预约详情：
            <a href="<?php echo $this->uri->wapModuleUrl('reserve/detail/' . \Util\EasyEncrypt::encode($reserve->id)); ?>">
                <?php echo $reserve->name; ?>
            </a>
        </p>
        <?php

        if ($order) {
            if ($order->status == 0) {
                $nowStr = time();
                $startStr = strtotime($reserve->start_date);
                if ($nowStr >= $startStr) {
                    $startStr = $nowStr;
                }
                $endStr = strtotime($reserve->end_date);
                if ($endStr > $nowStr) {
                    ?>
                    <form action="javascript:;" id="reserveForm">
                        <input type="hidden" id="reserve_id"
                               value="<?php echo \Util\EasyEncrypt::encode($reserve->id);; ?>"/>
                        <ul class="round">
                            <li class="title mb"><span class="right">请认真填写表单</span><span class="none">修改预约内容</span></li>

                            <li class="nob">
                                <table class="table">
                                    <tr>
                                        <th class="name">联系人 <span class="tip">*</span></th>
                                        <td class="more">
                                            <input type="text" placeholder="请输入您的真实姓名"
                                                   value="<?php echo $order->username; ?>"
                                                   id="username" class="px">
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="nob">
                                <table class="table">
                                    <tr>
                                        <th class="name">联系电话 <span class="tip">*</span></th>
                                        <td class="more">
                                            <input type="tel" placeholder="请输入您的电话" value="<?php echo $order->phone; ?>"
                                                   id="phone" class="px"
                                                   name="tel">
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="nob">
                                <table class="table">
                                    <tr>
                                        <th class="name">预约日期 <span class="tip">*</span></th>
                                        <td class="more" style="position: relative;">
                                            <input type="text" readonly="readonly" id="reserve_date" class="px"
                                                   value="<?php echo $order->reserve_date; ?>"/>

                                            <div id="datepicker"
                                                 style="display: none;position: absolute;left: 0;top: 24px;width: 100%;background: #fff;z-index: 999;border: 1px solid #ccc;"></div>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="nob">
                                <table class="table">
                                    <tr>
                                        <th class="name">预约时间</th>
                                        <td class="more">
                                            <select class="dropdown-select" id="reserve_time" name="reserve_time">
                                                <?php
                                                $arr = array('0:00-1:00', '1:00-2:00', '2:00-3:00', '3:00-4:00', '4:00-5:00', '5:00-6:00', '6:00-7:00', '7:00-8:00', '8:00-9:00', '9:00-10:00', '10:00-11:00', '11:00-12:00', '12:00-13:00', '13:00-14:00', '14:00-15:00', '15:00-16:00', '16:00-17:00', '18:00-19:00', '19:00-20:00', '20:00-21:00', '21:00-22:00', '22:00-23:00', '23:00-24:00');
                                                foreach ($arr as $k => $t) {
                                                    ?>
                                                    <option
                                                        value="<?php echo $t; ?>" <?php echo $t == $order->reserve_time ? 'selected' : ''; ?>><?php echo $t; ?></option>
                                                <?php } ?>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </li>

                            <?php
                            $this->partial('reserve/partial/column');
                            ?>

                            <li class="nob">
                                <table class="table">
                                    <tr>
                                        <th class="name">备注</th>
                                        <td class="more">
                                            <textarea placeholder="请输入备注信息" id="remark" class="pxtextarea"
                                                      style="height: 99px; overflow-y: visible"><?php echo $order->remark; ?></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li>
                                <div class="footReturn">
                                    <input type="button" value="修改预约信息" class="submit" id="reserveBtn"
                                           data-id="<?php echo \Util\EasyEncrypt::encode($order->id); ?>">
                                </div>
                            </li>
                        </ul>
                    </form>

                    <script>
                        seajs.use('module/module.reserve', function (api) {
                            $('#datepicker').calendar({//初始化开始时间的datepicker
                                date: $('#reserve_date').val(),//设置初始日期为文本内容
                                minDate: new Date('<?php echo date('Y',$startStr) ;?>', '<?php echo date('m',$startStr) ;?>', '<?php echo date('d',$startStr) ;?>'),//设置最小日期为当月第一天，既上一月的不能选
                                maxDate: new Date('<?php echo date('Y',$endStr) ;?>', '<?php echo date('m',$endStr) ;?>', '<?php echo date('d',$endStr) ;?>'),//设置最大日期为结束日期，结束日期以后的天不能选
                                select: function (e, date, dateStr) {//当选中某个日期时。
                                    $('#datepicker').hide();
                                    //把所选日期赋值给文本
                                    $('#reserve_date').val(dateStr);
                                }
                            });

                            api.editReserve("<?php echo $this->uri->wapModuleUrl('reserve/detail/'.\Util\EasyEncrypt::encode($reserve->id)); ?>")
                        });
                    </script>
                <?php
                }
            } else {
                ?>
                <?php
                $this->partial('reserve/partial/order');
                ?>
            <?php
            }
        } else {
            ?>
            对不起！您还没有申请预约。 <a
                href="<?php echo $this->uri->wapModuleUrl('/reserve/detail/' . \Util\EasyEncrypt::encode($reserve->id)); ?>">点击申请</a>
        <?php } ?>
    </div>
</div>