<style>
    body {
        color: #333;
    }
</style>
<div class="head-title"><span
        class="right"><a href="<?php echo $this->uri->wapModuleUrl('reserve/orderList'); ?>"
                         style="color: #f00;">我的预约</a></span>
    商家预约/预订列表
</div>
<?php
if ($list) {
    ?>
    <div class="ui-refresh">
        <ul class="panorama">
            <?php foreach ($list as $item) {
                ?>
                <li class="item">
                    <a href="<?php echo $this->uri->wapModuleUrl('reserve/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                        <p class="title"><?php echo $item['name']; ?></p>

                        <p class="date">
                            预约/预订时间：<?php echo $item['start_date'] . ' -- ' . $item['start_date']; ?>
                        </p>

                        <p class="cover">
                            <img src="<?php echo $item['title_pic']; ?>" alt=""/>
                        </p>

                        <p class="more">
                            电话：<?php echo $item['tel']; ?>
                        </p>

                        <p class="more">
                            地址：<?php echo $item['address']; ?>
                        </p>
                    </a>

                    <p class="go">
                        <a href="<?php echo $this->uri->wapModuleUrl('reserve/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>"
                           class="btn btn-red ">立即预约</a>
                    </p>
                </li>
            <?php } ?>
        </ul>
        <div class="ui-refresh-down"></div>
    </div>
<?php } else { ?>
    <p>暂无数据</p>
<?php } ?>

<script type="text/javascript">
    seajs.use('/static/wap/gmu/widget/refresh.js', function () {
        var page = 1;
        /*组件初始化js begin*/
        $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() + 45 || 82)).refresh({
            load: function (dir, type) {
                var me = this;
                var link = '<?php echo $this->uri->wapModuleUrl('api/reserve/more') . '?'  ?>' + 'page=' + page;
                $.getJSON(link, function (rs) {
                    page++;
                    var $list = $('.panorama'),
                        html = (function (data) {      //数据渲染
                            var liArr = [];
                            $.each(data, function () {
                                liArr.push(this.html);
                            });
                            return liArr.join('');
                        })(rs.data);

                    $list[dir == 'up' ? 'prepend' : 'append'](html);
                    me.afterDataLoading(dir);    //数据加载完成后改变状态
                    if (rs.data.length <= 0) {
                        me.disable(dir, false);
                    }
                });
            }
        });
        /*组件初始化js end*/
    });
</script>
