<style>
    body{
        color: #333;
    }
</style>
<div id="container" class="container">
    <div class="apply-content">
        <?php
        if ($orders) {
            foreach ($orders as $order) {
                ?>
                <p style="margin: 20px 2px 10px 2px;">
                    <i class="icon icon-angle-right"></i>
                    预约详情：
                    <a href="<?php echo $this->uri->wapModuleUrl('/reserve/detail/' . \Util\EasyEncrypt::encode($order->reserve_id)); ?>">
                        <?php echo $order->reserve->name; ?>
                    </a>
                </p>
                <?php
                $this->partial('reserve/partial/order');
                ?>
            <?php
            }
        } else {
            ?>
            <p style="padding: 20px;">暂无预约订单， <a href="<?php echo $this->uri->wapModuleUrl('reserve'); ?>">返回预约列表</a>
            </p>
        <?php } ?>
    </div>
</div>
