<?php
use Models\Shop\Shop;

$headTitle = \Multiple\Wap\Helper\Meta::$head_title;

$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' and enable=1');

?>

<?php if ($this->view->getControllerName() == 'shop') { ?>
    <div id="header-shop">
        <span class="left"><a href="<?php echo $this->uri->baseUrl('shop/catalog') ?>" class="icon-list-ul"></a></span>
        <span class="center"><a class="name" href="<?php echo $this->uri->baseUrl(); ?>"><?php echo $store->name; ?></a></span>
        <?php \Components\TplManager::init(CUR_APP_ID)->render('menu', 'cart-widget'); ?>
        <span class="right"><a class="icon-user" href="<?php echo $this->uri->baseUrl('user/index') ?>"></a></span>

        <div class="clear"></div>
    </div>
<?php
} else if ($this->view->getControllerName() != 'index') {
    ?>
    <div id="header">
        <span><a href="javascript:history.back(-1)" class="icon-chevron-sign-left"></a></span>
        <span><a class="icon-home" href="<?php echo $this->uri->baseUrl(); ?>"></a></span>
        <span><a class="icon-phone" href="<?php echo $this->uri->baseUrl('user/index') ?>"></a></span>
        <?php \Components\TplManager::init(CUR_APP_ID)->render('menu', 'topMenu'); ?>

        <div class="clear"></div>
    </div>
<?php } ?>
