<?php
$baseUri = $this->uri->appUrl('');
$default['home'] = $baseUri;
$default['news'] = $baseUri . 'article';
$default['shop'] = $baseUri . 'shop';
$default['about'] = $baseUri . 'about';

// 固定有菜单
$topStr = array(
    'home' => array(
        'text' => '首页',
        'href' => $default['home'],
        'icon' => 'icon-home',
    ),
    'shop' => array(
        'text' => '店铺中心',
        'href' => $default['shop'],
        'icon' => 'icon-bell',
    ),
    'news' => array(
        'text' => '新闻中心',
        'href' => $default['news'],
        'icon' => 'icon-bullhorn',
    ),
    'about' => array(
        'text' => '关于我们',
        'href' => $default['about'],
        'icon' => 'icon-exclamation-sign',
    )
);
$topS = '';
foreach ($topStr as $key => $top) {
    $topS .= json_encode($top) . ',';
}

$menu = '[' . rtrim($topS, ',') . ']';
?>
<span style="background: none;"><a id="menu" href="javascript:;" class="icon-list-ul"></a></span>
<script>
    seajs.use('/static/wap/gmu/widget/dropmenu.js', function () {
        var menus = <?php echo $menu; ?>;
        $('#menu').dropmenu({
            content: menus,
            placement: 'bottom',
            align: 'right'
        });
    });
</script>
<script>

    /*
     $(function () {
     $('.panel').panel({
     contentWrap: $('.cont')
     });
     $('#open-panel').on('click', function () {
     $('.panel').panel('toggle', 'push', 'left');
     });
     });
     $('#menu').dropmenu({
     content: menus,
     placement: 'bottom',
     align: 'right'
     });*/
</script>
