
<!--************************** public_footer  start **************************************-->
<div class="footer">

    <div class="footer_up">
        <div class="footer_up_wrapper">
            <div class="footer_up_1">
                <div class="img"><img src="/static/home/pc/estt/images/index_youtaidu_logo.png" alt=""/></div>
                <p>www.saleasy.net</p>
            </div>
            <div class="footer_up_2">
                <div class="tit">战略合作伙伴</div>
                <div class="con">
                    <table>
                        <tr>
                            <td><a href="https://mp.weixin.qq.com/" target="_blank"><img src="/static/home/pc/estt/images/wx.jpg"/></a></td>
                            <td><a href="https://www.alipay.com/" target="_blank"><img src="/static/home/pc/estt/images/zfb.jpg"/></a></td>

                        </tr>
                        <tr>
                            <td><a href="https://www.tenpay.com/v2/" target="_blank"><img src="/static/home/pc/estt/images/cft.jpg"/></a></td>
                            <td><a href="http://page.1688.com/trust/rztx.html" target="_blank"><img src="/static/home/pc/estt/images/cylm.jpg"/></a></td>
                        </tr>

                    </table>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="footer_up_4">
                <div class="icon">
                    <ul>
                        <li class="log1"><a href="javascript:;"></a></li>
                        <li class="log2"><a href="javascript:;"></a></li>
                        <li class="log3"><a href="javascript:;"></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="search"><input type="search" placeholder="热门新闻搜索"/></div>
            </div>
            <div class="footer_up_5">
                <a href="javascript:;"><img src="/static/home/pc/estt/images/index_bot_weixin.jpg" alt="" style="width: 130px;"/></a>
            </div>
            <div class="clear"></div>
        </div><!-- footer_up_wrapper end-->
    </div><!-- footer_up end-->

    <div class="footer_bottom">
        <div class="footer_bottom_wrapper">
            <div class="footer_bottom_1">
                <dl>
                    <dt>关于微站</dt>
                    <dd><a href="/home/func">项目服务</a></dd>
                    <dd><a href="/home/case">套餐功能</a></dd>
                    <dd><a href="/home/contact">联系我们</a></dd>
                </dl>
            </div>
            <div class="footer_bottom_2">
                <dl>
                    <dt>常见问题</dt>
                    <dd><a href="/home/help?id=2">如何入驻易卖电商平台？</a></dd>
                    <dd><a href="/home/help?id=3">如何注册微信公众号？</a></dd>
                    <dd><a href="/home/help?id=4">易卖电商平台如何绑定微信公众号？</a></dd>
                </dl>
            </div>
            <div class="footer_bottom_3">
                <dl>
                    <dt>代理加盟</dt>
                    <dd class="icon1"><a href="/home/investment#a001">代理申请条件</a></dd>
                    <dd class="icon2"><a href="/home/investment#a002">代理申请流程</a></dd>
                    <dd class="icon3"><a href="/home/investment#a003">平台对代理商的支持</a></dd>
                </dl>
            </div>
            <div class="footer_bottom_4">
                <dl>
                    <dt>友情链接</dt>
                    <dd><a href="http://mp.weixin.qq.com/" target="_blank" class="g">微信公众平台</a><a href="http://estt.com.cn/" target="_blank">智享时代</a></dd>
                    <dd><a href="http://www.ustc.edu.cn/" target="_blank" class="g">中科大</a>
                        <a href="http://www.spsp.com.cn/" target="_blank">微信商学院</a></dd>
                </dl>
            </div>
            <div class="clear"></div>
        </div><!-- footer_bottom_wrapper end-->
    </div><!-- footer_bottom end-->

</div><!-- footer end-->


<!--************************** copyright  start **************************************-->
<div class="copyright">
    <div class="copyright_w"><a href="http://www.miibeian.gov.cn/publish/query/indexFirst.action"> Copyright © 2014 ESTT微站营销 | 粤ICP备13079031号-3</a></div>
</div><!-- copyright end-->
<!--************************** copyright  end ****************************************-->


<!--************************** public_footer  end ****************************************-->
