<!--************************** public_header begin ************************************-->
<?php
    //  $this->
      $menu=array(
          array('title'=>'首页','c'=>'index','name'=>'home','sn'=>'HOME'),
          array('title'=>'服务项目','c'=>'func','name'=>'service','sn'=>'SERVICES'),
          array('title'=>'经典案例','c'=>'case','name'=>'case','sn'=>'CASE'),
          array('title'=>'加盟合作','c'=>'investment','name'=>'join','sn'=>'JOIN'),
          array('title'=>'帮助中心','c'=>'help','name'=>'help','sn'=>'HELP'),
          array('title'=>'联系我们','c'=>'contact','name'=>'contact','sn'=>'CONTACT US'),
      );

 ?>


<div class="nav header">
        <div class="nav-content">
            <h1 class="left"><a href=""  title="易卖官网">易卖·微信营销，如此简单！</a></h1>
            <div class="right line-li">
                <ul>
                    <li  class="<?php if($controller=='index'){echo ' current';}?>"><a href="/ ">首页</a></li>
                    <li  class="<?php if($controller=='func'){echo ' current';}?>"><a href="/home/func">服务项目</a></li>
                    <li  class="<?php if($controller=='case'){echo ' current';}?>"><a href="/home/case">功能套餐</a></li>
                    <li  class="<?php if($controller=='investment'){echo ' current';}?>"><a href="/home/investment">加盟合作</a></li>
                    <li  class="<?php if($controller=='help'){echo ' current';}?>"><a href="/home/help">帮助中心</a></li>
                    <li  class="<?php if($controller=='contact'){echo ' current';}?>"><a href="/home/contact">联系我们</a></li>
                </ul>
            </div>
        </div>
</div><!-- header end-->
<!--************************** public_header end ************************************-->

<!--------------------------------------------- 登录注册 --------------------------------------->
<div class="login_box">
    <a href="/account"><img src="/static/home/pc/estt/images/login.png"/></a>
    <a href="/account/reg"><img src="/static/home/pc/estt/images/register.png"/></a>
</div>

<!-------------------------- qq 客服---------------------------->
<?php $this->view->partial('base/service'); ?>
<!-- baidu share -->
<script>window._bd_share_config = {"common": {"bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16"}, "slide": {"type": "slide", "bdImg": "6", "bdPos": "left", "bdTop": "300"}};
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
<style type="text/css">
    /*分享*/
    .bdshare-slide-style-l6 .bdshare-slide-button{width:30px;height:101px;background:url(/static/home/pc/estt/images/index_share.png) no-repeat;}
    </style>
<!-- baidu share -->