

<!--案例滚动-->
<div id="case">
    <div class="caseCon">

        <div class="text">他们都在用易卖</div>
        <div class="caseScroll">
            <div class="btn">
                <span class="btn_left"></span>
                <span class="btn_right"></span>
            </div>

            <div class="box">
                <ul class="clearfix">
                    <li><img src="/static/home/pc/estt/images/lista1.png"/></li>
                    <li><img src="/static/home/pc/estt/images/lista2.png"/></li>
                    <li><img src="/static/home/pc/estt/images/indexa3.png"/></li>
                    <li><img src="/static/home/pc/estt/images/indexa4.jpg"/></li>
                    <li><img src="/static/home/pc/estt/images/indexa5.jpg"/></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--案例滚动-->