<style>
    .topad{ background:#2682ff; width:100% }
    #topBanBox{ width: 1167px; margin: 0 auto;}
    .nav{position:static;left:0;z-index:9999;margin-bottom:0;width:100%;height:48px;line-height: 48px;background:#424860;}
</style>

<!--顶部广告::Start-->
<div class="topad">
    <div id="topBanBox" style="display:none;">
        <a href="/account" target="_blank" style="cursor:pointer;" id="biglogo">
            <img src="/static/home/pc/estt/images/slide-big.jpg" />
        </a>
        <a href="/account" target="_blank" style="display:none;" id="smalllogo">
            <img src="/static/home/pc/estt/images/slide-small.jpg" />
        </a>
    </div>
</div>
<!--顶部广告::End-->
<!--[if lte IE 8]>  <script language="javascript">$(function (){$.browser.msie&&$("#ie9-tips").show().find("#stopSuggestA").click(function(){$("#ie9-tips").hide()})})</script><![endif]-->
<!--**************************      头部动画    **************************************-->
<script type="text/javascript">
    var fiex = function() {
        if ($(document).scrollTop() > $("#topBanBox").height()) {
            $(".nav").css({
                "top": 0,
                "position": "fixed"
            });
        } else {
            $(".nav").css({
                "top": "inherit",
                "position": "static"
            });
        }
    }
    $(window).scroll(fiex);
    fiex();
    $(".header").css("padding-top",0)
    $("#topBanBox").slideDown(1000);

    setTimeout(function(){
        $("#topBanBox").animate({height:100}, 2000, function(){
            $("#biglogo").hide();
            $("#smalllogo").show();
        });
        //$("#topBanBox").slideUp(2000);
    },2000);
</script>