<?php
$_action = $this->dispatcher->getParam('_a', 'striptags');

$act = array(
    'setting' => '优惠劵设置',
    'index' => '优惠劵列表',
    'add' => '添加优惠劵',
    'update' => '修改优惠劵',
    'receive' => '已发放优惠劵',
);
?>

<div class="page-header">
    <h1>
        优惠劵
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $act[$_action] ?>
        </small>
    </h1>
</div>

<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
</script>