<?php
use Util\EasyEncrypt;

$this->partial('module/coupon/default/base');
?>
<form action="" method="get" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <label for="name">关键字</label>
    <input name="key" type="text" id="key" value="<?php echo $this->request->get('key'); ?>">
    <input type="submit" class="btn btn-primary btn-sm" value="搜索">
</form>
<table id="article-list" class=' list'>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th style=''>优惠劵名称</th>
        <th style='width:180px'>优惠卷参数及使用条件</th>
        <th style='width:80px;'>复制链接</th>
        <th style='width:50px'>总数量</th>
        <th style='width:50px'>已发放</th>
        <th style='width:50px'>已使用</th>
        <th style='width:120px'>领取有效期</th>
        <th style='width:120px'>使用有效期</th>
        <th style='width:80px'>是否发布</th>
        <th style='width:50px'>修改</th>
        <th style='width:50px'>删除</th>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $item) {
        $url = $this->uri->wapModuleUrl('/coupon/detail/' . EasyEncrypt::encode($item['id']));
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <th class='name'><?php echo $item['id']; ?></th>
            <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
            <td>
                [<span class="red"><?php
                    echo \Components\Module\CouponManager::getCouponType($item['coupon_type']);
                    ?>
                </span>]
                <a href="javascript:;" class="preview-app" title="点击预览"
                   data-url="<?php echo $url; ?>">
                    <?php echo $item['name']; ?>
                </a>
                <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                       type="text"
                       value="<?php echo $url; ?>"/>
            </td>
            <td class="center">
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                    ?>
                    订单满￥<span class="red"><?php echo $item['use_limit']; ?></span>元，减免￥<span
                        class="red"><?php echo $item['coupon_param']; ?></span>元
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                    ?>
                    订单满￥<span class="red"><?php echo $item['use_limit']; ?></span>元，打折 <span
                        class="red"><?php echo $item['coupon_param']; ?>%</span>
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                    $param = explode('|', $item['coupon_param']);
                    ?>
                    <span>现价￥<span class="imp red"><?php echo $param[0]; ?></span>元</span>
                    <span> 可抵用 ￥<s class="imp green"><?php echo $param[1]; ?></s>元</span>
                <?php } ?>
            </td>
            <td class="center">
                <a href="javascript:;" class="copyBtn miBtn"
                   data-clipboard-text="<?php echo $url; ?>">复制链接</a>
            </td>
            <td class="center">
                <?php echo $item['total']; ?>
            </td>
            <td class="center">
                <?php echo $item['receive_count']; ?>
            </td>
            <td class="center">
                <?php echo $item['use_count']; ?>
            </td>
            <td>
                <?php if ($item['receive_end'] > time()) { ?>
                    <span class="red">
                        <?php echo date('Y-m-d H:i:s', $item['receive_end']); ?>
                    </span>
                <?php } else { ?>
                    <span class="grey">
                        领取过期 <?php echo date('Y-m-d', $item['receive_end']); ?>
                    </span>
                <?php } ?>
            </td>
            <td>
                <?php
                if ($item['use_end'] > time()) {
                    ?>
                    <span class="green">
                        <?php echo date('Y-m-d H:i:s', $item['use_start']) ?>
                        <?php echo date('Y-m-d H:i:s', $item['use_end']); ?>
                    </span>
                <?php } else { ?>
                    <span class="grey">
                        使用过期 <?php echo date('Y-m-d', $item['use_end']); ?>
                    </span>
                <?php } ?>
            </td>
            <td class="center">
                <?php if ($item['published'] == 0) { ?>
                    <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                       data-id="<?php echo $item['id']; ?>">发布</a>
                <?php } else { ?>
                    <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                       data-status="0">取消发布</a>
                <?php } ?>
            </td>
            <td class="center">
                <a href="<?php echo $this->uri->actionUrl('/coupon/default/update?id=' . EasyEncrypt::encode($item['id'])); ?>"
                   class='upBtn'>修改</a>
            </td>
            <td class="center">
                <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
            </td>
        </tr>
    <?php
    }
    }
    else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span>
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="12">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->wapModuleUrl('coupon'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>

<script>
    seajs.use('app/module/module.coupon', function (n) {
        n.pub();
        n.del();
    });
</script>
