<div class="page-header">
    <h1>
        优惠券线下订单
    </h1>
</div>
<table id="article-list" class=' list'>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:160px'>优惠券</th>
        <th style=''>优惠券功能</th>
        <th style='width:120px'>使用用户</th>
        <th style='width:120px'>使用时间</th>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $v) {
        $item = $v['coupon'];
        ?>
        <tr class="item">
            <th class='name'><?php echo $v['id']; ?></th>

            <td class="center">
                <?php echo $v['serial_number']; ?>
            </td>
            <td class="">
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                    ?>
                    订单满￥<span class="red"><?php echo $item['use_limit']; ?></span>元，减免￥<span
                        class="red"><?php echo $item['coupon_param']; ?></span>元
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                    ?>
                    订单满￥<span class="red"><?php echo $item['use_limit']; ?></span>元，打折 <span
                        class="red"><?php echo $item['coupon_param']; ?>%</span>
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                    $param = explode('|', $item['coupon_param']);
                    ?>
                    <span>现价￥<span class="imp red"><?php echo $param[0]; ?></span>元</span>
                    <span> 可抵用 ￥<s class="imp green"><?php echo $param[1]; ?></s>元</span>
                <?php } ?>
            </td>
            <td>
                <?php echo $v['user']['username']; ?>
            </td>
            <td>
                <?php echo date('Y-m-d H:i', $v['created']); ?>
            </td>
        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="9">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>