<?php
use Util\EasyEncrypt;

$this->partial('module/coupon/default/base');
?>
<table id="article-list" class=' list'>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width: 136px;'>优惠码</th>
        <th style=''>优惠劵名称</th>
        <th style='width:180px'>优惠卷参数及使用条件</th>
        <th style='width:120px'>领取用户</th>
        <th style='width:100px'>是否使用</th>
        <th style='width:120px'>领取时间</th>
        <th style='width:120px'>使用有效期</th>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $item) {
        $url = $this->uri->wapModuleUrl('/coupon/item/' . EasyEncrypt::encode($item['id']));
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <th class='name'><?php echo $item['id']; ?></th>
            <td class="center">
                <?php
                echo $item['serial_number']
                ?>
            </td>
            <td>
                [<span class="red"><?php
                    echo \Components\Module\CouponManager::getCouponType($item['coupon_type']);
                    ?>
                </span>]
                <a href="<?php echo $this->uri->setUrl('?coupon_id=' . $item['coupon_id']); ?>">
                    <?php echo $item['name']; ?>
                </a>
                <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                       type="text"
                       value="<?php echo $url; ?>"/>
            </td>
            <td class="center">
                订单满￥<span class="red"><?php echo $item['use_limit']; ?></span>元，
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                    ?>
                    优惠￥<span class="red"><?php echo $item['coupon_param']; ?></span>元
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                    ?>
                    订单打折 <span class="red"><?php echo $item['coupon_param']; ?>%</span>
                <?php } ?>
            </td>
            <td class="center">
                <?php echo $item['username']; ?>
            </td>

            <td class="center">
                <?php echo $item['used'] == 1 ? $item['used_offline'] == 1 ? '已线下使用' : '已使用' : '尚未使用'; ?>
            </td>
            <td>
                <?php echo date('Y-m-d H:i:s', $item['created']) ?>
            </td>
            <td>
                <?php echo date('Y-m-d H:i:s', $item['use_start']) ?>  <?php echo date('Y-m-d H:i:s', $item['use_end']); ?>
            </td>
        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="12">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>
