<?php
$this->partial('module/coupon/default/base');
?>

<style>
    .box-title {
        border-bottom: 1px solid #DEEFFB;
        padding: 0 0 4px;
        font-size: 16px;
    }
</style>
<h2 class="box-title">设置优惠劵线下商家确认密码</h2>
<?php
echo $this->view->getContent();
?>
<form action="" id="CouponForm" class="form-horizontal" method="post">
    <fieldset>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">商家确认密码</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="password" class="form-control" id="passwd" name="passwd" placeholder="请填写商家确认密码"
                           value=""
                           required>
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">重复确认密码</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="password" class="form-control" id="repasswd" name="repasswd" placeholder="请填写商家确认密码"
                           value=""
                           required>
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
            </div>
        </section>

        <section>
            <label for="name" class="col-sm-1 control-label"></label>

            <div class="col-sm-10" style="margin: 0 0 0 2px;">
                <input type="submit" value="提交" class="btn btn-primary smbBtn btn-large" name="btn-base"/>
            </div>
        </section>
    </fieldset>
</form>

<div id="detail">
    <h3 class="box-title">优惠劵说明:</h3>

    <p>现支持三种优惠劵，全部支持线下使用</p>

    <p><b>现金券</b>，消费者持券消费可抵用部分现金</p>

    <p><b>折扣券</b>，消费者持券消费可享受消费折扣</p>

    <p><b>特价券</b>，消费者持券消费可购买特价商品</p>
</div>