<?php
$this->partial('module/coupon/default/base');
use Components\Module\CouponManager;

$allType = CouponManager::getCouponType();
?>

{{ content() }}

<form action="javascript:;" id="CouponForm" class="form-horizontal" method="post">
    <input type="hidden" class="form-control" id="id" name="id" value="<?php echo $item['id']; ?>">

    <fieldset>
        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">优惠卷类型</label>

            <div class="col-sm-10">
                <input type="hidden" id="coupon_type" name="coupon_type"
                       value="<?php echo $item['coupon_type']; ?>"
                       required>
                <span class="col-sm-5 red">
                    <?php echo CouponManager::getCouponType($item['coupon_type']); ?>
                </span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">优惠劵名称</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="请填写优惠劵名称"
                           value="<?php echo $item['name']; ?>"
                           required>
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
            </div>
        </section>

        <?php
        if (CouponManager::COUPON_TYPE_CASH == $item['coupon_type']) {
            ?>
            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">优惠金额</label>

                <div class="col-sm-10">
                <span class="col-sm-1">
                    <input type="text" class="coupon_param" id="coupon_param" name="coupon_param"
                           placeholder="请填写优惠金额"
                           style="width: 45px;"
                           data-type="COUPON_TYPE_CASH"
                           value="<?php echo $item['coupon_param']; ?>"
                           required>元
                    <span class="tip"></span>
                </span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>
                </div>
            </section>
        <?php } ?>
        <?php
        if (CouponManager::COUPON_TYPE_DISCOUNT == $item['coupon_type']) {
            ?>
            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">优惠折扣</label>

                <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="coupon_param" id="coupon_param" name="coupon_param" placeholder="请填写优惠折扣"
                           style="width: 45px;"
                           data-type="COUPON_TYPE_DISCOUNT"
                           value="<?php echo $item['coupon_param']; ?>"
                           required>%（打几折,请填写1-100之间的数字）
                    <span class="tip"></span>
                </span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>
                </div>
            </section>
        <?php } ?>

        <?php
        if (CouponManager::COUPON_TYPE_SPECIAL == $item['coupon_type']) {
            $param = explode('|', $item['coupon_param']);
            ?>
            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">特价优惠</label>

                <div class="col-sm-10">
                <span class="col-sm-5">
                   现特价&yen; <input type="text" class="param_now" id="param_now" name="param_now"
                                   placeholder="请填写特价"
                                   style="width: 45px;"
                                   data-type="COUPON_TYPE_DISCOUNT"
                                   value="<?php echo $param[0]; ?>"
                                   required> 元,
                    可抵用&yen;<input type="text" class="param_original" id="param_original" name="param_original"
                                   placeholder="请填写可抵用现金"
                                   style="width: 45px;"
                                   data-type="COUPON_TYPE_DISCOUNT"
                                   value="<?php echo $param[1]; ?>"
                                   required> 元

                    <span class="tip"></span>
                </span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>
                </div>
            </section>
        <?php } ?>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">使用条件</label>

            <div class="col-sm-10">
                <span class="col-sm-2"> 订单满
                    <input type="text" id="use_limit" name="use_limit" placeholder="请填写发放数量" style="width: 45px;"
                           value="<?php echo $item['use_limit']; ?>" maxlength="6"
                           required> 元
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> 0表示无限制</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">发放数量</label>

            <div class="col-sm-10">
                <span class="col-sm-1">
                    <input type="text" id="total" name="total" placeholder="请填写发放数量" style="width: 45px;"
                           value="<?php echo $item['total']; ?>" maxlength="6"
                           required>张
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">可线下使用</label>

            <div class="col-sm-10">
                                <span class="col-sm-3">
                是 <input class="offline" type="radio" name="offine"
                         value="1" <?php echo $item['offline'] == 1 ? 'checked' : ''; ?>/>
                否 <input class="offline" type="radio" name="offine"
                         value="0" <?php echo $item['offline'] == 0 ? 'checked' : ''; ?>/>
                                    </span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">发放时间</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    截止于
                    <input id="receive_end" type="text" name="receive_end" placeholder="请选择结束发放时间"
                           value="<?php echo date('Y-m-d H:i:s', $item['receive_end']); ?>"
                           data-date-format="yyyy-mm-dd hh:ii:ss">
                    <span class="tip"></span>
                </span>
                <span class="red">*</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">使用有效期</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input id="use_start" type="text" name="use_start" placeholder="请选择开始使用有效时间"
                           value="<?php echo date('Y-m-d H:i:s', $item['use_start']); ?>"
                           data-date-format="yyyy-mm-dd hh:ii:ss"> -
                    <input id="use_end" type="text" name="use_end" placeholder="请选择结束使用有效时间"
                           value="<?php echo date('Y-m-d H:i:s', $item['use_end']); ?>"
                           data-date-format="yyyy-mm-dd hh:ii:ss">
                    <span class="tip"></span>
                </span>
                <span class="red">*</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">优惠劵描述</label>

            <div class="col-sm-10">
                <span class="col-sm-6">
                    <textarea name="detail" id="detail" class="txt txtContent"
                              style="width: 600px;height: 200px;"><?php echo $item['detail']; ?></textarea>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
                <span class="tip"></span>
            </div>
        </section>

        <section>
            <label for="name" class="col-sm-1 control-label"></label>

            <div class="col-sm-10" style="margin: 0 0 0 2px;">
                <input type="submit" value="提交" class="btn btn-primary smbBtn btn-large" name="btn-base"/>
            </div>
        </section>
    </fieldset>
</form>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame"
            src="<?php echo $this->uri->wapModuleUrl('coupon/detai/' . \Util\EasyEncrypt::encode($item['id'])); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;">
    </iframe>
</div>
<script>
    seajs.use('app/module/module.coupon', function (api) {
        api.set();
    });
</script>