<div class="row">
    <div class="col-lg-12">
        <h4 class="header green">大转盘奖项设置</h4>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-xs-12 clearfix">
        <!-- PAGE CONTENT BEGINS -->

        <form class="form-horizontal" id="wheeloption" method="post" action="/panel/addon/wheel/default/addAward">

            <div class="form-group">

                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="option_name" class="col-sm-4 control-label no-padding-right"> 奖项名称： </label>

                        <div class="col-sm-8">
                            <input type="text" name="option_name" class="col-xs-10 col-sm-5" required placeholder="奖项名称" id="option_name" >
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="option_desc" class="col-sm-4 control-label no-padding-right"> 奖项描述： </label>

                        <div class="col-sm-8">
                            <textarea placeholder="奖项描述" id="option_desc" class="form-control" name="option_desc" ></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label for="option_name" class="col-sm-4 control-label no-padding-right"> 奖项类型： </label>

                        <div class="col-sm-8">
                            <select name="award_type" class="col-sm-4" id="award_type">
                                <option value="goods">商品</option>
                                <option value="points">积分</option>
                                <option value="coupon">优惠券</option>

                            </select>

                        </div>
                    </div>
                    <div class="form-group" id="option-award">
                        <div class="form-group">
                            <label for="option_name" class="col-sm-4 control-label no-padding-right"> 商品名称： </label>

                            <div class="col-sm-8">
                                <input type="text" name="option_value" class="col-xs-10 col-sm-5" required placeholder="商品名称" id="option_value" >
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="option_number" class="col-sm-4 control-label no-padding-right"> 数量： </label>

                        <div class="col-sm-8">
                            <input type="text" class="input-mini" id="option_number" name="option_number"  /><div>如果不是中奖选项请设置为0</div>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="angle" class="col-sm-4 control-label no-padding-right"> 角度： </label>

                        <div class="col-sm-8">
                            <input type="text" class="col-xs-10 col-sm-5" id="angle" name="angle" placeholder="请根据设置的角度填写" "/>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="chance" class="col-sm-4 control-label no-padding-right"> 中奖率： </label>

                        <div class="col-sm-8">
                            <input type="text" class="col-xs-10 col-sm-5" id="chance" name="chance" placeholder="如果为0永远不会选中，数值越大选中机率越大" />
                        </div>
                    </div>

                </div>

                <div class="col-xs-6 col-md-offset-1">
                    <a target="_blank" href="/static/wap/images/module/demo.jpg"><img src="/static/wap/images/module/demo.jpg" width="550" /></a>
                </div>

            </div>

            <div class="space-4"></div>
            <input type="hidden" value="<?php echo $id?>" name="id">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-info">
                        <i class="icon-ok bigger-110"></i>
                        保存
                    </button>
                </div>
            </div>

        </form>

        <div class="clear"></div>

    </div>
</div>
<script>
    $('#award_type').change(function(){
        var type=$(this).val();//奖品类型
        $.ajax({
            url:'/panel/addon/wheel/default/ajaxTypeChange',
            dataType:'JSON',
            type:'post',
            data:{type:type},
            success:function(res){$('#option-award').html(res.data);},
            error:function(){alert('error');}

        })


    })

</script>
