<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
        <small class="right">
            <a href="/panel/addon/wheel/default/addAward?id=<?php echo  $id?>" class="btn btn-sm btn-primary">添加奖项</a>

        </small>

    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-info hide">
            <i class="icon-hand-right"></i>

            Please note that demo server is not configured to save the changes, therefore you may get an error message.
            <button class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<script src="/static/ace/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="/static/ace/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="/static/ace/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/static/ace/js/jqGrid/i18n/grid.locale-zh_CN.js"></script>

<script type="text/javascript">
    jQuery(function($) {
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";

        var jqgrid = jQuery(grid_selector).jqGrid({
            url:'<?php echo $viewHelper->getUrl('ajaxPrizesGrid?id='.$id) ?>',
            datatype: "json",
            height: "100%",
            mtype: 'POST',
            colNames:['ID','奖项','奖项描述','奖项类型','奖项值', '份数', '角度', '中奖几率', '操作'],
            colModel:[
                {name:'id',index:'id', width:25, sorttype:"int", editable: true, search:false, stype:'text', searchoptions:{sopt:['eq']}, align:'center'},
                {name:'option_name',index:'option_name',width:100, sortable: false, align: 'center',editable: true, search: false, stype: 'text'},
                {name:'option_desc',index:'option_desc', width:150, sortable: false,align: 'center', editable:true,search: false, edittype:'textarea'},
                {name:'award_type',index:'award_type',width:100, sortable: false, align: 'center',editable: true, search: false, stype: 'text'},
                {name:'option_value',index:'option_value', width:150, sortable: false,align: 'center', editable:true,search: false, edittype:'textarea'},
                {name:'option_number',index:'option_number', width:70, sorttype:'int',search: false, editable:true, align:'center', searchoptions:{sopt:['eq']}},
                {name:'angle',index:'angle', width:30, align:'center', sortable: 'int', editable: true, search: false, stype:'text', searchoptions:{sopt:['eq']}},
                {name:'chance',index:'chance', width:50, align:'center', sortable: 'int', editable: true, search: false, stype:'text', searchoptions:{sopt:['eq']}},
                {name:'myac', index:'', width:80, fixed:true, sortable:false, resize:false, search:false, align: 'center', formatter:createLink,
                    //formatoptions:{
                    //keys:true,
                    //delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                    //}
                },
            ],
            sortname: 'option_id',
            sortorder: 'desc',
            viewrecords : true,
            rowNum:10,
            rowList:[10,20,30],
            pager : pager_selector,
            altRows: true,
            multiselect: true,
            loadComplete : function() {
                var table = this;
                setTimeout(function(){
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
                $(".ui-jqgrid-bdiv").css("overflow-x", 'hidden');
                if($(grid_selector).height() > 385) {
                    $('.ui-jqgrid-bdiv').height("385");
                }
                $('.ui-jqgrid .ui-jqgrid-htable th div').css('text-align', 'center');
            },

            editurl: '<?php echo $viewHelper->getUrl('remove') ?>',//nothing is saved
            caption: "奖项列表",
            autowidth: true
        });

        //navButtons
        $(grid_selector).jqGrid(
            'navGrid',
            pager_selector,
            { 	// navbar actions options
                edit: false,
                add: false,
                del: true,
                delicon : 'icon-trash red',
                search: false,
                searchicon : 'icon-search orange',
                view: false,

                // options
                refresh: true,
                refreshicon : 'icon-refresh green',
                recordtext: "记录 {1} - {2} of {3}",
            },
            {
                //edit record form
                recreateForm: true,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                }
            },
            {},
            {
                //delete record form
                recreateForm: true,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    if(form.data('styled')) return false;
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                },
                onClick : function(e) {
                    alert(1);
                }
            },
            {},
            {}
        )

        // filterToolbar
        jQuery(grid_selector).jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});

        /** =====================================
         * style function
         ========================================*/
        function style_edit_form(form) {
            //enable datepicker on "sdate" field and switches for "stock" field
            form.find('input[name=sdate]').datetimepicker()
                .end().find('input[name=stock]')
                .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

            //update buttons classes
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
            buttons.eq(1).prepend('<i class="icon-remove"></i>')

            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').remove();
        }
        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
            buttons.eq(1).prepend('<i class="icon-remove"></i>')
        }
        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-xs btn-primary');
            form.find('.add-group').addClass('btn btn-xs btn-success');
            form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }
        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
        }

        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if(form.data('styled')) return false;
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);
            form.data('styled', true);
        }

        function createLink(cellvalue, options, rowObject) {
            var link = "<span class='ui-pg-div ui-inline-edit'><a href=\"<?php echo $viewHelper->getUrl('edit') ?>?option_id="+rowObject.id+"&aid=<?php echo $id?>\" class=\"ui-icon ui-icon-pencil\"></a></span>";
            return link;
        }

        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
                'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
                'ui-icon-seek-next' : 'icon-angle-right bigger-140',
                'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({container:'body'});
            $(table).find('.ui-pg-div').tooltip({container:'body'});
        }
    });
</script>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/wheel'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>

<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });
    })
</script>
