<div class="row">
    <div class="col-lg-12">
        <h4 class="header green">大转盘设置</h4>
    </div>
    <!-- /.col-lg-12 -->
 <div class="col-xs-12 clearfix">
     <form enctype="multipart/form-data" class="form-horizontal" id="wheelsetting" method="post">
         <div class="form-group">
            <div  class="col-xs-5">
                <!-- PAGE CONTENT BEGINS -->
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 活动名称： </label>

                        <div class="col-sm-9">
                            <input type="text" name="name" class="col-xs-10 col-sm-5" placeholder="活动名称" id="form-field-1" value="<?php echo $marketing->name;?>">
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> 活动描述： </label>

                        <div class="col-sm-8">
                            <textarea id="description" style="width: 100%;height:200px;" name="description"><?php echo $marketing->description;?></textarea>
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="times" class="col-sm-3 control-label no-padding-right"> 抽奖次数： </label>

                        <div class="col-sm-3">
                            <input type="text" class="input-mini" id="times" name="times"  value="<?php echo $marketing->times;?>" />
                        </div>
                    </div>
                <div class="form-group">
				<label for="exchange_time_limit" class="col-sm-3 control-label no-padding-right"> 活动结束多久内还允许兑奖： </label>

				<div class="col-sm-5">
					<input type="text" class="input-mini "  id="exchange_time_limit" name="exchange_time_limit"  value="<?php echo $marketing->exchange_time_limit;?>" />&nbsp天(* 0为不限制)
				</div>
			</div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="start_date" class="col-sm-3 control-label no-padding-right"> 活动开始时间： </label>

                        <div class="col-sm-3">
                            <input class="form-control date-picker" id="start_date" type="text" name="start_date" value="<?php echo (!empty($marketing->start_time) ? date('Y-m-d', $marketing->start_time) : '');?>" data-date-format="yyyy-mm-dd" />
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="end_date" class="col-sm-3 control-label no-padding-right"> 活动结束时间： </label>

                        <div class="col-sm-3">
                            <input class="form-control date-picker" id="end_date" type="text" name="end_date" value="<?php echo (!empty($marketing->end_time) ? date('Y-m-d', $marketing->end_time) : '');?>" data-date-format="yyyy-mm-dd" />
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label for="activityPic" class="col-sm-3 control-label no-padding-right" <?php if(!empty($marketing->image)): ?>style="margin-top: 8px;"<?php endif; ?>> 活动图片： </label>

                        <div class="col-sm-4">
                            <input type="text" name="file" id="activityPic" value="<?php echo $marketing->image ?>"/>
                            <span class="help-block with-errors">
                                <span class="btn btn-success btn-sm" id="upload">上传图片</span>
                                <img src="<?php echo $marketing->image ?>" alt="" style="height: 48px;vertical-align: middle;" id="picPreview"/><br><br><span>(默认图片不一定适用，请根据默认图自行上传图片,右边为参照图片)</span>
                             </span>
                        </div>
                    </div>


            </div>
             <div class="col-xs-6 col-md-offset-1">

                 <a target="_blank" href="/static/wap/images/module/demo.jpg"><img src="/static/wap/images/module/demo.jpg" width="550" /></a>
             </div>

     </div>
         <div class="clearfix form-actions">
             <div class="col-md-offset-3 col-md-9">
                 <button type="submit" class="btn btn-info">
                     <i class="icon-ok bigger-110"></i>
                     保存
                 </button>
             </div>
         </div>
     </form>
     <script>
        $("#exchange_time_limit").on('keyup',function(){
                        var data=$(this).val();
                        if(isNaN(data) || data<0)
                       {
                           $(this).val(data.substr(0,data.length-1));
                       }
                     })
     </script>

</div>


