<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">

    <div class="col-xs-6">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    活动概况
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <div id="piechart-statisic"></div>

                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>

    <div class="col-xs-6">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    各项奖项中奖情况
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <div id="piechart-prizes"></div>

                </div><!-- /widget-main -->

            </div><!-- /widget-body -->

        </div><!-- /widget-box -->

    </div>

    <div class="col-xs-12" style="margin-top: 10px;">

        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-info hide">
            <i class="icon-hand-right"></i>

            Please note that demo server is not configured to save the changes, therefore you may get an error message.
            <button class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <div id="dialog-message" class="hide">
            <p>
                请选择一行
            </p>
        </div><!-- #dialog-message -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
jQuery(function($) {
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";

    var jqgrid = jQuery(grid_selector).jqGrid({
        url:'<?php echo $viewHelper->getUrl('ajaxPrizeResults?id='.$id) ?>',
        datatype: "json",
        height: "100%",
        mtype: 'POST',
        colNames:['ID', '抽奖时间', '奖项','中奖用户', '中奖码', '是否兑奖', '发货状态', '快递公司', '运单号', ''],
        colModel:[
            {name:'id',index:'user_prize_id', width:60, sorttype:"int", align:'center', search: true, stype:'text', searchoptions:{sopt:['eq']}},
            {name:'created',index:'created', width:80, sorttype:"date", align:'center', search: true, stype:'text'},
            {name:'option_name',index:'option_name',width:130, align:'center', sortable: false, editable: false, search: true, stype: 'text', searchoptions:{attr:{placeholder:" Press Enter to search..."}}},
            {name:'user',index:'user', width:130, align:'center', sortable: false, editable: false, search:'true', stype: 'text', searchoptions:{sopt:['in']}},
            {name:'code',index:'code', width:130, align:'center', sortable: false, editable: true, edittype:'text', search:'true', stype:'text'},
            {name:'available',index:'available', width:70, align:'center', sorttype:'int', editable:true, edittype:'select', align:'center', search:true, stype:'select', searchoptions:{value:":全部;0:已兑奖;1:未兑奖"}, editoptions:{value:"0:已兑奖;1:未兑奖"}},
            {name:'is_delivery',index:'is_delivery', width:50, align:'center', sortable: true, sorttype:'int', editable: true, search: true, stype:'select', searchoptions:{value:":全部;0:未发货;1:已发货"}, edittype:'select', editoptions:{value:"0:未发货;1:已发货"}},
            {name:'delivery_company',index:'delivery_company', width:90, align:'center', sortable: false, editable: true, search: true, stype:'text', edittype:'text'},
            {name:'delivery_no',index:'delivery_no', width:90, align:'center', sortable: false, editable: true, search: true, edittype:'text'},
            {name:'myac', index:'', width:80, fixed:true, align:'center', sortable:false, resize:false, search:false, formatter:'actions',
                formatoptions:{
                    keys:true,
                    delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                    //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                }
            },
        ],
        sortname: 'created',
        sortorder: 'desc',
        viewrecords : true,
        rowNum:10,
        rowList:[10,20,30],
        pager : pager_selector,
        altRows: true,
        multiselect: true,
        loadComplete : function() {
            var table = this;
            setTimeout(function(){
                updatePagerIcons(table);
                enableTooltips(table);
            }, 0);
            $(".ui-jqgrid-bdiv").css("overflow-x", 'hidden');
            if($(grid_selector).height() > 520) {
                $('.ui-jqgrid-bdiv').height("520");
            }
            $('.ui-jqgrid .ui-jqgrid-htable th div').css('text-align', 'center');
        },

        editurl: '<?php echo $viewHelper->getUrl('editPrizes') ?>',//nothing is saved
        caption: "中奖结果列表",
        autowidth: true
    });

    //navButtons
    $(grid_selector).jqGrid(
        'navGrid',
        pager_selector,
        { 	// navbar actions options
            edit: false,
            add: false,
            del: true,
            delicon : 'icon-trash red',
            search: false,
            searchicon : 'icon-search orange',
            view: false,

            // options
            refresh: true,
            refreshicon : 'icon-refresh green',
            recordtext: "记录 {1} - {2} of {3}"
        },
        {
            //edit record form
            recreateForm: true,
            keys: true,
            beforeShowForm : function(e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }
        },
        {},
        {
            //delete record form
            recreateForm: true,
            beforeShowForm : function(e) {
                var form = $(e[0]);
                if(form.data('styled')) return false;
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);

                form.data('styled', true);
            },
            onClick : function(e) {
                alert(1);
            }
        },
        {},
        {}
    );


    // filterToolbar
    jQuery(grid_selector).jqGrid('filterToolbar',{stringResult: true,searchOnEnter : true});

    /** =====================================
     * style function
     ========================================*/
    function style_edit_form(form) {
        //enable datepicker on "sdate" field and switches for "stock" field
        form.find('input[name=sdate]').datetimepicker()
            .end().find('input[name=stock]')
                  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

        //update buttons classes
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')

        buttons = form.next().find('.navButton a');
        buttons.find('.ui-icon').remove();
    }
    function style_delete_form(form) {
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')
    }
    function style_search_filters(form) {
        form.find('.delete-rule').val('X');
        form.find('.add-rule').addClass('btn btn-xs btn-primary');
        form.find('.add-group').addClass('btn btn-xs btn-success');
        form.find('.delete-group').addClass('btn btn-xs btn-danger');
    }
    function style_search_form(form) {
        var dialog = form.closest('.ui-jqdialog');
        var buttons = dialog.find('.EditTable')
        buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
        buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
        buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
    }

    function beforeDeleteCallback(e) {
        var form = $(e[0]);
        if(form.data('styled')) return false;
        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
        style_delete_form(form);
        form.data('styled', true);
    }

    //replace icons with FontAwesome icons like above
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
        })
    }

    function enableTooltips(table) {
        $('.navtable .ui-pg-button').tooltip({container:'body'});
        $(table).find('.ui-pg-div').tooltip({container:'body'});
    }

    /**
     * 图表
     */
    var place_statisic = $('#piechart-statisic').css({'width':'80%' , 'min-height':'150px'});
    var data = [
        { label: "抽奖次数 (<?php echo empty($times) ? 0 : $times; ?>次)",  data: <?php echo empty($times) ? 0 : $times; ?>, color: "#68BC31"},
        { label: "中奖次数 (<?php echo empty($win_times) ? 0 : $win_times; ?>次)",  data: '<?php echo empty($win_times) ? 0 : $win_times; ?>', color: "#2091CF"},
        { label: "未中奖次数 (<?php echo empty($lose_times) ? 0 : $lose_times; ?>次)",  data: '<?php echo empty($lose_times) ? 0 : $lose_times; ?>', color: "#AF4E96"},
        { label: "参与人数 (<?php echo empty($participants) ? 0 : $participants; ?>人)",  data: '<?php echo empty($participants) ? 0 : $participants; ?>', color: "#DA5430"},
        { label: "已兑奖 (<?php echo empty($cashed_lottery) ? 0 : $cashed_lottery; ?>个)",  data: '<?php echo empty($cashed_lottery) ? 0 : $cashed_lottery ?>', color: "#FEE074"},
        { label: "未兑奖 (<?php echo empty($not_cashed_lottery) ? 0 : $not_cashed_lottery; ?>个)",  data: '<?php echo empty($not_cashed_lottery) ? 0 : $not_cashed_lottery; ?>', color: "#CCCCCC"}
    ];

    var place_prize = $('#piechart-prizes').css({'width':'80%' , 'min-height':'150px'});
    var data2 = <?php echo $prizes ?>;

    function drawPieChart(ph, data, position) {
        $.plot(ph, data, {
            series: {
                pie: {
                    show: true,
                    tilt:0.8,
                    highlight: {
                        opacity: 0.25
                    },
                    stroke: {
                        color: '#fff',
                        width: 2
                    },
                    startAngle: 2
                }
            },
            legend: {
                show: true,
                position: position || "ne",
                labelBoxBorderColor: null,
                margin:[-30,15]
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        })
    }

    drawPieChart(place_statisic, data);
    <?php if(count($prize_statisic) > 0): ?>
    drawPieChart(place_prize, data2);
    <?php endif; ?>

    /**
    we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
    so that's not needed actually.
    */
    place_statisic.data('chart', data);
    place_statisic.data('draw', drawPieChart);

    <?php if(count($prize_statisic) > 0): ?>
    place_prize.data('chart', data2);
    place_prize.data('draw', drawPieChart);
    <?php endif; ?>

    var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');

    place_statisic.on('plothover', function (event, pos, item) {
        if(item) {
        if (previousPoint != item.seriesIndex) {
            previousPoint = item.seriesIndex;
            var tip = item.series['label'] + " : " + item.series['percent']+'%';
            $tooltip.show().children(0).text(tip);
        }
            $tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
        } else {
            $tooltip.hide();
            previousPoint = null;
        }
    });

    <?php if(count($prize_statisic) > 0): ?>
    place_prize.on('plothover', function (event, pos, item) {
        if(item) {
        if (previousPoint != item.seriesIndex) {
            previousPoint = item.seriesIndex;
            var tip = item.series['label'] + " : " + item.series['percent']+'%';
            $tooltip.show().children(0).text(tip);
        }
            $tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
        } else {
            $tooltip.hide();
            previousPoint = null;
        }
    });
    <?php endif; ?>

});
</script>
