<?php
use Multiple\Wap\Helper\ShopData;

$order = $this->request->get('order', null, 'is_hot');
$sort = $this->request->get('sort');
$keyword = $this->request->get('keyword');

$where = 'is_active = 1 and customer_id = ' . CUR_APP_ID;
$order = in_array($order, array('is_hot', 'is_recommended', 'sell_price', 'created')) ? $order : 'is_hot';

$keyword = $this->request->get('keyword');
if (!empty($keyword)) {
    $where .= " AND name like '%$keyword%'";
}

$products = ShopData::init()->getList($where, 0, 10, $order . ' ' . $sort);

$filter = array(
    'order' => $order,
    'sort' => $sort,
    'keyword' => $keyword,
);
?>

<div id="container" class="container shop-list-wrap">

    <div class="product">

        <div class="ui-refresh">

            <div class="filter">
                <table>
                    <tr>
                        <?php $sort = ($filter['sort'] == 'desc') ? 'asc' : 'desc'; ?>
                        <td><a <?php if ($filter['order'] == 'is_hot'): ?>class="cur"<?php endif; ?>
                               href="<?php echo $this->uri->baseUrl('shop/all') . '?order=is_hot&sort=' . $sort . '&keyword=' . $filter['keyword']; ?>">销量</a>
                        </td>
                        <td><a <?php if ($filter['order'] == 'is_recommended'): ?>class="cur"<?php endif; ?>
                               href="<?php echo $this->uri->baseUrl('shop/all') . '?order=is_recommended&sort=' . $sort . '&keyword=' . $filter['keyword']; ?>">人气</a>
                        </td>
                        <td><a <?php if ($filter['order'] == 'sell_price'): ?>class="cur"<?php endif; ?>
                               href="<?php echo $this->uri->baseUrl('shop/all') . '?order=sell_price&sort=' . $sort . '&keyword=' . $filter['keyword']; ?>">价格 <?php if ($filter['order'] == 'sell_price'): ?>
                                    <i class="sort <?php if ($sort == 'asc'): ?>asc<?php endif; ?>"></i><?php endif; ?>
                            </a></td>
                        <td><a <?php if ($filter['order'] == 'created'): ?>class="cur"<?php endif; ?>
                               href="<?php echo $this->uri->baseUrl('shop/all') . '?order=created&sort=' . $sort . '&keyword=' . $filter['keyword']; ?>">上新</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="productlist">
                <?php if (count($products) > 0): ?>
                    <ul class="data-list">

                        <?php foreach ($products as $pro): ?>
                            <li>
                                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($pro['id'])); ?>">
                                    <p class="cover">
                                        <img src="/static/wap/images/default/loading.gif" class="ui-imglazyload"
                                             data-original="<?php echo \Util\ImgSize::getSize($pro['thumb'],160); ?>"/></p>

                                    <div class="detail">
                                        <p class="name"><?php echo mb_substr($pro['name'],0,15,'utf-8'); ?></p>

                                        <p class="price">&yen; <?php echo $pro['sell_price']; ?><br/>
                                            <del>&yen;<?php echo $pro['original_price']; ?></del>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        <?php endforeach; ?>

                    </ul>
                    <div class="clear"></div>
                    <div class="ui-refresh-down"></div>

                <?php else: ?>

                    <div class="empty">暂无商品信息</div>

                <?php endif; ?>

            </div>

        </div>

    </div>

</div>

<?php
if (count($filter) > 0) {
    $params = array();
    foreach ($filter as $key => $value) {
        $params[] = $key . "=" . $value;
    }
    $params = implode('&', $params);
}
?>
<script type="text/javascript">
    seajs.use('/static/wap/gmu/widget/refresh.js', function () {

        // 图片懒加载
        $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

        var page = 1;
        /*组件初始化js begin*/
        $('.ui-refresh').css('height', window.innerHeight - ($('header').height() + 45 || 82)).refresh({
            statechange: function () {
                $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});
            },
            load: function (dir, type) {
                var me = this;
                var link = '<?php echo $this->uri->baseUrl('api/product/item_list') . '?' . $params ?>' + '&page=' + page;
                $.getJSON(link, function (data) {
                    page++;
                    var $list = $('.data-list'),
                        html = (function (data) {      //数据渲染
                            var liArr = [];
                            $.each(data, function () {
                                liArr.push(this.html);
                            });
                            return liArr.join('');
                        })(data);

                    $list[dir == 'up' ? 'prepend' : 'append'](html);
                    me.afterDataLoading(dir);    //数据加载完成后改变状态

                    $('.ui-imglazyload').lazyload();

                    if (data.length <= 0) {
                        me.disable(dir, false);
                    }
                });
            }
        });

        /*组件初始化js end*/
    });
</script>
