<div id="container" class="container" style="min-height: 500px;position: relative;margin: 0;padding: 0;">
    <div class="addrManage page" style="display: block;position: static;">
        <div class="addrHead head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>

            <span class="center">收货地址管理</span>
        </div>
        <div class="addr-list">
            <?php
            if ($address) {
                foreach ($address as $addr) {
                    ?>
                    <div class="addr" data-id="<?php echo $addr['id']; ?>">
                        <a class="addr-content" data-id="<?php echo $addr['id']; ?>" href="javascript:;">
                            <p class="address"><?php echo $addr['province'] . '·' . $addr['city'] . '·' . $addr['town']; ?> </p>

                            <p><?php echo $addr['address'] ?></p>

                            <p>
                                <?php echo $addr['name']; ?>
                                <?php echo $addr['phone']; ?>
                            </p>
                        </a>

                        <p class="addr-act">
                            <span class="right">
                                <a href="javascript:;" class="editAddrBtn"
                                   data-id="<?php echo $addr['id']; ?>"
                                   data-name="<?php echo $addr['name']; ?>"
                                   data-phone="<?php echo $addr['phone']; ?>"
                                   data-zip_code="<?php echo $addr['zip_code']; ?>"
                                   data-province="<?php echo $addr['province']; ?>"
                                   data-city="<?php echo $addr['city']; ?>"
                                   data-town="<?php echo $addr['town']; ?>"
                                   data-address="<?php echo $addr['address']; ?>"
                                    >
                                    <img src="/static/wap/images/order/edit.png" alt=""/>
                                </a>
                                <a href="javascript:;" class="rmAddrBtn" data-id="<?php echo $addr['id']; ?>">
                                    <img src="/static/wap/images/order/del.png" alt=""/>
                                </a>
                            </span>
                            <span>
                                <input type="radio" name="is_default" data-id="<?php echo $addr['id']; ?>"
                                       class="is_default" <?php echo $addr['is_default'] == '1' ? 'checked' : ''; ?>/> 设为默认
                            </span>
                        </p>
                    </div>
                <?php
                }
            }
            ?>
        </div>
        <form action="javascript:;" class="addrForm">
            <div class="addrHead">
                <a href="javascript:;" class="hideAddrFormBtn"><i class="icon icon-angle-left"></i></a>
                <span class="center">新增收货地址</span>
                <!--                <span class="right"><a href="javascript:;" class="btn btn-red saveAddrBtn">添加</a></span>-->
            </div>
            <div class="field">
                <p>
                    <label for="">收货姓名</label> <span class="tip">*</span>
                </p>

                <p>
                    <input type="text" value="" id="name" class="addr-input"/>
                </p>
            </div>

            <div class="field">
                <p><label for="">联系电话</label> <span class="tip">*</span></p>

                <p>
                    <input type="text" value="" id="phone" class="addr-input"/>
                </p>
            </div>

            <div class="field region-field">
                <p>
                    <label for="">所在地区</label>

                    <span class="tip">* 请选择区域</span>
                </p>

                <p>
                <span class="chk_selc">
                    <select name="province" id="province" class=""></select>
                </span>
                    <span class="chk_name">省</span>
                </p>

                <p>
                <span class="chk_selc">
                    <select name="city" id="city" class=""></select>
                </span>
                    <span class="chk_name">市</span>
                </p>

                <p>
                <span class="chk_selc">
                    <select name="town" id="town" class=""></select>
                </span>
                    <span class="chk_name">区</span>
                </p>
            </div>

            <div class="field">
                <p>
                    <label for="">详细地址</label>
                    <span class="tip">* (6字及以上，不用填写省市县)</span>
                </p>

                <p>
                    <input type="text" id="address" value="" maxlength="30" class="addr-input"/> <br/>
                </p>
            </div>
        </form>
        <div style="height: 60px;"></div>
    </div>
    <div class="pay"
         style="position: fixed;bottom: 0;left: 0;padding: 6px 0;width: 100%;background: #fff;z-index: 99999;">
        <div style="margin: 0 6px;">
            <a href="javascript:;" class="btn-large btn btn-green showAddrFormBtn" id="showAddrFormBtn"
               style="display:;">新增地址</a>
            <a href="javascript:;" class="btn-large btn btn-red saveAddrBtn" id="saveAddrBtn"
               style="display:none;">保存地址</a>
        </div>
    </div>
    <script>
        seajs.use('app/app.shop_order', function (cart) {
            cart.addrManage();

            $('.showAddrFormBtn').show();
        });
    </script>
</div>
