<?php
use Components\Order\CartManager;

$list = CartManager::init()->getList();
?>
<div id="container" class="container" style="margin: 0;padding: 0;">
    <div class="cart-page page">
        <div class="card-head head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
                <span class="name center">
                    <img src="/static/wap/images/order/cart.png" alt=""/>
                    我的购物车(<?php echo $list ? count($list) : 0; ?>)
                </span>
                <span class="right">
                    <a href="javascript:;" class="btn btn-green openEditModelBtn">编辑</a>
                    <a href="javascript:;" class="btn btn-red saveCartBtn" style="display: none;">完成</a>
                </span>
        </div>
        <?php
        if ($list) {
            ?>
            <ul class="shop-cart">
                <?php foreach ($list as $item) {
                    ?>
                    <li class="item <?php echo $item['spec_num'] <= $item['num'] ? 'shortage' : ''; ?>"
                        data-id="<?php echo $item['id']; ?>">
                        <table class="item-info">
                            <tr>
                                <th>
                                    <?php
                                    if ($item['spec_num'] >= $item['num']) {
                                        ?>
                                        <a href="javascript:;" class="chk"
                                           data-id="<?php echo $item['id']; ?>"
                                           data-item-total="<?php echo $item['total']; ?>"
                                           data-num="<?php echo $item['num']; ?>"
                                           data-spec="<?php echo $item['spec']; ?>">
                                        </a>
                                    <?php } else { ?>
                                        <span class="normal red">库存<br>不足</span>
                                    <?php } ?>
                                </th>
                                <td class="preview">
                                    <img src="<?php echo $item['thumb']; ?>" alt=""/>
                                </td>
                                <td class="more">
                                    <p class="item-name">
                                        <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['item_id'])); ?> "><?php echo $item['name']; ?></a>
                                    </p>

                                    <div class="detail">
                                        <p>价格： <span class="cart-money">&yen; <?php echo $item['sell_price']; ?></span>
                                            数量： <span
                                                class="num"
                                                data-id="<?php echo $item['id']; ?>"><?php echo $item['num']; ?></span>
                                        </p>
                                    </div>

                                    <div class="edit" style="display: none;">
                                        <span class="cart-money">&yen; <?php echo $item['sell_price']; ?></span> X
                                        <span class="num num-act">
                                            <a href="javascript:;" class="minusBtn">-</a>
                                            <input type="text" value="<?php echo $item['num']; ?>" name="qty"
                                                   class="item_quantity"
                                                   data-id="<?php echo $item['id']; ?>"
                                                   data-price="<?php echo $item['sell_price']; ?>"
                                                   style="width: 20px;height: 12px;text-align: center;"
                                                   data-inventory="<?php echo $item['spec_num']; ?>"/>
                                            <a href="javascript:;" class="plusBtn">+</a>
                                            (库存<?php echo $item['spec_num']; ?>)
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p class="subtotal">
                            小计：
                            <span class="cart-money item_total"
                                  data-id="<?php echo $item['id']; ?>">&yen; <?php echo $item['total']; ?>
                            </span> 元

                            <?php
                            if ($item['spec_data']) {
                                ?>
                                <span class="">[
                                    <?php
                                    $spec_data = json_decode($item['spec_data'], true);
                                    if ($spec_data) {
                                        foreach ($spec_data as $spec) {
                                            ?>
                                            <?php echo $spec['val']; ?>
                                        <?php
                                        }
                                    }
                                    ?>]
                                </span>
                            <?php } ?>
                            <span class="right"><a href="javascript:;" class="delCart"
                                                   data-id="<?php echo $item['id']; ?>"
                                                   style="display: none;"><img src="/static/wap/images/order/del.png"
                                                                               alt=""/></a></span>
                        </p>
                    </li>
                <?php } ?>
            </ul>

            <div class="settlement">
                <a href="javascript:;" class="chooseTotal"></a> <span>总金额</span>
                <span class="right"><em class="cart-total cart-money">&yen; 0.00</em></span>
            <span class="right">

            </span>

                <div id="cart-dialog" title="删除宝贝" class="dialog">
                    <p>确认要删除该宝贝吗?</p>
                </div>

                <div class="pay"
                     style="position: fixed;bottom: 0;left: 0;padding: 5px 0;width: 100%;background: #fff;z-index: 99999;">
                    <div style="margin: 0 6px;">
                        <a href="javascript:;" class="btn-large btn goSettleBtn"
                           style="display:block" data-location="/shop/settle">立即结算</a>
                    </div>
                </div>
            </div>
        <?php
        } else {
            ?>
            <div class="empty">
                <div class="nop">
                    <p>购物车为空~</p>

                    <p><a href="/shop/all">去挑选商品吧?</a></p>
                </div>
            </div>
        <?php
        }
        ?>
        <div style="height: 50px;"></div>

        <script>
            seajs.use('app/app.shop_cart', function (cart) {
                cart.cartPageInit();
            });
        </script>
    </div>
</div>