<?php
$rank = array("0" => '差评', '1' => '中评', '2' => '好评');
?>
<div class="container" id="container" style="margin: 0;padding: 0;">
    <div class="comment-page page">
        <div class="head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
            <span class="center">商品评价</span>
        </div>
        <?php
        if ($list) {
            ?>

            <?php
            if ($order) {
                ?>
                <div class="comment-head">
                    订单号：
                    <a href="/order/detail/<?php echo $order['order_number']; ?>"><?php echo $order['order_number']; ?></a>
                </div>
            <?php } ?>

            <ul class="comment-list">
                <?php
                foreach ($list as $key => $val) {
                    ?>
                    <li class="item">
                        <p class="head">
                            商品详情：<a
                                href="/shop/item/<?php echo \Util\EasyEncrypt::encode($val['product_id']); ?>"><?php echo $val['name']; ?></a>
                        </p>

                        <div class="content">
                            <p>
                                我的评价：
                                <span class="rate"><?php echo $rank[$val['rank']]; ?></span>
                                <?php echo $val['content']; ?>
                            </p>
                        </div>
                    </li>
                <?php } ?>
            </ul>
        <?php } ?>
    </div>
</div>
