<?php
use Components\Product\TransactionManager;
use Util\EasyEncrypt;

$s = $this->request->get('s');
$b = $this->request->get('b');
?>
<div id="container" class="container page" style="margin: 0;padding: 0;">
<div class="order-tab">
    <p class="order-header head">
        <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
        <span class="center">我的订单</span>
    </p>
    <ul class="order-nav">
        <li class="<?php echo !is_numeric($s) && !is_numeric($b) ? 'active' : ''; ?>">
            <a href="?s=">全部</a>
        </li>
        <li class="<?php echo is_numeric($s) && $s == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY ? 'active' : ''; ?>">
            <a href="?s=<?php echo TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY; ?>">待付款</a>
        </li>
        <li class="<?php echo $s == TransactionManager::ORDER_STATUS_WAIT_BUYER_CONFIRM_GOODS ? 'active' : ''; ?>">
            <a href="?s=<?php echo TransactionManager::ORDER_STATUS_WAIT_BUYER_CONFIRM_GOODS; ?>">待收货</a>
        </li>
        <li class="<?php echo $s == TransactionManager::ORDER_STATUS_TRADE_SUCCESS ? 'active' : ''; ?>">
            <a href="?s=<?php echo TransactionManager::ORDER_STATUS_TRADE_SUCCESS; ?>">已完成</a>
        </li>
        <li class="<?php echo $b == TransactionManager::ORDER_STATUS_BUYER_CHANGED_GOODS ? 'active' : ''; ?>">
            <a href="?b=<?php echo TransactionManager::ORDER_STATUS_BUYER_CHANGED_GOODS; ?>">退货/售后</a>
        </li>
    </ul>
</div>
<?php
if (isset($orders) && $orders) {
    foreach ($orders as $order) {
        ?>
        <div class="order-wrap" style="margin: 0 0 12px;" data-order="<?php echo $order['order_number']; ?>">
            <div class="order-head">
                订单号 <a class="order_number"
                       href="/order/detail/<?php echo $order['order_number']; ?>"><?php echo $order['order_number']; ?></a>

                <?php
                if ($order['status'] == TransactionManager::ORDER_STATUS_BUYER_CANCELED) {
                    ?>
                    <a href="javascript:;" class="right delOrderBtn"
                       data-order="<?php echo $order['order_number']; ?>"><img
                            src="/static/wap/images/order/del.png" alt=""
                            style="height: 18px;vertical-align: middle;;"/></a>
                <?php
                } else {
                    ?>
                    <span class="right"
                          style="font-size: 12px;color: #999;"><?php echo date('Y-m-d', $order['created']); ?></span>
                <?php } ?>
            </div>
            <ul class="order-detail">
                <?php foreach ($order['list'] as $item) { ?>
                    <li class="item" data-id="<?php echo $item['id']; ?>">
                        <dl class="detail">
                            <dt><img src="<?php echo \Util\ImgSize::getSize($item['thumb'], 50); ?>" alt=""/></dt>
                            <dd>
                                <p class="name"><?php echo $item['item_name']; ?></p>

                                <p>
                            <span class="right">
                                <span class="cart-money">
                                    ￥<?php echo $item['total_cash']; ?>元
                                </span>
                            </span>
                                    <?php if ($item['item_spec_data']) { ?>
                                        [
                                        <span class="blue">
                                    <?php
                                    $spec = json_decode($item['item_spec_data'], true);
                                    if ($spec) {
                                        foreach ($spec as $v) {
                                            echo $v['val'] . ' ';
                                        }
                                    }
                                    ?></span>
                                        ]
                                    <?php } ?>
                                    <em class="green">x</em> <?php echo $item['quantity']; ?>
                                </p>
                            </dd>
                        </dl>
                        <div class="clear"></div>
                        <p class="item-foot">
                                <span class="cart-money">
                                    &yen;<?php echo $order['paid_cash'] + $order['logistics_fee']; ?>元
                                </span>

                            <?php
                            if ($order['is_pointmall']) {
                                ?>
                                积分换购(<?php echo isset($order['pointmall']['total_point']) ? $order['pointmall']['total_point'] : 0; ?>)
                            <?php
                            }
                            ?>

                            <span class="right">
                            <?php
                            // 货到付款
                            if ($order['is_cod']) {
                                ?>
                                [<span class="money">货到付款</span>]
                            <?php } ?>
                                <?php
                                // 取消订单
                                if (
                                    ($order['is_cod'] && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_SELLER_SEND_GOODS)
                                    || (!$order['is_cod'] && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY)
                                ) {
                                    ?>
                                    <a href="javascript:;"
                                       class="btn cancelOrderBtn"
                                       data-order="<?php echo $order['order_number']; ?>">取消订单</a>
                                <?php
                                }
                                ?>

                                <?php
                                if ($order['is_cod'] == 0 && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY) {
                                    ?>
                                    <a href="/order/pay?order=<?php echo $order['order_number']; ?>"
                                       class="btn btn-green">立即支付</a>
                                <?php
                                } else {
                                    //货到付款初始状态为代发货
                                    if ($order['is_cod'] == 1 && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY) {
                                        ?>
                                        <span
                                            class="money">待发货</span>
                                    <?php
                                    } else {
                                        ?>
                                        <span
                                            class="money"><?php echo TransactionManager::getOrderStatus($order['status']); ?></span>
                                        <span class="money">
                                                <?php
                                                if ($order['status'] == TransactionManager::ORDER_STATUS_TRADE_SUCCESS && !$order['is_rate']) {
                                                    echo "<a  href='/order/rate/" . $order['order_number'] . "'style='color:green;' id='comment'>[立即评论]</a>";
                                                } else if ($order['status'] == TransactionManager::ORDER_STATUS_TRADE_SUCCESS && $order['is_rate']) {
                                                    echo "<a  href='/order/comment/" . $order['order_number'] . "'style='color:green;' id='comment'>[我已评论]</a>";
                                                }
                                                ?>
                                            </span>
                                    <?php
                                    }
                                } ?>

                                <?php
                                // todo 确认收获按钮
                                if (in_array($order['status'], array(TransactionManager::ORDER_STATUS_WAIT_BUYER_CONFIRM_GOODS, TransactionManager::ORDER_STATUS_SELLER_DELIVERED))) {
                                    ?>
                                    <span class="btn confirmReceiptBtn"
                                          data-order="<?php echo \Util\EasyEncrypt::encode($order['order_number']); ?>">确认收货</span>
                                <?php
                                }
                                ?>
                            </span>

                            <?php if ($item['return_show']) { ?> <span style="padding: 12px; display: block;">

                                <a href="/order/return/<?php echo EasyEncrypt::encode($item['id']) . "/" . EasyEncrypt::encode(1); ?>"
                                   class="btn btn-green right">换货</a>
                                  <a href="/order/return/<?php echo EasyEncrypt::encode($item['id']) . "/" . EasyEncrypt::encode(2); ?>"
                                     class="btn btn-green right" style="margin-right: 5px;">退货</a>
                                </span><?php } ?>
                        </p>
                    </li>

                <?php } ?>
            </ul>
        </div>
    <?php
    }
} else if (isset($list) && !empty($list)) {
    foreach ($list as $item) {
        ?>
        <div class="order-wrap" style="margin: 0 0 12px;" data-order="<?php echo $item['order_number']; ?>">
            <div class="order-head">
                订单号 <a class="order_number"
                       href="/order/detail/<?php echo $item['order_number']; ?>"><?php echo $item['order_number']; ?></a>

      <span class="right"
            style="font-size: 12px;color: #999;"><?php echo date('Y-m-d', $item['created']); ?></span>
            </div>

            <ul class="order-detail">
                <li class="item" data-id="<?php echo $item['id']; ?>">
                    <dl class="detail">
                        <dt><img src="<?php echo $item['thumb']; ?>" alt=""/></dt>
                        <dd>
                            <p class="name"><?php echo $item['item_name']; ?></p>

                            <p>
                            <span class="right">
                                <span class="cart-money">
                                    ￥<?php echo $item['total_cash']; ?>元
                                </span>
                            </span>
                                <?php if ($item['item_spec_data']) { ?>
                                    [
                                    <span class="blue">
                                    <?php
                                    $spec = json_decode($item['item_spec_data'], true);
                                    if ($spec) {
                                        foreach ($spec as $v) {
                                            echo $v['val'] . ' ';
                                        }
                                    }
                                    ?></span>
                                    ]
                                <?php } ?>
                                <em class="green">x</em> <?php echo $item['quantity']; ?>
                            </p>
                        </dd>
                    </dl>
                    <p class="item-foot return-foot" data-id="<?php echo $item['id'] ?>"
                       data-code="<?php echo EasyEncrypt::encode($item['id']); ?>">
                        <?php echo $item['button'] ?>

                    </p>
                    <?php if ($item['is_seller_accept'] == 2) { ?>
                        <p class="item-foot return-foot">
                            买家留言:<?php echo $item['seller_refused_reason'] ?>
                        </p>
                    <?php } ?>
                </li>
            </ul>
        </div>


    <?php
    }
} else {
    ?>
    <p style="padding: 20px;">
        暂无信息
    </p>
<?php } ?>
</div>

<script>
    seajs.use('app/app.shop_order', function (or) {
        or.orderStatus();
        or.cancelBack();
    })
</script>
