<div class="container" id="container" style="margin: 0;padding: 0;">
    <div class="rate-page page">
        <div class="rate-head head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
            <span class="center">评价商品</span>
        </div>
        <?php
        if ($list) {
            ?>
            <form action="javascript:;" method="POST" name="rateForm" id="rateForm">
                <ul class="rate-list">
                    <?php
                    $goodsList = '';
                    foreach ($list as $key => $val) {
                        $goodsList .= $val['item_id'] . ',';
                        ?>
                        <li class="item">
                            <div class="head">
                                <a href="/shop/item/<?php echo \Util\EasyEncrypt::encode($val['item_id']); ?>"><img
                                        src="<?php echo \Util\ImgSize::getSize($val['thumb'], 50); ?>"/>
                                    <?php echo $val['item_name']; ?></a>
                            </div>
                            <p class="rank">
                                <span>满意度：</span>
                                    <span>
                                        <input type="radio" name="rank<?php echo $val['item_id'] ?>" value="2" checked>
                                        <label class="comment-label">好评</label>
                                    </span>

                                    <span>

                                        <input type="radio" name="rank<?php echo $val['item_id'] ?>" value="1">
                                        <label class="comment-label">中评</label>
                                    </span>

                                    <span>
                                        <input type="radio" name="rank<?php echo $val['item_id'] ?>" value="0">
                                        <label class="comment-label">差评</label>
                                    </span>
                            </p>

                            <div class="cont">
                                <p>
                                    <span>评价内容：</span>
                                </p>

                                <p>
                                    <textarea
                                        name="content<?php echo $val['item_id'] ?>" class="txtCont"
                                        id="comment<?php echo $val['item_id'] ?>"></textarea>
                                </p>
                            </div>

                        </li>
                    <?php } ?>
                </ul>
                <?php
                if ($goodsList) {
                    $goodsList = substr($goodsList, 0, -1);
                } ?>
                <p style="margin: 10px 10px 0 10px;">
                    <input type="hidden" id="goodslist" name="order_number" value="<?php echo $order_number ?>">
                    <input type="hidden" id="goodslist" name="goodsList" value="<?php echo $goodsList ?>">
                    <input class="btn btn-red btn-large " id="rateFormBtn" type="submit"  value="提交评论"/>
                </p>
            </form>
        <?php } ?>
    </div>
</div>
<script>
    seajs.use('app/app.shop_order', function (order) {
        order.rate();
    });
</script>
