<?php
use Components\Order\OrderSettle;

$discount_amount = \Components\Module\VipcardManager::init()->getCardDiscount(\Components\UserStatusWap::getUid(), CUR_APP_ID);
// get settle list item

$all = $this->dispatcher->getParam(0);
$from = $this->request->get('f');
$cart_data = json_decode(base64_decode($all), true);
$default_addr = OrderSettle::init()->getUserAddress();
// get settle list item
if ($from == "item") {
    $settleData = OrderSettle::init()->getSettleItem($cart_data, ($default_addr ? $default_addr['province'] : ""), $discount_amount);
} else {
    $settleData = OrderSettle::init()->getSettleData($cart_data, ($default_addr ? $default_addr['province'] : ""), $discount_amount);
}
?>
<?php
if ($settleData){
?>
<div id="container-settle" class="container" style="position:static;background: #fff;margin: 0;padding: 0;">
    <div class="settle-page page">
        <div class="head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
            <span class="center">结算订单</span>
        </div>
        <?php
        $this->view->partial('order/settle/addrChoose');
        ?>
        <div class="order-wrap">
            <div class="order-head">订单详情</div>
            <ul class="order-detail">
                <?php
                foreach ($settleData['list'] as $k => $good) {
                    ?>
                    <?php foreach ($good['goods'] as $item) { ?>
                        <li class="item" data-id="<?php echo $item['item_id']; ?>">
                            <dl class="detail">
                                <dt><img src="<?php echo \Util\ImgSize::getSize($item['thumb'], 50); ?>" alt=""/></dt>
                                <dd>
                                    <p class="name"><?php echo $item['name']; ?></p>

                                    <p>
                                                        <span class="right">
                                                            <span class="cart-money">
                                                                ￥<?php echo $item['subtotal']; ?>元
                                                            </span>
                                                        </span>
                                        <?php if ($item['spec_data']) { ?>
                                            [
                                            <span class="blue">
                                                        <?php
                                                        $spec = json_decode($item['spec_data'], true);
                                                        if ($spec) {
                                                            foreach ($spec as $v) {
                                                                echo $v['val'] . ' ';
                                                            }
                                                        }
                                                        ?></span>
                                            ]
                                        <?php } ?>
                                        <em class="green">x</em> <?php echo $item['num']; ?>
                                    </p>
                                </dd>
                            </dl>
                            <div class="clear"></div>
                        </li>

                    <?php } ?>
                    <?php $freight_price = 0;
                    if ($settleData['free_postage'] == 0 || $settleData['free_postage'] > $settleData['total_cash']) {
                        ?>
                        <li class="freight_li">
                            <div class="right freight_select">
                                配送方式:
                                <select name="freight_<?php echo $k; ?>" class="freight_type">
                                    <?php
                                    $i = 0;
                                    foreach ($good['freight_tpl'] as $k2 => $freight) {
                                        $k2 = strtolower($k2);
                                        ?>
                                        <option data-val="<?php echo $freight['total_freight_money'] ?>"
                                                value="<?php echo $k2; ?>">
                                            <?php echo ($k2 == 'express' ? '快递' : ($k2 == 'ems' ? 'EMS' : '平邮')) . '&nbsp &yen' . $freight['total_freight_money']; ?>
                                        </option>
                                        <?php $i++;
                                    } ?>
                                </select>
                            </div>
                        </li>
                    <?php
                    } ?>
                <?php } ?>
                <li>
                    <div class="order-count">
                        <p>
                            订单总额：
                            <span class="cart-money"
                                  style="font-size: 12pt;">&yen;<?php echo $settleData['total_paid']; ?>元</span>
                            订单优惠：
                            <span class="cart-money">&yen; <?php echo $settleData['total_preferential']; ?>元</span>
                        </p>

                        <p>
                            <?php if ($discount_amount > 0 && $discount_amount != 100): ?>
                                VIP卡折扣优惠：<span class="money"> &yen; <?php echo $settleData['vip_preferential']; ?>
                                    元</span>
                            <?php endif; ?>
                            <?php if ($settleData['order_award_points'] > 0) { ?> 赠送积分：<span class="money">
                                + <?php echo $settleData['order_award_points']; ?>
                                分</span><?php } ?>
                        </p>

                        <p>总运费: <span class="freight_money cart-money"
                                      data-val="<?php echo $settleData['freight_fee']; ?>"
                                      style="font-size: 12pt;"><?php if ($settleData['freight_fee'] == 0) {
                                    echo ($settleData['free_postage'] > 0 && $settleData['free_postage'] < $settleData['total_paid'] ? "满&yen" . $settleData['free_postage'] : '') . "包邮";
                                } else {
                                    echo "&yen" . $settleData['freight_fee'];
                                } ?></span>
                        </p>
                    </div>
                </li>
            </ul>

            <?php
            $this->view->partial('order/settle/coupon');
            ?>
            <div class="postage_choose">
                <p class="">
                    <input class="remark" type="text" placeholder="给卖家留言"
                           style="display: block;width: 100%;box-sizing: border-box"/>
                </p>
            </div>

            <div class="settle-foot" s>
                <?php
                $this->view->partial('order/settle/usePoint');
                ?>
                <p style="padding: 0 0 20px;">
                    <span class="right">
                    实际支付：
                    <span class="cart-money total_fee" id="cart_money" style="font-size: 12pt;"
                          data-total="<?php echo $settleData['total_paid']; ?>"
                          data-coupon_minus="<?php echo $coupon['max_minus']; ?>"
                          data-freight_fee="<?php echo $settleData['freight_fee']; ?>"
                        >
                    &yen; <?php echo round($settleData['total_paid'] - $coupon['max_minus'] + $settleData['freight_fee'], 2); ?>
                        (含运费)
                    </span>
                </span>
                </p>
            </div>

            <textarea name="" id="all_item" data-val="<?php echo base64_encode(json_encode($settleData['list'])); ?>"
                      style="display: none;"><?php echo base64_encode(json_encode($settleData['list'])); ?></textarea>
        </div>

        <div class="pay"
             style="position: fixed;bottom: 0;left: 0;padding: 6px 0;width: 100%;background: #fff;z-index: 99999;">
            <div style="margin: 0 6px; ">
                <a href="javascript:;" class="btn-large btn btn-red generateOrderBtn" id="confirmOrderBtn"
                   style="display:block;">确认订单</a>
                <a href="javascript:;" class="btn-large btn btn-green showAddrFormBtn" id="showAddrFormBtn"
                   style="display:none;">新增地址</a>
                <a href="javascript:;" class="btn-large btn btn-red saveAddrBtn" id="saveAddrBtn"
                   style="display:none;">保存地址</a>
            </div>
        </div>
        <?php
        $this->view->partial('order/settle/addrManage');
        ?>
    </div>
    <div style="height: 50px;"></div>
    <?php
    } else {
        $tip = '无可结算的商品！';
        $this->view->partial('order/settle/error');
    } ?>
</div>

<script>
    seajs.use('app/app.shop_order', function (cart) {
        cart.settlePageInit();
    });
</script>
