<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-info hide">
            <i class="icon-hand-right"></i>

            <button class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
        </div>

        <table id="grid-table" class="list"></table>

        <div id="grid-pager"></div>

        <div id="dialog-message" class="hide">
            <p>
                请选择一行
            </p>
        </div><!-- #dialog-message -->

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->


<script type="text/javascript">
jQuery(function($) {
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";

    var jqgrid = jQuery(grid_selector).jqGrid({
        url:'<?php echo $viewHelper->getUrl('ajaxMessagesGrid') ?>',
        datatype: "json",
        height: "100%",
        mtype: 'POST',
        colNames:['ID','留言用户','留言内容', '留言回复', '留言时间', '状态', '操作'],
        colModel:[
            {name:'id',index:'id', width:30, sorttype:"int", align:'center', search: true, stype:'text', searchoptions:{sopt:['eq']}},
            {name:'user_id',index:'user_id',width:60, sortable: false, editable: false, search: true, stype: 'select', searchoptions:{dataUrl:'ajaxGetUsers'}},
            {name:'message',index:'message', width:220, sortable: false, editable: true, edittype:'textarea'},
            {name:'reply',index:'reply', width:120, sortable: false, editable: true, edittype:'textarea'},
            {name:'created',index:'created', width:70, sorttype:'date', editable:true, align:'center', search:true, stype:'text', searchoptions:{sopt:['eq']}},
            {name:'status',index:'status', width:50, align:'center', sortable: false, editable: true, search: true, stype:'select', searchoptions:{value:":全部;0:禁止;1:通过"}, edittype:'select', editoptions:{value:"0:禁止;1:通过"}},
            {name:'myac', index:'', width:80, fixed:true, sortable:false, resize:false, search:false, formatter:'actions',
                formatoptions:{
                    keys:true,
                    delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                    //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                }
            },
        ],
        sortname: 'created',
        sortorder: 'desc',
        viewrecords : true,
        rowNum:10,
        rowList:[10,20,30],
        pager : pager_selector,
        altRows: true,
        multiselect: true,
        loadComplete : function() {
            var table = this;
            setTimeout(function(){
                updatePagerIcons(table);
                enableTooltips(table);
            }, 0);
            $(".ui-jqgrid-bdiv").css("overflow-x", 'hidden');
            if($(grid_selector).height() > 385) {
                $('.ui-jqgrid-bdiv').height("385");
            }
            $('.ui-jqgrid .ui-jqgrid-htable th div').css('text-align', 'center');
        },

        editurl: '<?php echo $viewHelper->getUrl('edit') ?>',//nothing is saved
        caption: "留言列表",
        autowidth: true
    });

    //navButtons
    $(grid_selector).jqGrid(
        'navGrid',
        pager_selector,
        { 	// navbar actions options
            edit: false,
            add: false,
            del: true,
            delicon : 'icon-trash red',
            search: false,
            searchicon : 'icon-search orange',
            view: false,

            // options
            refresh: true,
            refreshicon : 'icon-refresh green',
            recordtext: "记录 {1} - {2} of {3}"
        },
        {
            //edit record form
            recreateForm: true,
            keys: true,
            beforeShowForm : function(e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }
        },
        {},
        {
            //delete record form
            recreateForm: true,
            beforeShowForm : function(e) {
                var form = $(e[0]);
                if(form.data('styled')) return false;
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);

                form.data('styled', true);
            },
            onClick : function(e) {
                alert(1);
            }
        },
        {},
        {}
    ).navButtonAdd(pager_selector,{
        title:"批量处理选中行",
        caption: '',
        buttonicon:" ui-icon-pencil",
        onClickButton: function(){
            var gr = jqgrid.jqGrid('getGridParam','selarrrow');
            if( (gr != null)&&(gr != '') ) {
                $(grid_selector).jqGrid('editGridRow',gr,{
                    url: '<?php echo $viewHelper->getUrl('batch') ?>',
                    editCaption: "批处理操作",
                    reloadAfterSubmit:true,
                    beforeShowForm:function(e) {
                        var form = $(e[0]);
                        if(form.data('styled')) return false;
                        //form.find("table tbody").append("<tr><td colspan='2' style='color: #1B6AAA; text-align: center; padding: 5px;'>提示：请修改相应的字段，留空则忽略。</td></tr>");
                        form.find("#tr_message").hide();
                        form.find("#tr_reply").hide();
                        form.find("#tr_created").hide();
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                        form.data('styled', true);
                    },
                    afterShowForm:function(e) {
                        var form = $(e[0]);
                        ($(form).find("#id_g").val(gr));
                    },
                    closeAfterEdit:true,
                    beforeInitData:true
                });
            } else {

				$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
					_title: function(title) {
						var $title = this.options.title || '&nbsp;'
						if( ("title_html" in this.options) && this.options.title_html == true )
							title.html($title);
						else title.text($title);
					}
				}));
                $( "#dialog-message" ).removeClass('hide').dialog({
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'>警告</h4></div>",
                    title_html: true,
                    height: 70,
                    width: 198
                });
            }
        },
        position:"first"
    });


    // filterToolbar
    jQuery(grid_selector).jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});

    /** =====================================
     * style function
     ========================================*/
    function style_edit_form(form) {
        //enable datepicker on "sdate" field and switches for "stock" field
        form.find('input[name=sdate]').datepicker()
            .end().find('input[name=stock]')
                  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

        //update buttons classes
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')

        buttons = form.next().find('.navButton a');
        buttons.find('.ui-icon').remove();
    }
    function style_delete_form(form) {
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')
    }
    function style_search_filters(form) {
        form.find('.delete-rule').val('X');
        form.find('.add-rule').addClass('btn btn-xs btn-primary');
        form.find('.add-group').addClass('btn btn-xs btn-success');
        form.find('.delete-group').addClass('btn btn-xs btn-danger');
    }
    function style_search_form(form) {
        var dialog = form.closest('.ui-jqdialog');
        var buttons = dialog.find('.EditTable')
        buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
        buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
        buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
    }

    function beforeDeleteCallback(e) {
        var form = $(e[0]);
        if(form.data('styled')) return false;
        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
        style_delete_form(form);
        form.data('styled', true);
    }

    //replace icons with FontAwesome icons like above
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
        })
    }

    function enableTooltips(table) {
        $('.navtable .ui-pg-button').tooltip({container:'body'});
        $(table).find('.ui-pg-div').tooltip({container:'body'});
    }
});
</script>
