<div class="row">
    <div class="col-lg-12">
        <h4 class="header green">留言设置</h4>
    </div>
    <!-- /.col-lg-12 -->

	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<form enctype="multipart/form-data" class="form-horizontal" id="wheelsetting" method="post">
			<div class="form-group">
				<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 是否需要审核： </label>

				<div class="col-sm-9">
					<input type="radio" name="params[examine]" value="1" style="margin-top: 8px;" <?php if(empty($setting->params) || empty($setting->params['examine'])||(isset($setting->params['examine'])&&($setting->params['examine'] == 1))): ?>checked="checked"<?php endif; ?> />是
					<input type="radio" name="params[examine]" value="0" style="margin-top: 8px;" <?php if(empty($setting->params) || isset($setting->params['examine'])&&($setting->params['examine'] == 0)): ?>checked="checked"<?php endif; ?> />否
				</div>
			</div>

			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn btn-info">
						<i class="icon-ok bigger-110"></i>
						保存
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
