<?php
/**
 * Created by PhpStorm.
 * User: Arimis
 * Date: 14-6-6
 * Time: 上午9:59
 */

?>

<div class="page-header">
    <h1>支付方式管理
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{{content()}}
<!-- /.panel-heading -->
<table class="list">
    <thead>
    <tr class="head">
        <th style="width: 50px;">Logo</th>
        <th>名称</th>
        <th>说明</th>
        <th>是否激活</th>
        <th>平台收款</th>
        <th>设置</th>
    </tr>
    </thead>
    <tbody>
    {% if payments|length > 0 %}
    {% for item in payments %}
    <tr class="odd gradeX">
        <td>{% if item['logo']|length > 0%}<img src="{{item['logo']}}" title="{{item['name']}}"
                                              style=" height: 50px;"/>{% endif %}
        </td>
        <td>
            <?php echo $item['name']; ?>
        </td>
        <td>{{item['description']}}</td>
        <td class="center">{% if item['is_active'] == 1%}是{% else %}否{% endif %}</td>
        <td class="center">{% if item['use_platform'] == 1%}是{% else %}否{% endif %}</td>
        <td>
            <a class="item-edit" href="javascript:;" data-trigger="modal" data-target="paymentModal"
               data-data='{{item|json_encode}}'><i class="icon-pencil"></i>设置</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="even gradeC">
        <td colspan="9">还没有任何支付方式</td>
    </tr>
    {% endif %}
    </tbody>
</table>

<!-- edit modal -->
<div class="modal fade" id="paymentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">支付信息配置——<small id="payment_name"></small></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" id="payment_form">
                    <input type="hidden" name="payment_key" id="payment_key" value=""/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">是否激活</label>
                        <span class="col-sm-10">
                            <label for="is_active">是<input name="is_active" id="is_active" type="radio" value="1"/></label>
                            <label for="is_not_active">否<input name="is_active" id="is_not_active" type="radio" value="0"/></label>
                            <span class="col-sm-offset-2 help-block with-errors"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">是否使用平台账号代收款</label>
                        <span class="col-sm-10">
                            <label for="is_use_platform">是<input name="use_platform" id="is_use_platform" type="radio" value="1"/></label>
                            <label for="is_not_use_platform">否<input name="use_platform" id="is_not_use_platform" type="radio" value="0"/></label>
                            <span class="help-block with-errors">如果没有自己的支付渠道，可以借助平台的渠道完成支付，详情请跟客服人员咨询。</span>
                        </span>
                    </div>
                    <div id="config-div" style="display: none;">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-sm" id="saveConfig">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

