<style>
    .tpl {
        width: 170px;
        height: 353px;
        float: left;
        margin: 8px;
        background: url(/static/panel/images/panel/phone.png);
    }

    .tpl dd {
        text-align: center;
        margin: 8px 0 0;
    }

    .tpl:hover {
        cursor: pointer;
        background: url(/static/panel/images/panel/phone-hover.png);
    }

    .tpl-content {
        padding: 8px;
    }
</style>
<?php
$controller = $this->view->getControllerName();
$action = $this->view->getActionName();
$inner = $action;
$inner = array(
    'home' => '',
    'list' => 'list',
    'page' => '',
    'menu' => '',
    'about' => 'about',
    'user' => 'user',
    'shop' => 'shop'
);
$menus = array(
    array('title' => '栏目首页模板风格', 'm' => 'panel', 'c' => 'tpl', 'a' => 'home'),
    array('title' => '列表模板风格', 'm' => 'panel', 'c' => 'tpl', 'a' => 'list'),
    array('title' => '详细页模板', 'm' => 'panel', 'c' => 'tpl', 'a' => 'page'),
    array('title' => '菜单导航模板', 'm' => 'panel', 'c' => 'tpl', 'a' => 'menu'),
    array('title' => '关于模板风格', 'm' => 'panel', 'c' => 'tpl', 'a' => 'about'),
    array('title' => '用户模板风格', 'm' => 'panel', 'c' => 'tpl', 'a' => 'user'),
    array('title' => '店铺商城模板', 'm' => 'panel', 'c' => 'tpl', 'a' => 'shop'),
);

?>
<div class="page-header">
    <h1>
        微站模板设置
        <small>
            <i class="icon-double-angle-right"></i>
            <span class="span3">[<?php echo $title; ?>]</span>
            -
            <span class="span3">[<a href="/panel/tpl">我选择的模板</a>]</span>
        </small>
        <span class="right"><a href="javascript:;" class="preview-app btn btn-sm btn-danger fuckbtn">预览微站</a></span>
    </h1>
</div>

<ul class="nav nav-tabs">
    <?php
    foreach ($menus as $menu) {
        ?>
        <li class="<?php echo ($action == $menu['a'] && $controller == $menu['c']) ? 'active' : ''; ?>">
            <a href="<?php echo '/' . $menu['m'] . '/' . $menu['c'] . '/' . $menu['a'] ?>"><?php echo $menu['title']; ?></a>
        </li>
    <?php } ?>
</ul>
<script>

    seajs.use('app/panel/site/panel.site.set_tpl', function (tpl) {
        tpl.setTpl();
    });
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

    });
</script>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl($inner[$action]); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>