html{height:100%;background-color:#FFFFFF;}
body,td,th{font-family:Arial,Helvetica,sans-serif;font-size:12px;}
body{height:100%;*height:90%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

.xhe-border{border:1px dotted #d3d3d3;}
.xhe-border th,.xhe-border td{border:1px dotted #d3d3d3;}
.wordImage{border:1px dotted #c00;background:url(img/wordimg.gif) #ffc center center no-repeat;}

.editMode{margin:0px;padding:5px;overflow-y:auto;word-break:break-word;word-wrap:break-word;}
.editMode img:-moz-broken {-moz-force-broken-image-icon:1;height:24px;width:24px;}
.editMode embed{display:inline-block;border:1px dotted #c00;}
.editMode embed[type="application/x-shockwave-flash"]{background:url(img/flash.gif) #ffc center center no-repeat;}
.editMode embed[type="application/x-mplayer2"]{background:url(img/wmp.gif) center center no-repeat;}
.editMode .xhe-paste{position:absolute;left:-1000px;overflow:hidden;width:1px;height:1px;}
.editMode .xhe-anchor{display:inline-block;background: url(img/anchor.gif) no-repeat;border: 1px dotted #0000FF;width:16px;height:15px;overflow:hidden;}

.sourceMode{margin:0px;padding:0px;overflow:hidden;height:100%;}
.sourceMode textarea{*position:absolute;border:0px;margin:0px;padding:0px;width:100%;height:100%;overflow:auto;font-family:'Courier New',Courier,monospace !important;font-size:10pt;resize:none;outline:0;}

.previewMode{margin:5px;padding:0px;}

.showBlocktag p,.showBlocktag h1,.showBlocktag h2,.showBlocktag h3,.showBlocktag h4,.showBlocktag h5,.showBlocktag h6,.showBlocktag pre,.showBlocktag address,.showBlocktag div{background:none no-repeat scroll right top;border:1px dotted gray;}
.showBlocktag p{background-image:url(img/tag-p.gif);}
.showBlocktag h1{background-image:url(img/tag-h1.gif);}
.showBlocktag h2{background-image:url(img/tag-h2.gif);}
.showBlocktag h3{background-image:url(img/tag-h3.gif);}
.showBlocktag h4{background-image:url(img/tag-h4.gif);}
.showBlocktag h5{background-image:url(img/tag-h5.gif);}
.showBlocktag h6{background-image:url(img/tag-h6.gif);}
.showBlocktag pre{background-image:url(img/tag-pre.gif);}
.showBlocktag address{background-image:url(img/tag-address.gif);}
.showBlocktag div{background-image:url(img/tag-div.gif);}
/* prettyprint */
.com{color: #93a1a1;}
.lit{color: #195f91;}
.pun, .opn, .clo{color: #93a1a1;}
.fun{color: #dc322f;}
.str, .atv{color: #D14;}
.kwd, .prettyprint .tag{color: #1e347b;}
.typ, .atn, .dec, .var{color: teal;}
.pln{color: #48484c;}
.prettyprint{padding: 8px 8px 8px 50px; background-color: #f7f7f9; border: 1px solid #e1e1e8;}
.prettyprint.linenums{-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums{margin: 0 0 0 33px; /* IE indents via margin-left */ padding:0;}
ol.linenums li{padding-left: 12px; color: #bebec5; line-height: 20px; text-shadow: 0 1px 0 #fff;}