<div class="content">
    <div class="loginSide">
        <img src="/static/panel/images/admin/login_page_bg.jpg" alt="" style="border-radius:8px;"/>
    </div>

    <form class="loginForm form" action="javascript:;">
        <h2 class="head formHead">
            商家登陆
        </h2>

        <p class="field">
            <label for="">
                账号：
            </label>
            <input type="text" name="account" id="account" placeholder="用户名或邮箱"/>
            <span class="red">*</span>
        </p>

        <p class="field">
            <label for="">
                密码：
            </label>
            <input type="password" name="password" id="password" placeholder="密码" data-tip="长度为6-16位"/>
            <span class="red">*</span>
        </p>

        <p class="field">
            <label for=""></label>
            <input class="miBtn btn-green loginBtn" type="submit" value="登 陆"/>
            <span><a href="/account/forgot">忘记密码?</a></span>
        </p>

        <p class="field">
            <label for=""></label> 您还没用账号？<a href="/account/reg">立即注册</a>
        </p>
    </form>

    <div class="clear"></div>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        api.login();
    });
</script>
