<style type="text/css">
    .login-layout .widget-box {
        visibility: visible;
        position: relative;
        overflow: hidden;
        width: 1000px;
        border-bottom: 0;
        box-shadow: none;
        padding: 6px;
        margin: 0 auto;
        background-color: #394557;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
</style>
<div class="widget-box">
<div class="widget-body">
    <div class="widget-main">
        <h4 class="header blue lighter bigger">
            智享时代营销平台客户协议
        </h4>
        <div>{{content()}}</div>
    </div>
</div>
</div>