<div class="content">
    <section class="leftSide">
        <h2 class="head">
            <span class="right normal">已有账号?<a href="/account/login">立即登陆</a></span>
            商家入住
        </h2>

        <form class="regForm form" id="regForm" action="javascript:;">
            <p class="field">
                <label for="">
                    用户名：
                </label>
                <input type="text" name="account" id="account" placeholder="用户名" data-tip="长度为5-16位，字母开头,且由字母数字下线组成"/>
                <span class="red">*</span>
            </p>

            <p class="field">
                <label for="">
                    邮箱：
                </label>
                <input type="text" name="email" id="email" placeholder="邮箱"/>
                <span class="red">*</span>
                <span>用于登陆，找回密码</span>
            </p>

            <p class="field">
                <label for="">
                    密码：
                </label>
                <input type="password" name="password" id="password" placeholder="密码"/>
                <span class="red">*</span>
            </p>

            <p class="field">
                <label for="">
                    确认密码：
                </label>
                <input type="password" name="" id="repassword" placeholder="确认密码"/>
                <span class="red">*</span>
            </p>

            <p class="field">
                <label for=""></label>
                <input type="checkbox" class="ace" name="" id="agree" data-checked="true">
            <span class="lbl">我接受《<a href="/account/protocol" target="_blank">用户协议</a>》
            <span class="red">*</span>
            </p>

            <p class="field">
                <label for=""></label>
                <input class="miBtn btn-green regBtn" type="submit" value="立即入住"/>
            </p>
        </form>
    </section>
    <aside class="aside">
        <h2 class="aside-head">
            <span class="right normal"><a href="/home/help" target="_blank">帮助文档</a></span>
            入住流程
        </h2>

        <div class="progress">
            <p class="step current">
                <span class="right"><i class="icon icon-ok"></i></span>
                <span class="circle">1</span>
                <span><a href="">注册会员</a></span>
            </p>

            <p class="step">
                <span class="right"><i class="icon icon-ok"></i></span>
                <span class="circle">2</span>
                <span><a href="javascript:;">填写企业资料</a></span>
            </p>

            <p class="step">
                <span class="right"><i class="icon icon-ok"></i></span>
                <span class="circle">3</span>
                <span><a href="javascript:;">选择行业和套餐</a></span>
            </p>

            <p class="step">
                <span class="right"><i class="icon icon-ok"></i></span>
                <span class="circle">4</span>
                <span><a href="">确认套餐信息</a></span>
            </p>

            <p class="step">
                <span class="right"><i class="icon icon-ok"></i></span>
                <span class="circle">5</span>
                <span>进入体验</span>
            </p>
        </div>
    </aside>
    <div class="clear"></div>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        api.reg();
    });
</script>