<?php
use Multiple\Wap\Helper\SiteData;

/*$slider = SiteData::init()->getFocus('focus_slider', 'home');*/
$slider = SiteData::init()->getFocus('focus_slider');
//$cat=ArticleHelper::init()->getArticleCat();
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
?>
<p style="text-align: center;">
    <img src="/static/wap/images/tpl/estt/yuntu.png" alt=""/>
</p>
<ul class="home-list">
    <?php foreach ($navs as $item) { ?>
        <?php if ($item['cover_img']): ?>
            <li>
                <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                    <p class="img">
                        <img src="<?php echo \Util\ImgSize::getSize($item['cover_img'], 160, 100) ?>">
                    </p>

                    <p class="title"><?php echo $item['name'] ?></p>
                </a>
            </li>
        <?php endif; ?>
    <?php } ?>
    <div class="clear"></div>
</ul>

<div class="bg" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -1">
    <img src="/static/wap/images/tpl/estt/bg-bg.png" alt="" style="width: 100%;height: 100%;"/>
</div>