.container{ margin-top: 40px;margin-bottom: 30px;}

.vipcard {
    padding: 10px;
    background: url(/static/wap/images/module/vipcard/top-bg.png) repeat-x center top;
}

.vipcard .card {
    padding-bottom: 15px;
}

.vipcard .card-package {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 420px;
    margin: 0 auto;
}

.vipcard .card-detail {
    text-align: center;
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.vipcard .logo {
    max-height: 70px;
    position: absolute;
    top: 16px;
    left: 30px;
    z-index: 2;
}

.vipcard .card-detail .verify {
    display: inline-block;
    position: absolute;
    height: 40px;
    bottom: 20px;
    right: 12px;
    text-align: right;
    line-height: 24px;
    color: #000;
    font-size: 20px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.vipcard .card {
    position: relative;
}

.vipcard .mine_card_name {
    line-height: 36px;
    position: absolute;
    width: 100%;
    top: 32px;
    font-size: 28px;
    text-align: center;
}

.card-package {
    position: relative;
}

.vipcard .mine_card_info {
    position: absolute;
    width: 100%;
    bottom: 40px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.vipcard h1 {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    right: 45px;
    top: 12px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    color: #000;
    line-height: 25px;
    text-align: right;
    font-weight: normal;
    z-index: 2;
    margin: 0;
}

.vipcard .card-detail .verify span {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

.vipcard .card-detail .verify em {
    display: block;
    line-height: 20px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}

.vipcard .card-action {
    text-align: center;
    padding-top: 20px;
}

.vipcard .card-action .newcard-btn {
    display: block;
    /*width: 380px;*/
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    /*background: url(/static/wap/images/module/vipcard/new-card-button.png) no-repeat center center;*/
}

.vipcard .bg-container {
    overflow: hidden;
    text-align: center;
}

.vipcard .bg-container .bg {
    width: 100%;
}

.vipcard .card-package .bg, .vipcard .card-detail .bg {
}

.vipcard .page-header {
    height: 101px;
}

.vipcard .page-header .page-title {
    font-size: 32px;
    font-family: 'Microsoft YaHei';
    color: white;
    text-shadow: 2px 2px 5px #000;
    margin-top: 15px;
}

.vipcard .page-content {
    padding: 15px 0;
}

.widget {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin-bottom: 15px;
}

.widget .widget-title {
    font-size: 18px;
    color: #333;
    background: url(/static/wap/images/module/vipcard/arrow-h.png) no-repeat right center;
}

.widget .widget-title a {
    display: inline-block;
}

.widget .widget-title img {
    vertical-align: middle;
}

.widget .widget-title.open {
    background: url(/static/wap/images/module/vipcard/arrow.png) no-repeat right center;
}

.widget .widget-title.open + .widget-content {
    display: block;
}

.widget .widget-content {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    font-size: 13px;
    display: none;
}

.widget .widget-content .label {
    margin-bottom: 10px;
}

ul.round {
    border: 1px solid #C6C6C6;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #f6f6f6;
    -webkit-box-shadow: 0 1px 1px #f6f6f6;
    box-shadow: 0 1px 1px #f6f6f6;
    margin-bottom: 11px;
    display: block;
    overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
}

ul.round li {
    border-bottom: 1px solid #C6C6C6;
    padding: 10px;
}

.round li {
    line-height: 180%;
}

.round li.title {
    background-color: #e1e1e1;
    background-image: -moz-linear-gradient(center bottom, #e7e7e7 0%, #f9f9f9 100%);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #eeeeee;
    padding: 6px;
}

.round li.title span {
    color: #666;
    font-size: 14px;
    text-shadow: 0 1px #fff;
}

.round li.line {
    padding: 6px 8px;
    border-bottom: 1px solid #dedde1;
}

.round .line .table {
    width: 100%;
}

.round .line .table .name {
    width: 100px;
}

.round .line .table .tip {
    color: #f00;
}

.round .line .table .more {
    color: #999999;
    padding: 0;
}

.round li.line .px {

}

.px[type="text"], .px[type="tel"] {
    box-sizing: border-box;
    width: 100%;
}

.round li.line .dropdown-select {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 5px 0 4px;
    padding: 5px 10px;
    color: #999;
    display: inline;
    font-size: 16px;
    height: auto;
    outline: medium;
    overflow: visible;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.pxtextarea {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
}

.round li span.spanover {
    display: block;
    background: url(/static/wap/images/tpl/arrow3-.png) no-repeat right 50%;
    -webkit-background-size: 13px 8px;
    background-size: 13px 8px;
    padding: 10px 20px 9px 0;
    position: relative;
    font-size: 16px;
    min-height: 22px;
}

.round li span.none {
    background: none repeat scroll 0 0 transparent;
}

.round li span.noneorder {
    background: none repeat scroll 0 0 transparent;
    padding: 10px 5px 9px 0;
}

.round li span.none em {
    right: 0;
}

#column {
    background: #f9f9f9;
    border: 1px solid #f0f0f0;
    margin: 10px 0;
    border-left: none;
    border-right: none;
    padding: 0 0 10px;
}

#column .column-title {
    margin: 0 0 10px;
    background: #e0e0e0;
    line-height: 30px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}


.score-page {
    font-family: 'Microsoft YaHei';
    color: #666;
}

.score-page .score-banner {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.score-page .score-banner img {
    width: 100%;
}

.score-page .score-content {
    padding: 10px 20px;
}

.score-page .score-content .clickhere a {
    color: red;
    margin-bottom: 20px;
}

.checked-in {
    background: #1CC200;
    border-radius: 70px;
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-size: 18px;
}

.checked-in strong {
    float: right;
    margin: 0px 20px 0 0;
}

table.score-statisic {
    width: 100%;
    border: 0;
}

table.score-statisic td {
    border: 2px dotted #ccc;
    border-width: 0 2px;
    padding: 4px;
    text-align: center;
    font-size: 16px;
}

/*********************** member_card.html **************************/.member_card_main{width: 100%;margin-top: 50px;margin-bottom: 43px;background-color: #fff;}
.member_card_main .tips{width: 100%;height: 47px;line-height: 47px;padding: 0 10px;font-size: 12pt;color: #858585;background-color: #f3f3f3;}
.member_card_main .card{width: 100%;}
.member_card_main .card_img{padding: 20px 10px;}
.member_card_main .card_img_w{height: 167px;border: 1px solid #dedde1;background-color: #f2f1f4;border-radius: 15px;box-shadow: 1px 1px 1px #d7d4d1;}
.member_card_main .card_img_w .name{margin-top: 55px;text-align: center;font-size: 16pt;color: #332d2c;font-weight: bold;}
.member_card_main .card_img_w .num{margin-top: 23px;text-align: center;font-size: 12pt;color: #bdbebf;}
.member_card_main .card_img_w .level{margin-top: 8px;text-align: center;font-size: 12pt;color: #bdbebf;}
.member_card_main .card_info{border-top: 1px solid #d9d9d7;border-bottom: 1px solid #d9d9d7;}
.member_card_main .card_info_sty{width: 100%;height:96px;display: -webkit-flex;display: -moz-flex;display: flex;}
.member_card_main .card_info_sty p{margin-top: 19px;text-align: center;font-size: 12pt;color: #808080;}
.member_card_main .card_info_sty .money_green{color:  #e33135;}
.member_card_main .card_info_sty .line{border-right: 1px solid #d9d9d7;}
.member_card_main .card_info_sty .con{-webkit-flex:1;-moz-flex:1;flex:1;height:96px;}
.member_card_main .card_info_sty .duihuan a{display: block;height: 35px;line-height: 35px;margin-top: 30px;background-color:  #e33135;border-radius: 5px;font-size: 14pt;color: #fff;text-align: center;padding: 0 10px;}
.member_card_details{background-color: #f3f3f3;padding-top: 10px;padding-bottom: 10px; margin-bottom: 30px;}
.member_card_details .group{background-color: #fff;padding: 0 0 0 6%;overflow: hidden;border-bottom: 1px solid #dedde1;border-top: 1px solid #dedde1;}
.member_card_details .act{margin-top: 10px;}
.member_card_details .group ul li{background-color: #fff;}
.member_card_details .group ul .li_sty1{border-bottom: 1px solid #d9d9d7;}
.member_card_details .group ul li a{display: block;margin-right: 10px;padding: 16px 0;background: url("/static/wap/images/tpl/emoi/member_card_arrow.png") no-repeat right center;font-size: 12pt;color: #808080;}
