<div class="page-header">
    <h1>
        推广分成
        <small>
            <i class="icon-double-angle-right"></i>
            参数设置
        </small>
    </h1>
</div>
{{ content() }}
<form action="" class="form" method="post" style="float: left;font-size: 14px;font-family: 'Microsoft YaHei';">
    <div class="field set-field">
        <label for="" class="field-label">开启/关闭佣金功能：</label>
        <input type="radio" name="cashback_enable"
               id="" <?php echo $shop['cashback_enable'] == 1 ? 'checked' : ''; ?> value="1"/> 开启
        <input type="radio" name="cashback_enable" <?php echo $shop['cashback_enable'] == 0 ? 'checked' : ''; ?>
               value="0"/> 关闭
        <span class="help-inline"><i class="red">*</i></span>
    </div>
    <div class="field set-field">
        <label for="" class="field-label">店铺返现比例：</label>
        <input type="text" name="cashback_proportion" value="<?php echo $shop['cashback_proportion']; ?>" maxlength="3"
               style="width: 60px;">%
        <span class="help-inline"><i class="red">*</i> (推广返现百分比，数值在0-100之间)</span>
    </div>

    <p class="alert alert-warning ">这里设置的是返现基数，具体可以在每个商品里面去单独设置</p>

    <div class="field set-field">
        <input class="btn btn-sm btn-success res-btn" type="submit" value="提交">
    </div>
</form>
<div class="show" style="float: right;width: 300px;border: 1px solid #DEEFFB;padding: 8px;">
    <p>月度累计带来订单 <span class="red"
                      style="font-size: 20px;font-family:'Microsoft YaHei'"><?php echo $month_stat ? $month_stat['order_count'] : 0; ?>
            笔</span>
    </p>

    <p>月度推广成交总额 <span class="red"
                      style="font-size: 20px;font-family:'microsoft yahei'">￥<?php echo $month_stat ? $month_stat['sell_cash'] : 0; ?></span>
    </p>

    <p>月度累计支付佣金 <span class="red"
                      style="font-size: 20px;font-family:'Microsoft YaHei'">￥<?php echo $month_stat ? $month_stat['back_cash'] : 0; ?></span>
    </p>

    <p style="margin-top: 12px;">
        <a href="/shop/stat/promo">查看推广报表</a>
    </p>
</div>