<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span7">
                    <label class="control-label">支付方式名称：</label>
                    <div class="controls">
                        <input type="text" class="control-text" name="customer_id">
                    </div>
                </div>
                <div class="control-group span5">
                    <label class="control-label">开启状态：</label>
                    <div class="controls" >
                        <select name="industry" class="span2" name="sex">
                            <option value="">请选择</option>
                            <option value="1">开启</option>
                            <option value="0">关闭</option>
                        </select>
                    </div>
                </div>
                <div class="control-group span7">
                    <label class="control-label">支付类型：</label>
                    <div class="controls" >
                        <select name="industry" class="span4" name="sex">
                            <option value="">请选择</option>
                            <option value="1">开启</option>
                            <option value="0">关闭</option>
                        </select>
                    </div>
                </div>
                <div class="span2 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>

</div>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript">
    BUI.use('common/search',function (Search) {

        var activeStatus = {"1":"已激活","0":"未激活"},
            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit'
            }),
            columns = [
                {title:'LOGO',dataIndex:'logo',width:100, renderer: function(value, obj) {
                    if(value && value.length > 0) {
                        return "<img src='" + value + "' style='width: 50px; height: 50px;' />";
                    }
                    else {
                        return "";
                    }
                }},
                {title:'支付名称',dataIndex:'name',width:100},
                {title:'是否激活',dataIndex:'is_active',width:100,renderer:function(value, obj){
                    return value == 1 ? "是" : "否";
                }},
                {title:'说明',dataIndex:'description', width: 400},
                {title:'管理',dataIndex:'key',width:100,renderer:function(value, obj){
                    return Search.createLink({
                        id : 'detail' + value,
                        title : '支付信息详情',
                        text : "管理",
                        href : '/admin/payment/detail?type=' + value
                    });
                }}
            ],
            store = Search.createStore('/admin/payment/list', {
                proxy : {
                    method : 'POST'
                },
                pageSize:10
            }),
            gridCfg = Search.createGridCfg(columns,{
                /*tbar : {
                 items : [
                 {text : '<i class="icon-plus"></i>新建', btnCls : 'button button-small',handler:addFunction},
                 {text : '<i class="icon-remove"></i>批量删除', btnCls : 'button button-small',handler : delFunction}
                 ]
                 },*/
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

        var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

        function addFunction(){
            var newData = {isNew : true}; //标志是新增加的记录
            editing.add(newData,'name'); //添加记录后，直接编辑
        }

        //删除操作
        function delFunction(){
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items){
            var ids = [];
            BUI.each(items,function(item){
                ids.push(item.id);
            });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>
