<h2 class="aside-head">
    入住流程
</h2>
<?php
$guide_steps = $customer->guide_steps;
$guide_steps = $guide_steps ? json_decode($guide_steps, true) : [];
$action = $this->router->getActionName();
?>
<div class="progress">
    <p class="step <?php echo $action == "profile" ? 'current' : (!empty($guide_steps['profile']) ? "complete" : ''); ?>">
        <span class="right"><i class="icon icon-ok"></i></span>
        <span class="circle">1</span>
        <span><a href="/customer/profile">填写企业资料</a></span>
    </p>

    <div
        class="step <?php echo $action == "pick" || $action == "custom" ? 'current' : (!empty($guide_steps['pick']) ? "complete" : ''); ?>">
        <span class="right"><i class="icon icon-ok"></i></span>
        <span class="circle">2</span>
        <a href="<?php echo !empty($guide_steps['profile']) ? "/customer/pick" : "javascript:;"; ?>"
           style="<?php echo $action == "pick" ? 'color:#ef5e1a' : (!empty($guide_steps['pick']) ? "color:#47ae2a" : 'color:#444'); ?>"
            >行业套餐</a>/<a
            href="<?php echo !empty($guide_steps['profile']) ? "/customer/custom" : "javascript:;"; ?>"
            style="<?php echo $action == "custom" ? 'color:#ef5e1a' : (!empty($guide_steps['pick']) ? "color:#47ae2a" : 'color:#444'); ?>"
            >自选套餐</a>
    </div>

    <p class="step <?php echo $action == "order" ? 'current' : (!empty($guide_steps['order']) ? "complete" : ''); ?>">
        <span class="right"><i class="icon icon-ok"></i></span>
        <span class="circle"> 3</span>
        <span><a
                href="javascript:;">
                确认套餐信息</a></span>
    </p>

    <p class="step">
        <span class="right"><i class="icon icon-ok"></i></span>
        <span class="circle"> 4</span>
        <span><a
                class="trialBtn" href="javascript:;" data-type="trial">
                30天免费体验 </a></span>
    </p>
</div>
