<?php
use Components\PackageManager;

?>
<div class="content">
    <section class="leftSide custom">
        <h2 class="head">
            <span class="right normal">切换为 <span class="btn-deep"><a href="/customer/pick">行业套餐</a></span></span>
            套餐选择 - <span class="red">自选套餐</span>
        </h2>

        <?php
        // 已下订单（固定套餐）
        if (false && $unpaid_order && $unpaid_order['package'] != 'custom') {
            ?>
            <p>
                您已经下单：
                所选套餐：<?php echo PackageManager::$package_name[$unpaid_order['package']]; ?>
                所需支付：￥<?php echo PackageManager::$package_price[$unpaid_order['package']]; ?>元
                <span class="right"><a href="/customer/pick" class="miBtn btn-green">查看套餐订单并支付</a></span>
            </p>
            <p>或继续选择自定义套餐（将替换原有套餐）</p>
        <?php
        }
        ?>
        <form class="form customForm" id="customForm" action="javascript:;" style="font-size: 14px;">
            <p class="line">基础功能（<span class="normal">请根据您的需要选择基础功能,如需商城功能，只能选择其中之一</span>）</p>

            <div class="base-func">
                <dl class="func base choosed"
                    data-module_name="base"
                    data-name="微官网"
                    data-month_price="200"
                    data-year_price="2000"
                    >
                    <dt>
                        <img src="http://saleasy.net/static/home/main/images/func/icon_wgw.jpg" alt=""/>
                    </dt>
                    <dd>
                        <i class="icon icon-ok checkIcon"></i>

                        <h2 class="name">微官网</h2>

                        <p class="price-line">
                            ¥<span class="price">200</span>/月
                            ¥<span class="price">2000</span>/年
                        </p>

                        <p>
                            微信/微博接入，文章内容管理
                        </p>
                    </dd>
                </dl>
                <dl class="func base <?php echo empty($choosed_package['shop_full']) ? (!empty($choosed_package['shop_base']) ? "choosed" : '') : ''; ?>"
                    data-name="限制版商城"
                    data-module_name="shop_base"
                    data-month_price="200"
                    data-year_price="2000"
                    >
                    <dt><img src="http://saleasy.net/static/home/main/images/func/icon_cjsc.jpg" alt=""/></dt>
                    <dd>
                        <i class="icon icon-ok checkIcon"></i>

                        <h2 class="name">限制版商城</h2>

                        <p class="price-line">
                            ¥<span class="price">200</span>/月
                            ¥<span class="price">2000</span>/年
                        </p>

                        <p>
                            不含购物车，订单，支付功能
                        </p>
                    </dd>
                </dl>
                <dl class="func <?php echo !empty($choosed_package['shop_full']) ? "choosed" : ''; ?>"
                    data-name="商城完整版"
                    data-module_name="shop_full"
                    data-month_price="500"
                    data-year_price="5000"
                    >
                    <dt>
                        <img src="http://saleasy.net/static/home/main/images/func/icon_mdgl.jpg" alt=""/>
                    </dt>
                    <dd>
                        <i class="icon icon-ok checkIcon"></i>

                        <h2 class="name">商城完整版</h2>

                        <p class="price-line">
                            ¥<span class="price">500</span>/月
                            ¥<span class="price">5000</span>/年
                        </p>

                        <p>
                            包含商城所有功能
                        </p>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>

            <p class="line">扩展功能 <span class="normal">（请根据您的需要选择扩展功能）</span></p>

            <div class="module-func">
                <?php
                if ($modules) {
                    $own_modules = !empty($choosed_package['own_module']) ? array_values(json_decode($choosed_package['own_module'], true)) : [];
                    foreach ($modules as $module) {
                        $choosed = $own_modules && in_array($module['module_name'], $own_modules) ? 'choosed' : '';
                        ?>
                        <dl class="module func <?php echo $choosed; ?>"
                            data-name="<?php echo $module['name']; ?>"
                            data-module_name="<?php echo $module['module_name']; ?>"
                            data-month_price="<?php echo $module['month_price']; ?>"
                            data-year_price="<?php echo $module['year_price']; ?>">
                            <dt><img src="<?php echo $module['image']; ?>" alt=""/></dt>
                            <dd>
                                <i class="icon icon-ok checkIcon"></i>

                                <h2 class="name"><?php echo $module['name']; ?></h2>

                                <p class="price-line">
                                    ¥<span class="price"><?php echo $module['month_price']; ?></span>/月
                                    ¥<span class="price"><?php echo $module['year_price']; ?></span>/年
                                </p>

                                <p>
                                    <?php echo $module['description']; ?>
                                </p>
                            </dd>
                        </dl>
                    <?php
                    }
                }
                ?>
                <div class="clear"></div>
            </div>

            <input type="hidden" class="txtChoosedPackage"
                   value=""
                   data-year_price="<?php echo !empty($choosed_package['price_year']) ? $choosed_package['price_year'] : 2000; ?>"
                   data-month_price="<?php echo !empty($choosed_package['price_month']) ? $choosed_package['price_month'] : 200; ?>"
                   data-all_func="<?php
                   echo !empty($choosed_package['own_module']) ? base64_encode($choosed_package['own_module']) : base64_encode(json_encode(array("base")));?>"
                />

            <div class="total-last field" style="margin: 20px 0 0 ;font-size: 16px;color: #000;">
                <span class="right">（所选套餐：自选套餐）
                    <a href="javascript:;" class="miBtn btn-red customPackageBtn">确认功能选择并下一步</a>
                </span>
                <b>套餐价格</b>[<span class="price">￥<span class="total_month">200</span>/月 -
                ￥<span class="total_year">2000</span>/年</span>]
            </div>
        </form>
    </section>
    <aside class="aside">
        <?php $this->view->partial("customer/aside"); ?>

        <section class="asideNav">
            <h2 class="aside-head">您的套餐功能选择</h2>

            <ul class="choosedFuncList">
                <li>
                    <span class="name">微官网</span>
                    <span class="normal">[<span class="price">¥<i>500</i>/月 - ¥<i>5000</i>/年</span>]</span>
                </li>
            </ul>

            <div class="total-last">
                <b>套餐价格</b>[<span class="price">￥<span class="total_month">200</span>/月 -
                ￥<span class="total_year">2000</span>/年</span>]
            </div>
        </section>

    </aside>
    <div class="clear"></div>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        api.customPackage();
    });
</script>