<style>
    .gray {
        color: #999;
    }

    .green {
        color: green;
    }
</style>
<div class="content">
    <h2 class="head">
        <span class="right">商家入住</span>申请入住O2O平台
    </h2>
    <?php
    if ($apply) {
        $_status = array(
            '-1' => '<span class="red">审核不通过</span>',
            '0' => '<span class="red">尚未审核</span>',
            '1' => '<span class="green">审核通过</span>',
        );
        ?>
        <div style="margin: 0 0 20px;">
            <p>您于 <span class="red"><?php echo date('Y-m-d H:i:s', $apply['created']); ?> </span> 提交了入住O2O平台申请</p>

            <p>当前审核状态：<?php echo $_status[$apply['status']]; ?></p>

            <?php if ($apply['status'] == '-1') { ?>
                <p>
                    审核不通过原因：<span class="red"><?php echo $apply['audit_reason']; ?></span>
                </p>
            <?php } ?>
            <p>
                <a href="/panel" class="miBtn btn-gray">返回管理平台</a>
                <?php if (isset($apply['status']) && $apply['status'] == "-1") { ?>
                    或 继续申请
                <?php } ?>
            </p>
        </div>
    <?php } ?>

    <?php
    if (isset($apply['status']) && $apply['status'] == "-1") {
        ?>
        <p style="color: #333;">请详细阅读申请条款</p>

        <p>
            <textarea name="" id="" style="width: 100%;box-sizing: border-box;height: 300px;">
                1.请详细阅读申请条款
                2.请详细阅读申请条款
            </textarea>
        </p>

        <p style="text-align: center;">
            <input type="submit"
                   value="<?php echo (isset($apply['status']) && $apply['status'] == "-1") ? '再次' : ''; ?>申请成为O2O商家会员"
                   class="miBtn btn-red" id="applyBtn"/>
        </p>
    <?php } ?>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        api.applyO2O();
    });
</script>