<?php
use Components\PackageManager;

$package_name = PackageManager::$package_name;
$package_func = PackageManager::$package_func;
$package_func_limit = PackageManager::$package_func_limit;
$package_price = PackageManager::$package_price;
?>
<div class="content">
    <section class="leftSide">
        <h2 class="head">
            确认套餐订单
        </h2>

        <form class="form pickForm" id="pickForm" action="javascript:;" style="font-size: 14px;">
            <div>
                <span style="color: #000;">您已选择的套餐 <a
                        href="/customer/<?php echo $package_info['package'] == "custom" ? "custom" : "pick"; ?>"
                        class="normal">(重新选择)</a></span>
            </div>
            <p class="">
                <?php if ($package_info['package'] == "custom") { ?>
                    <span style="color:#000;font-size: 16px;font-weight: bold;">自选套餐</span>
                    <span class="right price">￥<?php echo $package_info['price_month']; ?>
                        元/月-￥<?php echo $package_info['price_year']; ?>元/年</span>
                <?php } else { ?>
                    <span class="right price">￥<?php echo $package_price[$package_info['package']]; ?>元/年</span>
                    <span style="color: ;"><?php echo $package_name[$package_info['package']]; ?></span>
                <?php } ?>

            <p>

            <div class="field" style="margin: 30px 0 10px;">
                <span style="color: #000;">购买时长</span><span class="normal">(花10个月钱享12个月服务！)</span>
            </div>

            <input type="hidden" class="txtDuration"
                   value="<?php echo $package_info['duration'] ? intval($package_info['duration']) : 10; ?>"
                   data-year_price="<?php echo $package_info['price_year']; ?>"
                   data-month_price="<?php echo $package_info['price_month']; ?>"
                />

            <?php $this->view->partial("customer/partial/duration"); ?>

            <div class="field" style="margin: 30px 0;">
                <span style="color: #000;">支付费用</span>
                <span class="price total_paid">￥<?php echo $package_info['price_year']; ?>元</span>
            </div>
            <div class="field">
                <a href="javascript:;" class="miBtn btn-red settleOrderBtn">确认订单并支付</a>
                <a href="javascript:;" class="miBtn trialBtn" data-type="trial">30天免费体验</a>
            </div>
        </form>
    </section>

    <aside class="aside">
        <?php $this->view->partial("customer/aside"); ?>
    </aside>
    <div class="clear"></div>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        api.genOrderOrTrial(<?php echo $package_info['package'] == "custom" ? '3' : '10'; ?>);
    });
</script>