<?php
use Components\PackageManager;

$package_name = PackageManager::$package_name;
$package_func = PackageManager::$package_func;
$package_func_limit = PackageManager::$package_func_limit;
$package_price = PackageManager::$package_price;
?>
<style>

</style>
<div class="content">
    <h2 class="head">
        <span class="right normal"><a href="/customer/pick" style="color: #f00;">挑选套餐</a></span>
        套餐类型总览
    </h2>
    <table class="list">
        <tr class="head">
            <th>
                功能名称
            </th>
            <th style="width: 200px;">
                功能描述
            </th>
            <?php foreach ($package_name as $name) {
                ?>
                <th><?php echo $name; ?></th>
            <?php
            }
            ?>
        </tr>
        <?php
        foreach ($package_func as $k => $func) {
            ?>
            <tr>
                <?php foreach ($func as $i => $na) {
                    if ($i == 0) {
                        echo '<th class="name">' . $na . '</th>';
                    } else {
                        echo '<td>' . $na . '</td>';
                    }
                    ?>
                <?php } ?>
                <?php foreach ($package_name as $k1 => $limi) {
                    $res = in_array($k1, $package_func_limit[$k]) ? '<i class="icon icon-remove"></i>' : '<i class="icon icon-ok"></i>';
                    ?>
                    <td class="center"><?php echo $res; ?></td>
                <?php } ?>
            </tr>
        <?php } ?>
        <tr>
            <th colspan="2" class="name">
                套餐价格：（元/年）
            </th>
            <?php foreach ($package_price as $price) {
                ?>
                <td><span class="price">￥<?php echo $price; ?></span></td>
            <?php
            }
            ?>
        </tr>
    </table>
</div>