<?php
use Components\PackageManager;

$package_name = PackageManager::$package_name;
$package_func = PackageManager::$package_func;
$package_func_limit = PackageManager::$package_func_limit;
$package_price = PackageManager::$package_price;

$ind = intval($this->request->get("ind"));
$ind = $ind ? $ind : intval($customer->industry);
$industry_package = array_column($industry, 'package', 'id');
$current_package = isset($industry_package[$ind]) && $industry_package[$ind] ? $industry_package[$ind] : 'standard';
?>
<div class="content">
    <section class="leftSide">
        <h2 class="head">
            <span class="right normal">切换为 <span class="btn-deep"><a href="/customer/custom">自选套餐</a></span></span>
            套餐选择 - <span class="red">行业套餐</span>
            （<span class="normal"><a href="/customer/package">查看套餐及报价</a></span>）
        </h2>

        <form class="form pickForm" id="pickForm" action="javascript:;" style="font-size: 14px;">
            <p class="line">选择套餐</p>

            <p class="field">
                <label for="">
                    所属行业
                </label>
                <select name="industry" id="industry" class="selc">
                    <option value="">==请选择行业==</option>
                    <?php
                    if ($industry) {
                        foreach ($industry as $cat) {
                            ?>
                            <option
                                value="<?php echo $cat['id']; ?>" <?php echo $cat['id'] == $ind ? "selected" : ""; ?>
                                data-package="<?php echo $cat['package']; ?>"><?php echo $cat['name']; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
                <span><s class="red">*</s>(选择行业会自动对应行业套餐，请正确选择所属行业)</span>
            </p>

            <p class="field">
                <label for="">选择套餐类型</label>
                <?php
                if (isset($package_name[$current_package]) && $package_name[$current_package]) {
                    ?>
                    <input type="radio" name="package" value="<?php echo $current_package; ?>" checked
                           id=""/> <?php echo $package_name[$current_package]; ?>
                <?php } ?>
                </span>
                <span class="right">
                    <a href="/customer/custom" class="red">自选套餐</a>
                </span>
            </p>

            <p class="line ">套餐详情</p>

            <p style="text-align: center;line-height: 50px;font-size: 16px;color: #f00;margin: 0 0 10px;">
                <?php echo $package_name[$current_package]; ?>套餐
            </p>
            <?php
            ?>
            <table class="list">
                <tr class="head">
                    <th>
                        功能名称
                    </th>
                    <th>
                        功能描述
                    </th>
                    <th><?php echo $package_name[$current_package]; ?></th>
                </tr>
                <?php
                foreach ($package_func as $k => $func) {
                    ?>
                    <tr>
                        <?php foreach ($func as $i => $na) {
                            if ($i == 0) {
                                echo '<th class="name">' . $na . '</th>';
                            } else {
                                echo '<td>' . $na . '</td>';
                            }
                            ?>
                        <?php } ?>
                        <?php
                        $res = in_array($current_package, $package_func_limit[$k]) ? '<i class="icon icon-remove"></i>' : '<i class="icon icon-ok"></i>';
                        ?>
                        <td class="center"><?php echo $res; ?></td>
                    </tr>
                <?php } ?>
            </table>
            <p style="margin: 20px 0 0 ;font-size: 16px;color: #000;">
                <span class="right">（所选套餐：<?php echo $package_name[$current_package]; ?>）
                    <a href="javascript:;" class="miBtn <?php echo $ind ? "btn-red" : ""; ?>"
                       data-package="<?php echo $ind ? $current_package : ""; ?>" id="pickPackageBtn">确认套餐并下一步</a>
                </span>
                套餐价格 <span
                    class="price">￥<?php echo $package_price[$current_package]; ?>元/年</span>
            </p>
        </form>
    </section>

    <aside class="aside">
        <?php $this->view->partial("customer/aside"); ?>
    </aside>
    <div class="clear"></div>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        api.pickPackage();
    });
</script>