<div class="content">
    <section class="leftSide">
        <h2 class="head">
            完善基本资料
        </h2>

        <form class="form profileForm" id="profileForm" action="javascript:;">
            <p class="line">
                企业信息
            </p>

            <p class="field">
                <label for="">
                    企业名称
                </label>
                <input type="text" name="company_name" id="company_name" value="<?php echo $customer->name; ?>"

                       placeholder="企业名称"/>
                <span class="red">*</span>
            </p>

            <p class="field">
                <label for="">
                    所属行业
                </label>
                <select name="industry" id="industry" class="selc" placeholder="所属行业">
                    <option value="">==请选择行业==</option>
                    <?php
                    if ($industry) {
                        foreach ($industry as $cat) {
                            ?>
                            <option
                                value="<?php echo $cat['id']; ?>" <?php echo $cat['id'] == $customer->industry ? "selected" : ""; ?>
                                data-package="<?php echo $cat['package']; ?>"><?php echo $cat['name']; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
                <span><s class="red">*</s></span>
            </p>
            <div class="field">
                <label for="">
                    选择区域
                </label>
            <span>
                <select name="province" id="province" class="selc" placeholder="省份">
                </select>
                <select name="city" id="city" class="selc">
                </select>
                <select name="town" id="town" class="selc">
                </select>
            </span>

                <span class="red">*</span>
            </div>

            <p class="field">
                <label for="">详细地址</label>
                <input type="text" name="address" id="address" value="<?php echo @$profile['address']; ?>"

                       style="width: 280px;"/>
                <span class="red">*</span> (无需填写省市县，6字以上)
            </p>

            <p class="field">
                <label for="" style="vertical-align: top;padding-top: 6px;">
                    企业简介
                </label>
                <textarea name="detail" id="detail"
                          style="width: 500px;height: 50px;"><?php echo @$profile['detail']; ?></textarea>
                <span class="red">*</span>
                <span>(90字以内)</span>
            </p>

            <p class="line">
                联系信息
            </p>

            <p class="field">
                <label for="">
                    联系人姓名
                </label>
                <input type="text" name="contact_person" id="contact_person"
                       value="<?php echo @$profile['contact_person']; ?>" placeholder="联系人姓名"/>
                <span class="red">*</span>
                <span>请填写您的联系名字</span>
            </p>

            <p class="field">
                <label for="">
                    联系手机
                </label>
                <input type="text" name="contact_phone" id="contact_phone"
                       value="<?php echo @$profile['contact_phone']; ?>"
                       placeholder="联系电话"/>
                <span class="red">*</span>
                <span>请填写您的联系手机号</span>
            </p>

            <p class="field">
                <label for="">
                    联系座机
                </label>
                <input type="text" name="contact_tel" id="contact_tel"
                       value="<?php echo @$profile['contact_tel']; ?>"
                       placeholder="联系座机"/>
            </p>

            <p class="field">
                <label for="">
                    联系邮箱
                </label>
                <input type="text" name="contact_email" id="contact_email"
                       value="<?php echo @$profile['contact_email'] ? $profile['contact_email'] : $customer->email; ?>"
                       placeholder="联系邮箱"/>
                <span class="red">*</span>
            </p>

            <p class="field">
                <label for="">
                    联系QQ
                </label>
                <input type="text" name="contact_qq" id="contact_qq"
                       value="<?php echo @$profile['contact_qq']; ?>" placeholder="qq"/>
            </p>

            <p class="field">
                <label for=""></label>
                <input class="miBtn btn-red saveProfileBtn" type="submit" value="保存并下一步"/>
            </p>
        </form>
    </section>

    <aside class="aside">
        <?php $this->view->partial("customer/aside"); ?>
    </aside>
    <div class="clear"></div>
</div>
<script>
    seajs.use('app/panel/account/account.init', function (api) {
        $(function () {
            new PCAS('province', 'city', 'town', '<?php echo @$profile['province'] ; ?>', '<?php echo @$profile['city'] ; ?>', '<?php echo @$profile['town'] ; ?>');
        });
        api.profile();
    });
</script>