<?php
use Multiple\Wap\Helper\ShopData;

$order = $this->request->get('order', null, 'is_hot');
$sort = $this->request->get('sort');
$keyword = $this->request->get('keyword');

$where = 'is_active = 1 and customer_id = ' . CUR_APP_ID;
$order = in_array($order, array('is_hot', 'is_recommended', 'sell_price', 'created')) ? $order : 'is_hot';

$keyword = $this->request->get('keyword');
if (!empty($keyword)) {
    $where .= " AND name like '%$keyword%'";
}

$products = ShopData::init()->getList($where, 0, 10, $order . ' ' . $sort);

$filter = array(
    'order' => $order,
    'sort' => $sort,
    'keyword' => $keyword,
);
?>

<div class="lay_page ">
    <?php if (count($products) > 0): ?>
        <ul class="goodList">

            <?php foreach ($products as $pro): ?>
                <li>
                    <a class="ui_clearfix"
                       href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($pro['id'])); ?>">
                        <div class='imgwrap'><img src="<?php echo \Util\ImgSize::getSize($pro['thumb']); ?>"></div>
                        <div class="deswrap">
                            <p class="qb_fs_l"><strong><?php echo $pro['name']; ?></strong></p>

                            <p class="price">$8989</p>
                        </div>
                    </a>
                </li>
            <?php endforeach; ?>


        </ul>
    <?php else: ?>

        <div class="empty">暂无商品信息</div>

    <?php endif; ?>
</div>


