<?php
$cats =\Components\Product\ProductManager::instance()->getCategories(CUR_APP_ID,true);
?>
<div id="container" class="container">

    <ul id="categories">
        <li class="parent"><a href="/shop/all">所有商品</a></li>
        <?php foreach ($cats as $cate) { ?>
            <li class="parent"><a
                    href="<?php echo $this->uri->baseUrl('shop/cat/' . \Util\EasyEncrypt::encode($cate['id'])); ?>"><?php echo $cate['name'] ?></a>
            </li>
            <?php if (count($cate['subs']) > 0) { ?>
                <?php foreach ($cate['subs'] as $sub) { ?>
                    <li>
                        <a href="<?php echo $this->uri->baseUrl('shop/cat/' . \Util\EasyEncrypt::encode($sub['id'])); ?>"><?php echo $sub['name'] ?></a>
                    </li>
                <?php }; ?>
            <?php }; ?>
        <?php }; ?>
    </ul>
</div>
