<?php


$cat = $this->dispatcher->getParam(0);
$data = \Components\Product\ProductManager::instance()->getCat($cat, CUR_APP_ID);
$this->view->setVar('data', $data);
?>

<div class="lay_page ">
    <div class="lay_page_wrap">
        <div class="fn_ad ad_bigpic">
            <?php if (!empty($data['subs'])) { ?>
                <?php foreach ($data['subs'] as $cat): ?>
                    <a class="ui_clearfix" href='<?php echo "/shop/listgoods/" . $cat['id']; ?>'>
                        <div class='catbar'>
                            <p class="qb_fs_s"><?php echo $cat['description'] ?></p>
                        </div>
                        <!-- <img src="/static/wap/images/tpl/side1.jpg" class="ad_img ui_fluid">-->
                        <div class="ad_detail">
                            <p class="qb_fs_l"><strong><a
                                        href='<?php echo "/shop/listgoods/" . $cat['id']; ?>'><?php echo $cat['name'] ?></a></strong>
                            </p>

                        </div>
                    </a>
                <?php endforeach; ?>
            <?php } ?>
        </div>


    </div>
</div>


<div class="qb_quick_tip qb_none" id="bubble"></div>

