<style>
    .header{height: 148px; overflow: hidden; text-align: center;padding:0;margin: 0 10px 30px;}
    .header img{height: 148px; width: 100%; max-width: 100%;}
</style>
<?php
use Multiple\Wap\Helper\ShopData;
use Multiple\Wap\Helper\SiteData;

$shop = ShopData::init()->getStore();
$productRec = ShopData::init()->getList('is_recommended=1 and is_active=1 and customer_id=' . CUR_APP_ID, 0, 10);
$part = SiteData::init()->getNavs('part');

$cat = ShopData::init()->getCatalog();//用户商城一级二级分类


?>
<div class="wrapper">
    <div class="header">
        <img src="<?php echo $shop['background']; ?>" alt=""/>
    </div>
    <?php if ($part) { ?>
        <div class="nav">
            <div class="product_lists">
                <div class="product_lists_w">
                    <ul>
                        <?php foreach ($part as $nav) { ?>
                            <li>
                                <div class="w_l"><a href="<?php echo $nav['link'] ?>"><?php echo $nav['name'] ?></a>
                                </div>
                            </li>
                        <?php } ?>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <!--product_lists end-->
        </div><!--nav end-->
    <?php } ?>

    <div class="products">
        <div class="products_wrapper">
            <div class="products_tit">
                <div class="tit_con"><a href="#">热销推荐</a></div>
            </div>
            <div class="products_content">
                <ul>
                    <?php if ($productRec) {
                        foreach ($productRec as $pro) { ?>
                            <li>
                                <div class="products_pic">
                                    <div class="products_pic_w"><a
                                            href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($pro['id'])); ?>"><img
                                                src="<?php echo \Util\ImgSize::getSize($pro['thumb']) ?>" alt=""/></a></div>
                                    <div class="name"><a
                                            href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($pro['id'])); ?>"
                                            title="<?php echo $pro['name'] ?>"><?php echo $pro['name'] ?></a></div>
                                    <div class="price">￥<?php echo $pro['sell_price'] ?></div>
                                </div>
                            </li>
                        <?php }
                    } ?>
                    <div class="clear"></div>
                </ul>
            </div>
            <!--products_content end-->
        </div>
        <!--products_wrapper end-->
    </div>
    <!--products end-->

    <!-- 底部导航部分 start-->
    <div class="nav">
        <div class="product_lists">
            <div class="product_lists_w">
                <ul>
                    <?php if ($cat) {
                        $i = 0;
                        foreach ($cat as $cat) { ?>

                            <li>
                                <div class="w_l"><a
                                        href="<?php echo $this->uri->baseUrl('shop/cat/' . \Util\EasyEncrypt::encode($cat['id'])); ?>"><?php echo $cat['name'] ?></a>
                                </div>
                            </li>
                        <?php }
                    } ?>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <!--product_lists end-->
    </div>
    <!--nav end-->


    <!-- 底部导航部分 end-->

    <!-- link_all_products start-->
    <div class="link_all_products">
        <a href="/shop/all">店铺全部商品</a>
    </div>
    <!-- link_all_products end-->

</div><!--wrapper end-->
