<?php
use Multiple\Wap\Helper\ShopData;

$item = ShopData::init()->getItem();

if ($item) {
    $attrs = ShopData::init()->getItemAttr($item['id']);
    $brand = ShopData::init()->getItemBrand($item['brand_id']);
    $desc = $item['detail'];
    $gallery = explode(';', $item['imgs']);
    $item_spec = ShopData::init()->getItemSpec($item['id']);
//$option=ShopData::init()->getItemOption();

    ?>
    <div class="wrapper">
        <div class="main_w">
            <div class="iheader">
                <img src="<?php echo $item['thumb'] ?>" alt="<?php echo $item['name']; ?>"/>
            </div>
            <!--header end-->

            <div class="imain">
                <div class="word"><?php echo $item['name'] ?></div>
                <div class="price">
                    <span class="big">￥<?php echo $item['sell_price']; ?></span>
                    <span class="small">￥<?php echo $item['original_price'] ?></span>

                    <div class="service"><a href="javascript:WeixinJSBridge.call('closeWindow');
;">客服</a></div>
                </div>
                <!--price end-->
                <div class="buy"><a href="#">购买</a></div>
            </div>
            <!--main end-->

            <div class="more_info">
                <div class="more_info_w">
                    <ul>
                        <li class="pdesc"><a href="javascript:;">商品详情</a></li>
                        <li class="showimg"><a href="javascript:;">商品图片</a></li>
                        <li class="pdetail"><a href="javascript:;">商品参数</a></li>
                    </ul>
                </div>
                <!--more_info_w end-->
            </div>
            <!--more_info end-->
        </div>
        <!--main_w end-->


        <!--选择商品属性 该页面默认是隐藏的-->

        <div class="choose_commodity">
            <div class="choose_products">
                <div class="choose_left">
                    <a href="javascript:;"><img src="<?php echo $item['thumb'] ?>" alt=""/></a>
                </div>
                <div class="choose_right">
                    <div class="word"><a href="javascript:void(0)"><?php echo $item['name'] ?></a></div>
                    <div class="price">￥<?php echo $item['sell_price'] ?></div>
                </div>
                <div class="clear"></div>
            </div>
            <!--choose_products end-->

            <?php
            if ($item_spec) {
                $spec_data = [];
                foreach ($item_spec as $uniq) {
                    $spec_arr = json_decode($uniq['spec_data'], true);

                    foreach ($spec_arr as $tmp) {
                        $spec_data[$tmp['spec_id']]['name'] = $tmp['spec_name'];
                        $spec_data[$tmp['spec_id']]['values'][$tmp['key']] = $tmp['val'];
                        $spec_data[$tmp['spec_id']]['spec_unique_key'] = $uniq['spec_unique_key'];
                        $spec_data[$tmp['spec_id']]['sell_price'] = $uniq['sell_price'];
                        $spec_data[$tmp['spec_id']]['original_price'] = $uniq['original_price'];
                        $spec_data[$tmp['spec_id']]['num'] = $uniq['num'];
                        $spec_data[$tmp['spec_id']]['thumb'] = $uniq['thumb'];
                    }
                }
                ?>
                <div class="product-spec product-options">
                    <input class="spec_all_data" type="hidden"
                           value="<?php echo base64_encode(json_encode($item_spec)); ?>"/>

                    <h4 class="tit">
                        商品规格</h4>
                    <?php
                    foreach ($spec_data as $spec_id => $spec) {
                        ?>
                        <dl class="product-opt spec" data-spec_id="<?php echo $spec_id; ?>">
                            <dt style="">
                                <?php echo $spec['name']; ?>：
                            </dt>
                            <dd>
                                <?php
                                if ($spec['values']) {
                                    $values = array_unique($spec['values']);
                                    foreach ($values as $k => $val) {
                                        ?>
                                        <a href="javascript:;"
                                           class="spec_val opt_choose"
                                           data-spec_id="<?php echo $spec_id; ?>"
                                           data-key="<?php echo $k; ?>"
                                           data-val="<?php echo $val; ?>"
                                            ><?php echo $val; ?></a>
                                    <?php
                                    }
                                }
                                ?>
                            </dd>
                        </dl>
                    <?php
                    } ?>
                </div>
            <?php
            }
            ?>

            <div class="qty-wrap buy-wrap">
                <div class="tit">数量</div>
                <div class="num product-num">
                    <a href="javascript:;" class="minusBtn"><i class="icon icon-angle-left"></i></a>
                    <input type="text" value="1" name="qty"
                           class="item_quantity"
                           data-id="<?php echo $item['id']; ?>"
                           data-price="<?php echo $item['sell_price']; ?>"
                           style="width: 20px;height: 12px;text-align: center;"
                           data-inventory="<?php echo $item['quantity']; ?>"/>
                    <a href="javascript:;" class="plusBtn"><i class="icon icon-angle-right"></i></a>
                </div>
                <div class="inventory">库存
                    <span class="num"> <?php echo $item['quantity']; ?></span>
                    件
                </div>
                <div class="clear"></div>
            </div>
            <div class="buy_next product-btn"><a href="javascript:;" class="btn-buy"
                                                 data-has_spec="<?php echo $item_spec ? 'must' : ''; ?>"
                                                 data-id="<?php echo $item['id']; ?>"
                    >购买</a></div>
        </div>
        <!--choose_commodity end-->

    </div><!--wrapper end-->
    <div class="bottomWrap">
        <div class="pwrapper">
            <h1><span class="close">关闭</span></h1>

            <div class="pmain">
                <ul>
                    <?php foreach ($attrs as $att) { ?>
                        <li>
                            <div class="tit"><?php echo $att['attr_name'] ?></div>
                            <div class="con"><?php echo $att['attr_val'] ?></div>
                        </li>
                    <?php } ?>

                </ul>


            </div>
            <!--main end-->
            <div class="content">
                <?php echo $desc; ?>
            </div>
            <div class="imgplay">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <?php foreach ($gallery as $k=>$gal) {  ?>
                            <?php if($gal!=''){?>
                            <div class="swiper-slide red-slid">
                                <img src="<?php echo $gal ?>"/>
                            </div>
                            <?php }?>
                        <?php } ?>
                    </div>
                    <div class="pagination"></div>
                </div>
                <?php /*TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe'); */ ?>
            </div>
        </div>
        <!--wrapper end-->

    </div>
    <script src="/static/wap/js/tools/swiper.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            pagination: '.pagination',
            paginationClickable: true,
            moveStartThreshold: 100
        })

    </script>
    <script>
        seajs.use('app/app.shop_cart', function (cart) {
            cart.itemPageInit();
        });
    </script>
    <script>
        $(function () {

            var width = $(window).width();
            var height = $(window).height() / 2;
            var selfheight = $(".imgplay").css('height');
            $(".imgplay").css({'margin-top': (height - 150) + 'px'});
            $(".pdetail").click(function () {
                window.scrollTo(0, 0);
                $(".bottomWrap,.pwrapper").css({'backgroundColor': 'white'});
                $(".bottomWrap,.pwrapper,.pmain").show();
            });
            $(".showimg").click(function () {
                window.scrollTo(0, 0);
                $(".bottomWrap,.pwrapper").css({'backgroundColor': 'black'});
                $(".bottomWrap,.pwrapper,.imgplay").show();
            });
            $('.pdesc').click(function () {
                window.scrollTo(0, 0);
                $(".bottomWrap,.pwrapper").css({'backgroundColor': 'white'});
                $(".bottomWrap,.pwrapper,.content").show();
            })
            $(".close").click(function () {
                $(".bottomWrap,.pwrapper,.pmain,.imgplay").hide();
            });
            //选择颜色
            $(".color_con ul li").on('click', function () {
                $(".color_con ul li").removeClass("no_choosed choosed").addClass("no_choosed");
                $(this).removeClass("no_choosed").addClass("choosed");
            });
            //增加或减少商品数量
            $(".num_right").click(function () {
                var num = $(".num_center input").val();
                var next_num = parseInt(num) + 1;
                $(".num_center input").val(next_num);
            });

            $(".num_left").click(function () {
                // alert($(".num_center input").val());
                if (parseInt($(".num_center input").val()) >= 2) {
                    var num = $(".num_center input").val();
                    var prev_num = parseInt(num) - 1;
                    $(".num_center input").val(prev_num);
                }
            });

            //点击购买按钮
            $(".buy").click(function () {
                $(".main_w").css("display", "none");
                $(".choose_commodity").css("display", "block");
            });


        });

    </script>

<?php } ?>