<div class="wrapper">
    <div class="main">
        <ul>
            <li>
                <div class="list_content">
                    <div class="list_left">
                        <div class="pic"><a href="#"><img src="images/list_pic1.jpg" alt=""/></a></div>
                    </div>
                    <div class="list_right">
                        <div class="name"><a href="#">很漂亮的风景图</a></div>
                        <div class="price">￥4555</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--list_content end-->
            </li>
            <li>
                <div class="list_content">
                    <div class="list_left">
                        <div class="pic"><a href="#"><img src="images/list_pic2.jpg" alt=""/></a></div>
                    </div>
                    <div class="list_right">
                        <div class="name"><a href="#">很漂亮的风景图</a></div>
                        <div class="price">￥4555</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--list_content end-->
            </li>
            <li>
                <div class="list_content">
                    <div class="list_left">
                        <div class="pic"><a href="#"><img src="images/list_pic1.jpg" alt=""/></a></div>
                    </div>
                    <div class="list_right">
                        <div class="name"><a href="#">很漂亮的风景图</a></div>
                        <div class="price">￥4555</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--list_content end-->
            </li>
            <li>
                <div class="list_content">
                    <div class="list_left">
                        <div class="pic"><a href="#"><img src="images/list_pic2.jpg" alt=""/></a></div>
                    </div>
                    <div class="list_right">
                        <div class="name"><a href="#">很漂亮的风景图</a></div>
                        <div class="price">￥4555</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--list_content end-->
            </li>
            <li>
                <div class="list_content">
                    <div class="list_left">
                        <div class="pic"><a href="#"><img src="images/list_peijian.jpg" alt=""/></a></div>
                    </div>
                    <div class="list_right">
                        <div class="name"><a href="#">很漂亮的风景图</a></div>
                        <div class="price">￥4555</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--list_content end-->
            </li>
        </ul>
        <div class="no_more">
            已无更多商品
        </div>
    </div>
    <!--main end-->
</div><!--wrapper end-->