<?php
use Models\Product\Categories;
use Models\Product\CategoryDescription;
use Models\Product\CustomerCategoryDescription;
use Models\Product\Product;

$cat = $this->dispatcher->getParam(0);
$name = CustomerCategoryDescription::findFirst('category_id=' . $cat);
$name = $name ? $name->toArray() : null;
$data = Product::find(array('cid=' . $cat
))->toArray();
?>
<div class="lay_page page_cat_1">
    <div class="lay_page_wrap">
        <div class='catbar'>
            <p class="qb_fs_s"><?php echo $name['description'] ?></p>

        </div>
        <div class="fn_titles">
            <h1><?php echo $name['name']; ?></h1>
        </div>
        <div class="fn_goods qb_clearfix">
            <ul id="show_container">

                <?php if ($data) {
                    foreach ($data as $data):?>
                        <li>
                            <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($data['id'])); ?>">
                                <img src="<?php echo $data['thumb'] ?>" width="140" height="140" class="default">

                                <div class="goods_name qb_fs_s mod_color_weak"><?php echo $data['name'] ?></div>
                                <div class="price qb_fs_s mod_color_strong">¥<?php echo $data['sell_price'] ?></div>
                            </a>
                        </li>
                    <?php endforeach;
                } else {
                    echo "<font style='color:red;'>暂无商品发布</font>";
                } ?>

            </ul>
        </div>


    </div>
</div>

<div class="qb_quick_tip qb_none" id="bubble"></div>