<div class="field set-field">
    <label for="" class="field-label" style="vertical-align: top;">运费设置：</label>

    <div style="display: inline-block;">
        <?php $this->view->partial('freight/partial/express'); ?>
        <?php $this->view->partial('freight/partial/ems'); ?>
        <?php $this->view->partial('freight/partial/mail'); ?>
    </div>
</div>