<table class="list listFreight" data-mode="ems"
       style="<?php echo in_array('ems', $freight_mails) ? "" : "display:none"; ?>">
    <thead>
    <tr>
        <td colspan="5" class="thead">EMS运费设置</td>
    </tr>
    <?php $this->view->partial('freight/partial/thead'); ?>
    </thead>
    <tbody class="listData">
    <?php
    foreach ($items['ems'] as $exp) {
        if ($exp['is_national'] == 1) {
            ?>
            <tr data-id="<?php echo $exp['id']; ?>" class="nation_info" data-type="ems" data-is_national="1">
                <td class="area">
                    全国默认地区
                    <input type="hidden" value="">
                </td>
                <td>
                    <input type="text" class="first_num" value="<?php echo $exp['first_num']; ?>"
                           onkeyup="value=value.replace(/[^\d.]/g,'')">
                </td>
                <td>
                    <input type="text" class="first_cash" value="<?php echo $exp['first_cash']; ?>"
                           onkeyup="value=value.replace(/[^\d.]/g,'')">
                </td>
                <td>
                    <input type="text" class="addon_num" value="<?php echo $exp['addon_num']; ?>"
                           onkeyup="value=value.replace(/[^\d.]/g,'')">
                </td>
                <td>
                    <input type="text" class="addon_cash" value="<?php echo $exp['addon_cash']; ?>"
                           onkeyup="value=value.replace(/[^\d.]/g,'')">
                </td>
            </tr>
        <?php
        } else {
            ?>
            <tr data-id="<?php echo $exp['id']; ?>" data-type="ems" class="item">
                <td>
                    指定地区<span>
                        <a href="javascript:;" data-item_id="<?php echo $exp['id']; ?>" data-type="ems"
                           class="RegionPop">编辑</a></span>
                    &nbsp;<span><a href="javascript:;" data-id="<?php echo $exp['id']; ?>"
                                   class="delItem"
                                   data-type="ems"
                            >删除</a></span>
                    <br>
                    <span
                        data-item_id="<?php echo $exp['id']; ?>" style="color:#a3a3a3"
                        class="showDist ems"><?php echo $exp['district_cn']; ?></span>
                    <input type="hidden"
                           data-type="ems"
                           class="txtDistrict ems" value="<?php echo $exp['district_cn']; ?>"
                           data-item_id="<?php echo $exp['id']; ?>">
                </td>
                <td><input type="text" class="first_num" value="<?php echo $exp['first_num']; ?>"
                           data-item_id="<?php echo $exp['id']; ?>"></td>
                <td><input type="text" class="first_cash" value="<?php echo $exp['first_num']; ?>"
                           data-item_id="<?php echo $exp['id']; ?>"></td>
                <td><input type="text" class="addon_num" value="<?php echo $exp['addon_num']; ?>"
                           data-item_id="<?php echo $exp['id']; ?>"></td>
                <td><input type="text" class="addon_cash" value="<?php echo $exp['addon_cash']; ?>"
                           data-item_id="<?php echo $exp['id']; ?>"></td>
            </tr>
        <?php
        }
    }
    ?>
    </tbody>
    <tr>
        <td colspan="5"><a href="javascript:;" class="addAreaBtn" data-mode="ems">为指定区域设置运费</a></td>
    </tr>
</table>