<main class="popup-wrap" id="regionPopup">
    <section class="popup-widget" id="linkWidget">
        <header class="popup-head">选择地区<span class="popup-close">x</span></header>
        <main class="popup-content">
            <div id="region_area">
            </div>
            <div class="field res-area">
                <input type="hidden" value="" class="res-val"/>
                <input class="btn btn-sm btn-success getRegionBtn  res-btn" type="button" value="确认"/>
                <span class="help-inline"></span>
            </div>
        </main>
    </section>
</main>
