<?php
$_way_fst = array(
    'number' => '首件（个）', 'volume' => '首体积(大小)', 'weight' => '首重(重量)',
);
$_way_add = array(
    'number' => '续件（个）', 'volume' => '续体积(大小)', 'weight' => '续重(重量)',
);
$way = isset($freight['valuation_way']) ? $freight['valuation_way'] : 'number';
?>
<tr class="head">
    <td id="x_area">配送区域</td>
    <td id="x_one" class="x_one"><?php echo $_way_fst[$way]; ?></td>
    <td id="x_one_money">运费（元）</td>
    <td id="x_co" class="x_co"><?php echo $_way_add[$way]; ?></td>
    <td id="x_money">运费（元）</td>
</tr>