<?php
use Multiple\Wap\Helper\ShopData;
use Multiple\Wap\Helper\SiteData;

$site = SiteData::init()->getSite();

$shop = ShopData::init()->getStore();
$cat = ShopData::init()->getCatalog();

$part = SiteData::init()->getNavs('part');
$slider = SiteData::init()->getFocus('focus_slider');



?>
<!---------------------- index begin --------------------------------->
<div id="index">
    <div class="swiper-index">
        <div class="swiper-wrapper">
            <?php foreach ($slider as $item): ?>
                <div class="swiper-slide">
                    <a href="<?php echo $item['link']; ?>">
                        <img src="<?php echo $item['img']; ?>" style="display: none;"/>
                    </a>
                </div>
            <?php endforeach; ?>

        </div>
        <div class="pagination-index"></div>
        <div class="index_more close"></div>
    </div>
</div><!-- index end-->
<!---------------------- index begin --------------------------------->
<div id="mask"></div>
<div id="mask_zero">
    <ul>
        <?php foreach ($part as $item) { ?>
            <li>
                <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                    <div class="img"><img src="<?php echo $item['cover_img'] ?>" alt=""/></div>
                    <span class="img_word"><?php echo $item['name'] ?></span>
                </a>
            </li>
        <?php } ?>

        <div class="clear"></div>
    </ul>
</div><!-- mask_zero end-->

<script type="text/javascript">
    seajs.use('tools/swiper.js', function () {
        var clientHeight = $(window).height();
        $('#index').css('position', 'relative').css('top', '50px');
        $("#index img").show();
        $(function () {
            //----------------------------------------------------------index js
            var mySwiper_index = new Swiper('.swiper-index', {
                pagination: '.pagination-index',
                paginationClickable: true,
                calculateHeight: true,
                autoplay: 3000
            });
            var pag_h = parseInt($("#index .pagination-index").width() / 2);
            $("#index .pagination-index").css("margin-left", "-" + pag_h + "px");
            var w_h = $(window).height();
            var swiper_h = parseInt(w_h - 43);
            $("#index .swiper-index").css("height", swiper_h + "px");


            $("#mask").css("height", w_h + "px");
            $("#mask").click(function () {
                $(this).css("display", "none");
                $("#mask_zero").css("display", "none");
                $(".index_more").removeClass("open").addClass("close");
            });
            $(".index_more").click(function () {
                if ($(this).hasClass('close')) {
                    $("#mask").css("display", "block");
                    $("#mask_zero").css("display", "block");
                    $(this).removeClass("close").addClass("open");
                } else {
                    $("#mask").css("display", "none");
                    $("#mask_zero").css("display", "none");
                    $(this).removeClass("open").addClass("close");
                }
            });

        });
    });
</script>