
<script type="text/javascript" src="/static/ace/js/date-time/bootstrap-datepicker.min.js"></script>
<style>
    .odd td{text-align: center;}
    .com_text{ width: 150px !important;}
</style>

<div class="page-header">
    <h1>评论管理
        <span class="pull-right">
            <span class="btn-group">

            </span>
        </span>
    </h1>
    <!-- /.col-lg-12 -->
</div>

<form action="/panel/comment/index" method="post" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">

    <label for="name">商品名称</label>
    <input name="name" class="com_text" type="text" id="name" value="{% if name is defined %}{{name}}{% endif %}"/>
    <label for="time">评价时间</label>
    <input name="startdate"  class="com_text date-picker" data-date-format="yyyy-mm-dd" type="text"  value="{% if startdate is defined %}{{startdate}}{% endif %}"/>
    <label for="split">-</label>
    <input name="enddate"   class="com_text date-picker" data-date-format="yyyy-mm-dd"   type="text" value="{% if enddate is defined %}{{enddate}}{% endif %}"/>
    <label for="status">评价状态</label>
    <select name="is_show" id="sta
    tus">
        <option value="-1">--全部--</option>
        <option value="0" {%if is_show is defined and  is_show==0 %}selected{% endif%}>隐藏</option>
        <option value="1" {%if is_show is defined and  is_show==1 %}selected{% endif%}>显示</option>
    </select>
    <input type="submit" class="btn btn-primary btn-sm" value="搜索"/>
</form>
<table class="list">
    <thead>
    <tr class="head">
        <th>评论编号</th>
        <th>商品名称</th>
        <th>评论内容</th>
        <th>评论时间</th>
        <th>评论状态</th>
        <th>管理</th>
    </tr>
    </thead>
    {% if list.items|length > 0 %}
    {% for item in list.items %}
    <tr class="odd gradeX">
        <td>{{item.cid}} </td>
        <td>{{item.name}} </td>
        <td><?php echo mb_substr($item->content,'0',40,'utf-8')?> </td>
        <td>{{date('Y-m-d H:i:s', item.created)}}</td>
        <td> {% if item.is_show %}显示{% else %}隐藏{% endif %}</td>
        <td> <a href="/panel/comment/look/{{item.cid}}" class="tooltip-info">
            <i class="icon icon-question"></i>查看</a></td>
    </tr>
    {% endfor%}
    {% else %}
    <tr class="even gradeC">
        <td colspan="9">还没有商品数据</td>
    </tr>
    {% endif%}
</table>

<div class="row">
    <div class="col-sm-6">
        <div class="dataTables_info pagination" id="dataTables-example_info" role="alert"
             aria-live="polite"
             aria-relevant="all">显示 1 至 20 条， 共 <code id="ruleTotalNum">{{list.total_items}}</code>
            条数据
        </div>
    </div>
    <div class="col-sm-6">
        <div class="pull-right" id="dataTables-example_paginate">
            <ul class="pagination">
                <li class="paginate_button previous" aria-controls="dataTables-example"
                    tabindex="0" id="dataTables-example_previous"><a
                        href="/panel/comment/index?page={{list.first}}{% if name is defined %}&name={{name}}{% endif %}{% if is_show is defined %}&is_show={{is_show}}{%endif%}{% if startdate is defined %}&startdate={{startdate}}{% endif %}{% if enddate is defined %}&enddate={{enddate}}{% endif %}">首页</a>
                </li>
                <li class="paginate_button previous" aria-controls="dataTables-example"
                    tabindex="0" id="dataTables-example_previous"><a
                        href="/panel/comment/index?page={{list.before}}{% if name is defined %}&name={{name}}{% endif %}{% if is_show is defined %}&is_show={{is_show}}{%endif%}{% if startdate is defined %}&startdate={{startdate}}{% endif %}{% if enddate is defined %}&enddate={{enddate}}{% endif %}">上一页</a>
                </li>
                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                    <a href="#">{{list.current}}</a></li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                    id="dataTables-example_next"><a
                        href="/panel/comment/index?page={{list.next}}{% if name is defined %}&name={{name}}{% endif %}{% if is_show is defined %}&is_show={{is_show}}{%endif%}{% if startdate is defined %}&startdate={{startdate}}{% endif %}{% if enddate is defined %}&enddate={{enddate}}{% endif %}">下一页</a>
                </li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                    id="dataTables-example_next"><a
                        href="/panel/comment/index?page={{list.last}}{% if name is defined %}&name={{name}}{% endif %}{% if is_show is defined %}&is_show={{is_show}}{%endif%}{% if startdate is defined %}&startdate={{startdate}}{% endif %}{% if enddate is defined %}&enddate={{enddate}}{% endif %}">末页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    jQuery(function ($) {

        $('.date-picker').datepicker({autoclose: true}).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    })
</script>