<style>
    .odd td{text-align: center;}
    .com_text{ width: 150px !important;}
    .goods{font-weight: bold;font-size: 13px; margin: 0px 3px;}
    .time{color: red; margin: 0px 3px;}
    .user{ font-weight: bold; margin-right: 5px;}
    .btn-center{margin-top:10px;}
    .panel-default{ margin-bottom: 5px; background-color: #f5f5f5;}
</style>

<div class="row panel panel-default">
    <div class="panel-body">
        {% if  comment%}
        <span class="user">{{comment.name}}</span>在<span class="time">{{date('Y-m-d H:i:s',comment.created)}}</span>对商品<span class="goods">{{comment.pname}}</span>进行了评论
        {% endif %}
        <hr>
        <p>{{comment.content}}</p>
        <input type="hidden" id="pcid" value="<?php echo $comment['pcid']?>"/>
        <input type="hidden" id="pid" value="<?php echo $comment['pid']?>"/>

        <span class="btn btn-primary btn-sm btn-center" id="btn_show" show="{{comment.is_show}}">{%if comment.is_show==1%}禁止显示{% else %}允许显示{% endif %}</span>
    </div>

</div>

<?php if($replay) {
    foreach($replay as $k=>$comment)
    {
        ?>

        <div class="row panel panel-default">
            <div class="panel-body">
                <span class="user"><?php echo $comment['name']?></span>于<span class="time"><?php echo date('Y-m-d H:i:s',$comment['created'])?></span>进行了回復

                <hr>
                <p><?php echo $comment['content'] ?></p>
            </div>

        </div>
    <?php }}?>

<div class="row panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h1>回复评论</h1>

        </div>
        <label for="name">回复内容</label>

        <textarea  style="width: 60%; height:150px;" id="replay-content"></textarea><br>

        <span class="btn btn-primary btn-sm btn-center" id="su_btn" >确定</span>
        <span class="btn btn-primary btn-sm btn-center" id="re_btn">重置</span>
    </div>

</div>
<script>
    $(function () {
        $('#btn_show').click(function(){
            var id=$('#pcid').val();
            var show=$(this).attr('show');
            $.ajax({
                'url':'/panel/comment/show',
                'type':'post',
                'data':'id='+id+'&show='+show,
                'datatype':'json',
                'success':function(res){

                    window.location.href=window.location.href;
                },
                'error':function(){alert('失败');}
            })

        })
        $('#re_btn').click(function(){
            $('#replay-content').val('');
        })
        $('#su_btn').click(function () {
            var id=$('#pcid').val();
            var pid=$('#pid').val();
            var content= $.trim($('#replay-content').val());
            if(content==''){alert('回复内容不能为空')}
            else
            {
                $.ajax({
                    'url':'/panel/comment/replay',
                    'type':'post',
                    'data':'id='+id+'&pid='+pid+'&content='+content,
                    'datatype':'json',
                    'success':function(res){
                        // alert(res);
                        window.location.href=window.location.href;
                    },
                    'error':function(){alert('失败');}
                })
            }
        });

    });

</script>