<input type="hidden" id="menuClickMessages" value='{{menus|json_encode}}'>
<div class="tree well">
    <ul>
        {% if categories and categories|length > 0 %}
        {% for category in categories %}
        <li data-cat-id="{{category['id']}}">
            <span class="tree-title"><i class="glyphicon glyphicon-align-justify"></i> {{category['name']}}</span>
            <span>
                <a class="tree-edit" href="javascript:;" title="编辑" data-data='{{category|json_encode}}'><i class="glyphicon glyphicon-pencil"></i></a>
                {% if category['subs'] is not defined or category['subs']|length == 0 %}
                <a class="tree-remove" href="javascript:;" title="删除" data-id="{{category['id']}}"><i class="glyphicon glyphicon-trash"></i></a>
                {% endif %}
                {% if category['subs'] is not defined or category['subs']|length < 15 %}
                <a class="tree-add" href="javascript:;" title="添加"  data-id="{{category['id']}}"><i class="glyphicon glyphicon-plus"></i></a>
                {% endif %}
            </span>
            {% if category['subs'] is defined and category['subs']|length > 0 %}
            <ul>
                {% for sub in category['subs'] %}
                <li data-cat-id="{{sub['id']}}">
                    <span><i class="glyphicon glyphicon-file"></i> {{sub['name']}}</span>
                    <a class="tree-edit" href="javascript:;" title="编辑" data-data='{{sub|json_encode}}'><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="tree-remove" href="javascript:;" title="删除" data-id="{{sub['id']}}"><i class="glyphicon glyphicon-trash"></i></a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
        {% if categories is not defined or categories|length < 10 %}
        <li>
            <span>
                <a class="tree-add" href="javascript:;" title="添加" data-id="0"><i class="glyphicon glyphicon-plus" data-pid="0"></i></a>
            </span>
        </li>
        {% endif %}
    </ul>
</div>

<!-- edit modal -->
<div class="modal fade" id="menuInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">行业信息</h4>
            </div>
            <div class="modal-body">
                <form role="form"  id="J_Form" class="form-horizontal">
                    <input type="hidden" name="cid" id="cid" value=""/>
                    <input type="hidden" name="pid" id="pid" value="0"/>
                    <div class="control-group">
                        <label for="name" class="control-label">(<s>*</s>)名称</label>
                        <div class="controls">
                            <input name="name" id="name"  data-rules="{required: true}" class="input-large" placeholder="分类名称"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="description" class="control-label" data-rules="{minlength:20}">描述</label>
                        <div class="controls">
                            <textarea class="input-large" name="description" id="description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveCategory">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    $(document).ready(function() {
        var Form = BUI.Form;

        new Form.Form({
            srcNode : '#J_Form'
        }).render();
    });

</script>