<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<?php if (empty($wheel)){ ?>
    <div id="container" class="container">
        <div class="main">
            <div id="outercont">

                <img src="/static/wap/images/module/wheel/activity-lottery-end.jpg"/>

            </div>
        </div>
    </div>
 <?php } else if(count($wheelOptions) <= 0){?>
      商家未设置奖项
    <?php } else{?>

    <style>
        <!--
        .ui-dialog {
            -webkit-box-shadow: 1px 1px 3px #292929;
            -moz-box-shadow: 1px 1px 3px #292929;
            box-shadow: 1px 1px 3px #292929;
        }

        .ui-dialog .ui-dialog-title {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }

        .ui-dialog-btns {
            margin-top: 0px;
        }

        -->
    </style>
    <div id="container" class="container" style="padding-top: 8px;">
    <div class="main" >
       <?php if($wheel->start_time<=strtotime(date('Y-m-d')) && $wheel->end_time>=strtotime(date('Y-m-d'))){?>
           <div id="outercont">
               <div id="outer-cont">
                   <div id="outer" style="">
                       <?php if ($wheel): ?>
                           <img src="<?php echo $wheel->image; ?>" width="310px">
                       <?php else: ?>
                           <img src="/static/wap/images/module/wheel/default-wheel.png" width="310px">
                       <?php endif; ?>
                   </div>
               </div>
               <div id="inner-cont">
                   <div id="inner"><img src="/static/wap/images/module/wheel/activity-lottery-2.png"></div>
               </div>
           </div>

       <?php }else{?>
           <div id="outercont" style="width:310px; overflow: hidden; margin: 0 auto;">

               <img style="margin: 0 auto;" src="/static/wap/images/module/wheel/activity-lottery-end.jpg"/>

           </div>
        <?php }?>


        <div class="content">
            <div class="boxcontent boxyellow" id="result" style="display:none">
                <div class="box">
                    <div class="title-orange"><span>恭喜您中奖了</span></div>
                    <div class="Detail">
                        <p>您中了：<span class="red" id="prizetype"></span></p>

                        <p>您的兑奖SN码：<span class="red" id="sncode"></span></p>
                        <!-- <p class="red">本次兑奖码已经关联你的微信号，你可向公众号发送 兑奖 进行查询!</p>

                        <p>
                        <input name="" class="px" id="tel" type="text" placeholder="输入您的手机号码">
                        </p> -->
                        <p>
                            <input class="pxbtn" id="save-btn" type="button" value="立即兑奖">
                        </p>
                    </div>
                </div>
            </div>
            <div class="boxcontent boxyellow">
                <div class="box">
                    <div class="title-green">活动时间：</div>
                    <div class="Detail">
                        <?php echo date('Y年m月d日',$wheel->start_time),'-',date('Y年m月d日',$wheel->end_time)?>

                    </div>
                </div>
            </div>
            <div class="boxcontent boxyellow">
                <div class="box">
                    <div class="title-green"><span>兑奖时间：</span></div>
                    <div class="Detail">
                        <?php if($wheel->exchange_time_limit==0){echo "不限";}else{echo "从活动开始到活动结束后".$wheel->exchange_time_limit."天内";}?>
                    </div>
                </div>
            </div>

            <div class="boxcontent boxyellow">
                <div class="box">
                    <div class="title-green"><span>奖项设置：</span></div>
                    <div class="Detail">
                        <?php foreach ($wheelOptions as $option): ?>
                            <p><?php echo $option->option_name; ?>：<?php echo $option->option_desc; ?></p>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <div class="boxcontent boxyellow">
                <div class="box">
                    <div class="title-green">活动说明：</div>
                    <div class="Detail">
                        <?php echo $wheel->description; ?>

                    </div>
                </div>
            </div>

            <div class="boxcontent boxyellow">
                <div class="box">
                    <div class="title-green">抽奖记录：</div>
                    <div class="Detail">
                        <table class="tablelist">

                            <thead>

                            <tr>
                                <th>时间</th>
                                <th>奖项</th>
                                <th>中奖码</th>
                                <th>状态</th>

                            </tr>

                            </thead>

                            <tbody>

                            <?php if (count($record) > 0): ?>
                                <?php foreach ($record as $rec):

                                    $flag = 0;
                                    $stats = '已兑奖';
                                    if ($rec->available == 0) {
                                        $stats = '已兑奖';
                                        $flag = 0;
                                    } else if ($rec->available == 1) {
                                        $stats = "<span class='exchange' data-id='" . $rec->code . "' data-act='". $rec->activity_id."'>兑奖</span>";
                                        $flag = 1;
                                    }
                                    ?>
                                    <tr>
                                        <td><?php echo date('m/d H:i:s', strtotime($rec->created)) ?></td>
                                        <td class="green"><?php echo \Models\Modules\Promotion\AddonPromotionOption::findFirst("option_id = $rec->prize_id")->option_name; ?></td>
                                        <td class="green">+<?php echo empty($rec->code) ? "无" : $rec->code; ?></td>
                                        <td class="<?php if ($flag == 1) {
                                            echo 'red';
                                        } else {
                                            echo 'black';
                                        } ?>"><?php echo $stats; ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <tr>
                                    <td colspan="3" style="padding: 10px;">无抽奖记录~</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="dialog" title="提示"></div>

    <script type="text/javascript">

        seajs.use(['jquery.min.js', '/static/wap/gmu/widget/dialog.js'], function () {
            var countPerUser = parseInt(<?php echo $wheel->times;?>);
            var count = parseInt(<?php echo $count;?>);
            (function (jq) {
                jq(function () {
                    window.requestAnimFrame = (function () {
                        return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
                            function (callback) {
                                window.setTimeout(callback, 1000 / 60)
                            }
                    })();
                    var totalDeg = 360 * 3 + 0;
                    var steps = [];
                    var prize, sncode;
                    //  var count = 0;
                    var now = 0;
                    var a = 0.01;
                    var outter, inner, timer, running = false;

                    function countSteps() {
                        var t = Math.sqrt(2 * totalDeg / a);
                        var v = a * t;
                        for (var i = 0; i < t; i++) {
                            steps.push((2 * v * i - a * i * i) / 2)
                        }
                        steps.push(totalDeg)
                    }

                    function step() {
                        outter.style.webkitTransform = 'rotate(' + steps[now++] + 'deg)';
                        outter.style.MozTransform = 'rotate(' + steps[now++] + 'deg)';
                        if (now < steps.length) {
                            requestAnimFrame(step)
                        } else {
                            setTimeout(function () {
                                    if (prize != null && parseInt(prize.prize_number) > 0) {
                                        jq("#sncode").text(sncode);
                                        var type = prize.prize_level;
                                        jq("#prizetype").text(type);
                                        jq("#result").slideToggle(500);
                                        jq("#outercont").slideUp(500);
                                    } else {
                                        alert("谢谢您的参与，下次再接再厉")
                                    }
                                    running = false;
                                },
                                200)
                        }
                    }

                    function start(deg) {
                        running = true;
                        clearInterval(timer);
                        totalDeg = 360 * 2 + deg;
                        steps = [];
                        now = 0;
                        countSteps();
                        requestAnimFrame(step)
                    }

                    window.start = start;
                    outter = document.getElementById('outer');
                    inner = document.getElementById('inner');
                    i = 10;
                    jq("#inner").click(function () {
                        if (running) return;
                        if (count >= countPerUser) {
                            alert("您已经抽了" + countPerUser + "次奖。");
                            return false;
                        }
                        $.ajax({
                            url: "<?php echo $this->uri->wapModuleUrl('/api/wheel/getPrize?id='.$id);?>",
                            dataType: "json",
                            data: {},
                            beforeSend: function () {
                                running = true;
                            },
                            success: function (data) {
                              /*  if (data.error == "invalid") {
                                    alert(data.errorMsg);
                                    clearInterval(timer);
                                    return;
                                }*/
                                if(data.result!=1)
                                {
                                    alert(data.error.more);
                                    clearInterval(timer);
                                    return;
                                }
                                  console.log(data);
                                timer = setInterval(function () {
                                        i += 5;
                                        outter.style.webkitTransform = 'rotate(' + i + 'deg)';
                                        outter.style.MozTransform = 'rotate(' + i + 'deg)'
                                    },
                                    1);
                                if (data.result==1) {
                                    prize = data.error.more.option;
                                    sncode = data.error.more.prize_sn;
                                    start(parseInt(data.error.more.option.angle))
                                } else {
                                    prize = null;
                                    start(0);
                                }
                                count++
                            },
                            error: function () {
                                prize = null;
                                start(0);
                                running = false;
                                count++
                            },
                            timeout: 4000
                        })
                    })
                });


            })(jQuery);

            function alert(msg) {
                $('#dialog').html(msg);
                $('#dialog').html(msg).dialog({
                    autoOpen: false,
                    closeBtn: false,
                    buttons: {
                        '确定': function () {
                            this.close();
                        }
                    }
                });
                $('#dialog').dialog('open');
            }
        });
        $("#save-btn").bind("click", function (e) {
            var code = $("#sncode").text();
            var id= "<?php echo $id;?>";
            requestApi('<?php echo $this->uri->wapModuleUrl('/api/wheel/exchange') ;?>', {code: code,id:id}, function (res) {
                if (res.result == 1) {
                    tip.showTip('ok', '兑奖成功', 1000);
                    window.location.href = window.location.href;
                }
            })
            e.stopImmediatePropagation();
        });
        $(".exchange").bind("click", function (e) {
            var code = $(this).attr('data-id');
            var id= $(this).attr('data-act');
            if(!code || code.length == 0) {
                return false;
            }
            requestApi('<?php echo $this->uri->wapModuleUrl('/api/wheel/exchange') ;?>', {code: code,id:id}, function (res) {

                if (res.result == 1) {
                    tip.showTip('ok', '兑奖成功', 1000);
                    window.location.href = window.location.href;
                }

            });
            e.stopImmediatePropagation();
        });
    </script>

    </div>
<?php } ?>
