<div id="container" class="container">
    <ul class="round wheelul">
        <?php if ($list) {
            foreach ($list as $item) { ?>
                <li>
                    <a href="<?php echo $this->uri->baseUrl('addon/wheel/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><?php echo $item['name'] ?></a>
                </li>

            <?php }
        }else{ ?>
            暂无大转盘活动
        <?php }?>
    </ul>


</div>