<?php
use Multiple\Wap\Helper\SiteData;

$slider = SiteData::init()->getFocus('focus_slider');
if ($slider) {
    ?>
    <div class="focus">
        <div id="slider">
            <?php foreach ($slider as $item) {
                ?>
                <div>
                    <a href="<?php echo $item['link'] ?>">
                        <img src="<?php echo $item['img'] ?>">
                    </a>

                    <p><?php echo $item['name'] ?></p>
                </div>
            <?php } ?>
        </div>
    </div>
    <script>
        seajs.use('/static/wap/gmu/widget/slider', function () {
            $('#slider').slider();
        });
    </script>
<?php
}
?>
