<?php
use Multiple\Wap\Helper\SiteData;

$slider = SiteData::init()->getFocus('focus_slider');

if ($slider) {
    ?>
    <style>
        #focus-swiper {
            height: 148px;
            position: relative;
        }

        #focus-swiper img {
            width: 100%;
        }

        #focus-swiper .pagination {
            position: absolute;
            z-index: 20;
            left: 10px;
            bottom: 10px;
        }

        #focus-swiper .pagination .swiper-pagination-switch {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: #555;
            margin-right: 5px;
            opacity: 0.8;
            border: 1px solid #fff;
            cursor: pointer;
        }

        #focus-swiper .pagination .swiper-active-switch {
            background: #fff;
        }

        #focus-swiper .pagination .swiper-dynamic-links {
            text-align: center;
        }

        #focus-swiper .pagination .swiper-dynamic-links a {
            display: inline-block;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #ccc;
            margin: 5px;
            font-size: 12px;
            text-decoration: none;
            color: #333;
            background: #eee;

        }

        .swiper-slide img {
            height: 148px;
        }
    </style>
    <div class="swiper-container" id="focus-swiper">
        <div class="swiper-wrapper">
            <?php foreach ($slider as $item): ?>
                <div class="swiper-slide">
                    <a href="<?php echo $item['link']; ?>"><img
                            src="<?php echo \Util\ImgSize::getSize($item['img'], 600, 300); ?>"
                            style="width:100%;"></a>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="pagination"></div>
    </div>
<?php } ?>
<script>
    seajs.use('tools/swiper.js', function () {
        var mySwiper = new Swiper('#focus-swiper', {
            pagination: '#focus-swiper .pagination',
            paginationClickable: true
        })
    });
</script>