
<link rel="stylesheet" href="/static/home/pc/reach/css/product.css"/>
<div class="wrapper">
    <div class="main">
        <div class="product_tit">
            <div class="product_zn_tit">公司五大技术平台产品</div>
            <div class="product_en_tit">Five technology platform products of the company</div>
        </div>
        <div class="product_content">
            <div><span>行指微电商云平台：</span>提供十大微体系：微菜单，微网站，微会员，微团购，微调研，微相册，微推送，微统计，微支付，微客服，微信公众号商家营销必备基础平台！</div>
            <div><span>行指微电营销平台：</span>主要功能是针对微信商家公众号提供与众不同的、有针对性的营销推广服务。通过微平台，用户可以轻松管理自己的微信各类信息，对微信公众账号进行维护、开展智能机器人、在线发优惠劵、抽奖、刮奖、派发会员卡、打造微官网、开启微团购等多种活动，对微信营销实现有效监控，极大扩展潜在客户群和实现企业的运营目标。</div>
            <div><span>行指微电商大数据挖掘分析系统：</span>主要功能对移动电商平台的大数据进行关联分析，分类，预测时序模式和偏差分析等，其中包括数理统计，人工智能，机器学习等算法。</div>
            <div><span>行指智能广告推送营销系统：</span>主要功能是以行指微电商云平台和营销平台的数据为基础，以行指微电商大数据挖掘分析的独有算法，得出用户的行为分析，根据客户的需求，精准地向用户的手机APP，手机网页 推送适合的广告。</div>
            <div><span>行指指纹认证支付系统：</span>提供指纹POS机软件服务（指纹支付是利用指纹认证的生物识别技术与银行合作推出用于缴费支付的免费服务），为城市商业终端（消费者与商家）提供全方位SP销售促进解决方案。</div>
        </div><!--product_content end-->
        <div class="clear"></div>
    </div><!--main end-->
</div><!--wrapper end-->