<?php

use Components\TplManager;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');

?>


<div class="wz13_content">
    <?php foreach ($navs as $key => $item) { ?>
        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
            <div class="content_big_out">
                <div>
                    <div>
                        <div class="content_smm_one">

                            <img src="<?php echo $item['cover_img']?>">
                        </div>
                        <div class="content_smm_two">
                            <span style="font-size: 12px;"><?php echo $item['name']; ?></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    <?php } ?>
</div>
<div class="copyright"></div>
