<style>
    <!--
    .ui-dialog {
        -webkit-box-shadow: 1px 1px 3px #292929;
        -moz-box-shadow: 1px 1px 3px #292929;
        box-shadow: 1px 1px 3px #292929;
    }

    .ui-dialog .ui-dialog-title {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }

    .ui-dialog-btns {
        margin-top: 0px;
    }

    -->
</style>
<div class="main">

<?php if (empty($scratch)){ ?>

    <div class="cover" style="margin-top: 30px;">
        <img src="/static/wap/images/module/scratch/activity-scratch-card-end2.jpg">

        <div id="prize">
        </div>
        <div id="scratchpad">
        </div>
    </div>
   <?php } else if(count($scratchOptions) <= 0){?>
    商家未设置奖项
<?php }else{ ?>
<?php if($scratch->start_time<=strtotime(date('Y-m-d')) && $scratch->end_time>=strtotime(date('Y-m-d'))){?>
    <div class="cover">
        <img src="<?php echo $scratch->image; ?>">

        <div id="prize">
        </div>
        <div id="scratchpad">
        </div>
    </div>
   <?php }else{?>
    <div class="cover" style="margin-top: 30px;">
        <img src="/static/wap/images/module/scratch/activity-scratch-card-end2.jpg">
    </div>
    <?php }?>
    <div class="content">
        <div id="zjl" style="display:none" class="boxcontent boxwhite">
            <div class="box">
                <div class="title-red" style="color: #444444;">
                    <span class="red">kaka100</span>
					<span>
						恭喜你
					</span>
                </div>
                <div class="Detail">
                    <p>
                        你中了：
                        <span class="red" id="theAward"></span>
                    </p>

                    <p>
                        兑奖SN码：
						<span class="red" id="sncode">
						</span>
                    </p>

                    <p class="red"></p>

                    <p>
                        <input class="pxbtn" id="save-btn" type="button" value="立即兑奖">
                    </p>
                </div>
            </div>
        </div>
        <div class="boxcontent boxwhite">
            <div class="box">
                <div class="title-brown">
					<span>
						奖项设置：
					</span>
                </div>
                <div class="Detail">
                    <?php if (!empty($scratchOptions)): ?>
                        <?php foreach ($scratchOptions as $option): ?>
                            <p><?php echo $option->option_name; ?>：<?php echo $option->option_desc; ?></p>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <div class="boxcontent boxwhite">
            <div class="box">
                <div class="title-brown">
                    活动说明：
                </div>
                <div class="Detail">
                    <p class="red">
                        本次活动总共可以刮<span id="lottery-total"><?php echo $scratch->times; ?></span>次,你已经刮了<span
                            id="lottery-number"><?php echo $lotteryNumber; ?></span>次,机会如果没用完重新进入本页面可以再刮!


                    </p>

                    <?php echo $scratch->description; ?>
                </div>
            </div>
        </div>
        <div class="boxcontent boxyellow">
            <div class="box">
                <div class="title-green">活动时间：</div>
                <div class="Detail">
                    <?php echo date('Y年m月d日',$scratch->start_time),'-',date('Y年m月d日',$scratch->end_time)?>

                </div>
            </div>
        </div>

       <!-- <div class="boxcontent boxwhite">
            <div class="box">
                <div class="title-brown">
					<span>
						兑奖时间：
					</span>
                </div>
                <div class="Detail">
                    <?php /*if($scratch->exchange_time_limit==0){echo "不限";}else{echo "从活动开始到活动结束后".$scratch->exchange_time_limit."天内";}*/?>
                </div>
            </div>
        </div>-->
        <div class="boxcontent boxyellow">
            <div class="box">
                <div class="title-green">抽奖记录：</div>
                <div class="Detail">
                    <table class="tablelist">

                        <thead>

                        <tr>
                            <th>时间</th>
                            <th>奖项</th>
                            <th>中奖码</th>
                            <th>状态</th>
                        </tr>

                        </thead>

                        <tbody>

                        <?php if (count($record) > 0): ?>
                            <?php foreach ($record as $rec):
                                $flag = 0;
                                $stats = '已兑奖';
                                if ($rec->available == 0) {
                                    $stats = '已兑奖';
                                    $flag = 0;
                                } else if ($rec->available == 1) {
                                    $stats = "<span class='exchange' data-id='" . $rec->code . "' data-act='".$rec->activity_id."'>兑奖</span>";
                                    $flag = 1;
                                }
                                ?>
                                <tr>
                                    <td><?php echo date('m/d H:i:s', strtotime($rec->created)) ?></td>
                                    <td class="green"><?php echo \Models\Modules\Promotion\AddonPromotionOption::findFirst("option_id = $rec->prize_id")->option_name; ?></td>
                                    <td class="green">+<?php echo empty($rec->code) ? "无" : $rec->code; ?></td>
                                    <td class="<?php if ($flag == 1) {
                                        echo 'red';
                                    } else {
                                        echo 'black';
                                    } ?>"><?php echo $stats; ?></td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td colspan="3" style="padding: 10px;">无抽奖记录~</td>
                            </tr>
                        <?php endif; ?>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;">
    </div>
    <div id="dialog" title="提示"></div>
    <script type="text/javascript">
        window.sncode = "null";
        window.prize = "谢谢参与";
        seajs.use(['/static/base/jquery.min.js', '/static/wap/gmu/widget/dialog.js', '/static/wap/js/module/scratch/wScratchPad.js'], function () {

            var zjl = false;
            var num = 0;
            var goon = true;
            var available = true;
            (function (jq) {
                jq(function () {
                    var curCount = parseInt(jq('#lottery-number').html());
                    var totalCount = parseInt(jq('#lottery-total').html());
                    if (curCount >= totalCount) {
                        available = false;
                    }
                    jq('#scratchpad').bind('click', function () {
                        if (!available) {
                            alert('您已经刮了' + totalCount + '次了！');
                        }
                    });
                    jq("#scratchpad").wScratchPad({
                        width: 150,
                        height: 40,
                        color: "#a9a9a7",
                        enabled: available,
                        scratchMove: function () {
                            num++;
                            if (num == 10) {
                                $.get('<?php echo $this->uri->wapModuleUrl('/api/scratch/getPrize?id='.$id) ;?>', function (data) {
                                   // var data = eval('(' + result + ')');
                                    if (data.result==1) {
                                        prize = data.data.option;
                                        sncode = data.data.prize_sn;
                                        var award = prize.prize_level;
                                        var lotteryNumber = data.data.lotteryNumber;
                                        jq('#lottery-number').html(lotteryNumber + 1);
                                        document.getElementById('prize').innerHTML = award;
                                        if (parseInt(prize.prize_number) > 0) {
                                            zjl = true;
                                            jq("#sncode").html(sncode);
                                            jq("#theAward").html(award);
                                        }
                                        else {
                                            alert("哎呀，很抱歉，您没有抽中任何奖品哦，下次再来吧！");
                                            window.location.reload();
                                        }
                                    } else {
                                        alert(data.error.more);
                                      /*  if (data.error == 'invalid') {
                                            alert(data.errorMsg);
                                        }
                                        else {
                                            alert('出错啦！');
                                        }*/
                                    }
                                })
                            }

                            if (zjl && num > 10 && goon) {
                                goon = false;
                                jq("#zjl").slideToggle(500);
                            }
                        }
                    });
                });


            })($);

          /*  function alert(msg) {
                $('#dialog').html(msg);
                $('#dialog').html(msg).dialog({
                    autoOpen: false,
                    closeBtn: false,
                    buttons: {
                        '确定': function () {
                            this.close();
                        }
                    }
                });
                $('#dialog').dialog('open');
            }*/
        })
        $("#save-btn").bind("click", function (e) {
            var code = $("#sncode").text();
            var id= "<?php echo $id;?>";
            requestApi('<?php echo $this->uri->wapModuleUrl('/api/scratch/exchange') ;?>', {code: code,id:id}, function (res) {
               console.log(res);
                if (res.result == 1) {
                    tip.showTip('ok', '兑奖成功', 1000);
                    window.location.href = window.location.href;
                }
                else {
                    tip.showTip("err", res.error.more);
                }
            });
            e.stopImmediatePropagation();
        })

        $(".exchange").bind("click", function (e) {
            var code = $(this).attr('data-id');
            var id= $(this).attr('data-act');
            if(!code || code.length == 0) {
                return false;
            }
            requestApi('<?php echo $this->uri->wapModuleUrl('/api/scratch/exchange') ;?>', {code: code,id:id}, function (res) {

                if (res.result == 1) {
                    tip.showTip('ok', '兑奖成功', 1000);
                    window.location.href = window.location.href;
                }
                else {
                    tip.showTip("err", res.error.more);
                }

            });
            e.stopImmediatePropagation();
        })
    </script>

<?php } ?>
</div>
