<div id="container" class="container">
    <ul class="round scratchul">
        <?php if ($list) {
            foreach ($list as $item) { ?>
                <li>
                    <a href="<?php echo $this->uri->baseUrl('addon/scratch/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><?php echo $item['name'] ?></a>
                </li>

            <?php }
        }else{ ?>
            暂无刮刮卡活动
        <?php }?>
    </ul>


</div>

