<link rel="stylesheet" href="/static/home/pc/estt/css/contact_us.css"/>
<script src="/static/home/reach/js/contact.js"></script>
<div class="contact_us_banner">
    <div class="contact_us_content">
        <div class="contact_main">
            <div class="contact_left">
                <div class="contact_left_tit">
                    <div class="big">欢迎来电咨询 「易卖」将竭诚为您服务</div>
                    <div class="small">Welcome to inquire Chilean enjoy micro-channel Mall</div>
                </div>
                <div class="contact_left_form">
                    <form  method="post" action="" onsubmit="return false;" id="form">
                        <div class="name">姓名<input type="text"  name="contact_name" id="contact_name"/></div>
                        <div class="email">邮箱<input type="text"  name="contact_email" id="contact_email"  /></div>
                        <div class="tel">电话<input type="text" name="contact_phone" id="contact_phone"/></div>
                        <div class="suggestion">建议<textarea  cols="30" rows="10"  name="contact_message" id="contact_message"></textarea></div>
                        <div class="tijiao"><input type="submit" class="btn btn-gray" id="postBtn"/></div>c
                    </form>
                </div>
                <div class="contact_left_icon">
                    <div class="tit">请与我们保持联系!</div>
                    <div class="con">
                        <ul>
                            <li class="tel">(0755) 8830-9091 </li>
                            <li class="qq">277741964</li>
                            <li class="pen">填写需求</li>
                            <li class="phone">13480901886</li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="contact_left_address">联系地址: 深圳市宝安区新湖路华美居B区1栋609-610室</div>
            </div><!-- contact_left end -->
            <div class="contact_right">
                <div class="contact_right_p">
                    <div class="tit">「易卖」电商平台 —— 中小企业移动营销一站式解决方案</div>
                    <div class="con">公司依托于中科大、中科院计算机所等技术优势，中国产业联盟等资金与资源优势，致力于移动互联网行业解决方案及穿戴式设备的技术开发。核心技术团队成员均来自于知名院校及企业，并积累了一定的技术成果（数据库及数据存储、大数据分析与挖掘、千万级并发即时通信、电商及社交平台的快速构建、站内搜索引擎技术、计步算法、WIFI定位技术、心率检测技术等）。我们将致力于移动互联网技术与传统行业的结合，用技术的手段帮助传统产业升级与变革，做出真正能帮助到用户的产品。</div>
                </div>
                <div id="allmap" style="width:410px;height: 326px;"></div>
               <!-- <div class="contact_right_pic"><img src="/static/home/pc/estt/images/contact_us_pic.png" alt=""/></div>-->
            </div>
            <div class="clear"></div>
        </div><!-- contact_main end -->
    </div><!-- contact_us_content end -->
</div><!-- contact_us_banner end-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CG8eakl6UTlEb1OakeWYvofh"></script>
<script type="text/javascript">

    // 百度地图API功能
    var map = new BMap.Map("allmap");                        // 创建Map实例
    map.centerAndZoom(new BMap.Point(113.886717,22.569207), 19);     // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
    map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
    map.enableScrollWheelZoom();                            //启用滚轮放大缩小
    map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
    map.setCurrentCity("深圳");          // 设置地图显示的城市 此项是必须设置的

    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint("深圳市宝安区新湖路华美居B区1栋609-610室", function(point){
        if (point) {
            map.centerAndZoom(point, 16);
            map.addOverlay(new BMap.Marker(point));
        }
    }, "深圳市");
</script>
