<?php
use Components\TplManager;
use Models\Shop\Shop;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');
$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$store = $store ? $store->toArray() : [];
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');

?>

<div id="cate8"><!---中间图片-->
    <ul class="wz08menu">

        <?php foreach ($navs as $k => $item) { ?>
            <li>
                <div class="wz08btn">
                    <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                        <div class="wz08img">
                            <img style="height:<?php if ($k > 0 && ($k < 5 || ($k % 7 > 0 && $k % 7 < 5))) {
                                echo "93px";
                            } else {
                                echo "189px";
                            } ?>" src="<?php echo $item['cover_img'] ?>"></div>
                    </a>
                </div>
            </li>
        <?php } ?>

    </ul>
</div>


