<?php

use Multiple\Wap\Helper\SiteData;

$phone = SiteData::init()->getSite('phone');

?>

<?php $this->partial('index/partial/slider'); ?>

<div id="container" class="container activity" style="background: #F9F9F9;">

    <div class="phone-call"><a href="tel:<?php echo $phone; ?>"
                               class="btn phone-btn icon-phone"><?php echo $phone; ?></a></div>

    <div class="activity-list">

        <ul>
            <li><a href="#"><span style="background: #C4403E; border-radius: 10px 0 0 0;" class="icon-money"></span>优惠券</a>
            </li>
            <li><a href="<?php echo $this->uri->wapModuleUrl('wheel/index') ?>"><span style="background: #D77670;"
                                                                                      class="icon-dashboard"></span>幸运大转盘</a>
            </li>
            <li style="border-bottom: 0;"><a href="<?php echo $this->uri->wapModuleUrl('scratch/index') ?>"><span
                        style="background: #B3CEBF; border-radius: 0 0 0 10px;" class="icon-hand-up"></span>刮刮卡</a></li>
        </ul>

    </div>

</div>
