<?php
use Components\TplManager;
use Multiple\Wap\Helper\SiteData;

$phone = SiteData::init()->getSite('phone');
$part = SiteData::init()->getNavs('part');

?>

<?php TplManager::init(CUR_APP_ID)->baseTpl('slider/gmu'); ?>

<div id="container" class="container" style="background: black;">

    <div class="phone-call"><a href="tel:<?php echo $phone; ?>"
                               class="btn phone-btn icon-phone"><?php echo $phone; ?></a></div>

    <?php
    if ($part) {
        ?>
        <table class="home-menu">
            <tbody>
            <tr>
                <?php
                foreach ($part as $k => $item) {
                    if ($k % 2 == 0 && $k > 0) {
                        echo '</tr><tr>';
                    }
                    ?>
                    <td>
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>"
                           class=" <?php echo $item['icon'] ?>">
                            <?php echo $item['name']; ?>
                        </a>
                    </td>
                <?php
                } ?>
            </tr>
            </tbody>
        </table>
    <?php } ?>

</div>
