<?php
use Models\Shop\Shop;

$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$store = $store ? $store->toArray() : [];

?>
<div class="content">
	<span class="marginb">
		<h3><?php echo $item['title']; ?></h3>
		<span id="post-date"><?php echo date('Y-m-d', $item['created']); ?></span>
	</span>

    <div class="showpic"><img src="<? echo $item['cover'] ?>"/></div>
    <p><br/></p>

    <p>&nbsp; &nbsp; &nbsp; &nbsp;
        <?php echo $item['content'] ?></p>
</div>
<div class="content">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1955009"></script>
    <!-- UY END -->
</div>


<div id="insert2"></div>
<div style="display:none"></div>


