
<?php
$group = \Models\Modules\Store\AddonStoreGroup::find('customer_id=' . CUR_APP_ID);
$group = $group ? $group->toArray() : [];

$this->partial('module/store/default/base');

?>

{{ content() }}

<form action="javascript:;" id="StoreForm" class="form-horizontal" method="post">
    <fieldset>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">门店名称</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="请填写门店名称" value=""
                           required>
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
            </div>
        </section>

        <section class="form-group">
            <label for="detail" class="col-sm-1 control-label">隶属分组</label>

            <div class="col-sm-10">
        		<span class="col-sm-3">
        			<select name="group_id" id="group_id" placeholder="请选择门店分组">
                        <option value="">--请选择--</option>
                        <?php
                        foreach ($group as $g) {
                            ?>
                            <option value="<?php echo $g['id']; ?>"><?php echo $g['name']; ?></option>
                        <?php
                        }
                        ?>
                    </select>
                    <span>
                        <a href="/panel/addon/store/default/group">创建分组</a>
                    </span>
                    <span class="tip"></span>
        		</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">门店图片</label>

            <div class="col-sm-10" style="margin: 0 0 0 12px;">
                <input name="pics" type="hidden" id="pics" placeholder=""/>
                <span class="btn btn-success btn-sm tooltip-success" id="upPicBtn">选择图片</span>
                <span class="help-inline with-errors"><span class="red">*</span> 至少一张</span>
                <span class="picShow"></span>
                <span class="tip"></span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">联系电话</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <textarea name="contact" id="contact" class="txt" style="height: 60px;"></textarea>
                    <span class="tip"></span>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> 如果有多个电话，每行填写一个</span>
            </div>
        </section>

        <div class="form-group">
            <label class="control-label col-sm-1">详细地址</label>

            <div class="col-sm-10" style="margin: 0 0 0 12px;">
                <p>
                    <input type="text" name="address" data-required="1" id="txtAddress"
                           placeholder="请填写详细地址"
                           style="width: 400px;"
                           class=" txt" <?php if (isset($address)): ?> value="<?php echo $address; ?>"<?php endif; ?>>
                    <span class="tip"></span><span class="red">*</span>
                </p>

                <p style="margin: 8px 0;">
                    <span class="red">填写详细地址,根据地址自动获取经纬度</span>
                </p>

                <p style="margin: 8px 0;"><span class="red">拖动地图标点可精确调整位置</span></p>

                <p style="margin: 8px 0;">
                    纬度：<input type="text" name="lat" placeholder="请拖动选择纬度"
                              class="txt"
                              id="txtLat" <?php if (isset($lat)): ?> value="<?php echo $lat; ?>"<?php endif; ?>
                              style="width: 80px;" readonly="readonly">
                    经度：<input type="text" name="lng" placeholder="请拖动选择经度"
                              class="txt"
                              id="txtLng" <?php if (isset($lng)): ?> value="<?php echo $lng; ?>"<?php endif; ?>
                              style="width: 80px;" readonly="readonly">
                </p>

                <div id="map_canvas"
                     style="width: 600px;height: 300px;border: 1px solid #eee;"></div>
            </div>
        </div>

        <section class="form-group">
            <label for="name" class="col-sm-1 control-label">分店描述</label>

            <div class="col-sm-10">
                <span class="col-sm-6">
                    <textarea name="detail" id="detail" class="txt txtContent"
                              style="width: 600px;height: 200px;"></textarea>
                </span>
                <span class="help-inline with-errors"><span class="red">*</span> </span>
                <span class="tip"></span>
            </div>
        </section>

        <section>
            <label for="name" class="col-sm-1 control-label"></label>

            <div class="col-sm-10" style="margin: 0 0 0 2px;">
                <input type="submit" value="提交" class="btn btn-primary smbBtn btn-large" name="btn-base"/>
            </div>
        </section>

    </fieldset>

</form>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->wapModuleUrl('store'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
<script src="http://api.map.baidu.com/api?v=2.0&ak=CG8eakl6UTlEb1OakeWYvofh"></script>
<script>
    seajs.use('app/module/module.store', function (api) {
        api.setStore();
        api.toLatLng();
    });
</script>
