<?php
$this->partial('module/store/default/base');
?>
<script>
    seajs.use('app/module/module.store', function (api) {
        api.setGroup();
        api.del('Group');
    });
</script>
<section>
    <form action="javascript:;" class="settingForm" id="interestForm">
        <table class='list' id="menuCats">
            <tr class="head">
                <th style='width: 24px;'>ID</th>
                <th style='width: 36px;'>批量</th>
                <th style='width: 194px;'>名称</th>
                <th style=''>描述</th>
                <th style='width: 160px;'>添加时间</th>
                <th style='width: 40px;'>操作</th>
            </tr>
            <tbody class="listData">
            <?php if ($list) {
                foreach ($list as $item) {
                    ?>
                    <tr class="item" data-id="<?php echo $item['id']; ?>">
                        <th class="name"><?php echo $item['id']; ?></th>
                        <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/>
                        </td>
                        <td>
                            <input class="txt txtName" type="text" data-id="<?php echo $item['id']; ?>"
                                   data-old="<?php echo $item['name']; ?>" value="<?php echo $item['name']; ?>"/>
                        </td>
                        <td>
                            <input class="txt txtDesc" type="text" data-id="<?php echo $item['id']; ?>"
                                   data-old="<?php echo $item['desc']; ?>" value="<?php echo $item['desc']; ?>"
                                   style="width: 400px"/>
                        </td>
                        <td><?php echo date('Y-m-d', $item['created']); ?></td>
                        <td class="center"><a href="javascript:;" data-id="<?php echo $item['id']; ?>"
                                              class="delBtn">删除</a></td>
                    </tr>
                <?php
                }
            } else {
                ?>
                <tr>
                    <td colspan="9">
                        <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
                    </td>
                </tr>
            <?php } ?>
            </tbody>

            <style>
                .selectOperate .btn.current {
                    color: #ff0000;
                }
            </style>
            <tr class="showpage addOptionRow">
                <th class="name">添加</th>
                <td colspan="12">
                    【 <a href="javascript:;" class="addRowBtn">添加一栏</a> 】
                    (说明：点击“添加”新增一栏)
                    <span style="float: right;" class="selectOperate">
                        [ <a href="javascript:;" class=" selectAll">全选</a> ]
                        [ <a href="javascript:;" class=" selectNone">全不选</a> ]
                        [ <a href="javascript:;" class=" selectInvert">反选</a> ]
                        <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                    </span>
                </td>
            </tr>
            <tr class="item">
                <th class="name"></th>
                <td></td>
                <td><input class="txt txtName" type="text" title="输入组名"/></td>
                <td><input class="txt txtDesc" type="text" style="width: 400px"/></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="showpage">
                <th class="name">操作</th>
                <td colspan="5">
                    <input type="submit" value="批量设置" class="setBtn aBtn btn-green" style="line-height: 20px;"/>
                    (空白栏和重复数据将不能提交)
                </td>
            </tr>
        </table>
    </form>
</section>