<style>
    .foot{
        position: fixed;
        z-index: 2;
        display: block;
        width: 100%;
        bottom:0;
    }
    .foot .copyInfo{line-height:25px;}
</style>
<?php
use Multiple\Wap\Helper\SiteData;


$site = SiteData::init()->getSite('customer_id=' . CUR_APP_ID);


$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
?>

<div id="cate16">
    <div class="mainbg">
        <img src="<?php echo $site['site_bg'] ?>">
    </div>
    <div id="insert1"></div>
    <div class="mainmenu">
        <ul>
            <?php foreach ($navs as $k => $item) { ?>
                <li>
                    <div class="menubtn"><a
                            href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                            <div class="menuimg"><img src="<?php echo $item['cover_img'] ?>"></div>
                            <div class="menutitle"><?php echo $item['name'] ?></div>
                        </a>
                    </div>

                </li>
            <?php } ?>
            <div class="clr"></div>


        </ul>
    </div>
</div>
