<?php
use Components\Product\SaleStatsManager;

$sale_month = SaleStatsManager::init()->getTopSaleItem(strtotime("-1 month"));
$sale_all = SaleStatsManager::init()->getTopSaleItem();
$order_all = SaleStatsManager::init()->getOrderCount();
$order_month = SaleStatsManager::init()->getOrderCount(strtotime("-1 month"));

$shop_info = \Components\Product\TransactionManager::instance(HOST_KEY)->getStoreSetting(CUR_APP_ID, true);
$product_count = \Models\Product\Product::count(array("customer_id=" . CUR_APP_ID, 'group' => 'is_active'));
?>
<style>
    .showhead {
        background: #F4FAFE;
        font-size: 14px;
        color: #4cb329;
        font-family: "Microsoft YaHei";
    }

    strong {
        color: #888;
        font-family: "宋体";
        font-size: 12px;
        font-weight: normal;
    }

    .line {
        margin: 12px 0;
        border: 1px solid #DEEFFB;
        line-height: 36px;
        font-size: 14px;
        padding: 0 8px;
        background: #FEFCEF;
        color: #000;
        font-family: 'Microsoft Yahei';
    }

    .baseInfo {
        color: #4cb329;
    }
</style>

<div class="page-header">
    <h1><span class="right"><a href="/panel" style="font-size: 14px;color: #4cb329;;">返回微站管理 ></a></span>欢迎来到商城管理中心</h1>
</div>

<div class="page-content"
     style="margin-left: -20px;margin-top: -10px;line-height: 200%;font-size: 14px;font-family: 'Microsoft YaHei';">
    <h2 class="line">店铺信息</h2>

    <div class="baseInfo">


        <?php if ($shop_info) {
            ?>
            <p>
                <strong>店铺名称</strong>
                <?php echo $shop_info['name']; ?>
            </p>
            <p>
                <strong>激活店铺</strong>
                <?php echo $shop_info['enable'] == 1 ? "是" : "否"; ?>
            </p>
            <p>
                <strong>店铺地址</strong>
                <?php echo $shop_info['province'], $shop_info['city'], $shop_info['town'], $shop_info['address']; ?>
            </p>
        <?php } else { ?>
            <p><span class="red">您尚未设置店铺信息，请<a href="/shop/store">点此设置</a></span></p>
        <?php } ?>

        <p>
            <?php
            if ($product_count) {
                $active_name = array("0" => "下架商品", "1" => "上架商品");
                $product_count = $product_count->toArray();
                $count_arr = array_column($product_count, "rowcount");
                ?>
                <strong>商品总数</strong>
                <span>
            <?php echo intval(@$count_arr[0]) + intval(@$count_arr[1]); ?>
            </span>
                <?php
                foreach ($product_count as $count) {
                    ?>
                    <strong>
                        <?php echo $active_name[$count['is_active']]; ?>
                    </strong>
                    <span>
                    <?php echo $count['rowcount']; ?>
                </span>
                <?php
                }
            } ?>
        </p>
    </div>
    <?php
    $customer_package = $this->session->get('customer_package');
    $is_shop_limit = $customer_package['has_shop_full'] == 0 && $customer_package['has_shop_base'] == 1;
    $hideTop = $is_shop_limit && isset($head['noFree']) && $head['noFree'];
    if (!$is_shop_limit) {
        ?>
        <h2 class="line">销量统计</h2>

        <div class="wrap" style="width: 1100px;">
            <div class="" style="width: 500px;float: left;margin-right: 10px;padding-right: 10px;">
                <table class="list" style="width: 500px;min-width: 500px;">
                    <tr class="showhead">
                        <td colspan="2">销售总排行</td>
                    </tr>
                    <tr class="head">
                        <th>商品名称</th>
                        <th style="width: 60px;">销量(件)</th>
                    </tr>
                    <?php if ($sale_all) {
                        foreach ($sale_all as $count) {
                            ?>
                            <tr>
                                <td><?php echo $count['item_name']; ?></td>
                                <td><?php echo $count['sum']; ?></td>
                            </tr>
                        <?php
                        }
                    }
                    ?>
                </table>

            </div>
            <div class="" style="width: 500px;float: left;margin: 0 0 0 10px;">
                <table class="list" style="width: 500px;min-width: 500px;">
                    <tr class="showhead">
                        <td colspan="2">最近一月销售排行</td>
                    </tr>
                    <tr class="head">
                        <th>商品名称</th>
                        <th style="width: 60px;">销量(件)</th>
                    </tr>
                    <?php if ($sale_month) {
                        foreach ($sale_month as $count) {
                            ?>
                            <tr>
                                <td><?php echo $count['item_name']; ?></td>
                                <td><?php echo $count['sum']; ?></td>
                            </tr>
                        <?php
                        }
                    }
                    ?>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <h2 class="line">订单统计</h2>

        <p>
            <strong>本月订单</strong>
            <?php echo $order_all; ?>
        </p>

        <p>
            <strong>订单总数</strong>
            <?php echo $order_all; ?>
        </p>
    <?php } ?>
</div>