<?php
$has = \Models\Wap\SiteTpl::count('type="customize" and customer_id=' . CUR_APP_ID);
$hasCustomizeTpl = $has > 0 ? true : false;
?>
<style>
    .tpl {
        width: 170px;
        height: 400px;
        float: left;
        margin: 9px 0 0 9px;
        padding: 2px 0 0 0;
        background: url(/static/panel/images/panel/phone.png) no-repeat;
    }

    .tpl img {
        width: 167px;
        height: 353px;
    }

    .tpl dd {
        text-align: center;
        margin: 8px 0 0;
    }

    .tpl:hover {
        background: url(/static/panel/images/panel/phone-hover.png) no-repeat;
    }
</style>
<?php
$tpl_mode_name = array(
    'kit' => '套装模板',
    'single' => '单品模板',
    'customize' => '个性定制'
);
?>
<div class="page-header">
    <h1>
        微站模板设置
        <small>
            <i class="icon-double-angle-right"></i>
            <span class="span3">我的模板选择</span>

            <span class="span3">
                - [<a href="/panel/tpl/kit">套装模板</a>]
                - [<a href="/panel/tpl/single">单品模板</a>]
            </span>
        </small>
        <span class="right"><a href="javascript:;" class="preview-app btn btn-sm btn-danger">预览微站</a></span>
    </h1>
</div>

<p style="margin: 0 0 20px;">
    <b>说明：</b>
    当前模板方式为[ <b class="red"><?php echo $tpl_mode_name[$tpl['tpl_mode']]; ?></b> ]
    ,可切换为
    <?php
    foreach ($tpl_mode_name as $k => $name) {
        // 去除自定义
        if ($tpl['tpl_mode'] == $k || ($k == "customize" && !$hasCustomizeTpl)) continue;
        ?>
        [<a href="javascript:;" class="changeModeBtn"
            data-mode="<?php echo $k; ?>">
            <?php echo $name; ?></a> ]
    <?php } ?>

</p>

<ul class="nav nav-tabs" id="myTab">
    <li class="<?php echo $tpl['tpl_mode'] == 'kit' ? 'active' : ''; ?>">
        <a href="#kit" data-toggle="tab">套装模板</a>
    </li>
    <li class="<?php echo $tpl['tpl_mode'] == 'single' ? 'active' : ''; ?>">
        <a href="#single" data-toggle="tab">单品模板</a>
    </li>
    <li style="display: <?php echo !$hasCustomizeTpl ? "none" : ''; ?>;"
        class="<?php echo $tpl['tpl_mode'] == 'customize' ? 'active' : ''; ?>">
        <a href="#customize" data-toggle="tab">个性定制</a>
    </li>
</ul>
<?php
$tpl_type_name = array(
    'kit' => '套装模板',
    'customize' => '个性定制模板',
    'home' => '微官网模板',
    'shop' => '微商城模板',
    'user' => '用户中心模板',
    'menu' => '快捷导航模板',
);
?>
<div class="tab-content">
    <section id="kit" class="tab-pane <?php echo $tpl['tpl_mode'] == 'kit' ? 'active' : ''; ?>">
        <?php
        foreach ($myTpl as $item) {
            if (!$item) continue;
            if ($item['type'] == 'kit') {
                ?>
                <dl class="tpl">
                    <dt><img src="<?php echo $item['preview']; ?>" alt=""/></dt>
                    <dd>
                        <p><?php echo $tpl_type_name[$item['type']]; ?></p>

                        <p>[<a href="<?php echo $this->uri->controllerUrl($item['type']); ?>">重新选择</a>]</p>
                    </dd>
                </dl>
            <?php
            }
        } ?>
        <div class="clearfix"></div>
    </section>

    <section id="single" class="tab-pane <?php echo $tpl['tpl_mode'] == 'single' ? 'active' : ''; ?>">
        <?php
        foreach ($myTpl as $item) {
            if (!$item) continue;
            if (!in_array($item['type'], array('kit', 'customize'))) {
             //   if ($item['type'] == "shop") continue;
                ?>
                <dl class="tpl">
                    <dt><img src="<?php echo $item['preview']; ?>" alt=""/></dt>
                    <dd>
                        <p><?php echo $tpl_type_name[$item['type']]; ?></p>

                        <p>
                            [<a href="<?php echo $this->uri->controllerUrl("single?type=" . $item['type']); ?>">重新选择</a>]
                        </p>
                    </dd>
                </dl>
            <?php
            }
        } ?>
        <div class="clearfix"></div>
    </section>

    <section id="customize" class="tab-pane <?php echo $tpl['tpl_mode'] == 'customize' ? 'active' : ''; ?>">
        <?php
        foreach ($myTpl as $item) {
            if (!$item) continue;
            if ($item['type'] == 'customize') {
                ?>
                <dl class="tpl">
                    <dt><img src="<?php echo $item['preview']; ?>" alt=""/></dt>
                    <dd>
                        <p><?php echo $tpl_type_name[$item['type']]; ?></p>
                    </dd>
                </dl>
            <?php
            }
        } ?>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
</div>

<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });
        seajs.use('app/panel/site/panel.site.set_tpl', function (tpl) {
            tpl.changeMode();
        });
    });
</script>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl(); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
