<style>
    body {
        position: relative;
    }

    .share-widget {
        display: none;
        border-top: 1px solid #ccc;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        width: 100%;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        background: #fff;
        z-index: 999;
    }

    .share-widget ul {
        padding: 8px;
    }

    .share-widget li {
        float: left;
        text-align: center;
        margin: 8px;
    }

    .share-widget .icon img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .cancelShare {
        text-align: center;
        background: #e0e0e0;
        padding: 12px;
    }

    .cancelShare .cancelShareBtn {
        color: #333;
        text-shadow: 0 1px 0 #fff;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        padding: 6px 16px;
        vertical-align: middle;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        background: #fff;
    }

    .share-container {
        width: 95%;
        margin: 0 auto;
    }

    .share-container .mcover {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20000;
    }

    .share-container .mcover img {
        height: 180px !important;
        position: fixed;
        right: 18px;
        top: 5px;
        width: 260px !important;
        z-index: 20001;
    }
</style>

<div class="share-widget">
    <ul>
        <li class="only_weixin">
            <a href="javascript:;" class="shareBtn">
                <p class="icon"><img src="/static/wap/images/tpl/icon_msg.png" alt=""/></p>

                <p class="name">发送给好友</p>
            </a>
        </li>
        <li class="only_weixin">
            <a href="javascript:;" class="shareBtn">
                <p class="icon"><img src="/static/wap/images/icon/pyquan.jpg" alt=""/></p>

                <p class="name">分享到朋友圈</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" data-share="qzshare" class="shareBtn">
                <p class="icon"><img src="/static/wap/images/icon/qzone.jpg" alt=""/></p>

                <p class="name">QQ空间</p>
            </a>
        </li>
        <li>
            <a href="javascript:;" data-share="wbshare" class="shareBtn">
                <p class="icon"><img src="/static/wap/images/icon/weibo.jpg" alt=""/></p>

                <p class="name">新浪微博</p>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="cancelShare">
        <a href="javascript:;" class="cancelShareBtn">取消推广</a>
    </div>
</div>
<div class="share-container">
    <div id="mcover" class="mcover" onclick="this.style.display='';">
        <img alt="" src="/static/wap/images/tpl/guide.png">
    </div>
</div>