<div class="page-header">
    <h1>投票管理
        <small class="right">
            <a href="/panel/addon/vote/vote/add" class="btn btn-sm btn-primary">新增投票主题</a>
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<table id="article-list" class='list'>
    <thead>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th>投票主题</th>
        <th>背景颜色</th>
        <th>投票类型</th>
        <th>每人每日最大投票数</th>
        <th>每人总共最大投票数</th>
        <th style="width: 80px;">开始时间</th>
        <th style="width: 80px;">截止时间</th>
        <th style='width:100px'>操作</th>
    </tr>
    </thead>
    <tbody class="listData">
    <?php if ($vote) {
        foreach ($vote as $item) {
          $url = $this->uri->appUrl('/addon/vote/vote/' . \Util\EasyEncrypt::encode($item['id']));
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <th class='name'>  <a href="javascript:;" class="preview-app" title="点击预览"
                                      data-url="<?php echo $url; ?>"><?php echo $item['topic']; ?></a></th>
                <th class='name'><span style="width: 80px; height:30px; display:block; margin: auto; border: 1px solid #e4e4e4; background-color:<?php echo $item['bgcolor']; ?>  "></span></th>
                <th class='name'><?php echo $item['vote_style']=='words' ? '文字' : '图片';?></th>
                <th class='name'><?php echo $item['max_by_day']; ?></th>
                <th class='name'><?php echo $item['max_by_total']; ?></th>
                <td class="center"><?php echo date('Y-m-d',$item['start_date'])  ?></td>
                <td class="center"><?php echo date('Y-m-d',$item['end_date']) ?></td>
                <td class="center">
                    <a href="/panel/addon/vote/vote/statistic/<?php echo $item['id']?>" class='' data-id="<?php echo $item['id']; ?>">查看统计</a>
                    <a href="/panel/addon/vote/vote/voteEdit/<?php echo $item['id']?>" class='' data-id="<?php echo $item['id']; ?>">编辑</a>
                    <a href="/panel/addon/vote/vote/optionEdit/<?php echo $item['id']?>" class='' data-id="<?php echo $item['id']; ?>">选项编辑</a>
                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']?>">删除</a>
                </td>
            </tr>
        <?php
        }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>


</table>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/vote'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
<script>
    seajs.use('app/module/module.vote', function (n) {
        n.delVote('.delBtn');
        n.delAllVote(".delAllSelected");
    });
</script>
<script>
$(function () {
$('.preview-app').click(function () {
var url = $(this).attr('data-url');
$('#appFrame').attr('src', url);
$('#app-frame').show();
});
$("#app-frame .close-app").click(function () {
$('#app-frame').hide();
});

$("#app-frame .refresh-app").click(function () {
$('#appFrame').attr('src', $('#appFrame').attr('src'));
});
})
    </script>




