<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            投票选项列表
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">

    <div class="col-xs-12" style="margin-top: 20px;">
        <form enctype="multipart/form-data" name="add_reserve" id="add_reserve" role="form" data-toggle="validator" class="form-horizontal" method="post" action="/panel/addon/vote/vote/addOption">
        <!-- PAGE CONTENT BEGINS -->
          <div class="form-group">
            <label for="creator" class="col-sm-2 control-label">选项值</label>
					<span class="col-sm-3">
						<input name="option_name" id="name" class="form-control" required data-error="选项值必须填写" placeholder="选项值"/>
					</span>
          </div>
            <?php   if($vote["vote_style"]=='image'){?>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">选项图片</label>
					<span class="col-sm-8">

                        <span class="col-xs-5">

                            <span class="input-group" style="margin:0 0 0  -12px;">

                                <span class="input-group-addon"><i class="icon icon-picture"></i></span>

                                <input type="text" class="form-control img" id="infoPic" name="option_image" placeholder="" readonly

                                       value=""

                                       data-error="" maxlength="255">

                                <a class="input-group-addon" id="upInfoPic"  href="javascript:;">选择图片</a>
	                             </span>

                        </span>
	                         <span class="col-xs-3 pic-review">

                            <img class="preview-brand" id="infoPic-preview" src="/static/wap/images/module/reserve/head_pic.jpg" alt="" style="height: 32px;"/>

                        </span>

					</span>
                </div>


            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">选项描述</label>
					<span class="col-sm-5">
						<textarea name="option_desc" id="info" class="form-control" required data-error="选项描述必须填写"
                                  placeholder="选项描述"/></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <?php }?>

            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <input type="hidden" name="vote_id" value="<?php echo $vote['id']?>">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

         </form>
        <table id="article-list" class='list'>
            <thead>
            <tr class="head">
                <th>选项值</th>
                <?php if($vote['vote_style']=='image'){?>
                <th style="width: 160px;">选项图片</th>
                <th style="width: 160px;">选项描述</th>
                <?php }?>
                <th style='width:150px'>操作</th>
            </tr>
            </thead>
            <tbody class="listData">
            <?php if ($vote_item) {

              // echo "<pre>";
               //  var_dump($vote_item);exit;
                foreach ($vote_item as $item) {
                    //   $url = $this->uri->appUrl('/addon/reserve/detail/' . \Util\EasyEncrypt::encode($item['id']));
                    ?>
                        <tr class="item" data-id="">
                        <td class='center'><?php echo $item['option_name']; ?></td>
                            <?php if($item['option_image']) {?>
                        <td class='name center' ><img src="<?php echo $item['option_image']; ?>" width="50" height="50"></td>
                        <td class="center"><?php echo $item['option_desc']  ?></td>

                            <?php }?>
                        <td class="center">
                            <a href="javascript:delOption(<?php echo $item['id'];?>);" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
                        </td>
                    </tr>


                <?php
                 }

            } else {
                ?>
                <tr>
                    <td colspan="9">
                        <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
                    </td>
                </tr>
            <?php } ?>


        </table>

    </div>

</div>

<script type="text/javascript">
    function fillData(classname,val)
    {
        $('.'+classname).html(val);
    }
    function choosePic(id)
    {
        $('#'+id).trigger('click');
    }
    function saveReserve()
    {
        $("#add_reserve").submit();
    }

    function isNum(obj)
    {
        var s = $(obj).val();
        var patrn=/^([0-9]|[-])+$/g ;
        if (!patrn.exec(s))
        {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }

   function delOption(id)
   {
       $.ajax({
           'url':'/panel/addon/vote/vote/deleteOption',
           'dataType':'json',
           'type':'post',
           'data':'id='+id,
           'success':function(result){
               window.location.href=window.location.href;}
       })

   }
    jQuery(function($) {
    $(document).ready(function() {

        //上传缩略图
        seajs.use(['app/panel/panel.storage', 'app/app.editor'], function(store, editor) {
            store.getImg('#upNewsImage', function (res) {
                $('#titlePic').val(res.url);
                $('#titlePic-preview').attr('src', res.url);
            });

            store.getImg('#upInfoPic', function (res) {
                $('#infoPic').val(res.url);
                $('#infoPic-preview').attr('src', res.url);
            });
        });

    });
    })
</script>
