<div id="main" style="height:400px; margin-top: 10px;">
    <?php if(isset($option) && !empty($option)){
    $option_value='';
    $option_data='';
    foreach($option as $op)
    {
        $option_value=$option_value."'".$op['option_name']."'".',';
        $option_data= $option_data."{"."value:".$op['option_count'].","."name:'".$op['option_name']."'},";
    }
     if($option_value!='')
     {
         $option_value=rtrim($option_value,',');
         $option_data=rtrim($option_data,',');
     }

    ?>
    <script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths:{
                'echarts' : 'http://echarts.baidu.com/build/echarts',
                'echarts/chart/bar' : 'http://echarts.baidu.com/build/echarts'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar',
                'echarts/chart/pie'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));

                var option = {
                    title : {
                        text: '投票活动统计',
                        subtext: '',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:[<?php echo $option_value?>]
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'投票活动统计',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                <?php echo $option_data?>
                            ]
                        }
                    ]
                };

                // 为echarts对象加载数据
                myChart.setOption(option);
            }
        );
    </script>
        </div>
<?php } else {?>
        <div class="col-xs-6">
            <div class="widget-box">
                <div >
                    <h5>

                        <div class="col-xs-6">
                            <div class="widget-box">
                                <div class="widget-header widget-header-flat widget-header-small">
                                    <h5>
                                        <i class="icon-signal"></i>
                                      该主题没有选项
                                    </h5>
                                </div>

                            </div><!-- /widget-box -->

                        </div>

                    </h5>
                </div>


        </div>
            </div>



    <?php }?>


</div>
