<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            编辑投票主题
        </small>
    </h1>
</div><!-- /.page-header -->
<?php if(isset($vote) &&!empty($vote)){ ?>
<div class="row">

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->

        <form enctype="multipart/form-data" name="add_reserve" id="add_reserve" role="form" data-toggle="validator" class="form-horizontal" method="post" action="/panel/addon/vote/vote/voteEdit">

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">投票主题名称</label>
					<span class="col-sm-5">
						<input name="topic" id="name" value="<?php echo $vote['topic'] ?>" class="form-control" required data-error="投票主题名称填写" placeholder="投票主题名称"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">活动说明</label>
					<span class="col-sm-5">
						<textarea name="desc" id="info" class="form-control" required data-error="活动说明必须填写"
                                  placeholder="活动说明"/><?php echo $vote['desc']?></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">投票形式</label>
					<span class="col-sm-5">
                       <input type="hidden" value="<?php echo  $vote['vote_style']?>" name="vote_style">
                        <input type="text" disabled="disabled" value="<?php if($vote['vote_style']=='words'){ echo '文字';}else echo  '图片'?>">
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="numbercolor form-group">
                <label for="creator" class="col-sm-2 control-label">背景颜色</label>
                <span class="col-sm-5">
                         <input type="text" name="bgcolor" id="numbercolor" class="color input-small" style="width:55px;" value="<?php echo $vote['bgcolor']?>" onblur="jQuery('#number').css('color', jQuery('#numbercolor').val());"/>
						<span class="help-block with-errors"></span>
					</span>


            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">开始日期</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" id="start_date" name="start_date" type="text" value="<?php echo date('Y-m-d',$vote['start_date']) ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">结束日期</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" id="end_date" name="end_date" type="text" value=" <?php echo date('Y-m-d',$vote['end_date']) ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">每人可投票的总次数</label>
					<span class="col-sm-5">
						<input name="max_by_total" value="<?php echo $vote['max_by_total']?>" id="name" class="form-control" required data-error="每人投票总次数必须填写" placeholder="投票总次数"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">每人每天最多可投票的次数</label>
					<span class="col-sm-5">
						<input name="max_by_day" id="name" value="<?php echo $vote['max_by_day']?>" class="form-control" required data-error="每人每天可投票次数必须填写" placeholder="每人每天投票次数"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <input type="hidden" name="vote_id" value="<?php echo  $vote['id']?>">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
<?php }?>

<script type="text/javascript">
    function fillData(classname,val)
    {
        $('.'+classname).html(val);
    }
    function choosePic(id)
    {
        $('#'+id).trigger('click');
    }
    function saveReserve()
    {
        $("#add_reserve").submit();
    }

    function isNum(obj)
    {
        var s = $(obj).val();
        var patrn=/^([0-9]|[-])+$/g ;
        if (!patrn.exec(s))
        {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }
    jQuery(function($) {

        $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });


    });
</script>
