@charset "utf-8";
/*list.css*/
.main{padding-left: 3%;}
.main ul li{padding-right: 3%; margin-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e2e2e2;}
.list_left{float: left; width: 30%;}
.list_left .pic{vertical-align: middle; border: 1px solid #e2e2e2;}
.list_left .pic img{width: 100%; max-width: 100%; vertical-align: middle;}
.list_right{float: left; margin-left: 1%;}
.list_right .name{margin-bottom: 20px;}
.list_right .name a{font-size: 15px; color: #646262; margin-bottom: 15px;}
.list_right .price{font-size: 19px; color: #000;}
.no_more{font-size: 14px; color: #797878; margin-top: 23px; margin-bottom: 20px; padding-left: 30%;}
/*list.css end*/
/*index.css*/
.header{height: 148px; overflow: hidden; text-align: center; margin-bottom: 30px;}
.header img{height: 148px; width: 100%; max-width: 100%;}
.nav{padding-left:3%; padding-right: 2%; margin-bottom: 8px;}
.product_lists_w ul li{width: 50%; text-align: center; float: left;}
.w_l{padding-right: 2%; padding-bottom: 2%; background-color: #fff;}
.product_lists_w ul li a{display: block; background-color: #eeedf0; color: #000; font-size:15px; font-weight: 600; padding: 10px 0;}
.products{padding-left: 2%;}
.products_tit{padding-right: 2%;}
.products_tit .tit_con{padding-bottom: 12px; margin-bottom:10px; margin-top:30px;background:url("../images/index_more.png") no-repeat right 6px; border-bottom: 1px solid #e2e2e2;}
.products_tit a{font-size: 18px; color: #333; height: 24px; display: block; font-weight:bold;}
.products_content ul li{margin-bottom:18px; width: 50%;text-align: center; float: left; overflow: hidden;}
.products_pic{padding-right: 4%;}
.products_pic_w{border: 1px solid #e2e2e2; padding: 8px 0; max-height:expression(this.width); min-height: expression(this.width); overflow: hidden;}
.products_pic_w a img{width: 100%;}
.products_pic .name{margin-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; color: #adabab;}
.products_pic .name a{color: #ababab; font-size: 13px;}
.products_pic .price{margin-top: 3px; overflow: hidden; font-size: 18px; color: #000; font-weight: 400; text-align: left;}
.products_content ul li img{width: 100%; overflow: hidden; vertical-align: middle; max-width: 100%;}
.link_all_products{padding-left:3%; padding-right: 3%; margin-top: 20px; margin-bottom: 20px; height: 36px; line-height: 36px;}
.link_all_products a{display:block; height: 36px; line-height: 36px; background-color: #eeedf0; text-align: center; font-size:17px; font-weight: 600;}
/*index.css end*/
/* all.css*/
.lay_page .goodList{width: 98%; margin: 0px auto; margin-top: 5px; overflow: hidden;}
.lay_page .goodList li{clear: both; border-bottom: 1px solid #e4e4e4;margin-bottom: 8px; overflow: hidden;}
.lay_page .goodList li .ui_clearfix{overflow: hidden;}
.lay_page .goodList li .ui_clearfix .imgwrap{float: left;width: 30%;}
.lay_page .goodList li .ui_clearfix .imgwrap img{width:100%; padding:5px; border: 1px solid #e2e2e2;}
.lay_page .goodList li .ui_clearfix .deswrap{float: right;width:65%; margin-left: 5px;}
.lay_page .goodList li .ui_clearfix .deswrap .qb_fs_l{line-height: 25px; color: #666; vertical-align: middle;}
.lay_page .goodList li .ui_clearfix .deswrap .price{font-weight: bold; color: #000;font-size: 14px;}
/* all.css end*/
/* item.css */
.iheader{width: 100%; height: 20%; text-align: center; overflow: hidden;}
.iheader img{width: 100%; max-width: 100%;}
.imain{padding-left: 3%; padding-right: 3%;}
.imain .word{font-size: 16px; color: #5c5c5c; margin-top: 10px;}
.imain .price{position: relative;margin-top: 10px;}
.imain .price .big{color: #000; font-size: 22px;}
.price .small{margin-left: 5px; color: #888; font-size: 16px; text-decoration: line-through;}
.service{border-radius: 2px; position: absolute; z-index: 2; right: 0; top: 0; padding-left:33px; background:#f0f0f0 url("/static/wap/images/tpl/service.png") no-repeat 5px center; width:80px; height: 25px; line-height: 25px; color: #a1a1a1;}
.service a{display: block;}
.buy{margin-top: 20px; margin-bottom: 20px; background: #06bf04; border-radius: 5px;}
.buy a{display: block; height: 36px; line-height: 36px; text-align: center; color: #fff; font-size: 18px;}
.more_info{padding-left: 3%;}
.more_info_w{border-bottom: 1px solid #d4d2d0; margin-bottom: 15px;}
.more_info_w ul li{border-top: 1px solid #d4d2d0; height: 40px; line-height: 40px;padding-right: 3%;}
.more_info_w ul li a{display: block; color:#000; font-size: 16px; font-weight: bold; background: url("/static/wap/images/tpl/details_more.png") no-repeat right center;}
.choose_commodity{display: none;}
.choose_products{border-bottom: 1px solid #abacac; padding: 20px 3%;}
.choose_left{float: left; width: 29% ; margin-right:2%; vertical-align: middle;}
.choose_left img{width: 100%; max-width: 100%;}
.choose_right{float: left; width: 69%;}
.choose_right .word{margin-bottom: 10px;}
.choose_right .word a{color: #888; font-size: 13px;}
.choose_right .price{color: #000; font-size: 22px;}
.choose_content{padding-left: 3%; padding-right: 3%;}
.choosed{border: 1px solid #06bf04;}
.no_choosed{border: 1px solid #abacac;}
.buy_next{margin-top: 20px; margin-bottom: 20px; background: #06bf04; border-radius: 5px;}
.buy_next a{display: block; height: 36px; line-height: 36px; text-align: center; color: #fff; font-size: 18px;}
.buy_next .btn-buy{width: 100%;}
.buy-area{}
.buy-area .name{color: #333333;font-size: 14px;font-weight: 400;line-height: 18px;max-height: 3em;overflow: hidden;padding:12px 10px 13px 10px;}
.qty-wrap{border-top: solid 1px #eee; margin: 8px 0; padding: 0 0 0 10px; line-height: 36px;}
.qty-wrap .tit{color: #999999;float: left;font-size: 12px;font-weight: normal;height: 40px;line-height: 34px;overflow: hidden;width: 35px;}
.qty-wrap .num{float: left; width: 120px;} .qty-wrap .num input{height:34px;line-height:normal;width:70px;font-size:16px;border:solid 1px #ddd;text-align:center;} .qty-wrap .inventory{color: #999999;display: table;float: left;font-size: 12px;height: 36px;line-height: 34px;margin-left: 15px;padding: 2px;} .btn-wrap{overfloat:hidden;padding:15px 10px;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background:#eee;}
.shop-info-wrap{border-bottom: 1px solid #DDDDDD;font-size: 12px;padding-left: 0;padding-right: 0;padding:15px 0;display:relative;}
.shop-info-wrap .btn-shop{background: #F5F5F5;border: 1px solid #CCCCCC;border-radius: 2px;color: #333333;float: right;font-size: 14px;height: 29px;line-height: 29px;margin-right: 10px;margin-top: 1px;position: relative;text-align: center;width: 148px;}
.shop-info-wrap .btn-shop .arr_r_s{margin-left: 25px;position: absolute;right: 15px;top: 8px;background:url(/static/wap/images/tpl/detail.png) no-repeat;background-position: -181px -84px;display: inline-block;height: 12px;width: 7px;}
.mod-tab-gap{background: #F3F3F3;padding-top: 15px;}
.item-detail .param{width:100%;}
.item-detail .param td{border: 1px solid #ccc; padding: 5px 10px;}
.product-options{}
.product-opt{padding-left: 10px; margin: 8px 0; line-height: 24px; clear: both;}
.product-opt dt{float: left;}
.product-opt .opt_choose{border: 1px solid #abacac; background: #fff; display: inline-block; padding: 0 8px;}
.product-opt .opt_choose.current{border: 1px solid #06bf04;}
/* item.css end*/
/* parameter.css */
.bottomWrap{background-color: #fff; z-index: 99; position: absolute; display:none;left: 0; top:0; height: 100%; width: 100%;}
.pwrapper{padding-left: 3%; padding-right: 3%; width: 100%; display: none; background-color: #fff;z-index: 100;}
.pwrapper .pmain,.pwrapper .content,.pwrapper .imgplay{display: none;width: 100%;}
.pwrapper h1{height: 30px; overflow: hidden; width: 100%; margin-top: 10px;}
.pwrapper .close{float: right; padding: 3px; width:50px; text-align: center; background-color: #009300; color: #fff; border-radius: 3px;}
.pmain{margin-top: 10px; margin-bottom:10px;border-top:1px solid #d7d7d7; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7;}
.pmain ul li{height: 32px; line-height: 32px; border-bottom:1px solid #d7d7d7; color: #000; font-weight: bold; font-size: 13px; padding-left: 15px;}
.pmain ul li .tit{float: left; height: 32px; line-height: 32px; color: #000; font-weight: bold; font-size: 13px; width: 40%;}
.pmain ul li .con{float: left; height: 32px; line-height: 32px; color: #000; font-weight: bold; font-size: 13px; width: 50%;}
/* parameter.css end*/
/* categories
====================================================*/
#categories{}
#categories li{border-bottom: 1px solid #ccc; background: #F3F3F3; padding-left: 15px;}
#categories li.parent{background: white; padding-left: 0;}
#categories li a{height: 45px; line-height: 45px; font-size: 14px; padding-left: 20px; display: block; font-family: 'Microsoft YaHei';}
/*全部商品cat.phtml*/
.product{}
.product .filter{margin: 6px 3px;}
.product .filter table{width: 100%;}
.product .filter table td{border: 1px solid #ccc; padding: 1px; width: 25%;}
.product .filter table td a{display:block; height: 32px; line-height: 32px; text-align: center; font-size: 14px;}
.product .filter table td a.cur{background: #685C5B; color: white;}
.productlist{padding: 0; margin-bottom: 45px;}
.productlist li{float: left; width: 50%; padding: 0 3px; text-align: center; margin-bottom: 6px; display: inline-block; box-sizing: border-box; overflow: hidden;}
.productlist li a{background: #fff; display: block; border: 1px solid #ccc;}
.productlist li a .cover{overflow: hidden; text-align: center;}
.productlist li a:link img,
.productlist li a:active img,
.productlist li a:visited img{width: auto; border: none;height: 150px;}
.productlist li a:hover img{}
.productlist li img{width:100%;}
.productlist li .detail{background: #fff; text-align: left; padding: 10px;}
.productlist li .detail .price{margin-top: 5px; color: #C73D00; font-weight: bold;}
.productlist li .detail .price del{color: #999; font-weight: normal;}
.productlist li .detail .name{font-size: 14px; color: #333; height: 32px; overflow: hidden;white-space: nowrap;}
.ui-refresh{}
.ui-refresh .filter{}
.ui-refresh-down{text-align: center;}
.sort{background: url("/static/wap/images/tpl/filter.png") no-repeat scroll right center / 26px 20px rgba(0, 0, 0, 0); display: inline-block; height: 16px; width: 12px; vertical-align: middle;}
.sort.asc{background: url("/static/wap/images/tpl/filter.png") no-repeat scroll left center / 26px 20px rgba(0, 0, 0, 0);}
.empty{height: 200px; line-height: 200px; text-align: center;}
/* swipe 样式*/
.swiper-container{width:350px; height: 200px; color: #fff;}
.swiper-slide{width: 100%; height: 100%;}
.swiper-slide img{width: 350px; height: 100%;}
.pagination{position: absolute; z-index: 20; left: 10px; bottom: 10px;}
.swiper-pagination-switch{display: none; width: 8px; height: 8px; border-radius: 8px; background: #222; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
.swiper-visible-switch{background: #aaa;}
.swiper-active-switch{background: #fff;}
/**/
/*====================================================* * search ====================================================*/
.search{margin: 12px 0 0; background: white; font-family: 'Microsoft YaHei';}
.searchForm{width: 100%;}
.searchForm td{background: #F5F5F5; padding: 10px;}
.searchForm td a{color: #237FE5;}
.searchForm td .find{border-radius: 3px 0 0 3px; background: #fff; position: relative; padding: 0 0 0 30px;}
.searchForm td .searchIcon{position: absolute; left: 0; top: 0; font-size: 16px; line-height: 30px; height: 30px; width: 30px; color: #666; text-align: center;}
.searchForm td input.iText{width: 100%; height: 24px; border-radius: 0 3px 3px 0; line-height: 24px;}
.search .keywords{margin-top: 20px;}
.search .keywords .title{font-size: 14px; margin-bottom: 15px;}
.search .keywords .wordlist{}
.search .keywords .wordlist li{float: left; margin-right: 10px;}
.search .keywords .wordlist li a{display: inline-block; padding: 0 10px; height: 24px; margin-bottom: 5px; line-height: 24px; background: #F5F5F5;}