<h2 class="header">微信设置</h2>
{{content()}}
<div class="tabble">
    <ul class="nav nav-tabs">
        <li><a href="<?php echo  $this->uri->controllerUrl('binding');?>">手动设置</a> </li>
        <li class="active"><a  href="#auto" data-toggle="tab" target="#auto">一键绑定</a> </li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="auto">
        <div class="row">
            <div class="col-xs-6">
                <form action="" id="registerForm" class="form-horizontal" onbeforesubmit="return false" data-toggle="validator"
                      method="post">
                    <fieldset>
                        <legend>一键绑定公众平台</legend>

                        <section class="form-group">
                            <label for="name" class="col-sm-2 control-label">微信账号</label>

                            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="wx_user" name="wx_user" placeholder="微信账号"
                           value=""
                           required>
                </span>
                                <span class="help-block with-errors"><span class="red">*</span> </span>
                            </div>
                        </section>

                        <section class="form-group">
                            <label for="name" class="col-sm-2 control-label">微信密码</label>

                            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="wx_pass" name="wx_pass" placeholder="微信密码"
                           value=""
                           required="">
                </span>
                                <span class="help-block with-errors"><span class="red">*</span> </span>
                            </div>
                        </section>

                        <?php
                        if (isset($verifycode)) {
                            ?>
                            <section class="form-group">
                                <label for="name" class="col-sm-2 control-label">微信验证码</label>

                                <div class="col-sm-10">
                <span class="col-sm-2">
                    <input type="text" class="form-control" id="wx_imgcode" name="wx_imgcode" placeholder="微信验证码"
                           value=""
                           required="">
                    <img src="<?php echo $verifycode; ?>" alt="" id="verifycode"/>
                </span>
                <span class="help-block with-errors"><span class="red">*</span>

                </span>
                                </div>
                            </section>
                        <?php
                        }
                        ?>
                        <script>
                            $(function () {
                                $("#verifycode").click(function () {
                                    var username = $('#wx_user').val();
                                    var d = new Date();
                                    var url = '/panel/addon/wechat/default/getImgCode?wx_user=' + username + '&r=' + d.getTime();
                                    $(this).attr('src', url);
                                });
                            })
                        </script>

                        <section>
                            <label for="name" class="col-sm-2 control-label"></label>

                            <div class="col-sm-10" style="padding: 0 0 0 20px;">
                                <input type="submit" value="一键绑定" class="btn btn-primary btn-large" name="btn-base" disabled="disabled">
                            </div>
                        </section>

                    </fieldset>

                </form>
            </div>
            <div class="col-xs-6">
                <div class="alert alert-warning">
                    <h3>使用说明：</h3>
                    <ol class="list">
                        <li>如果您还没有注册微信公众号，请先注册<a href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=register/step1_tmpl&lang=zh_CN" target="_blank">微信公众号</a></li>
                        <li>请将您的微信公众号账号和密码填入左侧对应位置</li>
                        <li>系统自动完成微信公众号跟本系统的绑定和数据同步，数据包括：微信自定义菜单，微信用户组，微信用户列表等数据</li>
                        <li>您使用本系统的一键绑定功能，表明您已经了解这种快捷操作方式，将由您自己对此操作负责</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>

