{{ content() }}
<h2 class="header">微博接入设置</h2>
<div class="tabble">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#handle" data-toggle="tab" target="#handle">手动设置</a></li>
        <!--            <li><a href="--><?php //echo  $this->uri->controllerUrl('auto');?><!--">一键绑定</a> </li>-->
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="handle">
        <div class="row">
            <div class="col-xs-6">
                {{ form('panel/weibo/binding', 'id': 'registerForm', 'class': 'form-horizontal', 'onbeforesubmit':
                'return false', 'data-toggle':"validator", 'role':'form') }}
                <div class="form-group">
                    <label class="col-sm-2 control-label">平台回调URL</label>

                    <div class="col-sm-10">
                        <p class="form-control-static"><?php echo $this->uri->appUrl('weibo/service'); ?></p>
                    <span class="help-block">
                        参看<a href="http://open.weibo.com/wiki/Messages_api_start" target="_blank">微博开放平台说明</a>，按图例填写。
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_account" class="col-sm-2 control-label">微博号</label>

                    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <input type="text" class="form-control" id="app_account" name="app_account"
                               value="{% if openInfo %}{{openInfo.app_account}}{% endif %}" placeholder="公众号" required
                               data-error="公众号必须填写，否则无法开启平台的功能">
                    </span>
                        <span class="help-block">
                        填写您要接入的微博账号名称
                    </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_id" class="col-sm-2 control-label">AppKey</label>

                    <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="app_id" name="app_id" placeholder="AppId"
                           value="{% if openInfo %}{{openInfo.app_id}}{% endif %}" required
                           data-error="填写微信公众平台开发者的app id">
                </span>
                        <span class="help-block">
                        填入微博粉丝服务应用的appkey
                    </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="app_secret" class="col-sm-2 control-label">AppSecret</label>

                    <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="app_secret" name="app_secret" placeholder="AppSecret"
                           value="{% if openInfo %}{{openInfo.app_secret}}{% endif %}" required
                           data-error="请填写微信公众平台开发者的app secret">
                </span>
                        <span class="help-block">
                        填入微博粉丝服务应用的appsecret
                    </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">微博平台TOKEN</label>

                    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <input type="text" class="form-control" id="token" name="token"
                               value="{% if openInfo %}{{openInfo.token}}{% endif %}" placeholder="微博粉丝服务access_token"
                               data-error="access_token必须填写，否则无法开启平台的功能">
                    </span>
                    <span class="help-block">
                        参看<a href="http://open.weibo.com/wiki/Messages_api/access_token" target="_blank">微博开放平台说明</a>，按图例填写。
                    </span>
                        <span class="help-block with-errors"></span>
                    </div>
                </div>
                <!--<div class="form-group">
                                        <label for="original_id" class="col-sm-2 control-label">原始ID</label>
                                        <div class="col-sm-10">
                                        <span  class="col-sm-5">
                                            <input type="text" class="form-control" id="original_id" name="original_id" value="{% if openInfo %}{{openInfo.original_id}}{% endif %}" placeholder="原始ID" data-error="原始ID必须填写，否则无法开启平台的功能">
                                        </span>
                                            <span class="help-block with-errors"></span>
                                        </div>
                                    </div>
            <div class="form-group">
                <label for="original_id" class="col-sm-2 control-label">是否开启官方多客服</label>
                <div class="col-sm-10">
                    <span  class="col-sm-5">
                        <label>
                            <input type="radio" name="enable_dkf" id=""
                                   class="ace" <?php /*echo @$openInfo->enable_dkf == '1' ? 'checked' : ''; */ ?> value="1"/>
                            <span class="lbl">是</span>
                        </label>

                        <label>
                            <input type="radio" name="enable_dkf" id=""
                                   class="ace" <?php /*echo @$openInfo->enable_dkf != '1' ? 'checked' : ''; */ ?> value="0"/>
                            <span class="lbl">否</span>
                        </label>
                    </span>
                    <span class="help-block with-errors">如果开始官方多客服，则自动回复中的“接收普通消息”和“关键词回复”的设置将失效。</span>
                </div>
            </div>-->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ submit_button('保存', 'class': 'btn btn-primary btn-large') }}
                    </div>
                </div>
                {{end_form()}}
            </div>
            <div class="col-xs-6">
                <div class="alert alert-warning">
                    <h3>使用说明:</h3>
                    <ol class="list">
                        <li>如果您还没有注册微博账号，请先注册<a href="http://weibo.com/signup/signup.php" target="_blank">微博账号</a>，不管是企业账号还是个人账号，都必须先进行身份认证，否则无法进行粉丝服务的开发。
                        </li>
                        <li>如果还没有成为开发者，需要先成为开发者，并在微博开放平台的“微粉服务”中<a
                                href="http://open.weibo.com/apps/new?sort=fenfu&is_service=1" target="_blank">添加一个应用</a>，如果不想自己添加一个应用，可以咨询官方客服使用官方的微应用信息。
                        </li>
                        <li>将微应用里的appkey和appsecret填入左侧对应字段，保存当前页</li>
                        <li>进入您的微博的首页，找到【管理中心】-【粉丝服务】-【高级设置】-【开发模式】(<a
                                href="http://weibo.com/5195924663/profile?topnav=1&wvr=5&from=company&user=1"
                                target="_blank">点此进入</a>)，选择“消息推送服务”，并将左侧的"平台回调URL"填入微博设置的“URL”字段;保存成功后，会有一个系统提供的"access_token",将其填入左侧的"微博平台TOKEN"，保存当前页
                        </li>
                        <li>想了解更多微博粉丝服务的说明，请参阅：<a href="http://open.weibo.com/wiki/Messages_api_start" target="_blank">粉丝服务平台开发接口接入指南</a>
                        </li>
                    </
                    0l>

                </div>
            </div>
        </div>
    </div>
</div>
