<h1 class="page-header">微信菜单管理
    <div class="btn-toolbar pull-right" role="toolbar">
        <div class="btn-group">
            <button class="btn btn-primary btn-sm" id="syncToWeixin">同步到微博</button>
        </div>
    </div>
</h1>
<input type="hidden" id="menuClickMessages" value='{{menus|json_encode}}'>
<div class="col-sm-6 tree-list dd" id="nestable">
    <ol class="dd-list">
        {% if menus is defined and menus|length > 0 %}
        {% for menu in menus %}
        <li class="dd-item" data-cat-id="{{menu['id']}}" data-id="{{menu['id']}}">
            <div class="dd-handle">
                {{menu['name']}}
                <div class="pull-right action-buttons">
                    <a class="blue tree-edit" href="javascript:;" title="编辑" data-data='{{menu|json_encode}}'>
                        <i class="icon-pencil bigger-130"></i>
                    </a>
                    {% if menu['subs'] is not defined or menu['subs']|length == 0 %}
                    <a class="red tree-remove" href="javascript:;" title="删除" data-id="{{menu['id']}}">
                        <i class="icon-trash bigger-130"></i>
                    </a>
                    {% endif %}
                    {% if menu['subs'] is not defined or menu['subs']|length < 15 %}
                    <a class="green tree-add" href="javascript:;" title="添加子分类" data-id="{{menu['id']}}">
                        <i class="icon-plus bigger-130"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% if menu['subs'] is defined and menu['subs']|length > 0 %}
            <ol class="dd-list">
                {% for sub in menu['subs'] %}
                <li data-cat-id="{{sub['id']}}">
                    <div class="dd-handle">
                        {{sub['name']}}
                        <div class="pull-right action-buttons">
                            <a class="blue tree-edit" href="javascript:;" title="编辑" data-data='{{sub|json_encode}}'><i
                                    class="icon-pencil bigger-130"></i></a>
                            <a class="tree-remove red" href="javascript:;" title="删除" data-id="{{sub['id']}}"><i
                                    class="icon-trash bigger-130"></i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
        {% if menus is not defined or menus|length < 3 %}
        <li>
            <span>
                <a class="tree-add" href="javascript:;" title="添加" data-id="0"><i class="icon icon-plus" data-pid="0"></i>添加顶级菜单</a>
            </span>
        </li>
        {% endif %}
    </ol>
</div>
<div class="col-sm-6">
<pre class="alert alert-warning">
注意事项：
    1.一级菜单，个数应为1~3个
    2.二级菜单，个数应为1~5个
    3.一级菜单标题，不超过16个字节，子菜单不超过40个字节
    4.网页链接，用户点击菜单可打开链接，不超过256字节
    5.菜单KEY值，用于消息接口推送，不超过128字节
    6.若顶级菜单设定为“弹出菜单”，则需要给其添加二级菜单，微信客户端方可得到正确同步
    <span class="red">警告说明：</span>
    一级菜单最多4个汉字，二级菜单最多7个汉字
    当一级菜单下没有二级菜单时不能为弹出菜单
    创建自定义菜单后，由于微信客户端缓存，需要24小时微信客户端才会展现出来
</pre>
</div>

<!-- edit modal -->
<div class="modal fade" id="menuInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">菜单信息</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" class="form-horizontal">
                    <input type="hidden" name="mid" id="mid" value=""/>
                    <input type="hidden" name="pid" id="pid" value="0"/>
                    <input type="hidden" name="messageType" id="messageType" value="text"/>
                    <input type="hidden" name="message" id="message" value=""/>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <span class="col-sm-10">
                            <input name="name" id="name" class="form-control" required data-error="菜单名称必须填写" placeholder="菜单名称"/>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">排序</label>
                        <span class="col-sm-10">
                            <input name="sort" id="sort" class="form-control" value="0" data-error="排序数字" placeholder="排序数字"/>
                            <span class="help-block with-errors">排序数字，越大越靠前</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">类型</label>
                        <span class="col-sm-10">
                            <select id="type" class="form-control col-xs-4">
                                <option value="VIEW">跳转链接</option>
                                <option value="CLICK">发送消息</option>
                                <option value="TOP_BAR">弹出菜单</option>
                            </select>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                    <div class="form-group" id="linkValBox">
                        <label for="link" class="col-sm-2 control-label">跳转链接</label>
                        <span class="col-sm-10">
                            <span class="input-group col-sm-10">
                                <input name="link" id="link" class="input-sm col-sm-6" readonly placeholder="总有点儿故事的"/>
                                <a class="btn btn-sm btn-success input-append getLinkUrl" id="jumpLinkBtn" href="javascript:;">设置链接</a>
                            </span>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                    <div class="form-group" id="clickValBox">
                        <label for="story" class="col-sm-2 control-label">响应消息设置</label>
                        <div class="col-sm-10">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active" data-type="text"><a href="#messageText" data-toggle="tab">文字</a></li>
                                <li data-type="news"><a
                                        href="#messageNews"
                                        data-toggle="tab">图文</a>
                                </li>
                                <li data-type="product"><a
                                        href="#messageProduct"
                                        data-toggle="tab">商品</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="messageText" data-tab="text">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <textarea id="respondText" style="width: 100%; min-height: 200px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="messageNews" data-tab="news">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="overflow-y: auto;  min-height: 200px;">
                                                <a class="btn btn-sm btn-primary pull-right" id="addNewsBtn" href="javascript:;">设置图文</a>
                                                <ul class="list list-unstyled" id="newsItems">
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="defaultNewsLink" value="" class="input-small">
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="newsLinkBtn" data-rel="#defaultNewsLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="messageProduct" data-tab="product">
                                    <div class="js_imgArea inner ">
                                        <div class="emotion_editor">
                                            <div class="edit_area" style="overflow-y: auto;  min-height: 200px;">
                                                <a class="btn btn-sm btn-primary pull-right" id="addProductBtn" href="javascript:;">设置商品</a>
                                                <ul class="list list-unstyled" id="productItems">
                                                </ul>
                                            </div>
                                            <p class="field set-field">
                                                <label for="" class="field-label">默认链接：</label>
                                                <input type="text" id="defaultProductLink" value="" class="input-small">
                                                <a href="javascript:;" class="btn btn-sm btn-success" id="productLinkBtn" data-rel="#defaultProductLink">设置链接</a>
                                                <span class="help-inline">为空表示不使用自定义的链接</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveMenu">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<?php $this->partial('base/widget/resource'); ?>