{{content()}}

<form action="" id="registerForm" class="form-horizontal" onbeforesubmit="return false" data-toggle="validator"
      method="post">
    <fieldset>
        <legend>同步微信数据到本地</legend>

        <section>
            <label for="name" class="col-sm-2 control-label"></label>

            <div class="col-sm-10" style="padding: 0 0 0 20px;">
                <input type="submit" value="一键同步" class="btn btn-primary btn-large" name="btn-base" disabled="disabled">
            </div>
        </section>
    </fieldset>

</form>
