<?php
use Multiple\Wap\Helper\SiteData;

// 是否隐藏
$hide = \Components\TplManager::$_config['hideFooter'];
if (!$hide) {
    $site_name = SiteData::init()->getSite('site_name');
    // $list = SiteData::init()->getNavs('foot','shop');
    $AllFootNav = SiteData::init()->getAllNavs('foot');
    // echo "<pre>";
    //  var_dump($AllFootNav);exit;
    ?>
    <p style="line-height: 30px;height: 36px;">
        技术支持： <a href="http://12345718.m.saleasy.net/" target="_blank">深圳智享时代</a>
    </p>

    <div style="height: 42px;">
    </div>
    <div id="footer-nav-div" class="footer-nav-div">
        <div class="bottom-bar">
            <a class="home-img" href="<?php echo $this->uri->baseUrl() ?>">
                <img width="48" src="/static/wap/images/tpl/home.png"/>
            </a>

            <p class="more">
                <?php
                $count = count($AllFootNav);
                foreach ($AllFootNav as $k => $item) {
                    if ($count > 4) {
                        $count = 4;
                    }

                    if ($k > 3) {
                        continue;
                    }
                    ?>
                    <?php  if ($item['son']) {
                        $data = '';
                        foreach ($item['son'] as $val) {

                            $data .= "{text:" . "'" . $val['name'] . "',href:'" . $val['link'] . "',icon:'ui-icon-grid'},";
                        }
                        $data = '[' . rtrim($data, ',') . ']'; ?>
                        <a href="javascript:;" style="width:<?php echo 100 / $count; ?>%; text-align: center; "
                           class="navMenu" data-widget="dropmenu" data-content="<?php echo $data ?>">
                            <i class="icon <?php echo $item['icon']; ?>"></i>
                            <?php echo $item['name']; ?>
                        </a>
                    <?php } else { ?>
                        <a href="<?php echo $item['link'] ?>"
                           style="width:<?php echo 100 / $count - 5; ?>%;text-align: center">
                            <i class="icon <?php echo $item['icon']; ?>"></i>
                            <?php echo $item['name']; ?>
                        </a>

                    <?php
                    }
                }
                ?>

            </p>
        </div>
    </div>
<?php } ?>

<script>

    seajs.use('/static/wap/gmu/widget/dropmenu.js', function () {
        $('.navMenu').each(function () {
            var content = eval($(this).attr('data-content'));
            $(this).dropmenu({
                content: content,
                placement: 'top',
                align: 'center'
            });
        });
    });
</script>
