<?php
use Multiple\Wap\Helper\SiteData;

$baseUri = $this->uri->appUrl('');
$default['home'] = $baseUri;
$default['news'] = $baseUri . 'article';
$default['shop'] = $baseUri . 'shop';
$default['about'] = $baseUri . 'about';

// 固定有菜单
$part = SiteData::init()->getNavs('part');
$topStr = array();
foreach ($part as $item) {
    $topStr[] = array(
        'text' => $item['name'],
        'href' => $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link'],
        'icon' => $item['icon']
    );
}

$topS = '';
foreach ($topStr as $key => $top) {
    $topS .= json_encode($top) . ',';
}

$menu = '[' . rtrim($topS, ',') . ']';
?>
<span class="menu-container"><a id="menu" href="javascript:;" class="icon-list-ul"></a></span>
<script>
    var menus = <?php echo $menu; ?>;
    $(function () {
        $('.panel').panel({
            contentWrap: $('.cont')
        });
        $('#open-panel').on('click', function () {
            $('.panel').panel('toggle', 'push', 'left');
        });
    });
    $('#menu').dropmenu({
        content: menus,
        placement: 'bottom',
        align: 'right'
    });
</script>
