<style type="text/css">
    body {
        background-color: #000000;
    }

    .container {
        width: 350px;
    	margin: 200px auto;
    }
</style>
<div class="container">
    <div class="form-horizontal well">
        {{ content() }}
        <div class="row">
            <div class="span8">
                <div class="page-header">
                    <h2>ESTT营销平台管理员登陆</h2>
                </div>
                {{ form('agent/session/start', 'class': 'form-horizonal') }}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="nick_name">账号</label>

                        <div class="controls">
                            {{ text_field('nick_name', 'size': "30", 'class': "input-xlarge") }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">密码</label>

                        <div class="controls">
                            {{ password_field('password', 'size': "30", 'class': "input-xlarge") }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ submit_button('Login', 'class': 'button button-primary button-large pull-right') }}
                    </div>
                </fieldset>
                {{ end_form() }}
            </div>
        </div>
    </div>
</div>