
#cate8 .wz08menu {
    display: block;
    margin: 0;
    padding: 2px;
}

#cate8 .wz08menu li {
    width: 25%;
    float: left;
    overflow: hidden;
    border-radius: 0px;
}

#cate8 .wz08menu li .wz08btn {
    text-decoration: none;
    color: #000;
    overflow: hidden;
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.31);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

#cate8 .wz08menu li a {
    padding: 0px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#cate8 .wz08menu li .wz08btn .wz08img {
    overflow: hidden;
    position: relative;
}

#cate8 .wz08menu li div img {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#cate8 .wz08menu li .menutitle {
    text-align: center;
    text-decoration: none;
    color: #A48257;
    font-size: 0.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: block;
}

#cate8 .wz08menu li:nth-child(1) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(6) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(7) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(8) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(13) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(14) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(15) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(20) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(21) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(22) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(27) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(28) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(29) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(34) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(35) {
    width: 49.9%;
}
#cate8 .wz08menu li:nth-child(36) {
    width: 49.9%;
}
html,body {
    color: #ffffff;
    font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial,
    san-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

li { list-style-type: none;}
a{
  text-decoration:none;
}
#banner{width:100%;padding:0;}
#banner .swiper-fashion{width: 100%; color: #fff; text-align: center; overflow: hidden; position: relative; }
#banner .swiper-fashion img{width: 100%; overflow: hidden;}
#banner .pagination-fashion{position: absolute; z-index: 20; left: 50%; bottom: 10px;}
#banner .pagination-fashion .swiper-slide{ width: 100%; height:auto;}
#banner .swiper-pagination-switch{display: inline-block; width: 8px; height: 8px; border-radius: 8px; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#banner .swiper-visible-switch{}
#banner .swiper-active-switch{background: #008aff;}





/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 25px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}

.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {
    overflow: hidden;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}


.micro-func .box-btn {
    margin: 5px;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 12pt;
    text-align: center;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    color: #fff;
    background: #EA5946;
    background: -webkit-gradient(linear, left top, left bottom, from(#EA2818), to(#DA1710));
    background: -moz-linear-gradient(top, #fff, #ededed);
}
#high-link a {
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: 36px;
    display: block;
    color: #EA2818;
    background: #f0f0f0;
}

#high-link a:first-child {
    margin-left: -1px;
    border-right: 1px solid #E0E0E0;
}

.part {
    margin: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.part .nav {
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    height: 50px;
    overflow: hidden;
}

.part .nav .img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    float: left;
    font-size: 24px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.part .nav dd {
    height: 50px;
    float: left;
    margin: 0 0 0 8px;
}

.part .nav .fst-name {
    font-size: 20px;
    color: #333;
    margin: 14px 0 0;
    font-weight: bold;
}

.part .nav .sec-name {
    color: #666;
}

.part .nav:last-child {
    border: none;
}

.part .nav:first-child .img {
    border-radius: 5px 0 0 0;
}

.part .nav:last-child .img {
    border-radius: 0 0 0 5px;
}

.part .nav .go {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 24px;
    color: #666;
}

/* about */
.left-fixed {
}

.left-fixed > div {
    -webkit-box-flex: 1;
}

.left-fixed > div.left {
    width: 80px;
    -webkit-box-flex: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #ccc;
    line-height: 34px;
}

.left-fixed > div.left a {
    color: #666;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.left-fixed > div.left a.ui-state-active {
    background: #f0f0f0;
}

.ui-scroller {
    float: left;
}

.ui-navigator {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f3f3f3;
}

.ui-navigator-list li.ui-state-hover, .ui-navigator-list li.ui-state-active {
    background: #e0e0e0;
}

.ui-navigator-list li a {
    color: #666;
    font-weight: 400;
}

.activity {
    border: 1px solid #E0E0E0;
}

.activity .act-title {
    line-height: 30px;
    padding: 0 8px;
    background: #f0f0f0;
    border-bottom: 1px solid #E0E0E0;
}

.activity .activity-list li {
    width: 50%;
    float: left;
    text-indent: 20px;
    line-height: 36px;
    font-size: 10pt;
}

.activity .activity-list li:first-child {
    border-right: 1px solid #E0E0E0;
    margin-left: -1px;
}

.activity a {
    color: #f00;
}

.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.button.white:link, .button.white:visited {
    color: #606060;
}

form p {
    margin-bottom: 8px;
}

/* merge */
/*列表布局 1.css*/


.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}

/*详情布局 1.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    color:#000;
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
    color:#666;
}

.article-info{
    color: #666;
}
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}
/*iscroll*/

.banner {
    width:100%;
    margin:0 auto;
    padding:0;
    background-color:#151515;
}
#wrapper {
    margin:0;
    width:100%;
    height:auto;
    float:left;
    position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
    z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
    overflow:hidden;

}

#scroller {
    height:auto;
    float:left;
    padding:0;
}

#scroller ul {
    list-style:none;
    display:block;
    float:left;
    width:100%;
    height:auto;
    padding:0;
    margin:0;
    text-align:left;
}

#scroller li {

    display:block; float:left;
    width:auto; height:auto;
    text-align:center;
    font-size:0px;
    padding:0;
    position:relative;
}
#scroller li a{

    display:block;
    padding:0;
    margin:0;
}
#scroller li p{
    position:absolute;
    z-index:2;
    display:block;
    width:100%;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.5);
    color:#F4F4F4;
    font-size:14px;
    text-indent: 55px;
    line-height:24px;
    text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:0;
    margin:0;
}
#nav {
    float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
    float:left;
    font-weight:bold;
    font-size:14px;
    padding:5px 0;
    width:80px;
    display: none;
}

#next {
    float:right;
    text-align:right;
}

#indicator > li {
    display:block; float:left;
    list-style:none;
    padding:0; margin:0;
}

#indicator {
    display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
    text-indent:-9999em;
    width:8px; height:8px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    background:#888;
    overflow:hidden;
    margin-right:4px;
}

#indicator > li.active {
    background:#DDDDDD;
}

#indicator > li:last-child {
    margin:0;
}

/*cate8_0.css*/

/*------------------------------------- wz.css ------------------------------------------------------*/
#cate1{background-color: #F0F0F0;overflow-x: hidden;}
#cate1 .mainmenu{display: block; margin: 0 auto; padding: 5px; width: 310px;}
#cate1 .mainmenu li{width:50%; float:left; display: block; margin-right: -0.5px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn{display: block; text-decoration:none; color:#000; background-color: #ffffff; border-radius: 5px; margin:5px; box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;}
#cate1 .mainmenu li .menubtn:hover{background-color: #f5f5f5;}
#cate1 .mainmenu li a{display:block; padding:0px; font-size:14px; color: #000000; text-decoration: none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn .menumesg{padding:0px}
#cate1 .mainmenu li .menubtn .menuimg{height:100px; overflow:hidden; border-radius: 5px 5px 0 0; background-color: #F5F5F5;}
#cate1 .mainmenu li div img{border:0; width:100%; min-height:100px; border-radius: 5px 5px 0 0;}
#cate1 .mainmenu li .menutitle{text-align:center; padding: 5px; text-decoration: none; color:#000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*------------------------------------- wz.css end --------------------------------------------------*/