<div id="container" class="container">
<?php
$user_info = \Components\UserStatusWap::init()->getUserInfo();
?>
<div class="vipcard" style="background: url(<?php echo $card['setting']['top_bg'] ?>) repeat-x top center">

<?php if (isset($card)): ?>
    <div class="card">

        <div class="card-package">
            <div class="bg-container">
                <?php if ($card['card_bg']): ?>
                    <img class="bg" src="<?php echo $card['card_bg'] ?>"/>
                <?php else: ?>
                    <img class="bg" src="/static/wap/images/module/vipcard/default_card_bg.png"/>
                <?php endif; ?>
            </div>
            <h1 style="color:<?php echo !empty($card['card_name_color']) ? $card['card_name_color'] : '#fff'; ?>;"
                id="vipname"><?php echo !empty($card['card_name']) ? $card['card_name'] : 'VIP 会员卡'; ?></h1>
        </div>


        <div class="replyForm">
            <form action="javascript:;" id="applyForm">
                <ul class="round">
                    <li class="title ">
                        <span class="none">请认真填写会员表单</span>
                    </li>
                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">真实姓名</th>
                                <td class="more">
                                    <input type="text" placeholder="请输入您的真实姓名"
                                           value="<?php echo isset($vipcard['realname']) ? $vipcard['realname'] : ''; ?>"
                                           id="realname"
                                           class="px">
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">联系手机</th>
                                <td class="more">
                                    <input type="text" placeholder="请输入您的电话"
                                           value="<?php echo isset($vipcard['phone']) ? $vipcard['phone'] : $user_info['phone']; ?>"
                                           id="user_phone"
                                           class="px">
                                </td>
                            </tr>
                        </table>
                    </li>

                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">出生日期</th>
                                <td class="more">
                                    <input type="hidden" name="birthday" id="birthday"
                                           value="<?php echo isset($vipcard['birthday']) ? $vipcard['birthday'] : '0000-00-00'; ?>"/>
                                    <?php
                                    $curYear = null;
                                    $curMonth = null;
                                    $curDay = null;
                                    if (isset($vipcard['birthday']) && $vipcard['birthday']) {
                                        $curTime = explode('-', $vipcard['birthday']);
                                        $curYear = $curTime[0];
                                        $curMonth = $curTime[1];
                                        $curDay = $curTime[2];
                                    }
                                    ?>
                                    <span>年份</span>
                                    <select name="" id="selectYear" class="selc">
                                        <option value="">年份</option>
                                        <?php for ($i = date('Y'); $i > 1900; $i--) { ?>
                                            <option
                                                value="<?php echo $i; ?>" <?php echo $curYear == $i ? 'selected="selected"' : ''; ?> ><?php echo $i; ?></option>
                                        <?php } ?>
                                    </select>
                                    <br>
                                    <span>月份</span>
                                    <select name="" id="selectMonth" class="selc">
                                        <option value="">月份</option>
                                        <?php for ($i = 1; $i <= 12; $i++) { ?>
                                            <option
                                                value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curMonth == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                                        <?php } ?>
                                    </select>
                                    <br>
                                    <span>日期</span>
                                    <select name="" id="selectDay" class="selc">
                                        <option value="">日期</option>
                                        <?php
                                        $monthDay = array(0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                                        $nowMonth = isset($curMonth) && $curMonth ? $curMonth : intval(date('m'));
                                        $nowYear = isset($curYear) && $curYear ? $curYear : date('Y');
                                        // 年下拉框改变时，判断是否是是闰年，更改二月分的天数
                                        if ($nowMonth == 2 && ($nowYear % 100 == 0) && ($nowYear % 400 == 0) || ($nowYear % 100 != 0) && ($nowYear % 4 == 0)) {
                                            $monthDay[2] = $monthDay[2] + 1;
                                        }
                                        for ($i = 1; $i <= $monthDay[intval($nowMonth)]; $i++) {
                                            ?>
                                            <option
                                                value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curDay == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                                        <?php } ?>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </li>

                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">联系邮箱</th>
                                <td class="more">
                                    <input type="text" id="email" class="px"
                                           value="<?php echo isset($vipcard['email']) ? $user_info['email'] : $user_info['email']; ?>"
                                           placeholder="请输入您的联系邮箱"/>
                                </td>
                            </tr>
                        </table>
                    </li>

                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">选在地区</th>
                                <td class="more">
                                    省份：<select name="province" id="province" class=""></select> <br/>
                                    城市：<select name="city" id="city" class=""></select><br/>
                                    乡镇：<select name="town" id="town" class=""></select><br/>
                                </td>
                            </tr>
                        </table>
                    </li>

                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">详细地址</th>
                                <td class="more">
                                    <p>
                                        <input type="text" id="address" class="px"
                                               value="<?php echo isset($vipcard['address']) ? $vipcard['address'] : $user_info['address']; ?>"
                                               placeholder="请输入您的联系地址"/>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </li>

                    <li class="line">
                        <table class="table">
                            <tr>
                                <th class="name">性别</th>
                                <td class="more" style="position: relative;">
                                    <label for="">
                                        男
                                    </label>
                                    <input type="radio" value="f" class="gender" name="gender"
                                        <?php echo isset($vipcard['gender']) && $vipcard['gender'] != 'f' ? '' : 'checked'; ?> />
                                    <label for="">
                                        女
                                    </label>
                                    <input type="radio" value="m" class="gender"
                                           name="gender" <?php echo isset($vipcard['gender']) && $vipcard['gender'] == 'f' ? 'checked' : ''; ?>/>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <?php $this->partial('vipcard/partial/column'); ?>
                </ul>
            </form>
        </div>
        <div class="">
            您已经提交过资料,审核状态:
                    <span class="red">
                    <?php
                    if (isset($vipcard['is_active'])) {
                        if ($vipcard['is_active'] == 0) {
                            echo '等待审核';
                        }
                        if ($vipcard['is_active'] == -1) {
                            echo '审核不通过!';
                        }
                    }
                    ?>
                    </span>
            您可以修改后再次提交
        </div>
        <div class="card-action">
            <a class="btn btn-large btn-emoi" id="applyCardBtn" href="javascript:;">
                <?php
                echo isset($vipcard['is_active']) ? '重新提交申请会员卡' : '点击领取您的新会员卡';
                ?>
            </a>
        </div>

    </div>
    <ul class="round">
        <li class="line">
            <a href='<?php echo $this->uri->wapModuleUrl('/vipcard/intro'); ?>'>
                <span class="right"><i class="icon icon-angle-right" style="font-size: 16px;"></i></span>
                <span>会员卡说明</span>
            </a>
        </li>
    </ul>
<?php else: ?>
    <div class="page-header">
        <div class="page-title">领取会员卡</div>
    </div>

    <div class="page-content">
        <p class="msg"
           style="font-size: 16px; margin-top: 20px; border: 1px solid #eee; padding: 40px 0; border-radius: 5px; text-align:center;">
            暂无可领取的会员卡~
        </p>
    </div>
<?php endif; ?>
</div>
</div>
<script>
    seajs.use('module/module.vipcard', function (api) {
        new PCAS('province', 'city', 'town', '<?php echo  isset($vipcard['province']) ?$vipcard['province']:"" ;?>', '<?php echo  isset($vipcard['city']) ? $vipcard['city']:"";?>', '<?php echo  isset($vipcard['town']) ?$vipcard['town']:"";?>');
        datepicker();
        api.setVipCardInfo('#applyCardBtn', 'apply');
    });
</script>
