<?php
//use Components\UserStatusWap;
//
//$user = \Components\Module\VipcardManager::getCardInfoByUid(UserStatus::getUid(), CUR_APP_ID);
?>
<!------------------------------- person_info_main begin ------------------------------------------>
<div class="person_info_main">
    <div class="person_info_w">
        <ul>
            <li class="title ">
                <span class="none">会员信息修改</span>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">真实姓名</div>
                    <div class="con"><?php echo $user['realname']; ?></div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">手机</div>
                    <div class="con"><?php echo $user['phone']; ?></div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">地址</div>
                    <div
                        class="con"><?php echo $user['province'] . $user['city'] . $user['town']; ?></div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">性别</div>
                    <div class="con">
                        <?php $gender = array('m' => '男', 'f' => '女');
                        echo in_array($user['gender'], array('m', 'f')) ? $gender[$user['gender']] : '保密'; ?>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">出生年月</div>
                    <div class="con"><?php echo $user['birthday'] == '0000-00-00' ? '保密' : $user['birthday'];?></div>
                    <div class="clear"></div>
                </a>
            </li>

            <li class="ll_sty1">
                <a href="javascript:;">
                    <div class="tit">是否企业</div>
                    <div class="con">
                        <?php echo $user['is_company'] == 1 ? '是' : '否';?>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>
            <?php $this->partial('vipcard/partial/append_info'); ?>
        </ul>
    </div>
    <div class="card-action">
        <a href="<?php echo $this->uri->wapModuleUrl('vipcard/setting')?>" class="btn-emoi btn btn-block btn-large">修改信息</a>
    </div>


    <!-- person_info_w end-->
</div><!-- person_info_main end -->
<!------------------------------- person_info_main end ------------------------------------------>

<script>
    //是否是企业
    $("#openCompanyInfo").click(function () {
        if ($(this).attr('data-flag') == "1") {
            $(".qiye").css("height", 44 + "px");
            $(".qiye  .details").css("display", "none");
            $(this).attr('data-flag', 0);
        } else {
            $(".qiye").css("height", 224 + "px");
            $(".qiye  .details").css("display", "block");
            $(this).attr('data-flag', 1);
        }
    });
</script>