<div id="container" class="container">

    <div class="vipcard" style="background: url(<?php echo $option->top_bg ?>) repeat-x top center">

        <div class="page-header">

            <div class="page-title">消费记录</div>

        </div>

        <div class="page-content">

            <div class="widget">

                <table class="score-statisic">

                    <tr>
                        <td style="border-left: 0">剩余金额</td>
                        <td style="border-left: 0">消费总额</td>
                        <td style="border-right: 0;">消费奖励积分</td>
                    </tr>
                    <tr>
                        <td style="border-left: 0"><?php echo floatval($remainMoney) ?></td>
                        <td style="border-left: 0"><?php echo $user->getVipcardConsumeTotal(); ?></td>
                        <td style="border-right: 0;"><?php echo $user->getVipcardConsumeScore(); ?></td>
                    </tr>

                </table>

            </div>

            <div class="widget">

                <div class="widget-title open"><a href="javascript:void(0)">查看积分获取及已消费记录</a></div>

                <div class="widget-content" style="padding:0; background: white;">

                    <table class="tablelist">

                        <thead>

                        <tr>
                            <th>日期</th>
                            <th>消费金额</th>
                            <th>积分</th>
                        </tr>

                        </thead>

                        <tbody>

                        <?php if (count($records) > 0): ?>
                            <?php foreach ($records as $record): ?>
                                <tr>
                                    <td><?php echo date('m月d日', $record->created) ?></td>
                                    <td class="green"><?php echo $record->total ?>元</td>
                                    <td class="green">+<?php echo $record->score ?></td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td colspan="3" style="padding: 10px;">无积分记录~</td>
                            </tr>
                        <?php endif; ?>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    $("#checkin").on('click', function () {
        $.post(
            '/addon/api/vipcard/checkin',
            {},
            function (response) {
                if (response.status) {
                    window.location.reload();
                } else {
                    if (response.not_login) {
                    }
                }
            },
            'json'
        );
    });
</script>
