<?php
use Components\Module\VipcardManager;
use Components\UserStatusWap;
$vipgrade = VipcardManager::getUserVipGrade(\Components\UserStatus::getUid(), CUR_APP_ID);
$rule=\Components\Rules\PointRule::init(CUR_APP_ID,$vipgrade);

$point=$rule->getRulePoints(\Components\Rules\PointRule::BEHAVIOR_VIPCARD_CHECK_IN);
?>

<div id="container" class="container">

    <div class="score-page">

        <div class="score-banner">
            <?php if (isset($option->score_bg) && strlen($option->score_bg) > 0): ?>
                <img src="<?php echo $option->score_bg ?>"/>
            <?php else: ?>
                <img src="/static/wap/images/module/vipcard/score.jpg"/>
            <?php endif; ?>
        </div>

        <div class="score-content">
            <?php if($point==0){?>
            


            <?php }else if (VipcardManager::isCheckIn(\Components\UserStatus::getUid(), CUR_APP_ID)) {
                ?>
                <div id="checkedin" class="checked-in">今日已签到</div>
            <?php } else { ?>
                <div class="clickhere"><a href="javascript:;" id="checkin" class="btn btn-block btn-emoi">点击这里签到赚积分</a>
                </div>
                <div id="checkedin" style="display: none;" class="checked-in">今日已签到</div>
            <?php } ?>

            <!--<div class="widget">

                <table class="score-statisic">

                    <tr>
                        <td style="border-left: 0">总积分</td>
                        <td>签到积分</td>
                        <td style="border-right: 0;">消费积分</td>
                    </tr>

                    <tr>
                        <td style="border-left: 0">0</td>
                        <td>0</td>
                        <td style="border-right: 0;">0</td>
                    </tr>

                </table>

            </div>-->

            <div class="widget">

                <div class="widget-title open"><a href="javascript:void(0)">积分日志</a></div>

                <div class="widget-content" style="padding:0; background: white;">

                    <table class="tablelist">

                        <thead>

                        <tr>
                            <th>日期</th>
                            <th>签到情况</th>
                            <th>积分</th>
                        </tr>

                        </thead>

                        <tbody>

                        <?php if (count($logs) > 0): ?>
                            <?php foreach ($logs as $item): ?>
                                <tr>
                                    <td><?php echo date('m-d H:i', $item['logged']); ?></td>
                                    <td><?php echo $item['action_desc']; ?></td>
                                    <td><?php echo ($item['in_out'] == 'out' ? '-' : '+') . $item['value']; ?></td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td colspan="3" style="padding: 10px;">无积分记录~</td>
                            </tr>
                        <?php endif; ?>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    $("#checkin").on('click', function () {
        $.post(
            '/addon/api/vipcard/checkin',
            {},
            function (response) {
                if (response.result==1) {
                    window.location.reload();
                } else {
                    if (response.not_login) {
                    }
                }
            },
            'json'
        );
    });

    $(".widget-title").on('click', function () {
        $(this).toggleClass('open');
        if ($(this).hasClass('open')) {
            $(this).next('.widget-content').show();
        } else {
            $(this).next('.widget-content').hide();
        }
    });
</script>
