<div id="container" class="container" style="padding: 8px;">
    <div class="replyForm">
        <form action="javascript:;" id="applyForm">
            <ul class="round">
                <li class="title ">
                    <span class="none">会员信息修改</span>
                </li>
                <li class="line">
                    <table class="table">
                        <tr>
                            <th class="name">真实姓名</th>
                            <td class="more">
                                <input type="text" placeholder="请输入您的真实姓名"
                                       value="<?php echo $vipcard['realname']; ?>"
                                       id="realname"
                                       class="px">
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="line">
                    <table class="table">
                        <tr>
                            <th class="name">联系手机</th>
                            <td class="more">

                                <input type="text" placeholder="请输入您的电话"
                                       value="<?php echo $vipcard['phone'] ?>"
                                    <?php if ($vipcard['phone']) {
                                        echo ' readonly';
                                    } ?>
                                       id="user_phone"
                                       class="px">
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="line">
                    <input type="hidden" name="birthday" id="birthday"
                           value="<?php echo isset($vipcard['birthday']) ? $vipcard['birthday'] : '0000-00-00'; ?>"/>
                    <table class="table">
                        <tr>
                            <th class="name">出生日期</th>
                            <td class="more">
                                <?php
                                $curYear = null;
                                $curMonth = null;
                                $curDay = null;
                                if ($vipcard['birthday']) {
                                    $curTime = explode('-', $vipcard['birthday']);
                                    $curYear = $curTime[0];
                                    $curMonth = $curTime[1];
                                    $curDay = $curTime[2];
                                }
                                ?>
                                <span>年份</span>
                                <select name="" id="selectYear" class="selc">
                                    <option value="">年份</option>
                                    <?php for ($i = date('Y'); $i > 1900; $i--) { ?>
                                        <option
                                            value="<?php echo $i; ?>" <?php echo $curYear == $i ? 'selected="selected"' : ''; ?> ><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                                <br>
                                <span>月份</span>
                                <select name="" id="selectMonth" class="selc">
                                    <option value="">月份</option>
                                    <?php for ($i = 1; $i <= 12; $i++) { ?>
                                        <option
                                            value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curMonth == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                                    <?php } ?>
                                </select>
                                <br>
                                <span>日期</span>
                                <select name="" id="selectDay" class="selc">
                                    <option value="">日期</option>
                                    <?php
                                    $monthDay = array(0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                                    $nowMonth = isset($curMonth) && $curMonth ? $curMonth : intval(date('m'));
                                    $nowYear = isset($curYear) && $curYear ? $curYear : date('Y');
                                    // 年下拉框改变时，判断是否是是闰年，更改二月分的天数
                                    if ($nowMonth == 2 && ($nowYear % 100 == 0) && ($nowYear % 400 == 0) || ($nowYear % 100 != 0) && ($nowYear % 4 == 0)) {
                                        $monthDay[2] = $monthDay[2] + 1;
                                    }
                                    for ($i = 1; $i <= $monthDay[intval($nowMonth)]; $i++) {
                                        ?>
                                        <option
                                            value="<?php echo $i < 10 ? '0' . $i : $i; ?>" <?php echo $curDay == $i ? 'selected="selected"' : ''; ?> ><?php echo $i < 10 ? '0' . $i : $i; ?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        </tr>
                    </table>
                </li>

                <li class="line">
                    <table class="table">
                        <tr>
                            <th class="name">联系邮箱</th>
                            <td class="more">
                                <input type="text" id="email" class="px"
                                       value="<?php echo $vipcard['email']; ?>"
                                       placeholder="请输入您的联系邮箱"/>
                            </td>
                        </tr>
                    </table>
                </li>

                <li class="line">
                    <table class="table">
                        <tr>
                            <th class="name">选在地区</th>
                            <td class="more">
                                省份：<select name="province" id="province"
                                           class="<?php echo $vipcard['province']; ?>"></select> <br/>
                                城市：<select name="city" id="city" class="<?php echo $vipcard['city']; ?>"></select><br/>
                                乡镇：<select name="town" id="town" class="<?php echo $vipcard['town']; ?>"></select><br/>
                            </td>
                        </tr>
                    </table>
                </li>

                <li class="line">
                    <table class="table">
                        <tr>
                            <th class="name">详细地址</th>
                            <td class="more">
                                <p>
                                    <input type="text" id="address" class="px"
                                           value="<?php echo $vipcard['address']; ?>"
                                           placeholder="请输入您的联系地址"/>
                                </p>
                            </td>
                        </tr>
                    </table>
                </li>

                <li class="line">
                    <table class="table">
                        <tr>
                            <th class="name">性别</th>
                            <td class="more" style="position: relative;">
                                <label for="">
                                    男
                                </label>
                                <input type="radio" value="f" class="gender" name="gender"
                                    <?php if ($vipcard['gender'] == 'm') echo 'checked' ?>  />
                                <label for="">
                                    女
                                </label>
                                <input type="radio" value="m" class="gender"
                                    <?php if ($vipcard['gender'] == 'f') echo 'checked' ?>  name="gender"/>
                            </td>
                        </tr>
                    </table>
                </li>
                <?php $this->partial('vipcard/partial/column'); ?>
            </ul>
        </form>
    </div>

    <div class="card-action">
        <a class="btn btn-large btn-emoi" id="CardInfoBtn" href="javascript:;">
            确定
        </a>
    </div>
    <script>
        seajs.use('module/module.vipcard', function (api) {
            datepicker();
            new PCAS('province', 'city', 'town', '<?php echo  $vipcard['province'] ;?>', '<?php echo $vipcard['city'];?>', '<?php echo $vipcard['town'];?>');
            api.setVipCardInfo('#CardInfoBtn', 'updateUser');
        });
    </script>
</div>
