<style type="text/css">
    .field-label {
        font-size: 14px;
        width: 120px;
        text-align: right;
        font-family: 'Microsoft YaHei';
    }

    .listFreight {
        margin: 0 0 10px;
    }

    .listFreight .thead {
        line-height: 28px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        color: #000;
        background: #FEFCEF;
    }

    #x_area {
        width: 300px;
    }

    .list .head td {
        line-height: 24px;
        text-align: center;
        color: green;
        font-family: "Microsoft YaHei";
    }

    .listFreight .listData input {
        width: 100px;
    }
</style>
<?php
$id = intval($this->request->get("id"));
$freight = \Components\Product\FreightManager::init()->getTpl($id);
$freight_mails = isset($freight['mail_mode']) && $freight['mail_mode'] ? explode(',', $freight['mail_mode']) : ['express'];
$items = \Components\Product\FreightManager::init()->getItems($id);
?>
<div class="page-header">
    <h1>运费模板设置</h1>
</div>

<form action="javascript:;" id="freightForm" class="form">
    <section class="base-area">
        <input type="hidden" name="id" value="<?php echo $id; ?>" class="freightAllId">

        <div class="field set-field">
            <label for="" class="field-label">模板名称：</label>
            <input type="text" name="tpl_name"
                   value="<?php echo isset($freight['tpl_name']) ? $freight['tpl_name'] : ''; ?>"
                   id="tplName">
            <span class="help-inline"><i class="red">*</i> (如"深圳发货")</span>
        </div>

        <div class="field set-field">
            <label for="" class="field-label">发货地址：</label>
            <input type="text" name="deliver_address"
                   style="width: 300px;"
                   value="<?php echo isset($freight['deliver_address']) ? $freight['deliver_address'] : ''; ?>"
                   id="deliverAddr">
            <span class="tip"><i class="red">*</i></span>
        </div>

        <div class="field set-field">
            <label for="" class="field-label">模板描述：</label>
            <input type="text" name="description"
                   value="<?php echo isset($freight['description']) ? $freight['description'] : ''; ?>"
                   style="width: 300px;">
            <span class="tip"></span>
        </div>

        <div class="field set-field">
            <label for="" class="field-label">计价方式：</label>
            <label>
                <input type="radio" name="valuation_way" class="ace valuation_way" value="number"
                <?php echo isset($freight['valuation_way']) ? ($freight['valuation_way'] == "number" ? "checked" : '') : "checked"; ?>
                ">
                <span class="lbl"> <b>按件数</b></span>
            </label>

            <label>
                <input type="radio" name="valuation_way" class="ace valuation_way" value="volume"
                    <?php echo isset($freight['valuation_way']) && $freight['valuation_way'] == "volume" ? "checked" : ''; ?>
                    >
                <span class="lbl"> <b>按体积</b></span>
            </label>

            <label>
                <input type="radio" name="valuation_way" class="ace valuation_way" value="weight"
                    <?php echo isset($freight['valuation_way']) && $freight['valuation_way'] == "weight" ? "checked" : ''; ?>
                    >
                <span class="lbl"> <b>按重量</b></span>
            </label>
            <span class="help-inline"><i class="red">*</i></span>
        </div>

        <div>
            <label for="" class="field-label">运送方式：</label>
            <label><input name="mail_mode[]" type="checkbox" class="deliverMethod" id="express" value="express"
                    <?php echo in_array('express', $freight_mails) ? "checked" : ""; ?>
                    >快递</label>
            <label><input name="mail_mode[]" type="checkbox" class="deliverMethod" id="ems" value="ems"
                    <?php echo in_array('ems', $freight_mails) ? "checked" : ""; ?>
                    >EMS</label>
            <label><input name="mail_mode[]" type="checkbox" class="deliverMethod" id="mail" value="mail"
                    <?php echo in_array('mail', $freight_mails) ? "checked" : ""; ?>
                    >平邮</label>
            <i class="red">*</i>
        </div>
    </section>

    <section class="item-area">
        <?php $this->view->partial('freight/partial/all'); ?>
    </section>

    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
            <span style="margin: 0 0 0 24px;">
                 <input type="submit" value="提交" class="btn btn-success btn-sm saveFreightBtn"/>
            </span>
        <input type="reset" value="重置" class="btn btn-success btn-sm "/>
    </div>
</form>

<?php $this->view->partial('freight/partial/popup'); ?>


<script>
    seajs.use('app/panel/panel.freight', function (api) {
        api.setFreight();
        api.delItem('.delItem');
    });
</script>