<?php
/**
 * Created by PhpStorm.
 * User: Arimis
 * Date: 14-6-6
 * Time: 上午9:59
 */
use Components\Product\FreightManager;

$nev = FreightManager::init()->getFreight();
$total = count($nev);

?>

<script>
    $(document).ready(function () {

        $(".btn-primary").live('click', function (e) {
            var total = $(".freight_tpl").attr("data-total");
            if (total > 10) {
                $(this).attr("href", "/shop/freight")
                alert("對不起您已經建立超過10個模板");
                return;
            }
        })
    })
</script>


<div class="page-header">
    <h1>运费模板管理
        <span class="pull-right">
            <span class="btn-group">
                <a href="/shop/freight/add" class='btn btn-success btn-sm'>添加运费模板</a>
            </span>
        </span>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<?php echo $this->view->getContent(); ?>
<!-- /.panel-heading -->
<table class="list freight_tpl" data-total="<?php echo $total; ?>">
    <thead>
    <tr class="head">
        <th style="width: 50px;">编号</th>
        <th style="width: 200px;">名称</th>
        <th style="width: 80px;">计价方式</th>
        <th>发货地址</th>
        <th>模板描述</th>
        <th style="width: 50px;">编辑</th>
        <th style="width: 50px;">删除</th>
    </tr>
    </thead>
    <tbody class="listFright">
    <?php foreach ($nev as $item) { ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <th class="name"><?php echo $item['id']; ?></th>
            <td>
                <span class="red"><?php echo $item["tpl_name"] ?></span>
            </td>
            <td class="center">
                <span class="green"><?php echo FreightManager::$_valuation_way[$item['valuation_way']]; ?></span>
            </td>
            <td>
                <?php echo $item["deliver_address"] ?>
            </td>
            <td><?php echo $item["description"] ?></td>
            <td class="center">
                <a href="/shop/freight/add?id=<?php echo $item["id"] ?>">编辑</a>
            </td>
            <td class="center">
                <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<div style="margin: 10px 0;">
    <div class="alert alert-warning">最多可以添加10个运费模板</div>
</div>

<script>
    seajs.use('app/panel/panel.freight', function (api) {
        api.delfPost('.delBtn');
    });
</script>
