<?php
/**
 * Created by PhpStorm.
 * User: Arimis
 * Date: 14-6-6
 * Time: 上午9:59
 */

?>

<div class="page-header">
    <h1>
        物流方式管理
        <small>(用于退换货处理)</small>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<?php echo $this->view->getContent(); ?>
<!-- /.panel-heading -->
<table class="list">
    <thead>
    <tr class="head">
        <th style="width: 50px;">Logo</th>
        <th>名称</th>
        <th>费用</th>
        <th>说明</th>
        <th>是否激活</th>
        <th>设置</th>
    </tr>
    </thead>
    <tbody>
    <?php if ($logistics) { ?>
        <?php foreach ($logistics as $item) { ?>
            <tr class="odd gradeX">
                <td><?php if ($item['logo']) { ?><img src="<?php echo $item['logo'] ?>"
                                                      title="<?php echo $item['name'] ?>"
                                                      style=" height: 50px;"/><?php } ?>
                </td>
                <td>
                    <?php echo $item['name'] ?>
                </td>
                <td>
                    <?php echo $item['fee'] ?>
                </td>
                <td><?php echo $item['description'] ?></td>
                <td class="center"><?php if ($item['is_active'] == 1) { ?>已激活<?php } else { ?>未激活<?php } ?></td>
                <td>
                    <a class="item-edit" href="javascript:;" data-trigger="modal" data-target="paymentModal"
                       data-data='<?php echo json_encode($item) ?>'><i class="icon-pencil"></i>设置</a>
                </td>
            </tr>
        <?php } ?>
    <?php } else { ?>
        <tr class="even gradeC">
            <td colspan="9">还没有任何支付方式</td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<!-- edit modal -->
<div class="modal fade" id="paymentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">物流信息配置——
                    <small id="logistics_name"></small>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" id="payment_form">
                    <input type="hidden" name="logistics_key" id="logistics_key" value=""/>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">是否激活</label>
                        <span class="col-sm-10">
                            <label for="is_active">是<input name="is_active" id="is_active" type="radio"
                                                           value="1"/></label>
                            <label for="is_not_active">否<input name="is_active" id="is_not_active" type="radio"
                                                               value="0"/></label>
                            <span class="col-sm-offset-2 help-block with-errors"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="fee">费用</label>
                        <span class="col-sm-10">
                            <input name="fee" id="fee" class="col-xs-10 col-sm-5 form-control" required
                                   data-error="费用设置，不设置则为系统默认值"
                                   placeholder="费用必须填写"/>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                    <div id="config-div">
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label no-padding-right">说明</label>
                            <span class="col-sm-10">
                                <input name="description" id="description" class="col-xs-10 col-sm-5 form-control"
                                       required data-error="说明必须填写"
                                       placeholder="说明必须填写"/>
                                <span class="help-block with-errors"></span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-sm" id="saveConfig">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

