<?php
//print_r($allTpl);
foreach ($list as $item) {
    if ($item['type'] != "shop") {
        continue;
    }
    ?>
    <dl class="tpl"
        data-id="<?php echo $item['id']; ?>"
        data-cat="<?php echo $item['cat']; ?>"
        data-industry="<?php echo $item['industry']; ?>"
        data-type="<?php echo $item['type']; ?>"
        data-serial_number="<?php echo $item['serial_number']; ?>"
        >
        <dt><img src="<?php echo $item['preview']; ?>" alt="" style="width: 170px; height: 353px;"/></dt>
        <dd>
            <label class="<?php echo $curTpl_serial == $item['serial_number'] ? 'active' : ''; ?>">
                <input type="radio" name="tpl"
                       class="ace tplChoose" <?php echo $curTpl_serial == $item['serial_number'] ? 'checked' : ''; ?>/>
                <b class="lbl">
                    <?php echo $item['name']; ?>
                </b>
            </label>
        </dd>
    </dl>
<?php } ?>
