<link rel="stylesheet" href="/static/home/pc/estt/css/index.css"/>
<script src="/static/home/pc/estt/js/index.js"></script>
<!-- 代码bannar 开始 -->
<div id="banner">
    <ul id="banner_img">
        <li class="item1">
            <a href="/account/reg"> </a>
        </li>
        <li class="item2">
            <a href="/account/reg"> </a>
        </li>
        <li class="item3">
            <a href="/account/reg"> </a>
        </li>
        <li class="item4">
            <a href="/account/reg"> </a>
        </li>
        <li class="item5">
            <a href="/account/reg"> </a>
        </li>
    </ul>
    <div id="banner_ctr">
        <div id="drag_ctr"></div>
        <ul id="solider">
            <li class="first-item"></li>
            <li><img src="/static/home/pc/estt/images/s0.jpg"/></li>
            <li><img src="/static/home/pc/estt/images/s1.jpg"/></li>
            <li><img src="/static/home/pc/estt/images/s2.jpg"/></li>
            <li><img src="/static/home/pc/estt/images/s3.jpg"/></li>
            <li><img src="/static/home/pc/estt/images/s4.jpg"/></li>
            <li class="last-item"></li>

        </ul>
        <div id="drag_arrow"></div>
    </div>
</div>
<div class="clear"></div>
<!-- index_banner end-->
<!-------------------------- 成功案列 ---------------------------->
<?php $this->view->partial('base/list'); ?>
<!-------------------------- index  product---------------------------->
<?php $this->view->partial('index/product'); ?>
<script type="text/javascript" src="/static/home/pc/estt/js/td_round.js"></script>
<script>
    var curIndex = 0;
    var time = 800;
    var slideTime = 5000;
    var adTxt = $("#banner_img>li>div>.ad_txt");
    var adImg = $("#banner_img>li>div>.ad_img");
    var int = setInterval("autoSlide()", slideTime);
    $("#banner_ctr>ul>li[class!='first-item'][class!='last-item']").click(function () {
        show($(this).index("#banner_ctr>ul>li[class!='first-item'][class!='last-item']"));
        window.clearInterval(int);
        int = setInterval("autoSlide()", slideTime);
    });
    function autoSlide() {
        curIndex + 1 >= $("#banner_img>li").size() ? curIndex = -1 : false;
        show(curIndex + 1);
    }
    function show(index) {
        $.easing.def = "easeOutQuad";
        $("#drag_ctr,#drag_arrow").stop(false, true).animate({ left: index * 138 + 50 }, 300);
        $("#banner_img>li").eq(curIndex).stop(false, true).fadeOut(time);
        adTxt.eq(curIndex).stop(false, true).animate({ top: "240px" }, time);
        adImg.eq(curIndex).stop(false, true).animate({ right: "158px" }, time);
        setTimeout(function () {
            $("#banner_img>li").eq(index).stop(false, true).fadeIn(time);
            adTxt.eq(index).children("p").css({ paddingTop: "30px", paddingBottom: "50px" }).stop(false, true).animate({ paddingTop: "0", paddingBottom: "0" }, time);
            adTxt.eq(index).css({ top: "0", opacity: "0" }).stop(false, true).animate({ top: "50px", opacity: "1" }, time);
            adImg.eq(index).css({ right: "-50px", opacity: "0" }).stop(false, true).animate({ right: "50px", opacity: "1" }, time);
        }, 200)
        curIndex = index;
    }
    $(".first-item").click(function () {
        curIndex - 1 <= 0 ? curIndex = $("#banner_img>li").size() : false;
        window.clearInterval(int);
        int = setInterval("autoSlide()", slideTime);
        show(curIndex - 1);
    });
    $(".last-item").click(function () {
        curIndex + 1 >= $("#banner_img>li").size() ? curIndex = -1 : false;
        window.clearInterval(int);
        int = setInterval("autoSlide()", slideTime);
        show(curIndex + 1);
    });

    function autoSlide() {
        curIndex + 1 >= $("#banner_img>li").size() ? curIndex = -1 : false;
        show(curIndex + 1);
    }
</script>






