<!---------------------------------------    产品标题    ------------------------------------->
<div class="nm_text_product">
    <a class="right h2" href="/home/func">更多</a>
    <a class="h1" href="">酷炫微网站</a>
</div>
<!--/产品标题-->
<!--产品展示小图标-->
<div class="cl" style="width: 100%; position: relative;">
<div class="servicesBox">
    <div id="serBox1" class="serBox" onclick="serFocus(1)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a1.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b1.png"/>
        </div>
        <div class="txt1">
            <span class="tit">灵活的</span>
            <span class="tit">个性化设置</span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=vshop" class="a_jump">
                <p>用户可以自定义LOGO、幻灯片、快捷导航等个性设置。</p>
            </a>
        </div>
    </div>
    <div class="fgH20"></div>
    <div id="serBox2" class="serBox" onclick="serFocus(2)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a2.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b2.png"/>
        </div>
        <div class="txt1">

            <span class="tit">独创的</span>
        <span class="tit">
         访问权限控制
        </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=reser" class="a_jump">
                <p> 根据会员分类，设置不同的阅读权限，让用户阅读的内容更有针对性和可控性。</p>
            </a>
        </div>
    </div>

    <div class="fgH20"></div>
    <div id="serBox3" class="serBox" onclick="serFocus(3)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a3.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b3.png"/>
        </div>
        <div class="txt1">
            <span class="tit">图文并茂的</span>

        <span class="tit">
           内容管理
        </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=car" class="a_jump">
                <p>内容发布更简单，样式更多样，像用word一样简单强大。</p>
            </a>
        </div>
    </div>

    <div class="fgH20"></div>
    <div id="Div1" class="serBox" onclick="serFocus(3)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a4.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b4.png"/>
        </div>
        <div class="txt1">
            <span class="tit">丰富的模板引擎</span>

        <span class="tit">
          多套样式选择
        </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=estate" class="a_jump">
                <p>
                    支持细分页面模板设置、套装模板，样式丰富多样。
                </p>
            </a>
        </div>
    </div>

    <div class="fgH20"></div>
    <div id="Div2" class="serBox" onclick="serFocus(3)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a5.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b5.png"/>
        </div>
        <div class="txt1">
            <span class="tit">专业的</span>

        <span class="tit">
           行业细分模板
        </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=cate" class="a_jump">
                <p>
                    专业的行业量身打造，在这里总能找到你想要的和适合你的。
                </p>
            </a>
        </div>
    </div>
    <!--/产品展示小图标-->
    <div class="clear"></div>
</div>
<!------------------------------------  超级商城     ----------------------------------------->
<div class="nm_text_product">
    <a class="right h2" href="/home/func">更多</a>
    <a class="h7" href="">超级商城</a>
</div>
<!--/产品标题-->
<!--产品展示小图标-->
<div class="cl" style="width: 100%; position: relative;">
<div class="servicesBox">
    <div id="serBox1" class="serBox" onclick="serFocus(1)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a6.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b6.png"/>
        </div>
        <div class="txt1">
            <span class="tit">强大的</span>
            <span class="tit">商品属性设置</span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=vshop" class="a_jump">
                <p>自定义商品多级分类、并且商品的属性、规格跟分类关联。</p>
            </a>
        </div>
    </div>
    <div class="fgH20"></div>
    <div id="serBox2" class="serBox" onclick="serFocus(2)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a7.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b7.png"/>
        </div>
        <div class="txt1">

            <span class="tit">支付资质申请复杂？</span>
                <span class="tit">
                 试试易卖支付吧！
                </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=reser" class="a_jump">
                <p>
                    易卖电商平台支持支付宝、微信、网银支付、财付通等多种渠道，并且开通平台代收款功能，在线收款，so easy…。
                </p>
            </a>
        </div>
    </div>

    <div class="fgH20"></div>
    <div id="serBox3" class="serBox" onclick="serFocus(3)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a8.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b8.png"/>
        </div>
        <div class="txt1">
            <span class="tit">精确灵活的商品</span>

                <span class="tit">
                   价格及库存设置
                </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=car" class="a_jump">
                <p>
                    不同的规格组合对应不同的商品价格和库存，更加入商品编码管理，让商品管理更灵活和精确。
                </p>
            </a>
        </div>
    </div>

    <div class="fgH20"></div>
    <div id="Div1" class="serBox" onclick="serFocus(3)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a9.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b9.png"/>
        </div>
        <div class="txt1">
            <span class="tit">多套通用的</span>

                <span class="tit">
                 物流与运费设置
                </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=estate" class="a_jump">
                <p>
                    将各物流平台打通，自定义物流价格体系。
                </p>
            </a>
        </div>
    </div>

    <div class="fgH20"></div>
    <div id="Div2" class="serBox" onclick="serFocus(3)">
        <div class="serBoxOn"></div>
        <div class="pic1 mypng">
            <img src="/static/home/pc/estt/images/index_a10.png"/>
        </div>
        <div class="pic2 mypng">
            <img src="/static/home/pc/estt/images/index_b10.png"/>
        </div>
        <div class="txt1">
            <span class="tit">多套强大的</span>

                <span class="tit">
                    组合营销工具
                </span>
        </div>
        <div class="txt2">
            <a href="product/Product.aspx?hash=cate" class="a_jump">
                <p>
                    通过积分将会员与商城体系深度结合，激发用户消费欲望。
                </p>
            </a>
        </div>
    </div>
    <!--/产品展示小图标-->
    <div class="clear"></div>
</div>
</div>
<!---------------------------------------   全面的CRM位置 --------------------------------------->
<div class="nm_text_product text1 ">
    <a class="right h2" href="/home/func">更多</a>
    <a class="h3" href="">全面的CRM功能</a>
</div>
<!--/产品标题-->
<!--产品展示小图标-->
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a11.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b11.png"/>
            </div>
            <div class="txt1">
                <span class="tit">轻松打通</span>
                <span class="tit">主流电商与社交平台</span>

            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=vshop" class="a_jump">
                    <p>微信、微博、易信、淘宝、支付宝、京东、1号店等多平台会员的集中管理，轻松方便。</p>
                </a>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a12.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b12.png"/>
            </div>
            <div class="txt1">
                <span class="tit">人性化的</span>
                    <span class="tit">
                        客服体系
                    </span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=reser" class="a_jump">
                    <p>注重企业与用户的沟通，增强用户粘性，通过留言板、微投票、微调研等一系列互动工具，
                        加强企业跟客户的交流，及时、准确的了解客户的真实需求和感受，提升企业品牌形象和服务质量。
                    </p>
                </a>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox3" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a13.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b13.png"/>
            </div>
            <div class="txt1">
                <span class="tit">灵活多变的</span>
                <span class="tit">
                   会员等级制度
                </span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=car" class="a_jump">
                    <p>
                        人以群分，将会员分类管理，可方便针对不同的客户进行区别营销。
                    </p>
                </a>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div1" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a14.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b14.png"/>
            </div>
            <div class="txt1">
                <span class="tit">客制化的</span>
                <span class="tit">
                   积分设置
                </span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=estate" class="a_jump">
                    <p>
                        灵活多变的积分体系，最大化的满足不同的营销需求。
                    </p>
                </a>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a15.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b15.png"/>
            </div>
            <div class="txt1">
                <span class="tit">强大的</span>
                <span class="tit">
                    会员营销体系
                </span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=cate" class="a_jump">
                    <p>
                        将用户的积分与用户行为挂钩，提升用户参与平台的积极性，提升企业活动的转化率。
                    </p>
                </a>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
</div>
<!--------------------------------------   其他营销手段 ---------------------------------------->
<div class="nm_text_product  text1">
    <a class="right h2" href="/home/func">更多</a>
    <a class="h4" href=""> 其他营销手段</a>
</div>
<!--/产品标题-->
<!--产品展示小图标-->
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a16.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b16.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微服务</span>

                <p></p>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=vshop" class="a_jump">
                    <p>包含时下流行的各种生活小工具，如：天气查询、彩票查询、股票查询、百度百科、快递查询、
                        火车票查询航班查询等等功能，方便人们生活，增强用户粘性。
                    </p>
                </a>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a17.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b17.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微活动</span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=reser" class="a_jump">
                    <p>

                    提供多种与用户积分、等级、甚至是奖品挂钩的活动，提升平台人气，吸引用户入驻，如：刮刮卡、大转盘、21点、翻纸牌、幸运老虎机等
                    </p>
                </a>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a18.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b18.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微游戏</span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=car" class="a_jump">
                    <p>2048、打死神经猫、捕鱼大亨等</p>
                </a>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div1" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a19.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b19.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微行业</span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=estate" class="a_jump">
                    <p>根据不同的行业，设置不同的模板和功能，实现行业用户的快速入驻和推广。 <p>
                </a>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/index_a20.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/index_b20.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微应用</span>
            </div>
            <div class="txt2">
                <a href="product/Product.aspx?hash=cate" class="a_jump">
                    <p>
                        贺卡、邀请卡等小应用，提升企业品牌形象、简化企业宣传活动流程。
                    </p>
                </a>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
</div>
<!---------------------------------------- 更多功能开发 --------------------------------------->
<div class="nm_text_product  text1">
    <a class="right h2" href="/home/func">更多</a>
    <a class="h5" href="">更多功能开发 </a>
</div>
<div class="maintab">
    <div id="more_func_develop">
        <ul class="tab_menu">
            <li class="selected"><img src="/static/home/pc/estt/images/index_more_h1.png"></li>
            <li><img src="/static/home/pc/estt/images/index_more_h2.png"></li>
            <li><img src="/static/home/pc/estt/images/index_more_h3.png"></li>
            <li><img src="/static/home/pc/estt/images/index_more_h4.png"></li>
            <li><img src="/static/home/pc/estt/images/index_more_h5.png"></li>
            <li><img src="/static/home/pc/estt/images/index_more_h6.png"></li>
            <li><img src="/static/home/pc/estt/images/index_more_h7.png"></li>
        </ul>
        <div class="tab_box">
            <div >
                <div class="tab_box_lf">
                    <h3>&bull;会员行为分析</h3>
                    <p>
                        统计用户访问量和某一页面的访问停留时间，有助于商家具有针对性的策划、调整营销方案，提升网站曝光度。
                    </p>
                    <img src="/static/home/pc/estt/images/index_tab_laiyuan.png" />
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_qushitu.png" />
                </div>
            </div>
            <div class="hide">
                <div class="tab_box_lf">
                    <h3>&bull;微邀请</h3>
                    <p>微邀请的出现是传统请帖的一次大变革，微邀请面向所有行业。直接通过微信送达，免去纸质请帖找人传递的烦恼，展现内容更多，一页请帖包括：图片，视频，导航，日程安排，人物介绍...受邀者发送回函，互动形式更多。</p>
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_weiyaoqing.png" />
                </div>
            </div>
            <div class="hide">
                <div class="tab_box_lf">
                    <h3>&bull;微团购</h3>
                    <p>微团购商家管理分为后台管理及门店管理两个部分。后台管理分为团购管理、订单管理、团购券管理以及会员管理、退款管理：团购管理包括新建团购、复制团购、上架管理、添加通知等功能；订单管理及团购券管理主要功能为查询与导出；会员管理中可以看到会员消费总数据；退款管理中可以查看用户的退款信息。门店管理分为团购券验证及团购券管理两部分：团购券验证可以验证适用门店已选择当前门店的团购券；团购券管理仅支持已被授权的团购。</p>
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_weituangou.png" />
                </div>
            </div>
            <div class="hide">
                <div class="tab_box_lf">
                    <h3>&bull;微贺卡</h3>
                    <p>商家可以通过微设置贺卡，为活动和促销起到宣传的广告效应，提升活动的趣味性和宣传性。</p>
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_weiheka.png" />
                </div>
            </div>
            <div class="hide">
                <div class="tab_box_lf">
                    <h3>&bull;商品分销</h3>
                    <p>商家可以通过分销设置，把自己的商品分销给多个零售商和其它批发商，实现多门店多渠道多方位销售的目的。分销系统满足了商家对销售额和品牌宣传的诉求。</p>
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_spfenxiao.png" />
                </div>
            </div>
            <div class="hide">
                <div class="tab_box_lf">
                    <h3>&bull;易信接入</h3>
                    <ul>
                        <li>绑定：手动设置和一键自动绑定</li>
                        <li>微信自定义菜单设置</li>
                        <li>自定义回复：首次关注回复、设置关键词回复、任意消息回复</li>
                    </ul>
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_yixin.png" />
                </div>
            </div>
            <div class="hide">
                <div class="tab_box_lf">
                    <h3>&bull;百度直达号</h3>
                    <span>随时随地 直达所需</span>
                    <p>商家在百度移动平台的官方服务账号。基于移动搜索、@账号、地图、个性化推荐等多种方式，让亿万客户随时随地直达商家服务<p>
                </div>
                <div class="tab_box_rt">
                    <img src="/static/home/pc/estt/images/index_tab_baiduzd.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------- 成功案列 --------------------------------------->
<div class="nm_text_product">
    <a class="right h2" href="/home/func">更多</a>
    <a class="h6" href=""> 成功案列</a>
</div>
<div class="s_wrapper">
    <div class="maincontent">
        <div class="carousel">
            <div id="box">
                <div class="mask" id="mask"></div>
                <pre class="prev">prev</pre>
                <pre class="next">next</pre>
                <ul>
                    <li class="list">
                        <a href="javascript:;"><img src="/static/home/pc/estt/images/d_list1.jpg"/></a>
                    </li>
                    <li class="list">
                        <a href="javascript:;"><img src="/static/home/pc/estt/images/d_list2.jpg"/></a>
                    </li>
                    <li class="list">
                        <a href="javascript:;" ><img src="/static/home/pc/estt/images/d_list3.jpg"/></a>
                    </li>
                    <li class="list">
                        <a href="javascript:;"><img src="/static/home/pc/estt/images/d_list4.jpg"/></a>
                    </li>
                    <li class="list">
                        <a href="javascript:;"><img src="/static/home/pc/estt/images/d_list5.jpg"/></a>
                    </li>
                    <li class="list">
                        <a href="javascript:;" ><img src="/static/home/pc/estt/images/d_list6.jpg"/></a>
                    </li>
                    <li class="list">
                        <a href="javascript:;" ><img src="/static/home/pc/estt/images/d_list7.jpg"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</div>