<div id="container" class="container">
    <p class="show-path">
        <i class="icon icon-home"></i>
        <a href="<?php echo $this->uri->appUrl(''); ?>">首页</a>
        <i class="icon icon-double-angle-right"></i>
        <a href="<?php echo $this->uri->appUrl('article'); ?>">新闻中心</a>
    </p>

    <div id="news">
        <ul class="list list-part">
            <?php
            if ($list) {
                foreach ($list as $item) {
                    ?>
                    <li>
                        <a href="<?php echo $this->uri->baseUrl('/article/topic/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                            <dl>
                                <dt>
                                    <img src="/static/wap/images/default/loading.gif" class="ui-imglazyload"
                                         data-original="<?php echo \Util\ImgSize::getSize($item['cover'], 80) ?>"
                                         alt=""/>
                                </dt>
                                <dd>
                                    <i class="icon icon-angle-right icon-right"></i>
                                    <h4 class="title"><?php echo $item['name'] ?></h4>

                                    <p><?php echo $item['detail']; ?></p>
                                </dd>
                            </dl>
                        </a>
                    </li>
                <?php
                }
            } else {
                ?>
                <li>
                    <p>暂无分类</p>
                </li>
            <?php } ?>
        </ul>
    </div>
    <div>
        <?php \Util\Pagination::instance($this->view)->display($this->view, false); ?>
    </div>
</div>