<link rel="stylesheet" href="/static/home/pc/reach/css/plan.css"/>

<div class="wrapper">
    <div class="main">
        <div class="plan_tit">
            <div class="plan_zn_tit">公司行业应用五大解决方案</div>
            <div class="plan_en_tit">Five companies industry application solutions</div>
        </div>
        <div class="content">
            <p class="plan_style1" >微电商分销解决方案</p>
            <p class="plan_style2">为客户（特别是拥有连锁门店或大量销售人员的客户）提供全员微信、微博营销的支持。</p>
            <p class="plan_style1">微电商多层直销解决方案</p>
            <p class="plan_style2">为客户提供复杂的多层销售人员的不同分成比例制度的微信，微博营销的支持。</p>
            <p class="plan_style1">微电商招商批发解决方案</p>
            <p class="plan_style2">为批发商客户专门提供多级分销的微信，微博手机商城的销售与管理的支持。</p>
            <p class="plan_style1">微电商吸粉解决方案</p>
            <p class="plan_style2">为客户提供为微信，微博吸粉的网上解决方案，以及线下软硬件结合的吸粉解决方案，包括无线WIFI方案，微信打印机方案等。</p>
            <p class="plan_style1">微电商O2O解决方案</p>
            <p class="plan_style2">为客户提供各行业独有的O2O微电商解决方案，涉及微商城，手机软件APP，软硬件结合等。</p>
        </div><!--content end-->
        <div class="clear"></div>
    </div><!--main end-->
</div><!--wrapper end-->