.clr {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.copyright {
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.copyright a {
    color: #666;
}

h2 {
    font-size: 16px;
}

/*cate4*/
#cate4 {
    background-color: #F0EFEF;
    overflow-x: hidden;
}

#todayList {
    display: block;
    margin: 0 auto;
}

.todayList li {
    display: block;
    color: #222222;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
    text-decoration: none;
    background: #F9F9F9;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    /*padding:10px 8px;*/
    overflow: hidden;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset;
}

.todayList li a {
    padding: 10px 40px 9px 8px;
    display: block;
}

.todayList li.only4 a {
    padding: 10px 40px 9px 8px;
    display: block;
}

.todayList li .img {
    width: 75px;
    height: 42px;
    float: left;
    margin: 0 10px 0 0;
    display: inline;
    overflow: hidden;
    border-radius: 3px;
}

.todayList li img {
    border-radius: 3px;
    width: 75px;
    float: left;
}

.todayList li:hover {
    background-color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.todayList li:active {
    background-color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.todayList li h2 {
    font-size: 16px;
    color: #2f2f2f;
    font-weight: normal;
    height: 20px;
    font-weight: normal;
    line-height: 16px;
    padding: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    white-space: normal;
    overflow: hidden;
}

.todayList li.only4 h2 {
    padding: 2px 0 0;
}

.todayList li p.onlyheight {
    height: 16px; /*margin-bottom:5px*/
}

.todayList li p {
    display: block;
    font-size: 12px;
    color: #9C9C9C;
    line-height: 16px;
    font-weight: normal;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis; /*white-space: nowrap;*/
    padding-right: 2px;
}

.todayList li.only4 p {
    white-space: nowrap;
}

.todayList li .icon {
    margin-top: -6px;
    position: absolute;
    top: 50%;
    right: 10px;
    height: 14px;
    width: 14px;
    background-size: 14px 14px;
}

.todayList li.only4 a {
    padding: 5px 40px 4px 5px;
}

.todayList li .img {
    border-radius: 3px;
    height: 60px; /*图片高度*/
    width: 60px; /*图片宽度*/
    margin: 0 10px 0 0;
}

.todayList li img {
    width: 60px; /*图片宽度*/
}

.todayList li p.onlyheight {
    height: 32px; /*分类描述*/
}

.todayList li.only4 p {
    white-space: normal;
}

/*iscroll*/

.banner {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #151515;
}

#wrapper {
    margin: 0;
    width: 100%;
    height: auto;
    float: left;
    position: relative; /* On older OS versions "position" and "z-index" must be defined, */
    z-index: 1; /* it seems that recent webkit is less picky and works anyway. */
    overflow: hidden;

}

#scroller {
    height: auto;
    float: left;
    padding: 0;
}

#scroller ul {
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: left;
}

#scroller li {

    display: block;
    float: left;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 0px;
    padding: 0;
    position: relative;
}

#scroller li a {

    display: block;
    padding: 0;
    margin: 0;
}

#scroller li p {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #F4F4F4;
    font-size: 14px;
    text-indent: 55px;
    line-height: 24px;
    text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

#nav {
    float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
    float: left;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0;
    width: 80px;
    display: none;
}

#next {
    float: right;
    text-align: right;
}

#indicator > li {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

#indicator {
    display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
    text-indent: -9999em;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #888;
    overflow: hidden;
    margin-right: 4px;
}

#indicator > li.active {
    background: #DDDDDD;
}

#indicator > li:last-child {
    margin: 0;
}

/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;

}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 25px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}
/*列表布局 1.css*/
.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {

    overflow: hidden;
    color: #666;
    padding-top: 5px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}

/*详情布局 1.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    color: #666;
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
}

.article-info{
    color: #666;
}
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}
/*------------------------------------- wz.css ------------------------------------------------------*/
#cate1{background-color: #F0F0F0;overflow-x: hidden;}
#cate1 .mainmenu{display: block; margin: 0 auto; padding: 5px; width: 310px;}
#cate1 .mainmenu li{width:50%; float:left; display: block; margin-right: -0.5px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn{display: block; text-decoration:none; color:#000; background-color: #ffffff; border-radius: 5px; margin:5px; box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;}
#cate1 .mainmenu li .menubtn:hover{background-color: #f5f5f5;}
#cate1 .mainmenu li a{display:block; padding:0px; font-size:14px; color: #000000; text-decoration: none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn .menumesg{padding:0px}
#cate1 .mainmenu li .menubtn .menuimg{height:100px; overflow:hidden; border-radius: 5px 5px 0 0; background-color: #F5F5F5;}
#cate1 .mainmenu li div img{border:0; width:100%; min-height:100px; border-radius: 5px 5px 0 0;}
#cate1 .mainmenu li .menutitle{text-align:center; padding: 5px; text-decoration: none; color:#000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*------------------------------------- wz.css end --------------------------------------------------*/
