/*主色彩*/
#header{background: #F5F5F5; position: relative; z-index: 99; display: block; color: #666; height: 45px;}
#header a, .header a{color: #333;}
#header .title, .header .title{font-size: 14pt; display: block; line-height: 45px; height: 45px; text-overflow: ellipsis; white-space: nowrap; z-index: 2; position: absolute; top: 0; left: 10px;}
#header .name{float: left;}
#header a.back{display: block; float: left; width: 45px; height: 45px;}
#header a.back:focus{background-color: #DCDCDC;}
#header a.back span{display: block; background: url(/static/wap/images/tpl/shop.png) no-repeat -50px 0; background-size: 100px 100px; margin: 10px auto 0; height: 25px; width: 25px;}
#header .right, .header .right{position: absolute; right: 0; top: 0;}
#header .right .searchbtn{display: block; position: relative; height: 35px; width: 45px; right: 45px; padding-top: 10px;}
#header .right .user{display: block; position: absolute; height: 20px; width: 20px; right: 100px; top: 12px; background: url('/static/wap/images/tpl/detail.png') no-repeat scroll 0 -98px; background-size: 80px 136px;}
#header .right .user.home-user{right: 56px;}
#header .right .searchbtn:focus{background: #DCDCDC;}
#header .right .searchbtn span{background: url(/static/wap/images/tpl/shop.png) no-repeat 0px 0; display: block; height: 25px; width: 25px; margin: 0 auto; background-size: 100px 100px;}
#header .center{display: block; font-size: 14pt; color: #333; text-align: center; white-space: nowrap; line-height: 45px; margin-left: 65px; margin-right: 90px;}
#header img, .header img{height: 36px; vertical-align: middle;}
#header img.logo, .header img.logo{height: 24px; width: auto; margin-bottom: 4px; margin-right: 4px;}
.header{font-size: 14pt; display: block; padding-left: 10px; font-weight: bolder; margin-right: 67px; text-align: center; line-height: 42px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#header .catbtn{position: absolute; right: 0; top: 0; width: 45px; height: 35px; padding-top: 10px;}
#header .catbtn:focus{background-color: #DCDCDC;}
#header .catbtn span{background: url(/static/wap/images/tpl/shop.png) no-repeat -25px 0; display: block; width: 25px; height: 25px; margin: 0 auto; background-size: 100px 100px;}
#header .ui-dropmenu{background: rgba(0, 0, 0, 0.5); box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); color: #fff; font-size: 12pt; z-index: 999;}
#header .ui-dropmenu a{color: #fff; padding: 8px 12px;}
#header .ui-dropmenu a .icon{}
#header .ui-dropmenu .ui-arrow{display: none;}
#header .ui-dropmenu .ui-dropmenu-items li{}
#header .ui-dropmenu:after{position: absolute; top: -12px; right: 22px; content: ""; width: 0; height: 0; border: 12px solid transparent; border-bottom: 12px solid rgba(0, 0, 0, 0.5); border-top: none;}
#header #menu{background: #e9e9e9; display: inline-block; border-left: 1px solid #f9f9f9; border-right: 1px solid #f9f9f9;}
.foot{ color: #999; line-height: 160%; text-align: center; padding: 8px 0 44px;}
.foot .copyInfo{line-height: 36px;}
.foot .go-register{color: #ff6e00;}
.footer{font-size: 10pt; text-align: center; color: #666; line-height: 160%; width: 100%; position: fixed; left: 0; bottom: 0; z-index: 99;}
.footer-nav{border-top: 1px solid #E0E0E0;}
.footer-nav .parent{float: left; height: 36px; overflow: hidden; text-align: center; line-height: 36px; background: url("/static/wap/images/tpl/nav.png") repeat-x 0 -16px;}
.footer-nav.shop-nav .parent{width: 25%;}
.footer-nav.shop-nav li{width: 25%;}
.footer-nav .parent a{display: block; height: 36px; border-right: 1px solid #ccc;}
.footer-nav .parent:last-child a{border: none;}
.footer-nav .parent a img.img_icon{width: 14px; height: 14px; vertical-align: middle;}
.footer-nav.shop-nav .searchNav{font-size: 9pt; line-height: 1;}
.footer-nav.shop-nav .searchNav .goUpBtn{border: 1px solid #666; height: 14px; line-height: 14px; padding: 2px 8px; font-size: 9pt; margin: -2px 0 2px 0; border-radius: 5px; display: inline-block;}
.footer-nav.shop-nav .cart_count{font-size: 10px; width: 12px; height: 12px; line-height: 12px; display: inline-block; text-align: center; border-radius: 6px; vertical-align: middle; margin: -10px 0 0 -2px; background: #EA2818; color: #fff;}
.footer .footer-nav .parent .ui-dropmenu{min-width: 100px !important;}
.footer .footer-nav .ui-mark-temp .ui-dropmenu-items li{line-height: 20px; height: 20px; float: none !important; width: 100%;}
.footer .footer-nav .ui-dropmenu-items li{float: none !important;}
.footer .footer-nav .ui-dropmenu-items li a{display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333; white-space: nowrap; text-decoration: none;}
.footer-nav li{float: left; height: 36px; overflow: hidden; text-align: center; line-height: 36px; background: url("/static/wap/images/tpl/nav.png") repeat-x 0 -16px;}
.footer-nav.shop-nav li{width: 25%;}
.footer-nav li a{display: block; height: 36px; border-right: 1px solid #ccc;}
.footer-nav li:last-child a{border: none;}
.footer-nav li a img.img_icon{width: 14px; height: 14px; vertical-align: middle;}
.footer-nav.shop-nav .searchNav{font-size: 9pt; line-height: 1;}
.footer-nav.shop-nav .searchNav .goUpBtn{border: 1px solid #666; height: 14px; line-height: 14px; padding: 2px 8px; font-size: 9pt; margin: -2px 0 2px 0; border-radius: 5px; display: inline-block;}
.footer-nav.shop-nav .cart_count{font-size: 10px; width: 12px; height: 12px; line-height: 12px; display: inline-block; text-align: center; border-radius: 6px; vertical-align: middle; margin: -10px 0 0 -2px; background: #EA2818; color: #fff;}
.footer .footer-nav .parent .ui-dropmenu{min-width: 100px !important;}
.footer .footer-nav .ui-mark-temp .ui-dropmenu-items li{line-height: 20px; height: 20px; float: none !important; width: 100%;}
.footer .footer-nav .ui-dropmenu-items li{float: none !important;}
.footer .footer-nav .ui-dropmenu-items li a{display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333; white-space: nowrap; text-decoration: none;}