<?php
use Models\Shop\Shop;
use Multiple\Wap\Helper\SiteData;

$slider = SiteData::init()->getFocus('focus_slider');
//$cat=ArticleHelper::init()->getArticleCat();
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$store = $store ? $store->toArray() : [];

?>
<style>
    body {

    }
</style>
<style>

</style>

<div>

</div>
<div id="cate1">
    <div class="banner">
        <div id="wrapper" style="overflow: hidden;">
            <div id="scroller"
                 style="width: 4749px; -webkit-transition: 0ms; transition: 0ms; -webkit-transform: translate3d(-3166px, 0px, 0px) scale(1);">
                <ul id="thelist">
                    <?php foreach ($slider as $val) { ?>
                        <li style="height: 200px;"><p><?php echo $val['name'] ?></p><a
                                href="<?php echo $val['link'] ?>"><img src="<?php echo $val['img'] ?>"
                                                                       style="width: 1583px;"></a></li>
                    <?php } ?>
                </ul>
            </div>
        </div>
        <div id="nav">
            <div id="prev">← prev</div>
            <ul id="indicator">
                <?php $i = 1;
                foreach ($slider as $key => $val) {
                    ?>
                    <li class="<?php if ($i == 1) {
                        echo 'active';
                    } ?>"><?php echo $i; ?></li>
                    <?php $i++;
                } ?>
            </ul>
            <div id="next">next →</div>
        </div>
        <div class="clr"></div>
    </div>
    <div id="insert1"></div>
    <script src="/static/wap/js/iscroll.js"></script>
    <div id="insert2"></div>
    <div style="display:none"></div>
    <div style="display:none">
    </div>
    <ul class="mainmenu" style="width:auto;padding: 0;">
        <?php foreach ($navs as $item) { ?>
            <?php if ($item['cover_img']): ?>
                <li>
                    <div class="menubtn">
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                            <div class="menumesg">
                                <div class="menuimg">
                                    <img src="<?php echo $item['cover_img'] ?>">
                                </div>
                                <div class="menutitle"><?php echo $item['name'] ?></div>
                            </div>
                        </a>
                    </div>
                </li>
            <?php endif; ?>
        <?php } ?>
        <div class="clr"></div>
    </ul>
    <div id="insert2"></div>
    <div style="display:none"></div>

    <div class="copyright"></div>

    <script>
        var count = document.getElementById("thelist").getElementsByTagName("img").length;
        for (i = 0; i < count; i++) {
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";

        }
        document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
        setInterval(function () {
            myScroll.scrollToPage('next', 0, 400, count);
        }, 3500);
        window.onresize = function () {
            for (i = 0; i < count; i++) {
                document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";

            }
            document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
        }
    </script>
    <script type="text/javascript">
        var myScroll;
        function loaded() {
            myScroll = new iScroll('wrapper', {
                snap: true,
                momentum: false,
                hScrollbar: false,
                onScrollEnd: function () {
                    document.querySelector('#indicator > li.active').className = '';
                    document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
                }
            });

        }
        document.addEventListener('DOMContentLoaded', loaded, false);
    </script>

</div>
