body{background: #fff;}
.dialog{display: none;}
.cart-money{color: #F86D00;font-size: 12pt;}
.cart-page .shop-cart{border: none;}
/* 购物车*/
.cart-page{margin: 0;padding: 0;}
.cart-page .card-head{vertical-align: middle;line-height: 50px;height: 50px;padding: 0 8px;background: #FCFCFC;border-bottom: 1px solid #DFDFE0;margin: 0 0 12px;}
.cart-page .card-head .name{font-size: 14px;color: #333;}
.cart-page .card-head img{height: 30px;display: inline-block;vertical-align: middle;padding: 0 0 5px;}
.cart-page .shop-cart{color: #666;font-size: 9pt;}
.cart-page .shop-cart .item{border: 1px solid #DBDBDB;border-left: none;border-right: none;margin: 0 0 8px;}
.cart-page .shop-cart .item.shortage{color: #999;border-color: #f0f0f0;background: #FBFBFB;}
.cart-page .shop-cart .item-info{vertical-align: middle;width: 100%;font-size: 14px;height: 96px;}
.cart-page .shop-cart .item-info th{width: 40px;vertical-align: middle;text-align: center;}
.cart-page .shop-cart .item-info th .chk, .chooseTotal{width: 24px;height: 24px;display: inline-block;background: url("/static/wap/images/order/checkbox.png") no-repeat center center;background-size: 16px;}
.cart-page .shop-cart .item-info th .chk.checked, .chooseTotal.checked{background-image: url("/static/wap/images/order/checkbox1.png");}
.cart-page .shop-cart .item-info .preview{width: 80px;vertical-align: middle;}
.cart-page .shop-cart .item-info .preview img{width: 80px;}
.cart-page .shop-cart .item-info .more{padding: 5px 8px;}
.cart-page .shop-cart .item-info .more .item-name{line-height: 150%;overflow: hidden;padding: 5px 5px 5px 0;height: 40px;margin: 0 0 5px;}
.cart-page .shop-cart .item-info .more .item-name a{color: #8B8B8B;}
.cart-page .shop-cart .subtotal{height: 36px;line-height: 36px;padding: 0 8px;font-size: 14px;background: #FBFBFB;border-top: 1px dotted #E0E0E0;}
.cart-page .shop-cart .delCart img{padding: 8px 0 0;height: 20px;}
.cart-page .settlement{height: 50px;padding: 0 8px;font-size: 14px;line-height: 50px;border-bottom: 1px solid #E0E0E0;}
.cart-page .settlement *{vertical-align: middle;}
.plusBtn, .minusBtn{border: 1px solid #E0E0E0;height: 20px;line-height: 20px;width: 16px;font-size: 20px;font-weight: normal;background: #f0f0f0;text-align: center;vertical-align: middle;display: inline-block;}
.settlement a.saveCartBtn{color: #fff;display: none;}
/*结算*/
.order-wrap{clear: both;}
.order-wrap .order-head{color: #666;border-top: 1px solid #DEDEDE;background: #FBFBFB;margin: 12px 0 0;line-height: 50px;font-size: 12pt;padding: 0 10px;}
.order-wrap .order-head .order_number{color: #999;font-family: 'monospace';}
.order-wrap .order-detail{background: #FBFBFB;border-top: 1px solid #DEDEDE;border-bottom: 1px solid #E0E0E0;padding: 0 0 1px;}
.order-wrap .order-detail .detail{color: #333;clear: both;height: 70px;margin: 10px 0 0;padding: 0 10px;}
.order-wrap .order-detail .freight_li{border-bottom: 1px dotted #E0E0E0; height: auto; overflow: hidden;}
.order-wrap .order-detail .freight_select{margin-bottom: 10px; margin-right: 20px;}
.order-wrap .order-detail .freight_select .freight_price{display: inline-block;margin-left: 10px;color: #F86D00;font-size: 12pt;}
.order-wrap .order-detail .detail dt{width: 59px;height: 59px;overflow: hidden;margin: 0 10px 0 0;float: left;padding: 1px;border: 1px solid #ccc;border-radius: 3px;}
.order-wrap .order-detail .detail dt img{width: 59px;border-radius: 3px;}
.order-wrap .order-detail .detail dd{color: #666;}
.order-wrap .order-detail .detail dd .name{color: #8c8c8c;height: 36px;line-height: 120%;overflow: hidden;font-size: 14px;padding: 2px 0;}
.order-wrap .order-detail .item-foot{padding: 10px ;}
.order-wrap .order-detail .total-line{line-height: 20px;background: #eee;padding: 5px;color: #333;border-bottom: 1px solid #eee;}
.order-wrap .order-foot{margin: 8px 0 0;line-height: 36px;}
.order-wrap .order-count{border-radius: 5px;border: 1px solid #e0e0e0;font-size: 14px;line-height: 160%;color: #666;background: #EEEDEE;padding: 12px;margin: 10px;}
.choose-address{width: 100%;position: relative;background: #FBFBFB;}
.choose-address .address-head{font-size: 12pt;line-height: 50px;border-top: 1px solid #D0D0D0;border-bottom: 1px solid #D0D0D0;padding: 0 10px;color: #666;margin: 0 0 5px;}
.choose-address .address-content{font-size: 14px;display: block;color: #666;line-height: 160%;padding: 10px;border-bottom: 1px solid #E2E2E2;}
.choose-address .rightBtn{color: #666;font-size: 24px;display: inline-block;width: 36px;text-align: right;}
.addrManage{position: absolute;left: 0;top: 0;z-index: 99;width: 100%;height: 100%;background: #fff;display: none;}
.addrHead .hideAddrManageBtn, .addrHead .hideAddrFormBtn{color: #666;font-size: 24px;display: inline-block;width: 36px;text-align: left;}
.addrHead{border-bottom: 1px solid #DADADA;height: 50px;line-height: 50px;padding: 0 6px;font-size: 12pt;background: #FBFBFB;margin: 0 0 12px;position: relative;}
.addrHead .center{position: absolute;left: 60px;right: 60px;top: 0;display: block;text-align: center;}
.addrManage .addr{border: 1px solid #E0E0E0;border-left: none;border-right: none;font-size: 14px;line-height: 160%;background: #FBFBFB;color: #666;margin: 5px 0;}
.addrManage .addr.choosed{border: 2px solid #F70701;background: url("/static/wap/images/order/choosed.png") no-repeat bottom right;background-size: 24px;}
.addrManage .addr-act{height: 40px;line-height: 40px;padding: 0 10px;border-top: 1px solid #E0E0E0;}
.addrManage .addr-act img{height: 18px;vertical-align: middle;}
.addrManage .addr-act .right{padding: 0 12px 0 0;}
.addrManage .addr-act .rmAddrBtn{padding: 0 0 0 40px;}
.addrManage .addr-content{display: block;padding: 10px;position: relative;}
.addrManage .addr-content .address{}
.addrManage .addr-content .choose-address{display: none;}
.addrManage .addrForm{position: absolute;left: 0;top: 0;display: none;width: 100%;height: 100%;background: #fff;}
.addrManage .addrForm .field{margin: 0 0 20px;}
.addrManage .addrForm p{display: block;margin: 8px;}
.addrManage .addrForm p input{display: block;box-sizing: border-box;height: 30px;line-height: 30px;border-radius: 3px;font-size: 14px;width: 100%;border-color: #ccc;}
.addrManage .addrForm p label{display: inline-block;font-size: 12pt;color: #666;}
.addrManage .addrForm p .tip{font-size: 9pt;color: #f00;padding: 0 0 0 8px;}
.addrManage .addrForm .region-field p{position: relative;}
.addrManage .addrForm .region-field .chk_selc{margin: 8px 32px 8px 0;display: block;}
.addrManage .addrForm .region-field .chk_name{position: absolute;right: 0;top: 0;font-size: 14px;color: #666;width: 32px;text-align: center;line-height: 30px;}
.addrManage .addrForm .region-field select{display: block;box-sizing: border-box;height: 30px;font-size: 14px;line-height: 30px;color: #666;border-radius: 3px;width: 100%;border-color: #ccc;}
.settle-page .postage_choose{background: #FBFBFB;color: #666;border-top: 1px solid #E4E4E4;border-bottom: 1px solid #E0E0E0;padding: 10px;font-size: 14px;margin: 12px 0 0;}
.settle-page .postage_info{position: relative;height: 42px;line-height: 42px;margin: 0 0 8px;}
.settle-page .postage_info .name{width: 60px;}
.settle-page .postage_info .choose{}
.settle-page .postage_info .choose-wrap{position: absolute;left: 0;top: 8px;width: 100%;padding: 0 0 0 64px;}
.settle-page .postage_choose #postage{display: block;box-sizing: border-box;height: 30px;font-size: 14px;line-height: 30px;border-radius: 3px;width: 100%;border-color: #ccc;}
.settle-page .remark{display: block;box-sizing: border-box;height: 30px;line-height: 30px;border-radius: 3px;font-size: 14px;width: 100%;border-color: #ccc;}
.settle-page .settle-foot{padding: 16px;font-size: 14px;}
.coupon-widget{border: 1px solid #E0E0E0; border-left: none; border-right: none; margin: 12px 0 0; padding: 10px; line-height: 30px; font-size: 14px; position: relative; background: #FBFBFB;}
.coupon-widget .choose_coupon{position: absolute; left: 0; top: 8px; width: 100%; padding: 0 10px 0 64px;}
.coupon-widget .coupon-tip{}
.coupon-widget .choose_coupon #coupon{display: block; box-sizing: border-box; height: 30px; font-size: 14px; line-height: 30px; border-radius: 3px; width: 100%; border-color: #ccc;}
/* 支付页面 */
.pay-widget{margin: 0 0 12px;background: #FBFBFB;color: #666;}
.pay-widget .pay-head{font-size: 12pt;line-height: 36px;padding: 0 8px;border: 1px solid #DFDFE0;}
.pay-widget .pay-content{padding: 10px;font-size: 14px;border: 1px solid #E0E0E0;line-height: 150%;border-top: none;}
.pay-widget .pay-head .dot{width: 12px;height: 8px;display: inline-block;vertical-align: middle;}
.pay-widget .pay-head .small{font-size: 10pt;color: #666;}
.pay-widget .base{line-height: 30px;}
.pay-widget .payment{margin: 5px 0;display: block;}
.pay-widget .payment .label{width: 20px;display: inline-block;vertical-align: middle;text-align: center;}
.pay-widget .payment .name{width: 80px;display: inline-block;}
.pay-widget .payment .logo{display: inline-block;vertical-align: middle;text-align: center;}
.pay-widget .payment img{height: 30px;width: 90px;border: 1px solid #E0E0E0;}
/* 我的订单页*/
.order-tab{}
.order-tab .order-header{background: #FBFBFB;height: 30px;font-size: 16px;line-height: 30px;padding: 6px 10px;border-bottom: 1px solid #E0E0E0;}
.order-tab .order-nav{height: 50px;font-size: 14px;background: #F3F8F9;text-align: center;border-top: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;}
.order-tab .order-nav li{float: left;width: 25%;}
.order-tab .order-nav .active{margin: -1px 0 0;color: #F87300;border-bottom: 2px solid #F87300;}
.order-tab .order-nav .active a{color: #F87300;}
.order-tab .order-nav li a{text-align: center;width: 100%;height: 20px;line-height: 20px;margin: 15px 0;display: block;border-right: 1px solid #e0e0e0;}
.order-list{width: 100%;color: #666;background: #FBFBFB;margin: 8px 0;font-size: 14px;border-bottom: 1px solid #E8E8E8;border-top: 1px solid #E8E8E8;}
.order-list td{vertical-align: top;}
.order-list img{width: 50px;height: 50px;}
.order-list .btn{height: 12px;line-height: 12px;}
.order-list .order-head{font-size: 14px;padding: 0 10px;line-height: 44px;color: #666;}
.order-list .order-foot{line-height: 44px;padding: 0 10px;}
.order-list .order-head .base span{font-family: 'san-serif';font-weight: normal;color: #666;}
.order-list .item-list{border: 1px solid #eee;border-left: none;height: 68px;border-right: none;display: block;margin: 0;padding: 0;}
.order-list .item-list .cover{width: 60px;height: 60px;margin: 0 8px 0 0;float: left;text-align: center;}
.order-list .item-list .cover img{width: 60px;}
.order-list .item-list .detail{}
.order-list .item-list .name{}
.order-list .item-list .total{}
/* 评价列表 */
.comment-page{}
.comment-page .comment-head{height: 30px; padding: 0 10px 20px 10px; font-size: 14px; color: #666; border-bottom: 1px solid #DADADA;}
.comment-page .comment-list{}
.comment-page .comment-list .item{border: 1px solid #DADADA; border-left: none; border-right: none; margin: 12px 0; color: #666; background: #FCFCFC;}
.comment-page .comment-list .item .head{line-height: 40px; height: 40px; padding: 0 10px; overflow: hidden; border-bottom: 1px solid #DADADA;}
.pay-widget .base{line-height: 30px;}
.pay-widget .payment{margin: 5px 0; display: block;}
.pay-widget .payment .label{width: 20px; display: inline-block; vertical-align: middle; text-align: center;}
.pay-widget .payment .name{width: 80px; display: inline-block;}
.pay-widget .payment .logo{display: inline-block; vertical-align: middle; text-align: center;}
.pay-widget .payment img{height: 30px; width: 90px; border: 1px solid #E0E0E0;}
/* 我的订单页 */
.order-tab{}
.order-tab .order-header{background: #FBFBFB; height: 30px; font-size: 16px; line-height: 30px; padding: 6px 10px; border-bottom: 1px solid #E0E0E0;}
.order-tab .order-nav{height: 50px; font-size: 14px; background: #F3F8F9; text-align: center; border-bottom: 1px solid #E0E0E0;}
.order-tab .order-nav li{float: left; width: 20%;}
.order-tab .order-nav .active{margin: -1px 0 0; color: #F87300; border-bottom: 2px solid #F87300;}
.order-tab .order-nav .active a{color: #F87300;}
.comment-page .comment-list .item .rate{height: 20px; line-height: 20px; font-size: 12px; display: inline-block; padding: 2px 5px; background-color:#0b8e00; border-radius: 3px; color:#fff}
.comment-page .comment-list .item .content{padding: 10px; line-height: 160%;}
/* 评价页面 */
.rate-page .rate-list{}
.rate-page .rate-list .item{border: 1px solid #DADADA; border-left: none; border-right: none; margin: 12px 0; font-size: 14px; color: #666; background: #FCFCFC;}
.rate-page .rate-list .item .head{line-height: 50px; height: 50px; padding: 0 10px; overflow: hidden; border-bottom: 1px solid #DADADA;}
.rate-page .rate-list .item .head img{height: 30px; vertical-align: middle;}
.rate-page .rate-list .item .cont{line-height: 180%;}
.rate-page .rate-list .item .rank{line-height: 36px; height: 36px; padding: 0 10px; border-bottom: 1px solid #DADADA;}
.rate-page .rate-list .item .cont{padding: 10px;}
.rate-page .rate-list .item .txtCont{display: block; width: 100%; height: 50px; box-sizing: border-box; color: #999;}
#return_wrap .order_number{padding: 20px 10px;border-bottom: 1px solid #e4e4e4;}
#return_wrap .img_name{padding: 20px 10px; width: 100%; height: auto; overflow: hidden; border-bottom: 1px solid #e4e4e4;}
#return_wrap .img_name img{float: left; width: 80px; height: 80px;}
#return_wrap .img_name .name{float: left; margin-left: 5px; height: 80px; width: auto;}
#return_wrap .img_name .name .label_name1{height: 40px;}
#return_wrap .img_name .name .label_name2{height: 40px; line-height: 40px; vertical-align: bottom;}
#return_wrap .img_name .name .label_name2 .price{color: #FF6600; float: left;}
#return_wrap .img_name .name .label_name2 .count{float: left;}
#return_wrap .back{margin: 10px 0px; width: 100%; display: none;}
#return_wrap #reason_option,#return_wrap #reason_option_exchange{width: 80%; margin: auto; display: block;}
#return_wrap textarea{width: 80%; display: block; min-height: 100px; margin: 10px auto;}
#return_wrap .back .btn-back{}
#return_wrap .exchange{margin: 10px 0px; width: 100%; display: none;}
#return_wrap .reason{height: auto; overflow: hidden; border-bottom: 1px solid #e4e4e4;}
#return_wrap .reason p{padding: 5px 20px;}
#return_wrap #expre{margin: 15px auto;}
#return_wrap #expre p{margin-bottom: 15px;}
#return_wrap #button .btn{width:35%; margin-left:5%; text-shadow:none; padding-top:10px; padding-bottom:10px;}
#return_wrap #button .prev{background: #e4e4e4; border: 1px solid #e4e4e4;}
#return_wrap #button .submit{background: #FF3D00; border: 1px solid #FF3D00; color: #fff;}
.return-foot .btn{margin-left: 5px;color: #fff;text-shadow:none;}
.return-foot .waitCheck{background: #FF1700; border: 1px solid #FF1700;}
.return-foot .cancelBack,.return-foot .refuseBack{background: #CA6606; border: 1px solid #CA6606;}
.return-foot .backGood{background: #55B201; border: 1px solid #55B201;}
.return-foot .waitReceive{background: #55B201; border: 1px solid #55B201;}
.return-foot .waitPay{background: #55B201; border: 1px solid #55B201;}
.return-foot .handleOver{background: #B1B1B1; border: 1px solid #B1B1B1;}
