<?php
use Models\Shop\Shop;
use Multiple\Wap\Helper\ArticleHelper;

$cat = ArticleHelper::init()->getArticleCat();
$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$store = $store ? $store->toArray() : [];


?>
<body id="listhome1">﻿

<div id="ui-header">
    <div class="fixed">
        <a class="ui-title" id="popmenu">选择分类</a>
        <a class="ui-btn-left_pre" href="javascript:history.go(-1)"></a>
        <a class="ui-btn-right" href="#"></a>
    </div>
</div>
<div id="overlay"></div>
<div id="win">
    <ul class="dropdown">
        <?php foreach ($cat as $item) { ?>
            <li <?php if ($item['id'] == $id) {
                echo 'class="current"';
            } ?>>
                <a href="<?php echo $this->uri->baseUrl('/article/topic/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                    <span><?php echo $item['name'] ?></span></a></li>
        <?php } ?>
        <div class="clear"></div>
    </ul>
</div>
<div class="Listpage">
    <div id="todayList" class="ui-refresh">
        <ul class="todayList list">

            <?php
            if ($list) {
                foreach ($list as $item) {

                    ?>
                    <li>
                        <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                            <div class="img"><img src="/static/wap/images/default/loading.gif"
                                                  class="ui-imglazyload"
                                                  data-original="<?php echo \Util\ImgSize::getSize($item['cover'], 80) ?>"
                                                  alt=""/></div>
                            <h2><?php echo $item['title'] ?></h2>

                            <p class="onlyheight"></p>

                            <div class="commentNum"></div>
                        </a>
                    </li>

                <?php
                }
            } else {
                ?>
                <li>
                    <p>暂无新闻内容</p>
                </li>
            <?php } ?>

        </ul>
        <div class="ui-refresh-down"></div>
    </div>

</div>


<div id="insert2"></div>
<div style="display:none"></div>


<script type="text/javascript">
    seajs.use('/static/wap/gmu/widget/refresh.js', function () {
        $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

        var page = 1;
        $(function () {
            /*组件初始化js begin*/
            $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() || 114)).refresh({
                statechange: function () {
                    $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});
                },
                load: function (dir, type) {
                    var me = this;
                    var link = '<?php echo $this->uri->baseUrl('api/article/list/'. \Util\EasyEncrypt::encode($item['cid']) ); ?>' + '?page=' + page;
                    $.getJSON(link, function (data) {
                        page++;
                        var $list = $('.list'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);
                                });
                                return liArr.join('');
                            })(data);

                        $list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading(dir);    //数据加载完成后改变状态
                        $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

                        if (data.length <= 0) {
                            me.disable(dir, false);
                        }
                    });
                }
            });
            /*组件初始化js end*/
        });
    });
</script>
<script>
    window.onload = function () {
        var oWin = document.getElementById("win");
        var oLay = document.getElementById("overlay");
        var oBtn = document.getElementById("popmenu");
        var oClose = document.getElementById("close");
        oBtn.onclick = function () {
            oLay.style.display = "block";
            oWin.style.display = "block"
        };
        oLay.onclick = function () {
            oLay.style.display = "none";
            oWin.style.display = "none"
        }
    };
</script>

