<?php
use Models\Shop\Shop;
use Multiple\Wap\Helper\ArticleHelper;
use Multiple\Wap\Helper\SiteData;

$slider = SiteData::init()->getFocus('focus_slider');
$cat = ArticleHelper::init()->getArticleCat();
$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$store = $store ? $store->toArray() : [];

?>
<script src="/static/wap/js/iscroll.js"></script>
<body id="cate1">
<div class="banner">
    <div id="wrapper" style="overflow: hidden;">
        <div id="scroller"
             style="width: 4749px; -webkit-transition: 0ms; transition: 0ms; -webkit-transform: translate3d(-3166px, 0px, 0px) scale(1);">
            <ul id="thelist">
                <?php foreach ($slider as $val) { ?>
                    <li><p><?php echo $val['name'] ?></p><a
                            href="<?php echo $val['link'] ?>"><img src="<?php echo $val['img'] ?>"
                                                                   style="width: 1583px;"></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div id="nav">
        <div id="prev">← prev</div>
        <ul id="indicator">
            <?php $i = 1;
            foreach ($slider as $key => $val) {
                ?>
                <li class="<?php if ($i == 1) {
                    echo 'active';
                } ?>"><?php echo $i; ?></li>
                <?php $i++;
            } ?>
        </ul>
        <div id="next">next →</div>
    </div>
    <div class="clr"></div>
</div>
<div id="insert1"></div>
<div id="insert2"></div>
<div style="display:none"></div>
<div style="display:none">
</div>
<ul class="mainmenu" style="width:auto;padding: 0;">
    <?php foreach ($cat as $item) { ?>
        <li>
            <div class="menubtn">
                <a href="<?php echo $this->uri->baseUrl('/article/topic/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                    <div class="menumesg">
                        <div class="menuimg">
                            <img src="<?php echo \Util\ImgSize::getSize($item['cover'], 160) ?>">
                        </div>
                        <div class="menutitle"><?php echo $item['name'] ?></div>
                    </div>
                </a>
            </div>
        </li>
    <?php } ?>
    <div class="clr"></div>
</ul>


<div id="insert2"></div>
<div style="display:none"></div>
<script type="text/javascript">
    var myScroll;
    function loaded() {
        myScroll = new iScroll('wrapper', {
            snap: true,
            momentum: false,
            hScrollbar: false,
            onScrollEnd: function () {
                document.querySelector('#indicator > li.active').className = '';
                document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
            }
        });

    }
    document.addEventListener('DOMContentLoaded', loaded, false);
</script>
<script>
    var count = document.getElementById("thelist").getElementsByTagName("img").length;
    for (i = 0; i < count; i++) {
        document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
    }
    document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    setInterval(function () {
        myScroll.scrollToPage('next', 0, 400, count);
    }, 3500);
    window.onresize = function () {
        for (i = 0; i < count; i++) {
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
        }
        document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    }
</script>