
 #cate15 .mainmenu li:nth-child(10n+1) a{
        background-color:rgba(255, 152, 0, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+2) a{
        background-color:rgba(255, 51, 0, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+3) a{
        background-color:rgba(255, 254, 0, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+4) a{
        background-color:rgba(121, 255, 0, 0.46);/*rgb颜色及透明度0.46，可以自行调整*/
}
#cate15 .mainmenu li:nth-child(10n+5) a{
        background-color: rgba(0, 192, 255, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+6) a{
        background-color: rgba(206, 0, 255, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+7) a{
        background-color: rgba(113, 0, 255, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+8) a{
        background-color: rgba(255, 0, 211, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+9) a{
        background-color: rgba(255, 101, 0, 0.46);
}
#cate15 .mainmenu li:nth-child(10n+10) a{
        background-color: rgba(255, 152, 0, 0.46);
}
#cate15 .mainmenu {
    bottom: 60px;  /*60px表示距离底部60个像素，可以自行调整*/
} .themeStyle{background:#E00B19 !important; background-color:#E00B19 !important; }

html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}
/*cate18*/

.device {
width: 100%;
height: 250px;
margin: 0 auto;
position: fixed;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
background-image: -webkit-linear-gradient( rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
}
.device .arrow-left {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:99;
  display:none;
}
.device .arrow-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:99;
  display:none;
}
.swiper-container {
  height: 250px;
  width: 100%;
}
.content-slide {
  padding: 8px 10px;
  color: #fff;
}
.content-slide>a {
width: 33%;
float: left;
text-align: center;
color: #fff;
overflow: hidden;
margin-bottom: 15px;
}
.title {
  font-size: 12px;
  margin-top:3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ico img{ width:60px; height:60px;border-radius: 0;}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:15px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 4px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}


/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;

	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;

	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);

	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;

	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================

================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */

}
.swiper-active-switch {
	/* Specific active button style: */

}
.swiper-visible-switch {
	/* Specific visible button style: */

}


#banner{background-color: #FFF;overflow-x: hidden;margin: 0 auto;}
#banner .swiper-fashion{
text-align: center;

height:100%;
	position:fixed;
	z-index:1;
    }
#banner .swiper-fashion img{

    height:100%;
  }
 #leafContainer
{
    position:fixed;
    z-index:2;
width:100%;
    height: 690px;
top:0;
overflow:hidden;
}

/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 25px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}
/*列表布局 1.css*/
.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {
    overflow: hidden;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}

/*详情布局 1.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    color: #666;
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
}

.article-info{
    color: #666;
}
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}

 /*iscroll*/

 .banner {
     width:100%;
     margin:0 auto;
     padding:0;
     background-color:#151515;
 }
 #wrapper {
     margin:0;
     width:100%;
     height:auto;
     float:left;
     position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
     z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
     overflow:hidden;

 }

 #scroller {
     height:auto;
     float:left;
     padding:0;
 }

 #scroller ul {
     list-style:none;
     display:block;
     float:left;
     width:100%;
     height:auto;
     padding:0;
     margin:0;
     text-align:left;
 }

 #scroller li {

     display:block; float:left;
     width:auto; height:auto;
     text-align:center;
     font-size:0px;
     padding:0;
     position:relative;
 }
 #scroller li a{

     display:block;
     padding:0;
     margin:0;
 }
 #scroller li p{
     position:absolute;
     z-index:2;
     display:block;
     width:100%;
     bottom:0;
     background-color:rgba(0, 0, 0, 0.5);
     color:#F4F4F4;
     font-size:14px;
     text-indent: 55px;
     line-height:24px;
     text-align: left;
     text-indent: 10px;
     text-overflow: ellipsis;
     white-space: nowrap;
     padding:0;
     margin:0;
 }
 #nav {
     float: right;
     margin-top: -15px;
     padding: 0;
     position: relative;
     width: auto;
     z-index: 3;
 }

 #prev, #next {
     float:left;
     font-weight:bold;
     font-size:14px;
     padding:5px 0;
     width:80px;
     display: none;
 }

 #next {
     float:right;
     text-align:right;
 }

 #indicator > li {
     display:block; float:left;
     list-style:none;
     padding:0; margin:0;
 }

 #indicator {
     display: block;
     margin: 0 8px;
     padding: 0;
     width: auto;
 }

 #indicator > li {
     text-indent:-9999em;
     width:8px; height:8px;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     -o-border-radius:4px;
     border-radius:4px;
     background:#888;
     overflow:hidden;
     margin-right:4px;
 }

 #indicator > li.active {
     background:#DDDDDD;
 }

 #indicator > li:last-child {
     margin:0;
 }

 /*cate8_0.css*/

 /*------------------------------------- wz.css ------------------------------------------------------*/
 #cate1{background-color: #F0F0F0;overflow-x: hidden;}
 #cate1 .mainmenu{display: block; margin: 0 auto; padding: 5px; width: 310px;}
 #cate1 .mainmenu li{width:50%; float:left; display: block; margin-right: -0.5px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
 #cate1 .mainmenu li .menubtn{display: block; text-decoration:none; color:#000; background-color: #ffffff; border-radius: 5px; margin:5px; box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;}
 #cate1 .mainmenu li .menubtn:hover{background-color: #f5f5f5;}
 #cate1 .mainmenu li a{display:block; padding:0px; font-size:14px; color: #000000; text-decoration: none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
 #cate1 .mainmenu li .menubtn .menumesg{padding:0px}
 #cate1 .mainmenu li .menubtn .menuimg{height:100px; overflow:hidden; border-radius: 5px 5px 0 0; background-color: #F5F5F5;}
 #cate1 .mainmenu li div img{border:0; width:100%; min-height:100px; border-radius: 5px 5px 0 0;}
 #cate1 .mainmenu li .menutitle{text-align:center; padding: 5px; text-decoration: none; color:#000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
 /*------------------------------------- wz.css end --------------------------------------------------*/