<div id="container" class="container article-wrap">
    <div>
        <div class="article-head">
            <h1 class="article-title">
                <?php echo $item['title']; ?>
            </h1>

            <div class="article-info clearfix" style="text-align:center;height:28px;">
                <div class="left">
                    <?php echo date('Y-m-d', $item['created']); ?>
                </div>

                <div class="right">
                <span class="font-select">
                    <a href="javascript:;" data-type="small">小</a>
                    <a href="javascript:;" data-type="middle">中</a>
                    <a href="javascript:;" data-type="large">大</a>
                </span>
                </div>
            </div>
        </div>

        <div class="article-content">
            <?php echo $item['content'] ?>
        </div>
    </div>

</div>
<script>
    $(function () {
        var fontSize = new Array();
        fontSize['small'] = '10pt';
        fontSize['middle'] = '13pt';
        fontSize['large'] = '16pt';
        $('.font-select a').click(function () {
            var type = $(this).attr('data-type');
            $('.article-content').css({"font-size": fontSize[type]});
            iscroll.refresh();
        });
    })
</script>