<div id="container" class="container">
    <?php if (isset($catInfo)) { ?>
        <div class="article-head">
            <h1 class="article-title">
                <span class="right normal"><?php echo $catInfo['detail']; ?></span>
                <i class="icon <?php echo $catInfo['icon']; ?>"
                   style="color: #6655DF;"> </i><?php echo $catInfo['name']; ?>
            </h1>
        </div>
    <?php } ?>
    <!-- new_product end-->

    <div id="news">
        <ul class="list list-part">
            <?php
            if ($list) {
                foreach ($list as $item) {
                    if (empty($pid) && $item['parent_id']) {
                        continue;
                    }
                    ?>
                    <li>
                        <a href="<?php if ($item['subCount'] == 0) {
                            echo $this->uri->baseUrl('/article/topic/' . \Util\EasyEncrypt::encode($item['id']));
                        } else {
                            echo "/article?pid=" . \Util\EasyEncrypt::encode($item['id']);
                        } ?>">
                            <div class="pic"><img
                                    src="<?php echo $item['cover'] ? $item['cover'] : 'http://static.saleasy.net/pic/M00/00/0B/cHxqplPWAxGAGHCzAAAMHWehRMM521.jpg'; ?>"
                                    alt=""/></div>
                            <span><?php echo $item['name'] ?></span>

                            <p class="desc" style="font-size: 12px;color: #666;">
                                <?php echo $item['detail']; ?>
                            </p>
                            <i class="icon icon-angle-right"></i>
                    </li>
                <?php
                }
            } else {
                ?>
                <li>
                    <p>暂无分类</p>
                </li>
            <?php } ?>
        </ul>
    </div>
    <div>
        <?php \Util\Pagination::instance($this->view)->display($this->view, false); ?>
    </div>
</div>