<div id="container" class="container">
    <div class="article-head">
        <h1 class="article-title">
            <span class="right normal"><?php echo $cat['detail']; ?></span> <i class="icon <?php echo $cat['icon']; ?>" style="color: #6655DF;"> </i><?php echo $cat['name']; ?>
        </h1>
    </div>
    <div id="news">
        <ul class="list">
            <?php
            if ($list) {
                foreach ($list as $item) {
                    ?>
                    <li>
                        <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                            <?php
                            if ($item['cover']) {
                                ?>
                                <dl>
                                    <dt>
                                        <img src="/static/wap/images/default/loading.gif" class="ui-imglazyload"
                                             data-original="<?php echo $item['cover'] ? $item['cover'] : 'http://static.saleasy.net/pic/M00/00/0B/cHxqplPWAxGAGHCzAAAMHWehRMM521.jpg'; ?>"
                                             alt=""/>
                                    </dt>
                                    <dd>
                                        <h4 class="title"><?php echo $item['title'] ?></h4>

                                        <p class="small">
                                            <?php echo $item['summary'] ; ?>
                                        </p>
                                        <i class="icon icon-angle-right"></i>
                                    </dd>
                                </dl>

                            <?php } else { ?>
                                <span class="right small">
                                   <?php echo date('Y-m-d', $item['created']); ?>
                                </span>
                                <i class="icon icon-angle-right"></i> <?php echo $item['title']; ?>
                            <?php } ?>
                        </a>
                    </li>
                <?php
                }
            } else {
                ?>
                <li>
                    <p>暂无新闻内容</p>
                </li>
            <?php } ?>
        </ul>
    </div>
    <div>
        <?php \Util\Pagination::instance($this->view)->display($this->view, false); ?>
    </div>
</div>