/* reset css start*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav, ul {
    list-style: none;
    list-style-type: none;
    outline: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #333;
    padding: 0 4px;
    color: #666;
    font-size: 14px;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
    outline: none;
}

/* fonts end*//* common*/
body {
    background: url("/static/home/images/new/bg.gif");
    font-size: 12px;
    font-family: "Titillium Web", "FontAwesome", Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
    color: #444;
    position: relative;
}

a {
    color: #555;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #333;
}

.red {
    color: #f00;
}

.darkorange {
    color: darkorange;
}

.f60 {
    color: #f60;
}

.f60:hover {
    color: #f00;
}

.wrap {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.white {
    background: #fff;
}

.normal {
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.muted {
    color: #999;
}

.txt {
    border: 1px solid #ccc;
    line-height: 18px;
    color: #666;
    padding: 3px 5px;
    width: 196px;
}

.txt:hover, .txt:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    background: #f9f9f9;
    color: #333;
}

.circle {
    border-radius: 12px;
    font-style: normal;
    font-size: 12px;
    background: #1A68C1;
    color: #fff;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.circle:hover {
    background: #f30;
}

/* header*/
.header {
    background: #FAFAFA;
    border-bottom: 1px solid #E0E0E0;
}

.header .top {
    background: #444;
    height: 30px;
    line-height: 30px;
    color: #eee;
}

.header .top-menu {
    position: absolute;
    right: 0;
    top: 20px;
    color: #fff;
    padding: 0 6px;
    font-size: 14px;
    line-height: 36px;
    background: #2286DC;
}

.header .top-menu a {
    color: #fff;
    display: inline-block;
    padding: 0 8px;
}

.header .logo {
    padding: 8px 0 0 0;
    display: block;
    float: left;
}

.header .nav {
    float: left;
    padding: 20px 0 0 20px;
}

.header .nav a {
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
    line-height: 36px;
}

.header .nav a.current {
    border-bottom: 1px solid #06f;
    color: #06f;
}

.footer {
    color: #333;
    background: #f9f9f9 url(/home/images/new/newbg.gif);
    padding: 20px 0 0 0;
    line-height: 36px;
    border-top: 5px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

}

.footer a {

}

.footer a:hover {
    color: #333;
}

.footer .links {
    line-height: 60px;
    text-align: center;
}

.footer .gs-link {
    position: absolute;
    right: 300px;
    display: block;
    width: 50px;
    top: -10px;
}

.footer .gs-link img {
    width: 47px;
    height: 47px;
    display: block;
    margin: 0;
    padding: 0;
}

.footer .gs-link span {
    height: 16px;
    display: block;
    margin: -8px 0 0 0;
    line-height: 16px;
}

.footer .qrcode {
    position: absolute;
    right: -8px;
    top: -16px;
}

.footer .qrcode img {
    height: 64px;
}

.footer .copy {
    color: #748b98;
    padding: 12px 0 20px;
}

.footer .copy p {
    line-height: 24px;
}

h2.title {
    line-height: 36px;
    background: #f9f9f9;
    padding: 0 8px;
    font-weight: normal;
}

h2.title .name {
    font-weight: normal;
    font-size: 14px;
}

h2.title .more {
    float: right;
}
.btn {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    background: url(/images/admin/gray.png) no-repeat left center;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #666;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0 8px 0 0;
    box-shadow: 0 0 3px rgba(120, 120, 120, .1), inset 0 0 3px #fff;
    text-shadow: 3px rgba(0, 0, 0, .1);
}

.btn:hover, .btn:active, .btn:focus {
    border: 1px solid #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #000;
}
.clear {
    clear: both;
    zoom: 1; /* 在IE6/7中,利用zoom:1触发haslayout属性*/
}
.clear:after {
    /* 给浮动元素的父级元素加上class='clearfix'*/
    content: "";
    display: block;
    height: 0;
    clear: both;
}

