.bxslider li {
    background: #b4c0ce;
    height: 400px;
    text-align: center;
}

.bxslider li img {
    height: 400px;
}

#function {
    margin: 30px auto;
    background: #fff;
    padding: 0 0 30px;
}

#function li {
    width: 194px;
    height: 182px;
    overflow: hidden;
    float: left;
    _display: inline;
}

#function li.list {
    background: url(../images/index/hover_bg.jpg) -200px 0px no-repeat;
    position: relative;
}

#function li.list a {
    display: block;
    width: 199px;
    height: 182px;
    text-decoration: none;
    overflow: hidden;
}

#function li.list a * {
    text-decoration: none;
}

#function li.list .img {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#function li.list .img img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1
}

#function li.list .news {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 47px;
    height: 30px;
    left: 115px;
    top: 15px
}

#function li.list h3 {
    width: 199px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}

#function li.list .info {
    width: 199px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
}

#function li:hover {
    background: url(../images/index/hover_bg.jpg) 0px 0px no-repeat;
}

#function li:hover .img img {
    top: -100px;
}

#function li:hover h3 {
    color: #69b127;
}

#function li.line0 {
    width: 1px;
    background: url(../images/index/fun_bg_1.jpg) left center no-repeat;
}

#function li.line1 {
    width: 1000px;
    height: 1px;
    background: url(../images/index/fun_bg_0.jpg) center center no-repeat;
    float: none;
    clear: both;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
}

.case-list {
    padding: 30px;
    width: 1000px;
}

.case-list li {
    width: 158px;
    text-align: center;
    font-size: 14px;
    float: left;
    margin: 0 30px 0 0;
}

.case-list li img {
    width: 158px;
    height: 250px;
}

.case-list li .text {
    margin: 12px 0 0 0;
    color: #333;
}

.content {
    margin: 12px 0;
    min-height: 500px;
}

.content .list {
    background: #fff;
}

.content .left-section {
    width: 728px;
    float: right;
}

.content .sidebar {
    float: left;
    width: 240px;
    overflow-y: auto;
}

.sidebar .widget {
    margin: 0 0 12px;
    background: #fff;
    line-height: 150%;
}

.sidebar .widget .title {
    background: #666 url(../images/new/newbg.gif);
    color: #333;
    font-size: 14px;
    border: 1px solid #E0E0E0;
}

.sidebar .widget:last-child {
    margin: 0;
}

.sidebar .widget .list {
}

.sidebar .cats {
    height: 563px;
    background: #fff;
}

.sidebar .cats .list li {
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    padding: 0 12px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 14px;
}

.sidebar .cats .list li .right {
    color: #999;
}

.sidebar .cats .list .disabled {
    background: #f0f0f0;
    color: #2F8EE0;
    border: 1px solid #f9f9f9;
}

.sidebar .cats .list .disabled a {
    color: #2F8EE0;

}

.sidebar .cats .list li:hover, .sidebar .widget .list li.current {
    background: #428BCA;
    color: #fff;
}

.sidebar .cats .list li:hover *, .sidebar .widget .list li.current * {
    color: #fff;
}

.breadcrumbs {
    margin: 0 0 1px;
    padding: 9px 20px 7px;
    line-height: 20px;
    background-color: #fcfcfc;
}

.page-header {
    height: 36px;
    line-height: 36px;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}

.page-header small {
    font-size: 16px;
}

.page-header small a {
    color: #2F8EE0;
}

.page-content {
    padding: 20px;
    font-size: 14px;
    line-height: 160%;
    min-height: 445px;
}

.page-content img {
    max-width: 688px;
}

.page-title {
    line-height: 36px;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 20px;
}

.classify {
    font-weight: bolder;
    color: #333;
    font-size: 20px;
    padding: 30px 30px 0 30px;
}

.section {
    background: #fff;
}

.intro-list {
    color: #666;
    font-size: 0;
    width: 998px;
    margin: -20px 0 -40px -10px;
}

.intro-list .item {
    display: inline-block;
    font-size: 14px;
    width: 180px;
    border-left: 1px dashed #e1e1e1;
    text-align: center;
}

.intro-list .item:first-child {
    border-left: 0 none;
}

.intro-list .item.column-2 {
    padding: 0 30px;
    width: 390px;
    text-align: left;
}

.intro-list .item.column-3 {
    padding: 0 60px;
    width: 202px;
}

.intro-list .item.column-4 {
    padding: 0 25px;
    width: 196px;
    border-left: 1px dashed #e1e1e1;
}

/*how to do css style begin*/
.intro-list .column-4:first-child {
    border-left: 0 none;
}

.intro-list .item-todo {
    color: #666666;
    text-decoration: none;
    display: inline-block;
    padding: 30px 0;
}

.intro-list .item.column-4:hover {
    background-color: #F8F8F8;
    text-decoration: none;
    cursor: pointer;
}

.intro-list .item-todo .item-text {
    color: #1C77D2;
}

/*how to do css style end*/

.intro-list .item p {
    height: 36px;
    font-size: 13px;
    overflow: hidden;
    line-height: 18px;
    text-align: left;
}

.intro-list .item-title {
    color: #333;
    font-weight: bold;
    margin: 5px 0 0;
    height: 24px;
    line-height: 24px;
}

.intro-list .item-title:hover {
    color: #327CD2;
}

.intro-list .cover-img img {
    width: 160px;
}

.intro-list [class^="img"] {
    display: inline-block;
    width: 130px;
    height: 125px;
    background-image: url(http://apps.bdimg.com/developer/static/05091755/developer3/images/v4/light_index_icons.png);
    margin-bottom: 15px;
}

#contact {
    line-height: 160%;
    font-size: 10pt;
}

#contact .intro {
    padding: 20px;
}

#contact .intro p {
    padding: 5px 0;
    text-indent: 24px;
}

#contact #form {
    float: left;
    width: 240px;
    padding: 20px;
}

#contact #allmap {
    width: 328px;
    margin: 20px 20px 0 0;
    height: 200px;
    float: left;
}

#contact #info {
    float: left;
    color: #333;
    width: 332px;
    padding: 20px 20px 0 0;
}

#contact #info p {
    margin: 5px 0;
}

#contact #info span {
    color: #888;
    font-size: 12px;
}