<?php
use Models\Shop\Shop;


$headTitle = \Multiple\Wap\Helper\Meta::$head_title;

$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' and enable=1');
$info = $store->toArray();
$count = \Components\Order\CartManager::init()->getCount();

?>
<div class="lay_header" style="height: 45px">
    <div class="lay_toptab mod_tab" id="lay_head">
        <a class="tab_item" href="/shop/catalog"><i class="qb_icon icon_goback"></i></a>
        <a class="tab_item tab_item_logo" href="#">
            <img src="<?php if ($info['logo']) {
                echo $info['logo'];
            } else {
                echo $info['name'];
            } ?>">
        </a>
        <a class="tab_item" href="/user"><i class="qb_icon icon_icenter"></i></a>
        <a class="tab_item" href="/order/cart"><i class="qb_icon icon_cart"></i><i
                class="qb_icon icon_number_bubble"><?php echo $count; ?></i></a>
    </div>
    <!--
    <div class="lay_toptab mod_tab fixed qb_none" id="lay_head_fixed">
        <a class="tab_item" href="#"><i class="qb_icon icon_goback"></i></a>
        <a class="tab_item tab_item_logo" href="#">
            <img src="images/logo.jpg" style="width: 132px; margin-top: 8px;">
        </a>
        <a class="tab_item" href="#"><i class="qb_icon icon_icenter"></i></a>
        <a class="tab_item" href="#"><i class="qb_icon icon_cart"></i><i class="qb_icon icon_number_bubble">1</i></a>
    </div>
    -->
</div>
<!--Public_header end-->


