<!------------------------------- introduce_main begin ----------------------------->
<div class="introduce_main">
    <div class="pic"><img src="<?php echo $item['cover'] ?>" alt=""/></div>
    <div class="con">
        <?php echo $item['content'] ?>
    </div>
</div><!-- introduce_main end -->
<!------------------------------- introduce_main end ----------------------------->