<!------------------------------- consult_main begin ----------------------------->
<div class="consult_main">
    <ul>
        <?php
        if ($list) {
            foreach ($list as $item) {

                ?>
                <li>
                    <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) ?>"><?php echo $item['title'] ?></a>
                </li>

            <?php }
        } ?>
    </ul>
</div><!-- consult_main end -->
<!------------------------------- consult_main end ----------------------------->
