

<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            新增问卷调查
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->

        <form enctype="multipart/form-data" name="add_survey" onsubmit="return checkTime()" id="add_survey" role="form" data-toggle="validator" class="form-horizontal" method="post" action="/panel/addon/survey/survey/add">

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">问卷主题名称</label>
					<span class="col-sm-5">
						<input name="topic" id="name" class="form-control" required data-error="问卷主题名称必须填写" placeholder="问卷主题名称"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">活动说明</label>
					<span class="col-sm-5">
						<textarea name="desc" id="info" class="form-control" required data-error="预约地址必须填写"
                                  placeholder="活动说明"/></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>

            <div class="numbercolor form-group">
                <label for="creator" class="col-sm-2 control-label">背景颜色</label>
                <span class="col-sm-5">
                         <input type="text" name="bgcolor" id="numbercolor" class="color input-small" style="width:55px;" value="" onblur="jQuery('#number').css('color', jQuery('#numbercolor').val());"/>
						<span class="help-block with-errors"></span>
					</span>


            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">开始日期</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" id="start_date" name="start_date" type="text" value="<?php echo !empty($number->startdate) ?  date('Y-m-d', $number->startdate) : date('Y-m-d', time()); ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">结束日期</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" id="end_date" name="end_date" type="text" value="<?php echo !empty($number->enddate) ? date('Y-m-d',$number->enddate) : date('Y-m-d', strtotime("+1month")); ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script type="text/javascript">
    function fillData(classname,val)
    {
        $('.'+classname).html(val);
    }
    function choosePic(id)
    {
        $('#'+id).trigger('click');
    }
    function saveReserve()
    {
        $("#add_reserve").submit();
    }

    function isNum(obj)
    {
        var s = $(obj).val();
        var patrn=/^([0-9]|[-])+$/g ;
        if (!patrn.exec(s))
        {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }
    function checkTime(){
        var startTime=$("#start_date").val();
        var endTime=$("#end_date").val();
        if(startTime>=endTime)
        {
            alert('活动结束时间必须在开始时间之后!');
            return false;
        }
        return true;
    }
    jQuery(function($) {

        $('.date-picker').datepicker({autoclose:true,startDate:new Date()}).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });


    });
</script>
