<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            新增选题
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->
        <form enctype="multipart/form-data" name="add_reserve" id="add_reserve" role="form" data-toggle="validator" class="form-horizontal" method="post" action="/panel/addon/survey/survey/addQuestion">

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">选题类型</label>
					<span class="col-sm-5">
                       <input  type="radio" name="type" value="radio"  checked/>   单选
					  <input  type="radio" name="type" value="checkbox"/>  	多选
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">选题内容</label>
					<span class="col-sm-5">
						<textarea name="desc" id="info" class="form-control" required data-error="选题内容必须填写"
                                  placeholder="选题内容"/></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <input type="hidden" name="vote_id" value="<?php echo $survey_id ?>">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script type="text/javascript">
    function fillData(classname,val)
    {
        $('.'+classname).html(val);
    }
    function choosePic(id)
    {
        $('#'+id).trigger('click');
    }
    function saveReserve()
    {
        $("#add_reserve").submit();
    }

    function isNum(obj)
    {
        var s = $(obj).val();
        var patrn=/^([0-9]|[-])+$/g ;
        if (!patrn.exec(s))
        {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }
    jQuery(function($) {

        $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });


    });
</script>
