<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            选题选项列表
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row" id="optionlist">
    <div class="col-xs-12" style="margin-top: 20px;">
            <!-- PAGE CONTENT BEGINS -->
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label" style="text-align: right">选项值</label>
					<span class="col-sm-3">
                        <input type="hidden" id="question_id" value="<?php echo $question_id?>">
						<input name="option_name" id="option_name" class="form-control" required data-error="选项值必须填写" placeholder="选项值"/>

                    </span>
                <span class="btn btn-primary btn-submit" style="padding: 2px 5px;">提交</span>

            </div>
        <table id="article-list" class='list'>
            <thead>
            <tr class="head">
                <th>选项值</th>
                <th style='width:150px'>操作</th>
            </tr>
            </thead>
            <tbody class="listData">
            <?php if ($option) {
                // echo "<pre>";
                //  var_dump($vote_item);exit;
                foreach ($option as $item) {
                    //   $url = $this->uri->appUrl('/addon/reserve/detail/' . \Util\EasyEncrypt::encode($item['id']));
                    ?>
                    <tr class="item" data-id="">
                        <td class='center'><?php echo $item['option_name']; ?></td>

                        <td class="center">
                            <a href="javascript:;" class='deloption' data-id="<?php echo $item['id']; ?>">删除</a>
                        </td>
                    </tr>


                <?php
                }

            } else {
                ?>
                <tr>
                    <td colspan="9">
                        <p style="margin: 20px;color:#f00;"> 暂无选项内容 </p>
                    </td>
                </tr>
            <?php } ?>


        </table>

    </div>

</div>

<script type="text/javascript">
    function fillData(classname,val)
    {
        $('.'+classname).html(val);
    }
    function choosePic(id)
    {
        $('#'+id).trigger('click');
    }
    function saveReserve()
    {
        $("#add_reserve").submit();
    }

    function isNum(obj)
    {
        var s = $(obj).val();
        var patrn=/^([0-9]|[-])+$/g ;
        if (!patrn.exec(s))
        {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }

    function delOption(id)
    {
        $.ajax({
            'url':'/panel/addon/vote/vote/deleteOption',
            'dataType':'json',
            'type':'post',
            'data':'id='+id,
            'success':function(result){
                window.location.href=window.location.href;}
        })

    }
    jQuery(function($) {
        $(document).ready(function() {

            //上传缩略图
            seajs.use(['app/panel/panel.storage', 'app/app.editor'], function(store, editor) {
                store.getImg('#upNewsImage', function (res) {
                    $('#titlePic').val(res.url);
                    $('#titlePic-preview').attr('src', res.url);
                });

                store.getImg('#upInfoPic', function (res) {
                    $('#infoPic').val(res.url);
                    $('#infoPic-preview').attr('src', res.url);
                });
            });

        });
    })
</script>
<script>
    seajs.use('app/module/module.survey', function (n) {
        n.delSurvey('.delBtn');
        n.addOption('.btn-submit');
        n.delOption('.deloption');
        n.delAllSurvey(".delAllSelected");
    });
</script>