<div class="page-header">
    <h1>问卷调查管理
        <small class="right">
            <a href="<?php echo $this->uri->baseUrl('/panel/addon/survey/survey/addQuestion/' . \Util\EasyEncrypt::encode($survey_id)); ?>" class="btn btn-sm btn-primary">增加选题</a>
        </small>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<table id="article-list " class='list questionlist'>
    <thead>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th>题目</th>
        <th>类型</th>
        <th style='width:100px'>操作</th>
    </tr>
    </thead>
    <tbody class="listData">
    <?php if ($survey) {
        foreach ($survey as $item) {
            //   $url = $this->uri->appUrl('/addon/reserve/detail/' . \Util\EasyEncrypt::encode($item['id']));
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <th class='name'><?php echo $item['desc']; ?></th>
                <th class='name'><?php if($item['type']=='radio'){echo '单选';}else{echo '多选';}
                   ?></th>
                <td class="center">
                    <a href="/panel/addon/survey/survey/statistics/<?php echo $item['id']?>" class='' data-id="<?php echo $item['id']; ?>">查看统计</a>
                    <a data-toggle="modal" class="item-edit"
                       data-target="#questionInfoModal" data-type="<?php echo $item['type']?>" data-desc="<?php echo $item['desc']?>" data-data='{{item|json_encode}}' href=""  data-id="<?php echo $item['id']; ?>">编辑</a>
                    <a href="<?php echo $this->uri->baseUrl('/panel/addon/survey/survey/optionEdit/' . \Util\EasyEncrypt::encode($item['id'])) ?>" class='' data-id="<?php echo $item['id']; ?>">选项编辑</a>
                    <a href="javascript:;" class='delq' data-id="<?php echo $item['id']?>">删除</a>
                </td>
            </tr>
        <?php
        }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>


</table>
<div class="modal fade" id="questionInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">选题信息编辑</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" class="form-horizontal">
                    <input type="hidden" name="question_id" id="qid" value=""/>
                    <div class="form-group">
                        <label for="creator" class="col-sm-2 control-label">选题类型</label>
					<span class="col-sm-5">
                       <input  type="radio"  name="type" value="radio"  checked/>   单选
					   <input  type="radio" name="type" value="checkbox"/>  	多选
						<span class="help-block with-errors"></span>
					</span>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">选题名称</label>
                        <span class="col-sm-10">
                            <input name="question_desc" id="question_desc" class="form-control" required data-error="选题名称不能为空" placeholder="选题名称"/>
                            <span class="help-block with-errors"></span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="update">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script>
    seajs.use('app/module/module.survey', function (n) {
        n.delQuestion('.delq');
        n.updateQuestion('#update');
        n.delAllSurvey(".delAllSelected");
    });
    $('.item-edit').click(function(){
        var type=$(this).attr('data-type');

        $("input[name='type']").each(function () {
            if ($(this).val() ==type) {
                $(this).attr("checked", "checked");
            }
        });
          $("#qid").val($(this).attr('data-id'));
          $("#question_desc").val($(this).attr('data-desc'));

    })
</script>

