<?php
if(isset($option) && !empty($option)){
    $option_value='';
    $option_data='';
    foreach($option as $op)
    {
        $option_value=$option_value."'".$op['option_name']."'".',';
        $option_data= $option_data."{"."value:".$op['option_count'].","."name:'".$op['option_name']."'},";
    }
    if($option_value!='')
    {
        $option_value=rtrim($option_value,',');
        $option_data=rtrim($option_data,',');
    }
    ?>
    <div id="container"  style="height:400px; margin-top: 10px;">
        <script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>
        <script type="text/javascript">
            // 路径配置
            require.config({
                paths:{
                    'echarts' : 'http://echarts.baidu.com/build/echarts',
                    'echarts/chart/bar' : 'http://echarts.baidu.com/build/echarts'
                }
            });
            // 使用
            require(
                [
                    'echarts',
                    'echarts/chart/bar',
                    'echarts/chart/pie'
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('container'));

                    var option = {
                        title : {
                            text:  "<?php echo $question['desc']?>",
                            subtext: '',
                            x:'center'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient : 'vertical',
                            x : 'left',
                            data:[<?php echo $option_value?>]
                        },
                        toolbox: {
                            show :true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        series : [
                            {
                                name: "<?php echo $question['desc']?>",
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data:[
                                    <?php echo $option_data?>
                                ]
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );
        </script>

    </div>

<?php } else{?>
    该问题还未填写选项
<?php }?>