<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            问卷调查编辑
        </small>
    </h1>
</div><!-- /.page-header -->
<?php if(isset($survey) &&!empty($survey)){ ?>
    <div class="row">

        <div class="col-xs-12" style="margin-top: 20px;">
            <!-- PAGE CONTENT BEGINS -->

            <form enctype="multipart/form-data" name="add_reserve" id="add_reserve" role="form" data-toggle="validator" class="form-horizontal" method="post" action="/panel/addon/survey/survey/surveyEdit">

                <div class="form-group">
                    <label for="creator" class="col-sm-2 control-label">问卷主题名称</label>
					<span class="col-sm-5">
						<input name="topic" id="name" value="<?php echo $survey['topic'] ?>" class="form-control" required data-error="问卷主题名称填写" placeholder="问卷主题名称"/>
						<span class="help-block with-errors"></span>
					</span>
                </div>
                <div class="form-group">
                    <label for="creator" class="col-sm-2 control-label">活动说明</label>
					<span class="col-sm-5">
						<textarea name="desc" id="info" class="form-control" required data-error="活动说明必须填写"
                                  placeholder="活动说明"/><?php echo $survey['desc']?></textarea>
                        <span class="help-block with-errors"></span>
					</span>
                </div>

                <div class="numbercolor form-group">
                    <label for="creator" class="col-sm-2 control-label">背景颜色</label>
                <span class="col-sm-5">
                         <input type="text" name="bgcolor" id="numbercolor" class="color input-small" style="width:55px;" value="<?php echo $survey['bgcolor']?>" onblur="jQuery('#number').css('color', jQuery('#numbercolor').val());"/>
						<span class="help-block with-errors"></span>
					</span>


                </div>

                <div class="form-group">
                    <label for="creator" class="col-sm-2 control-label">开始日期</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input class="form-control date-picker" id="start_date" name="start_date" type="text" value="<?php echo date('Y-m-d',$survey['start_date']) ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="creator" class="col-sm-2 control-label">结束日期</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input class="form-control date-picker" id="end_date" name="end_date" type="text" value=" <?php echo date('Y-m-d',$survey['end_date']) ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-3">
                            <input type="hidden" name="survey_id" value="<?php echo  $survey['id']?>">
                            <button type="submit" class="btn btn-info">
                                <i class="icon-ok bigger-110"></i>
                                提交
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="icon-undo bigger-110"></i>
                                重设
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
<?php }?>

<script type="text/javascript">
    function fillData(classname,val)
    {
        $('.'+classname).html(val);
    }
    function choosePic(id)
    {
        $('#'+id).trigger('click');
    }
    function saveReserve()
    {
        $("#add_reserve").submit();
    }

    function isNum(obj)
    {
        var s = $(obj).val();
        var patrn=/^([0-9]|[-])+$/g ;
        if (!patrn.exec(s))
        {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }
    jQuery(function($) {

        $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });


    });
</script>
