<?php
$month_data = \Library\O2O\Financial\O2oFinanceStat::getMonthData();
$total_data = \Library\O2O\Financial\O2oFinanceStat::getTotalData();

?>
<style>
    small {
        margin: 0 5px;
    }
</style>
<div class="page-header">
    <h1>
        财务统计
        <small>
            <i class="icon-double-angle-right"></i>
            <span class="span3">商家财务统计</span>
        </small>
    </h1>
</div>
<div class="content" style="min-width: 1212px;">
    <div>
        <table class="list" style="width:300px;float: left;margin-right: 12px;">
            <caption class="captitle"><b>所有订单统计</b></caption>
            <tr class="head">
                <th style=''>状态码</th>
                <th style=''>订单状态</th>
                <th style=''>笔数</th>
                <th style=''>金额</th>
            </tr>
            <?php
            if ($total_data) {
                $_total_order_count = 0;
                $_total_deal_count = 0;
                $_total_return_count = 0;
                $_total_cancel_count = 0;
                foreach ($total_data as $_total) {
                    $_total_order_count += $_total['deal_count'];
                    // 成交
                    if (in_array($_total['status'], [1001, 1002, 1003, 1004, 1005, 1009])) {
                        $_total_deal_count += $_total['deal_count'];
                    }
                    // 退货
                    if (in_array($_total['status'], [1008])) {
                        $_total_return_count += $_total['deal_count'];
                    }
                    // 取消
                    if (in_array($_total['status'], [1007])) {
                        $_total_cancel_count += $_total['deal_count'];
                    }
                    ?>
                    <tr>
                        <th class="name"><?php echo $_total['status']; ?></th>
                        <td><?php echo \Components\Product\TransactionManager::$orderStatusMap[$_total['status']]; ?></td>
                        <td><?php echo $_total['deal_count']; ?> 笔</td>
                        <td>￥ <?php echo $_total['total_cash']; ?> 元</td>
                    </tr>
                <?php } ?>
                <tr class="showpage">
                    <th class="name"> 总计</th>
                    <td colspan="3">
                        <small class="normal">下单量 <span class="green"><?php echo $_total_order_count; ?></span> 笔
                        </small>
                        <small class="normal">成交 <span class="red"><?php echo $_total_deal_count; ?></span> 笔</small>
                        <small class="normal">成交率 <span
                                class="red"><?php echo ceil($_total_deal_count / $_total_order_count * 100); ?>%</span>
                        </small>
                        <small class="normal"> 退货 <span class="blue"><?php echo $_total_return_count; ?></span> 笔
                        </small>
                        <small class="normal">
                            退货率
                            <span class="blue"><?php echo ceil($_total_return_count / $_total_order_count * 100); ?>
                                %</span>
                        </small>
                        <small class="normal"> 取消 <span class="orange"><?php echo $_total_cancel_count; ?></span> 笔
                        </small>
                        <small class="normal">
                            取消率
                        <span class="orange"><?php echo ceil($_total_cancel_count / $_total_order_count * 100); ?>
                            %</span>
                        </small>
                    </td>
                </tr>
            <?php } else { ?>
                <tr>
                    <td class="noData" colspan="4">
                        <p style="margin: 20px;color:#f00;ta:color:#f00;"> 尚未有任何订单！ </p>
                    </td>
                </tr>
            <?php } ?>
        </table>
        <table class="list" style="width:300px;float: left;">
            <caption class="captitle"><b>月订单统计</b></caption>
            <tr class="head">
                <th style=''>状态码</th>
                <th style=''>订单状态</th>
                <th style=''>笔数</th>
                <th style=''>金额</th>
            </tr>
            <?php
            if ($month_data) {
                $_month_order_count = 0;
                $_month_deal_count = 0;
                $_month_return_count = 0;
                $_month_cancel_count = 0;
                foreach ($month_data as $_month) {
                    $_month_order_count += $_month['deal_count'];
                    // 成交
                    if (in_array($_month['status'], [1001, 1002, 1003, 1004, 1005, 1009])) {
                        $_month_deal_count += $_month['deal_count'];
                    }
                    // 退货
                    if (in_array($_month['status'], [1008])) {
                        $_month_return_count += $_month['deal_count'];
                    }
                    // 取消
                    if (in_array($_month['status'], [1007])) {
                        $_month_cancel_count += $_month['deal_count'];
                    }
                    ?>
                    <tr>
                        <th class="name"><?php echo $_month['status']; ?></th>
                        <td><?php echo \Components\Product\TransactionManager::$orderStatusMap[$_month['status']]; ?></td>
                        <td><?php echo $_month['deal_count']; ?> 笔</td>
                        <td>￥ <?php echo $_month['total_cash']; ?> 元</td>
                    </tr>
                <?php } ?>
                <tr class="showpage">
                    <th class="name"> 总计</th>
                    <td colspan="3">
                        <small class="normal">下单量 <span class="green"><?php echo $_month_order_count; ?></span> 笔
                        </small>
                        <small class="normal">成交 <span class="red"><?php echo $_month_deal_count; ?></span> 笔</small>
                        <small class="normal">成交率 <span
                                class="red"><?php echo ceil($_month_deal_count / $_month_order_count * 100); ?>%</span>
                        </small>
                        <small class="normal"> 退货 <span class="blue"><?php echo $_month_return_count; ?></span> 笔
                        </small>
                        <small class="normal">
                            退货率
                            <span class="blue"><?php echo ceil($_month_return_count / $_month_order_count * 100); ?>
                                %</span>
                        </small>
                        <small class="normal"> 取消 <span class="orange"><?php echo $_month_cancel_count; ?></span> 笔
                        </small>
                        <small class="normal">
                            取消率
                        <span class="orange"><?php echo ceil($_month_cancel_count / $_month_order_count * 100); ?>
                            %</span>
                        </small>
                    </td>
                </tr>
            <?php } else { ?>
                <tr>
                    <td class="noData" colspan="4">
                        <p style="margin: 20px;color:#f00;ta:color:#f00;"> 本月尚未产生任何订单！ </p>
                    </td>
                </tr>
            <?php } ?>
        </table>
    </div>
</div>

