<?php
use Library\O2O\O2oShareStat;
use Models\Product\Distribution\ProductShareBackLog;

$backData = O2oShareStat::init()->getBackByMonth();
$orderData = O2oShareStat::init()->getOrderByMonth();

if ($backData || $orderData) {
    $backKey = array_keys($backData);
    $orderKey = array_keys($orderData);

    $chart_keys = array_unique(array_merge($backKey, $orderKey));
    asort($chart_keys); // 排序
    foreach ($chart_keys as $k) {
        $backNum[$k] = isset($backData[$k]) ? $backData[$k] : 0;
        $orderNum[$k] = isset($orderData[$k]) ? $orderData[$k] : 0;
    }
}

$stas = ProductShareBackLog::find(array('', 'user' => 'spm_time'));
$res = O2oShareStat::init()->getRelease();
$getTopItem = O2oShareStat::init()->getTopItem();
$getTopUser = O2oShareStat::init()->getTopUser();
$month_data = O2oShareStat::init()->getMonthStat();
?>
<style>
    h2 {
        border: 1px solid #DEEFFB;
        font-family: 'Microsoft Yahei';
        background: #FEFCEF;
        line-height: 32px;
        font-size: 14px;
        padding: 0 8px;
    }

    .ul {
        margin: 0;
    }

    .ul li {
        height: 32px;
        line-height: 32px;
        border-bottom: 1px dotted #e0e0e0;
    }
    small{
        margin: 0 8px;
        font-size: 12px;
    }
</style>

<div class="page-header">
    <h1>
        推广分成数据统计
        <small>
            <i class="icon-double-angle-right"></i>
            <span class="span3">商品推广分成统计信息</span>
        </small>
    </h1>
</div>
<table class="list">
    <caption class="captitle"><b>按月推广订单统计</b></caption>
    <tr class="head">
        <th style=''>月份</th>
        <th style=''>订单状态</th>
        <th style=''>订单数量</th>
        <th style=''>销售额</th>
        <th style=''>返现支出</th>
    </tr>
    <?php
    if ($month_data) {
        $total_sell_cash = 0;
        $total_order_count = 0;
        $total_back_cash = 0;
        foreach ($month_data as $_month) {
            if ($_month['status'] == 1) {
                $total_sell_cash = $_month['sell_cash'];
                $total_back_cash += $_month['back_cash'];
                $total_order_count += $_month['order_count'];
            }
            ?>
            <tr>
                <th class="name"><?php echo $_month['month']; ?></th>
                <td><?php echo ['1' => '已成交', '0' => '尚未成交'][$_month['status']]; ?></td>
                <td><?php echo $_month['order_count']; ?> 笔</td>
                <td>￥<?php echo $_month['sell_cash']; ?> 元</td>
                <td>￥<?php echo $_month['back_cash']; ?> 元</td>
            </tr>
        <?php } ?>
        <tr class="showpage">
            <th class="name"> 总计</th>
            <td colspan="4">
                <small>推广已成交：<span class="green"><?php echo $total_order_count; ?> 笔</span></small>
                <small>带来销售额：<span class="red">￥ <?php echo $total_sell_cash; ?> 元</span></small>
                <small>返现支出共：<span class="orange">￥ <?php echo $total_back_cash; ?> 元</span></small>
            </td>
        </tr>
    <?php } else { ?>
        <tr>
            <td class="noData" colspan="5">
                <p style="margin: 20px;color:#f00;ta:color:#f00;"> 本月尚未产生任何订单！ </p>
            </td>
        </tr>
    <?php } ?>
</table>
<div>
    <div class="" style="width: 50%;float: left;">
        <div style="margin: 0 6px 0 0;">
            <h2>推广最多的商品</h2>
            <ul class="ul">
                <?php
                if ($getTopItem) {
                    foreach ($getTopItem as $topItem) {
                        ?>
                        <li>
                            <span class="right"><?php echo $topItem['count']; ?> 次</span>
                            <a href="<?php echo $this->uri->baseUrl('shop/product/edit/' . $topItem['spm_item']) ?>"><?php echo $topItem['item_name']; ?></a>
                        </li>
                    <?php
                    }
                } ?>
            </ul>
        </div>
    </div>
    <div style="width: 50%;float: left;">
        <div style="margin: 0 0 0 6px;">
            <h2>推广最多的用户</h2>
            <ul class="ul">
                <?php
                if ($getTopUser) {
                    foreach ($getTopUser as $topUser) {
                        ?>
                        <li>
                            <?php echo $topUser['user_name']; ?> <span
                                class="right"><?php echo $topUser['count']; ?> 次</span>
                        </li>
                    <?php
                    }
                } ?>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="main-chart" style="height: 200px;margin: 20px 0 0;"></div>

<h2>最近20次有效推广回链</h2>
<table class="list">
    <tr class="head">
        <th style=''>编号</th>
        <th style=''>商品名称</th>
        <th style=''>推广用户</th>
        <th style=''>推广时间</th>
        <th style=''>来源域名</th>
        <th style=''>访客地址</th>
        <th style=''>访客系统</th>
        <th style=''>访客浏览器</th>
    </tr>
    <?php
    if ($res) {
        foreach ($res as $k => $item) {
            ?>
            <tr>
                <td><?php echo $k + 1; ?></td>
                <td>
                    <a href="<?php echo $this->uri->baseUrl('shop/product/edit/' . $topItem['spm_item']) ?>"><?php echo $item['item_name']; ?></a>
                </td>
                <td>
                    <?php echo $item['user_name']; ?>
                </td>
                <td>
                    <?php echo date('Y-m-d H:i:s', $item['spm_time']); ?>
                </td>
                <td>
                    <?php echo $item['from_domain']; ?>
                </td>
                <td>
                    <?php echo $item['province']; ?>
                </td>
                <td><?php echo $item['system']; ?></td>
                <td><?php echo $item['browser']; ?></td>
            </tr>
        <?php
        }
    } ?>
</table>
<script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            'echarts': 'http://echarts.baidu.com/build/echarts',
            'echarts/chart/bar': 'http://echarts.baidu.com/build/echarts'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main-chart'));

            var option = {
                title: {
                    text: '最近30天推广访问统计/下单统计',
                    subtext: '商品推广数据统计'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['有效链接', '成功下单']
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: true},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: <?php echo isset($chart_keys)?json_encode(array_values($chart_keys)):'[]';?>
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} 次'
                        }
                    }
                ],
                series: [
                    {
                        name: '访问次数',
                        type: 'line',
                        data: <?php echo isset($backNum)?json_encode(array_values($backNum)):'[]';?>,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        }

                    },
                    {
                        name: '下单次数',
                        type: 'line',
                        data: <?php echo isset($orderNum)?json_encode(array_values($orderNum)):'[]';?>,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        }
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );
</script>

