<?php
use Components\PanelMenu;

$curKey = PanelMenu::init()->getCurMenuKey();
$fstMenu = PanelMenu::getMenu()['side']['fst'];
$secMenu = PanelMenu::getMenu()['side']['sec'];
$controller = $this->view->getControllerName();
$action = $this->view->getActionName();

$curFst = $curKey['side']['fst'];
$curSec = $curKey['side']['sec'];
?>
<style>
    .thr.active {
        background: #e6e6e6;
    }

    .sec.active .sec-a {
        background: #e6e6e6;
    }
</style>
<?php foreach ($fstMenu as $k => $fst) {
    ?>
    <li class="<?php echo $k == $curFst ? 'active' : ''; ?>">
        <?php if (isset($fst['c']) && $fst['c']) {
            $module = isset($fst['m']) && $fst['m'] == 'shop' ? 'shop' : 'panel';
            if (isset($fst['is_module']) && $fst['is_module']) {
                $fstUrl = (isset($fst['hide']) && $fst['hide'] ? 'javascript:;' : $this->uri->customerModuleUrl($fst['m'], $fst['c'], $fst['a']));
            } else {
                $fstUrl = (isset($fst['hide']) && $fst['hide'] ? 'javascript:;' : '/' . $module . '/' . $fst['c'] . '/' . $fst['a']);
            }
            ?>
            <a href="<?php echo $fstUrl; ?>">
                <i class="<?php echo $fst['icon'] ?>"></i>
                <span class="menu-text"><?php echo $fst['name'] ?></span>
            </a>
        <?php
        } else {
            ?>
            <a href="javascript:;" class="dropdown-toggle">
                <i class="<?php echo $fst['icon'] ?>"></i>
                <span class="menu-text"><?php echo $fst['name'] ?></span>
                <span class="arrow icon-angle-down"></span>
            </a>

            <ul class="submenu <?php echo $k == $curFst ? 'active open' : ''; ?>">
                <?php foreach ($secMenu as $s => $sec) {
                    if ($k == $sec['fst']) {
                        $module = isset($sec['m']) && $sec['m'] == 'shop' ? 'shop' : 'panel';
                        if (isset($sec['is_module']) && $sec['is_module'] == true) {
                            $secUrl = isset($sec['hide']) && $sec['hide'] ? 'javascript:;' : $this->uri->customerModuleUrl($sec['m'], $sec['c'], $sec['a']);
                        } else {
                            $secUrl = isset($sec['hide']) && $sec['hide'] ? 'javascript:;' : '/' . $module . '/' . $sec['c'] . '/' . $sec['a'];
                        }
                        ?>
                        <li class="<?php echo $s == $curSec && $k == $curFst ? ' active' : ''; ?>"
                            style="<?php echo $s == $curSec ? '' : (isset($sec['hide']) && $sec['hide']) ? 'display:none' : ''; ?>">
                            <a href="<?php echo $secUrl; ?>" class="dropdown-toggle">
                                <i class="<?php echo $sec['icon'] ?>"></i> <?php echo $sec['name'] ?>
                            </a>
                        </li>
                    <?php
                    }
                }
                ?>
                <?php
                // 功能详情
                if ($controller == 'module' && $action == 'run' && $k == $curFst) {
                    ?>
                    <?php
                    // set menu for module
                    $fst = Components\ModuleManager\Helper\MenuHelper::getFstMenu();
                    $_module = $this->dispatcher->getParam('_m', 'striptags');
                    if (count($fst) > 0) {
                        ?>
                        <li class="active">
                            <a href="/panel/addon/<?php echo $_module . '/' . $fst['c'] . '/' . $fst['a']; ?>"
                               class="dropdown-toggle">
                                <span class="menu-text"><?php echo $fst['name']; ?></span>
                            </a>
                        </li>
                    <?php
                    }
                    ?>
                <?php } ?>
            </ul>
        <?php } ?>
    </li>
<?php
}
?>


