<ul class="nav ace-nav">
<li class="light-blue">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo"
             src="<?php echo isset($customer_avatar) ? $customer_avatar : '/static/ace/avatars/user.jpg'; ?>"
            />
								<span class="user-info">
									<small>欢迎光临,</small>
                                    <?php echo isset($customer_name)?$customer_name:$customer->account; ?>
								</span>

        <i class="icon-caret-down"></i>
    </a>

    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="/panel/setting/password">
                <i class="icon-lock"></i>
                密码设置
            </a>
        </li>
        <li>
            <a href="/panel/setting/index">
                <i class="icon-user"></i>
                资料设置
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/account/logout">
                <i class="icon-off"></i>
                退出
            </a>
        </li>
    </ul>
</li>
</ul>
