<style>
    * {
        margin: 0;
        padding: 0;
    }

    #content {
        width: 760px;
        margin: -20px 20px 0 -20px;
        z-index: 1;
        position: absolute;
    }

    .module-item .item {
        width: 100px;
        text-align: center;
        float: left;
        font-size: 12px;
        color: #666;
        margin: 0 12px 12px 0;
    }

    .module-item .item dt {
        height: 80px;
        overflow: hidden;
    }

    .module-item .item dt img {
        width: 100px;
    }

    .module-item .item .item-title {
        color: #333;
        margin: 8px 0 4px 0;
    }

    .base-info {
        border: 1px solid #DEEFFB;
        padding: 8px;
        line-height: 200%;
        color: #4cb329;
        font-family: "Microsoft YaHei";
        font-size: 14px;
        font-weight: normal;
    }

    .base-info strong {
        color: #888;
        font-family: "宋体";
        font-size: 12px;
        font-weight: normal;
    }

    #aside {
        width: 400px;
        position: absolute;
        left: 772px;
        top: 0;
        margin-top: -12px;
    }

    .accordion .accordion-group {
        margin: 2px 0;
    }

    .accordion-heading {
        line-height: 36px;
        padding: 0 8px;
        border: 1px solid #DEEFFB;
        background: #FEFCEF;
        color: #000;
    }

    .accordion-heading a {
        color: #063;
    }

    .accordion-body {
        text-indent: 24px;
        border: 1px solid #DEEFFB;
        border-top: none;
        padding: 8px;
        font-size: 12px;
    }

    .box-title {
        margin: 12px 0;
        border: 1px solid #DEEFFB;
        line-height: 36px;
        font-size: 14px;
        padding: 0 8px;
        background: #FEFCEF;
        color: #000;
        font-family: 'Microsoft Yahei';
    }

    .unstyled {
        margin: 8px 0 0 0;
        line-height: 160%;
    }

    .noborder {
        border: none;
    }

    .func-list .module-func, .func-list .base-func {
        width: 780px;
    }

    .func-list .func {
        width: 247px;
        height: 80px;
        float: left;
        font-size: 12px;
        line-height: 120%;
        border: 1px solid #d0dfeb;
        margin: 10px 10px 0 0;
        background: #fff;
        position: relative;
        color: #999;
        overflow: hidden;
        box-shadow: 0 0px 3px rgba(188, 204, 214, 0.3);
    }

    .func-list .func dt {
        width: 80px;
        height: 80px;
        float: left;
        overflow: hidden;
    }

    .func-list .func dt img {
        width: 78px;
        height: 78px;
        padding: 1px;
    }

    .func-list .func dd {
        float: left;
        width: 150px;
        margin: 0 0 0 10px;
    }

    .func-list .func dd .name {
        color: #000;
        font-weight: normal;
        font-size: 14px;
        padding: 8px 0 4px;
        margin: 0;
    }

    .func-list .func dd .price-line {
        line-height: 20px;
        color: #666;
    }

    .func-list .func.choosed {
        border-color: #b5c3cd;
    }

    .func-list .func .checkIcon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        border: 1px solid #d0dfeb;
        border-right: none;
        border-top: none;
        text-align: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        line-height: 20px;
    }

    .func-list .func .checkIcon {
        color: #eee;
    }

    .func-list .func.choosed .checkIcon {
        color: #47ae2a;
    }

    .func-list .line {
        border-bottom: 1px solid #d0dfeb;
        line-height: 36px;
        color: #f00;
    }
</style>
<?php
use Components\CustomerManager;
use Components\PackageManager;
use Models\Modules\Resources;

$package_name = PackageManager::$package_name;
$module = Resources::find();
$siteInfo = \Models\Wap\SiteInfo::findFirst('customer_id=' . CUR_APP_ID);
$modules = $module->toArray();
?>
<div class="page-header">
    <h1>
        <span class="right" style="font-size: 14px;line-height: 42px;"><a href="/home/help" target="_blank"
                                                                          style="color: #f00;">查看帮助文档</a></span>欢迎来到管理中心
    </h1>
</div>
<div class="page-content" style="min-width: 1100px;position: relative;">

<div id="content">

    <h4 class="box-title">账户信息</h4>

    <div class="base-info">
        <p>
            <strong>平台账号</strong>
            <?php echo $customer->account; ?>
            <strong>平台ID</strong>
            <?php echo $customer->id; ?>
            <strong>注册邮箱</strong>
            <?php echo $customer->email; ?>
            <strong>注册时间</strong>
            <?php echo date('Y-m-d H:i:s', $customer->created); ?>
        </p>

        <p>
            <strong>账号名称</strong>
            <?php echo $customer_name; ?>
            <strong>微站名称</strong>
            <?php if (isset($siteInfo->site_name) && $siteInfo->site_name) { ?>
                <?php echo $siteInfo->site_name; ?>
            <?php } else { ?>
                <span class="red">您还没有设置微站信息，请<a href="/panel/site/info">点击设置</a></span>
            <?php } ?>
        </p>

        <p>
            <strong>个性域名</strong>
            <?php echo ltrim(rtrim($this->uri->appUrl(''), '/'), 'http://'); ?>
        </p>
    </div>

    <h4 class="box-title">套餐信息</h4>

    <div class="package base-info">
        <p>
            <span class="right"><?php echo CustomerManager::$_active_name[$customer->active]; ?></span>

            <strong>所属套餐</strong> <?php echo $customer_package['package'] == "custom" ? "自选套餐" : $package_name[$customer_package['package']]; ?>
        </p>

        <p>
            <strong>购买时长</strong> <?php echo $customer_package['duration'] < 10 ? $customer_package['duration'] . '月' : ($customer_package['duration'] - 9) . '年'; ?>
            <strong>套餐价格</strong> 
                <span class="red">
                    <?php echo $customer_package['price_month'] ? '￥' . $customer_package['price_month'] . '元/月 - ' : ''; ?>
                    <?php echo '￥' . $customer_package['price_year'] . '元/年'; ?>
                </span>
        </p>

        <p>
            <?php
            if ($customer_package['use_start'] == 0 && $customer->active != CustomerManager::ACCOUNT_STATUS_IN_USE) {
                ?>
                您的套餐订单尚未支付哦~！ <span class="right"><a href="customer/order" class="aBtn btn-green">确认并支付</a></span>
            <?php } ?>
        </p>
    </div>
    <h4 class="box-title">套餐功能</h4>

    <div class="func-list">
        <p class="line">基础功能（<span class="normal">套餐包含的基础功能</span>）</p>

        <div class="base-func">
            <dl class="func base"
                data-module_name="base"
                data-name="微官网"
                data-month_price="200"
                data-year_price="2000"
                >
                <dt>
                    <img src="http://saleasy.net/static/home/main/images/func/icon_wgw.jpg" alt=""/>
                </dt>
                <dd>
                    <h2 class="name"><a href="/panel/site/info">微官网</a></h2>

                    <p class="price-line">
                        ¥<span class="price">200</span>/月
                        ¥<span class="price">2000</span>/年
                    </p>

                    <p>
                        微信/微博接入，文章内容管理
                    </p>
                </dd>
            </dl>
            <dl class="func base"
                style="<?php echo empty($customer_package['has_shop_full']) && isset($customer_package['has_shop_base']) && $customer_package['has_shop_base'] == 1 ? "display:block" : 'display:none'; ?>"
                data-name="限制版商城"
                data-module_name="has_shop_base"
                data-month_price="200"
                data-year_price="2000"
                >
                <dt><img src="http://saleasy.net/static/home/main/images/func/icon_cjsc.jpg" alt=""/></dt>
                <dd>
                    <h2 class="name"><a href="/shop">限制版商城</a></h2>

                    <p class="price-line">
                        ¥<span class="price">200</span>/月
                        ¥<span class="price">2000</span>/年
                    </p>

                    <p>
                        不含购物车，订单，支付功能
                    </p>
                </dd>
            </dl>
            <dl class="func choosed"
                style="<?php echo isset($customer_package['has_shop_full']) && $customer_package['has_shop_full'] == 1 ? "display:block" : 'display:none'; ?>"
                data-name="商城完整版"
                data-module_name="has_shop_full"
                data-month_price="500"
                data-year_price="5000"
                >
                <dt>
                    <img src="http://saleasy.net/static/home/main/images/func/icon_mdgl.jpg" alt=""/>
                </dt>
                <dd>
                    <h2 class="name"><a href="/shop">商城完整版</a></h2>

                    <p class="price-line">
                        ¥<span class="price">500</span>/月
                        ¥<span class="price">5000</span>/年
                    </p>

                    <p>
                        包含商城所有功能
                    </p>
                </dd>
            </dl>
            <div class="clearfix"></div>
        </div>

        <p class="line">扩展功能<span class="normal">（套餐拥有的扩展功能）</span></p>

        <div class="module-func">
            <?php
            if ($modules) {
                $own_modules = !empty($customer_package['own_module']) ? array_values(json_decode($customer_package['own_module'], true)) : [];
                $limit_models = !empty($customer_package['limit_module']) ? array_values(json_decode($customer_package['limit_module'], true)) : [];
                foreach ($modules as $module) {
                    $choosed = $customer_package['package'] === 'custom' ? ($own_modules && in_array($module['module_name'], $own_modules) ? true : false) : (!is_array($limit_models) || !in_array($module['module_name'], $limit_models) ? true : false);
                    if ($choosed) {
                        ?>
                        <dl class="module func <?php echo $choosed; ?>"
                            data-name="<?php echo $module['name']; ?>"
                            data-module_name="<?php echo $module['module_name']; ?>"
                            data-month_price="<?php echo $module['month_price']; ?>"
                            data-year_price="<?php echo $module['year_price']; ?>">
                            <dt><img src="<?php echo \Util\ImgSize::getSize($module['image'], 80); ?>" alt=""/></dt>
                            <dd>
                                <h2 class="name">
                                    <a href="/panel/addon/<?php echo $module['module_name']; ?>/<?php echo $module['link']; ?>"><?php echo $module['name']; ?></a>
                                </h2>

                                <p class="price-line">
                                    ¥<span class="price"><?php echo $module['month_price']; ?></span>/月
                                    ¥<span class="price"><?php echo $module['year_price']; ?></span>/年
                                </p>

                                <p>
                                    <?php echo $module['description']; ?>
                                </p>
                            </dd>
                        </dl>
                    <?php
                    }
                }
            }
            ?>
        </div>
        <div class="clearfix" style="margin: 0 0 40px;"></div>
    </div>
</div>
<aside class="aside" id="aside">
    <h4 class="box-title">微信公众账号</h4>
    <?php
    if ($customer_wechat && $customer_wechat->is_binded) {
        $wechat = $customer_wechat->toArray();
        if ($wechat['is_binded']) {
            ?>
            <table class="list" style="width: 100%;min-width:100%;">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th class="name">公众号头像</th>
                    <td>
                        <dl>
                            <dt style="width: 70px;float: left;padding: 8px 0 0 ;"><a
                                    href="<?php echo $this->uri->moduleUrl('wechat/binding'); ?>">
                                    <img src="<?php echo $wechat['avatar']; ?>" style="width:60px;height:60px;">
                                </a>
                            </dt>
                            <dd style="padding: 10px 0 0 0;">
                                <p><a href="<?php echo $this->uri->moduleUrl('wechat/menu'); ?>">微信菜单</a></p>

                                <p><a href="<?php echo $this->uri->moduleUrl('wechat/respond'); ?>">自动回复</a></p>

                                <p><a href="<?php echo $this->uri->moduleUrl('wechat/mass'); ?>">群发消息</a></p>
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </td>
                </tr>
                <tr>
                    <th class="name">公众号信息</th>

                    <td>
                        <div class=>
                            <p>
                                <strong>公众账号</strong>
                                ：<?php echo empty($wechat['name']) ? $wechat['app_account'] : $wechat['name']; ?>
                            </p>

                            <p>
                                <strong>原始ID</strong>：<?php echo $wechat['original_id']; ?>
                            </p>

                            <p>
                                <strong>类型</strong>： <?php echo $wechat['type'] == 'dy' ? '订阅号' : '服务号'; ?>
                            </p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th class="name">本平台绑定信息</th>

                    <td>
                        <div class=>
                            <p>
                                <strong>平台账号ID</strong>：<?php echo $customer_id; ?>
                            </p>

                            <p>
                                <strong>回调URl</strong>
                                ：<?php echo $this->uri->appUrl('wechat/service'); ?>
                            </p>

                            <p>
                                <strong>TOKEN</strong>：<?php echo $wechat['token']; ?>
                            </p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        <?php
        } else {
            ?>
            <p><span class="text-warning">请绑定微信公众账号 <a href="/panel/wechat/auto">点击绑定</a></span></p>
        <?php
        }
    } else {
        ?>
        <p><span class="text-warning">您还没有绑定微信公众账号 <a href="/panel/wechat/auto">立即绑定 ></a></span></p>
    <?php
    }
    ?>
</aside>
</div>
