
    <link rel="stylesheet" href="/static/home/pc/reach/css/index.css"/>

<div class="wrapper">
    <div class="main">
        <div class="left">
            <div class="index_icon">
                <div class="weixin">
                    <a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weixin.png" alt=""/></a>
                </div>
                <div class="other_icon">
                    <ul>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weiguanwang.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微官网</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weiyiliao.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微医疗</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weidiaoyan.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微调研</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weicanyin.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微餐饮</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weitieba.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微贴吧</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weihunqing.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微婚庆</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weiqiche.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微汽车</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weihuodong.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微活动</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weishangcheng.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微商城</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weituangou.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微团购</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weixiangce.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微相册</a></div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/weihuiyuan.png" alt=""/></a></div>
                            <div class="word"><a href="javascript:void(0)">微会员</a></div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div><!--left end-->
        <div class="right">
            <div class="two_code"><img src="/static/home/pc/reach/images/index_two_code.png" alt=""/></div>
            <div class="big_word">
                <a href="javascript:void(0)"></a>
            </div>
            <div class="small_word">
                <a href="javascript:void(0)"></a>
            </div>
            <div class="experience">
                <a href="/account/login">开始体验</a>
            </div>
        </div><!--right end-->
        <div class="clear"></div>
    </div><!--main end-->
</div><!--wrapper end-->
