<ul id="meun-bg">
    <li style="width: 20%;">
        <a href="/" class="home"><img src="/static/wap/images/tpl/estt/home.png" alt=""/>首页</a>
    </li>
    <li style="width: 30%;"><a href="/article?pid=NZDXQN-0" class="mall"><img
                src="/static/wap/images/tpl/estt/mall.png"
                alt=""/>移动互联</a>
    </li>
    <li style="width: 30%;"><a href="/article/topic/NZDXgN-0" class="news"><img
                src="/static/wap/images/tpl/estt/jianshe.png" alt=""
                style="height: 14px;"/>智能设备</a></li>
    <li style="width: 20%;"><a href="/about" class="more"><img src="/static/wap/images/tpl/estt/more.png" alt=""/>关于</a>
    </li>
</ul>
