<?php
$headTitle = \Multiple\Wap\Helper\Meta::$head_title;
$app_name = \Multiple\Wap\Helper\SiteData::init()->getSite('site_name');
$app_logo = \Multiple\Wap\Helper\SiteData::init()->getSite('site_logo');
$headTitle = \Multiple\Wap\Helper\Meta::$head_title;
$controller = $this->router->getControllerName();
$action = $this->router->getActionName();
$store = $this->view->store;
$controller_action = $controller . '_' . $action;
$headname = isset($headTitle[$controller . '_' . $action]) ? $headTitle[$controller . '_' . $action] : '智享时代';
$referer = isset($_SERVER['HTTP_REFERER']) ? true : false;
?>
<div id="top-bg">
    <div class="top">
        <a href="<?php echo $referer ? 'javascript:history.back();' : '/'; ?>" class="return">
            <img src="/static/wap/images/tpl/estt/<?php echo $referer ? 'return' : 'home-gray'; ?>.png" alt=""/>
        </a>

        <div class="top-title">
            <?php echo isset($top_title) && $top_title ? $top_title : $headname; ?>
        </div>
        <a href="tel:0755-88309091" class="phone"></a>
    </div>
    <div class="yinying"></div>
</div>