<?php
use Components\Product\ProductManager;
use Components\Product\TransactionManager;
use Multiple\Wap\Helper\ShopData;

$shop = ShopData::init()->getStore();
$list = ShopData::init()->getList("customer_id=" . CUR_APP_ID . " AND is_recommended=1 AND is_active=1 ", 0, 10);
$cat = ShopData::init()->getCatalog();

$cat_id = \Util\EasyEncrypt::decode($this->request->get('cat_id')); //分类号筛选
$keywords = $this->request->get('keywords'); //关键字筛选
$product_type = $this->request->get('type'); //产品类型筛选

$order = $this->request->get('order'); //产品排序
$sort = $this->request->get('sort'); //排序方式


$this->view->title = '商品列表-全部商品';
$where = ' WHERE  p.customer_id=' . CUR_APP_ID . "  AND p.is_active=1 ";

if ($product_type && in_array($product_type, array('is_new', 'is_recommended'))) {
    $where .= " AND p." . $product_type . "=1";
    $this->view->title = '商品列表-' . ($product_type == 'is_new' ? '新品' : '促销商品');
}
if ($keywords) {
    $where .= " AND p.name LIKE '%" . $keywords . "%'";
} else {

    $keywords = '';
}
$base_url = $this->uri->baseUrl('shop/all') . "? keywords=" . $keywords;
if ($cat_id && is_numeric($cat_id)) {
    $cat_array = ProductManager::instance()->getSubCategoryById2(CUR_APP_ID, $cat_id);
    $where .= " AND p.cid in (" . implode(',', $cat_array) . ")";
    $base_url .= "&cat_id =" . $cat_id;

}
if ($order && in_array($order, array('sell_price', 'saleVolumn'))) {
    if ($order == 'sell_price') {
        $where .= "  ORDER BY p." . $order;
    } else {
        $where .= "  ORDER BY soi." . $order;
    }
} else {
    $where .= "  ORDER BY p.created ";
    $order = "created";
}

if ($sort && in_array($sort, array('desc', 'asc', 'DESC', 'ASC'))) {
    $sort = ($sort == 'asc' || $sort == 'ASC') ? 'DESC' : 'ASC';
    $where .= " " . $sort;
} else {
    $where .= " DESC ";
    $sort = 'DESC';
}


$filter = array();


$product = $this->db->query(
    " SELECT p.* ,soi.item_id,ccd.name as cname,b.name as bname ,IFNULL(soi.saleVolumn,0) AS saleVolumn FROM  product AS p LEFT JOIN

 (SELECT item_id,SUM(quantity) as saleVolumn FROM shop_order_item as soi left join shop_orders as so ON soi.order_number=so.order_number where status <> " . TransactionManager::ORDER_STATUS_BUYER_CANCELED . "  GROUP BY item_id ) AS soi

 ON p.id=soi.item_id LEFT JOIN product_cat as ccd ON p.cid=ccd.id
  LEFT JOIN product_brand as b ON  p.brand_id=b.id
 " . $where . " LIMIT 0,10"
)->fetchAll();

$count = count($product);


?>
<!------------------------------- details_list_main begin ------------------------------------------>
<!--<div class="qiehuan"></div>-->
<div class="qiehuan_w details_list_main">
    <div class="tit">
        <div class="tit_w">
            <a class="name ps <?php if ($product_type && $product_type == 'is_recommended') {
                echo "current";
            } ?>" href="<?php echo $base_url . "&type=is_recommended" ?>">
                <div> 促销</div>
            </a>
            <a class="name ps <?php if ($product_type && $product_type == 'is_new') {
                echo "current";
            } ?>" href="<?php echo $base_url . "&type=is_new" ?>">
                <div> 新品</div>
            </a>
            <a class="name ps <?php if ($order && $order == 'sell_price') {
                echo "currentSort";
            } ?>"
               href="<?php echo $base_url . "&sort=" . $sort . "&order=sell_price" . (($product_type ? '&type=' . $product_type : '')) ?>">
                <div> 价格 <b
                        class="<?php if ($sort && $order && $order == 'sell_price' && ($sort == 'ASC' || $sort == 'asc')) {
                            echo "icon-sort-down";
                        } else if ($sort && $order && $order == 'sell_price' && ($sort == 'DESC' || $sort == 'desc')) {
                            echo "icon-sort-up";
                        } ?>"></b></div>
            </a>
            <a class="name <?php if ($order && $order == 'saleVolumn') {
                echo "currentSort";
            } ?>"
               href="<?php echo $base_url . "&sort=" . $sort . "&order=saleVolumn" . (($product_type ? '&type=' . $product_type : '')) ?>">
                <div> 销量
                    <b class="<?php if ($sort && $order && $order == 'saleVolumn' && ($sort == 'ASC' || $sort == 'asc')) {
                        echo "icon-sort-down";
                    } elseif ($sort && $order && $order == 'saleVolumn' && ($sort == 'DESC' || $sort == 'desc')) {
                        echo "icon-sort-up";
                    } ?>"></b></div>
            </a>
        </div>
    </div>
    <!------------------------------- shop_main begin ----------------------------->
    <div class="shop_main all_product">
        <div class="wrapper">

            <!-- 新品上架 begin-->
            <div class="con2 ui-refresh">
                <?php if ($product) { ?>
                    <ul class="data-list" class="">
                        <?php foreach ($product as $k => $item) { ?>
                            <li>
                                <div class="li_wrapper <?php if ($k % 2 == 0) {
                                    echo "m_l";
                                } else {
                                    echo "m_r";
                                } ?>">
                                    <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                                            src="<?php echo $item['thumb'] ?>" alt="<?php echo $item['name'] ?>"/></a>

                                    <p><?php echo $item['name'] ?></p>

                                    <p><span>品牌：</span><?php echo $item['bname'] ?></p>

                                    <p><span>类型：</span><?php echo $item['cname'] ?></p>
                                </div>
                            </li>
                        <?php } ?>
                        <?php if (isset($count) && $count < 10 && $count > 0) { ?>
                            <li><br><br></li>

                        <?php } ?>

                    </ul>
                    <div class="clear"></div>
                    <div class="ui-refresh-down"></div>
                <?php } else { ?>
                    <div class="noData">暂无商品信息</div>
                <?php } ?>
                <div class="clear"></div>
            </div>
            <!-- con2 end -->
            <!-- 新品上架 end-->

        </div>
        <!-- wrapper end -->
    </div>
    <!-- shop_main end -->


    <!------------------------------- details_list_main end ------------------------------------------>
</div>

<script type="text/javascript">
    seajs.use('/static/wap/gmu/widget/refreshNoScroll.js', function () {

        // 图片懒加载
        $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

        var page = 1;
        /*组件初始化js begin*/
        $('.ui-refresh').refresh({
            statechange: function () {
                $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});
            },
            load: function (dir, type) {
                var me = this;
                var link = "<?php echo $this->uri->baseUrl('api/product/item_renhaoList') . '?where=' . $where ?>" + '&page=' + page;
                $.getJSON(link, function (data) {
                    page++;
                    var $list = $('.data-list'),
                        html = (function (data) {      //数据渲染
                            var liArr = [];
                            $.each(data, function () {
                                liArr.push(this.html);
                            });
                            return liArr.join('');
                        })(data);

                    $list[dir == 'up' ? 'prepend' : 'append'](html);
                    me.afterDataLoading(dir);    //数据加载完成后改变状态

                    $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

                    if (data.length <= 0) {
                        me.disable(dir, false);
                    }
                });
            }
        });

        /*组件初始化js end*/
    });
</script>