<?php
use Multiple\Wap\Helper\ShopData;

$shop = ShopData::init()->getStore();
$productRec = ShopData::init()->getList('is_recommended=1 and is_active=1 and customer_id=' . CUR_APP_ID, 0, 10);
$productCount = ShopData::init()->getCount('is_active=1 and customer_id=' . CUR_APP_ID);
if ($shop) {
    ?>
    <div id="container" class="container">
        <div class="shop-brand">
            <img class="shop-bg" src="<?php echo $shop['background']; ?>"/>

            <div class="shop-info">
                <a class="photo" href=""><img src="<?php echo $shop['logo']; ?>" alt=""/></a>
                <span class="name"><?php echo $shop['name']; ?></span>
            <span class="goods-num">
	            <a href="<?php echo $this->uri->baseUrl('shop/all'); ?>">全部商品<span>(<?php echo $productCount; ?>)</span></a>
	        </span>
            </div>
        </div>
        <div class="products">
            <div class="mod-tit">推荐商品
                <span class="right">
                    <?php
                    include MODULE_PATH . "/Views/base/shop/partial/shop_share.phtml";
                    ?>
                </span>
            </div>
            <?php if ($productRec) { ?>
                <div class="productlist">
                    <ul class="clearfix">
                        <?php foreach ($productRec as $product): ?>
                            <li>
                                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($product['id'])); ?>">
                                    <p class="cover">
                                        <img src="/static/wap/images/default/loading.gif" class="ui-imglazyload"
                                             data-original="<?php echo \Util\ImgSize::getSize($product['thumb'], 160); ?>"/>
                                    </p>

                                    <div class="detail">
                                        <p class="name"><?php echo $product['name']; ?></p>

                                        <p class="price"> &yen; <?php echo $product['sell_price']; ?>
                                            <del>&yen;<?php echo $product['original_price']; ?></del>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            <?php } else { ?>
                <p class="noData">
                    暂无推荐商品
                </p>
            <?php } ?>

        </div>
    </div>
<?php } ?>