<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
    </h1>
</div>
<table id="article-list" class=' list'>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th >会员名</th>
        <th >会员卡号</th>
        <th >卡片等级</th>
        <th style=''>手机</th>
        <th style=''>邮箱</th>
        <th style=''>生日</th>
        <th style=''>性别</th>
        <th style=''>所在地区</th>
        <th style=''>状态</th>
        <th style=''>操作</th>
    </tr>
    <?php
      if(isset($tip)){

          echo "<tr><td colspan='10'>".$tip."</td></tr>";
      }

    ?>
    <?php
    if (isset($list) && $list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $item) {

        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <th class='name'><?php echo $item['id']; ?></th>
            <td class="center"><?php echo $item['realname']; ?></td>
            <td class="center">
                <?php echo $item['card_no']; ?>
            </td>
            <td class="center">
                <?php echo $item['card_grade_name']; ?>
            </td>
            <td>
                <?php echo $item['phone']; ?>
            </td>
            <td><?php echo $item['email']; ?></td>
            <td class="center">
                <?php echo $item['birthday']; ?>
            </td>

            <td class="center">
                <?php echo ($item['gender']=='m' ? '男':($item['gender']=='f' ? '女':'保密')); ?>
            </td>


            <td class="center">
                <?php echo $item['province']. $item['city']. $item['town']; ?>
            </td>
            <td class="center">
                <?php  if($item['is_active']==1){echo "已审核,已发放";}else{echo "待审核";} ?>
            </td>
            <td class="center">
                <a href="#focusModal" class="look" data-toggle="modal" data-data='<?php echo json_encode($item) ?>'  data-id="<?php echo $item['id']; ?>">查看</a>
            </td>

        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="13">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>



<div class="modal" id="focusModal">
    <input type="hidden" id="card_receive" value="<?php echo $card['card_receive']?>">
    <input type="hidden" id="item_id" value="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">会员卡申请记录</h4>
            </div>
            <div class="modal-body">
                <p class="field set-field">
                    <label for="" class="field-label">会员名：</label>
                    <span class="realname"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">会员卡号：</label>
                    <input type="text" id="card_no" value="" class="input-small"  >
                    <span class="card_num"></span>
                </p>
                <p class="field set-field">
                    <label for="" class="field-label">卡片等级：</label>
                    <span class="card_grade_name">
                        <select name="card_grade" id="card_grade_id">
                            <?php foreach($grade_list as $g) {
                                ?>
                            <option value="<?php echo $g->id;?>" data-name="<?php echo $g->name;?>"><?php echo $g->name;?></option>
                            <?php
                            }?>
                        </select>
                        <input name="card_grade_name" type="hidden" id="card_grade_name" value="">
                    </span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">手机：</label>
                    <span class="phone"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">邮箱：</label>
                    <span class="email"></span>
                </p>
                <p class="field set-field">
                    <label for="" class="field-label">生日：</label>
                    <span class="birthday"></span>
                </p>
                <p class="field set-field">
                    <label for="" class="field-label">性别：</label>
                    <input type="hidden" id="gender" name="gender">
                    <span class="gender_text"></span>
                </p>
                <p class="field set-field">
                    <label for="" class="field-label">所在地区：</label>
                    <input type="hidden" name="province" id="province">
                    <input type="hidden" name="city" id="city">
                    <input type="hidden" name="town" id="town">
                    <span class="area"></span>
                </p>


                <p class="field set-field">
                    <label for="" class="field-label">是否通过审核：</label>

                    <label>
                        <input type="radio" name="is_active" class="ace is_active" value="1"/>
                        <span class="lbl"><b>是</b></span>
                    </label>
                    <label>
                        <input type="radio" name="is_active" class="ace is_active" value="0"/>
                        <span class="lbl"> <b>否</b></span>
                    </label>
                </p>

            </div>

            <div class="modal-footer">
                <a href="javascript:;" data-dismiss="modal" class="btn">关闭</a>
                <a href="javascript:;" class="btn btn-primary saveBtn">保存</a>
            </div>
        </div>
    </div>
</div>
<script>
    seajs.use('app/module/module.vipcard', function (vip) {
        vip.lookApply();
    })
</script>
