<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">

	<div class="col-xs-12" style="margin-top: 20px;">
		<!-- PAGE CONTENT BEGINS -->

		<form enctype="multipart/form-data" class="form-horizontal" id="vipcard-setting" method="post">

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="user">会员ID：</label>

                <div class="col-sm-3">
                    <?php if(empty($number->user_id)): ?>
                        <select class="form-control" id="user_id" name="user_id">
                            <option value="">选择会员ID...</option>
                            <?php if(count($users) > 0): ?>
                                <?php foreach($users as $user): ?>
                                    <option <?php if($number->user_id == $user->id): ?>selected="selected"<?php endif; ?> value="<?php echo $user->id ?>">( ID: <?php echo $user->id ?> ) <?php echo $user->username ?></option>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    <?php else: ?>
                        ( ID: <?php echo $number_user->id ?> ) <?php echo $number_user->username ?>
                    <?php endif; ?>
                </div>
            </div>

            <div class="form-group">
                <label for="number" class="col-sm-3 control-label no-padding-right">卡号： </label>

                <div class="col-sm-3">
                    <?php if(empty($number->number)): ?>
                        <input type="text" name="number" placeholder="卡号" id="number" value="<?php echo $number->number;?>">
                    <?php else: ?>
                        <?php echo $number->number; ?>
                    <?php endif; ?>
                </div>

                <?php if(empty($number->number)): ?>
                    <div class="col-sm-3">
                        如：2014010112345678
                    </div>
                <?php endif; ?>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="cardid">会员卡类型：</label>

                <div class="col-sm-3">
                    <select class="form-control" id="cardid" name="cardid">
                        <option value="">选择会员卡类型...</option>
                        <?php if(count($cards) > 0): ?>
                        <?php foreach($cards as $card): ?>
                        <option <?php if($number->cardid == $card->id): ?>selected="selected"<?php endif; ?> value="<?php echo $card->id ?>"><?php echo $card->cardname ?></option>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    </select>
                </div>
            </div>

			<div class="form-group">
				<label for="startdate" class="col-sm-3 control-label no-padding-right">发卡日期： </label>

				<div class="col-sm-3">
					<div class="input-group">
					    <input class="form-control date-picker" id="startdate" name="startdate" type="text" value="<?php echo !empty($number->startdate) ?  date('Y-m-d', $number->startdate) : date('Y-m-d', time()); ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
				    </div>
				</div>
			</div>

			<div class="form-group">
				<label for="enddate" class="col-sm-3 control-label no-padding-right">有效期： </label>
				<div class="col-sm-3">
					<div class="input-group">
					    <input class="form-control date-picker" id="enddate" name="enddate" type="text" value="<?php echo !empty($number->enddate) ? date('Y-m-d',$number->enddate) : date('Y-m-d', strtotime("+1year")); ?>" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span>
				    </div>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-3">
						<button type="submit" class="btn btn-info">
							<i class="icon-ok bigger-110"></i>
							保存
						</button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
					</div>
				</div>
			</div>

		</form>
	</div>

</div>

<script type="text/javascript">
jQuery(function($) {

    $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
        $(this).prev().focus();
    });

});
</script>
