<style>
    .current {
        color: #ff0000;
    }

    .txt.err {
        border-color: #ff0000;
    }

    .txt.txtdiscount {
        width: 36px;
    }
</style>
<script>
    seajs.use('app/module/module.vipcard', function (api) {
        api.setGrade('#setGradeBtn');
        api.addGrade('#addGradeBtn');
    });
</script>
<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->
<?php
$this->partial('module/vipcard/card/partial/nav');
?>
<section>
    <form action="javascript:;" class="setGradeForm">
        <table class='list' id="menuCats">
            <tr class="head">
                <th style='width:24px;'></th>
                <th style='width:60px;'>等级</th>
                <th style='width:90px;'>额度起始</th>
                <th style='width:92px;'>结束额度</th>
                <th style='width:120px;'>会员卡等级名称</th>
                <th>会员卡等级折扣率</th>
            </tr>
            <tbody class="listData">
            <?php if ($data) {
                foreach ($data as $item) {
                    ?>
                    <tr class="item"
                        data-id="<?php echo $item['id']; ?>"
                        data-grade="<?php echo $item['grade'] < 10 ? '0' . $item['grade'] : $item['grade']; ?>"
                        data-amount-start="<?php echo $item['amount_start']; ?>">
                        <td></td>
                        <td class="center"><span style="color: red;"><?php echo $item['grade']; ?></span>级</td>
                        <td class="center">
                            <span class="amount-start" data-id="<?php echo $item['id']; ?>"
                                  data-grade="<?php echo $item['grade'] ?>"><?php echo $item['amount_start']; ?></span>
                        </td>
                        <td>
                            <input class="txt intPointEnd" type="text" style="width: 80px;" maxlength="10"
                                   data-id="<?php echo $item['id']; ?>"
                                   data-grade="<?php echo $item['grade']; ?>"
                                   data-amount-start="<?php echo $item['amount_start']; ?>"
                                   data-old-start="<?php echo $item['amount_start']; ?>"
                                   data-old-end="<?php echo $item['amount_end']; ?>"

                                   value="<?php echo $item['amount_end']; ?>"/>
                        </td>
                        <td>
                            <input class="txt txtName" type="text" data-id="<?php echo $item['id']; ?>"
                                   data-old="<?php echo $item['name']; ?>"
                                   value="<?php echo $item['name']; ?>" maxlength="20"/>
                        </td>
                        <td><input class="txt txtdiscount" type="text" style="" maxlength="3"
                                   value="<?php echo $item['discount']; ?>"
                                   data-old="<?php echo $item['discount']; ?>"/>%
                        </td>
                    </tr>
                <?php } ?>
            <?php } else { ?>
                <tr>
                    <td colspan="9" class="noData">
                        <p style="margin: 20px;color:#f00;">
                            会员卡等级尚未添加，请添加～！
                        </p>
                    </td>
                </tr>
            <?php } ?>
            <?php
            $grade = !empty($item['grade']) ? $item['grade'] + 1 : "1";
            $grade = $grade < 10 ? '0' . $grade : $grade;
            $start_amount = !empty($item['amount_end']) ? $item['amount_end'] + 1 : 0;
            ?>
            </tbody>
            <tr class="showpage">
                <th class="name">操作</th>
                <td colspan="5">
                    <input type="submit" class="btn btn-deep" data-amount-start="<?php echo $start_amount; ?>"
                           value="更新设置" id="setGradeBtn"/>
                </td>
            </tr>
        </table>
    </form>
</section>

<section>
    <form action="javascript:;" class="addGradeForm">
        <table class='list'>
            <tr class="head">
                <th style='width:24px;'></th>
                <th style='width:60px;'>等级</th>
                <th style='width:90px;'>额度起始</th>
                <th style='width:92px;'>结束额度</th>
                <th style='width:120px;'>会员卡等级名称</th>
                <th>会员卡等级折扣率</th>
            </tr>
            <tbody class="listData">
            <tr class="addRow">
                <th class="name"></th>
                <td class="center"><span style="color: red;"><?php echo $grade; ?></span>级</td>
                <td class="center"><span class="amount-start add-amount-start"><?php echo $start_amount; ?></span>
                </td>
                <td>
                    <input class="txt addIntPointEnd" type="text" style="width: 80px;" maxlength="10"
                           data-amount-start="<?php echo $start_amount; ?>"/>
                </td>
                <td>
                    <input class="txt txtName" type="text" maxlength="10"/>
                </td>
                <td>
                    <input class="txt txtdiscount" type="text" style="" value="100" maxlength="3"/> %
                </td>
            </tr>
            </tbody>
            <tr class="showpage">
                <th class="name">操作</th>
                <td colspan="8"><input type="submit" class="btn btn-deep"
                                       data-amount-start="<?php echo $start_amount; ?>"
                                       value="添加会员卡等级" id="addGradeBtn"/></td>
            </tr>
        </table>
    </form>
</section>