<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->
<?php
$this->partial('module/vipcard/card/partial/nav');
?>
<div class="row">

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->

        <form class="form-horizontal" id="vipcard-setting" method="post">
            <div class="col-sm-4">
                <div class="vipcard" style="margin-bottom:  20px;">
                    <?php if (!empty($vipcard->card_bg)): ?>
                        <img id="cardbg" src="<?php echo $vipcard->card_bg; ?>"/>
                    <?php else: ?>
                        <img id="cardbg" src="/static/wap/images/module/vipcard/default_card_bg.png"/>
                    <?php endif; ?>
                    <?php if (!empty($vipcard->card_logo)): ?>
                        <img id="cardlogo" class="logo" src="<?php echo $vipcard->card_logo; ?>"/>
                    <?php else: ?>
                        <img id="cardlogo" class="logo" src="/static/wap/images/module/vipcard/default_card_logo.png"/>
                    <?php endif; ?>
                    <h1 style="color:<?php echo !empty($vipcard->card_name_color) ? $vipcard->card_name_color : '#fff'; ?>;"
                        id="vipname"><?php echo !empty($vipcard->card_name) ? $vipcard->card_name : 'VIP 会员卡'; ?></h1>
                    <strong
                        style="color: <?php echo !empty($vipcard->card_number_color) ? $vipcard->card_number_color : 'rgb(50, 173, 87)'; ?>;"
                        id="number" class="verify"><span><em>会员卡号</em>6537 1998</span></strong>
                </div>


                <div class="form-group">
                    <label for="card_logo" class="col-sm-4 control-label no-padding-right"> 会员卡的图标： </label>

                    <div class="col-sm-8">
                        <input type="text" name="card_logo" id="card_logo" value="<?php echo @$vipcard->card_logo; ?>"/>
						<span class="help-block with-errors">			
	                        <span class="btn btn-success btn-sm" id="upload-logo">上传图片</span>
	                        <img src="<?php echo @$vipcard->card_logo; ?>" alt=""
                                 style="height: 48px;vertical-align: middle;" id="logo-preview"/>
	               		 </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="card_bg" class="col-sm-4 control-label no-padding-right"> 会员卡的背景： </label>

                    <div class="col-sm-8">
                        <input type="text" name="card_bg" id="card_bg" value="<?php echo @$vipcard->card_bg; ?>"/>
						<span class="help-block with-errors">			
	                        <span class="btn btn-success btn-sm" id="upload-bg">上传图片</span>
	                        <img src="<?php echo @$vipcard->card_bg; ?>" alt=""
                                 style="height: 48px;vertical-align: middle;" id="bg-preview"/>
	               		 </span>
                    </div>
                </div>

            </div>

            <div class="col-sm-8">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="card_logo" class="col-sm-3 control-label no-padding-right"> 是否开启 </label>

                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <label><input type="radio" name="enable" value="1"
                                              <?php if (!isset($vipcardSetting) || !isset($vipcardSetting->enable) || $vipcardSetting->enable == 1): ?>checked<?php endif; ?>/>开启</label>
                                <label><input type="radio" name="enable" value="0"
                                              <?php if (!isset($vipcardSetting) || (isset($vipcardSetting->enable) && $vipcardSetting->enable == 0)): ?>checked<?php endif; ?>/>关闭</label>
                                <span class="help-block with-errors">设置会员卡功能是否开启</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="vipcard-name" class="col-sm-3 control-label no-padding-right">会员卡名称： </label>

                        <div class="col-sm-9">
                            <input type="text" name="card_name" class="col-xs-10 col-sm-5" placeholder="VIP会员卡"
                                   id="vipcard-name"
                                   value="<?php echo @$vipcard->card_name; ?>">
                            &nbsp;&nbsp;颜色：
                            <input type="text"
                                   name="card_name_color"
                                   id="card_name_color"
                                   class="color input-small"
                                   style="width:55px;"
                                   value="<?php echo @$vipcard->card_name_color; ?>"
                                   onblur="jQuery('#vipname').css('color', jQuery('#card_name_color').val());"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="card_logo" class="col-sm-3 control-label no-padding-right"> 卡号文字颜色： </label>

                        <div class="col-sm-9">
                            <input type="text" name="card_number_color" id="card_number_color" class="color input-small"
                                   style="width:55px;"
                                   value="<?php echo !empty($vipcard->card_number_color) ? $vipcard->card_number_color : 'rgb(50, 173, 87)'; ?>"
                                   onblur="jQuery('#number').css('color', jQuery('#card_number_color').val());"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">发放方式：</label>

                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <label><input type="radio" name="auto_send" value="1"
                                              <?php if (!isset($vipcard) || !isset($vipcard->auto_send) || $vipcard->auto_send == 1): ?>checked<?php endif; ?>/>自动发放</label>
                                <label><input type="radio" name="auto_send" value="0"
                                              <?php if (isset($vipcard) && isset($vipcard->auto_send) && $vipcard->auto_send == 0): ?>checked<?php endif; ?>/>需要审核</label>
                                <span class="help-block with-errors">会员卡发放规则</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="min_point" class="col-sm-3 control-label no-padding-right"> 卡号生成规则： </label>

                        <div class="col-sm-9">
                            <p class="form-control-static">
                                <label><input type="radio" name="card_receive" id=""
                                       value="<?php echo \Components\Module\VipcardManager::CARD_RECEIVE_AUTO ?>"
                                       class="" <?php echo \Components\Module\VipcardManager::CARD_RECEIVE_AUTO == @$vipcard->card_receive ? 'checked' : ''; ?>/>
                                系统自动生成卡号</label>
                                <label><input type="radio" name="card_receive"
                                       value="<?php echo \Components\Module\VipcardManager::CARD_RECEIVE_MANUAL ?>"
                                       id="" <?php echo \Components\Module\VipcardManager::CARD_RECEIVE_MANUAL == @$vipcard->card_receive ? 'checked' : ''; ?>/>
                                商家手动录入会员卡号</label>
                                <span class="help-block with-errors">如果是自动发放会员卡，则卡号只能由系统生成</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="min_consume" class="col-sm-3 control-label no-padding-right"> 最低消费要求： </label>

                        <div class="col-sm-9">
                            <input type="text" name="min_consume" class="col-xs-10 col-sm-5" placeholder="领卡的最低消费"
                                   id="min_consume" value="<?php echo @intval($vipcard->min_consume); ?>">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="min_point" class="col-sm-3 control-label no-padding-right"> 最低积分要求： </label>

                        <div class="col-sm-9">
                            <input type="text" name="min_point" class="col-xs-10 col-sm-5" placeholder="领卡的最低积分"
                                   id="min_point" value="<?php echo @intval($vipcard->min_point); ?>">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="card_detail" class="col-sm-3 control-label no-padding-right">会员卡说明： </label>

                        <div class="col-sm-9">
                            <textarea placeholder="会员卡说明" id="card_detail" style="border: 0;height:200px"
                                      class="wysiwyg form-control"
                                      name="card_detail"><?php echo @$vipcard->card_detail; ?></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label for="card_point_detail" class="col-sm-3 control-label no-padding-right">积分规则说明： </label>

                        <div class="col-sm-9">
                            <textarea placeholder="会员卡积分说明" id="card_point_detail" style="border: 0;height:200px"
                                      class="wysiwyg form-control"
                                      name="card_point_detail"><?php echo @$vipcard->card_point_detail; ?></textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-5 col-md-1">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    seajs.use('app/module/module.vipcard', function (api) {
        api.setCard();
    });
</script>
