<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div>
<div>
    <table id="article-list" class=' list'>
        <tr class="head">
            <th style='width:30px'>用户ID</th>
            <th style='width:50px'>会员名</th>
            <th style='width:100px'>会员卡号</th>
            <th style='width:80px'>卡片等级</th>
            <th style='width:80px'>手机</th>
            <th style='width:100px'>邮箱</th>
            <th style='width:80px'>生日</th>
            <th style='width: 30px;'>性别</th>
            <th style=''>所在区域</th>
            <th style='width:50px'>总积分</th>
            <th style='width:60px'>可用积分</th>
            <th style='width:80px'>余额</th>
            <th style='width:120px'>发放时间</th>
            <th style='width:60px'>管理</th>
        </tr>
        <?php
        if ($list) {
        ?>
        <tbody class="listData">
        <?php
        foreach ($list as $item) {
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <th class='name'><?php echo $item['user_id']; ?></th>
                <td class="center">
                    <?php echo $item['realname']; ?>
                </td>
                <td>
                    <?php echo $item['card_no']; ?>
                </td>
                <td class="center">
                    <?php echo $item['card_grade_name']; ?>
                </td>
                <td class="center">
                    <?php echo $item['phone']; ?>
                </td>
                <td class="center">
                    <?php echo $item['email']; ?>
                </td>
                <td class="center">
                    <?php echo $item['birthday']; ?>
                </td>
                <td class="center">
                    <?php $gender = array('' => '保密', 'm' => '男', 'f' => '女');
                    echo $gender[$item['gender']]; ?>
                </td>
                <td class="center">
                    <?php echo $item['province'] . $item['city'] . $item['town']; ?>
                </td>
                <td class="center">
                    <?php echo $item['points']; ?>
                </td>
                <td class="center">
                    <?php echo $item['points_available']; ?>
                </td>
                <td class="center">
                    ￥<?php echo $item['balance']; ?>元
                </td>
                <td>
                    <?php echo date('Y-m-d H:i', $item['created']); ?>
                </td>
                <td class="center">
                    <a href="javascript:;" class='status-change' data-id="<?php echo $item['id']; ?>"><i
                            class="icon icon-trash"></i> 删除</a>
                    <a class="item-edit"
                       href="/panel/users/detail/<?php echo \Util\EasyEncrypt::encode($item['id']); ?>"><i
                            class="icon icon-eye-open"></i> 详情/编辑</a>
                </td>
            </tr>
        <?php
        }
        } else {
            ?>
            <tr>
                <td colspan="14">
                    <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
                </td>
            </tr>
        <?php } ?>
        </tbody>
        <tr class="showpage">
            <th class="name">操作</th>
            <td colspan="13">
            <span>
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
            </td>
        </tr>
        <tr class="showpage">
            <th class="name">分页</th>
            <td colspan="13">
                <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
            </td>
        </tr>
    </table>
</div>
<script>
    seajs.use('app/module/module.vipcard',function(vip){
        vip.setStatus();
    })
</script>