<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
        <span class="pull-right"><a class="btn btn-primary btn-sm" href="<?php echo $viewHelper->getUrl('generate');?>">添加会员卡</a></span>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="alert alert-info hide">
            <i class="icon-hand-right"></i>

            <button class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
        </div>

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
jQuery(function($) {
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";

    var jqgrid = jQuery(grid_selector).jqGrid({
        url:'<?php echo $viewHelper->getUrl('ajaxVipcardNumberGrid') ?>',
        datatype: "json",
        height: "100%",
        mtype: 'POST',
        colNames:['ID','卡号', '会员卡类型', '所属会员', '发卡日期', '有效期', '操作'],
        colModel:[
            {name:'id',index:'id', width:25, sorttype:"int", editable: false, search:true, stype:'text', searchoptions:{sopt:['eq']}, align:'center'},
            {name:'number',index:'number',width:120, sortable: true, stype: 'int', editable: false, search: true, stype: 'text', align:'center', searchoption:{sopt:['bw']}},
            {name:'cardid',index:'cardid', width:80, align:'center', sortable: false, editable: false, search: true, stype: 'select', searchoptions:{dataUrl:'ajaxGetVipcards'}},
            {name:'user_id',index:'user_id', width:80, sortable:false, align:'center', editable:false, search: true, stype: 'select', searchoptions:{dataUrl:'ajaxGetUsers'}},
            {name:'startdate',index:'stardate', width:50, align:'center', sortable: false, editable: false, search: false},
            {name:'enddate',index:'enddate', width:80, align:'center', sortable: true, stype: 'date', editable: true, search: true, searchoptions:{sopt:['bw']}},
            {name:'myac', index:'', width:80, fixed:true, sortable:false, resize:false, search:false, align: 'center', formatter:createLink,
                //formatoptions:{
                    //keys:true,
                    //delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                //}
            },
        ],
        sortname: 'id',
        sortorder: 'asc',
        viewrecords : true,
        rowNum:10,
        rowList:[10,20,30],
        pager : pager_selector,
        altRows: true,
        multiselect: true,
        loadComplete : function() {
            var table = this;
            setTimeout(function(){
                updatePagerIcons(table);
                enableTooltips(table);
            }, 0);
            $(".ui-jqgrid-bdiv").css("overflow-x", 'hidden');
            if($(grid_selector).height() > 385) {
                $('.ui-jqgrid-bdiv').height("385");
            }
            $('.ui-jqgrid .ui-jqgrid-htable th div').css('text-align', 'center');
        },

        editurl: '<?php echo $viewHelper->getUrl('removeNumber') ?>',//nothing is saved
        caption: "会员卡列表",
        autowidth: true
    });

    //navButtons
    $(grid_selector).jqGrid(
        'navGrid',
        pager_selector,
        { 	// navbar actions options
            edit: false,
            add: false,
            del: true,
            delicon : 'icon-trash red',
            search: false,
            searchicon : 'icon-search orange',
            view: false,

            // options
            refresh: true,
            refreshicon : 'icon-refresh green',
            recordtext: "记录 {1} - {2} of {3}",
        },
        {
            //edit record form
            recreateForm: true,
            beforeShowForm : function(e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }
        },
        {},
        {
            //delete record form
            recreateForm: true,
            beforeShowForm : function(e) {
                var form = $(e[0]);
                if(form.data('styled')) return false;
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);

                form.data('styled', true);
            },
        },
        {},
        {}
    )

    // filterToolbar
    jQuery(grid_selector).jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});

    /** =====================================
     * style function
     ========================================*/
    function style_edit_form(form) {
        //enable datepicker on "sdate" field and switches for "stock" field
        form.find('input[name=sdate]').datepicker()
            .end().find('input[name=stock]')
                  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

        //update buttons classes
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')

        buttons = form.next().find('.navButton a');
        buttons.find('.ui-icon').remove();
    }
    function style_delete_form(form) {
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')
    }
    function style_search_filters(form) {
        form.find('.delete-rule').val('X');
        form.find('.add-rule').addClass('btn btn-xs btn-primary');
        form.find('.add-group').addClass('btn btn-xs btn-success');
        form.find('.delete-group').addClass('btn btn-xs btn-danger');
    }
    function style_search_form(form) {
        var dialog = form.closest('.ui-jqdialog');
        var buttons = dialog.find('.EditTable')
        buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
        buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
        buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
    }

    function beforeDeleteCallback(e) {
        var form = $(e[0]);
        if(form.data('styled')) return false;
        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
        style_delete_form(form);
        form.data('styled', true);
    }

    function createLink(cellvalue, options, rowObject) {
        var link = "<span class='ui-pg-div ui-inline-edit'><a href=\"<?php echo $viewHelper->getUrl('generate') ?>?id="+rowObject.id+"\" class=\"ui-icon ui-icon-pencil\"></a></span>";
        return link;
    }

    //replace icons with FontAwesome icons like above
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
        })
    }

    function enableTooltips(table) {
        $('.navtable .ui-pg-button').tooltip({container:'body'});
        $(table).find('.ui-pg-div').tooltip({container:'body'});
    }
});
</script>
