<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->
<?php
$this->partial('module/vipcard/card/partial/nav');
?>
<?php
$all_grade = \Components\Module\VipcardManager::getAllGrade(CUR_APP_ID);
$data = $this->view->data;
$new_add = $this->view->new_add;
$behaviorNameMap = $this->view->behaviorNameMap;
$termNameMap = $this->view->termNameMap;
$pointTypeMap = $this->view->pointTypeMap;
?>
<script>
    seajs.use('app/module/module.vipcard', function (api) {
        api.setRule(<?php echo $now_grade; ?>);
    });
</script>

<style>
    .ruleForm .item a {
    }

    .item {
        margin: 8px 0;
        padding: 0;
    }

    .item:before, .item:after {
        display: none;
    }

    .ruleForm .tab {
        padding: 2px 3px;
        margin: 0 3px 0 0;
        line-height: 24px;
        display: inline-block;
        border: 1px solid #fff;
    }

    .ruleForm .tab .selc {
        height: 20px;
    }

    .ruleForm .tab .txt {
        height: 14px;
        padding: 2px 5px;
    }

    .ruleForm .item:hover {
        background: #f6f6f6;
    }

    .item-edit {
        display: none;
    }

    .ruleForm .tab-num {
        width: 40px;
        background: #FEFCEF;
        border: 1px solid #DEEFFB;
        color: #f60;
        text-align: center;
    }

    .ruleForm .tab-name {
        width: 200px;
    }

    .ruleForm .tab-space {
        width: 60px;
        text-align: center;

    }

    .ruleForm .tab-edit {
        padding: 2px 10px;
    }

    .ruleForm .tab-edit .editRowBtn {
        display: none;
    }

    .ruleForm .tab-action {
        width: 100px;
        text-align: center;
    }

    .ruleForm .tab-quantity {
        width: 100px;
        text-align: center;
    }

    .ruleForm .tab-term {
        width: 200px;
    }

    .item-head .tab {
        background: #FEFCEF;
        border: 1px solid #DEEFFB;
        font-size: 14px;
        line-height: 200%;
    }

    .grade {
        border: 1px solid #DEEFFB;
        line-height: 30px;
        font-size: 14px;
        margin: 0 0 8px;
        padding: 0 8px;
    }

    .grade .current {
        color: #f00;
    }
</style>
<section>
    <p class="alert alert-warning">
        <b>说明：</b>
        <span>如果当前等级未设置积分规则，将以 <a
                href="<?php echo $this->uri->baseUrl('/panel/users/rules'); ?>">普通会员积分规则</a> 执行。</span>
        <span>企业会员将会以 <a
                href="<?php echo $this->uri->baseUrl('/panel/users/firmRules'); ?>">企业会员积分规则</a> 执行。</span>
    </p>

    <p class="grade">
        选择会员卡等级：
        <?php
        $cur_grade = "";
        if ($all_grade) {
            foreach ($all_grade as $grade) {
                if($now_grade == $grade['grade']) {
                    $cur_grade = $grade['name'];
                }
                else {
                    ?>
                    <a href="?grade=<?php echo $grade['grade']; ?>"><?php echo $grade['name']; ?></a>
                <?php
                }
            }
        }
        ?>
        <span class="left">当前等级：<code><?php echo $cur_grade;?></code></span>
    </p>


    <header
        style="line-height: 36px;background: #FEFCEF;padding: 0 12px;  border: 1px solid #DEEFFB;font-size: 14px;margin: 0 0 8px;">
        用户积分规则设置 [ <a href="javascript:;" class="editRuleBtn" style="color: #666;">编辑</a> ]
        <input type="submit" value="保存" class="saveRuleBtn btn-light" data-plate="" data-is-firm="0" style="display: none"/>
    </header>
    <form action="javascript:;" class="ruleForm">
        <p class="item-head">
            <span class="tab tab-num">编号</span>
            <span class="tab tab-name">动作名称</span>
            <span class="tab tab-space">--</span>
            <span class="tab tab-action">积分方式</span>
            <span class="tab tab-quantity">积分</span>
            <span class="tab tab-term">执行方式</span>
            <span class="tab tab-edit">操作</span>
        </p>
        <?php if ($data) {
            foreach ($data as $item) {
                ?>
                <p class="item item-show" data-behavior="<?php echo $item['behavior']; ?>">
                    <span class="tab tab-num"><?php echo $item['behavior']; ?></span>
                    <span class="tab tab-name"><?php echo $behaviorNameMap[$item['behavior']]; ?></span>
                    <span class="tab tab-space">--</span>
                    <span class="tab tab-action"><?php echo $pointTypeMap[$item['action']]; ?></span>
                    <span class="tab tab-quantity"><?php echo $item['points']; ?></span>
                    <span class="tab tab-term"><?php echo $termNameMap[$item['term']]; ?></span>
                    <span class="tab tab-edit"><a href="javascript:;" data-behavior="<?php echo $item['behavior']; ?>"
                                                  class="editRowBtn" style="color: #666;">编辑</a></span>
                </p>
                <p class="item item-edit" data-behavior="<?php echo $item['behavior']; ?>"
                   data-id="<?php echo $item['id']; ?>">
                    <span class="tab tab-num"><?php echo $item['behavior']; ?></span>
                    <span class="tab tab-name"><?php echo $behaviorNameMap[$item['behavior']]; ?></span>
                    <span class="tab tab-space">--</span>
                    <span class="tab tab-action">
                        <select name="" id="" class="selc pointType">
                            <?php foreach ($pointTypeMap as $k => $v) { ?>
                                <option
                                    value="<?php echo $k; ?>" <?php echo $item['action'] == $k ? 'selected="selected"' : ''; ?>><?php echo $v; ?></option>
                            <?php } ?>
                        </select>
                    </span>
                    <span class="tab tab-point">
                        <input class="txt quantity" type="text" value="<?php echo $item['points']; ?>"
                               style="width: 60px;"/>
                    </span>
                    <span class="tab tab-term">
                        <select name="" id="" class="selc term">
                            <?php foreach ($termNameMap as $k => $v) { ?>
                                <option
                                    value="<?php echo $k; ?>" <?php echo $item['term'] == $k ? 'selected="selected"' : ''; ?>><?php echo $v; ?></option>
                            <?php } ?>
                        </select>
                    </span>
                    <span class="tab tab-edit"> <a href="javascript:;" data-id="<?php echo $item['id']; ?>"
                                                   data-behavior="<?php echo $item['behavior']; ?>"
                                                   class="saveRowBtn" style="color: #666;">保存</a>
                    </span>
                </p>
            <?php
            }
        } ?>

        <?php if ($new_add) {
            foreach ($new_add as $k => $v) {
                ?>
                <p class="item item-show" data-behavior="<?php echo $k; ?>">
                    <span class="tab tab-num"><?php echo $k; ?></span>
                    <span class="tab tab-name"><?php echo $v; ?></span>
                    <span class="tab tab-space">--</span>
                    <span class="tab tab-action"><?php echo ''; ?></span>
                    <span class="tab tab-point"><?php echo 0; ?></span>
                    <span class="tab tab-term"></span>
                    <span class="tab tab-edit"><a href="javascript:;" class="editRowBtn"
                                                  data-behavior="<?php echo $k; ?>"
                                                  style="color: #666;"
                            >编辑</a></span>
                </p>
                <p class="item item-edit" data-behavior="<?php echo $k; ?>">
                    <span class="tab tab-num"><?php echo $k; ?></span>
                    <span class="tab tab-name"><?php echo $v ?></span>
                    <span class="tab tab-space">--</span>
                    <span class="tab tab-action">
                        <select name="" id="" class="selc pointType">
                            <?php foreach ($pointTypeMap as $key => $val) { ?>
                                <option
                                    value="<?php echo $key; ?>"><?php echo $val; ?></option>
                            <?php } ?>
                        </select>
                    </span>
                    <span class="tab tab-point">
                        <input class="txt quantity" type="text" value="<?php echo 0; ?>" style="width: 60px;"/>
                    </span>
                    <span class="tab tab-term">
                        <select name="" id="" class="selc term">
                            <?php foreach ($termNameMap as $key => $val) { ?>
                                <option
                                    value="<?php echo $key; ?>"><?php echo $val; ?></option>
                            <?php } ?>
                        </select>
                    </span>
                    <span class="tab tab-edit"> <a href="javascript:;" data-behavior="<?php echo $k; ?>"
                                                   class="saveRowBtn" style="color: #666;">保存</a></span>
                </p>
            <?php
            }
        } ?>

    </form>
</section>