<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $description ?>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">

    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->

        <form class="form-horizontal" id="vipcard-setting" method="post">

            <?php $fieldArray = array(
                "top_bg" => array(
                    'desc' => '会员卡页面顶部图片',
                    'memo' => '适应尺寸：220 x 120'
                ),
                "score_bg" => array(
                    'desc' => '会员卡积分页面顶部图片',
                    'memo' => '用于会员卡积分推广, 适应尺寸：720 x 360'
                ),
                "card_use_icon" => array(
                    'desc' => '会员卡使用说明图标',
                    'memo' => '适应尺寸：36 x 36'
                ),
                "card_score_icon" => array(
                    'desc' => '会员卡积分说明图标',
                    'memo' => '适应尺寸：36 x 36'
                ),
                "customer_icon" => array(
                    'desc' => '商家介绍图标',
                    'memo' => '适应尺寸：36 x 36'
                )
            ); ?>

            <?php foreach ($fieldArray as $field => $desc): ?>

                <div class="form-group">
                    <label for="<?php echo $field ?>"
                           class="col-sm-3 control-label no-padding-right"><?php echo $desc['desc'] ?>： </label>

                    <div class="col-sm-9">
                        <input type="text" id="<?php echo $field ?>" value="<?php echo isset($option->$field) ? $option->$field :''  ?>" class="file"
                               name="<?php echo $field ?>"/>
                        <small><?php echo $desc['memo'] ?></small>
                	<span class="help-block with-errors">
                        <span class="btn btn-success btn-sm" id="<?php echo $field ?>_upload">上传图片</span>
                		<img src="<?php echo $option->$field ?>" height="48" id="<?php echo $field ?>_preview"/>
               		 </span>
                    </div>
                </div>
            <?php endforeach; ?>

            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script type="text/javascript">
    jQuery(function ($) {
        <?php foreach($fieldArray as $field => $desc): ?>
        seajs.use('app/panel/panel.storage', function (s) {
            s.getImg('#<?php echo $field ?>_upload', function (res) {
                $('#<?php echo $field ?>').val(res.url);
                $('#<?php echo $field ?>_preview').attr('src', res.url);
            }, false);
        });
        <?php endforeach;?>

    });
</script>
