<link rel="stylesheet" href="/static/home/pc/reach/css/contact.css"/>
<script src="/static/home/pc/reach/js/contact.js"></script>
<div class="wrapper">
    <div class="contact_banner_wrapper">
        <div class="contact_banner">
        </div>
    </div><!--contact_banner_wrapper end-->
    <div class="main">
        <div class="contact_left">
            <div class="map">
              <a href="http://j.map.baidu.com/6Axzt" target="_blank">
                <img src="/static/home/pc/reach/images/contact_map.png" alt=""/>
              </a>

            </div>
            <form  method="post" action="" onsubmit="return false;" id="form">
            <div class="userinfo">
                <div class="userinfo_title">
                    <div class="title_zn">客户留言</div>
                    <div class="title_en">MESSAGE</div>
                </div>

                <div class="userinfo_content">

                        <div class="u_name"><span>姓名</span><input type="text"  name="contact_name" id="contact_name" class="txt" value=""/></div>
                        <div class="u_tele"><span>电话</span><input type="text"  name="contact_phone" id="contact_phone" class="txt" value=""/></div>
                        <div class="u_email"><span>邮箱</span><input type="text" name="contact_email" id="contact_email" class="txt" value=""/></div>
                        <div>
                            <div class="additional">附言</div>
                            <textarea  cols="30" rows="10" name="contact_message" id="contact_message" class="txt"></textarea>
                            <div class="clear"></div>
                        </div>

                </div>
                <div class="clear"></div>
                <div class="submit_and_copyright">
                    <input type="submit" class="btn btn-gray" id="postBtn" value="提交需求"/>
                    <div class="icp">粤ICP备11051785号</div>
                    <div class="clear"></div>
                </div>
            </div>
                </form>
        </div><!--contact_left end-->
        <div class="contact_right">
            <div class="contact_weixin">
                <img src="/static/home/pc/reach/images/contact_weixin.png" alt=""/>
            </div>
            <div class="details">
                <div class="big_tit">联系我们 CONTACT</div>
                <div class="middle_tit">您可以通过以下方式联系我们，或在页面左侧给我们留言</div>
                <div class="small_tit">
                    <p><span>地址：</span>广东省广州市荔湾区花蕾路10号红棉大厦3楼</p>
                    <p><span>电话：</span>020-22392368 </p>
                    <p><span>传真：</span>020-22392380</p>
                    <p><span>网址：</span>www.fingoo.cn</p>
                    <p><span>邮箱：</span>business@fingoo.com.cn</p>
                    <p><span>在线客服（QQ）：</span>2250445810</p>
                </div>
            </div>
        </div><!--contact_right end-->
        <div class="clear"></div>

    </div><!--main end-->
</div><!--wrapper end-->


