#header-shop{background: linear-gradient(to bottom,#212121,#161616);height: 45px;}
#header-shop span{display: inline-block;color: white;border-right: 1px solid black;position: relative;z-index: 9;}
#header-shop span a:before,
#header-shop span a{color: white;}
#header-shop span a{display: block; position: relative; height: 45px; line-height: 45px; width: 60px; text-align: center;}
#header-shop span a:before{font-size: 26px;}
#header-shop span.center{width: 100%;height: 45px;position: absolute;top:0;left: 0;text-align: center;z-index: 1;}
#header-shop span.center a{width: auto;}
#header{background:-webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));background: -moz-linear-gradient( top,#212C30,#121619);height: 35px;}
#header > span{background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.1)),color-stop(50%,rgba(255,255,255,0.8)), to(rgba(255,255,255,0.1)));-webkit-background-size: 1px 80%;background: -moz-linear-gradient( top,rgba(255,255,255,0.1),#fff 50%, rgba(255,255,255,0.1));background-size: 1px 80%;background-position: right center;background-repeat: no-repeat;display: inline-block;width: 33%;text-align: center;overflow:hidden;box-sizing:border-box;}
#header > span > a{color: white; height: 35px; text-align: center; line-height: 35px;}
#header > span > a:before{font-size: 24px;}
.menu-container div{background:#000;}
.menu-container .ui-dropmenu{min-width:120px;}
.menu-container .ui-dropmenu .ui-arrow:after{border-bottom-color:#000;}
.menu-container ul{background:#000;font-size:14px;}
.menu-container ul li{border-top:1px solid rgb(64, 72, 75);border-bottom:1px solid rgb(0, 6, 9);line-heigth:18px;}
.menu-container ul li:first-of-type{border-top:0;}
.menu-container ul li a{color:#fff;}
.menu-container ul li a span:before{font-size:20px;margin-right:5px;}
.bottom-bar{background: -webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));height: 35px;width: 100%;position: fixed;bottom: 0;}
.bottom-bar .home-img{position: absolute; left: 20px; top: -20px;}
.bottom-bar .more{margin: 0 0 0 80px;}
.bottom-bar .more a{color: #ccc; font-size: 14px; line-height: 36px; display: inline-block; border-right: 1px solid #232425; padding: 0 8px;}
.bottom-bar .more a:last-child{border: none;}
.bottom-bar .more a .icon{color: #2d3e42;}
.container{padding-bottom: 40px;}
.bottom-bar-inner{background: #2d3132; position: fixed; bottom: 0; height: 50px; width: 100%; padding: 5px 0 0; border-top: 1px solid #ccc;}
.bottom-bar-inner table{width: 100%;}
.bottom-bar-inner table td{text-align: center; vertical-align: middle; margin: 0; width: 25%;}
.bottom-bar-inner table td a:link,
.bottom-bar-inner table td a:active,
.bottom-bar-inner table td a:visited,
.bottom-bar-inner table td a:before{color: #8c8f94; font-size: 14px;}
.bottom-bar-inner table td a i:before{font-size: 20px; margin-top: 3px;}
.ui-dropmenu{min-width: 100px !important;}
.footer-nav-div .ui-dropmenu-items li a{display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333; white-space: nowrap; text-decoration: none;}