<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">素材管理</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<ul class="nav nav-tabs" id="topTabs">
    <li class="active"><a href="#image">图片</a></li>
    <li><a href="#voice" data-toggle="tab" data-url="/panel/resource/voices">声音</a></li>
    <li><a href="#video" data-toggle="tab" data-url="/panel/resource/videos">视频</a></li>
    <li><a href="#news"  data-toggle="tab" data-url="/panel/article/list">图文</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="news">
        {% if data.items and data.items|length > 0 %}
        <ul class="list-unstyled" id="imageList">
            {% for item in data.items %}
            <li>
                {% for art in item.articles|json_decode %}
                {% if loop.first %}
                <span class="col-lg-6 list-big-img">
                    <img src="{{art.cover}}" style="width: 100px; height: 100px;"/>
                </span>
                <span class="col-lg-6 pull-right">
                    <ul class="list-unstyled">
                {% endif %}
                        <li>{{art.title}}</li>
                {% if loop.last %}
                    </ul>
                </span>
                {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="alert alert-info">
            您还没有设置任何图文
        </p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info pagination" id="dataTables-example_info" role="alert" aria-live="polite"
                 aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{data.total_items}}</code> 条数据
            </div>
        </div>
        <div class="col-sm-6">
            <div class="pull-right" id="dataTables-example_paginate">
                <ul class="pagination">
                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/resource/index?page=');?>{{data.first}}">首页</a>
                    </li>
                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/resource/index?page=');?>{{data.before}}">上一页</a>
                    </li>
                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                        <a href="#">{{data.current}}</a></li>
                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/resource/index?page=');?>{{data.next}}">下一页</a></li>
                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/resource/index?page=');?>{{data.last}}">末页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resourceViewer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">资源选择</h4>
      </div>
      <div class="modal-body" id="resourceList">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传文件...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <ul id="files" class="files list-inline list-unstyled"></ul>
        <hr/>
        <ul id="resourceListBox" class="list-unstyled">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="resourcePickOK">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- import file uploader modal -->
{{partial("resource/base")}}
