<?php
$controller = $this->view->getControllerName();
$action = $this->view->getActionName();
$menus = array(
    array('title' => '图片', 'm' => 'panel', 'c' => 'resource', 'a' => 'images'),
    array('title' => '声音', 'm' => 'panel', 'c' => 'resource', 'a' => 'voices'),
    array('title' => '视频', 'm' => 'panel', 'c' => 'resource', 'a' => 'videos'),
    array('title' => '图文', 'm' => 'panel', 'c' => 'article', 'a' => 'list'),
);
?>

<ul class="nav nav-tabs">
    <?php
    foreach ($menus as $menu) {
        ?>
        <li class="<?php echo ($action == $menu['a'] && $controller == $menu['c']) ? 'active' : ''; ?>">
            <a href="<?php echo '/' . $menu['m'] . '/' . $menu['c'] . '/' . $menu['a'] ?>"><?php echo $menu['title']; ?></a>
        </li>
    <?php } ?>
</ul>