<?php
/*$menus = array(
    array('title' => '卡片设置', 'type' => 'index'),
    array('title' => '卡片等级', 'type' => 'grade'),
    array('title' => '会员设置', 'type' => 'field'),
    array('title' => '积分规则', 'type' => 'rules'),
);
$cur_type = $this->view->_action;
*/?><!--
<ul class="nav nav-tabs">
    <?php
/*    foreach ($menus as $menu) {
        */?>
        <li class="<?php /*echo $cur_type == $menu['type'] ? 'active' : ''; */?>">
            <a href="<?php /*echo '/panel/addon/vipcard/card/' . $menu['type']; */?>"><?php /*echo $menu['title']; */?></a>
        </li>
    <?php /*} */?>
</ul>-->