<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">企业编号：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="id">
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">企业账号：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="account">
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">企业姓名：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="name">
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">行业：</label>
                    <div class="controls span2">
                        <select name="industry" id="" name="sex">
                            <option value="">请选择</option>
                            <option value="1">金融</option>
                            <option value="2">IT</option>
                            <option value="3">制造业</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span15">
                    <label class="control-label">所在地：</label>
                    <div class="controls bui-form-group-select"  data-type="city">
                        <select  class="input-small" name="province" value="">
                            <option value="">请选择省</option>
                        </select>
                        <select class="input-small"  name="city" value=""><option value="">请选择市</option></select>
                        <select class="input-small"  name="county" value=""><option value="">请选择县/区</option></select>
                    </div>
                </div>
                <div class="control-group span9">
                    <label class="control-label">入驻时间：</label>
                    <div class="controls">
                        <input type="text" class="calendar" name="created_min"><span> - </span><input name="created_max" type="text" class="calendar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>
</div>

<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal" action="/admin/companies/edit">
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>平台账号</label>
                <div class="controls">
                    <input name="account" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="controls bui-form-group-select">
                <label class="control-label"><s>*</s>账号状态</label>
                <div class="controls control-row4">
                    <select  class="input-small" name="active">
                        <option value="0">禁用</option>
                        <option value="1">激活</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>企业名称</label>
                <div class="controls">
                    <input name="name" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>所属行业</label>
                <div class="controls">
                    <select  data-rules="{required:true}"  name="industry" class="input-normal">
                        <option value="">请选择</option>
                        <option value="1">金融</option>
                        <option value="2">IT</option>
                        <option value="3">制造业</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label"><s>*</s>所在地：</label>
                <div class="controls bui-form-group-select"  data-type="city">
                    <select  class="input-small" name="province">
                        <option>请选择省</option>
                    </select>
                    <select class="input-small"  name="city"><option>请选择市</option></select>
                    <select class="input-small"  name="town"><option>请选择县/区</option></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label" for="contact"><s>*</s>联系人</label>
                <div class="controls">
                    <input name="contact" type="grade" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span9">
                <label class="control-label"><s>*</s>手机号</label>
                <div class="controls">
                    <input type="text" class="input-normal control-text" data-rules="{required:true,number:true,maxlength: 12, minlength: 8}" name="cellphone"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label" for="contact"><s>*</s>Email</label>
                <div class="controls">
                    <input name="email" type="email" data-rules="{required:true,email:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span9">
                <label class="control-label"><s>*</s>有效期</label>
                <div class="controls">
                    <input type="text" class="calendar" data-rules="{required:true,date:true}" name="time_start"/><span> - </span><input name="time_end" type="text" data-rules="{required:true,date:true}" class="calendar"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span15">
                <label class="control-label"><s>*</s>详细地址</label>
                <div class="controls control-row4">
                    <textarea name="address" class="input-large" data-rules="{required:true}" type="text"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bui/js/bui-min.js"></script>
<script type="text/javascript" src="/static/bui/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript">
    BUI.use('common/search',function (Search) {

        var industries = {"1":"金融","2":"计算机","3":"制造业"},
            activeStatus = {"1":"已激活","0":"未激活"},
            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit',
                editor : {
                    title : '客户信息',
                    listeners : {
                        show : function() {
                            var form = this.get('form');
                            var timeStartField = form.getField('time_start');
                            var timeEndField = form.getField('time_end');
                            timeStartField.set(function(data) {
                                console.log(data);
                            });
                        },
                        itemrendered : function() {
                        	var form = this.get('form');
                            var timeStartField = form.getField('time_start');
                            var timeEndField = form.getField('time_end');
                            console.log(timeStartField);
                            timeStartField.set();
                        }
                    }
                }
            }),
            columns = [
                {title:'企业编号',dataIndex:'id',width:80,renderer:function(v){
                    return Search.createLink({
                        id : 'detail' + v,
                        title : '企业信息',
                        text : v,
                        href : '/admin/companies/detail'
                    });
                }},
                {title:'平台账号',dataIndex:'account',width:100},
                {title:'企业姓名',dataIndex:'name',width:100},
                {title:'入驻时间',dataIndex:'created',width:100,renderer:function(value, obj) {
                    return value;
//                     var seconds = parseFloat(value) * 1000;
//                     return BUI.Grid.Format.dateRenderer(seconds);
                }},
                {title:'所属行业',dataIndex:'industry',width:60,renderer:BUI.Grid.Format.enumRenderer(industries)},
                {title:'联系人',dataIndex:'contact',width:100},
                {title:'联系地址',dataIndex:'address',width:300},
                {title:'账号状态',dataIndex:'active',width:80, renderer:BUI.Grid.Format.enumRenderer(activeStatus), editor: {

                }},
                {title:'操作',dataIndex:'',width:100,renderer : function(value, obj){
                    var editStr1 = '<span class="grid-command btn-edit" title="编辑企业信息">编辑</span>',
                        delStr = '<span class="grid-command btn-del" title="删除企业信息">删除</span>';//页面操作不需要使用Search.createLink
                    return editStr1 + delStr;
                }}
            ],
            store = Search.createStore('/admin/companies/list', {
                proxy : {
                    save : { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                        addUrl : '/admin/companies/create',
                        updateUrl : '/admin/companies/edit',
                        removeUrl : '/admin/companies/remove'
                    },
                    method : 'POST'
                },
                pageSize:10,
                autoSync : true //保存数据后，自动更新
            }),
            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [
                        {text : '<i class="icon-plus"></i>新建', btnCls : 'button button-small',handler:addFunction},
                        {text : '<i class="icon-remove"></i>批量删除', btnCls : 'button button-small',handler : delFunction}
                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

        var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

        function addFunction(){
            var newData = {isNew : true}; //标志是新增加的记录
            editing.add(newData,'name'); //添加记录后，直接编辑
        }

        //删除操作
        function delFunction(){
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items){
            var ids = [];
            BUI.each(items,function(item){
                ids.push(item.id);
            });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true,
            dateMask : 'yyyy-mm-dd'
        });
    });
</script>
