<?php
$_action = $this->dispatcher->getParam('_a', 'striptags');

$act = array(
    'index' => '需求列表',
    'type' => '需求类型',
    'detail' => '需求详情',
    'wait' => '等待回复列表'
);
?>

<div class="page-header">
    <h1>
        询盘/需求管理
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $act[$_action] ?>
        </small>

        <small class="right">
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
</div>

<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
</script>