<?php
use Components\Module\DemandManager;

$replies = DemandManager::init()->getDemandReplies($item['id']);
$this->partial('module/demand/default/base');
?>
<style>
    .demand-head {
        padding: 0 0 12px 0;
    }

    .demand-head .demand-title {
        line-height: 36px;
        font-size: 16px;
        border-bottom: 1px solid #DEEFFB;
        color: #333;
        margin: 0;
    }

    .demand-head .demand-detail {
        padding: 8px 0;
    }

    .demand-contact {
        border-bottom: 1px solid #DEEFFB;
        line-height: 36px;
        font-size: 14px;
    }

    .replies {
        margin: 0;
        padding: 0 20px 20px;
        border: 1px solid #DEEFFB;
    }

    .replies .reply {
        margin: 20px 0 0;
    }

    .replies .reply .reply-title {
        font-size: 14px;
    }

    .replies .reply .reply-title .right {
        font-size: 12px;
    }

    .replies .from-user {
        border: 1px solid #d6e9c6;
        background: #dff0d8;
        border-radius: 5px;
        padding: 10px;
        color: #468847;
    }

    .replies .from-customer {
        border: 1px solid #bce8f1;
        background: #d9edf7;
        border-radius: 5px;
        padding: 10px;
        color: #3a87ad;
    }

    .replies .reply .reply-detail {
        border: 1px solid #d6e9c6;
        padding: 20px;
        background: #fff;
        box-shadow: none;
        border-radius: 5px;
        color: #666;
    }

    .reply-tit {
        line-height: 36px;
        font-size: 16px;
        background: #FEFCEF;
        border: 1px solid #DEEFFB;
        border-bottom: none;
        margin: 20px 0 0;
        padding: 0 8px;
        color: #333;
    }
</style>

{{ content() }}

<script>
    seajs.use('app/module/module.demand', function (api) {
        api.reply();
        api.endReply();
        api.delReply();
    });
</script>

<?php
if (isset($item)) {
    ?>
    <div class="demand-head">
        <h2 class="demand-title">
            <span class="right">
                <?php
                if ($item['status'] == DemandManager::DEMAND_STATUS_REPLAYED) {
                    ?>
                    <a href="javascript:;" id="endReply" data-id='<?php echo $item['id']; ?>'
                       class="btn btn-sm btn-warning" title="结束后将不能回复">立即结束</a>
                <?php
                }
                ?>
            </span>
            <strong
                style="font-size: 20px;">问：</strong> <?php echo $item['title']; ?> [<span
                class="red"><?php echo DemandManager::init()->getStatus($item['status']); ?></span>]
        </h2>

        <p class="demand-contact">
            <b>联系信息:</b>
            <span class="red">姓名</span> <?php echo $item['username']; ?>
            <span class="red">电话</span> <?php echo $item['phone']; ?>
            <span class="red">邮箱</span> <?php echo $item['email']; ?>
        </p>

        <div class="demand-detail">
            <b style="font-size: 14px;">需求内容:</b>
            <?php echo $item['detail']; ?>
        </div>
        <p>
            <span class="normal right">
            <a class="red"><?php echo $item['username']; ?></a> 发布于
                <?php echo date('Y-m-d H:i:s', $item['created']); ?>
            </span>
        </p>
    </div>

    <div class="reply-content">
        <h2 class="reply-tit">
            回复信息：
        </h2>
        <ul class="replies">
            <?php
            if ($replies) {
                foreach ($replies as $reply) {
                    if ($reply['is_customer'] == 1) {
                        ?>
                        <li class="reply from-customer" data-id="<?php echo $reply['id']; ?>">
                            <h4 class="reply-title">
                                <span class="right"><?php echo date('Y-m-d H:i:s', $reply['created']); ?></span>
                                商家回复：[<a href="javascript:;"  data-id="<?php echo $reply['id']; ?>" class="delReply">删除</a>]
                            </h4>

                            <div class="reply-detail"><?php echo $reply['detail']; ?></div>
                        </li>
                    <?php } else { ?>
                        <li class="reply from-user" data-id="<?php echo $reply['id']; ?>">
                            <h4 class="reply-title">
                                <span class="right"><?php echo date('Y-m-d H:i:s', $reply['created']); ?></span>
                                <span class="red"><?php echo $item['username']; ?></span>回复： [<a href="javascript:;"
                                                                                                 data-id="<?php echo $reply['id']; ?>"
                                                                                                 class="delReply">删除</a>]
                            </h4>

                            <div class="reply-detail"><?php echo $reply['detail']; ?></div>
                        </li>
                    <?php } ?>
                <?php } ?>
            <?php } else { ?>
                <li class="noData">暂无回复内容</li>
            <?php } ?>
            <?php
            if ($item['status'] != DemandManager::DEMAND_STATUS_END) {
                ?>
                <li>
                    <form action="javascript:;" id="replyForm">
                        <h2 style="border-bottom: 1px solid #DEEFFB;font-size: 16px;line-height: 36px;">
                            <b>回复</b><span class="red"><?php echo $item['username']; ?></span>：
                        </h2>

                        <p>
                            <span>回复内容：</span>
                            <textarea name="" id="txtDetail" style="width: 600px;height: 120px;"></textarea>
                        </p>

                        <p style="margin: 8px 0 0 68px;">
                            <input type="submit" value="立即回复" id="smbBtn" class="btn btn-primary"
                                   data-demand_id="<?php echo $item['id']; ?>"/>
                        </p>
                    </form>
                </li>
            <?php } ?>
        </ul>
    </div>

    <div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    display: none;">
        <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
            <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
        </p>
        <iframe name="appFrame" id="appFrame"
                src="<?php echo $this->uri->wapModuleUrl('demand/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>"
                style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
    </div>
<?php } ?>
