<?php
use Util\EasyEncrypt;
use Components\Module\DemandManager;

$types = DemandManager::init()->getType();

$this->partial('module/demand/default/base');
?>
<form action="" method="get" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <label for="name">关键字</label>
    <input name="key" type="text" id="key" value="<?php echo $this->request->get('key'); ?>">
    <input type="submit" class="btn btn-primary btn-sm" value="搜索">
</form>
<table id="article-list" class=' list'>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th style=''>咨询标题</th>
        <th style=''>咨询类别</th>
        <th style='width: 80px;'>复制链接</th>
        <th style='width:80px'>审阅状态</th>
        <th style='width:80px'>联系人</th>
        <th style='width:80px'>手机</th>
        <th style='width:80px'>详情回复</th>
        <th style='width:120px'>咨询时间</th>
        <th style='width:120px'>期望服务时间</th>
        <th style='width:50px'>删除</th>
    </tr>
    <tr>
        <th class="name">类别</th>
        <td colspan="12">
            【<a href="<?php echo $this->uri->setUrl(''); ?>">所有类别</a>】
            <?php
            if ($types) {
                $i = 0;
                foreach ($types as $k => $v) {
                    ?>
                    <a href="<?php echo $this->uri->setUrl('?t=' . $k); ?>"><?php echo $v; ?></a>
                    <?php echo $i < count($types) - 1 ? ' | ' : '';
                    $i++;
                    ?>
                <?php
                }
            }
            ?>
        </td>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $item) {
        $url = $this->uri->wapModuleUrl('/demand/detail/' . EasyEncrypt::encode($item['id']));
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <th class='name'><?php echo $item['id']; ?></th>
            <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
            <td>
                <a href="javascript:;" class="preview-app" title="点击预览"
                   data-url="<?php echo $url; ?>">
                    <?php echo $item['title']; ?>
                </a>
                [<a href="javascript:;" class="copy" data-id="<?php echo $item['id']; ?>">
                    查看链接
                </a>]
                <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                       type="text"
                       value="<?php echo $url; ?>"/>
            </td>
            <td>
                <a href="<?php echo $this->uri->setUrl('?t=' . $item['type_id']); ?>"><?php echo $types[$item['type_id']]; ?></a>
            </td>
            <td class="center"><a href="javascript:;" class="copyBtn miBtn"
                                  data-clipboard-text="<?php echo $url; ?>">复制链接</a>
            </td>

            <td class="center">
                <span class="red"><?php echo DemandManager::init()->getStatus($item['status']); ?></span>
            </td>

            <td class="center">
                <?php echo $item['username']; ?>
            </td>
            <td class="center">
                <?php echo $item['phone']; ?>
            </td>

            <td class="center">
                <a href="<?php echo $this->uri->actionUrl('/demand/default/detail?id=' . EasyEncrypt::encode($item['id'])); ?>"
                   class='upBtn'>详情回复</a>
            </td>
            <td>
                <?php echo date('Y-m-d H:i', $item['created']); ?>
            </td>
            <td class="center">
                <?php echo date('Y-m-d', $item['expected_time']); ?>
            </td>
            <td class="center">
                <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
            </td>
        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="12">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span>
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="12">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 1212121212;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->wapModuleUrl('demand'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>

<script>
    seajs.use('app/module/module.demand', function (n) {
        n.del();
    });
</script>
