/* 商城首页 */
.tpl-fbb{min-height: 300px;}
.tpl-fbb .swiper-container{width: 100%; height: 188px; color: #fff; text-align: center; position: absolute; left: 0; bottom: 0}
.tpl-fbb a{color: #fff; display: block}
.tpl-fbb .swiper-container .swiper-slide{padding-right: 1px; opacity: .2; -webkit-transform: translate3d(64px, 0, 0); -moz-transform: translate3d(64px, 0, 0); -o-transform: translate3d(64px, 0, 0); transform: translate3d(64px, 0, 0); -webkit-transition: -webkit-transform .5s ease-out .1s, opacity .5s ease-out .1s; -moz-transition: transform .5s ease-out .1s, opacity .5s ease-out .1s; -o-transition: transform .5s ease-out .1s, opacity .5s ease-out .1s; transition: transform .5s ease-out .1s, opacity .5s ease-out .1s}
.tpl-fbb .swiper-container .swiper-slide.done{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1}
.tpl-fbb .swiper-container .swiper-slide a.slide-bg{background-size: cover; background-repeat: no-repeat; background-color: #000}
.tpl-fbb .swiper-container .swiper-slide a{width: 85px; height: 188px; background-color: rgba(0, 0, 0, 0.6); float: left; position: relative}
.tpl-fbb .swiper-container .swiper-item-bg{background-color: #000; opacity: .3; position: absolute; top: 0; left: 0; height: 100%; width: 100%}
.container .homepage-footer{position: absolute; bottom: -80px; height: 80px; overflow: hidden; width: 100%; background-color: #2d3132}
.container .homepage-footer .footer{margin: 0 auto}
.container .homepage-footer .copyright{color: #999; font-size: 12px; line-height: 16px; padding-top: 20px; padding-bottom: 20px; text-align: center}
.container .homepage-footer .copyright.dark-bg .ft-links > a{color: #848c8d}
.container .homepage-footer .copyright.dark-bg .ft-links > a:hover{color: #848c8d}
.container .homepage-footer .copyright.dark-bg .ft-shop-weixin{line-height: 16px}
.container .homepage-footer .copyright.dark-bg .ft-shop-weixin > a{color: #696f70}
.container .homepage-footer .copyright.dark-bg .ft-shop-weixin > a:hover{color: #696f70}
.container .homepage-footer .copyright .ft-links{text-align: center}
.container .homepage-footer .copyright .ft-links > a{margin: 0 6px; color: #6191bf}
.container .homepage-footer .copyright .ft-links > a:hover{color: #6191bf}
.container .homepage-footer .copyright .ft-shop-weixin{text-align: center; margin-top: 10px; font-size: 12px}
.container .homepage-footer .copyright .ft-shop-weixin > a{color: #999}
.container .homepage-footer .copyright .ft-shop-weixin > a:hover{color: #999}
.homepage-footer .footer .copyright .ft-links > a{color: #848c8d}
.homepage-footer .footer .copyright .ft-links > a:hover{color: #848c8d}
.homepage-footer .footer .copyright .ft-shop-weixin > a{color: #696f70}
.homepage-footer .footer .copyright .ft-shop-weixin > a:hover{color: #696f70}
.tpl-course .swiper-container, .tpl-course .swiper-container .swiper-slide a{height: 100px}
.tpl-course .butn-section{margin: 0 auto; width: 150px; position: absolute; left: 50%; margin-left: -75px; top: 50%; z-index: 10}
.tpl-course-title, .tpl-course-sub-title{margin: 0 auto; color: #fff; font-size: 31px; font-weight: normal; line-height: 1.2; text-align: center}
.tpl-course-title{text-transform: uppercase; font-size: 30px; padding: 40px 0 0 0}
.tpl-course-sub-title{font-size: 18px; color: #cfcfcf; letter-spacing: 5px; margin: 15px 0}
.tpl-fbb-item-wrap{position: absolute; z-index: 10; width: 100%}
.tpl-fbb-item-name{font-size: 16px; margin: 12px auto 6px; height: 24px; overflow: hidden; width: 100%}
.tpl-fbb-item-line{border-bottom: 1px solid #4d4948; width: 60px; margin: 0 auto}
.tpl-fbb-item-icon{margin: 12px auto 6px; width: 30px; height: 30px}
.tpl-fbb-item-icon img{width: 30px; height: 30px}
.tpl-fbb-item-text{font-size: 12px; text-align: left; width: 73px; height: 58px; line-height: 18px; margin: 0 auto; padding-top: 7px; color: #f0f0f0; overflow: hidden;}
.tpl-fbb-item-date{font-size: 16px; text-align: center; height: 34px; line-height: 34px; color: #f0f0f0; overflow: hidden}
.tpl-shop-header{position: relative; height: 100px; background-repeat: no-repeat; background-position-x: center; background-size: cover}
.tpl-shop-header:hover .close-modal{display: block}
body{background: #eee;}
/*.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}*/
*html .clearfix{height:1%;}
*+html .clearfix{height:1%;}
/*首页样式*/
.shop-brand{height: 208px; overflow: hidden; color: #333; position: relative; max-width: 640px; margin: 0 auto;}
.shop-brand .shop-bg{width:100%;max-width:100%;}
.shop-brand .shop-info{border: 1px solid #CCCCCC; bottom: 0; height: 48px; left: 0; padding: 0 10px; position: absolute; right: 0; background: #fff; margin: 0;}
.shop-brand .shop-info .photo{margin: -35px 10px 0 0; position: relative; background: #fff; height: 70px; width: 70px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); overflow: hidden; border: 1px solid #ccc; float: left;}
.shop-brand .shop-info .photo img{width: 70px; height: 70px;}
.shop-brand .shop-info .name{margin: 10px 0 0 0; font-size: 16px; color: #000;}
.shop-brand .shop-info .goods-num{border-left: 1px solid #CCCCCC; font-size: 12px; height: 25px; line-height: 25px; padding: 0 10px; position: absolute; right: 0; text-align: center; top: 12px;}
.shop-brand .shop-info .goods-num span{margin-left:2px;}
/*推荐商品*/
.products .mod-tit{color: #333333;font-size: 18px;font-weight: normal;line-height: 18px;margin: 15px 0;padding: 0 10px;}
/*====================================================* * categories ====================================================*/
#categories{}
#categories li{border-bottom: 1px solid #ccc; background: #F3F3F3; padding-left: 15px;}
#categories li.parent{background: white; padding-left: 0;}
#categories li a{height: 45px; line-height: 45px; font-size: 14px; padding-left: 20px; display: block; font-family: 'Microsoft YaHei';}
/*====================================================* * product list ====================================================*/
.product{}
.product .filter{margin: 6px 3px;}
.product .filter table{width: 100%;}
.product .filter table td{border: 1px solid #ccc; padding: 1px; width: 25%;}
.product .filter table td a{display:block; height: 32px; line-height: 32px; text-align: center; font-size: 14px;}
.product .filter table td a.cur{background: #685C5B; color: white;}
.productlist{padding: 0; margin-bottom: 45px;}
.productlist li{float: left; width: 50%; padding: 0 3px; text-align: center; margin-bottom: 6px; display: inline-block; box-sizing: border-box; overflow: hidden;}
.productlist li a{background: #fff; display: block; border: 1px solid #ccc;}
.productlist li a .cover{overflow: hidden; text-align: center;}
.productlist li a:link img,
.productlist li a:active img,
.productlist li a:visited img{width: auto; border: none;height: 150px;}
.productlist li a:hover img{}
.productlist li img{width:100%;}
.productlist li .detail{background: #fff; text-align: left; padding: 10px;}
.productlist li .detail .price{margin-top: 5px; color: #C73D00; font-weight: bold;}
.productlist li .detail .price del{color: #999; font-weight: normal;}
.productlist li .detail .name{font-size: 14px; color: #333; height: 32px; overflow: hidden;white-space: nowrap;}
.ui-refresh{}
.ui-refresh .filter{}
.ui-refresh-down{text-align: center;}
.sort{background: url("/static/wap/images/tpl/filter.png") no-repeat scroll right center / 26px 20px rgba(0, 0, 0, 0); display: inline-block; height: 16px; width: 12px; vertical-align: middle;}
.sort.asc{background: url("/static/wap/images/tpl/filter.png") no-repeat scroll left center / 26px 20px rgba(0, 0, 0, 0);}
.empty{height: 200px; line-height: 200px; text-align: center;}
.search{margin: 12px 0 0; background: white; font-family: 'Microsoft YaHei';}
.searchForm{width: 100%;}
.searchForm td{background: #F5F5F5; padding: 10px;}
.searchForm td a{color: #237FE5;}
.searchForm td .find{border-radius: 3px 0 0 3px; background: #fff; position: relative; padding: 0 0 0 30px;}
.searchForm td .searchIcon{position: absolute; left: 0; top: 0; font-size: 16px; line-height: 30px; height: 30px; width: 30px; color: #666; text-align: center;}
.searchForm td input.iText{width: 100%; height: 24px; border-radius: 0 3px 3px 0; line-height: 24px;}
.search .keywords{margin-top: 20px;}
.search .keywords .title{font-size: 14px; margin-bottom: 15px;}
.search .keywords .wordlist{}
.search .keywords .wordlist li{float: left; margin-right: 10px;}
.search .keywords .wordlist li a{display: inline-block; padding: 0 10px; height: 24px; margin-bottom: 5px; line-height: 24px; background: #F5F5F5;}
/*====================================================* * product detail ====================================================*/
.buy-area{}
.buy-area .name{color: #333333;font-size: 14px;font-weight: 400;line-height: 18px;max-height: 3em;overflow: hidden;padding:12px 10px 13px 10px;}
.buy-area .price-wrap{height: 15px;line-height: 15px;overflow: hidden;padding: 0 10px;}
.buy-area .price-wrap .tit{color: #333333;float: left;font-size: 14px;}
.buy-area .price-wrap .price{color: #E4393C;float: left;font-size: 16px;font-weight: bold;height: 16px;line-height: 16px;margin-right: 10px;position: relative;top: -1px;}
.buy-area .price-wrap .original-price{color: #B5B5B5;float: left;font-size: 12px;margin-right: 8px;}
.buy-area .qty-wrap{border-top: solid 1px #eee; margin: 8px 0; padding: 0 0 0 20px; line-height: 36px;}
.buy-area .qty-wrap .tit{color: #999999;float: left;font-size: 12px;font-weight: normal;height: 40px;line-height: 34px;overflow: hidden;width: 35px;}
.buy-area .qty-wrap .num{float: left; width: 120px;}
.buy-area .qty-wrap .num input{height:34px;line-height:normal;width:70px;font-size:16px;border:solid 1px #ddd;text-align:center;}
.buy-area .qty-wrap .inventory{color: #999999;display: table;float: left;font-size: 12px;height: 36px;line-height: 34px;margin-left: 15px;padding: 2px;}
.buy-area .btn-wrap{overfloat:hidden;padding:15px 10px;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background:#eee;}
.buy-area .btn-wrap .btn-buy{background:#E4393C;border-radius: 2px;color: #FFFFFF;height: 40px;line-height: 40px;position: relative;text-align: center;text-decoration: none;display:block;}
.shop-info-wrap{border-bottom: 1px solid #DDDDDD;font-size: 12px;padding-left: 0;padding-right: 0;padding:15px 0;display:relative;}
.shop-info-wrap .btn-shop{background: #F5F5F5;border: 1px solid #CCCCCC;border-radius: 2px;color: #333333;float: right;font-size: 14px;height: 29px;line-height: 29px;margin-right: 10px;margin-top: 1px;position: relative;text-align: center;width: 148px;}
.shop-info-wrap .btn-shop .arr_r_s{margin-left: 25px;position: absolute;right: 15px;top: 8px;background:url(/static/wap/images/tpl/detail.png) no-repeat;background-position: -181px -84px;display: inline-block;height: 12px;width: 7px;}
.mod-tab-gap{background: #F3F3F3;padding-top: 15px;}
.item-detail .param{width:100%;}
.item-detail .param td{border: 1px solid #ccc; padding: 5px 10px;}
.order-list{width: 100%; color: #333;}
.order-list td{vertical-align: top;}
.order-list img{width: 50px; height: 50px;}
.order-list .btn{height: 12px; line-height: 12px;}
.order-list .order-head{font-size: 10pt;}
.order-list .order-head th{padding: 0 0 8px; text-align: left;}
.order-list .order-head .base span{color: #000; font-weight: bold;}
.order-list .item-list td{padding: 8px 0 0; border: 1px solid #eee;}
.order-list .item-list .cover{width: 64px; text-align: center;}
.order-list .item-list .detail{padding: 8px;}
.order-list .item-list .name{margin: 0 0 4px;}
.order-list .item-list .total{background: #f0f0f0; line-height: 160%; padding: 0 0 0 4px;}
.product-options{}
.product-opt{margin: 8px 0; line-height: 24px; clear: both;}
.product-opt dt{float: left;}
.product-opt .opt_choose{background: #E0E0E0; display: inline-block; padding: 0 8px;}
.product-opt .opt_choose.current{background: #C51B00; color: #fff;}
.tab-wrap{width: 100%;}
.tab-wrap .tab-nav li{width: 33%; float: left; overflow: hidden;}
.tab-wrap .tab-nav li .tab{display: block; overflow: hidden; width: 100%; border: solid #d4d4d4; border-width: 1px 0 1px 1px; text-align: center; color: #4a4a4a; font-size: 16px; background-color: #f4f4f4; height: 35px; line-height: 35px; white-space: nowrap; /*内容不换行*/ cursor: pointer;}
.tab-wrap .tab-nav li .tab.active{background-color: #fff; border-bottom-color: #fff;}
.tab-wrap .tab-nav li:last-child{width: 34%;}
.tab-wrap .tab-nav li:last-child .tab{border-width: 1px;}
.tab-wrap .tab-content{clear: both;}
.tab-wrap .tab-content .tab-panel{display: none; padding: 8px;}
