<div id="container" class="container">
    <ul class="round">
        <?php if ($list) {
            foreach ($list as $item) { ?>
                <li>
                    <a href="<?php echo $this->uri->baseUrl('addon/vote/vote/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><?php echo $item['topic'] ?></a>
                </li>

            <?php }
        } ?>
    </ul>


</div>