<style>

</style>
<div id="vote">
    <ul>
        <li class="title"><?php echo $vote['topic'] ?></li>
        <input type="hidden" id="vote_id" value="<?php echo $vote['id'] ?>"/>
        <li class="vote-box">
            <?php if (isset($vote) && !empty($vote)) { ?>
                <?php if ($vote['vote_style'] == 'image') { ?>
                    <?php if (isset($list)) {
                        foreach ($list as $k => $item) { ?>
                            <?php if($k==0 || $k%2==0){?>
                                <div id="column">
                            <?php }?>
                            <div class="<?php if ($k % 2 == 0) {
                                echo "voting-box01 voting-box001";
                            } else {
                                echo "voting-box02 voting-box002";
                            } ?>">
                                <p class="box-title"><?php echo $k + 1; ?>、<?php echo $item['option_name'] ?></p>
                                <img src="<?php echo $item['option_image'] ?>" alt="<?php echo $item['option_desc'] ?>">

                                <div class="votes">得票数<span
                                        class="count count_<?php echo $item['id'] ?>"><?php echo $item['option_count'] ?></span>票<a
                                        href="javascript:;" alt="" class="votes-box vote"
                                        data-id="<?php echo $item['id'] ?>">投票</a></div>
                            </div>

                            <?php if($k==count($list) || $k%2==1){?>
                                </div>
                            <?php }?>
                        <?php }
                    } ?>
                <?php } else { ?>
                    <?php if (isset($list)) {
                        foreach ($list as $k => $item) { ?>
                            <?php if($k==0 || $k%2==0){?>
                            <div id="column">
                                <?php }?>
                            <div class="<?php if ($k % 2 == 0) {
                                echo "voting-box01";
                            } else {
                                echo "voting-box02";
                            } ?>">
                                <p class="box-title"><?php echo $k + 1; ?>、<?php echo $item['option_name'] ?>。</p>

                                <div class="votes">得票数<span
                                        class="count count_<?php echo $item['id'] ?>"><?php echo $item['option_count'] ?></span>票<a
                                        href="javascript:;" alt="" class="votes-box vote"
                                        data-id="<?php echo $item['id'] ?>">投票</a></div>
                            </div>

                            <?php if($k==count($list) || $k%2==1){?>
                                </div>
                            <?php }?>
                        <?php }
                    } ?>
                <?php } ?>

            <?php } ?>

        </li>


    </ul>

</div>
<!---------------------- 投票 vote end --------------------------------->


<script>
    seajs.use('base', function () {
        $(function () {
            $('.vote').click(function () {
                var option_id = $(this).attr('data-id');
                var vote_id = $('#vote_id').val();
                $.ajax({
                    'url': '/addon/vote/ajaxVote',
                    'dataType': 'json',
                    'type': 'post',
                    'data': {'id': option_id, 'vote_id': vote_id},
                    'success': function (res) {
                        if (res.err == 0) {
                            $('.count_' + option_id).html(res.s);
                            tip.showTip('ok', '投票成功', 2000);
                        }
                        else if (res.err == 2) {
                            if (confirm(res.s)) {
                                window.location.href = '/user';
                            }

                        }
                        else {
                            tip.showTip('err', res.s, 2000);

                        }

                    },
                    'error': function () {
                        tip.showTip('err', 'error', 2000);
                    }


                })
            })


        })


    })


</script>