<div id="container" class="container shop-list-wrap">

    <?php
    use Multiple\Wap\Helper\ShopData;
    use Util\EasyEncrypt;

    $sort = isset($_GET['sort']) && ($_GET['sort'] == 'desc') ? 'asc' : 'desc';
    $order = isset($_GET['order']) ? $_GET['order'] : 'is_hot';
    $order = in_array($order, array('is_hot', 'is_recommended', 'sell_price', 'created')) ? $order : 'is_hot';
    $id = EasyEncrypt::decode($this->dispatcher->getParam(0));
    if ($id) {
        $sub = \Models\Product\ProductCat::find('customer_id = ' . CUR_APP_ID . ' and parent_id=' . $id);
        $cids = array($id);
        if ($sub) {
            $sub = $sub->toArray();
            $arr = array_column($sub, 'id');
            $cids = array_merge($arr, $cids);
        }
        $where = 'is_active=1 and customer_id=' . CUR_APP_ID . ' and cid in(' . implode(',', $cids) . ')';
        $list = ShopData::init()->getList($where, 0, 10, $order . ' ' . $sort);
        ?>

        <div class="product">

            <div class="ui-refresh">

                <div class="filter">
                    <table>
                        <tr>
                            <td>
                                <a <?php if ($order == 'is_hot'): ?>class="cur"<?php endif; ?>
                                   href="<?php echo $this->uri->baseUrl('shop/cat/' . EasyEncrypt::encode($id)) . '?order=is_hot&sort=' . $sort; ?>">销量</a>
                            </td>
                            <td>
                                <a <?php if ($order == 'is_recommended'): ?>class="cur"<?php endif; ?>
                                   href="<?php echo $this->uri->baseUrl('shop/cat/' . EasyEncrypt::encode($id)) . '?order=is_recommended&sort=' . $sort; ?>">人气</a>
                            </td>
                            <td><a <?php if ($order == 'sell_price'): ?>class="cur"<?php endif; ?>
                                   href="<?php echo $this->uri->baseUrl('shop/cat/' . EasyEncrypt::encode($id)) . '?order=sell_price&sort=' . $sort; ?>">价格 <?php if ($order == 'sell_price'): ?>
                                    <i
                                        class="sort <?php if ($sort == 'asc'): ?>asc<?php endif; ?>"></i><?php endif; ?>
                                </a></td>
                            <td><a <?php if ($order == 'created'): ?>class="cur"<?php endif; ?>
                                   href="<?php echo $this->uri->baseUrl('shop/cat/' . EasyEncrypt::encode($id)) . '?order=created&sort=' . $sort; ?>">上新</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="productlist">

                    <?php if (count($list) > 0): ?>
                        <ul class="data-list clearfix">

                            <?php foreach ($list as $pro): ?>
                                <li>
                                    <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($pro['id'])); ?>">
                                        <p class="cover"><img src="/static/wap/images/default/loading.gif"
                                                              class="ui-imglazyload"
                                                              data-original="<?php echo \Util\ImgSize::getSize($pro['thumb'], 160); ?>"
                                                /></p>

                                        <div class="detail">
                                            <div class="name"><?php echo $pro['name']; ?></div>
                                            <div class="price">&yen; <?php echo $pro['sell_price']; ?><br/>
                                                <del>&yen;<?php echo $pro['original_price']; ?></del>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>

                        <div class="ui-refresh-down"></div>

                    <?php else: ?>

                        <div class="empty">暂无商品信息</div>

                    <?php endif; ?>


                </div>

            </div>

        </div>


        <script type="text/javascript">
            seajs.use('/static/wap/gmu/widget/refresh.js', function () {
                $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

                var page = 1;
                $(function () {
                    /*组件初始化js begin*/
                    $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() + 45 || 82)).refresh({
                        statechange: function () {
                            $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});
                        },
                        load: function (dir, type) {
                            var me = this;
                            var link = '<?php echo $this->uri->baseUrl('api/product/item_list') . '?cid='.$id.'&order=' . $order .'&sort='.$sort ?>' + '&page=' + page;
                            $.getJSON(link, function (data) {
                                page++;
                                var $list = $('.data-list'),
                                    html = (function (data) {      //数据渲染
                                        var liArr = [];
                                        $.each(data, function () {
                                            liArr.push(this.html);
                                        });
                                        return liArr.join('');
                                    })(data);

                                $list[dir == 'up' ? 'prepend' : 'append'](html);
                                me.afterDataLoading(dir);    //数据加载完成后改变状态

                                $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

                                if (data.length <= 0) {
                                    me.disable(dir, false);
                                }
                            });
                        }
                    });
                    /*组件初始化js end*/
                });
            });
        </script>
    <?php } ?>
</div>