<?php
use Models\Shop\Shop;

$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' and enable=1');
$categories = \Multiple\Wap\Helper\ShopData::init()->getCatalog();
?>
<div id="container" class="container">

    <div class="catalog">

        <div class="bg"><img src="<?php echo $store->background ?>" style="width: 100%;"/></div>

        <div class="catalog-content">

            <div class="catalog-list">
                <ul>
                    <li><a href="<?php echo $this->uri->baseUrl('shop/all') ?>">全部商品</a></li>
                    <li><a href="<?php echo $this->uri->baseUrl('shop/catalog') ?>">全部类目</a></li>
                    <?php if (count($categories) > 0): ?>
                        <?php foreach ($categories as $cate): ?>
                            <li>
                                <a href="<?php echo $this->uri->baseUrl('shop/cat/' . \Util\EasyEncrypt::encode($cate['id'])); ?>"><?php echo $cate['name']; ?></a>
                            </li>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </ul>
            </div>

        </div>

    </div>

</div>
