<?php
use Multiple\Wap\Helper\SiteData;

$slider = SiteData::init()->getFocus('focus_slider');
if ($slider) {
    ?>
    <div class="focus">
        <div id="slider" data-widget="slider" data-imgZoom="true" data-autoPlayTime="1000" data-loop="true">
            <?php foreach ($slider as $item) {
                ?>
                <div>
                    <a href="<?php echo $item['link'] ?>">
                        <img src="<?php echo $item['img'] ?>">
                    </a>

                    <p><?php echo $item['name'] ?></p>
                </div>
            <?php } ?>
        </div>
    </div>
<?php
}
?>
