<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = false;
?>
<style type="text/css">
    #news_content {
        padding-top:  0;
    }
</style>
<div id="news_content">
    <div class="title-box"><b><?php echo $item['title']; ?></b>
        <p><span class="right" style="font-weight:normal;font-size: 14px;"><?php echo date("Y-m-d H:i", $item['created']);?></span></p>
    </div>
    <?php echo $item['content']; ?>

</div>
<script>
    $(function () {
        var imgsSrc = [];
        /*微信*/
        seajs.use('tools/imgPreview', function (api) {
            api.wxPreview("#news_content");
        });

    })
</script>