<div id="new_product">
    <?php if (isset($catInfo)) { ?>
        <div class="tit"><span><?php echo $catInfo['name'] ?></span></div><?php } ?>
    <ul>
        <?php if ($list) { ?>
            <?php foreach ($list as $k => $item) { ?>
                <li>
                    <a href="<?php //if ($item['subCount'] == 0) {
                        echo $this->uri->baseUrl('/article/topic/' . \Util\EasyEncrypt::encode($item['id']));
                    //} else {
                        //echo "/article?pid=" . \Util\EasyEncrypt::encode($item['id']);
                    //} ?>">
                        <div class="pic"><img src="<?php echo $item['cover'] ?>" alt=""/></div>
<!--                        <span>--><?php //echo $item['name'] ?><!--</span>-->
                </li>
            <?php } ?>

        <?php } ?>

    </ul>
</div><!-- new_product end-->
