<div id="new_product">
    <div class="tit"><span><?php echo $nav['name'] ?></span></div>
    <ul>
        <?php if (isset($categories) && count($categories) > 0) {
            ?>
            <?php foreach ($categories as $k => $item) { ?>
                <li>
                    <a href="<?php echo $this->uri->baseUrl('/article/topic/' . \Util\EasyEncrypt::encode($item->id)) . "\"";
                    ?>">
                        <div class=" pic"><img src="<?php echo $item->cover ?>" alt=""/>
                        </div>
                        <!--<span><?php //echo $item->name ?></span></a>-->
                </li>
            <?php
            }
        } else if (isset($list) && count($list) > 0) {
            ?>
            <?php foreach ($list as $k => $item) { ?>
                <li>
                    <?php if (isset($limit_page) && $limit_page === true && !(\Components\UserStatus::getUid())){
                    $pagec = intval($pagec);
                    ?>
                    <a href="<?php if ($pagec <= $k) {
                        echo 'javascript:;' . "\" class='switchToLoginBtn'";
                    } else {
                        echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) . "\"";
                    } ?>">
                        <div class=" pic"><img src="<?php echo $item['cover'] ?>" alt=""/>
                        </div>
                        <!--<span><?php //echo $item['title'] ?></span>-->
                        <?php } else { ?>
                            <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                                <div class="pic"><img src="<?php echo $item['cover'] ?>" alt=""/></div>
                                <!--<span><?php /*//echo $item['title']*/ ?></span>-->
                            </a>
                        <?php } ?>
                </li>
            <?php } ?>

        <?php } ?>

    </ul>
</div><!-- new_product end-->

