<?php
$this->partial('module/panorama/default/base');
?>
<style>
    .up_file_list {
        display: inline-block;
        vertical-align: middle;
    }

    .chooseTip {

    }
</style>
{{ content() }}

<?php
if (isset($item)) {
    ?>
    <form action="" id="registerForm" class="form-horizontal" onbeforesubmit="return false"
          data-toggle="validator" role="form" method="post">
        <fieldset>
            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">如何制作</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <a href="/panel/addon/panorama/default/intro" target="_blank">点击查看如何制作全景图？</a>
                </span>
                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">全景图标题</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="全景图标题"
                           value="<?php echo $item['title']; ?>"
                           required>
                </span>
                    <span class="help-block with-errors"><span class="red">*</span> </span>
                </div>
            </section>

            <section class="form-group">
                <label for="detail" class="col-sm-1 control-label">全景图简介</label>

                <div class="col-sm-10">
        		<span class="col-sm-3">
        			<textarea name="detail" id="detail" style="height: 80px;"
                              placeholder="内容摘要"><?php echo $item['detail']; ?></textarea>
        		</span>
                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">前图</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="front" readonly="readonly" name="front"
                           value="<?php echo $item['front']; ?>"
                        >
                </span>
                    <span class="uploadArea" id="upFrontBtn" data-unique="front"></span>
                    <img class="imgPreview" src='<?php echo $item['front']; ?>'
                         style="height: 36px;"/></span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>
                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">右图</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="right" readonly="readonly" name="right"
                           value="<?php echo $item['right']; ?>">
                </span>
                    <span class="uploadArea" id="upRightBtn" data-unique="right"></span>
                    <img class="imgPreview" src='<?php echo $item['right']; ?>'
                         style="height: 36px;"/></span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>

                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">后图</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="back" readonly="readonly" name="back"
                           value="<?php echo $item['back']; ?>"
                        >
                </span>
                    <span class="uploadArea" id="upBackBtn" data-unique="back"></span>
                    <img class="imgPreview" src='<?php echo $item['back']; ?>'
                         style="height: 36px;"/></span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>

                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">左图</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="left" readonly="readonly" name="left"
                           value="<?php echo $item['left']; ?>"
                        >
                </span>
                    <span class="uploadArea" id="upLeftBtn" data-unique="left"></span>
                    <img class="imgPreview" src='<?php echo $item['left']; ?>'
                         style="height: 36px;"/></span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>

                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">上图</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="top" readonly="readonly" name="top"
                           value="<?php echo $item['top']; ?>">
                </span>
                    <span class="uploadArea" id="upTopBtn" data-unique="top"></span>
                    <img class="imgPreview" src='<?php echo $item['top']; ?>'
                         style="height: 36px;"/></span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>

                </div>
            </section>

            <section class="form-group">
                <label for="name" class="col-sm-1 control-label">下图</label>

                <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="down" readonly="readonly" name="down"
                           value="<?php echo $item['down']; ?>"
                        >
                </span>
                    <span class="uploadArea" id="upDownBtn" data-unique="down"></span>
                    <img class="imgPreview" src='<?php echo $item['down']; ?>'
                         style="height: 36px;"/></span>
                    <span class="help-inline with-errors"><span class="red">*</span> </span>
                </div>
            </section>

            <section>
                <label for="name" class="col-sm-1 control-label"></label>

                <div class="col-sm-10" style="padding: 0 0 0 20px;">
                    <input type="submit" value="提交" class="btn btn-primary btn-large" name="btn-base"/>
                </div>
            </section>

        </fieldset>

    </form>
    <script>
        seajs.use('app/module/module.panorama', function (api) {
            api.setPano();
        });
    </script>
    <div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    ">
        <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
            <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
        </p>
        <iframe name="appFrame" id="appFrame"
                src="<?php echo $this->uri->wapModuleUrl('panorama/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>"
                style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
    </div>

<?php } ?>
