<?php

use Components\TplManager;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');

?>
<div class="content">
    <?php foreach ($navs as $key => $item) { ?>
        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
            <div class="ul01"
                 style="background-image: url('/static/wap/images/tpl/home/11/wz_05_007.png');padding-bottom: 0;">
                <div class="ul01_left">
                    <img src="/static/wap/images/tpl/home/11/wz_05_13.png" height="95" width="11">
                </div>
                <div class="ul01_cont">
                    <div class="circle">
                        <div class="semicircle"></div>
                        <div class="imgchange" style="background-image: url(<?php echo $item['cover_img']; ?>);"></div>
                    </div>

                    <div class="ul01_cont_nr">
                        <h4><?php echo $item['name']; ?></h4>

                        <p><?php echo $item['sub_name']; ?></p>
                    </div>
                    <div class="arrow_right">
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                            <img src="/static/wap/images/tpl/home/11/button_20.png">
                        </a>
                    </div>
                </div>
                <div class="ul01_right">
                    <img src="/static/wap/images/tpl/home/11/wz_05_16.png" height="95" width="11">
                </div>

                <div class="clr"></div>
            </div>
        </a>
    <?php } ?>
</div>

<div class="copyright">
</div>