<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">销售角色：</label>
                    <select  class="input-small" name="role" >
                        <option value="">全部</option>
                        <option value="first">一级代理</option>
                        <option value="second">二级代理</option>
                        <option value="sales">分销商</option>
                    </select>
                </div>
                <div class="control-group span6">
                    <label class="control-label">所属一级代理(ID)：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="first_agent" >
                    </div>
                </div>
                <div class="control-group span6">
                    <label class="control-label">所属二级代理(ID)：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="second_agent">
                    </div>
                </div>
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>
</div>

<div id="content" class="hide">
    <form id="J_Form" class="form-horizontal">
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>代理</label>
                <div class="controls">
                    <input name="name" type="text" data-rules="{required:true}" class="input-normal control-text" readonly="true">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>域名</label>
                <div class="controls">
                    <input name="domain" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="control-group span8">
                <label class="control-label"><s>*</s>品牌</label>
                <div class="controls">
                    <input name="brand_name" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
            <div class="control-group span8">
                <label class="control-label"><s>*</s>logo</label>
                <div class="controls">
                    <input name="logo" type="text" data-rules="{required:true}" class="input-normal control-text">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bui/js/bui-min.js"></script>
<script type="text/javascript" src="/static/bui/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>

<script type="text/javascript">
    BUI.use('common/search',function (Search) {
            var editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit'
            }),

            columns = [
                {title:'代理',dataIndex:'name',width:100},
                {title:'域名',dataIndex:'domain',width:100},
                {title:'logo',dataIndex:'logo',width:150},
                {title:'品牌',dataIndex:'brand_name',width:100},
                {title:'操作',dataIndex:'',width:100,renderer : function(value, obj){
                    var editStr1 = '<span class="grid-command btn-edit" title="编辑人员">编辑</span>';
                    return editStr1;
                }}
            ],

            store = Search.createStore('/admin/logo/list', {
                proxy : {
                    save : { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                        addUrl : '/admin/logo/create',
                        updateUrl : '/admin/logo/edit',
                        removeUrl : '/admin/logo/remove'
                    },
                    method : 'POST'
                },
                autoSync : true //保存数据后，自动更新
            }),

            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [

                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

            var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

            function addFunction(){
                var newData = {isNew : true}; //标志是新增加的记录
                editing.add(newData,'name'); //添加记录后，直接编辑
            }

             //删除操作
             function delFunction(){
                    var selections = grid.getSelection();
                    delItems(selections);
              }

            function delItems(items){
                var ids = [];
                BUI.each(items,function(item){
                    ids.push(item.id);
             });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>