<?php
use Models\User\UserAddress;

$user_id = \Components\UserStatusWap::getUid();
$address = UserAddress::find('user_id=' . $user_id);
$address = $address ? $address->toArray() : [];
$default_address = UserAddress::findFirst('is_default = 1 and user_id=' . $user_id);
$default_addr = $default_address ? $default_address->toArray() : [];
?>
<div class="choose-address">
    <input name="" type="hidden" value="<?php echo isset($default_addr['id']) ? $default_addr['id'] : ''; ?>"
           id="address_id"/>

    <div class="address-head">
        <span class="right">
            <a href="javascript:;" class="chooseAddr rightBtn"><i class="icon icon-angle-right "></i></a>
        </span>
        送货地址
    </div>
    <?php
    if ($default_addr) {
        ?>
        <a class="address-content" href="javascript:;">
            <p><?php echo $default_addr['province'] . '·' . $default_addr['city'] . '·' . $default_addr['town']; ?></p>

            <p><?php echo $default_addr['address'] ?></p>

            <p><?php echo $default_addr['name'] . ' ' . $default_addr['phone']; ?></p>
        </a>
    <?php } else { ?>
        <div class="address-content">
            <p style="margin: 10px 0;"><a href="javascript:;" class="chooseAddr btn">添加新地址</a></p>
        </div>
    <?php } ?>
</div>