<?php
$coupon = \Components\Module\CouponManager::getUsableCoupon($discount_amount);
?>
<?php
if ($coupon['coupon']) {
    ?>
    <div class="coupon-widget">
        <?php
        if ($coupon['coupon']) {
            ?>
            <p>优惠劵:</p>

            <div class="choose_coupon">
                <select name="" id="coupon">
                    <option value="">--选择优惠劵--</option>
                    <?php
                    foreach ($coupon['coupon'] as $coup) {
                        $coupon_tip = $coup['coupon_minus'] == $coupon['max_minus'] ? $coup['coupon_tip'] : '';
                        ?>
                        <option value="<?php echo $coup['serial_number']; ?>"
                                data-coupon_type="<?php echo $coup['coupon_type']; ?>"
                                data-coupon_tip="<?php echo $coup['coupon_tip']; ?>"
                                data-coupon_minus="<?php echo $coup['coupon_minus']; ?>"
                            <?php echo $coup['coupon_minus'] == $coupon['max_minus'] ? 'selected="selected"' : ''; ?>
                            >
                            <?php echo '[' . \Components\Module\CouponManager::getCouponType($coup['coupon_type']) . ']'; ?>
                            <?php echo $coup['name']; ?>[省<?php echo $coup['coupon_minus']; ?>元]
                        </option>
                    <?php } ?>
                    <option value="">暂不使用</option>
                </select>
            </div>
            <p class="coupon-tip"><?php echo $coupon_tip; ?></p>
        <?php } ?>
    </div>
<?php } ?>