<div id="container" class="container">
    <div class="settle-page page">
        <div class="settle-head head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
            <span class="center">结算订单</span>
        </div>
        <div class="empty">
            <div class="nop">
                <p>哎呀,出错了~</p>

                <p><?php echo $tip; ?> <a href="/order/cart">返回购物车 <i
                            class="icon icon-angle-right"></i></a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>