<?php
use Components\Product\TransactionManager;

// todo 邮费
$postage = TransactionManager::instance(HOST_KEY)->getCustomerLogistics(CUR_APP_ID, false, true);
?>
<div class="postage_choose">
    <div class="postage_info" data-postage="<?php if ($paid_cash > 169) {
        echo "free";
    } else {
        echo "need";
    } ?>">
        <?php
        if (strpos($_SERVER['HTTP_HOST'], "emoi.cn") === false || (strpos($_SERVER['HTTP_HOST'], "emoi.cn") !== false && count($postage) > 0 && $paid_cash < 169)) {
            ?>
            <span class="name">运送方式</span>

            <div class="choose-wrap">
                <p class="choose">

                    <select name="" id="postage">
                        <option value="">请选择运送方式</option>
                        <?php
                        foreach ($postage as $post) {
                            if (!$post['is_active']) continue;
                            ?>
                            <option value="<?php echo $post['key']; ?>" data-fee="<?php echo $post['fee']; ?>">
                                <?php echo $post['name']; ?>
                                &yen; <?php echo $post['fee']; ?>
                            </option>
                        <?php } ?>
                    </select>


                </p>
            </div>
        <?php
        } else {
            ?>
            满<span class="money">&yen;169</span>包邮 <?php } ?>
    </div>

    <p class="">
        <input class="remark" type="text" placeholder="给卖家留言"
               style="display: block;width: 100%;box-sizing: border-box"/>
    </p>
</div>

