<?php

use Models\Modules\Vipcard\AddonVipcardUsers;
use Multiple\Wap\Helper\ShopData;
use Components\UserStatusWap;

$point = UserStatusWap::init()->getPoint();
$store = ShopData::init()->getStore(true);
$redeem_proportion = $store['redeem_proportion'];
$vipcard_user = AddonVipcardUsers::findFirst("customer_id=" . CUR_APP_ID . " AND user_id=" . UserStatusWap::getUid());
if ($vipcard_user && $vipcard_user->is_company == 1 && $store['firm_redeem_proportion'] > 0) {
    $redeem_proportion = $store['firm_redeem_proportion'];
}

?>
<?php if ($store && $redeem_proportion > 0) { ?>
    <p class="points_choose" style="margin: 20px 0; height: 40px; line-height: 40px;">
        <input type="hidden" value="<?php echo $point; ?>" id="pointsBox">
        <input type="hidden" value="<?php echo $redeem_proportion ?>" id="redeem_proportion">
        使用积分(可用<span class="myPoints"><?php echo $point; ?></span>)：
        <input type="checkbox" value="1" name="pointsCheckbox" id="pointsCheckbox">
        <input type="text" value="" name="usePoint" id="usePoint"
               style="display: none;border: 1px solid #e3e3e3; width: 100px;"/>
    </p>
<?php } ?>

<p>
    <span class="right">
        实际支付：
        <span class="cart-money total_fee" id="cart_money" style="font-size: 12pt;"
              data-total="<?php echo $paid_cash + $total_freight_price; ?>">
        &yen; <?php echo $paid_cash + $total_freight_price; ?>(含运费)
        </span>
    </span>
</p>