<?php
/**
 * Created by PhpStorm.
 * User: Arimis
 * Date: 14-6-13
 * Time: 下午10:07
 */

?>

{{content()}}
<style type="text/css">
    body {
        background: #898989;
    }
</style>

<div style="width: 500px; border: 1px solid #F6F6F6;margin: 200px auto; border-radius: 10px; color: #FFF; background: #ABC734; font: 48px bold; padding: 15px;">{{content()}}</div>