/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 40px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}

.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {
    overflow: hidden;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/site/images/arrow-r.png) center right no-repeat;
}

#high-link a {
    width: 50%;
    float: left;
    font-size: 16px;
    line-height: 36px;
    display: block;
    color: #EA2818;
    background: #f0f0f0;
}

#high-link a:first-child {
    margin-left: -1px;
    border-right: 1px solid #E0E0E0;
}

.micro-func .box-btn {
    margin: 5px;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 12pt;
    text-align: center;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    color: #fff;
    background: #EA5946;
    background: -webkit-gradient(linear, left top, left bottom, from(#EA2818), to(#DA1710));
    background: -moz-linear-gradient(top, #fff, #ededed);
}

.part {
    border-top: 1px solid #e0e0e0;
}

.part .nav .nav-wrap {
    width: 50%;
    float: left;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#fff, #f0f0f0);
    background-image: -moz-linear-gradient(#fff, #f0f0f0);
    background-image: -ms-linear-gradient(#fff, #f0f0f0);
    background-image: -o-linear-gradient(#fff, #f0f0f0);
    background-image: linear-gradient(#fff, #f0f0f0);
}

.part .nav .nav-wrap a {
    width: 100%;
    padding: 8px 0 0 0;
    height: 68px;
    line-height: 160%;
    display: block;
    text-align: center;
    margin: 0 0 0 -1px;
    border-bottom: 1px solid #e0e0e0;
}

.part .nav .nav-wrap.bdr a {
    border-right: 1px solid #e0e0e0;

}
.part .nav .nav-wrap.bdr a {
}

.part .nav .icon {
    font-size: 36px;
    display: block;
}

/* about */
.left-fixed {
}

.left-fixed > div {
    -webkit-box-flex: 1;
}

.left-fixed > div.left {
    width: 80px;
    -webkit-box-flex: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #ccc;
    line-height: 34px;
}

.left-fixed > div.left a {
    color: #666;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.left-fixed > div.left a.ui-state-active {
    background: #f0f0f0;
}

.ui-scroller {
    float: left;
}

.ui-navigator {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f3f3f3;
}

.ui-navigator-list li.ui-state-hover, .ui-navigator-list li.ui-state-active {
    background: #e0e0e0;
}

.ui-navigator-list li a {
    color: #666;
    font-weight: 400;
}

.activity {
    border: 1px solid #E0E0E0;
}

.activity .act-title {
    line-height: 30px;
    padding: 0 8px;
    background: #f0f0f0;
    border-bottom: 1px solid #E0E0E0;
}

.activity .activity-list li {
    width: 50%;
    float: left;
    text-indent: 20px;
    line-height: 36px;
    font-size: 10pt;
}

.activity .activity-list li:first-child {
    border-right: 1px solid #E0E0E0;
    margin-left: -1px;
}

.activity a {
    color: #f00;
}

.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    height: 40px;
    font-size: 12pt;
    line-height: 40px;
    width: 130px;
}

.button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.button.white:link, .button.white:visited {
    color: #606060;
}

form p {
    margin-bottom: 8px;
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}
/*列表布局 2.css*/
.list{margin-top:10px;width:100%;overflow:hidden;padding: 0;}
.list li{background-image:linear-gradient(#fff, #f1f1f1);border-bottom:1px solid #ccc;position: relative;overflow:hidden;list-style-type: none;padding:6px;-webkit-border-radius: .1em;-moz-border-radius: .1em;border-radius: .1em;}
.list li a img{float:left;overflow:hidden;height:48px;width:48px;margin-right:6px;}
.list li a {overflow:hidden;display:block;font-size:0.8rem;}
.list li a span{display:block;overflow:hidden;}
.list li .title{padding-left:5px;line-height:30px;overflow:hidden;color:#000;font-size:16px;white-space:nowrap;}
.list li .summary {
    font-size: 0.8rem;
    color: #666;
    height: 30px;
    overflow: hidden;
    line-height: 48px;
}
.list li.nocover .summary{line-height:30px;}

.ui-refresh-down { text-align: center; margin-top:10px;}

.list .icon-right {
    position: absolute;
    right: 12px;
    font-weight: 400;
    top:50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.list .small{overflow:hidden;display:block;color:#666;padding-top:2px;font-size: 10pt;}
.list .price{overflow:hidden;display:block;color:#EA8511;padding-top:2px;font-size: 12pt;font-weight:600;}
.list .del{text-decoration:line-through;margin-left:10px;}

.list-x span{overflow:hidden;}
.list-x .sub-title{font-size: 11pt;color:#666;font-weight:600;padding-left:10px;margin-bottom:10px;}
.list-x .small{overflow:hidden;color:#666;padding-top:2px;font-size: 10pt;}
.list-x .price{overflow:hidden;color:#EA8511;padding-top:2px;font-size: 12pt;font-weight:600;}
.list-x .del{text-decoration:line-through;margin-left:10px;}
.list-arrow-right li{background: url(/site/images/arrow-r.png) center right no-repeat;}

.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}

.article-wrap {
    color: #000;
    font-size: 14px;
    background: #efefef;
}

.article-head {
    background: #f0f0f0;
    padding: 8px;
}

.article-head .article-title {
    color: #666;
    line-height: 36px;
}


.head_logo {
    display: block;
    position: relative;
}

.head_logo .line {
    text-align: center;
}

.head_logo .after {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 20px;
    z-index: 10;
}

.head_logo .info {
    height: 62px;
    overflow: hidden;
    margin: 10px 0 0;
}

.head_logo .info dt {
    float: left;
    width: 60px;
    margin: 0 20px 0 0;
}

.head_logo .info dd {
    padding: 10px 0 0 10px;
}

.head_logo .info dt img {
    background-size: 100% auto;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: inline-block;
    height: 60px;
    margin: 0 10px;
    width: 60px;
}

.head_logo .info .name {
    font-size: 16px;
    margin: 0 0 8px;
    color: #333;
}

.head_logo .info .more {
    color: #999;
}

.article-content {
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info {
    color: #666;
}

.share-container {
    width: 95%;
    margin: 0 auto;
}

.share-container .mcover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20000;
}

.share-container .mcover img {
    height: 180px !important;
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px !important;
    z-index: 20001;
}

.share-container .share-content {
    color: #727272;
    font-size: 14px;
    margin: 15px 0;
    word-wrap: break-word;
}

.share-container .share-content .mess-share {
    margin: 15px 0;
}

.share-container .share-content .mess-share .share-left {
    float: left;
    width: 49%;
}

.share-container .share-content .mess-share .share-right {
    float: right;
    width: 49%;
}

.share-container .share-content .mess-share .share-left button,
.share-container .share-content .mess-share .share-right button {
    background-color: #e8e8e8;
    background-image: linear-gradient(to top, #dbdbdb, #f4f4f4);
    border: 1px solid #adadab;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45), 0 1px 1px #efefef inset;
    color: #000000;
    font-size: 16px;
    padding: 8px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    width: 100%;
}

.share-container .share-content .mess-share .share-left button img,
.share-container .share-content .mess-share .share-right button img {
    border: 0 none;
    height: 22px !important;
    vertical-align: top;
    width: 22px !important;
}

/*推荐阅读 */
.recommend > label {
    background: url("/static/wap/images/tpl/msg.png") no-repeat scroll left center / 22px auto rgba(0, 0, 0, 0);
    font-size: 15px;
    line-height: 30px;
    padding-left: 30px;
}

.recommend li {
    border-top: 1px solid #aaa;
    list-style: none;
}

.recommend li > a {
    background: url("/static/wap/images/tpl/arr.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #000;
    display: block;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: normal;
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}
