<link rel="stylesheet" href="/static/home/pc/reach/css/aim.css"/>
<div class="wrapper">
    <div class="main">
        <div class="aim_right">
            <div class="enteprice">
                <p>让企业的移动电子商务真正转化为 效益，帮助企业的移动电子商务插上腾飞的翅膀！</p>
            </div>
            <div class="person">
                <p>为员工提供实现梦想的舞台！</p>
            </div>
            <div class="investor">
                <p>为投资者提供移动电子商务快速拓展与回报的平台！</p>
            </div>
        </div><!--aim_right end-->
        <div class="clear"></div>
    </div><!--main end-->
</div><!--wrapper end-->