<?php
use Multiple\Wap\Helper\SiteData;

$part = SiteData::init()->getNavs('part');
?>
<div id="part">
    <?php
    if ($part) {
        ?>
        <ul class="part">
            <?php foreach ($part as $k => $item) {
                ?>
                <li class="nav">
                    <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                        <dl>
                            <dt class="img">
                                <?php if ($item['cover_img']): ?>
                                    <img src="<?php echo $item['cover_img']?>"/>
                                <?php endif; ?>
                            </dt>
                            <dd>
                                <p class="fst-name" style="font-size: 14px;"><span><?php echo $item['name'] ?></span>
                                </p>

                                <p class="fst-name" style="color: #999;"><span><?php echo $item['detail'] ?></span></p>
                            </dd>
                        </dl>
                    </a>
                </li>
            <?php } ?>
        </ul>
    <?php } ?>
    <div class="clear"></div>
</div>
