<style>
    .foot{
        display: none;
    }
</style>
<?php
use Multiple\Wap\Helper\SiteData;


$site = SiteData::init()->getSite('customer_id=' . CUR_APP_ID);


$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
$num_navs = count($navs);
$navs_page = ceil($num_navs / 6);
$focus = \Multiple\Wap\Helper\SiteData::init()->getFocus('part');


?>


<div id="cate16">
    <div class="mainbg">
        <img src="<?php echo $site['site_bg'] ?>">
    </div>
    <div class="device"><!<?php ?>--device--->
        <a class="arrow-left" href="#"></a>
        <a class="arrow-right" href="#"></a>

        <div class="swiper-container" style="cursor: -webkit-grab;">
            <div class="swiper-wrapper"
                 style="width: 870px; height:250px; -webkit-transform: translate3d(-290px, 0px, 0px); -webkit-transition: 0s; transition: 0s; transform: translate3d(-290px, 0px, 0px);">

                <?php for ($i = 1; $i <= $navs_page; $i++) { ?>
                    <div class="swiper-slide" style="width: 290px; height: 250px;">
                        <div class="content-slide">
                            <?php foreach ($navs as $key => $item) { ?>
                                <?php if (($i - 1) * 6 <= $key and $key < $i * 6) { ?>
                                    <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                                        <p class="ico"><img
                                                src="<?php echo  $item['cover_img']?>"></p>

                                        <p class="title"><?php echo $item["name"]; ?></p>
                                    </a>
                                <?php
                                }
                            } ?>

                        </div>
                    </div>
                <?php } ?>


            </div>
            <div class="pagination"><span
                    class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span></div>
        </div>
    </div><!---device--->
</div>
<script>

    seajs.use(['/static/wap/js/idangerous.swiper-2.1.min.js'], function () {
        /** GMU组件DOM初始化 */

        var mySwiper = new Swiper('.swiper-container', {
            pagination: '.pagination',
            loop: true,
            grabCursor: true,
            paginationClickable: true
        })
        $('.arrow-left').on('click', function (e) {
            e.preventDefault()
            mySwiper.swipePrev()
        })
        $('.arrow-right').on('click', function (e) {
            e.preventDefault()
            mySwiper.swipeNext()
        })

        //整个页面的滑动
        var mySwiper_fashion = new Swiper('.swiper-fashion', {
            pagination: '.pagination-fashion',
            paginationClickable: true

        });

    })


</script>

