<?php
use Components\TplManager;
use Models\Shop\Shop;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');
$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
$store = $store ? $store->toArray() : [];
?>
<style>
    body {
        background-color: #000000;
    }
</style>
<div id="cate10">

    <div class="catemenu">
        <ul>
            <?php foreach ($navs as $item) { ?>
                <li>
                    <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>"> <img
                            src="<?php echo \Util\ImgSize::getSize($item['cover_img'], 160) ?>"><?php echo $item['name'] ?>
                    </a>
                </li>
            <?php } ?>
            <div class="clr"></div>
        </ul>
    </div>
    <div class="copyright">
    </div>
</div>

