<?php
use Multiple\Wap\Helper\SiteData;

/*if ($this->dispatcher->getControllerName() == 'shop') {
    $AllFootNav = SiteData::init()->getAllNavs('foot', 'shop');
} else {
    $AllFootNav = SiteData::init()->getAllNavs('foot', 'home');
}*/
$AllFootNav = SiteData::init()->getAllNavs('foot');
if (!\Components\TplManager::$_config['hideFooter']) {
    ?>
    <!------------------------------- public_footer begin ----------------------------->
    <div class="footer">
        <ul>
            <li class="line">
                <a href="/"><img src="/static/wap/images/tpl/renhao1/footer_home_hover.png" alt=""/><span
                        class="cur">首页</span></a>
            </li>
            <?php  if ($AllFootNav) {
                $nav_view = array_splice($AllFootNav, 0, 2);
                foreach ($nav_view as $item) {
                    ?>
                    <li class="line">
                        <a href="<?php if($item['link_type'] == 'tel'): echo 'tel:'; endif; echo $item['link'] ?>"><span
                                class="<?php echo $item['icon']; ?>"> <span/><span><?php echo $item['name'] ?></span></a>
                    </li>
                <?php } ?>
                <?php if (count($AllFootNav) > 0) { ?>
                    <li class="footer_more">
                        <a href="javascript:;"><img src="/static/wap/images/tpl/renhao1/footer_more.png" alt=""/><span>更多</span></a>
                    </li>
                <?php } ?>

            <?php } ?>

        </ul>
        <div class="clear"></div>

        <!------------------------------- pop_more begin --------------------------------->
        <div id="mask"></div>
        <div class="pop_more">
            <div class="con">
                <ul>
                    <?php if (!empty($AllFootNav)) {
                        foreach ($AllFootNav as $val) {
                            ?>
                            <li><a href="<?php if($val['link_type'] == 'tel'): echo 'tel:'; endif; echo $val['link'] ?>"><img src="<?php echo $val['cover_img'] ?>" alt=""/><span><?php echo $val['name'] ?></span></a>
                            </li>
                        <?php }
                    } ?>
                </ul>
                <div class="clear"></div>
                <div class="arrow"></div>
            </div>

        </div>
        <!-- pop_more end-->
        <!------------------------------- pop_more end --------------------------------->

    </div><!-- footer end-->
    <!------------------------------- public_footer end ------------------------------->
<?php } ?>