<?php
use Multiple\Wap\Helper\ShopData;
use Multiple\Wap\Helper\SiteData;

$shop = ShopData::init()->getStore();
$site = SiteData::init()->getSite();
if (!\Components\TplManager::$_config['hideHeader']) {
    ?>

    <!------------------------------- public_header begin ----------------------------->
    <div class="header">

        <div class="person">
            <a href="javascript:;" style="height:40px;"><img class="public_person"
                                                             src="/static/wap/images/tpl/renhao1/public_person.png"
                                                             alt=""/></a>

            <div class="pop_person">
                <div class="arrow"></div>
                <div class="con">
                    <?php
                    if (\Components\UserStatus::getUid()) {
                        ?>
                        <div class="pop_li line"><a href="/user">会员中心</a></div>
                        <div class="pop_li line"><a href="/user/logout">退出</a></div>
                        <div class="pop_li line"><a href="/module/run/vipcard/setting">设置</a></div>
                    <?php } else { ?>
                        <div class="pop_li line"><a href="/user/login">登陆</a></div>
                        <div class="pop_li line"><a href="/user/signup">注册</a></div>
                    <?php } ?>
                    <div class="pop_li line"><a href="/addon/vipcard/mine">积分</a></div>
                    <div class="pop_li line"><a href="/order/cart">购物车</a></div>
                    <div class="pop_li"><a href="/order/mine">我的订单</a></div>
                </div>
            </div>
        </div>
        <?php if ($this->dispatcher->getControllerName() == 'shop') { ?>
            <span class="logo search" id="search" onmouseover="moseOver()" onmouseout="moseOut()">
                <form action="/shop/all" method="get">
                    <input type="button" class="shop_search"/>
                    <input type="text" name="keywords" class="search_keyword" id="search_keyword" placeholder="搜搜你喜欢的"/>
                    <input type="submit" class="submit">
                </form>
        </span><?php } ?>
        <a href="javascript:;" class="logo"><img src="<?php if ($this->dispatcher->getControllerName() == 'shop') {
                echo $shop['logo'];
            } else {
                echo $site['site_logo'];
            } ?>" alt=""/></a>
        <a href="<?php if ($site['phone']) {
            echo "tel:" . $site['phone'];
        } else {
            echo "javascript:;";
        } ?>" class="public_rg"><img src="/static/wap/images/tpl/renhao1/public_tel.png" alt=""/></a>
        <a href="<?php if ($site['qq']) {
            echo "http://wpa.qq.com/msgrd?v=3&uin=" . $site['qq'] . "&site=qq&menu=yes";
        } else {
            echo "javascript:;";
        } ?>" class="public_rg"><img src="/static/wap/images/tpl/renhao1/public_qq.png" alt=""/></a>

        <div class="clear"></div>
    </div><!-- header end-->
    <!------------------------------- public_header end ----------------------------->

    <script>
        $(".header .person").click(function () {
            if ($(this).find(".pop_person").css("display") == "none") {
                $(this).find(".pop_person").css("display", "block");
            } else {
                $(this).find(".pop_person").css("display", "none");
            }


        });
        function moseOver() {
            document.getElementById("search").style.width = "160px";
            document.getElementById("search_keyword").style.width = "120px";
        }

        function moseOut() {
            document.getElementById("search").style.width = "80px";
            document.getElementById("search_keyword").style.width = "50px";
        }
        ;

        $(function () {
            $(".a-nest").click(function () {
                $(this).find(".list_name").css('color', '#f5f4a5');

            })

        })
    </script>
<?php } ?>
