
.fst-slide{
	height:100%;
}
.swiper-container .swiper-slide {
    position: relative;
    background: #504949;
    height:100%;

}

.swiper-container .name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    background-color: #000;
    z-index: 1000000;
    line-height: 50px;
    vertical-align: middle;
    opacity: 0.8; /*其他，透明度50%*/
    padding-left: 10px;
    width: 100%;
    padding-top: 10px;
}

.swiper-container .fst-slide .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: bold;
    background-color: #000;
    width: 100%;
    z-index: 1000000;
    line-height: 50px;
    vertical-align: middle;
    opacity: 0.6; /*其他，透明度50%*/
}

.swiper-container .cover .topic {
    font-size: 27px;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    margin: auto;
    background-color: #060647;
    margin-bottom: 10px;
}

.swiper-container .cover .topic label {
    font-size: 12px;
    display: block;
    line-height: 20px;

}

.swiper-container .cover .desc {
    clear: both;
    line-height: 25px;
    padding: 0px 10px;
    color: #d4d4d4;
}

.swiper-container .cover .copyright {
    position: absolute;
}

.swiper-slide {
    /*height: 100%;*/
    text-align: center;
    vertical-align: middle;
}

.swiper-slide img {
    /*height: 100%;*/
}

.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.swiper-pagination-switch {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-visible-switch {
    background: #aaa;
}

.swiper-active-switch {
    background: #fff;
}

/**/

/****************************** 画册 magazine *****************************/
.magazine {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 43px;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.magazine .piclist {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: relative;
}

.magazine .piclist li {
    list-style: none;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 3px;
}

.magazine .returns {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.magazine .returns img {
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 20px;
}

.magazine .piclist li img {
    width: 100%;
    height: 100%;
}

.magazine .piclist li p {
    display: block;
    position: absolute;
    bottom: 14px;
    font-size: 17px;
    text-indent: 10px;
    color: #ffffff;
    z-index: 3000;
}

.title {
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

.magazine .count {
    float: right;
    height: 50px;
    width: 100%;
    font-size: 17px;
    text-align: right;
    line-height: 50px;
    text-indent: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding-right: 2%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}

.b_btn {
    display: block;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #ccc;
    float: left;
    background: #f5f5f5;
    border-radius: 5px;
}

.intro {
    display: none;
    width: 100%;
    float: left;
    padding-top: 8px;
}

/****************************** 画册 magazine_album *****************************/
#magazine_album {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 0px;
    display: block;
    position: relative;

}

#magazine_album ul {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#magazine_album ul li {
    width: 48%;
    /*height: 250px;*/
    list-style: none;
}

#magazine_album ul li.left {
    float: left;
}

#magazine_album ul li .img-box {
    width: 100%;
    /*height: 225px;*/
    border-radius: 6px;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
}

#magazine_album ul li.right {
    float: right;
}

#magazine_album ul li .bottom {
    width: 100%;
    height: 20px;
    background: url(/static/wap/images/tpl/huarunqi/bottom.png) bottom no-repeat;
    background-size: 100%;
    float: left;
    margin-top: -7px;
}

#magazine_album ul li .img-box a {
    display: block;
    overflow: hidden;
}

#magazine_album ul li .img-box a img {
    width: 94%;
    height: auto;
    margin: 3%;
}

#magazine_album ul li .img-box a .list-thumb {
    width: 94%;
    height: 180px;
    margin: 3%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat
}

#magazine_album ul li .img-box p {
    width: 100%;
    height: 23px;
    line-height: 25px;
    text-indent: 8px;
    float: left;
    display: left;
}