<?php
use Multiple\Wap\Helper\SiteData;

$siteData = SiteData::init()->getSite();
$recommend = SiteData::init()->getList('published=1 and customer_id=' . CUR_APP_ID . ' and recommend=1', 0, 6);
?>
<div id="container" class="container article-wrap">
    <div>
        <div class="article-head">
            <h1 class="article-title">
                <?php echo $item['title']; ?>
            </h1>

            <div class="article-info" style="height:28px;">
                <span class="right">浏览：<?php echo $item['views']; ?></span>
                <span><?php echo date('Y.m.d', $item['created']); ?></span>
            </div>

            <a href="" class="head_logo">
                <i class="icon icon-angle-right after"></i>

                <p class="line"><img src="/static/wap/images/tpl/linear.png" alt=""/></p>

                <dl class="info">
                    <dt><img src="<?php echo $siteData['site_logo']; ?>" alt=""/></dt>
                    <dd>
                        <p class="name"><?php echo $siteData['site_name']; ?></p>

                        <p class="more"><?php echo $siteData['company'] ? $siteData['company'] : date('Y年m月d日', $siteData['created']); ?></p>
                    </dd>
                </dl>
                <div class="clear"></div>
                <p class="line"><img src="/static/wap/images/tpl/linear.png" alt=""/></p>
            </a>
        </div>

        <?php if (!empty($item['content'])): ?>
            <div class="article-content">
                <?php echo $item['content'] ?>
            </div>
        <?php endif; ?>
        <div class="share-container">
            <div id="mcover" class="mcover" onclick="document.getElementById('mcover').style.display='';">
                <img alt="" src="/static/wap/images/tpl/guide.png">
            </div>
            <div class="share-content">
                <div class="mess-share">
                    <div id="share-left" class="share-left">
                        <button onclick="document.getElementById('mcover').style.display='block';">
                            <img alt="" src="/static/wap/images/tpl/icon_msg.png">
                            发送给朋友
                        </button>
                    </div>
                    <div id="share-right" class="share-right">
                        <button onclick="document.getElementById('mcover').style.display='block';">
                            <img alt="" src="/static/wap/images/tpl/icon_timeline.png">
                            分享到朋友圈
                        </button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <?php
        // todo 推荐阅读 请用helper实现
        if (isset($recommend)): ?>
            <div class="recommend">
                <label>推荐阅读</label>
                <ul>
                    <?php foreach ($recommend as $ri): ?>
                        <li>
                            <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($ri['id'])) ?>"><?php echo $ri['title']; ?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
        <div style="padding-bottom:5px!important;">
            <a style="font-size:12px;margin:5px auto;display:block;color:#fff;text-align:center;line-height:35px;background:#333;margin-bottom:-10px;"
               href="javascript:window.scrollTo(0,0);">返回顶部</a>
        </div>
    </div>
</div>