<div id="container" class="container">
    <div id="news" class="ui-refresh">
        <ul class="list">
            <?php
            if ($list) {
                foreach ($list as $item) {

                    ?>
                    <li <?php if (empty($item['cover'])): ?>class="nocover"<?php endif; ?>>
                        <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                            <dl>
                                <dt>
                                <h4 class="title"><?php echo $item['title'] ?></h4>
                                <?php if ($item['cover']): ?>
                                    <img src="/static/wap/images/default/loading.gif"
                                         class="ui-imglazyload"
                                         data-original="<?php echo $item['cover'] ?>" alt=""/>
                                <?php endif; ?>
                                </dt>
                                <dd>
                                    <div class="summary"><?php echo $item['summary'] ?></div>
                                </dd>
                            </dl>
                        </a>
                    </li>
                <?php
                }
            } else {
                ?>
                <li>
                    <p>暂无新闻内容</p>
                </li>
            <?php } ?>
        </ul>
        <div class="ui-refresh-down"></div>
    </div>
    <script type="text/javascript">
        seajs.use('/static/wap/gmu/widget/refresh.js', function () {
            $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

            var page = 1;
            $(function () {
                /*组件初始化js begin*/
                $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() || 114)).refresh({
                    statechange: function () {
                        $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});
                    },
                    load: function (dir, type) {
                        var me = this;
                        var link = '<?php echo $this->uri->baseUrl('api/article/list/'. \Util\EasyEncrypt::encode($item['cid']) ); ?>' + '?page=' + page;
                        $.getJSON(link, function (data) {
                            page++;
                            var $list = $('.list'),
                                html = (function (data) {      //数据渲染
                                    var liArr = [];
                                    $.each(data, function () {
                                        liArr.push(this.html);
                                    });
                                    return liArr.join('');
                                })(data);

                            $list[dir == 'up' ? 'prepend' : 'append'](html);
                            me.afterDataLoading(dir);    //数据加载完成后改变状态
                            $('.ui-imglazyload').lazyload({vertical_only: true, 'container': $('.ui-refresh')});

                            if (data.length <= 0) {
                                me.disable(dir, false);
                            }
                        });
                    }
                });
                /*组件初始化js end*/
            });
        });
    </script>
</div>