<?php
use Models\Modules\Resources;

$modules = Resources::find();
?>

<div id="module-activity" class="link-module" style="display: none;">
    <h4 class="module-title">选择活动</h4>

    <div class="field set-field">
        <ul class="nav-list">
            <?php
            if ($modules) {
                $modules = $modules->toArray();
                foreach ($modules as $_m) {
                    if ($_m['is_activity'] == 1) {
                        $url = $this->uri->appUrl('addon/' . $_m['module_name']);
                        ?>
                        <li>
                            <label>
                                <input type="radio" name="single-radio" class="ace choose_link"
                                       data-name="<?php echo $_m['name'] ?>"
                                       value="<?php echo $url; ?>"
                                    />
                                <span class="lbl">
                                    <b><?php echo $_m['name'] ?></b>
                                    [<?php echo $url; ?>]
                                </span>
                            </label>
                        </li>
                    <?php
                    }
                }
            }
            ?>
        </ul>
    </div>
</div>