<div id="module-business" class="link-module" style="display: none;">
    <h4 class="module-title">选择业务模块</h4>

    <div class="field set-field">
        <ul class="nav-list">
            <?php
            if ($modules) {
                foreach ($modules as $m) {
                    if ($m['is_activity'] == 0) {
                        $url = $this->uri->appUrl('addon/' . $m['module_name']);
                        ?>
                        <li>
                            <label>
                                <input type="radio" name="single-radio" class="ace choose_link"
                                       data-name="<?php echo $m['name'] ?>"
                                       value="<?php echo $url; ?>"
                                    />
                                <span class="lbl">
                                    <b><?php echo $m['name'] ?></b>
                                    [<?php echo $url; ?>]
                                </span>
                            </label>
                        </li>
                    <?php
                    }
                }
            }
            ?>
        </ul>
    </div>
</div>