<?php
$cats = \Components\Product\ProductManager::instance()->getCats(CUR_APP_ID);
//$cats = $all ? $all->toArray() : null;

$arr = array(
    array('name' => '店铺首页', 'uri' => '/shop', 'edit' => ''),
    array('name' => '商品类目', 'uri' => '/shop/catalog', 'edit' => ''),
    array('name' => '商品列表', 'uri' => '/shop/all', 'edit' => ''),
    array('name' => '搜索商品', 'uri' => '/shop/search', 'edit' => ''),
);
?>

<section id="module-shop" class="link-module" style="display: none;">
    <h4 class="module-title">选择店铺链接</h4>

    <div class="shop-content">
        <p style="border-bottom: 1px solid #DEEFFB;padding: 4px 8px;">
            请选择：
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_shop_type" data-type="single" checked>
                <span class="lbl">固有页面</span>
            </label>
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_shop_type" data-type="part">
                <span class="lbl">店铺类目</span>
            </label>
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_shop_type" data-type="article">
                <span class="lbl">商品链接</span>
            </label>
        </p>

        <div class="type-data-list">
            <ul class="nav-list" id="single">
                <?php
                foreach ($arr as $m) {
                    ?>
                    <li>
                        <label>
                            <input type="radio" name="single-radio" class="ace choose_link"
                                   data-name="<?php echo $m['name'] ?>"
                                   value="<?php echo $this->uri->appUrl($m['uri']); ?>"
                                />
                                <span class="lbl">
                                    <b><?php echo $m['name'] ?></b>
                                    [<?php echo $this->uri->appUrl($m['uri']); ?>]
                                </span>
                        </label>
                    </li>
                <?php
                }
                ?>
            </ul>

            <ul class="nav-list" id="part" style="display: none;">
                <?php
                if ($cats) {
                    foreach ($cats as $cat) {
                        $url = $this->uri->appUrl('shop/cat/' .
                            \Util\EasyEncrypt::encode($cat['id']));
                        ?>
                        <li>
                            <label>
                                <input type="radio" name="single-radio" class="ace choose_link"
                                       value="<?php echo $url; ?>">
                                <span class="lbl">
                                    <b><?php echo $cat['name']; ?></b>
                                    [<?php echo $url; ?>]
                                </span>
                            </label>
                        </li>
                    <?php
                    }
                }
                ?>
            </ul>

            <ul class="nav-list" id="article" style="display: none;">
            </ul>

            <ul class="pagination" style="margin: 0 0 0 8px;"></ul>
        </div>
    </div>
</section>
