<?php
use Models\Article\SiteArticlesCat;

$all = SiteArticlesCat::find('customer_id='.$customer_id);
$cats = $all ? $all->toArray() : null;

$arr = array(
    array('name' => '首页', 'uri' => '/', 'edit' => ''),
    array('name' => '文章中心', 'uri' => '/article', 'edit' => ''),
    array('name' => '会员中心', 'uri' => '/user', 'edit' => ''),
    array('name' => '关于我们', 'uri' => '/about', 'edit' => ''),
);

$page = \Models\Wap\SitePage::find(array('customer_id=' . $customer_id, 'order' => 'sort asc', 'limit' => 20));
$page = $page ? $page->toArray() : '';
//die;
?>

<section id="module-web" class="link-module" style="display: none;">
    <h4 class="module-title">选择微官网链接</h4>

    <div class="web-content">
        <p style="border-bottom: 1px solid #DEEFFB;padding: 4px 8px;">
            请选择：
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_web_type" data-type="single" checked>
                <span class="lbl">固有页面</span>
            </label>
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_web_type" data-type="info">
                <span class="lbl">公司信息</span>
            </label>
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_web_type" data-type="part">
                <span class="lbl">文章栏目</span>
            </label>
            <label>
                <input name="form-field-radio" type="radio" class="ace choose_web_type" data-type="article">
                <span class="lbl">文章链接</span>
            </label>
        </p>

        <div class="type-data-list">
            <ul class="nav-list" id="single">
                <?php
                foreach ($arr as $m) {
                    ?>
                    <li>
                        <label>
                            <input type="radio" name="single-radio" class="ace choose_link"
                                   data-name="<?php echo $m['name'] ?>"
                                   value="<?php echo $this->uri->appUrl($m['uri']); ?>"
                                />
                                <span class="lbl">
                                    <b><?php echo $m['name'] ?></b>
                                    [<?php echo $this->uri->appUrl($m['uri']); ?>]
                                </span>
                        </label>
                    </li>
                <?php
                }
                ?>
            </ul>

            <ul class="nav-list" id="info" style="display: none;">
                <?php
                if ($page) {
                    foreach ($page as $item) {
                        $url = $this->uri->appUrl('about/detail/' .
                            \Util\EasyEncrypt::encode($item['id']));
                        ?>
                        <li>
                            <label>
                                <input type="radio" name="single-radio" class="ace choose_link"
                                       value="<?php echo $url; ?>">
                                <span class="lbl">
                                    <b><?php echo $item['name']; ?></b>
                                    [<?php echo $url; ?>]
                                </span>
                            </label>
                        </li>
                    <?php
                    }
                }
                ?>
            </ul>

            <ul class="nav-list" id="part" style="display: none;">
                <?php
                if ($cats) {
                    foreach ($cats as $cat) {
                        $url = $this->uri->appUrl('article/topic/' .
                            \Util\EasyEncrypt::encode($cat['id']));
                        ?>
                        <li>
                            <label>
                                <input type="radio" name="single-radio" class="ace choose_link"
                                       value="<?php echo $url; ?>">
                                <span class="lbl">
                                    <b><?php echo $cat['name']; ?></b>
                                    [<?php echo $url; ?>]
                                </span>
                            </label>
                        </li>
                    <?php
                    }
                }
                ?>
            </ul>

            <ul class="nav-list" id="article" style="display: none;">
            </ul>

            <ul class="pagination" style="margin: 0 0 0 8px;"></ul>
        </div>
    </div>
</section>
