<?php
use Components\TplManager;
use Components\UserStatusWap;

$controller = $this->router->getControllerName();
$action = $this->router->getActionName();
?>
<!Doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all"/>
    <?php
    if (isset($this->view->nocache) && $this->view->nocache) {
        ?>
        <meta http-equiv="Expires" CONTENT="0">
        <meta http-equiv="Cache-Control" CONTENT="no-cache">
        <meta http-equiv="Pragma" CONTENT="no-cache">
    <?php
    }
    ?>
    <!-- Mobile Devices Support @begin -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="telephone=yes, address=yes" name="format-detection">
    <!-- apple devices -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices Support @end -->

    <meta name="keywords" content="<?php echo $this->view->keywords; ?>">
    <meta name="description" content="<?php echo $this->view->description; ?>">
    <meta name="author" content="ESTT Team">

    <title><?php echo $this->view->title; ?></title>

    <?php
    if ($icon = \Multiple\Wap\Helper\SiteData::init()->getSite('site_icon')) {
        ?>
        <link rel="icon" href="<?php echo $icon; ?>" type="image/x-icon"/>
        <link rel="shortcut icon" href="<?php echo $icon; ?>" type="image/x-icon"/>
    <?php } ?>

    <link rel="stylesheet" href="/static/wap/gmu/gmu.css"/>
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/wap/css<?php echo $this->view->getVar('css'); ?>"/>
    <script>
        window.app = {};
        app._uid = '<?php echo \Components\UserStatus::getUid(); ?>';
        app.user_point = "<?php echo UserStatusWap::init()->getPoint() ?>";
    </script>
    <script src="/static/wap/js/seajs.js"></script>
    <script src="/static/wap/gmu/??zepto-extend.min.js,gmu-base.min.js"></script>
    <script>
        seajs.config({
            base: '/static/wap/js',
            charset: 'utf-8',
            timeout: 10000
        });

    </script>
</head>
<body>
<div class="wrap">
    <?php
    TplManager::init(CUR_APP_ID)->render('menu', 'header');
    ?>

    <?php echo $this->view->getContent(); ?>

    <?php
    TplManager::init(CUR_APP_ID)->render('menu', 'footer');
    ?>
</div>
<script>
    seajs.use(['/static/wap/gmu/??widget/gotop.js,widget/navigator.js,widget/panel.js,widget/dialog.js'], function () {
        /** GMU组件DOM初始化 */
        $("*[data-widget]").each(function () {
            var widget = $(this).attr("data-widget");
            if (typeof($.fn[widget]) === "function") {
                $.fn[widget].apply($(this), [
                    {}
                ]);
            }
        });
    })
    $(function () {
        $(".ui-imglazyload").lazyload();
    })
</script>

<?php
TplManager::init(CUR_APP_ID)->baseTpl('user/reg_login');
?>
<div data-widget="gotop"></div>
<div id="ajaxStatus">
    <p id='ajaxTip' class="wait">加载中...</p>
</div>

</body>
</html>