/*主色彩*/
#header{background: #F5F5F5; position: relative; z-index: 99; display: block; color: #666; height: 45px;}
#header a, .header a{color: #333;}
#header .title, .header .title{font-size: 14pt; display: block; line-height: 45px; height: 45px; text-overflow: ellipsis; white-space: nowrap; z-index: 2; position: absolute; top: 0; left: 10px;}
#header .name{float: left;}
#header a.back{display: block; float: left; width: 45px; height: 45px;}
#header a.back:focus{background-color: #DCDCDC;}
#header a.back span{display: block; background: url(/static/wap/images/tpl/shop.png) no-repeat -50px 0; background-size: 100px 100px; margin: 10px auto 0; height: 25px; width: 25px;}
#header .right, .header .right{position: absolute; right: 0; top: 0;}
#header .right .searchbtn{display: block; position: relative; height: 35px; width: 45px; right: 45px; padding-top: 10px;}
#header .right .user{display: block; position: absolute; height: 20px; width: 20px; right: 100px; top: 12px; background: url('/static/wap/images/tpl/detail.png') no-repeat scroll 0 -98px; background-size: 80px 136px;}
#header .right .user.home-user{right: 56px;}
#header .right .searchbtn:focus{background: #DCDCDC;}
#header .right .searchbtn span{background: url(/static/wap/images/tpl/shop.png) no-repeat 0px 0; display: block; height: 25px; width: 25px; margin: 0 auto; background-size: 100px 100px;}
#header .center{display: block; font-size: 14pt; color: #333; text-align: center; white-space: nowrap; line-height: 45px; margin-left: 65px; margin-right: 90px;}
#header img, .header img{height: 36px; vertical-align: middle;}
#header img.logo, .header img.logo{height: 24px; width: auto; margin-bottom: 4px; margin-right: 4px;}
.header{font-size: 14pt; display: block; padding-left: 10px; font-weight: bolder; margin-right: 67px; text-align: center; line-height: 42px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#header .catbtn{position: absolute; right: 0; top: 0; width: 45px; height: 35px; padding-top: 10px;}
#header .catbtn:focus{background-color: #DCDCDC;}
#header .catbtn span{background: url(/static/wap/images/tpl/shop.png) no-repeat -25px 0; display: block; width: 25px; height: 25px; margin: 0 auto; background-size: 100px 100px;}
#header .ui-dropmenu{background: rgba(0, 0, 0, 0.5); box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); color: #fff; font-size: 12pt; z-index: 999;}
#header .ui-dropmenu a{color: #fff; padding: 8px 12px;}
#header .ui-dropmenu a .icon{}
#header .ui-dropmenu .ui-arrow{display: none;}
#header .ui-dropmenu .ui-dropmenu-items li{}
#header .ui-dropmenu:after{position: absolute; top: -12px; right: 22px; content: ""; width: 0; height: 0; border: 12px solid transparent; border-bottom: 12px solid rgba(0, 0, 0, 0.5); border-top: none;}
#header #menu{background: #e9e9e9; display: inline-block; border-left: 1px solid #f9f9f9; border-right: 1px solid #f9f9f9;}
.foot{margin: 0 0 36px; color: #999; line-height: 160%; text-align: center; padding: 8px 0;}
.foot .copyInfo{line-height: 36px;}
.foot .go-register{color: #ff6e00;}
.footer{font-size: 10pt; text-align: center; color: #666; line-height: 160%; width: 100%; position: fixed; left: 0; bottom: 0; z-index: 99;}
.footer-nav{border-top: 1px solid #E0E0E0;}
.footer-nav li{float: left; height: 36px; overflow: hidden; text-align: center; line-height: 36px; background: url("/static/wap/images/tpl/nav.png") repeat-x 0 -16px;}
.footer-nav.shop-nav li{width: 25%;}
.footer-nav li a{display: block; height: 36px; border-right: 1px solid #ccc;}
.footer-nav li:last-child a{border: none;}
.footer-nav li a img.img_icon{width: 14px; height: 14px; vertical-align: middle;}
.footer-nav.shop-nav .searchNav{font-size: 9pt; line-height: 1;}
.footer-nav.shop-nav .searchNav .goUpBtn{border: 1px solid #666; height: 14px; line-height: 14px; padding: 2px 8px; font-size: 9pt; margin: -2px 0 2px 0; border-radius: 5px; display: inline-block;}
.footer-nav.shop-nav .cart_count{font-size: 10px; width: 12px; height: 12px; line-height: 12px; display: inline-block; text-align: center; border-radius: 6px; vertical-align: middle; margin: -10px 0 0 -2px; background: #EA2818; color: #fff;}
*{padding: 0; margin: 0; list-style: none; border: none;}
.mod_mb15{margin-bottom: 15px}
.ui_fluid{width: 100%; display: block}
.ui_clearfix:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; font-size: 0}
body, a{color: #333}
.mod_color_comment{color: #ccc}
.mod_color_weak{color: #999}
.mod_color_strong{color: #f34}
img.default{background: url(../images/img/icon_img_default.png?max_age=19830211&d=20130620160503) center center no-repeat; -webkit-background-size: 20px 20px; -moz-background-size: 20px 20px; background-size: 20px 20px}
body, p, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, form{margin: 0; padding: 0; font-size: 100%}
ul, ol{list-style: none}
a{text-decoration: none}
body{-webkit-text-size-adjust: none; line-height: 1.6; font-size: 14px; font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3"}
em{font-style: normal}
h1, h2, h3{font-weight: normal}
body{word-wrap: break-word; word-break: break-all; -webkit-text-size-adjust: none; background-color: #fbfbfb}
input[type=checkbox]{-webkit-appearance: none; -moz-appearance: none; width: 16px; height: 16px; background-color: transparent; background-image: url(../images/weigou_lingzhi.png); background-position: -76px 0; -webkit-background-size: 16px; -moz-background-size: 16px; background-size: 16px; border: 0; margin: 0}
input[type=checkbox]:checked{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-position: -76px -17px}
h2 input[type=checkbox]{margin-top: 4px}
.qb_icon{display: inline-block; background-repeat: no-repeat}
@media screen and (-webkit-device-pixel-ratio: 1.5){.qb_icon{-webkit-background-size: auto; -moz-background-size: auto; background-size: auto}}
.qb_fl{float: left}
.qb_none{display: none !important}
.qb_tac{text-align: center}
.qb_quick_tip{position: fixed; line-height: 23px; padding: 3px 5px; background: rgba(0, 0, 0, .8); color: #FFF; border-radius: 5px; text-align: center; z-index: 202; top: 50px; left: 10px; right: 10px}
.qb_bfc:before, .qb_bfc:after{content: "."; display: block; height: 0; visibility: hidden; overflow: hidden}
.qb_bfc:after{clear: both}
.bfc_c{display: table-cell}
.bfc_c:after{clear: both; display: block; visibility: hidden; overflow: hidden; height: 0 !important; line-height: 0; font-size: xx-large; content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
.qb_fs_s{font-size: 12px}
.qb_fs_l, body{font-size: 15px}
.qb_quick_tip{text-shadow: none}
.lay_page{overflow: hidden}
.lay_page_wrap{margin-left: auto; margin-right: auto}
.lay_header{height: 45px}
.lay_toptab{top: -45px; width: 100%}
.lay_toptab.fixed{position: fixed; top: 0; left: 0; width: 100%;}
.lay_toptab.hidden{top: -45px}
.lay_toptab.hidden_css3{-webkit-transform: translate(0, -45px); -moz-transform: translate(0, -45px); transform: translate(0, -45px);}
.lay_toptab.animate{transition: all .14s linear; -webkit-transition: all .14s linear; -moz-transition: all .14s linear}
.lay_footer{border-top: 1px solid #eaeaea; padding-top: 8px; padding-bottom: 8px; margin-bottom: 0 !important; background-color: #fbfbfb}
.lay_footer a{display: inline-block; border-right: 1px solid #eaeaea; border-left: 1px solid #fdfdfd; width: 75px; line-height: 1}
.lay_footer a:first-child{border-left: none}
.lay_footer a:last-child{border-right: 0}
.lay_footer .fn_copyright{width: 270px; margin: 0 auto; text-align: left; line-height: 22px}
.lay_footer .fn_copyright .icon_weigou_logo{float: left; margin-right: 5px}
.lay_footer .fn_copyright .bfc_f{color: #ff5413}
.lay_footer .fn_copyright .bfc_c{text-align: center;}
.lay_footer .fn_quicklinks{display: box; display: -webkit-box; display: -moz-box; display: -ms-flexbox; width: 260px; margin: 0 auto 8px; height: 16px; line-height: 16px}
.lay_footer .fn_quicklinks a{-webkit-box-flex: 1; -moz-box-flex: 1; width: auto; border: 0 none; display: block; display: -moz-box; display: -ms-flexbox; line-height: 16px}
.lay_footer .fn_quicklinks a:first-child{text-align: left}
.lay_footer .fn_quicklinks a:last-child{text-align: right}
.lay_footer .fn_quicklinks span{-webkit-box-flex: 1; -moz-box-flex: 1; display: block; display: -moz-box; display: -ms-flexbox;}
.page_cat_1 .lay_footer, .page_cat_2 .lay_footer{background: 0}
.icon_icenter{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-position: -31px 0; /* display:block;*/ width: 22px; height: 22px}
.icon_cart{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-position: -31px -23px; width: 22px; height: 22px}
.icon_goback{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-position: -31px -46px; width: 22px; height: 22px}
.icon_number_bubble{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-position: -93px -17px; width: 15px; height: 15px}
.icon_i{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-position: -127px -34px; width: 12px; height: 12px; vertical-align: text-bottom}
@media (min-height: 372px){.lay_page{min-height: 272px}}
@media (min-height: 460px){.lay_page{min-height: 360px}}
.mod_tab{display: box; display: -webkit-box; display: -moz-box; display: -ms-flexbox; background-color: #161616; background-image: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#161616)); background-image: -webkit-linear-gradient(top, #212121, #161616); background-image: -moz-gradient(linear, left top, left bottom, from(#212121), to(#161616)); background-image: -moz-linear-gradient(top, #212121, #161616); background-image: linear-gradient(to bottom, #212121, #161616); height: 44px; border-bottom: 1px solid #000}
.mod_tab .tab_item{-webkit-box-flex: 1; -moz-box-flex: 1; display: block; cursor: pointer; text-align: center; position: relative; width: 42px;}
.mod_tab .tab_item:after{content: ""; display: block; width: 1px; border-left: 1px solid #000; background-color: #262626; height: 44px; position: absolute; left: 0; top: 0}
.mod_tab .tab_item:first-child:after{display: none}
.mod_tab .tab_item_logo{width: auto; padding-left: 5px; padding-right: 5px}
.mod_tab .tab_item_logo img{width: 130px !important; max-height: 31px !important; margin-top: 13px !important;}
.mod_tab .tab_item .qb_icon{margin-top: 10px}
.mod_tab .tab_item .icon_number_bubble{color: #fff; font-size: 12px; line-height: 15px; font-weight: normal; font-family: Arial; text-align: center; font-style: normal; text-shadow: none; overflow: hidden; position: absolute; top: 3px; left: 50%; margin-left: 5px; margin-top: 0}
.mod_arrow_right{position: relative; padding-right: 35px}
.mod_arrow_right:after{content: ""; background-image: url(../images/weigou_lingzhi.png); background-position: 0 -62px; width: 25px; height: 13px; position: absolute; top: 50%; margin-top: -6px; right: 0; background-repeat: no-repeat}
.arrow_right{position: relative}
.arrow_right:after{width: 6px; height: 6px; border-right: 3px solid #333; border-bottom: 3px solid #333; display: block; position: absolute; right: 10px; top: 50%; margin-top: -5px; content: " "; visibility: visible; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg)}
@media all and (width: 320px){.page_big_brand_home .mod_slider{height: auto} .page_big_brand_home .fn_banner .mod_slider .slider_cnt img{width: 320px}}
@media all and (width: 360px){.page_big_brand_home .mod_slider{height: auto} .page_big_brand_home .fn_banner .mod_slider .slider_cnt img{width: 360px}}
.page_cat_1{margin: 0 auto; width: 320px}
.page_cat_1 .fn_titles, .page_cat_5 .fn_titles{color: #222; line-height: 1.2; padding: 15px; text-shadow: none}
.page_cat_1 .fn_titles h1, .page_cat_5 .fn_titles h1{font-size: 20px; font-weight: bold}
.page_cat_1 .fn_goods{padding-left: 15px; margin-bottom: 10px}
.page_cat_1 .fn_goods li, .page_cat_2 .fn_goods li{position: relative; float: left; margin-right: 10px; width: 140px; background: #FFF; border: 1px solid #eaeaea; margin-bottom: 10px; padding-bottom: 7px}
.page_cat_1 .qb_tof, .page_cat_2 .qb_tof{padding-left: 10px; padding-right: 10px; max-width: 90%}
.page_cat_1 img, .page_cat_2 img{display: block; margin-left: auto; margin-right: auto}
.page_cat_1 .price{padding-left: 10px; padding-right: 10px}
.page_cat_1 .goods_name, .page_cat_2 .goods_name{line-height: 18px; height: 36px; text-align: justify; border-top: 1px solid #eaeaea; padding: 5px 10px 0; margin-bottom: 5px; overflow: hidden}
.fn_ad{text-shadow: none}
.fn_ad .ad_item{display: block}
.fn_ad.ad_all{background-color: #fff}
.fn_ad.ad_all .ad_item{height: 160px; overflow: hidden}
.fn_ad.ad_all .ad_img{width: 160px; float: left; position: relative}
.fn_ad.ad_all .ad_item:nth-child(2n) .ad_img{float: right}
.fn_ad.ad_all .ad_detail{height: 140px; padding-left: 20px; padding-right: 20px; padding-top: 20px; background-color: #15456b; color: #fff}
.fn_ad.ad_all .detail_arrow_l{display: inline-block; width: 6px; height: 6px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; content: " "; visibility: visible; -webkit-transform: rotate(-135deg) translate(-2px, 0); -moz-transform: rotate(-135deg) translate(-2px, 0); transform: rotate(-135deg) translate(-2px, 0)}
.fn_ad.ad_all .detail_arrow_r{display: inline-block; width: 6px; height: 6px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; content: " "; visibility: visible; -webkit-transform: rotate(-45deg) translate(-2px, 0); -moz-transform: rotate(-45deg) translate(-2px, 0); transform: rotate(-45deg) translate(-2px, 0)}
.fn_ad.ad_all .ad_item:nth-child(2n) .ad_detail{text-align: right}
.fn_ad.ad_all .ad_item:nth-child(2n+1) .detail_arrow_r{-webkit-transform: rotate(135deg) translate(-2px, 0); -moz-transform: rotate(135deg) translate(-2px, 0); transform: rotate(135deg) translate(-2px, 0)}
.fn_ad.ad_all .ad_item .color_blank .detail_arrow_r{border-right-color: #131313; border-bottom-color: #131313}
.fn_ad.ad_sale{background-color: #161616; padding-bottom: 5px}
.fn_ad.ad_sale .ad_item{margin-bottom: 5px; height: 130px}
.fn_ad.ad_sale .ad_item:last-child{margin-bottom: 0}
.fn_ad.ad_sale .ad_img{width: 220px; height: 130px; float: left}
.fn_ad.ad_sale .ad_detail{display: -webkit-box; display: -moz-box; display: -ms-flexbox; -webkit-box-orient: vertical; -webkit-box-pack: center; -moz-box-orient: vertical; -moz-box-pack: center; overflow: hidden; height: 130px; background-color: #f34; color: #fff; text-align: center; text-shadow: none}
.fn_ad.ad_bigpic .ad_detail{padding: 10px 15px; position: relative; background-color: #fff}
.fn_ad.ad_bigpic .ad_detail:before{display: block; content: ""; width: 0; height: 0; border-width: 0 8px 8px; border-color: #fff; border-style: solid; border-left-color: transparent; border-right-color: transparent; position: absolute; top: -8px; left: 30px}
.fn_ad.ad_bigpic .ad_detail:after{content: ""; background-image: url(../images/weigou_lingzhi.png); background-position: -54px -22px; width: 21px; height: 20px; position: absolute; right: 15px; bottom: 20px}
@-webkit-keyframes animate1{0%{-webkit-transform: translate(-300px, -100px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate1{0%{-moz-transform: translate(-300px, -100px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate1{0%{-ms-transform: translate(-300px, -100px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate2{0%{-webkit-transform: translate(300px, -100px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate2{0%{-moz-transform: translate(300px, -100px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate2{0%{-ms-transform: translate(300px, -100px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate3{0%{-webkit-transform: translate(-300px, 100px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate3{0%{-moz-transform: translate(-300px, 100px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate3{0%{-ms-transform: translate(-300px, 100px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate4{0%{-webkit-transform: translate(300px, 100px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate4{0%{-moz-transform: translate(300px, 100px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate4{0%{-ms-transform: translate(300px, 100px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate5{0%{-webkit-transform: translate(-300px, 150px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate5{0%{-moz-transform: translate(-300px, 150px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate5{0%{-ms-transform: translate(-300px, 150px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate6{0%{-webkit-transform: translate(300px, 150px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate6{0%{-moz-transform: translate(300px, 150px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate6{0%{-ms-transform: translate(300px, 150px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate7{0%{-webkit-transform: translate(-300px, 200px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate7{0%{-moz-transform: translate(-300px, 200px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate7{0%{-ms-transform: translate(-300px, 200px)} 100%{-ms-transform: translate(0, 0)}}
@-webkit-keyframes animate8{0%{-webkit-transform: translate(300px, 200px)} 100%{-webkit-transform: translate(0, 0)}}
@-moz-keyframes animate8{0%{-moz-transform: translate(300px, 200px)} 100%{-moz-transform: translate(0, 0)}}
@-ms-keyframes animate8{0%{-ms-transform: translate(300px, 200px)} 100%{-ms-transform: translate(0, 0)}}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5){input[type=checkbox]{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -76px 0} input[type=checkbox]:checked{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -76px -17px} .icon_icenter{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; /*display:block;*/ background-position: -31px 0} .icon_cart{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -31px -23px} .icon_goback{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -31px -46px} .icon_number_bubble{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -93px -17px} .icon_i{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -127px -34px} .fn_ad.ad_bigpic .ad_detail:after{background-image: url(/static/wap/images/tpl/weigou_lingzhi.png); background-size: 160px 74px; background-position: -54px -22px}}
.content_right{margin-left: 120px;}
.content_left{margin-right: 120px;}
.left{float: left;}
.right{float: right;}
.footer .footer-nav .parent .ui-dropmenu{min-width: 100px !important;}
.footer .footer-nav .ui-mark-temp .ui-dropmenu-items li{line-height: 20px; height: 20px; float: none !important; width: 100%;}
.footer .footer-nav .ui-dropmenu-items li{float: none !important;}
.footer .footer-nav .ui-dropmenu-items li a{display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333; white-space: nowrap; text-decoration: none;}