<?php
use Components\PanelMenu;

$innerMenu = PanelMenu::getMenu()['side']['inner'];
?>
<div class="inner-nav">
    <?php
    if ($curKey['side']['sec'] && isset($innerMenu[$curKey['side']['sec']]) && $innerMenu[$curKey['side']['sec']]) {
        ?>
        <em class="leftCore">
            <?php echo $fstMenu[$curFst]['name']; ?>
            <i class="icon icon-angle-right"></i>
            <?php echo $secMenu[$curSec]['name']; ?>
        </em>

        <?php
        foreach ($innerMenu[$curKey['side']['sec']] as $_menu) {
            $module = isset($_menu['m']) && $_menu['m'] == 'shop' ? 'shop' : 'panel';
            if (isset($_menu['is_module']) && $_menu['is_module'] == true) {
                $innerUrl = isset($_menu['hide']) && $_menu['hide'] ? 'javascript:;' : $this->uri->customerModuleUrl($_menu['m'], $_menu['c'], $_menu['a']);
            } else {
                $innerUrl = isset($_menu['hide']) && $_menu['hide'] ? 'javascript:;' : '/' . $module . '/' . $_menu['c'] . '/' . $_menu['a'];
            }
            $dispay = isset($_menu['hide']) && $_menu['hide'] ? (($controller == $_menu['c'] && $action == $_menu['a']) ? '' : 'display:none') : '';
            $current = $_menu['c'] . '/' . $_menu['a'] == $controller . '/' . $action ? 'active' : '';
            ?>
            <span class="<?php echo $current; ?>" style="<?php echo $dispay; ?>">
                <a href="<?php echo $innerUrl; ?>">
                    <?php echo $_menu['name']; ?>
                </a>
            </span>
        <?php
        }
    } else {
        ?>
        <?php if (!empty($fstMenu[$curFst])) { ?>
            <?php
            // 功能详情
            if ($controller == 'module' && $action == 'run') {
                // set menu for module
                $fst = Components\ModuleManager\Helper\MenuHelper::getFstMenu();
                $sec = Components\ModuleManager\Helper\MenuHelper::getSecMenus();
                $_module = $this->dispatcher->getParam('_m', 'striptags');
                $_handler = $this->dispatcher->getParam('_h', 'striptags');
                $_action = $this->dispatcher->getParam('_a', 'striptags');
                ?>
                <em class="leftCore">
                    功能模块
                    <i class="icon icon-angle-right"></i>
                    <?php echo $fst['name']; ?>
                </em>
                <?php
                if (count($fst) > 0) {
                    ?>
                    <?php
                    foreach ($sec as $r) {
                        $active = ($_handler == $r['c'] && $_action == $r['a']) ? 'active' : '';
                        $dispay = isset($r['is_hide']) && $r['is_hide'] ? (($_handler == $r['c'] && $_action == $r['a']) ? '' : 'display:none') : '';
                        $url = isset($r['is_hide']) && $r['is_hide'] ? 'javascript:;' : '/panel/addon/' . $_module . '/' . $r['c'] . '/' . $r['a'];
                        ?>
                        <span class="<?php echo $active; ?>" style="<?php echo $dispay; ?>">
                            <a href="<?php echo $url; ?>">
                                <i class="icon <?php echo $r['name']; ?>"></i> <?php echo $r['name']; ?>
                            </a>
                        </span>
                    <?php } ?>
                <?php
                }
                ?>
            <?php } else { ?>
                <em class="leftCore">
                    <?php echo $fstMenu[$curFst]['name']; ?>
                    &nbsp;
                    <i class="icon icon-angle-right"></i>
                    &nbsp;
                    <?php echo $secMenu[$curSec]['name']; ?>
                </em>
            <?php } ?>
        <?php } else { ?>
            <em class="leftCore">
                控制面板
            </em>
        <?php } ?>
    <?php } ?>
    <em class="right" style="font-style: normal;margin:-5px 5px 0 0;"><a href="javascript:go(-1);">返回</a></em>
</div>
