<div id="magazine_album">
    <?php if ($list) { ?>
        <ul>
            <?php foreach ($list as $k => $item) { ?>

                <li class="<?php if ($k % 2 == 0) {
                    echo "left";
                } else {
                    echo "right";
                } ?>">
                    <div class="img-box">
                        <a href="<?php echo $this->uri->baseUrl('addon/pictorial/pictorial/' . \Util\EasyEncrypt::encode($item['id'])); ?>"
                           alt="<?php echo $item['name'] ?>">
                            <div class="list-thumb"
                                 style="background-image: url(<?php echo $item['thumb']; ?>);"></div>
                            <p><?php echo $item['name']; ?></p>
                        </a>
                    </div>
                </li>

            <?php } ?>
        </ul>
    <?php } else { ?>
        该画报不存在
    <?php } ?>

    </ul>
</div>
