<div id="container" class="container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide red-slid">
                <img src="<?php /*echo $pictorial['thumb'] */ ?>"/>

                <div class="cover">
                    <p class="topic"><?php /*echo $pictorial['name'] */ ?>
                        <label><?php /*echo $pictorial['periodical'] */ ?></label></p>
                    <span class="desc"><?php /*echo $pictorial['desc'] */ ?></span>

                    <p class="copyright"><?php /*echo $pictorial['copyright'] */ ?></p>
                </div>
            </div>-->
            <?php foreach ($list as $gal) { ?>
                <div class="swiper-slide red-slid">
                    <img src="<?php echo $gal['option_images'] ?>"/>

                    <div class="name"><?php echo $gal['option_name'] ?></div>
                </div>
            <?php } ?>
        </div>
        <div class="pagination"></div>
    </div>

</div>

<script src="/static/wap/js/tools/swiper.js"></script>

<script>
    seajs.use(['tools/idangerous.swiper', 'tools/imgReady', 'tools/imgPreview'], function (a,b,previe) {
        var mySwiper = new Swiper('.swiper-container', {
            pagination: '.pagination',
            paginationClickable: true,
            moveStartThreshold: 100,
            onSlideChangeStart: function (swiper) {
                var allow_login =<?php echo $pictorial['allow_login']?>;
                var page =<?php echo $pictorial['page']?>;
                if (allow_login != 0 && !($.cookie('_APP_CUID') && $.cookie('_APP_CUID') > 0)) {
                    if (swiper['activeIndex'] == page) {
                        mySwiper.swipePrev();
                        $('#user-login-dialog').dialog('open');
                    }
                }
            }
        });

        var maxWidth = $('.swiper-container').width();
        var maxHeight = $('.swiper-container').height();

        var imgs = $('.swiper-container img');
        $.each(imgs, function (e) {
            var item = this;
            imgReady(this.src, function () {
                $(item).css('width', "auto").css('height', 'auto');
                var itemWidth = item.width;
                if (itemWidth > maxWidth) {
                    $(item).css('width', maxWidth + "px").css('height', 'auto');
                    var itemHeight = $(item).height();
                    $(item).css('position', 'relative').css('top', (maxHeight - itemHeight) / 2 + 'px');
                }
                else if (itemWidth < maxWidth) {
                    $(item).css('width', 'auto').css('height', maxHeight + "px");
                }
                else {
                    $(item).css('width', maxWidth + "px").css('height', maxHeight + "px");
                }
            });
        });
    });

</script>