<?php
\Components\TplManager::$_config['hideFooter'] = true;
?>
<div id="container" class="container">
    <div class="guestbook">

        <div class="ui-refresh">

            <div class="messageslist">

                <div class="topbtn">
                    <a class="write-button" href="<?php echo $this->uri->wapModuleUrl('/guestbook/write'); ?>"
                       data-icon="check">请点击留言</a>
                </div>

                <div class="mlist">

                    <?php if (count($messages) > 0): ?>
                        <ul class="data-list">
                            <?php foreach ($messages as $idx => $msg): ?>
                                <li <?php if (($idx + 1) == count($messages)): ?>rel="<?php echo count($messages) ?>"<?php endif; ?>>
                                    <dl>
                                        <dt>

                                            <?php echo $msg->username; ?>
                                            <span><?php echo $msg->created; ?></span>
                                        </dt>
                                        <dd>
                                            <?php echo $msg->message; ?>
                                            <?php if (!empty($msg->reply)): ?>
                                                <div class="reply">回复：<?php echo $msg->reply ?></div>
                                            <?php endif; ?>
                                        </dd>
                                    </dl>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php else: ?>
                        <div class="empty">没有留言~</div>
                    <?php endif; ?>

                </div>

            </div>

            <div class="ui-refresh-down"></div>
            <!--setup方式带有class为ui-refresh-down或ui-refresh-up的元素必须加上，用于放refresh按钮-->

        </div>

    </div>

</div>
<script type="text/javascript">
    seajs.use('/static/wap/gmu/widget/refresh.js', function () {
        var page = 1;
        $(function () {
            /*组件初始化js begin*/
            $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() + 50 || 82)).refresh({
                load: function (dir, type) {
                    var me = this;
                    $.getJSON('/addon/api/guestbook/more?page=' + page, function (data) {
                        page++;
                        var $list = $('.data-list'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);
                                });
                                return liArr.join('');
                            })(data);

                        $list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading(dir);    //数据加载完成后改变状态
                        if (data.length <= 0) {
                            me.disable(dir, false);
                        }
                    });
                }
            });
            /*组件初始化js end*/
        })
    });
</script>
