<div id="container" class="container">
    <div class="block-tip">
        为了给您更好的服务，请先认证您的手机号码！
    </div>

    <div class="user-widget">
        <form action="javascript:;" method="post" id="bindForm" class="form">
            <div class="form-row">
                <label for="phone">手机号</label>
                <span class="red">*</span>
                <input type="text" name="phone" id="phone" class="phone" placeholder="手机号" value=""/>
                <span class="tip">
                </span>
            </div>

            <div class="form-row">
                <label for="verifyCode">验证码</label>
                <span class="red">*</span>
                <input type="text" id="verifyCode" name="verifyCode" class="verify-code" value=""
                       placeholder="验证码"><br/>
                <a href="javascript:;" class="btn btn-gray get-code" id="sendCodeBtn" data-timer="0">获取验证码</a>
                <span class="tip">
                </span>
            </div class="form-row">

            <div class="form-row">
                <input type="submit" value="绑定" class="btn btn-gray bind-btn code-next-btn btn-large"/>
            </div>
        </form>
        <form action="javascript:;" method="post" id="setPassForm" class="form" style="display: none;">
            <div class="form-row">
                <label for="password">登陆密码</label>
                <span class="red">*</span>
                <input type="text" id="password" name="password" class="password" value="" placeholder="验证码">
                <span class="tip">
                </span>
            </div class="form-row">

            <div class="form-row">
                <input type="submit" value="设置密码" class="btn btn-green set-pwd-btn btn-large"/>
            </div>
        </form>
    </div>
</div>

<script>
    seajs.use('app/app.user', function (user) {
        user.bind_phone("<?php echo $this->request->get('go'); ?>");
    });
</script>
