<div id="container" class="container">
    <div class="block-tip">
        找回密码
    </div>

    <?php
    if ($user) {
        ?>
        <div class="user-widget">
            <form action="javascript:;" method="post" id="forgotPassForm" class="form">
                <p>
                    <label for="">用户手机</label>
                    <?php echo $user['phone']; ?>
                </p>

                <p>
                    <label for="">输入邮箱</label>
                    <input type="text" value="<?php echo $user['email']; ?>" class="email"/>
                    <span class="tip"></span>
                </p>

                <p style="color: #666;font-size: 10pt;">
                    <label for=""></label>重置后的密码将发送到您指定的邮箱
                </p>

                <p>
                    <input type="submit" value="立即重置密码"
                           data-phone="<?php echo \Util\EasyEncrypt::encode($user['phone']); ?>"
                           class="btn btn-green resetPassBtn btn-large"/>
                </p>

                <p style="color: #666;font-size: 10pt;">
                    <label for=""></label>我已想起密码？ <a
                        href="<?php echo $this->uri->appUrl('user/login?go=' . urlencode($this->request->get('go'))); ?>">返回登陆</a>
                </p>
            </form>

        </div>
    <?php } else { ?>
        <div class="user-widget">
            对不起，手机号 <span class="red"><?php echo $phone; ?></span> 尚未注册或格式不对！<br/>
            <a href="javascript:go(-1);">返回重新登陆?</a>
        </div>
    <?php } ?>
</div>

<script>
    seajs.use('app/app.user', function (user) {
        user.user_forgot("<?php echo $this->request->get('go'); ?>");
    })
</script>