<?php
$count = \Components\Order\CartManager::init()->getCount();


$point = \Components\UserStatusWap::init()->getPoint();
?>
<div id="container" class="container">
    <div class="user-widget">
        <dl class="user-info">
            <dt><img id="preview"
                     src="<?php echo !empty($user['avatar']) ? \Util\ImgSize::getSize($user['avatar'], 50) : '/static/wap/images/default/avatar.jpg'; ?>"
                     alt=""/>

            </dt>
            <dd>
                <p class="name">
                    <span class="right small">[ <a href="/user/logout">注销</a> ]</span>
                    <label id="up_portrait" style="font-size: 12px; color: #73c04d;cursor: pointer;">
                        [更改头像]</label><span class="point point_phone"><?php echo $user['username']; ?></span><br/>
                    <span class="point">[ 积分：<?php echo $point; ?> ]</span>

                </p>
                <p class="detail">
                    <?php
                    if (empty($user['province'])) {
                        ?>
                        注册时间：<?php echo date('Y-m-d', $user['created']); ?>
                    <?php } else { ?>
                        <?php echo $user['province'] . '  ' . $user['city'];
                    } ?>
                </p>
            </dd>
        </dl>
    </div>

    <div class="user-widget">
        <ul class="func-list">
            <!--<li>
                <a href="/addon/vipcard/score">
                    <span class="sign color118"><i class="icon icon-star"></i></span> 我的积分
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>-->
            <li>
                <a href="/addon/guestbook/index">
                    <span class="sign color102"><i class="icon icon-comments-alt"></i></span> 我的留言
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
        </ul>
    </div>


    <div class="user-widget">
        <ul class="func-list">
            <li>
                <a href="/order/cart">
                    <span class="sign color110"><i class="icon icon-shopping-cart"></i></span>
                    购物车
                    <sup class="cart_count"><?php echo $count; ?></sup>
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
            <li>
                <a href="/order/mine">
                    <span class="sign color67"><i class="icon icon-book"></i></span> 我的订单
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
            <li>
                <a href="/order/addr">
                    <span class="sign color121"><i class="icon icon-pushpin"></i></span> 收货地址
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
            <li>
                <a href="/user/collection">
                    <span class="sign color121"><i class="icon icon-inbox"></i></span> 我的收藏
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="user-widget">
        <ul class="func-list">
            <li>
                <a href="/addon/vipcard/index">
                    <span class="sign color109"><i class="icon icon-credit-card"></i></span> 会员卡
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
            <li>
                <a href="/addon/scratch/index">
                    <span class="sign color81"><i class="icon icon-exchange"></i></span> 刮刮卡
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
            <li>
                <a href="/addon/wheel/index">
                    <span class="sign color46"><i class="icon icon-refresh"></i></span> 大转盘
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>

        </ul>
    </div>
    <div class="user-widget">
        <ul class="func-list">

            <li>
                <a href="/user/vote">
                    <span class="sign color46"><i class="icon icon-info"></i></span> 微投票
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>


            </li>
            <li>
                <a href="/user/survey">
                    <span class="sign color46"><i class="icon icon-refresh"></i></span> 微问卷
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="user-widget">
        <ul class="func-list">
            <li>
                <a href="/user/setting">
                    <span class="sign color113"><i class="icon icon-cog"></i></span> 设置
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="portrait-dialog" title="头像上传" style="display: none;">
    <form action="/api/user/updatePortrait" target="frameFile" enctype="multipart/form-data" class="form w250-center"
          method="post" id="signUpForm">
        <p>
            <input type="file" name="portrait" id="portrait">
            <span class="tip"></span>
        </p>

        <p style="margin: 20px 0 0;">
            <input type="submit" value="确定" class="btn btn-green portraitUp"/>
        </p>

    </form>


</div>
<iframe id='frameFile' name='frameFile' style='display: none;'>

</iframe>
<script src="/static/wap/js/base.js">


</script>
<script>
    seajs.use('base', function () {
        $("#up_portrait").on('click', function (e) {
            $("#portrait-dialog").dialog('open');
            e.stopImmediatePropagation();
        });
        $(".portraitUp").on('click', function (e) {
            if ($("#portrait").val() == '') {

                return false;
            }
            $("#portrait-dialog").dialog('close');
            e.stopImmediatePropagation();
        });

    });

    function myAlert(msg, type) {
        tip.showTip(type, msg, 2000);
    }

</script>
