<div id="container" class="container">
    <div class="block-tip">
        用户登录
    </div>

    <div class="user-widget">
        <form action="javascript:;" method="post" id="loginForm" class="form">
            <p>
                <label for="phone">手机号</label>
                <span class="red">*</span>
                <input type="text" name="phone" id="phone" class="phone" placeholder="手机号" value=""/>
                <span class="tip">
                </span>
            </p>

            <p>
                <label for="password">密码</label>
                <span class="red">*</span>
                <input type="password" id="password" name="password" class="password" value="">
                <span class="tip">
                </span>
            </p>

            <p>
                <input type="submit" value="登录" class="btn btn-green loginBtn btn-large"/>
            </p>

            <p>
                <label for=""></label>
                <span class="red">&nbsp;&nbsp;</span>
                <a href="javascript:;" id="goForgotBtn" data-go="<?php echo urlencode($this->request->get('go')); ?>"
                   style="display: none;">忘记密码？ 立即找回</a>
            </p>

            <p style="color: #666;font-size: 10pt;">
                还没有有账号？ <a
                    href="<?php echo $this->uri->appUrl('user/signup?go=' . urlencode($this->request->get('go'))); ?>">立即注册</a>
            </p>
        </form>
    </div>
</div>

<script>
    seajs.use('app/app.user', function (user) {
        user.user_login("<?php echo $this->request->get('go'); ?>");
    });
</script>
