<div id="container" class="container">
    <div class="block-tip"><?php echo $this->view->getContent() ? $this->view->getContent() : '用户注册'; ?></div>

    <div class="user-widget">
        <form action="javascript:;" class="form" method="post" id="signUpForm">
            <p>
                <label for="">手机号</label>
                <span class="red">*</span>
                <input type="tel" id="phone" name="phone" class="phone" placeholder="手机号/用于登陆"
                       value=""/>
                <span class="tip"></span>
            </p>
            <!--<div class="form-row">
                <label for="verifyCode">验证码</label>
                <span class="red">*</span>
                <input type="text" id="verifyCode" name="verifyCode" class="verify-code" value="" placeholder="验证码">
                <a href="javascript:;" class="btn btn-gray get-code" id="sendCodeBtn" data-timer="0">获取验证码</a>
                <span class="tip">
                </span>
            </div class="form-row">
            <p>
                <input type="button" class="btn btn-gray nextBtn btn-large code-next-btn" value="下一步"/>
            </p>
        </form>
        <form action="javascript:;" class="form" method="post" id="signUpForm" style="display: none;">-->
            <p>
                <label for="">昵称</label>
                <span class="red">*</span>
                <input type="text" name="username" class="username" placeholder="昵称"
                       value=""/>
                <span class="tip"></span>
            </p>

            <p>
                <label for="">密码</label>
                <span class="red">*</span>
                <input type="password" name="password" class="password"
                       value="">
                <span class="tip"></span>
            </p>

            <p>
                <label for="">确认密码</label>
                <span class="red">*</span>
                <input type="password" name="repassword" class="repassword"
                       value="">
                <span class="tip"></span>
            </p>

            <p>
                <input type="submit" value="注册" class="btn btn-green regBtn btn-large"/>
            </p>
        </form>
        <p style="color: #666;">
            已有账号？ <a href="<?php echo $this->uri->appUrl('user/login'); ?>">立即登陆</a>
        </p>
    </div>
</div>
<script>
    seajs.use('app/app.user', function (user) {
        user.user_reg("<?php echo $this->request->get('go'); ?>");
    });
</script>
