<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style>
    body{
        color: #666;
    }
</style>
<div id="coupon-container" class="container">
    <h2 class="coupon-head">
        <a href="<?php echo $this->uri->wapModuleUrl('coupon'); ?>" class="go-back">
            <i class="icon icon-angle-left"></i></a>
        优惠劵详情
    </h2>
    <ul class="coupon-info">
        <li class="tip">
            <?php
            if ($own) {
                ?>
                <i class="icon icon-ok green"></i> 您已领取,<a
                    href="<?php echo $this->uri->wapModuleUrl('coupon/mine/' . \Util\EasyEncrypt::encode($own['id'])); ?>">查看详细</a>
            <?php } else { ?>
                <?php
                if (($item['total'] - $item['receive_count']) > 0 && $item['receive_end'] > time()) {
                    ?>
                    <i class="icon icon-ok green"></i> 可领取优惠劵
                <?php
                } else {
                    if ($item['receive_end'] < time()) {
                        ?>
                        <i class="icon icon-remove red"></i> 优惠劵领取时间已过期
                    <?php } else { ?>
                        <i class="icon icon-remove orange"></i> 优惠劵已发放完
                    <?php } ?>
                <?php
                }
            } ?>
        </li>
        <li class="coupon-title">
            优惠劵详情
        </li>
        <li class="coupon-card">
            <p class="coupon-name">
                <?php echo $item['name']; ?>
            </p>

            <p>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                    ?>
                    订单满￥<span class="imp red"><?php echo $item['use_limit']; ?></span>元，减免￥<span
                        class="imp green"><?php echo $item['coupon_param']; ?></span>元
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                    ?>
                    订单满￥<span class="imp red"><?php echo $item['use_limit']; ?></span>元，打折 <span
                        class="imp green"><?php echo $item['coupon_param']; ?>%</span>
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                    $param = explode('|', $item['coupon_param']);
                    ?>
                    <span>现价￥<span class="imp red"><?php echo $param[0]; ?></span>元</span>
                    <span> 可抵用 ￥<s class="imp green"><?php echo $param[1]; ?></s>元</span>
                <?php } ?>
            </p>
        </li>
        <li>
            <label for="">领取时间</label>
            有效期至<span class="green"><?php echo date('Y.m.d H:i:s', $item['receive_end']); ?></span>
        </li>
        <li>
            <label for="">使用时间</label>
            <?php
            if ($item['use_start'] > time()) {
                ?>
                <span class="green"><?php echo date('Y.m.d H:i:s', $item['use_start']); ?></span>
                --
                <span class="green"><?php echo date('Y.m.d H:i:s', $item['use_end']) ?></span>
            <?php } else { ?>
                有效期至<span class="green"><?php echo date('Y.m.d H:i:s', $item['use_end']); ?></span>
            <?php } ?>
        </li>
        <li>
            <label for="">使用条件</label>
            订单满 &yen; <span class="imp red"><?php echo $item['use_limit']; ?></span>元
        </li>
        <li>
            <label for="">说明</label>
            <?php echo $item['detail']; ?>
        </li>
        <li>
            <label for="">线下使用</label>
            <?php echo $item['offline'] == '1' ? '支持' : ''; ?> (可在各门店使用)
        </li>
        <li>
            <label for="">数量</label>
            总数: <span class="red"><?php echo $item['total']; ?></span>张
            已发放: <span class="orange"><?php echo $item['receive_count']; ?></span>张
            剩余: <span class="green"><?php echo abs($item['total'] - $item['receive_count']); ?></span>张
        </li>
        <?php
        if ((!$own && $item['total'] - $item['receive_count']) > 0 && $item['receive_end'] > time()) {
            ?>
            <li>
                <a href="javascript:;" class="btn btn-green btn-block receiveBtn" id="receiveBtn"
                   data-id="<?php echo $item['id']; ?>">立即领取</a>
            </li>
        <?php } ?>
    </ul>
</div>
<script>
    seajs.use('module/module.coupon.js', function (api) {
        api.receiveCoupon();
    });
</script>