<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style>
    body{
        color: #666;
    }
</style>
<div id="coupon-container" class="container">
    <div class="coupon-tab">
        <a href="javascript:;" class="tab active all" data-tab="all"><span>优惠劵</span></a>
        <a href="javascript:;" class="tab mine" data-tab="mine"><span>我的劵</span></a>
    </div>
    <div class="clear"></div>
    <div class="tab-content">
        <div class="tab-pane" data-tab="all">
            <?php
            if ($all_list) {
                ?>
                <ul class="item-list">
                    <?php foreach ($all_list as $item) {
                        ?>
                        <li class="item">
                            <div class="expired">
                                <p>
                                    有效期至 <br>
                                    <?php echo date('Y.m.d H:i'); ?>
                                </p>

                                <?php
                                // 领取过
                                if (in_array($item['id'], $receive_ids)) {
                                    ?>
                                    <p class="get-btn">
                                        <span class="green">已经领取</span>
                                    </p>
                                <?php } else { ?>
                                    <p class="get-btn">
                                        <a href="javascript:;" class="btn btn-green receiveBtn"
                                           data-id="<?php echo $item['id']; ?>">
                                            立即领取
                                        </a>
                                    </p>
                                <?php } ?>
                            </div>
                            <div class="info">
                                <a href="<?php echo $this->uri->wapModuleUrl('coupon/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                                    <p class="name"><?php echo $item['name']; ?></p>

                                    <p class="useful">
                                        <?php
                                        if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                                            ?>
                                            订单满￥<span class="imp"><?php echo $item['use_limit']; ?></span>元，减免￥<span
                                                class="imp"><?php echo $item['coupon_param']; ?></span>元
                                        <?php } ?>
                                        <?php
                                        if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                                            ?>
                                            订单满￥<span class="imp"><?php echo $item['use_limit']; ?></span>元，打折<span
                                                class="imp"><?php echo $item['coupon_param']; ?>%</span>
                                        <?php } ?>
                                        <?php
                                        if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                                            $param = explode('|', $item['coupon_param']);
                                            ?>
                                            <span>现价￥<span class="imp"><?php echo $param[0]; ?></span>元</span>
                                            <span> 可抵用 ￥<s class="imp"><?php echo $param[1]; ?></s>元</span>
                                        <?php } ?>
                                    </p>
                                </a>
                            </div>
                        </li>
                    <?php } ?>
                </ul>
            <?php } else { ?>
                <p>暂无数据</p>
            <?php } ?>
        </div>
        <div class="tab-pane" data-tab="mine" style="display: none;">
            <?php
            if ($user_list) {
                ?>
                <ul class="item-list">
                    <?php foreach ($user_list as $own) {
                        ?>
                        <li class="item">
                            <a href="<?php echo $this->uri->wapModuleUrl('coupon/mine/' . \Util\EasyEncrypt::encode($own['id'])); ?>">

                                <div class="expired">
                                    <?php
                                    if ($own['used']) {
                                        ?>
                                        <p>
                                            <span class="brown">已经使用</span>
                                        </p>
                                    <?php } else { ?>
                                        <?php
                                        if ($own['use_end'] >= time()) {
                                            ?>
                                            <p>
                                                <span>有效期至</span><br>
                                                <?php echo date('Y.m.d H:i', $own['use_end']); ?>
                                            </p>
                                        <?php } else { ?>
                                            <p>
                                                <span class="blue">优惠劵已过期</span>
                                            </p>
                                        <?php } ?>
                                    <?php } ?>
                                    <p class="serial">
                                        <span>优惠码</span><br>
                                        <?php echo $own['serial_number']; ?>
                                    </p>
                                </div>
                                <div class="info">
                                    <p class="name"><?php echo $own['name']; ?></p>

                                    <p class="useful">
                                        <?php
                                        if ($own['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                                            ?>
                                            订单满￥<span class="imp"><?php echo $own['use_limit']; ?></span>元，优惠￥<span
                                                class="imp"><?php echo $own['coupon_param']; ?></span>元
                                        <?php } ?>
                                        <?php
                                        if ($own['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                                            ?>
                                            订单满￥<span class="imp"><?php echo $own['use_limit']; ?></span>元，打折<span
                                                class="imp"><?php echo $own['coupon_param']; ?></span>%
                                        <?php } ?>
                                        <?php
                                        if ($own['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                                            $param = explode('|', $own['coupon_param']);
                                            ?>
                                            <span>现价￥<span class="imp"><?php echo $param[0]; ?></span>元</span>
                                            <span> 可抵用 ￥<s class="imp"><?php echo $param[1]; ?></s>元</span>
                                        <?php } ?>
                                    </p>
                                </div>
                            </a>
                        </li>
                    <?php } ?>
                </ul>
            <?php } else { ?>
                <p>暂无数据</p>
            <?php } ?>
        </div>
    </div>
</div>
<script>
    seajs.use('module/module.coupon', function (api) {
        api.switchTab();
        api.receiveCoupon();
    });
</script>