<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style>
    body{
        color: #666;
    }
</style>
<div id="coupon-container" class="container">
    <h2 class="coupon-head">
        <a href="<?php echo $this->uri->wapModuleUrl('coupon'); ?>" class="go-back">
            <i class="icon icon-angle-left"></i></a>
        我的优惠劵详情
    </h2>
    <ul class="coupon-info">
        <li class="tip">
            <?php
            if ($own['used']) {
                ?>
                <i class="icon icon-ok green"></i>
                您已成功使用优惠劵
            <?php } else { ?>
                <?php
                if ($item['use_end'] > time()) {
                    ?>
                    <i class="icon icon-ok green"></i> 尚未使用
                <?php
                } else {
                    ?>
                    <i class="icon icon-remove red"></i> 已经过期,无法使用
                <?php } ?>
            <?php
            } ?>
        </li>
        <li class="coupon-title">
            我的优惠劵详情
        </li>
        <li class="coupon-card">
            <p class="coupon-name">
                <?php echo $item['name']; ?>
            </p>

            <p>

                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                    ?>
                    订单满￥<span class="imp red"><?php echo $item['use_limit']; ?></span>元，减免￥<span
                        class="imp green"><?php echo $item['coupon_param']; ?></span>元
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                    ?>
                    订单满￥<span class="imp red"><?php echo $item['use_limit']; ?></span>元，打折 <span
                        class="imp green"><?php echo $item['coupon_param']; ?>%</span>
                <?php } ?>
                <?php
                if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                    $param = explode('|', $item['coupon_param']);
                    ?>
                    <span>现价￥<span class="imp red"><?php echo $param[0]; ?></span>元</span>
                    <span> 可抵用 ￥<s class="imp green"><?php echo $param[1]; ?></s>元</span>
                <?php } ?>
            </p>

            <p>
                优惠码 <span class="blue serial_number"><?php echo $own['serial_number']; ?></span>
            </p>
        </li>
        <li>
            <label for="">领取时间</label>
            <span class="green"><?php echo date('Y.m.d H:i:s', $own['created']); ?></span>
        </li>
        <li>
            <label for="">使用时间</label>
            <?php
            if ($item['use_start'] > time()) {
                ?>
                <span class="green"><?php echo date('Y.m.d H:i:s', $item['use_start']); ?></span>
                --
                <span class="green"><?php echo date('Y.m.d H:i:s', $item['use_end']) ?></span>
            <?php } else { ?>
                有效期至<span class="green"><?php echo date('Y.m.d H:i:s', $item['use_end']); ?></span>
            <?php } ?>
        </li>
        <li>
            <label for="">使用说明</label>
            <?php echo $item['detail']; ?>
        </li>
        <?php
        if ($own['used']) {
            ?>
            <li>
                <label for="" class="red">使用记录</label>
            </li>
            <?php if ($own['used_offline']) { ?>
                <li>
                    <label for="" class="green">线下使用</label>
                    使用时间:<?php echo date('Y-m-d H:i:s', $use_log['created']); ?>
                </li>
            <?php } else { ?>
                <li>
                    <p>
                        <label for="">订单号:</label>
                        <a class="green"
                           href="<?php echo $this->uri->baseUrl('/order/detail/' . $use_log['order_number']); ?>"><?php echo $use_log['order_number']; ?></a>
                    </p>

                    <p>
                        <label for="">总优惠: </label>
                        &yen; <span class="red"><?php echo $use_log['amount']; ?></span>元
                    </p>

                    <p>
                        <label for="">下单时间:</label>
                        <span class=""><?php echo date('Y-m-d H:i:s', $use_log['created']); ?></span>
                    </p>
                </li>
            <?php } ?>
        <?php
        } else {
            if ($item['offline']) {
                ?>
                <li class="offline-use">
                    <p>
                        <label for="">线下使用</label>
                        <?php echo $item['offline'] == '1' ? '支持' : ''; ?> (可在各门店使用)
                    </p>

                    <p style="text-align: center;margin: 8px 0 0 ;"><span class="red">请将下面的二维码给商家扫描</span></p>

                    <div class="qrcode">
                        <p><img src="<?php echo $own['qrcode']; ?>" alt=""/></p>
                    </div>
                </li>
            <?php
            }
        } ?>
    </ul>
</div>