<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style>
    body {
        color: #666;
    }
</style>
<div id="coupon-container" class="container">
    <h2 class="coupon-head">
        商家确认优惠劵
    </h2>

    <div id="offline-content" style="margin: 6px;">
        <div class="tab-content">
            <div class="item">
                <div class="expired">
                    <p>
                        <span>有效期至</span><br>
                        <?php echo date('Y.m.d H:i', $item['use_end']); ?>
                    </p>

                    <p class="serial">
                        <span>优惠码</span><br>
                        <?php echo $own['serial_number']; ?>
                    </p>
                </div>
                <div class="info">
                    <p class="name"><?php echo $item['name']; ?></p>

                    <p class="useful">
                        <?php
                        if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_CASH) {
                            ?>
                            订单满￥<span class="imp"><?php echo $item['use_limit']; ?></span>元，减免￥<span
                                class="imp"><?php echo $item['coupon_param']; ?></span>元
                        <?php } ?>
                        <?php
                        if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_DISCOUNT) {
                            ?>
                            订单满￥<span class="imp"><?php echo $item['use_limit']; ?></span>元，打折<span
                                class="imp"><?php echo $item['coupon_param']; ?></span>%
                        <?php } ?>
                        <?php
                        if ($item['coupon_type'] == \Components\Module\CouponManager::COUPON_TYPE_SPECIAL) {
                            $param = explode('|', $item['coupon_param']);
                            ?>
                            <span>现价￥<span class="imp"><?php echo $param[0]; ?></span>元</span>
                            <span> 可抵用 ￥<s class="imp"><?php echo $param[1]; ?></s>元</span>
                        <?php } ?>
                    </p>
                </div>
            </div>
        </div>

        <div class="confirm-offline">
            <?php
            if ($own['used']) {
                ?>
                <p class="offlineUseTip" style="display: block;">
                    <i class="icon icon-remove red"></i>
                    对不起,您的优惠劵已经被使用
                </p>
            <?php } else { ?>
                <?php
                if ($item['use_end'] <= time()) {
                    ?>
                    <p style="display: block;" class="offlineUseTip">
                        <i class="icon icon-remove red"></i> 对不起,您的优惠劵已经过期,无法使用
                    </p>
                <?php
                } else {
                    ?>
                    <div>
                        <p class="coupon-tip">请输入密码来验证优惠劵</p>

                        <p class="coupon-passwd">
                            商家验证密码
                            <input type="password" value="" id="passwd"/>
                        </p>

                        <p>
                            <a href="javascript:;" class="btn btn-block btn-green" id="offlineUseBtn"
                               data-serial="<?php echo $own['serial_number']; ?>">商家确认使用优惠劵</a>
                        </p>
                    </div>
                <?php } ?>
            <?php
            } ?>
        </div>
    </div>
    <div class="offlineUseTip">
        <p>
            <i class="icon icon-ok green"></i>
            操作成功!请关闭本页面
        </p>
    </div>
</div>
<script>
    seajs.use('module/module.coupon', function (api) {
        api.offlineUseCoupon();
    });
</script>