<div id="container" class="container">
    <style>
        body {
            background: #FFF;;
        }

        #signUpForm {
            line-height: 200%;
            font-size: 12pt;
            margin: 8px;
        }

        #signUpForm label {
            width: 120px;
            display: inline-block;
        }

        #signUpForm table {
            width: 100%;
        }

        #signUpForm table td textarea {
            width: 97%;
            height: 200px;
        }

        .red {
            color: red;
        }

        .txt {
            border: 1px solid #e0e0e0;
            line-height: 22px;
            color: #666;
            padding: 3px 5px;
            background: #fefefe;
            width: 240px;
            outline: none;
        }

        .txt:hover, .txt:focus {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            background: #f9f9f9;
            color: #333;
        }

        .error {
            border: solid 1px #b7b7b7;
            background: #fff;
            padding: 5px;
        }

        .tc {
            text-align: center;
        }

        input.btn.msg-btn {

            height: 36px;
            line-height: 36px;
            padding: 0px 20px;
            font-size: 14px;
            margin: 10px 0 0;
        }

        .ui-dialog {
            -webkit-box-shadow: 1px 1px 3px #292929;
            -moz-box-shadow: 1px 1px 3px #292929;
            box-shadow: 1px 1px 3px #292929;
        }

        .ui-dialog .ui-dialog-title {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }

        .ui-dialog-btns {
            margin-top: 0px;
        }
    </style>
    <div class="item-widget">
        <form action="" method="post" id="signUpForm">
            <table>
                <tr>
                    <td>
                        <label for="message">发表留言<span class="red">*</span>：</label>
                    </td>
                </tr>
                <tr>
                    <td><textarea id="message" name="message" class="txt" placeholder="写点什么..."></textarea></td>
                </tr>
                <tr>
                    <td class="tc"><input type="button" value="提交留言" id="msg-submit" class="btn button msg-btn"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="dialog" title="提示"></div>
<script type="text/javascript">

    var msgData;
    $('#msg-submit').on('click', function () {
        $.ajax({
            'type': 'POST',
            'dataType': 'json',
            'url': '<?php echo $this->uri->wapModuleUrl('guestbook/write');?>',
            'data': $('#signUpForm').serialize(),
            'success': function (data, status, xhr) {
                msgData = data;
                $('#dialog').html(msgData.msg);
                $('#dialog').dialog({
                    autoOpen: false,
                    closeBtn: false,
                    buttons: {
                        '确定': function () {
                            if (msgData.succeed) {
                                window.location.href = '<?php echo $this->uri->wapModuleUrl('guestbook/index');?>';
                            }
                            else {
                                this.close();
                            }
                        }
                    }
                });
                $('#dialog').dialog('open');
            }
        });

    });

</script>
