<?php
use Multiple\Wap\Helper\SiteData;

$part = SiteData::init()->getNavs('part');
$slider = SiteData::init()->getFocus('focus_slider');
?>
<!-- ----------------------------- index_main begin --------------------------- -->

<div class="index_main">
    <div class="pic">
        <?php if ($slider) {
            ?>
            <div class="swiper-container" id="focus-swiper">
                <div class="swiper-wrapper">
                    <?php foreach ($slider as $item): ?>
                        <div class="swiper-slide">
                            <a href="<?php echo $item['link']; ?>"><img src="<?php echo $item['img']; ?>"
                                                                        style="width:100%;"></a>
                        </div>
                    <?php endforeach; ?>
                </div>
                <div class="pagination"></div>
            </div>
            <script>
                seajs.use('tools/swiper.js', function () {
                    var mySwiper = new Swiper('#focus-swiper', {
                        pagination: '#focus-swiper .pagination',
                        paginationClickable: true,
                        loop: true,
                        calculateHeight: true,
                        resizeReInit: true,
                        autoplay: 5000,
                        grabCursor: true
                    })
                });
            </script>
        <?php } ?>
    </div>
    <div class="list">

        <ul>
            <?php
            if ($part) {
                foreach ($part as $key => $item) {
                    ?>
                    <li class="<?php if ($key % 2 == 0) {
                        echo "boder_rg ";
                    } ?>boder_bot">
                        <a class="a-nest"
                           href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                            <div class="list_img"><img src="<?php echo $item['cover_img'] ?>" alt=""/></div>
                            <p class="list_name"><?php echo $item['name'] ?></p>
                        </a>
                    </li>

                <?php }
            } ?>

        </ul>
        <div class="clear"></div>
    </div>
    <!-- list end -->
    <div class="index_b"><a href="javascript:;"><img src="/static/wap/images/tpl/renhao1/index_back_home.png"
                                                     alt=""/></a></div>
<!--
    <div class="index_b">
        <a href="javascript:;"><img src="/static/wap/images/tpl/renhao1/index_benefit.png" alt=""/></a>
    </div>
    -->
</div><!-- index_main end -->
<!------------------------------- index_main end ----------------------------->
