<div id="container" class="container article-wrap">
    <div>
        <div class="article-head">
            <h1 class="article-title">
                <?php echo $item['name']; ?>
            </h1>
        </div>
        <?php if ($item['cover']) { ?>
            <div class="cover" style="text-align: center;">
                <img src="<?php echo $item['cover']; ?>" alt=""/>
            </div>
        <?php } ?>
        <div class="article-content">
            <?php echo $item['content'] ?>
        </div>
    </div>

</div>
<script>
    $(function () {
        var fontSize = new Array();
        fontSize['small'] = '10pt';
        fontSize['middle'] = '13pt';
        fontSize['large'] = '16pt';
        $('.font-select a').click(function () {
            var type = $(this).attr('data-type');
            $('.article-content').css({"font-size": fontSize[type]});
            iscroll.refresh();
        });
    })
</script>