<?php
$list = \Multiple\Wap\Helper\SiteData::init()->getPageData();

?>
<div id="container" class="container">
    <?php
    if ($list) {
        foreach ($list as $item) {
            ?>
            <div class="item-widget about-list">
                <a href="<?php echo $this->uri->appUrl('about/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                    <h2 class="title"><?php echo $item['name']; ?></h2>
                    <?php if ($item['cover']) {
                        ?>
                        <p class="cover" style="text-align: center;">
                            <img src="<?php echo $item['cover']; ?>" class=""/>
                        </p>
                    <?php } ?>
                    <div class="intro">
                        <?php echo $item['intro'] ? $item['intro'] : mb_substr(strip_tags($item['content']), 0, 120, 'utf-8'); ?>
                    </div>
                </a>
            </div>
        <?php
        }
    } else {
        ?>
        <p style="margin: 5px;
    padding: 10px;
    border: 1px solid #E0E0E0;">暂无资料</p>
    <?php } ?>
</div>