<div class="header">

    <div class="dl-title">
        <span class="lp-title-port">ESTT</span><span class="dl-title-text">营销平台</span>
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">{{nick_name}}</span><a href="{{url('admin/session/end')}}" title="退出系统"
                                                                                     class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div>
        </div>
        <ul id="J_Nav" class="nav-list ks-clear">
            <li class="nav-item dl-selected">
                <div class="nav-item-inner nav-home">平台管理</div>
            </li>
            <li class="nav-item">
                <div class="nav-item-inner nav-order">CRM</div>
            </li>

            <!--<li class="nav-item">
                <div class="nav-item-inner nav-inventory">营销管理</div>
            </li>-->

            <li class="nav-item">
                <div class="nav-item-inner nav-supplier">数据管理</div>
            </li>

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>


<script>
    BUI.use('common/main', function () {
        var config = [
            {
                id: 'menu',
                homePage: 'dashboard',
                menu: [
                    {
                        text: '控制面板',
                        items: [
                            {id: 'dashboard', text: '控制面板', href: '/admin/index/dashboard', closeable: false}
                        ]
                    },
                    {
                        text: '平台设置',
                        items: [
                            {id: 'base-setup', text: '基本参数', href: '/admin/setting/base'},
                            /*{id: 'email-setup', text: '邮件', href: '/admin/setting/email'},
                            {id: 'message-setup', text: '短信', href: '/admin/setting/message'},*/
                            {id: 'payment-setup', text: '支付设置', href: '/admin/setting/payment'},
                            {id: 'industry', text: '行业', href: '/admin/operate-config/industry'}
                        ]
                    },
//                    {
//                        text: '运营设置',
//                        items: [
//                            /*{id: 'agent-grade', text: '代理等级', href: '/admin/operate-config/agentGrade'},*/
//                            /*{id: 'function-list', text: '功能列表', href: '/admin/operate-config/functions'},
//                             {id: 'zone', text: '地域', href: '/admin/operate-config/zone'},*/
//                            /*,
//                            {id: 'product-category', text: '商品类目', href: '/admin/category/index'}*/
//                        ]
//                    },
                    {
                        text: '功能管理',
                        items: [
                            {id: 'resource-search', text: '功能基本信息', href: '/admin/resource/search'}
                        ]
                    },
                    {
                        text: '帮助文档',
                        items: [
                            {id: 'help-list', text: '帮助列表', href: '/admin/help/list'},
                            {id: 'help-cat', text: '帮助类别', href: '/admin/help/cat'},
                            {id: 'help-add', text: '添加帮助', href: '/admin/help/add'}
                        ]
                    }
                ]
            },
            {
                id: 'crm',
                menu: [
                    {
                        text: '企业管理',
                        items: [
                            {id: 'company-search', text: '企业搜索', href: '/admin/companies/search'},
                            {id: 'platform-order', text: '订单统计', href: '/admin/system-orders/index'}
                        ]
                    },
                    /*{
                        text: '代理管理',
                        items: [
                            {id: 'agent-search', text: '代理搜索', href: '/admin/agent/search'},
                            {id: 'agent-add', text: '代理添加', href: '/admin/agent/add'},
                            {id: 'agent-revenue', text: '分成管理', href: '/admin/agent/revenue'}
                        ]
                    },*/
                    {
                        text: '会员管理',
                        items: [
                            {id: 'user-search', text: '会员搜索', href: '/admin/user/search'}
                        ]
                    }
                ]
            }/*,
            {
                id: 'sale',
                menu: [

                    {
                        text: '销售管理',
                        items: [
                            {id: 'platform-order', text: '直销订单', href: '/admin/system-orders/direct'},
                            {id: 'platform-order', text: '所有订单', href: '/admin/system-orders/index'},
                            {id: 'platform-order', text: '销量统计', href: '/admin/system-orders/index'}
                        ]
                    },,
                    {
                        text: '商户管理',
                        items: [
                            {id: 'company-search', text: '商户信息', href: '/admin/companies/search'},
                            {id: 'user-search', text: '商户订单', href: '/admin/user/search'},
                            {id: 'user-search', text: '销售报表', href: '/admin/user/search'}
                        ]
                    },
                    {
                        text: 'CRM',
                        items: [
                            {id: 'user-search', text: '销售人员管理', href: '/admin/sales/search'},
                            {id: 'user-search', text: '一级代理品牌管理', href: '/admin/logo/search'}
                        ]
                    }
                ]
            }*/,
            {
                id: 'market',
                menu: [
                    /*{
                        text: '活动管理',
                        items: [
                            {id: 'activity-new', text: '最新活动', href: '/admin/activity/new'},
                            {id: 'activity-search', text: '活动搜索', href: '/admin/activity/search'},
                            {id: 'activity-post', text: '活动发布', href: '/admin/activity/post'},
                            {id: 'activity-stats', text: '活动统计', href: '/admin/activity/stats'}
                        ]
                    },*/
                    {
                        text: '代收款',
                        items: [
//                            {id: 'company-stats', text: '商家入驻统计', href: '/admin/statistic/companies'},
//                            {id: 'platform-order', text: '系统订单', href: '/admin/system-orders/index'}
                            {id: 'platform-order', text: '支付日志', href: '/admin/payment/log'}
                        ]
                    }
                ]
            }/*,
            {
                id: 'data',
                menu: [
                    {
                        text: '数据管理',
                        items: [
                            {id: 'back-up', text: '备份', href: '/admin/data/backup'},
                            {id: 'recover', text: '还原', href: '/admin/data/recover'}
                        ]
                    }
                ]
            }*/
        ];
        new PageUtil.MainPage({
            modulesConfig: config
        });
    });
</script>