<div class="header">

    <div class="dl-title">
        <span class="lp-title-port">顶级代理</span><span class="dl-title-text">营销平台</span>
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">{{nick_name}}</span><a href="{{url('admin/session/end')}}" title="退出系统"
                                                                                     class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div>
        </div>
        <ul id="J_Nav" class="nav-list ks-clear">
            <li class="nav-item dl-selected">
                <div class="nav-item-inner nav-home">营销管理</div>
            </li>
        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>


<script>
    BUI.use('common/main', function () {
        var config = [
            {
                id: 'sale',
                menu: [
                    {
                        text: '功能管理',
                        items: [
                            {id: 'resource-search', text: '功能基本信息', href: '/admin/resource/search'}

                        ]
                    },
                    {
                        text: '销售管理',
                        items: [
                            {id: 'platform-order', text: '直销订单', href: '/admin/system-orders/direct'},
                            {id: 'platform-order', text: '所有订单', href: '/admin/system-orders/index'},
                            {id: 'platform-order', text: '销量统计', href: '/admin/system-orders/index'}
                        ]
                    },
                    {
                        text: '商户管理',
                        items: [
                            {id: 'company-search', text: '商户信息', href: '/admin/companies/search'}
                        ]
                    },
                    {
                        text: 'CRM',
                        items: [
                            {id: 'user-search', text: '销售人员管理', href: '/admin/sales/search'},
                            {id: 'user-search', text: '二级代理品牌管理', href: '/admin/logo/search'}
                        ]
                    }
                ]
            }
        ];
        new PageUtil.MainPage({
            modulesConfig: config
        });
    });
</script>