<div class="page-header">
    <h1>
        微商城焦点图片
        <small>
            <i class="icon-double-angle-right"></i>
        </small>
        <small class="right">
            <a href="#focusModal" data-toggle="modal" class="btn btn-sm btn-success addBtn normal">添加焦点图片</a>
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
</div>
<style>
    .icon {
        color: #629b58;
    }

    .color-block {
        width: 38px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<?php echo $this->getContent(); ?>

<table class="list">
    <tr class="head">
        <th style="width:32px">批量</th>
        <th>图片</th>
        <th style="width: 200px;">名称</th>
        <th>链接</th>
        <th style="width:150px">类型</th>
        <th style="width:50px">排序</th>
        <th style="width:50px">显示</th>
        <th style="width:50px">编辑</th>
        <th style="width:50px">删除</th>
    </tr>
    <?php
    if ($list) {
        ?>
        <tbody class="listData">

        <?php
        $type_name = array(
            'link' => '普通链接',
        'tel' => '电话',
        'web' => '微官网'
    );

    foreach ($list as $item) {
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <td class="center">
                <input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>">
            </td>
            <td><img src="<?php echo $item['img']; ?>" alt="" style="height:50px ;"/></td>
            <td><?php echo $item['name']; ?></td>
            <td><?php echo $item['link']; ?></td>
            <td><?php echo isset($type_name[$item['link_type']]) ? $type_name[$item['link_type']] : '普通链接'; ?></td>
            <td class="center"><?php echo $item['sort']; ?></td>
            <td class="center green"><?php echo $item['published'] == 1 ? '是' : '否'; ?></td>
            <td class="center">
                <a class="upBtn" data-id="<?php echo $item['id']; ?>" href=" javascript:;">编辑</a>
            </td>
            <td class="center">
                <a class="delBtn" data-id="<?php echo $item['id']; ?>" href="javascript:;">删除</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <?php } else { ?>
        <tr>
            <td colspan="12">
                <p style="margin: 20px;color:#f00;"> 暂无焦点图 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span class="right">
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
            <a href="#focusModal" data-toggle="modal" class="miBtn addBtn">添加焦点图片</a>
        </td>
    </tr>
</table>

<script>
    seajs.use('app/panel/site/panel.site.focus', function (mi) {
        mi.setFocus();
        mi.delFocus('.delBtn');
        mi.delAllFocus('.delAllSelected');
    });
</script>

<div class="modal" id="focusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">焦点图片设置</h4>
            </div>
            <div class="modal-body">
                <p class="field set-field">
                    <label for="" class="field-label">选择图片：</label>
                    <input type="text" id="img" value="" class="input-small" readonly>
                    <span class="red">*</span>
                    <a href="javascript:;" class="btn btn-sm btn-success getImg">选择图片</a>
                    <img src="" alt="" class="previewImg" style="display: none; width: 60px;"/>
                    <span class="help-block">建议尺寸500*148</span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">设置名称：</label>
                    <input type="text" id="name" value="" class="input-small">
                    <span class="red">*</span><span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">设置链接：</label>
                    <input type="text" id="link" value="" class="input-small" readonly>
                    <input type="hidden" id="type" readonly>

                    <span class="red">*</span>
                    <a href="javascript:;" class="btn btn-sm btn-success getLinkUrl">设置链接</a>
                    <span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">排序大小：</label>
                    <input type="text" id="sort" value="" class="input-small" style="width: 60px;" maxlength="1">
                    <span class="red">*</span><span
                        class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">显示隐藏：</label>

                    <label>
                        <input type="radio" name="published" class="ace published" value="1"/>
                        <span class="lbl"><b>是</b></span>
                    </label>
                    <label>
                        <input type="hidden" name="page_type" id="page_type" value="shop">
                        <input type="radio" name="published" class="ace published" value="0"/>
                        <span class="lbl"> <b>否</b></span>
                    </label>
                </p>

            </div>

            <div class="modal-footer">
                <a href="javascript:;" data-dismiss="modal" class="btn">关闭</a>
                <a href="javascript:;" class="btn btn-primary saveBtn">保存</a>
            </div>
        </div>
    </div>
</div>

<?php $this->partial('store/nav/modal'); ?>
<?php $this->partial('store/common') ?>