<div class="page-header">
    <h1>
        底部快捷导航
        <small>
            <i class="icon-double-angle-right"></i>
            [ <a href="<?php echo $this->uri->moduleUrl('tpl/menu'); ?>">选择模板</a> ]
        </small>
        <small class="right">
            <input type="hidden" name="page_type" id="page_type" value="shop">
            <a href="#navModal" data-toggle="modal" class="btn btn-sm btn-success addBtn normal">添加分类</a>
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
</div>
<style>
    .icon {
        color: #629b58;
    }

    .color-block {
        width: 38px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<?php echo $this->getContent(); ?>

<table class="list">
    <tr class="head">
        <th style="width:32px">批量</th>
        <th style="width: 200px;">名称</th>
        <th style="width:50px">图标</th>
        <th style="width:50px">封面图</th>
        <th style="width:72px">位置</th>
        <th>链接</th>
        <th style="width:80px">类型</th>
        <th style="width:50px">排序</th>
        <th style="width:50px">显示</th>
        <th style="width:50px">编辑</th>
        <th style="width:50px">删除</th>
    </tr>
    <?php
    if ($list) {
        ?>
        <tbody class="listData">

    <?php
    $type_name = array(
        'link' => '普通链接',
        'tel' => '电话',
        'web' => '微官网'
    );

    foreach ($list as $item) {
        if ($item['parent_id'] == 0) {

            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <td class="center">
                    <input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>">
                </td>
                <td><?php echo $item['name']; ?></td>
                <td class="center"><i class="icon <?php echo $item['icon']; ?>"></i></td>
                <td class="center"><?php if( $item['cover_img']){echo "<img src='".$item['cover_img']."'/>";}else{echo "无";}?></td>
                <td class="center green">底部导航</td>
                <td><?php echo $item['link']; ?></td>
                <td class="center"><?php echo isset($type_name[$item['link_type']]) ? $type_name[$item['link_type']] : '普通链接'; ?></td>
                <td class="center"><?php echo $item['sort']; ?></td>
                <td class="center green"><?php echo $item['published'] == 1 ? '是' : '否'; ?></td>
                <td class="center">
                    <a class="upBtn" data-id="<?php echo $item['id']; ?>" href=" javascript:;">编辑</a>
                </td>
                <td class="center">
                    <a class="delBtn" data-id="<?php echo $item['id']; ?>" href="javascript:;">删除</a>
                </td>
            </tr>
            <?php
            foreach ($list as $sub) {
                if ($sub['parent_id'] == $item['id']) {
                    ?>
                    <tr class="item" data-id="<?php echo $sub['id']; ?>">
                        <td class="center">
                            <input type="checkbox" class="chk" data-id="<?php echo $sub['id']; ?>">
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;|―― <?php echo $sub['name']; ?></td>
                        <td class="center"><i class="icon <?php echo $sub['icon']; ?>"></i></td>
                        <td class="center"><?php if( $sub['cover_img']){echo "<img src='".$sub['cover_img']."'/>";}else{echo "无";}?></td>
                        <td class="center green">底部导航</td>
                        <td><?php echo $sub['link']; ?></td>
                        <td class="center"><?php echo isset($type_name[$sub['link_type']]) ? $type_name[$sub['link_type']] : '普通链接'; ?></td>
                        <td class="center"><?php echo $sub['sort']; ?></td>
                        <td class="center green"><?php echo $sub['published'] == 1 ? '是' : '否'; ?></td>
                        <td class="center">
                            <a class="upBtn" data-id="<?php echo $sub['id']; ?>" href=" javascript:;">编辑</a>
                        </td>
                        <td class="center">
                            <a class="delBtn" data-id="<?php echo $sub['id']; ?>" href="javascript:;">删除</a>
                        </td>
                    </tr>
                <?php
                }
            } ?>
        <?php
        }
    }
    ?>
        </tbody>
    <?php } else { ?>
        <tr>
            <td colspan="12">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span class="right">
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
            <a href="#navModal" data-toggle="modal" class="miBtn addBtn">添加分类</a>
        </td>
    </tr>
</table>

<script>
    seajs.use('app/panel/site/panel.site.nav', function (mi) {
        mi.setNav();
        mi.delNav('.delBtn');
        mi.delAllNav('.delAllSelected');
    });
</script>
<?php $this->partial('store/nav/modal'); ?>
<?php $this->partial('store/common') ?>