<div class="page-header">
    <h1>
        店铺设置
        <small>
            <i class="icon-double-angle-right"></i>
            [ <a href="<?php echo $this->uri->moduleUrl('tpl/index') ?>">选择店铺模板</a> ]
        </small>
    </h1>
</div>
<style>
    .form-group {
        height: 30px;
    }

    .form-group .control-label {
        text-align: right;
    }

    .form-group select {
        margin: 0;
    }
</style>
{{ content() }}
<div class="">
<ul class="nav nav-tabs" id="myTab">
    <li class="active">
        <a data-toggle="tab" href="#home">
            <i class="green icon-home bigger-110"></i>
            基本信息
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#profile">
            商城简介
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#dropdown1">
            消费指南
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#dropdown2">
            客户服务
        </a>
    </li>
</ul>
<form action="" class="" onbeforesubmit="return false" data-toggle="validator" method="post">

<main class="tab-content">
<section id="home" class="tab-pane in active">
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">店铺名称</label>

    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <input type="text" class="form-control" id="name" name="name" placeholder="店铺名称"
                               value="{% if store is defined %}{{store.name}}{% endif %}" required
                               data-error="店铺名称必须填写">
                    </span>
        <span class="help-block with-errors"></span>
    </div>
</div>
<div class="form-group">
    <label for="enable" class="col-sm-2 control-label">开启店铺功能</label>

    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <label>
                            <input type="radio" name="enable" id=""
                                   class="ace" <?php echo @$store->enable == 1 ? 'checked' : ''; ?> value="1"/>
                            <span class="lbl">是</span>
                        </label>

                        <label>
                            <input type="radio" name="enable" id=""
                                   class="ace" <?php echo @$store->enable == 0 ? 'checked' : ''; ?> value="0"/>
                            <span class="lbl">否</span>
                        </label>
                    </span>

        <span class="help-block with-errors"></span>
    </div>
</div>
<div class="form-group">
    <label for="logo" class="col-sm-2 control-label">店铺logo</label>
                <span class="col-sm-10">
                    <span class="col-xs-4">
                        <span class="input-group">
                            <span class="input-group-addon"><i class="icon icon-picture"></i></span>
                            <input class="form-control img" name="logo" id="logo" type="text" readonly=""
                                   value="{% if store is defined %}{{store.logo}}{% endif %}">
                            <a class="input-group-addon" id="fileUpload" href="javascript:;">选择图片</a>
                        </span>
                    </span>
                    <span class="col-xs-6 pic-review" id="picReviewer" data-list-item-id="12">
                        <img src="{% if store is defined %}{{store.logo}}{% endif %}" class="preview-brand"
                             style="height: 32px;">
                        <span class="help-block with-errors"></span>
                    </span>
                </span>
</div>
<div class="form-group">
    <label for="background" class="col-sm-2 control-label">选择背景</label>

    <div class="col-sm-10">
                        <span class="col-xs-4">
                            <span class="input-group">
                                <span class="input-group-addon"><i class="icon icon-picture"></i></span>
                                <input type="text" class="form-control img" id="background" name="background"
                                       placeholder="" readonly
                                       value="{% if store is defined %}{{store.background}}{% endif %}"
                                       data-error="" maxlength="255">
                                <a class="input-group-addon" id="upSiteBg" href="javascript:;">选择图片</a>
                            </span>
                        </span>
                        <span class="col-xs-4 pic-review">
                            <img class="preview-brand" id="background-preview"
                                 src="{% if store is defined %}{{store.background}}{% endif %}" alt=""
                                 style="height: 32px;"/>
                            <span class="help-inline">
                                （是否显示需要根据模板情况）
                            </span>
                        </span>
    </div>
</div>
<!--<div class="form-group">
                    <label class="col-sm-2 control-label">在线支付模式</label>

                    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <label>
                            <input type="radio" name="pay_type" id=""
                                   class="ace" <?php /*echo @$store->pay_type != 'escow' ? 'checked' : ''; */?> value="direct"/>
                            <span class="lbl">即时到账</span>
                        </label>

                        <label>
                            <input type="radio" name="pay_type" id=""
                                   class="ace" <?php /*echo @$store->pay_type == 'escow' ? 'checked' : ''; */?> value="escow"/>
                            <span class="lbl">担保交易</span>
                        </label>
                    </span>

                        <span class="help-block with-errors"></span>
                    </div>
                </div>-->
<div class="form-group">
    <label class="col-sm-2 control-label">是否支持货到付款</label>

    <div class="col-sm-10">
        <span class="col-sm-5">
            <label>
                <input type="radio" name="enable_cod" id=""
                       class="ace" <?php echo @$store->enable_cod == '1' ? 'checked' : ''; ?> value="1"/>
                <span class="lbl">是</span>
            </label>

            <label>
                <input type="radio" name="enable_cod" id=""
                       class="ace" <?php echo @$store->enable_cod != '1' ? 'checked' : ''; ?> value="0"/>
                <span class="lbl">否</span>
            </label>
        </span>

        <span class="help-block with-errors"></span>
    </div>
</div>
<div class="form-group">
    <label for="telephone" class="col-sm-2 control-label">联系座机</label>

    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <input type="text" class="form-control" id="telephone" name="telephone"
                               value="{% if store is defined %}{{store.phone}}{% endif %}" placeholder="联系座机">
                    </span>
        <span class="help-block with-errors"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">联系地址</label>

    <div class="col-sm-10">
                    <span class="col-sm-12">
                        <select name="province" id="province" class=""></select>
                        <select name="city" id="city" class=""></select>
                        <select name="town" id="town" class=""></select>
                        <script src="/static/panel/js/tools/region.select.js"></script>
                        <script type="text/javascript">
                            new PCAS('province', 'city', 'town', '{% if store is defined %}{{store.province}}{% endif %}', '{% if store is defined %}{{store.city}}{% endif %}', '{% if store is defined %}{{store.town}}{% endif %}');
                        </script>
                    </span>
                    <span class="col-sm-12">
                    <label for="address" style="margin: 8px 0 0 0;">详细地址</label>
                    <input type="text" class="form-control input-sm" id="address" name="address"
                           value="{% if store is defined %}{{store.address}}{% endif %}" placeholder="详细地址">
                    <span class="help-block with-errors"></span>
                    </span>
    </div>
</div>
<div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">店铺分享积分设置</label>

    <div class="col-sm-10">
                    <span class="col-sm-2">
                        <input type="text" class="form-control" id="back_point" name="back_point"
                               style="width: 30px;display: inline;"
                               value="{% if store is defined %}{{store.back_point}}{% endif %}" placeholder="">
                        积分
                    </span>
        <span class="help-inline with-errors">(用户分享店铺时，根据每次分享来源地址不同的固定积分)</span>
    </div>
</div>

<div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">普通会员积分生成比例</label>

    <div class="col-sm-10">
        <span class="col-sm-3">
            消费每满
            <input type="text" class="form-control" id="orders_proportion" name="orders_proportion"
                   style="width: 30px;display: inline;"
                   value="{% if store is defined %}{{store.orders_proportion}}{% endif %}" placeholder="">
            元可送 <span class="red">1</span> 积分
        </span>
        <span class="help-inline with-errors">(0为不参与)</span>
    </div>
</div>

<div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">普通会员积分兑换比例</label>

    <div class="col-sm-10">
                    <span class="col-sm-3">
                        每满
                        <input type="text" class="form-control" id="redeem_proportion" name="redeem_proportion"
                               style="width: 30px;display: inline;"
                               value="{% if store is defined %}{{store.redeem_proportion}}{% endif %}" placeholder="">
                        积分可以兑换 <span class="red">1</span> 元
                    </span>
        <span class="help-inline with-errors"><span class="red">*</span>[<a
                href="/panel/users/rules?type=normal">积分规则</a>] (0为不参与)</span>
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">包邮额度(满多少包邮)</label>

    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <input type="text" class="form-control" id="free_postage" name="free_postage" placeholder="包邮额度"
                               value="{% if store is defined %}{{store.free_postage}}{% endif %}" required
                               data-error="包邮额度">
                    </span>
        <span class="help-inline with-errors">(0为不参与满多少包邮)</span>
    </div>
</div>

<div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">店铺关键字</label>

    <div class="col-sm-10">
                    <span class="col-sm-5">
                        <textarea name="keywords"
                                  style="width: 100%;height: 100px;"><?php echo @$store->keywords; ?></textarea>
                        <p>关键字以","隔开</p>
                    </span>
        <span class="help-block with-errors"></span>
    </div>
</div>


</section>

<section id="profile" class="tab-pane">
    <p>
        <textarea name="intro" class="txtContent"
                  style="width: 100%;height: 360px;"><?php echo @$store->introduction; ?></textarea>
    </p>
</section>

<section id="dropdown1" class="tab-pane">
    <p>
        <textarea name="guide" class="txtContent"
                  style="width: 100%;height: 360px;"><?php echo @$store->consume_guide; ?></textarea>
    </p>
</section>

<section id="dropdown2" class="tab-pane">
    <p>
        <textarea name="service" class="txtContent"
                  style="width: 100%;height: 360px;"><?php echo @$store->customer_service; ?></textarea>
    </p>
</section>

<div>
    <label class="col-sm-2 control-label">&nbsp;</label>

                <span
                    style="margin:  0 0  12px 24px;">{{ submit_button('保存', 'class': 'btn btn-primary btn-large') }}</span>
</div>
<div class="clearfix"></div>
</main>
</form>

<!--        {{end_form()}}-->
</div>
<br/>

