<div class="wrap">
    <div class="content" id="contact" style="background: #fff;">
        <h1 class="page-header">关于ESTT
            <small></small>
        </h1>
        <div class="intro">
            <p>智享时代营销平台 —— 中小企业微站营销一站式解决方案</p>

            <p>
                公司依托于中科大、中科院计算机所等技术优势，中国产业联盟等资金与资源优势，致力于移动互联网行业解决方案及穿戴式设备的技术开发。核心技术团队成员均来自于知名院校及企业，并积累了一定的技术成果（数据库及数据存储、大数据分析与挖掘、千万级并发即时通信、电商及社交平台的快速构建、站内搜索引擎技术、计步算法、WIFI定位技术、心率检测技术等）。
            </p>

            <p>我们将致力于移动互联网技术与传统行业的结合，用技术的手段帮助传统产业升级与变革，做出真正能帮助到用户的产品。</p>

        </div>

        <h1 class="page-header">联系我们
            <small>我们是最好的倾听者!</small>
        </h1>
        <form method="post" action="" id="form">
            <div class="row">
                <div class="field">
                    <label for="input1">姓名</label>
                    <input type="text" name="contact_name" id="contact_name" class="txt">
                </div>
                <div class="field">
                    <label for="input2">邮件</label>
                    <input type="email" name="contact_email" id="contact_email" class="txt">
                </div>
                <div class="field">
                    <label for="input3">电话</label>
                    <input type="phone" name="contact_phone" id="contact_phone" class="txt">
                </div>
                <div class="clearfix"></div>
                <div class="field">
                    <label for="input4">建议</label>
                    <textarea name="contact_message" id="contact_message" class="txt" rows="4"></textarea>
                </div>
                <div class="field" style="padding: 0 0 0 28px;">
                    <button type="submit" class="btn btn-gray" id="postBtn">提交</button>
                </div>
            </div>
        </form>


        <div id="allmap"></div>

        <div id="info">
            <h3>请与我们保持联系!</h3>

            <p>
                <span>联系地址</span>:
                广东·深圳·深圳市福田区车公庙安华工业园6栋317A
            </p>

            <p>
                <span title="热线电话">热线电话</span>: (0755) 8830-9091
            </p>

            <p>
                <span title="反馈邮箱">反馈邮箱</span>:
                <a href="mailto:feedback@startbootstrap.com">feedback@estt.com.cn</a>
            </p>

            <p>
                <span title="工作时间">工作时间</span>:
                周一 - 周五: 9:00 AM ~ 6:00 PM
            </p>
            <ul class="">
                <li class="tooltip-social">
                    <a href="javascript:;" title="客服QQ">
                        <img style="CURSOR: pointer"
                             onclick="javascript:window.open('http://bizapp.qq.com/webc.htm?new=0&sid=2038320697&eid=&o=www.saleasy.net&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"
                             border="0" SRC="http://im.bizapp.qq.com:8000/zx_qq.gif">
                    </a>
                </li>

            </ul>
        </div>

        <div class="clear"></div>
    </div>

</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CG8eakl6UTlEb1OakeWYvofh"></script>
<script type="text/javascript">

    // 百度地图API功能
    var map = new BMap.Map("allmap");                        // 创建Map实例
    map.centerAndZoom(new BMap.Point(114.032729, 22.536925), 19);     // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
    map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
    map.enableScrollWheelZoom();                            //启用滚轮放大缩小
    map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
    map.setCurrentCity("深圳");          // 设置地图显示的城市 此项是必须设置的

    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint("深圳市福田区车公庙泰然八路安华工业园6栋317A", function(point){
        if (point) {
            map.centerAndZoom(point, 16);
            map.addOverlay(new BMap.Marker(point));
        }
    }, "深圳市");
</script>

<div id="map_tmp_info" style="display: none;">
    <table id="tmp" style="max-width: 160px;">
        <caption>牛牛营销平台</caption>
        <tr>
            <th>公司：</th>
            <td>
                <h2 style='color: #f60;'>牛牛科技</h2>
            </td>
        </tr>
        <tr>
            <th>电话：</th>
            <td>0755-88309091</td>
        </tr>

    </table>
</div>