body { height:100%; }

.phone-call {
    padding: 5px 5px 0 5px;
}

.phone-call .btn {
    background: #2F2F2F;
    color: white;
    font-size: 20px;
    font-family: "FontAwesome";
    display: block;
    text-align: center;
    border: 0;
    padding: 10px;
}

.phone-call .btn:before { position: absolute; left: 10px; }

.activity .phone-call  { margin: 0 10px; }
.activity .phone-call .btn { background: #EA5946; }

.container {
}

table.home-menu { width: 100%; }

table.home-menu td {
    border: 5px solid black;
    width: 50%;
}

table.home-menu td a { display:block; padding: 25px 0; background: #2F2F2F; color: white; text-align: center; font-size: 16px; }
table.home-menu td a:before { display:block; margin-bottom: 7px; font-size: 28px; }

.activity-list { margin: 10px; background: white; }
.activity-list ul { border: 1px solid #ccc; border-radius: 10px; }
.activity-list ul li { border-bottom: 1px solid #ccc; height: 48px; }
.activity-list ul li a { display: block; background: url(/static/wap/images/tpl/arr1.png) no-repeat 96% center; background-size: 7px 10px; }
.activity-list ul li a span { display: inline-block; color: white; width: 50px; text-align: center; font-size: 20px; margin-right: 15px; vertical-align: middle; height: 48px; line-height: 48px; }


/*------------------------------------- style.css--------------------------------------------------*/
.marginb{display: block; margin-bottom: 15px;}
.content{margin: 10px; text-decoration: none; word-wrap: break-word;}
.content p{color: #666666; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;}
.content img{height: auto; max-width: 100%; border: 0 none;}
/*------------------------------------- style.css end --------------------------------------------------*/

/*------------------------------------- iscroll.css -----------------------------------------------------*/
.banner{width:100%; margin:0 auto; padding:0; background-color:#151515;}
#wrapper{margin:0; width:100%; height:auto; float:left; position:relative;/* On older OS versions "position" and "z-index" must be defined, */ z-index:1;/* it seems that recent webkit is less picky and works anyway. */ overflow:hidden;}
#scroller{height:auto; float:left; padding:0;}
#scroller ul{list-style:none; display:block; float:left; width:100%; height:auto; padding:0; margin:0; text-align:left;}
#scroller li{display:block; float:left; width:auto; height:auto; text-align:center; font-size:0px; padding:0; position:relative;}
#scroller li a{display:block; padding:0; margin:0;}
#scroller li p{position:absolute; z-index:2; display:block; width:100%; bottom:0; background-color:rgba(0, 0, 0, 0.5); color:#F4F4F4; font-size:14px; text-indent: 55px; line-height:24px; text-align: left; text-indent: 10px; text-overflow: ellipsis; white-space: nowrap; padding:0; margin:0;}
#nav{float: right; margin-top: -15px; padding: 0; position: relative; width: auto; z-index: 3;}
#prev, #next{float:left; font-weight:bold; font-size:14px; padding:5px 0; width:80px; display: none;}
#next{float:right; text-align:right;}
#indicator > li{display:block; float:left; list-style:none; padding:0; margin:0;}
#indicator{display: block; margin: 0 8px; padding: 0; width: auto;}
#indicator > li{text-indent:-9999em; width:8px; height:8px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border-radius:4px; background:#888; overflow:hidden; margin-right:4px;}
#indicator > li.active{background:#DDDDDD;}
#indicator > li:last-child{margin:0;}
/*------------------------------------- iscroll.css end --------------------------------------------------*/


/*------------------------------------- news.css --- --------------------------------------------------*/
#popmenu{cursor:pointer; display:block; position:relative; text-align: center; width: 200px; margin:0 auto}
#popmenu:after{content: ""; width: 0; height: 0; position: absolute; right: 50px; top: 50%; margin-top: -2px; border-width: 5px 5px 0 5px; border-style: solid; border-color: #9D9D9D transparent;}
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0;filter:alpha(opacity=0);display:none;z-index: 4;}
#win{position:absolute;top:55px;left:50%; width: 200px;margin:0 0 0 -100px;display:none;z-index: 5;}
.dropdown{/* Size and position */ position: relative; display:block; margin: 0 auto; padding: 5px; /* Styles */ background-color: rgba(47, 47, 47, 1); border-radius: 7px; border: 1px solid rgba(0,0,0,0.15); box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15); cursor: pointer; outline: none; list-style: none outside none;}
.dropdown:after{content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 90px; border-width: 0 6px 6px 6px; border-style: solid; border-color: rgba(47, 47, 47, 0.9) transparent;}
.dropdown:before{content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 88px; border-width: 0 8px 8px 8px; border-style: solid; border-color: rgba(0,0,0,0.1) transparent;}
.dropdown li{background-color: rgba(58, 58, 58, 1); display: block; float: left;height: 37px; width: 50%;}
.dropdown li span{border-color: #494949 #181818 #181818 #494949; border-left: 1px solid #494949; border-style: solid; border-width: 1px; color: #FFFFFF; line-height: 37px; display: block; font-size: 15px; height: 37px; text-align: center; text-shadow: 0 2px 2px #000000; width: 100%;}
.dropdown li:hover,.dropdown .current{background-color: rgba(0, 0, 0, 0.9);}

.Listpage{position: relative; z-index: 2;}
.top46{height:46px; padding:0; margin:0}
#ui-header{width: 100%; height: 46px; line-height:46px; z-index: 3; position: absolute; left: 0; top: 0; right:0;}
#ui-header .fixed{display: block; margin: 0 auto; min-width: 320px; height: 45px; top: 0; border-bottom: 1px solid #D1D1D1; box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15); background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9)); background-image:-webkit-linear-gradient(#ffffff, #f9f9f9); background-image:-moz-linear-gradient(#ffffff, #f9f9f9); background-image:-ms-linear-gradient(#ffffff, #f9f9f9); background-image:-o-linear-gradient(#ffffff, #f9f9f9); background-image:linear-gradient(#ffffff, #f9f9f9); /*opacity: 0.95;*/}
.ui-title{min-height: 46px; text-align: center; font-size: 16px; font-weight:normal; display: block; margin: 10px 70px 0; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; display:none;text-indent: -10px;}
.ui-btn-left{position:absolute; top:0px; left:0px; background:url(img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-left_pre{position:absolute; top:0px; left:0px; background:url(img/pre.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right{position:absolute; top:0px; right:0px; background:url(img/Refresh.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px;margin:0; padding:0; background-size:28px auto;}
.ui-btn-right_menu{position:absolute; top:0px; right:0px; background:url(img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right_home{position:absolute; top:0px; right:0px; background:url(img/home.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
#todayList{display: block; margin: 0 auto;}
.todayList li{display: block; color: #222222; border-bottom:1px solid #DDDDDD; font-weight: bold; /*text-shadow: 0 1px 0 #FFFFFF;*/ text-decoration: none; background:#F9F9F9; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; position: relative; /*padding:10px 8px;*/overflow:hidden;}
.todayList li.listhome2 a{padding:15px 30px 15px 8px; background: url("img/ico-next.png") no-repeat scroll 98% center transparent; background-size: 10px auto;}
.todayList li a{padding:10px 40px 11px 8px; display: block;}
.todayList li.only2 a{padding:10px 40px 9px 15px;display: block;}
.todayList li.only3 a{padding:10px 40px 9px 15px;display: block;}
.todayList li.only4 a{padding:10px 40px 11px 8px; display: block;}
.todayList li .img{width:75px;height:41px;float:left;margin:0 10px 0 0; display:inline;overflow:hidden;}
.todayList li img{width:75px;float:left;}
.todayList li:hover{background-color:#eeeeee; font-weight:bold; cursor:pointer; text-decoration:none;}
.todayList li:active{background-color:#eeeeee; font-weight:bold; cursor:pointer; text-decoration:none;}
.todayList li h2{font-size: 16px; color:#2f2f2f; font-weight:normal; height:20px;font-weight:normal;line-height:16px;padding:0; max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;}
.todayList li.only2 h2{padding:6px 0 8px;}
.todayList li.only3 h2{padding:0;}
.todayList li.only4 h2{padding:0;}
.todayList li p{display: block; font-size: 12px; color:#9C9C9C; line-height: 16px; font-weight: normal; margin-top: 2px 0 0 0; overflow: hidden; text-overflow: ellipsis;/*white-space: nowrap;*/ padding-right:2px;}
.todayList li.only3 p{white-space: nowrap;}
.todayList li.only4 p{white-space: nowrap;}
.todayList li p.onlyheight{height:16px; /*margin-bottom:5px*/}
.todayList li .commentNum{color: #BFBFBF; font-size: 0.75em; padding-right: 5px; text-align: right; font-weight:normal;}
.todayList li .icon{margin-top: -6px; position: absolute; top: 50%; right: 10px; height: 14px; width: 14px; background:url(img/jiantou.png) no-repeat 0 0 ; background-size: 14px 14px;}
.todayList li.border-top-none{border-top:0px solid #DDDDDD}
.todayList li.border-bottom-none{border-bottom:0px solid #DDDDDD}
#Page_wrapper .c-pnav-con{text-align:center; font-size:18px;}
#Page_wrapper .c-pnav-con ul{list-style:none; display:inline-block;}
#Page_wrapper .c-pnav-con ul li{display:inline-block; padding:5px 15px;}
#Page_wrapper .c-pnav-con ul li:nth-child(2){width:85px;}
#Page_wrapper .c-pnav-con ul li:nth-child(3){margin-left:-110px;}
#Page_wrapper .c-pnav-con ul li:last-child{margin-left:0;}
#Page_wrapper .c-pnav-con .c-p-sec{display:inline-block; margin:20px auto;}
#Page_wrapper .c-pnav-con .c-p-sec div{display:inline-block;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre{width:88px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre a{display:inline-block; width:70px; height:30px; line-height:30px; background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); border:1px #D5D5D5 solid; overflow:hidden; border-radius:2px; -webkit-border-radius:2px; border-left:1px #d5d5d5 solid; border-right:1px #d5d5d5 solid;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p{display:inline-block; width:17px; height:30px; position:relative; overflow:hidden; vertical-align:top;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p em{display:inline; -webkit-transform:rotate(45deg); background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); position:absolute; top:4px; left:6px; width:21px; height:21px; border:1px solid #ddd;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next{width:88px; margin-left:5px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next a{display:inline-block; width:70px; height:30px; line-height:30px; background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); border:1px #D5D5D5 solid; overflow:hidden; border-radius:2px; -webkit-border-radius:2px; border-left:1px #d5d5d5 solid; border-right:1px #d5d5d5 solid;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p{display:inline-block; width:17px; height:30px; position:relative; overflow:hidden; vertical-align:top;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p em{display:inline; -webkit-transform:rotate(45deg); background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); position:absolute; top:4px; left:-12px; width:21px; height:21px; border:1px solid #ddd;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur{position:relative; height:30px; vertical-align:baseline; text-align:center; margin-left:5px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow{display:inline-block; width:88px; line-height:30px; border:1px solid #ddd; background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8);}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow span:first-child{width:50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-down span:last-child{display:inline-block; font-size:0; width:1px; height:6px; background-color:transparent; -webkit-transform:rotate(225deg); margin-bottom:3px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-up span:last-child{display:inline-block; font-size:0; border-top:3px solid #666; border-left:3px solid #666; width:6px; height:6px; background-color:transparent; -webkit-transform:rotate(45deg);}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey{display:inline-block;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey a{color:#999;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-select{position:absolute; top:0; left:0; height:30px; width:90px; opacity:0;}
#listhome1{background-color:#F0EFEF;margin: 0 auto; max-width: 640px; min-width: 320px;overflow-x: hidden;height: 100%; width: 100%;}
#listhome2{background-color:#F0EFEF;margin: 0 auto; max-width: 640px; min-width: 320px;overflow-x: hidden;}
.text em{font-style:italic}
.text img{max-width: 100%;}
#scroller{height:auto; float:left; padding:0;}
#scroller ul{list-style:none; display:block; float:left; width:100%; height:auto; padding:0; margin:0; text-align:left;}
#scroller li{display:block; float:left; width:320px; height:auto; text-align:center; font-size:0px; padding:0; position:relative;}
#scroller li a{display:block; padding:0; margin:0;}
#scroller li p{position:absolute; z-index:2; display:block; width:100%; bottom:0; background-color:rgba(0, 0, 0, 0.5); color:#F4F4F4; font-size:14px; text-indent: 55px; line-height:24px; text-align: left; text-indent: 10px; text-overflow: ellipsis; white-space: nowrap; padding:0; margin:0;}
#next{float:right; text-align:right;}
#scroller li img{width:320px;}
/*------------------------------------- news.css end --------------------------------------------------*/



/*------------------------------------- wz.css ------------------------------------------------------*/
.copyright{padding:8px;text-align:center;font-size:11px;color:#ccc;}
.copyright a{color:#ccc;}
#cate1{background-color: #F0F0F0;overflow-x: hidden;}
#cate1 .mainmenu{display: block; margin: 0 auto; padding: 5px; width: 310px;}
#cate1 .mainmenu li{width:50%; float:left; display: block; margin-right: -0.5px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn{display: block; text-decoration:none; color:#000; background-color: #ffffff; border-radius: 5px; margin:5px; box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;}
#cate1 .mainmenu li .menubtn:hover{background-color: #f5f5f5;}
#cate1 .mainmenu li a{display:block; padding:0px; font-size:14px; color: #000000; text-decoration: none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn .menumesg{padding:0px}
#cate1 .mainmenu li .menubtn .menuimg{height:100px; overflow:hidden; border-radius: 5px 5px 0 0; background-color: #F5F5F5;}
#cate1 .mainmenu li div img{border:0; width:100%; min-height:100px; border-radius: 5px 5px 0 0;}
#cate1 .mainmenu li .menutitle{text-align:center; padding: 5px; text-decoration: none; color:#000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*------------------------------------- wz.css end --------------------------------------------------*/

.article {
    padding: 10px;
}

.article-head {
}

.article-head .article-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 36px;
}
.article-head .mate { font-size: 12px; color: #ccc; }

.article .head-logo { border: 1px solid #ccc; border-width: 1px 0; padding: 5px; margin: 10px 0; }
.article .head-logo img { border: 1px solid #eee; border-radius: 70px; width: 64px; }

.article-content{
    font-size: 13px;
}

.article-info{
    color: #666;
}


/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}

/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 30px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}
/*列表布局 1.css*/
.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {

    overflow: hidden;
    color: #666;
    padding-top: 5px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}
