<style>
    .foot{
        position: fixed;
        z-index: 2;
        display: block;
        width: 100%;
        bottom:0;
    }
    .foot .copyInfo{line-height:25px;}
</style>
<?php
use Multiple\Wap\Helper\SiteData;

$site = SiteData::init()->getSite('customer_id=' . CUR_APP_ID);
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
?>

<div id="cate15">
    <div class="mainbg">
        <img src="<?php echo $site['site_bg'] ?>">
    </div>

    <div class="mainmenu">
        <ul>
            <?php foreach ($navs as $k => $item) { ?>
                <div id="insert1"></div>
                <li>
                    <div class="menubtn">
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>"><?php echo $item['name'] ?></a>
                    </div>

                </li>

                <div class="clr"></div>
                <div id="insert2"></div>
            <?php } ?>
        </ul>
    </div>

    <div style="display:none"></div>
    <div class="copyright">
    </div>

</div>