<div id="magazine_album">
    <?php if ($list) { ?>
        <ul>
            <?php foreach ($list as $k => $item) { ?>

                <li class="<?php if ($k % 2 == 0) {
                    echo "left";
                } else {
                    echo "right";
                } ?>">
                    <div class="img-box">
                        <a href="<?php echo $this->uri->baseUrl('addon/pictorial/pictorial/' . \Util\EasyEncrypt::encode($item['id'])); ?>"
                           alt="<?php echo $item['desc'] ?>">
                            <!--                            <img src="--><?php //echo $item['thumb']?><!--" alt="">-->
                            <div class="list-thumb" style="background-image: url(<?php echo $item['thumb']; ?>);"></div>
                            <p><?php echo mb_substr($item['name'], 0, 8, 'utf8') ?></p>
                            <!--                            <p>--><?php //echo $item['periodical']?><!--</p>-->
                        </a>
                    </div>
                    <div class="bottom"></div>
                </li>

            <?php } ?>
        </ul>
    <?php } else { ?>
        抱歉! 暂时还没有画报
    <?php } ?>

    </ul>

</div>
