<?php
use Components\UserStatusWap;

\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style>
html,body{
	height:100%;
	width:100%;
	background:#504949;
}
.swiper-container {
		height:100%;

    color: #fff;
}	
</style>
<div id="container" class="container" style="margin: 0;padding: 0;">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide fst-slide">
                <img src="<?php echo $pictorial['thumb'] ?>" style="display: inline-block;"/>

                <div class="cover">
                    <p class="topic"><?php echo $pictorial['name'] ?>
                        <label><?php echo $pictorial['periodical'] ?></label></p>
                    <span class="desc"><?php echo $pictorial['desc'] ?></span>

                    <p class="copyright"><?php echo $pictorial['copyright'] ?></p>
                </div>
            </div>
            <?php foreach ($list as $gal) { ?>
                <div class="swiper-slide red-slid">
                    <img src="<?php echo $gal['option_images'] ?>" style="display: inline-block;"/>

                    <!--                    <div class="name">--><?php //echo $gal['option_name'] ?><!--</div>-->
                </div>
            <?php } ?>
        </div>
        <div class="pagination"></div>
    </div>

</div>

<script>
    seajs.use(['tools/idangerous.swiper', 'tools/imgReady', 'tools/imgPreview'], function (a,b,previe) {
        var mySwiper = new Swiper('.swiper-container', {
            calculateHeight: true,
            freeMode: false,
            resizeReInit: true,
            autoplay: 5000,
            onSlideChangeStart: function (swiper) {
                var allow_login =<?php echo $pictorial['allow_login']?>;

                var page =<?php echo $pictorial['page']?>;
                var user = "<?php echo \Components\UserStatus::getUid()?>";
                if (allow_login != 0 && !(user)) {
                    if (swiper['activeIndex'] == page) {
                        mySwiper.swipePrev();
                        $('#user-login-dialog').dialog('open');
                    }
                }
            }
        });

        var maxWidth = $('.swiper-container').width();
        var maxHeight = $('.swiper-container').height();

        var imgs = $('.swiper-container img');
        $.each(imgs, function(e) {
            var item = this;
            imgReady(this.src, function() {
                $(item).css('width', "auto").css('height', 'auto');
                var itemWidth = item.width;
                if(itemWidth  > maxWidth) {
                    $(item).css('width', maxWidth + "px").css('height', 'auto');
                    var itemHeight = $(item).height();
                    $(item).css('position', 'relative').css('top', (maxHeight - itemHeight)/2 + 'px');
                }
                else if(itemWidth < maxWidth) {
                 $(item).css('width', 'auto').css('height', maxHeight + "px");
                 }
                 else {
                 $(item).css('width', maxWidth + "px").css('height', maxHeight + "px");
                 }
            });
        });
    });
</script>
