<?php
use Multiple\Wap\Helper\ShopData;
use Multiple\Wap\Helper\SiteData;

$recommend = ShopData::init()->getList("customer_id=" . CUR_APP_ID . " AND is_recommended=1 AND is_active=1 ", 0, 4);

$hot = ShopData::init()->getList1("p.customer_id=" . CUR_APP_ID . " AND p.is_hot=1 AND p.is_active=1 ", 0, 4);
$new = ShopData::init()->getList1("p.customer_id=" . CUR_APP_ID . " AND p.is_new=1 AND p.is_active=1 ", 0, 4);
$like = ShopData::init()->getList1("p.customer_id=" . CUR_APP_ID . " AND p.is_active=1 ", 0, 4, ' rand()');
$slider = SiteData::init()->getFocus('focus_slider');

?>
<!------------------------------- shop_main begin ----------------------------->
<div class="shop_main">

    <div class="swiper-container">
        <a class="arrow-left" href="#"></a>
        <a class="arrow-right" href="#"></a>

        <div class="swiper-wrapper">
            <?php foreach ($slider as $item) { ?>
                <div class="swiper-slide">
                    <div><img src="<?php echo $item['img'] ?>" alt=""/></div>
                </div>
            <?php } ?>
        </div>
    </div>
    <!-- swiper-container end -->

    <div class="zero"></div>
    <div class="wrapper">

        <!-- 推荐 begin-->
        <div class="tit">
            <a href="/shop/all?type=is_recommended" class="big_tit left">推荐</a><a href="/shop/all?type=is_recommended"
                                                                                  class="more right">更多</a>

            <div class="clear"></div>
        </div>
        <?php if (!empty($recommend)) { ?>
            <div class="con1">
                <ul>
                    <?php foreach ($recommend as $item): ?>
                        <li>
                            <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                                    src="<?php echo $item['thumb'] ?>" alt=""/></a>

                            <div class="opaticy opaticy_lf"></div>
                            <div class="opaticy_con opaticy_lf">
                                <p class="dg"><?php echo $item['name']; ?></p>

                                <p><?php echo mb_substr($item['detail'], 0, 30) ?></p>
                            </div>
                        </li>
                    <?php endforeach; ?>

                </ul>
            </div><!-- con1 end -->
        <?php } ?>
        <!-- 推荐 end-->


        <!-- 新品上架 begin-->
        <div class="tit">
            <a href="/shop/all?type=is_new" class="big_tit left">新品上架</a><a href="/shop/all?type=is_new"
                                                                            class="more right">更多</a>

            <div class="clear"></div>
        </div>
        <?php if ($new) { ?>
            <div class="con2">
                <ul>
                    <?php foreach ($new as $k => $item): ?>
                        <li>
                            <div class="li_wrapper  <?php if ($k % 2 == 0) {
                                echo "m_l";
                            } else {
                                echo "m_r";
                            } ?>">
                                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                                        src="<?php echo $item['thumb']; ?>" alt="<?php echo $item['name']; ?>"/></a>

                                <p><?php echo $item['name']; ?></p>

                                <p><span>品牌：</span><?php echo $item['bname'] ?></p>

                                <p><span>类型：</span><?php echo $item['cname']; ?></p>
                            </div>
                        </li>
                    <?php endforeach; ?>

                </ul>
                <div class="clear"></div>
            </div><!-- con2 end -->
        <?php } ?>
        <!-- 新品上架 end-->


        <!-- 热销 begin-->
        <div class="tit">
            <a href="/shop/all?type=is_hot" class="big_tit left">热销</a><a href="/shop/all?type=is_hot"
                                                                          class="more right">更多</a>

            <div class="clear"></div>
        </div>
        <?php if ($hot) { ?>
            <div class="con2">
                <ul>
                    <?php foreach ($hot as $k => $item): ?>
                        <li>
                            <div class="li_wrapper  <?php if ($k % 2 == 0) {
                                echo "m_l";
                            } else {
                                echo "m_r";
                            } ?>">
                                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                                        src="<?php echo $item['thumb']; ?>" alt="<?php echo $item['name']; ?>"/></a>

                                <p><?php echo $item['name']; ?></p>

                                <p><span>品牌：</span><?php echo $item['bname'] ?></p>

                                <p><span>类型：</span><?php echo $item['cname']; ?></p>
                            </div>
                        </li>
                    <?php endforeach; ?>

                </ul>
                <div class="clear"></div>
            </div><!-- con2 end -->
        <?php } ?>
        <!-- 热销 end-->


        <!-- 猜你喜欢 begin-->
        <div class="tit">
            <a href="javascript:;" class="big_tit left">猜你喜欢</a>

            <div class="clear"></div>
        </div>
        <?php if ($like) { ?>
            <div class="con2">
                <ul>
                    <?php foreach ($like as $k => $item): ?>
                        <li>
                            <div class="li_wrapper  <?php if ($k % 2 == 0) {
                                echo "m_l";
                            } else {
                                echo "m_r";
                            } ?>">
                                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                                        src="<?php echo $item['thumb']; ?>" alt="<?php echo $item['name']; ?>"/></a>

                                <p><?php echo $item['name']; ?></p>

                                <p><span>品牌：</span><?php echo $item['bname'] ?></p>

                                <p><span>类型：</span><?php echo $item['cname']; ?></p>
                            </div>
                        </li>
                    <?php endforeach; ?>

                </ul>
                <div class="clear"></div>
            </div><!-- con2 end -->
        <?php } ?>
        <!-- 猜你喜欢 end-->

        <!------------------------------- copyright begin ----------------------------->
        <div class="copyright">版权所有：深圳市仁豪家具发展有限公司 粤ICP备05128869号
            <p>深圳智享时代提供技术支持</p>
        </div>
        <!------------------------------- copyright end ----------------------------->

    </div>
    <!-- wrapper end -->
</div><!-- shop_main end -->
<!------------------------------- shop_main end ----------------------------->
<script>

    seajs.use('tools/idangerous.swiper-2.1.min.js', function () {
        //首页
        var mySwiper = new Swiper('.swiper-container', {

            paginationClickable: true,
            loop: true,
            calculateHeight: true,
            resizeReInit: true,
            autoplay: 5000,
            grabCursor: true
        });

        $('.arrow-left').on('click', function (e) {
            e.preventDefault();
            mySwiper.swipePrev();
        });

        $('.arrow-right').on('click', function (e) {
            e.preventDefault();
            mySwiper.swipeNext();
        });
    });
</script>


