<?php
use Components\Product\CommentManger;
use Multiple\Wap\Helper\ShopData;

$item = ShopData::init()->getItem();
if ($item) {
    $count = CommentManger::instance()->getCount($item['id']);
    $attrs = ShopData::init()->getItemAttr($item['id']);
    $brand = ShopData::init()->getItemBrand($item['brand_id']);
    $desc = $item['detail'];
    $images = explode(';', trim($item['imgs'], ";"));


    ?>


    <!------------------------------- shop_details_main begin ----------------------------->
    <div class="shop_details_main">
        <div class="shop_details_top">
            <div class="pic">
                <ul>
                    <?php foreach ($images as $key => $img) { ?>
                        <?php if ($key == 0) { ?>
                            <li><a href="javascript:;"><img src="<?php echo $img ?>" alt=""/></a></li>
                        <?php } else { ?>
                            <li style="display: none;"><a href="javascript:;"><img src="<?php echo $img ?>"
                                                                                   alt=""/></a></li>
                        <?php
                        }
                    } ?>
                </ul>

            </div>
            <div class="opacity_zero"></div>
            <div class="small_pic">
                <div class="small_pic_w">
                    <ul>
                        <?php foreach ($images as $key => $img) { ?>
                            <?php if ($key == 0) { ?>
                                <li class="org_border"><img src="<?php echo $img ?>" alt=""/></li>

                            <?php } else { ?>
                                <li><img src="<?php echo $img ?>" alt=""/></li>
                            <?php
                            }
                        } ?>
                    </ul>
                </div>
            </div>
            <a href="javascript:;" class="next"></a>
            <a href="javascript:;" class="prev"></a>
        </div>
        <!-- shop_details_top end -->
        <div class="shop_details_bottom">
            <ul>
                <?php foreach ($attrs as $item) { ?>
                    <li><span><?php echo $item['attr_name'] ?>：</span><?php echo $item['attr_val'] ?></li>
                <?php } ?>
            </ul>
            <div class="clear"></div>
            <div class="describ"><span>商品描述</span></div>
            <div id="info_detail_2_section"><?php echo $desc; ?></div>

        </div>
        <!-- shop_details_bottom end-->
    </div><!-- shop_details_main end -->
    <!------------------------------- shop_details_main end ----------------------------->
    <script>
        $(function () {
            var imgsSrc = [];

            //商品详情图片切换
            $(".shop_details_main .prev").click(function () {
                var current = $(".small_pic_w ul").find("li[class='org_border']");
                var next = current.next();
                if (next.length == 0) {
                    next = $(".small_pic_w ul li:first");
                }
                current.removeClass("org_border");
                next.addClass("org_border");
                var current_index = parseInt(current.index());
                var next_index = parseInt(next.index());
                $(".shop_details_main .pic ul li:eq(" + current_index + ")").fadeOut("slow");
                $(".shop_details_main .pic ul li:eq(" + next_index + ")").fadeIn("slow");
            });
            $(".shop_details_main .next").click(function () {
                var current = $(".small_pic_w ul").find("li[class='org_border']");
                var prev = current.prev();
                if (prev.length == 0) {
                    prev = $(".small_pic_w ul li:last");
                }
                current.removeClass("org_border");
                prev.addClass("org_border");
                var current_index = parseInt(current.index());
                var prev_index = parseInt(prev.index());
                $(".shop_details_main .pic ul li:eq(" + current_index + ")").fadeOut("slow");
                $(".shop_details_main .pic ul li:eq(" + prev_index + ")").fadeIn("slow");
            });
            $(".small_pic_w ul li").click(function () {
                var current = $(".small_pic_w ul").find("li[class='org_border']");
                current.removeClass("org_border");
                $(this).addClass("org_border");
                var current_index = parseInt(current.index());
                var next_index = parseInt($(this).index());
                $(".shop_details_main .pic ul li:eq(" + current_index + ")").fadeOut("slow");
                $(".shop_details_main .pic ul li:eq(" + next_index + ")").fadeIn("slow");
            });

            /*微信*/
            seajs.use('tools/imgPreview', function (api) {
                api.wxPreview("#info_detail_2_section");
            });

        })
    </script>
<?php
} else {
    ?>
    <p>商品未找到！</p>
<?php } ?>

