
.btn-rect{display: block; float: left; height: 28px; line-height: 28px; padding: 0 5px; font-size: 12pt; font-weight: 600; margin: 5px 0 0; text-align: center;}
.btn-rect{border: 1px solid #E0E0E0; background: #fff;}
.btn-combine{margin-left: -1px;}
/* 商品类目 */
.shop-cat{}
.shop-cat li a{display: block; border-bottom: 1px solid #ccc; font-size: 14pt; padding: 10px; background: url("http://www.weizhan360.com/site/images/arrow-r.png") right center no-repeat;}
/* 商品列表布局 */
.shop-item-list{width: 100%; overflow: hidden;}
.shop-item-list li{}
.shop-item-list li a{overflow: hidden; display: block; font-size: 12.5pt; list-style-type: none; border: 1px solid #D0D0D0; margin: 5px; background-color: #fff; padding: 6px; -webkit-border-radius: .1em; -moz-border-radius: .1em; border-radius: .1em;}
.shop-item-list li a .cover{float: left; overflow: hidden; height: 60px; width: 80px; margin-right: 6px;}
.shop-item-list li a .cover img{width: 80px;}
.shop-item-list li .name{overflow: hidden; height: 32px; line-height: 32px; font-size: 13pt;}
.shop-item-list .small{overflow: hidden; color: #666; padding-top: 2px; font-size: 10pt;}
.shop-item-list .price{overflow: hidden; display: block; color: #f33; padding-top: 2px; font-size: 12pt; font-weight: 600;}
.shop-item-list .del{text-decoration: line-through; margin-left: 10px; font-size: 9pt;}
.item-widget{margin: 3px; padding: 5px; border: 1px solid #e0e0e0; border-radius: 3px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);}
.item-widget img{max-width: 100%;}
.item-widget .widget-title{font-weight: 700; font-size: 12pt; background: #f0f0f0; line-height: 36px; color: #333; height: 36px; padding: 0 5px; margin: 0 0 5px;}
.item-widget .widget-content{padding: 5px;}
#shop-panel{width: 8em; box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); color: #666; padding: 10px 0; z-index: 0; background: #F6F6F6;}
#cat-list{}
#cat-list li a{color: #333; border-bottom: 1px solid #e6e6e6; padding: 0 5px; display: block; line-height: 32px; height: 32px; overflow: hidden; font-size: 10pt;}
#cat-list li:last-child a{border: none;}
.shop-info{height: 80px; margin: 12px 8px; line-height: 160%; color: #666;}
.shop-info dt{width: 96px; overflow: hidden; height: 72px; margin: 0 8px 0 0; border: 1px solid #e0e0e0; float: left;}
.shop-info dt img{width: 96px;}
.shop-info dd{float: left;}
.shop-info dd .shop-name{font-size: 12pt; color: #333; font-weight: bold; margin: 0 0 6px 0;}
.order-list{width: 100%; color: #333;}
.order-list td{vertical-align: top;}
.order-list img{width: 50px; height: 50px;}
.order-list .btn{height: 12px; line-height: 12px;}
.order-list .order-head{font-size: 10pt;}
.order-list .order-head th{padding: 0 0 8px; text-align: left;}
.order-list .order-head .base span{color: #000; font-weight: bold;}
.order-list .item-list td{padding: 8px 0 0; border: 1px solid #eee;}
.order-list .item-list .cover{width: 64px; text-align: center;}
.order-list .item-list .detail{padding: 8px;}
.order-list .item-list .name{margin: 0 0 4px;}
.order-list .item-list .total{background: #f0f0f0; line-height: 160%; padding: 0 0 0 4px;}
.search{background: #fff;}
.searchForm{width: 100%;}
.searchForm td{background: #F5F5F5; padding: 10px;}
.searchForm td a{color: #237FE5;}
.searchForm td .find{border-radius: 3px 0 0 3px; background: #fff; position: relative; padding: 0 0 0 30px;}
.searchForm td .searchIcon{position: absolute; left: 0; top: 0; font-size: 16px; line-height: 30px; height: 30px; width: 30px; color: #666; text-align: center;}
.searchForm td input.iText{width: 100%; height: 24px; border-radius: 0 3px 3px 0; line-height: 24px;}
.search .keywords{margin-top: 20px;}
.search .keywords .title{font-size: 14px; margin-bottom: 15px;}
.search .keywords .wordlist{}
.search .keywords .wordlist li{float: left; margin-right: 10px;}
.search .keywords .wordlist li a{display: inline-block; padding: 0 10px; height: 24px; margin-bottom: 5px; line-height: 24px; background: #F5F5F5;}
/*====================================================* * product list ====================================================*/
.product{}
.product .filter{margin: 6px 3px;}
.product .filter table{width: 100%;}
.product .filter table td{border: 1px solid #ccc; padding: 1px; width: 25%;}
.product .filter table td a{display: block; height: 32px; line-height: 32px; text-align: center; font-size: 14px;}
.product .filter table td a.cur{background: #685C5B; color: white;}
.productlist{padding: 0; margin-bottom: 45px;}
.productlist li{float: left; width: 50%; padding: 0 3px; text-align: center; margin-bottom: 6px; display: inline-block; box-sizing: border-box; overflow: hidden;}
.productlist li a{background: #fff; display: block; border: 1px solid #ccc;}
.productlist li a:link img,
.productlist li a:active img,
.productlist li a:visited img{width: auto; border: none; height: 150px;}
.productlist li a:hover img{}
.productlist li img{width: 100%;}
.productlist li .detail{background: #fff; text-align: left; padding: 10px;}
.productlist li .detail .price{margin-top: 5px; color: #C73D00; font-weight: bold;}
.productlist li .detail .price del{color: #999; font-weight: normal;}
.productlist li .detail .name{font-size: 14px; color: #333; height: 32px; overflow: hidden;white-space: nowrap;}
.product-options{}
.product-opt{margin: 8px 0; line-height: 24px; clear: both;}
.product-opt dt{float: left;}
.product-opt .opt_choose{background: #E0E0E0; display: inline-block; padding: 0 8px;}
.product-opt .opt_choose.current{background: #C51B00; color: #fff;}
.shop-info-wrap{border-bottom: 1px solid #DDDDDD;font-size: 12px;padding-left: 0;padding-right: 0;padding:15px 0;display:relative;}
.shop-info-wrap .btn-shop{background: #F5F5F5;border: 1px solid #CCCCCC;border-radius: 2px;color: #333333;float: right;font-size: 14px;height: 29px;line-height: 29px;margin-right: 10px;margin-top: 1px;position: relative;text-align: center;width: 148px;}
.shop-info-wrap .btn-shop .arr_r_s{margin-left: 25px;position: absolute;right: 15px;top: 8px;background:url(/static/wap/images/tpl/detail.png) no-repeat;background-position: -181px -84px;display: inline-block;height: 12px;width: 7px;}