
<!*******************************     dev1   ***********************>
<div class="selected" >
<!--------------  第三方绑定 ------------>
<div class="nm_text_product" id="position_1" data-toggle="scroll-spy" data-type="item">
    第三方绑定
</div>
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1 " class="serBox  ok new " onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/three_bind_a1.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/three_bind_b1.png"/>
            </div>
            <div class="txt1">
                <span class="tit">
                  微信、微博、易信<br/>
                  支付宝、百度直达号接入
                </span>
            </div>
            <div class="txt2">
                    <p>1:支持手动设置和自动绑定<br/>
                        2:自定义菜单设置<br/>
                        3:支持微信多客服</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2 " class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/three_bind_a2.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/three_bind_b2.png"/>
            </div>
            <div class="txt1">

                <span class="tit">智能回复设置</span>

            </div>
            <div class="txt2">
                <p>
                   1.区分首次关注和关键词回复<br/>
                    2.支持多个平台统一回复，给你人力和时间减少成本</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/three_bind_a3.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/three_bind_b3.png"/>
            </div>
            <div class="txt1">
                <span class="tit">图文/商品消息</span>
            </div>
            <div class="txt2">
                <p>
                    支持图文和商品消息,提升信息传送的形式多样性<br/>
                </p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/three_bind_a4.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/three_bind_b4.png"/>
            </div>
            <div class="txt1">
                <span class="tit">自定义菜单</span>
            </div>
            <div class="txt2">
                   <p>支持多级分类和排序</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/three_bind_a5.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/three_bind_b5.png"/>
            </div>
            <div class="txt1">
                <span class="tit">LBS回复</span>
            </div>
            <div class="txt2">
                <p>
                    系统自动抓取用户的IP地址以范围地理坐标的形式给用户发送信息提示回复。
                </p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
</div>
<!--------------   微官网   ------------->
<div class="nm_text_product dev " id="position_2" data-toggle="scroll-spy" data-type="item">
    微官网
</div>
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/website_a1.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/website_b1.png"/>
            </div>
            <div class="txt1">
                <span class="tit">内容管理</span>
            </div>
            <div class="txt2">
                <p>用户可以编辑不同平台不同区域内容统一发布，灵活性、表现形式强，支持多样化的内容编辑，为用户大大减少时间人力成本</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/website_a2.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/website_b2.png"/>
            </div>
            <div class="txt1">

                <span class="tit">
                    个性多样的<br/>
                   微画报/相册</span>

            </div>
            <div class="txt2">
                <p>
                    多种形式的画报、相册，个性多样的展示图片，提高用户视觉感官享受，更容易给用户留下深刻印象
                </p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/website_a3.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/website_b3.png"/>
            </div>
            <div class="txt1">
                <span class="tit">360°全景展示</span>
            </div>
            <div class="txt2">
                <p>
                    不同角度，不同形式浏览视图，给用户提供视图空间感。
                </p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/website_a4.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/website_b4.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微视频</span>
            </div>
            <div class="txt2">
                    <p>
                        支持多格式video视频接口，上传使用便捷，增加用户对企业的认知度。
                    </p>
            </div>
        </div>


        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
</div>
<!---------------   微商城  ------------->
<div class="nm_text_product" id="position_3" data-toggle="scroll-spy" data-type="item">
    微商城
</div>
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a1.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b1.png"/>
            </div>
            <div class="txt1">
                <span class="tit">超级商城</span>
            </div>
            <div class="txt2">
                <p>1:多级分类个性设置<br/>
                    2:支持平台代收款<br/>
                    3:精确灵活的价格及库存设置<br/>
                    4:差异化的运费和物流设置<br/>
                    5:多种强大的营销工具支持
                </p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a2.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b2.png"/>
            </div>
            <div class="txt1">
                <span class="tit">询盘管理</span>
            </div>
            <div class="txt2">
                <p>B2B、外贸商城询盘，内容信息针对性强。</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a3.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b3.png"/>
            </div>
            <div class="txt1">
                <span class="tit">积分兑换</span>
            </div>
            <div class="txt2">
                    <p>
                        1.多渠道获取积分，<br/>
                        2.支持积分兑换商品，<br/>
                        3.支持积分抵现。<br/>
                    </p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a4.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b4.png"/>
            </div>
            <div class="txt1">
                <span class="tit">优惠券</span>
            </div>
            <div class="txt2">
                <p>
                    现金券，折扣券，特价券，
                    轻松解决促销活动问题。
                </p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a5.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b5.png"/>
            </div>
            <div class="txt1">
                <span class="tit">门店管理</span>

            </div>
            <div class="txt2">
                <p>
                   1. 支持多家店面同一管理系统， <br/>
                   2. 可解决多店铺信息统一发布。<br/>
                   3.一键导航，一键拨号<br/>
                </p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
    <div class="servicesBox">
        <div id="serBox1" class="serBox  ing" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a6.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b6.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微团购</span>

                <p></p>
            </div>
            <div class="txt2">
                <p>借助强大的微信平台，为热爱团购，乐享优惠的微信用户提供更多选择，实现发布团购、订单管理、会员查看、退款等功能，脱离以往……</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ing" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a7.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b7.png"/>
            </div>
            <div class="txt1">

                <span class="tit">微秒杀</span>

            </div>
            <div class="txt2">
                    <p>微秒杀。玩转心跳抢购的感觉，给你与众多用户一同体验心涌澎湃的购物体验</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_a8.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/micro_mall_b8.png"/>
            </div>
            <div class="txt1">
                <span class="tit">一元购</span>
            </div>
            <div class="txt2">
                    <p>支持一元购功能，用户可花一元钱即可有机会买到自己心爱的宝贝哦。</p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
</div>
<!----------------    CRM   ------------->
<div class="nm_text_product" id="position_4" data-toggle="scroll-spy" data-type="item">
    CRM
</div>
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a1.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b1.png"/>
            </div>
            <div class="txt1">
                <span class="tit">会员卡</span>
            </div>
            <div class="txt2">
                    <p>方便携带 永不挂失<br>
                        消费积分 一卡配备</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a2.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b2.png"/>
            </div>
            <div class="txt1">

                <span class="tit">渠道管理</span>

            </div>
            <div class="txt2">
                 <p>商家可通过易卖平台统一管理多渠道店铺，包括微信、微博、易信、百度直达号等多个店铺的数据</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a3.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b3.png"/>
            </div>
            <div class="txt1">
                <span class="tit">行为分析</span>
            </div>
            <div class="txt2">
                    <p>
                        记录监控用户的浏览行为，提供用户在网站上的浏览页面、停留时间等数据并进行有效分析，为企业营销提供数据支撑。
                    </p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a4.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b4.png"/>
            </div>
            <div class="txt1">
                <span class="tit">漂流瓶</span>
            </div>
            <div class="txt2">
                    <p>漂流瓶可以让用户之间增加互动和趣味性，促进用户之间的交流提供平台渠道。</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a5.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b5.png"/>
            </div>
            <div class="txt1">
                <span class="tit">小黄鸡陪聊</span>

            </div>
            <div class="txt2">
                    <p>促进用户之间的沟通和互动增强平台趣味性。</p>
            </div>
        </div>
        <!--/产品展示小图标-->

    </div>
    <div class="servicesBox">
        <div id="serBox1" class="serBox ing" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a6.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b6.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微社区</span>

            </div>
            <div class="txt2">
                <p>促进用户之间的沟通和互动增强平台趣味性。</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ing" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a7.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b7.png"/>
            </div>
            <div class="txt1">

                <span class="tit">微心情</span>

            </div>
            <div class="txt2">
                 <p>用户可每天书写自己的心情，记录生活和在本店购物的没一点感受。</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/crm_a8.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/crm_b8.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微服务</span>
            </div>
            <div class="txt2">
                    <p>平台可支持添加天气查询、机票查询等小插件，提供用户基本的生活小应用。</p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>

</div>
<!---------------   微营销   ------------>
<div class="nm_text_product dev " id="position_5" data-toggle="scroll-spy" data-type="item">
    微营销
</div>
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a1.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b1.png"/>
            </div>
            <div class="txt1">
                <span class="tit">大转盘</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">大转盘</span></p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a2.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b2.png"/>
            </div>
            <div class="txt1">
                <span class="tit"> 刮刮乐</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">刮刮乐</span></p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a3.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b3.png"/>
            </div>
            <div class="txt1">
                <span class="tit">留言板</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">留言板</span></p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a4.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b4.png"/>
            </div>
            <div class="txt1">
                <span class="tit">砸金蛋</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">砸金蛋</span></p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a5.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b5.png"/>
            </div>
            <div class="txt1">
                <span class="tit">别踩白块啊</span>

            </div>
            <div class="txt2">
                    <p><span class="tit">别踩白块啊</span></p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a6.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b6.png"/>
            </div>
            <div class="txt1">
                <span class="tit">打死神经猫</span>

                <p></p>
            </div>
            <div class="txt2">
                    <p><span class="tit">打死神经猫</span></p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a7.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b7.png"/>
            </div>
            <div class="txt1">
                <span class="tit">摇骰子</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">摇骰子</span></p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a8.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b8.png"/>
            </div>
            <div class="txt1">
                <span class="tit">打气球</span>
            </div>
            <div class="txt2">
                <p><span class="tit">打气球</span></p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a9.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b9.png"/>
            </div>
            <div class="txt1">
                <span class="tit">翻牌抽奖</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">翻牌抽奖</span></p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a10.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b10.png"/>
            </div>
            <div class="txt1">
                <span class="tit">老虎机</span>

            </div>
            <div class="txt2">
                    <p><span class="tit">老虎机</span></p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a11.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b11.png"/>
            </div>
            <div class="txt1">
                <span class="tit">2048</span>

                <p></p>
            </div>
            <div class="txt2">
                    <p><span class="tit">2048</span></p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a12.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b12.png"/>
            </div>
            <div class="txt1">

                <span class="tit">捕鱼大亨</span>

            </div>
            <div class="txt2">
                    <p><span class="tit">捕鱼大亨</span></p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/marketing_a13.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/marketing_b13.png"/>
            </div>
            <div class="txt1">
                <span class="tit">一站到底</span>
            </div>
            <div class="txt2">
                    <p><span class="tit">一站到底</span></p>
            </div>
        </div>
    </div>
</div>
<!--------------   微行业   ------------>
<div class="nm_text_product" id="position_6" data-toggle="scroll-spy" data-type="item">
    微行业
</div>
<div class="cl" style="width: 100%; position: relative;">
    <div class="servicesBox">
        <div id="serBox1" class="serBox ok" onclick="serFocus(1)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/business_a1.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/business_b1.png"/>
            </div>
            <div class="txt1">
                <span class="tit">通用版</span>


            </div>
            <div class="txt2">
                    <p>适用常规行业，模板具有常规化和标准化。应用、操作简单，易上手。</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox2" class="serBox ok" onclick="serFocus(2)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/business_a2.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/business_b2.png"/>
            </div>
            <div class="txt1">

                <span class="tit">家装行业</span>

            </div>
            <div class="txt2">
                    <p>
                        适用于家具装饰行业的企业模板，具有与家装行业相匹配的属性数据，便于操作和管理。
                    </p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="serBox3" class="serBox ok" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/business_a3.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/business_b3.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微电商</span>
            </div>
            <div class="txt2">
                <p>小微信也有大商城，电商轻松就能走入微信</p>
            </div>
        </div>
        <div class="fgH20"></div>
        <div id="Div1" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/business_a4.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/business_b4.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微校园</span>
            </div>
            <div class="txt2">
                    <p>告别昔日墙上贴课程表的学校印象，无需下载安装包，使用微信微校园查询课程表，查询录取，查询成绩一目了然。</p>
            </div>
        </div>

        <div class="fgH20"></div>
        <div id="Div2" class="serBox ing" onclick="serFocus(3)">
            <div class="serBoxOn"></div>
            <div class="pic1 mypng">
                <img src="/static/home/pc/estt/images/business_a5.png"/>
            </div>
            <div class="pic2 mypng">
                <img src="/static/home/pc/estt/images/business_b5.png"/>
            </div>
            <div class="txt1">
                <span class="tit">微酒店</span>

            </div>
            <div class="txt2">
                    <p>在线订房融入微信酒店营销多一条有力途径</p>
            </div>
        </div>
        <!--/产品展示小图标-->
        <div class="clear"></div>
    </div>
</div>
</div>

