<div class="page-header">
    <h1>
        微网站信息设置
        <small>
            <i class="icon-double-angle-right"></i>
            [ <a href="<?php echo $this->uri->moduleUrl('tpl'); ?>">选择模板</a> ]
        </small>
        <small class="right">
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
</div>
<style>
    .icon {
        color: #629b58;
    }

    .color-block {
        width: 38px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<?php echo $this->getContent(); ?>

<form action="" id="registerForm" class="form-horizontal" onbeforesubmit="return false"
      data-toggle="validator" role="form" method="post">
    <fieldset>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">微网站名称</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="site_name" name="site_name" placeholder="微站名称"
                           value="<?php echo $info['site_name']; ?>"
                           required>
                </span>
                <span class="help-block with-errors"><span class="red">*</span> 请填写微网站名称（2-16个字符）</span>
            </div>
        </section>


        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">网站logo</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="site_logo" name="site_logo" placeholder=""
                           value="<?php echo $info['site_logo']; ?>"
                           data-error="">
                </span>
                <span class="help-block with-errors">

                        <span class="btn btn-success btn-sm" id="upSiteLogo">上传图片</span>

                        <img class="preview-logo" src="<?php echo @$info['site_logo']; ?>" alt=""
                             style="height: 32px;"/>

                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">网站标识ico</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="site_icon" name="site_icon" placeholder=""
                           value="<?php echo $info['site_icon']; ?>"
                           data-error="">
                </span>
                <span class="help-block with-errors">
                        <span class="btn btn-success btn-sm" id="upSiteIcon">上传图片</span>
                        <img class="preview-icon" src="<?php echo @$info['site_icon']; ?>" alt=""
                             style="height: 32px;"/>
                        (16x16或32x32)
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">选择背景</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="site_bg" name="site_bg" placeholder=""
                           value="<?php echo $info['site_bg']; ?>"
                           data-error="" maxlength="255">
                </span>
                <span class="help-block with-errors">
                <span class="btn btn-success btn-sm" id="upSiteBg">上传图片</span>
                <img class="preview-brand" src="<?php echo @$info['site_bg']; ?>" alt="" style="height: 32px;"/>
                    （是否显示需要根据模板情况）
                </span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">网站备案</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="record" name="record" placeholder=""
                           value="<?php echo $info['record']; ?>"
                           data-error="" maxlength="255">
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">公司名称</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="company" name="company" placeholder=""
                           value="<?php echo $info['company']; ?>"
                           data-error="" maxlength="255">
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">公司地址</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="address" name="address" placeholder=""
                           value="<?php echo $info['address']; ?>"
                           data-error="" maxlength="255">
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">公司微博</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="weibo" name="weibo" placeholder=""
                           value="@<?php echo $info['weibo']; ?>"
                           data-error="" maxlength="255">
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">联系电话</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder=""
                           value="<?php echo $info['phone']; ?>"
                           data-error="" maxlength="255">
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">客服QQ</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="qq" name="qq" placeholder=""
                           value="<?php echo $info['qq']; ?>"
                           data-error="" maxlength="255">
                </span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">第三方统计代码</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <textarea id="count_code" name="count_code"
                              style="height: 60px;width: 100%;"><?php echo $info['count_code']; ?></textarea>
                </span>
                <span class="help-block with-errors">

                </span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">主题色彩</label>
            <input type="hidden" id="site_color" name="site_color" value="<?php echo $info['site_color']; ?>"

            <div class="col-sm-9">
                <section style="margin: 0 0 0 254px;position: relative;"><?php $this->partial('base/widget/colorPicker'); ?></section>
            </div>
        </section>

        <section>
            <label for="name" class="col-sm-2 control-label"></label>

            <div class="col-sm-10" style="padding: 0 0 0 30px;">
                <input type="submit" value="提交" class="btn btn-primary btn-large" name="btn-base"/>
            </div>
        </section>
    </fieldset>
</form>
<script>

</script>
<script>
    seajs.use('app/panel/panel.storage', function (s) {
        s.getImg('#upSiteBg', function (res) {
            $('#site_bg').val(res.url);
            $('.preview-brand').attr('src', res.url);
        }, false);
    });

    seajs.use('app/panel/panel.storage', function (s) {
        s.getImg('#upSiteLogo', function (res) {
            $('#site_logo').val(res.url);
            $('.preview-logo').attr('src', res.url);
        }, false);
    });

    seajs.use('app/panel/panel.storage', function (a) {
        a.getImg('#upSiteIcon', func, false);
        function func(res) {
            $('#site_icon').val(res.url);
            $('.preview-icon').attr('src', res.url);
        }
    });

    seajs.use('app/app.color', function (color) {
        // set color
        color.pick('<?php echo isset($info['site_color']) && $info['site_color'] ? $info['site_color']: 'color64';?>', function (colorCls) {
            $('#site_color').val(colorCls);
        });
    });

    seajs.use('app/app.copyboard', function (sea) {
        sea.copyBoard();
    });
</script>


<script>
    seajs.use(['app/app.editor'], function (up) {
        up.init('.txtContent');
    });
</script>
<?php $this->partial('site/common') ?>
<script>
    $("form[id='registerForm']").submit(function(){
       var name=$("#site_name").val();
       if(name.length<2 ||name.length >16 )
       {
           alert("微站名称必须在2-16字符之间!", function () {
               $('#site_name').focus();
           });
           return false;
       }
    })



</script>