<?php $this->partial('site/pageBase'); ?>

{{ content() }}

<form action="javascript:;" id="pageForm" class="form-horizontal" onbeforesubmit="return false"
      data-toggle="validator" role="form" method="post">
    <fieldset>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">信息标题</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="信息标题" value=""
                           required maxlength="10">
                </span>
                <span class="help-block with-errors"><span class="red">*</span> (例如：公司简介，公司文化，公司荣誉，联系我们，服务内容...)</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">内容简要</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="intro" name="intro" placeholder="内容简要" value=""
                           style="width: 450px;">
                </span>
                <span class="help-block with-errors">可不填写,例如公司口号</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">封面图片</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="cover" readonly="readonly" name="cover"
                           value="">
                </span>
                <span class="btn btn-success btn-sm tooltip-success" id="upCoverIcon">选择图片</span>
                <img class="imgPreview" src='' style="height: 36px;display: none;"/></span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">排序大小</label>

            <div class="col-sm-10">
                <span class="col-sm-1">
                    <input type="text" class="form-control" id="sort" name="sort"  placeholder="" value="0"
                           style="width: 50px;" maxlength="3">
                </span>
                <span class="help-block with-errors">最大值255（数值越大越靠后）</span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章内容</label>

            <div class="col-sm-10">
                <main class="col-sm-10">
                    <textarea name="content" id="txtContent" style="width: 100%;height:320px;"></textarea>
                </main>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">是否发布</label>

            <div class="col-sm-10">
                <span class="col-sm-1">
                    <label for="">
                        <input type="radio" class="published ace" name="published" value="1"
                               checked="checked">
                        <span class="lbl">是</span>
                    </label>
                    <label for=""><input type="radio" class="published ace" name="published" value="0">
                        <span class="lbl">否</span>
                    </label>
                </span>
                <span class="help-block with-errors">* 发布后才能显示</span>
            </div>
        </section>
        <section>
            <label for="name" class="col-sm-2 control-label"></label>

            <div class="col-sm-10" style="padding: 0 0 0 18px;">
                <input type="submit" value="提交" class="btn btn-primary btn-large saveBtn" name="btn-base"/>
            </div>
        </section>

    </fieldset>

</form>
<script>
    seajs.use('app/panel/site/panel.site.page', function (api) {
        api.savePage();
    });
</script>