<?php $this->partial('site/pageBase'); ?>

<?php echo $this->getContent(); ?>

<table class="list">

    <tr class="head">
        <th style="width:32px">批量</th>
        <th style="width: 100px;">图片</th>
        <th>名称</th>
        <th style="width:80px">复制地址</th>
        <th style="width:50px">排序</th>
        <th style="width:50px">显示</th>
        <th style="width:50px">编辑</th>
        <th style="width:50px">删除</th>
    </tr>
    <tbody class="listData">

    <?php
    foreach ($list as $item) {
        $url = $this->uri->appUrl('/about/detail/' . \Util\EasyEncrypt::encode($item['id']));
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <td class="center">
                <input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>">
            </td>
            <td><?php if ($item['cover']) { ?><img src="<?php echo $item['cover']; ?>" alt=""
                                                   style="height:50px ;"/><?php } ?> </td>
            <td>

                <a href="javascript:;" class="preview-app" title="点击预览"
                   data-url="<?php echo $url; ?>">
                    <?php echo $item['name']; ?></a>

                [<a href="javascript:;" class="copy" data-id="<?php echo $item['id']; ?>">
                    查看链接
                </a>]

                <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                       type="text"
                       value="<?php echo $url; ?>"/></td>

            <td class="center"><a href="javascript:;" class="copyBtn miBtn" data-clipboard-text="<?php echo $url; ?>">复制链接</a>
            </td>
            <td class="center"><?php echo $item['sort']; ?></td>

            <td class="center green"><?php echo $item['published'] == 1 ? '是' : '否'; ?></td>

            <td class="center">
                <a class="upBtn" data-id="<?php echo $item['id']; ?>"
                   href="/panel/site/pageUp/<?php echo \Util\EasyEncrypt::encode($item['id']); ?>">编辑</a>
            </td>
            <td class="center">
                <a class="delBtn" data-id="<?php echo $item['id']; ?>" href="javascript:;">删除</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span class="right">
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
            <a href="<?php echo $this->uri->controllerUrl('pageAdd'); ?>" data-toggle="modal"
               class="miBtn addBtn">添加信息</a>
        </td>
    </tr>
</table>

<script>
    seajs.use('app/panel/site/panel.site.page', function (mi) {
        mi.delPage('.delBtn');
        mi.delAllPage('.delAllSelected');
    });
    seajs.use('app/app.copyboard', function (copy) {
        copy.copyBoard('.copyBtn');
    });
</script>

