<div id="container" class="container">
    <?php
    if ($item['pics']) {
        ?>
        <style>

        </style>
        <div class="swiper-container" id="store-swiper">
            <div class="swiper-wrapper">
                <?php
                $images = explode(';', $item['pics']);
                if ($images) {
                    ?>
                    <?php foreach ($images as $img) { ?>
                        <div class="swiper-slide">
                            <img src="<?php echo $img; ?>" style="width:100%;">
                        </div>
                    <?php
                    }
                } else {
                    ?>
                    <div class="swiper-slide"><img src="/static/wap/images/module/store/store_head.jpg" alt=""/></div>
                <?php } ?>
            </div>
        </div>
    <?php } else { ?>
    <?php } ?>
    <script>
        seajs.use('tools/swiper.js', function () {
            var mySwiper = new Swiper('#store-swiper', {
                pagination: '#store-swiper .pagination',
                paginationClickable: true
            })
        });
    </script>

    <div class="apply-content">
        <dl id="your_address" style="display: block;">
            <dt><?php echo $item['name']; ?></dt>
            <dd>
                <p>
                    <a href="<?php echo $this->uri->wapModuleUrl('store/map/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                            <span class="right">
                                <i class="icon icon-angle-right"></i>
                            </span>
                        地址：
                        <?php echo $item['address']; ?>
                    </a>
                </p>
            </dd>
            <dd><p>
                                <span class="right">
                                    <i class="icon icon-angle-right"></i>
                                </span>
                    电话：
                    <?php
                    if ($item['contact']) {
                        $tels = explode('\n', $item['contact']);
                        if ($tels) {
                            foreach ($tels as $tel) {
                                ?>
                                <a href="tel:<?php echo $tel; ?>"><?php echo $tel; ?></a>
                            <?php
                            }
                        }
                    } ?>
                </p>
            </dd>
        </dl>

        <ul class="round">
            <li class="nob">
                <h2>分店介绍 <span class="right"><a
                            href="<?php echo $this->uri->wapModuleUrl('store'); ?>"
                            class="btn btn-green">所有门店</a></span>
                </h2>

                <div class="text"><?php echo $item['detail']; ?></div>
            </li>
        </ul>

    </div>
</div>