<?php
use Components\UserStatusWap;

\Components\TplManager::$_config['layout'] = 'none';

?>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><?php echo $this->view->title; ?></title>
    <link rel="stylesheet" href="/static/wap/gmu/gmu.css"/>
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/wap/css<?php echo $this->view->getVar('css'); ?>"/>
    <script>
        window.app = {};
        app._uid = '<?php echo \Components\UserStatus::getUid(); ?>';
        app.user_point = "<?php echo UserStatusWap::init()->getPoint() ?>";
    </script>
    <script src="/static/wap/js/seajs.js"></script>
    <script src="/static/wap/gmu/??zepto-extend.min.js,gmu-base.min.js"></script>
    <script>
        seajs.config({
            base: '/static/wap/js',
            charset: 'utf-8',
            timeout: 10000
        });
    </script>
    <style>
        body, html {
            background: url(/static/wap/images/module/store/bg.jpg) top center no-repeat #0143A1;
            background-size: 100%;
            min-height: 100%;
        }
    </style>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=CG8eakl6UTlEb1OakeWYvofh"></script>
</head>
<body>
<div id="container" class="container" style="margin: 8px;">
    <dl id="your_address">
        <dt>您现在的位置</dt>
        <dd style="text-align: center;" class="curAddr">
        </dd>
    </dl>
    <div id="stores">
        <div style="text-align: center;background: #fff;" class="loading"><img
                src="/static/wap/images/default/loading.gif" alt=""
                /></div>
        <div class="ui-refresh">
            <ul class="sub_stores">
            </ul>
            <div class="ui-refresh-down"></div>
        </div>
    </div>

    <script type="text/javascript">
        seajs.use('module/module.store.js', function (api) {
            api.getNearest();
        });
        seajs.use('/static/wap/gmu/widget/refresh.js', function () {
            var page = 1;
            /*组件初始化js begin*/
            $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() + 45 || 82)).refresh({
                load: function (dir, type) {
                    var me = this;
                    var link = '/addon/api/store/getList?page=' + page;
                    $.getJSON(link, function (data) {
                        page++;
                        var $list = $('.sub_stores'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);
                                });
                                return liArr.join('');
                            })(data);
                        $list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading(dir);    //数据加载完成后改变状态
                        if (data.length <= 0) {
                            me.disable(dir, false);
                        }
                    });
                }
            });
            /*组件初始化js end*/
        });
    </script>
</div>
</body>
</html>