<?php
\Components\TplManager::$_config['layout'] = 'none';
?>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script src="http://api.map.baidu.com/components?ak=CG8eakl6UTlEb1OakeWYvofh&v=1.0"></script>
    <title><?php echo $this->view->title; ?></title>
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            position: relative;
        }

        @media (max-device-width: 800px) {
            #golist {
                display: block !important;
            }
        }

        #golist {
            display: none;
        }

        .lbs-tag .info-box h3.info-title {

        }

        .backBtn {
            position: absolute;
            left: 8px;
            top: 8px;
            width: 70px;
            height: 27px;
            display: block;
            overflow: hidden;
            z-index: 99999;
            background: url("/static/wap/images/module/store/back_btn.jpg") no-repeat;
        }
    </style>
</head>
<body>
<a href="javascript:history.back();" class="backBtn"></a>
<lbs-map width="100px" style="height:100%" center="<?php echo $item['lng']; ?>,<?php echo $item['lat']; ?>">
    <lbs-poi name="<?php echo 'LBS门店：' . $item['name']; ?>"
             location="<?php echo $item['lng']; ?>,<?php echo $item['lat']; ?>"
             addr="<?php echo $item['address']; ?>"></lbs-poi>
</lbs-map>
</body>
</html>

