<main class="popup-wrap" id="wxResourcePopup">
    <section class="popup-widget" id="wxResourceWidget">
        <header class="popup-head">微信资源列表<span class="popup-close">x</span></header>
        <main class="popup-content">
            <section class="rock-area">
                <div class="tabbable">

                    <ul class="nav nav-tabs">
                        <li class="active tab" data-type="post" style="width: 100%;">
                            <a data-toggle="tab" href="#post-list-resource">
                                <i class="green icon-file"></i>
                                文章列表
                            </a>

                            <a href="/panel/article/add"
                               style="float: right;border:none;box-shadow: none;cursor: pointer;color:green;"
                               target="_blank">添加图文</a>
                        </li>

                        <li class="tab" data-type="item" style="width: 100%;">
                            <a href="/shop/product/edit"
                               target="_blank"
                               style="float: right;border:none;box-shadow: none;cursor: pointer;color:green;">添加商品</a>
                            <a data-toggle="tab" href="#item-list-resource" style="float: left;">
                                <i class="green icon-picture"></i>
                                商品列表
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="post-list-resource" class="tab-pane active in">
                            <ul class="data-list">
                            </ul>
                            <ul class="pagination post-page" style="margin: 0 0 0 8px;"></ul>
                        </div>
                        <div id="item-list-resource" class="tab-pane">
                            <ul class="data-list">
                            </ul>
                            <ul class="pagination post-page" style="margin: 0 0 0 8px;"></ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="field res-area">
                <input class="btn btn-sm btn-success confirmChooseBtn" type="button" value="确认"/>
                <input type="text" class="singleData"/>
                <textarea class="multiData"></textarea>
                <textarea name="" class="multiData-tmp" style="display: none;"></textarea>

                <span class="res-err-tip"></span>
            </div>
        </main>
    </section>
</main>
