<main class="popup-wrap" id="storagePopup">
    <section class="popup-widget" id="storageWidget">
        <header class="popup-head">文件空间<span class="popup-close">x</span></header>
        <main class="popup-content">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="">
                    <li class="active tab" data-type="upload">
                        <a data-toggle="tab" href="#storage-upload">
                            <i class="green icon-file"></i>
                            上传
                        </a>
                    </li>

                    <li class="tab" data-type="img">
                        <a data-toggle="tab" href="#storage-img">
                            <i class="green icon-picture"></i>
                            选择图片
                            <span class="badge badge-success count" data-type="img">0</span>
                        </a>
                    </li>

                    <li class="tab" data-type="video">
                        <a data-toggle="tab" href="#storage-video">
                            <i class="green icon-film"></i>
                            选择视频
                            <span class="badge badge-success count" data-type="video">0</span>
                        </a>
                    </li>

                    <li class="tab" data-type="audio">
                        <a data-toggle="tab" href="#storage-audio">
                            <i class="green icon-microphone"></i>
                            选择音频
                            <span class="badge badge-success count" data-type="audio">0</span>
                        </a>
                    </li>

                    <li class="tab" data-type="file">
                        <a data-toggle="tab" href="#storage-file">
                            <i class="green icon-file"></i>
                            选择文件
                            <span class="badge badge-success count" data-type="file">0</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="storage-img" class="tab-pane">
                        <header class="storage-head" data-type="img">
                            <span class="backFolderBtn" data-type="img"><i
                                    class="icon-folder-close orange"></i> 图片目录</span>
                            <span class="line" style="display: none;">/</span>
                            <span class="name"></span>
                            <small class="badge badge-warning count right" title="文件数量"></small>
                        </header>
                        <ul class="storage-folder" data-type="img">
                        </ul>
                        <section class="storage-files " data-type="img">
                            <header class="title">
                                <span class="name"></span><span class="right count"></span>
                            </header>

                            <div class="file-list" data-height="">
                            </div>

                            <ul class="pagination" data-type="img"></ul>
                        </section>
                    </div>

                    <div id="storage-video" class="tab-pane">
                        <header class="storage-head" data-type="video">
                            <span class="backFolderBtn" data-type="video"><i
                                    class="icon-folder-close orange"></i> 视频目录</span>
                            <span class="line" style="display: none;">/</span>
                            <span class="name"></span>
                            <small class="badge badge-warning count right" title="文件数量"></small>
                        </header>
                        <ul class="storage-folder" data-type="video">
                        </ul>
                        <section class="storage-files " data-type="video">
                            <header class="title">
                                <span class="name"></span><span class="right count"></span>
                            </header>

                            <div class="file-list" data-height="">
                            </div>

                            <ul class="pagination" data-type="video"></ul>
                        </section>
                    </div>

                    <div id="storage-audio" class="tab-pane">
                        <header class="storage-head" data-type="audio">
                            <span class="backFolderBtn" data-type="audio"><i
                                    class="icon-folder-close orange"></i> 音频目录</span>
                            <span class="line" style="display: none;">/</span>
                            <span class="name"></span>
                            <small class="badge badge-warning count right" title="文件数量"></small>
                        </header>
                        <ul class="storage-folder" data-type="audio">
                        </ul>
                        <section class="storage-files " data-type="audio">
                            <header class="title">
                                <span class="name"></span><span class="right count"></span>
                            </header>

                            <div class="file-list" data-height="">
                            </div>

                            <ul class="pagination" data-type="audio"></ul>
                        </section>
                    </div>

                    <div id="storage-file" class="tab-pane">
                        <header class="storage-head" data-type="file">
                            <span class="backFolderBtn" data-type="file"><i
                                    class="icon-folder-close orange"></i> 文件目录</span>
                            <span class="line" style="display: none;">/</span>
                            <span class="name"></span>
                            <small class="badge badge-warning count right" title="文件数量"></small>
                        </header>
                        <ul class="storage-folder" data-type="file">
                        </ul>
                        <section class="storage-files " data-type="file">
                            <header class="title">
                                <span class="name"></span><span class="right count"></span>
                            </header>

                            <div class="file-list" data-height="">
                            </div>

                            <ul class="pagination" data-type="file"></ul>
                        </section>
                    </div>

                    <div id="storage-upload" class="tab-pane active in">
                        <div class="uploadArea">
                            <span class="upload-widget" data-unique=""></span>
                            <img src="" alt="" class="prevImg"/>
                        </div>
                    </div>
                </div>

                <div class="previewArea">

                </div>
                <div class="dataArea">
                    <span class="green name"></span>
                    <input type="text" class="file-url" data-name="" data-size="" id="file-url"/>
                    <textarea name="" class="file-url" id="multi-file-url" readonly="readonly"></textarea>
                    <textarea id="multi-file-url-tmp" readonly="readonly" style="display: none;"></textarea>
                    <button class="btn btn-success confirmUrlBtn">确定</button>
                    <small class="res-err-tip">(请选择上传或已有文件)</small>
                </div>
            </div>
        </main>
    </section>
</main>
