<?php  use Phalcon\Tag; ?><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Estt Team">
    <script type="text/javascript">
        var explorer = window.navigator.userAgent;
        if (explorer.indexOf("Firefox") >= 0) {//Firefox
            browser = 'Firefox';
        } else if (explorer.indexOf("Chrome") >= 0) {//Chrome
            browser = 'Chrome';
        } else if (explorer.indexOf("Opera") >= 0) {//Opera
            browser = 'Opera';
        } else if (explorer.indexOf("Safari") >= 0) {//Safari
            browser = 'Safari';
        } else if (explorer.indexOf("Trident/7.0") >= 0) {//IE11
            browser = 'IE:10.0以上';
        } else {
            alert("本系统只适用于支持html5规范的浏览器，请下载使用firefox或chrome浏览器~！");
            window.close();
            setInterval(function () {
                window.close();
            }, 1000)
            /*if (explorer.indexOf("MSIE") >= 0) {//ie10及以下
             var b_name = navigator.appName;
             var b_version = navigator.appVersion;
             var version = b_version.split(";");
             version = version[1].replace(/[ ]/g, "");
             version = version.split('MSIE')[1];
             browser = 'IE:' + version;
             if (version < 9) {
             alert("您的浏览器版本过低，请下载使用firefox或chrome浏览器~！");
             window.close();
             setInterval(function () {
             window.close();
             }, 1000)
             }
             } else {
             alert("您的浏览器版本过低，请下载使用firefox或chrome浏览器~！");
             window.close();
             setInterval(function () {
             window.close();
             }, 1000)
             }*/
        }
    </script>
    <?php echo Tag::getTitle(); ?>
    <link rel="stylesheet" href="/static/ace/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/ace/css/ace.min.css"/>
    <link rel="stylesheet" href="/static/panel/css/ace-estt-panel.css"/>

    <?php $this->assets->outputCss() ?>

    <script src="/static/panel/js/seajs.js"></script>
    <script src="/static/panel/js/jquery/jquery.last.js"></script>

    <script src="/static/ace/js/jquery.slimscroll.min.js"></script>
    <script src="/static/ace/js/bootstrap.min.js"></script>

    <script>
        seajs.config({
            base: '/static/panel/js',
            charset: 'utf-8',
            timeout: 10000
        });
        var app = app || {};
        app.site_url = '<?php echo $this->uri->baseUri('/panel'); ?>';
        app.u = "<?php echo isset($customer_id)?$customer_id:'' ?>";
        $(function () {
            // scrollables
            $('.slim-scroll').each(function () {
                var $this = $(this);
                $this.slimScroll({
                    height: $this.data('height') || 100,
                    railVisible: true
                });
            });
        })
    </script>
    <script src="/static/ace/js/ace.min.js"></script>
    <script src="/static/ace/js/ace-extra.min.js"></script>
    <script src="/static/bootstrap/js/jquery.bootstrap.dialog.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/ace/js/html5shiv.js"></script>
    <script src="/static/ace/js/respond.min.js"></script>
    <![endif]-->
    <!--    -->
    <!--</head>-->
<body>

<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
//            ace.settings.check('navbar', 'fixed')
        } catch (e) {

        }
    </script>

    <style>
        .main-nav .nav {
            color: #fff;
            font-size: 11pt;
            text-decoration: none;
            height: 45px;
            line-height: 45px;
            display: inline-block;
            margin: 0;
            padding: 0 12px;
        }

        .main-nav .nav.active, .main-nav .nav.active:hover {
            color: #428bca;
            background: #f9f9f9;
        }

        .main-nav .nav:hover {
            background: #62a8d1;
            color: #fff;
        }

        .nav-list > li.active:after {
            content: none;
        }

        .nav-list li.active > a:after {
            content: none;
        }
    </style>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left" style="width: 180px;font-family: 'Microsoft YaHei';">
            <a href="<?php echo $this->uri->moduleUrl(); ?>" class="navbar-brand">
                <small>
                    <i class="icon-laptop " style="color: #63f13a;"></i>
                    <?php echo HOST_BRAND; ?>
                </small>
            </a><!-- /.brand -->
        </div>

        <div class="right" role="navigation">
            <?php $this->partial('base/topNav'); ?>
        </div>
    </div>
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="nav nav-list">
                <?php $this->partial('base/side'); ?>
            </ul>
            <!-- /.nav-list -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                   data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {
                }
            </script>
        </div>

        <div class="main-content">
            <?php $this->partial('base/showPath'); ?>

            <div class="page-content">
                <?php echo $this->view->getContent(); ?>
            </div>
        </div>
        <!-- /.main-content -->

    </div>

</div>
<!-- /.main-container -->

<?php $this->assets->outputJs() ?>
<?php $this->partial('base/widget/storage') ?>
<?php $this->partial('base/widget/linkChoose') ?>
<div id="ajaxStatus">
    <p id='ajaxTip' class="wait">加载中...</p>
</div>
</body>
</html>
