<?php

?>
<!------------------------------- member_bind_main begin ------------------------------------------>
<div class="member_bind_main">
    <div class="word">
        <p>会员卡绑定后，会自动生成账号</p>

        <p>会员卡格式：10000001(1+7位数字)</p>
    </div>
    <div class="con">
        <form action="" method="post">
            <div class="ff ll">
                <div class="lf">会员卡号</div>
                <div class="rg"><input type="text" placeholder="请输入卡号" id="card_number"/></div>
                <div class="clear"></div>
            </div>
            <div class="ff ll">
                <div class="lf">手机</div>
                <div class="rg">
                    <input type="text" placeholder="请输入手机号" class="phone" id="phone_number" value=""/>
                </div>
                <div class="rgg"><a href="javascript:;" id="sendCodeBtn">获取验证码</a></div>
                <div class="clear"></div>
            </div>
            <div class="ff">
                <div class="lf">验证码</div>
                <div class="rg"><input type="text" placeholder="验证码" id="verifyCode"/></div>
                <div class="clear"></div>
            </div>
            <div class="binding"><a href="javascript:;" class="code-next-btn" id="cardBindBtn">绑定</a></div>
            <div class="close_binding"><a href="<?php echo $this->uri->wapModuleUrl('vipcard/index'); ?>">领取新卡</a></div>
        </form>
    </div>
</div><!-- member_bind_main end -->
<!------------------------------- member_bind_main end ------------------------------------------>
<script>
    seajs.use('emoi/emoi.user', function (api) {
        api.card_bind();
        api.send_code();
    });
</script>