<?php
use Components\TplManager;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');


$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
?>



<body id="cate4">

<div id="todayList"><!--tadayList-->
    <ul class="todayList">
        <?php foreach ($navs as $key => $item){ ?>
        <li class="only4">
            <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                <div class="img"><img src="<?php echo \Util\ImgSize::getSize($item['cover_img'], 60); ?>"></div>
                <h2><?php echo $item['name']; ?></h2>

                <p class="onlyheight"><?php echo $item['detail'];?></p>
                <span class="icon">&nbsp;</span>

                <div class="clr"></div>
            </a>
            <?php } ?>
    </ul>
</div>
<!--tadayList-->


<script>
    var count = document.getElementById("thelist").getElementsByTagName("img").length;
    for (i = 0; i < count; i++) {
        document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
    }
    document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    setInterval(function () {
        myScroll.scrollToPage('next', 0, 400, count);
    }, 3500);
    window.onresize = function () {
        for (i = 0; i < count; i++) {
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
        }
        document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    }
</script>

