﻿<?php
\Components\TplManager::$_config['hideFooter'] = true;
\Components\TplManager::$_config['hideHeader'] = true;

$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
$open = \Models\Customer\CustomerOpenInfo::findFirst('customer_id=' . CUR_APP_ID);
$site_bg = \Multiple\Wap\Helper\SiteData::init()->getSite('site_bg');
?>

<style>
    body {
        background-image: url(<?php echo $site_bg;?>);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-size: cover;
        position: relative;
        height: 100%;
    }

    html, body {
        height: 100%;
    }

    .tpl-fbb {
        margin: auto;
        min-height: 100% !important;
    }
</style>
<div id="container" class="container" style="position: static;">

    <div class="content">
        <!-- 店铺主页模板-范冰冰 -->
        <div id="wxdesc" class="tpl-fbb">
            <div class="swiper-container js-tpl-fbb">
                <div class="swiper-wrapper clearfix">
                    <?php
                    foreach ($navs as $nav) {
                        if ($nav['cover_img']) {
                            ?>
                            <div class="swiper-slide tpl-fbb-item">
                                <a href="<?php echo $nav['link_type'] == 'tel' ? 'tel:' . $nav['link'] : $nav['link']; ?>"
                                   target="_blank">
                                    <div class="tpl-fbb-item-wrap">
                                        <div class="tpl-fbb-item-name">
                                            <?php echo $nav['name']; ?>
                                        </div>
                                        <p class="tpl-fbb-item-line">

                                        </p>

                                        <div class="tpl-fbb-item-icon">
                                            <img src="<?php echo $nav['cover_img']?>"
                                                 width="30" height="30">
                                        </div>
                                        <div class="tpl-fbb-item-text">
                                            <?php echo $nav['detail']; ?>
                                        </div>
                                        <p class="tpl-fbb-item-date">
                                            <?php echo $nav['sub_name']; ?>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        <?php
                        }
                    } ?>
                </div>
            </div>
        </div>
        <div class="content-sidebar">
        </div>
    </div>

    <div class="js-footer homepage-footer">
        <div class="footer">
            <div class="copyright">
                <div class="ft-links">
                    <a href="/shop" target="_blank">商城主页</a>
                    <a href="/user" target="_blank">会员中心</a>
                </div>
                <div class="ft-shop-weixin">
                    <a href="javascritp:;" class="js-open-follow">
                        公众微信号：<?php echo $open ? $open->name : '尚未绑定'; ?>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    seajs.use('tools/swiper', function () {
        var mySwiper = $('.swiper-container').swiper({
            slidesPerView: 'auto',
            autoplay: 3500,
            paginationClickable: true,
            calculateHeight: true,
            onSlideChangeStart: function (e) {
                $('.swiper-slide').addClass('done');
            },
            onTouchStart: function (e) {
                e.stopAutoplay()
            },
            onTouchEnd: function (e) {
                e.startAutoplay()
            }
        });
        mySwiper.swipeTo();
    });
</script>