<style type="text/css">
    .imageList{
        height: 48px; cursor: pointer; border:3px solid #fff;vertical-align: middle;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h4 class="header green">刮刮卡设置</h4>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <form enctype="multipart/form-data" class="form-horizontal" id="wheelsetting" method="post" action="/panel/addon/scratch/default/addAction">
            <div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 活动名称： </label>

                <div class="col-sm-9">
                    <input type="text" name="name" class="col-xs-10 col-sm-5" placeholder="活动名称" required data-error="活动名称必须填写" id="form-field-1" >
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> 活动描述： </label>

                <div class="col-sm-6">
                    <textarea id="description" style="width: 100%;height:200px;" placeholder="活动描述" required data-error="活动描述必须填写" name="description"></textarea>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label for="times" class="col-sm-3 control-label no-padding-right"> 抽奖次数： </label>

                <div class="col-sm-3">
                    <input type="text" class="input-mini" id="times" placeholder="抽奖次数" required data-error="抽奖次数必须填写" name="times"   />
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label for="start_date" class="col-sm-3 control-label no-padding-right"> 活动开始时间： </label>

                <div class="col-sm-3">
                    <input placeholder="活动开始时间" required data-error="活动开始时间必须填写"  class="form-control date-picker" value="<?php echo !empty($number->startdate) ?  date('Y-m-d', $number->startdate) : date('Y-m-d', time()); ?>" id="start_date" type="text" name="start_date" data-date-format="yyyy-mm-dd" />
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label for="end_date" class="col-sm-3 control-label no-padding-right"> 活动结束时间： </label>

                <div class="col-sm-3">
                    <input placeholder="活动结束时间" required data-error="活动结束时间必须填写" class="form-control date-picker" id="end_date" value='<?php echo !empty($number->enddate) ? date('Y-m-d',$number->enddate) : date('Y-m-d', strtotime("+1year")); ?>' type="text" name="end_date"  data-date-format="yyyy-mm-dd" />
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">活动图片</label>
					<span class="col-sm-10">

                        <span class="col-xs-5">

                            <span class="input-group" style="margin:0 0 0  -12px;">

                                <span class="input-group-addon"><i class="icon icon-picture"></i></span>

                                <input type="text" class="form-control img" id="infoPic" name="image" placeholder="" readonly

                                       value=""

                                       data-error="" maxlength="255">

                                <a class="input-group-addon" id="upInfoPic"  href="javascript:;">选择图片</a>
	                             </span>

                        </span>
	                         <span class="col-xs-3 pic-review">

                            <img class="preview-brand" id="infoPic-preview" src="/static/wap/images/module/reserve/head_pic.jpg" alt="" style="height: 32px;"/>

                        </span>
                       <span class="col-xs-5">
                           系统提供:
            <img src="/static/panel/images/activity/scratch/default01.png" id="selectImageArray" class="imageList"/>
            <img src="/static/panel/images/activity/scratch/default02.jpg" id="selectImageArray" class="imageList"/>
            <img src="/static/panel/images/activity/scratch/default03.jpg" id="selectImageArray" class="imageList"/>
                      </span>

					</span>

            </div>

            <script>
                window.onload=function(){

                    $('.imageList').click(function(){
                        var imglist=$('.imageList');
                        $('.imageList').each(function(){
                            $(this).css({'border':'3px solid #fff'});
                        });
                        $(this).css({'border':'3px solid green'});
                        $('#infoPic').val($(this).attr('src'));

                    });
                }
            </script>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-info">
                        <i class="icon-ok bigger-110"></i>
                        保存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(function($) {

        $(document).ready(function() {
            $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
                $(this).prev().focus();
            });


        })
        $(document).ready(function() {

            //上传缩略图
            seajs.use(['app/panel/panel.storage', 'app/app.editor'], function(store, editor) {
                store.getImg('#upNewsImage', function (res) {
                    $('#titlePic').val(res.url);
                    $('#titlePic-preview').attr('src', res.url);
                });

                store.getImg('#upInfoPic', function (res) {
                    $('#infoPic').val(res.url);
                    $('#infoPic-preview').attr('src', res.url);
                });
            });

        });

    });


</script>
