<div class="row">
    <div class="col-lg-12">
        <h4 class="header green">刮刮卡奖项设置</h4>
    </div>
    <!-- /.col-lg-12 -->

	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<form class="form-horizontal" id="scratchoption" method="post">
			<div class="form-group">
				<label for="option_name" class="col-sm-4 control-label no-padding-right"> 奖项名称： </label>

				<div class="col-sm-3">
					<input type="text" name="option_name" class="col-xs-10 col-sm-5" placeholder="奖项名称" id="option_name" value="<?php echo $option->option_name;?>">
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label for="option_desc" class="col-sm-4 control-label no-padding-right"> 奖项描述： </label>

				<div class="col-sm-3">
					<textarea placeholder="奖项描述" id="option_desc" class="form-control " name="option_desc" ><?php echo $option->option_desc;?></textarea>
				</div>
			</div>
            <div class="form-group" >
                <label for="option_name" class="col-sm-4 control-label no-padding-right"> 奖项类型： </label>

                <div class="col-sm-3">
                    <select name="award_type" class="col-sm-4" id="award_type">
                        <option value="goods" <?php if($option->award_type=='goods'){echo 'selected';} ?> >商品</option>
                        <option value="points" <?php if($option->award_type=='points'){echo 'selected';} ?> >积分</option>
                        <option value="coupon" <?php if($option->award_type=='coupon'){echo 'selected';} ?> >优惠券</option>

                    </select>

                </div>
            </div>

            <div class="form-group" id="option-award">
                <?php if($option->award_type=='goods'){?>
                    <div class="form-group">
                        <label for="option_name" class="col-sm-4 control-label no-padding-right"> 商品名称： </label>

                        <div class="col-sm-8">
                            <input type="text" name="option_value" class="col-xs-10 col-sm-5" value="<?php echo $option->option_value;?>" required placeholder="商品名称" id="option_value" >
                        </div>
                    </div>
                <?php } else if($option->award_type=='points'){?>

                    <div class="form-group">
                        <label for="option_name" class="col-sm-4 control-label no-padding-right"> 积分数量： </label>

                        <div class="col-sm-8">
                            <input type="text" name="option_value" class="col-xs-10 col-sm-5" value="<?php echo $option->option_value;?>" required placeholder="积分数量" id="option_value" >
                        </div>
                    </div>
                <?php }   else if($option->award_type=='coupon'){ ?>

                    <label for='angle' class='col-sm-4 control-label no-padding-right'> 优惠券列表： </label>
                    <div class='col-sm-8'>
                        <select name='option_value' id='option_value' required>
                            <?php foreach($coupon as $val)
                            { ?>
                                <option value='<?php echo $val['id'] ?>'<?php if($val['id']==$option->option_value){echo 'selected';}?>><?php echo $val['name']?></option>

                            <?php    }
                            ?>
                        </select>
                    </div>
                <?php } ?>

            </div>
			<div class="space-4"></div>

			<div class="form-group">
				<label for="option_number" class="col-sm-4 control-label no-padding-right"> 数量： </label>

				<div class="col-sm-3">
					<input type="text" class="input-mini" id="option_number" name="option_number"  value="<?php echo $option->option_number;?>" /><div>如果不是中奖选项请设置为0</div>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label for="chance" class="col-sm-4 control-label no-padding-right"> 中奖率： </label>

				<div class="col-sm-3">
					<input type="text" class="col-xs-10 col-sm-5" id="chance" name="chance"  placeholder="如果为0永远不会选中，数值越大选中机率越大" value="<?php echo $option->chance;?>"/>
				</div>
			</div>

			<div class="clearfix form-actions">
				<div class="col-md-offset-4 col-md-9">
					<button type="submit" class="btn btn-info">
						<i class="icon-ok bigger-110"></i>
						保存
					</button>
				</div>
			</div>
		</form>
	</div>

</div>
<script>
    $('#award_type').change(function(){
        var type=$(this).val();//奖品类型
        $.ajax({
            url:'/panel/addon/wheel/default/ajaxTypeChange',
            dataType:'JSON',
            type:'post',
            data:{type:type},
            success:function(res){$('#option-award').html(res.data);},
            error:function(){alert('error');}

        })


    })

</script>