<?php
use Components\Product\ProductManager;

$brand = ProductManager::instance()->getAllBrand(CUR_APP_ID);
?>
<section id="product-attr" class="product-widget ">
    <h3 class="widget-tit">
        <span class="red right"><a href="/shop/product/attr?cid=<?php echo $curCid; ?>" target="_blank">设置属性</a></span>
        商品属性</h3>
    <article class="widget-cont">

        <div class="field base-field" style="border-bottom: 1px solid #DEEFFB;padding: 0 0 10px;">
            <label for="" class="field-label">商品品牌：</label>
            <select name="brand_id" id="brand_id">
                <option value="0">选择品牌</option>
                <?php
                if ($brand) {
                    foreach ($brand as $v) {
                        ?>
                        <option value="<?php echo $v['id']; ?>"
                            <?php echo isset($product['brand_id']) && $product['brand_id'] == $v['id'] ? 'selected' : ''; ?>>
                            <?php echo $v['name']; ?>
                        </option>
                    <?php
                    }
                }
                ?>
            </select>
            <a href="javascript:;" data-val="<?php echo isset($product['brand_id']) ? $product['brand_id'] : 0; ?>" class="brand_fresh" target="_blank">刷新<span class="icon-refresh"></span></a>
            <span class="tip">设置<a href="/shop/product/brand" target="_blank">商品品牌</a></span>
        </div>

        <?php
        if ($attrs) {
            foreach ($attrs as $attr) {
                ?>
                <div class="field attr-field">
                    <label for="" class="field-label"><?php echo $attr['attr_name']; ?>：</label>
                    <?php
                    if ($attr['attr_type'] == 'input') {
                        ?>
                        <input type="text"
                               value="<?php echo isset($product_attrs[$attr['id']]['attr_val']) ? $product_attrs[$attr['id']]['attr_val'] : $attr['attr_value']; ?>"
                               data-type="<?php echo $attr['attr_type']; ?>"
                               data-name="<?php echo $attr['attr_name']; ?>"
                               data-id="<?php echo $attr['id']; ?>"
                               data-must="<?php echo $attr['must']; ?>"
                               class="txt input"/>
                    <?php
                    }
                    ?>

                    <?php
                    if ($attr['attr_type'] == 'text') {
                        ?>
                        <textarea name="" id="" class="txt input"
                                  data-type="<?php echo $attr['attr_type']; ?>"
                                  data-name="<?php echo $attr['attr_name']; ?>"
                                  data-id="<?php echo $attr['id']; ?>"
                                  data-must="<?php echo $attr['must']; ?>"
                            ><?php echo isset($product_attrs[$attr['id']]['attr_val']) ? $product_attrs[$attr['id']]['attr_val'] : $attr['attr_value']; ?></textarea>
                    <?php
                    }
                    ?>

                    <?php
                    if ($attr['attr_type'] == 'single') {
                        $vals = explode('-', $attr['attr_value']);
                        $keys = explode('-', $attr['attr_key']);
                        ?>
                        <select name="" id="" class="selc input"
                                data-type="<?php echo $attr['attr_type']; ?>"
                                data-name="<?php echo $attr['attr_name']; ?>"
                                data-id="<?php echo $attr['id']; ?>"
                                data-must="<?php echo $attr['must']; ?>"
                            >
                            <option value="">请选择</option>
                            <?php
                            foreach ($vals as $k => $v) {
                                ?>
                                <option value="<?php echo $v; ?>"
                                    <?php echo isset($product_attrs[$attr['id']]['attr_key']) && in_array($product_attrs[$attr['id']]['attr_key'], $keys) ? "selected" : ""; ?>
                                        data-attr_key="<?php echo $keys[$k]; ?>"
                                    >
                                    <?php echo $v; ?>
                                </option>
                            <?php
                            }
                            ?>
                        </select>
                    <?php
                    }
                    ?>

                    <?php
                    if ($attr['attr_type'] == 'multi') {
                        ?>
                        <span class="input"
                              data-type="<?php echo $attr['attr_type']; ?>"
                              data-name="<?php echo $attr['attr_name']; ?>"
                              data-id="<?php echo $attr['id']; ?>"
                              data-must="<?php echo $attr['must']; ?>"
                            >

                        <?php
                        $vals = explode('-', $attr['attr_value']);
                        $keys = explode('-', $attr['attr_key']);
                        $attr_keys = isset($product_attrs[$attr['id']]['attr_key']) && $product_attrs[$attr['id']]['attr_key'] ? $product_attrs[$attr['id']]['attr_key'] : "";
                        $attr_keys = explode(',', $attr_keys);
                        $attr_keys = array_filter($attr_keys);
                        foreach ($vals as $k => $v) {
                            ?>
                            <label>
                                <input type="checkbox" value="<?php echo $v; ?>"
                                       data-key="<?php echo $keys[$k]; ?>"
                                    <?php echo in_array($keys[$k], $attr_keys) ? 'checked' : ''; ?>
                                       class="ace chk"
                                    />
                                <span class="lbl"> <?php echo $v; ?></span>
                            </label>
                        <?php } ?>
                        </span>
                    <?php
                    }
                    ?>

                    <span class="tip">
                        <?php if ($attr['must']) { ?>
                            <i class="red">*</i>
                        <?php } ?>
                    </span>
                </div>
            <?php
            }
        } else {
            ?>
            <p class="nob noCatTip">您还没有设置商品分类属性哦， <a href="/shop/product/attr?cid=<?php echo $curCid; ?>"
                                                      target="_blank">点击设置</a></p>
        <?php } ?>
    </article>
</section>