<section id="product-base" class="product-widget">
    <h3 class="widget-tit">商品信息</h3>
    <article class="widget-cont">

        <div class="field base-field">
            <label for="" class="field-label">商品名称</label>
            <input type="text" name="name" value="<?php echo isset($product['name']) ? $product['name'] : ''; ?>"
                   id="name" class="txt" style="width: 400px;" placeholder="请输入商品名称"/>
            <span class="tip"><b class="red normal">*</b></span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">出售价格</label>
            <input type="text" name="sell_price" id="sell_price"
                   data-cashback_proportion="<?php echo $store['cashback_proportion']; ?>"
                   value="<?php echo isset($product['sell_price']) ? $product['sell_price'] : ''; ?>" maxlength="13"
                   class="txt"
                   placeholder="请输入商品出售价格"/> 元
            <span class="tip"><b class="red normal">*</b> (商品出售价格(折后价)，如￥12.24元)</span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">商品原价</label>
            <input type="text" name="original_price" id="original_price"
                   value="<?php echo isset($product['original_price']) ? $product['original_price'] : ''; ?>"
                   class="txt" placeholder="请输入商品原始价格"/>
            <span class="tip"> (商品原始价格，一般高于出售价格)</span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">商家编码</label>
            <input type="text" name="serial_code"
                   value="<?php echo isset($product['serial_code']) ? $product['serial_code'] : ''; ?>" class="txt"/>
            <span class="tip"></span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">商品条形码</label>
            <input type="text" name="barcode"
                   value="<?php echo isset($product['barcode']) ? $product['barcode'] : ''; ?>" class="txt"/>
            <span class="tip"></span>
        </div>

        <div class="field base-field field-line">
            <label for="" class="field-label"><span class="red">商品状态</span></label>
            <label>
                <input type="radio" name="is_active" class="ace is_active" value="1"
                    <?php echo empty($product['is_active']) || $product['is_active'] == 1 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>上架</b></span>
            </label>
            <label class="active">
                <input type="radio" name="is_active" class="ace is_active" value="0"
                    <?php echo isset($product['is_active']) && $product['is_active'] == 0 ? 'checked="checked"' : ''; ?>>
                <span class="lbl"><b>下架</b></span>
            </label>
            <span class="tip"></span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">是否新品</label>
            <label>
                <input type="radio" name="is_new" class="ace is_new" value="1"
                    <?php echo isset($product['is_new']) && $product['is_new'] == 1 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>是</b></span>
            </label>
            <label class="active">
                <input type="radio" name="is_new" class="ace is_new" value="0"
                    <?php echo empty($product['is_new']) || $product['is_new'] == 0 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>否</b></span>
            </label>
            <span class="tip"></span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">是否推荐商品</label>
            <label>
                <input type="radio" name="is_recommended" class="ace is_recommended" value="1"
                    <?php echo isset($product['is_recommended']) && $product['is_recommended'] == 1 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>是</b></span>
            </label>
            <label class="active">
                <input type="radio" name="is_recommended" class="ace is_recommended" value="0"
                    <?php echo empty($product['is_recommended']) || $product['is_recommended'] == 0 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>否</b></span>
            </label>
            <span class="tip"></span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">是否热销商品</label>
            <label>
                <input type="radio" name="is_hot" class="ace is_hot" value="1"
                    <?php echo isset($product['is_hot']) && $product['is_hot'] == 1 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>是</b></span>
            </label>
            <label class="active">
                <input type="radio" name="is_hot" class="ace is_hot" value="0"
                    <?php echo empty($product['is_hot']) || $product['is_hot'] == 0 ? 'checked="checked"' : ''; ?>
                    >
                <span class="lbl"><b>否</b></span>
            </label>
            <span class="tip"></span>
        </div>
    </article>
</section>
