<section class="product-widget">
    <div class="widget-tit"><label for="">商品类目</label></div>
    <div class="widget-cont" style="padding: 12px;">
        <select name="prod-cat" id="prod-cat">
            <option value="0">== 请选择类目 ==</option>
            <?php
            foreach ($cats as $top) {
                if ($top['parent_id'] == 0) {
                    if ($top['is_parent'] == 1) {
                        ?>
                        <optgroup label="<?php echo $top['name']; ?>">
                            <?php
                            foreach ($cats as $sec) {
                                if ($sec['parent_id'] == $top['id']) {
                                    ?>
                                    <option
                                        value="<?php echo $sec['id']; ?>" <?php echo $curCid == $sec['id'] ? 'selected' : ''; ?>>
                                        <?php echo $sec['name']; ?>
                                    </option>
                                    <?php
                                    foreach ($cats as $thr) {
                                        if ($thr['parent_id'] == $sec['id']) {
                                            ?>
                                            <option
                                                value="<?php echo $thr['id']; ?>" <?php echo $curCid == $thr['id'] ? 'selected' : ''; ?>>
                                                |-- <?php echo $thr['name']; ?>
                                            </option>
                                        <?php
                                        }
                                    } ?>
                                <?php
                                }
                            } ?>
                        </optgroup>
                    <?php
                    } else {
                        ?>
                        <option
                            value="<?php echo $top['id']; ?>"  <?php echo $curCid == $top['id'] ? 'selected' : ''; ?>>
                            <?php echo $top['name']; ?>
                        </option>
                    <?php
                    } ?>
                <?php } ?>
            <?php
            }?>
        </select>
    </div>

    <script>
        seajs.use('app/panel/product/product.edit', function (api) {
            api.selectCat(<?php echo intval($this->request->get('iid')) ; ?>);
        });
    </script>
</section>