<section id="product-desc" class="product-widget">
    <h3 class="widget-tit">商品描述</h3>
    <article class="widget-cont">
        <div class="field set-field">
            <label for="" class="field-label">商品描述</label>
            <textarea name="detail" id="txtContent" style="width: 584px;height: 300px;"><?php echo isset($product['detail']) ? $product['detail'] : ''; ?></textarea>
            <span class="tip"></span>
        </div>
    </article>
</section>