<section id="product-freight" class="product-widget">
    <h3 class="widget-tit">宝贝物流及安装服务</h3>
    <article class="widget-cont">
        <div class="field set-field">
            <label for="" class="field-label">运费:</label>
            <select name="freight_tpl" id="freight" class="selc" >
                <option value="0">请选择运费模板</option>
                <?php if ($freight) {
                    ?>
                    <?php foreach ($freight as $item): ?>
                        <option <?php if (isset($product['freight_tpl']) && $product['freight_tpl'] != 0 && $product['freight_tpl'] == $item['id']) {
                            echo "selected";
                        } ?> data-item="<?php echo base64_encode(json_encode($item)); ?>"
                             data-type="<?php echo $item['valuation_way'] ?>"
                             value="<?php echo $item['id'] ?>"><?php echo $item['tpl_name'] ?></option>
                    <?php endforeach; ?>
                <?php } ?>
            </select>
            <a href="javascript:;" data-val="<?php echo isset($product['freight_tpl']) ? $product['freight_tpl'] : 0; ?>" class="freight_fresh" target="_blank">刷新<span class="icon-refresh"></span></a>
            <a href="/shop/freight" target="_blank">运费模板管理</a>

        </div>
        <div class="field set-field">
            <label for="" class="field-label" style="display: block;float: left;">物流参数:</label>

            <div class="freight_field"
                 style="display:inline-block;border: 1px solid  #DEEFFB;padding: 10px 10px 10px 0; margin-left: 4px;">
                <p>
                    <label for="" class="field-label" style="margin-bottom: 10px;">物流体积(m3):</label>
                    <input name="volume" type="text" class="txt" id="volume"
                           data-val="<?php echo isset($product['volume']) && $product['volume'] != 0 ? $product['volume'] : ''; ?>"
                           value="<?php echo isset($product['volume']) && $product['volume'] != 0 ? $product['volume'] : ''; ?>"/>
                </p>

                <p style="margin: 8px 0 0 0 ;">
                    <label for="" class="field-label">物流重量(kg):</label>
                    <input name="weight" type="text" class="txt" id="weight"
                           data-val="<?php echo isset($product['weight']) && $product['weight'] != 0 ? $product['weight'] : ''; ?>"
                           value="<?php echo isset($product['weight']) && $product['weight'] != 0 ? $product['weight'] : ''; ?>"/>
                </p>
            </div>
        </div>
    </article>
</section>