<?php
use Components\Product\ProductManager;

$attrs = ProductManager::instance()->getCatAttr($curCid);
?>
<section id="product-pic" class="product-widget">
    <h3 class="widget-tit">
        其他设置
    </h3>

    <article class="widget-cont" style="padding: 8px;">
        <div class="field set-field">
            <label for="" class="field-label">上下架</label>
        </div>
    </article>
</section>

<script>
    seajs.use('app/panel/product/product.edit', function (api) {
        api.setPic();
    });
</script>