<?php
use Components\Product\ProductManager;

$attrs = ProductManager::instance()->getCatAttr($curCid);
?>
<style>
    #picturesPreview {
        padding: 12px;
        border: 1px solid #DEEFFB;
        color: #888;
        margin: 0 0 0 127px;
    }

    #picturesPreview .pic {
        float: left;
        margin: 4px;
        text-align: center;
        position: relative;
    }

    #picturesPreview .pic img {
        height: 60px;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 1px;
        display: block;
    }

    #picturesPreview .pic .rmBtn {
        text-align: center;
        height: 24px;
        line-height: 24px;
        display: block;
    }

    #picturesPreview .pic .setMainPic {
        background: #f6f6f6;
        display: block;
        height: 24px;
        line-height: 24px;
        text-align: center;
    }
</style>
<section id="product-pic" class="product-widget">
    <h3 class="widget-tit"><span class="right normal">可拖动图片排序</span>
        商品图片</h3>

    <article class="widget-cont" style="padding: 8px;">
        <div class="field set-field">
            <label for="" class="field-label">商品主图</label>
            <input type="text" name="thumb" id="thumb"
                   value="<?php echo isset($product['thumb']) ? $product['thumb'] : ''; ?>" class="txt" readonly/>
            <a class="btn btn-sm btn-success" id="uploadMainPic" href="javascript:;">上传主图</a>
            <img src="<?php echo isset($product['thumb']) ? $product['thumb'] : ''; ?>" alt="" id="thumbPreview"
                 style="height: 32px;"/>
            <span class="tip">(<span class="red">*</span> 建议大小400x400)</span>
        </div>
        <div class="field set-field">
            <label for="" class="field-label">商品图册</label>
            <input type="hidden" id="productImages" name="imgs"
                   value="<?php echo isset($product['imgs']) ? $product['imgs'] : ''; ?>"/>

            <a class="btn btn-sm btn-success" id="uploadProductPictures" href="javascript:;">上传多图</a>
            <span class="tip">(建议大小400x400)</span>
        </div>
        <p style="margin: 8px 0 8px 126px;color: #888;">请上传8张图片以内商品图片</p>

        <div id="picturesPreview" style="">
            <?php
            $imgs = isset($product['imgs']) ? $product['imgs'] : '';
            $images = explode(';', $imgs);
            foreach ($images as $img) {
                if (!$img) continue;
                ?>
                <p class="pic">
                    <a href="javascript:;" class="setMainPic">设为主图</a>
                    <img src="<?php echo $img; ?>">
                    <a href="javascript:;" class="rmBtn">删除</a>
                </p>
            <?php } ?>
            <div class="clearfix"></div>
        </div>
    </article>
</section>

<script>
    seajs.use('app/panel/product/product.edit', function (api) {
        api.setPic();
    });
</script>