<section id="product-promo" class="product-widget">
    <h3 class="widget-tit">推广分成
        <span class="right normal">
            当前返现比例：<?php echo $store['cashback_proportion']; ?>%
            <a href="/shop/store" target="_blank">重新设置</a>
        </span>
    </h3>
    <article class="widget-cont">
        <div class="field base-field" style="">
            <label for="" class="field-label">推广返现</label>
            <input type="text" name="share[cash]"
                   value="<?php echo isset($product_share_param['cash']) ? $product_share_param['cash'] : ''; ?>"
                   id="cashback_proportion"
                   placeholder="返现金额"
                   class="txt" style="width: 60px;"/> 元,按<?php echo $store['cashback_proportion']; ?>%返现是<span
                class="red tip-share-cash"><?php echo isset($product['sell_price']) ? $product['sell_price'] * $store['cashback_proportion'] / 100 : 0; ?></span>元
            <span class="tip">（不填写或0则不参与，用户推广成功导购后返给该用户的金额）</span>
        </div>

        <div class="field base-field">
            <label for="" class="field-label">终止日期</label>
            <input type="text" name="share[deadline]"
                   value="<?php echo isset($product_share_param['deadline']) && $product_share_param['deadline'] > 0 ? date('Y-m-d H:i:s', $product_share_param['deadline']) : ''; ?>"
                   placeholder="如<?php echo date('Y-m-d'); ?>"
                   id="share_deadline" class="txt" style="width: 120px;" maxlength="19"/>
            <span class="tip">(格式<span
                    class="red"><?php echo date('Y-m-d H:i:s'); ?></span>,可不输入时分秒)有效期范围内可获积分,不填永久有效</span>
        </div>
    </article>
</section>