<style>
    .spec-list {

    }

    .spec-list input.sell_price, .spec-list input.original_price {
        width: 60px;
    }

    .spec-list input.num {
        width: 60px;
    }

    .spec-list input.serial {
        width: 100px;
    }

    .spec-list input.barcode {
        width: 100px;
    }

    .spec-list {
        text-align: center;
    }

    .num-field {
        border-top: 1px solid #DEEFFB;
        padding: 10px 0 0;
    }

    #quantity {
        width: 60px;
    }
</style>
<?php
$data_spec = [];
foreach ($product_specs as $k => $v) {
    $key = explode(';', $k);
    foreach ($key as $sub) {
        if ($sub) {
            $spec = explode(':', $sub);
            if (isset($spec[0]) && $spec[0] > 0 && isset($spec[1]) && $spec[1] > 0) {
                $data_spec[$spec[0]][] = $spec[1];
            }
        }
    }
}
?>
<section id="product-spec" class="product-widget">
    <h3 class="widget-tit">
        <span class="red right"><a href="/shop/product/spec?cid=<?php echo $curCid; ?>" target="_blank">设置规格</a></span>
        商品规格</h3>
    <article class="widget-cont">
        <?php
        if ($specs) {
            foreach ($specs as $k => $spec) {
                ?>
                <div class="field spec-field"
                     data-spec_id="<?php echo $spec['id']; ?>"
                     data-spec_name="<?php echo $spec['attr_name']; ?>"
                     data-index="<?php echo $k; ?>"
                    >
                    <label for="" class="field-label"><?php echo $spec['attr_name']; ?>：</label>
                    <?php
                    $keys = explode('-', $spec['attr_key']);
                    $vals = explode('-', $spec['attr_value']);
                    foreach ($vals as $k => $v) {
                        ?>
                        <label>
                            <input type="checkbox" value="<?php echo $keys[$k]; ?>" class="ace spec-chk"
                                   data-spec_id="<?php echo $spec['id']; ?>"
                                   data-spec_key="<?php echo $keys[$k]; ?>"
                                   data-spec_val="<?php echo $v; ?>"
                                <?php echo isset($data_spec[$spec['id']]) && in_array($keys[$k], $data_spec[$spec['id']]) ? 'checked' : ''; ?>
                                />
                            <span class="lbl"> <?php echo $v; ?></span>
                        </label>
                    <?php } ?>
                    <span class="tip">
                        <?php if ($spec['must']) { ?>
                            <i class="red">*</i>
                        <?php } ?>
                    </span>
                </div>
            <?php
            }?>
            <table id="specDataList" class="list spec-list">
                <tr class="listHead head">

                </tr>
                <tbody class="listData">

                </tbody>
            </table>
            <div class="field num-field">
                <label for="" class="field-label"><span class="red">商品数量：</span></label>
                <input type="text" name="quantity" id="quantity"
                       value="<?php echo isset($product['quantity']) ? $product['quantity'] : ''; ?>" placeholder="商品数量"
                       data-has_spec="true"
                       class="txt" readonly/>
                <span class="tip brown"> <span class="red">*</span> 请选择商品规格，并设置商品规格之价格和数量</span>
            </div>
        <?php
        } else {
            ?>
            <p class="nob noCatTip">您还没有设置商品规格哦， <a href="/shop/product/spec?cid=<?php echo $curCid; ?>"
                                                    target="_blank">点击设置</a></p>
            <div class="field num-field">
                <label for="" class="field-label"><span class="red">商品数量：</span></label>
                <input type="text" name="quantity" id="quantity" placeholder="商品数量"
                       value="<?php echo isset($product['quantity']) ? $product['quantity'] : ''; ?>" class="txt"
                       data-has_spec="false"/>
                <span class="tip green"> <span class="red">*</span> 由于尚未设置规格，请直接填写商品数量</span>
            </div>
        <?php } ?>
    </article>
</section>

<script>
    seajs.use('app/panel/product/product.edit', function (api) {
        api.setSpec(<?php echo json_encode($product_specs, true); ?>);
    });
</script>