<!DOCTYPE html>
<html>
<head>
    <title>行指科技</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="中小企业营销一站式解决方案 支持微信、微博、淘宝、京东、苏宁等第三方电商平台">
    <meta name="author" content="yanue">
    <link rel="icon" type="image/gif" href="/static/home/pc/reach/images/fav.ico">
    <link rel="Shortcut Icon" href="/static/home/pc/reach/images/fav.ico" />
    <link rel="Bookmark" href="/static/home/pc/reach/images/fav.ico" />

    <!-- Bootstrap core CSS -->

    <!-- Add custom CSS here -->
    <link href="/static/home/pc/reach/css/content.css" rel="stylesheet">
    <link href="/static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <?php $this->assets->outputCss();?>
    <script src="/static/home/pc/reach/js/jquery.last.js"></script>
</head>

<body>
<?php $this->partial('base/header'); ?>

{{content()}}

<?php $this->partial('base/footer'); ?>

<!-- JavaScript -->
<?php $this->assets->outputJs();?>
</body>

</html>
