<?php
use Components\TplManager;
use Components\UserStatusWap;

$controller = $this->router->getControllerName();
$action = $this->router->getActionName();
?>
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all"/>
    <?php
    if (isset($this->view->nocache) && $this->view->nocache) {
        ?>
        <meta http-equiv="Expires" CONTENT="0">
        <meta http-equiv="Cache-Control" CONTENT="no-cache">
        <meta http-equiv="Pragma" CONTENT="no-cache">
    <?php
    }
    ?>
    <!-- Mobile Devices Support @begin -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="telephone=yes, address=yes" name="format-detection">
    <!-- apple devices -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices Support @end -->

    <meta name="keywords" content="<?php echo $this->view->keywords; ?>">
    <meta name="description" content="<?php echo $this->view->description; ?>">
    <meta name="author" content="ESTT Team">

    <title><?php echo $this->view->title; ?></title>

    <?php
    if ($icon = \Multiple\Wap\Helper\SiteData::init()->getSite('site_icon')) {
        ?>
        <link rel="icon" href="<?php echo $icon; ?>" type="image/x-icon"/>
        <link rel="shortcut icon" href="<?php echo $icon; ?>" type="image/x-icon"/>
    <?php } ?>

    <link rel="stylesheet" href="/static/wap/gmu/gmu.css"/>
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/wap/css<?php echo $this->view->getVar('css'); ?>"/>
    <script>
        window.app = {};
        app._uid = '<?php echo \Components\UserStatus::getUid(); ?>';
        app.user_point = "<?php echo UserStatusWap::init()->getPoint() ?>";
    </script>
    <script src="/static/wap/js/seajs.js"></script>
    <script src="/static/wap/gmu/??zepto-extend.min.js,gmu-base.min.js"></script>
    <script>
        seajs.config({
            base: '/static/wap/js',
            charset: 'utf-8',
            timeout: 10000
        });
    </script>
</head>
<body>
<div id="mm">
    <?php
    require_once MODULE_PATH . "/Views/customize/huarunqi/base/header.phtml";
    ?>
    <?php echo $this->view->getContent(); ?>
</div>
<?php
require_once MODULE_PATH . "/Views/customize/huarunqi/base/footer.phtml";
?>

<?php
//require_once MODULE_PATH . "/Views/customize/huarunqi/base/panel.phtml";
?>

<?php
require_once MODULE_PATH . "/Views/customize/huarunqi/base/reg_login.phtml";
?>
<script>
    seajs.use(['/static/wap/gmu/??widget/gotop.js,widget/dialog.js'], function () {
        /** GMU组件DOM初始化 */
        $("*[data-widget]").each(function () {
            var widget = $(this).attr("data-widget");
            if (typeof($.fn[widget]) === "function") {
                $.fn[widget].apply($(this), [
                    {}
                ]);
            }
        });
    });

    seajs.use('tools/swiper.js', function () {

        $(function () {

            //-----------------------------------------------------------shop_index js
            var mySwiper_shop_index = new Swiper('.swiper-shop-index', {
                pagination: '.pagination-shop-index',
                paginationClickable: true,
                autoplay: 3000
            });
            var pag_h = parseInt($("#shop_index .pagination-shop-index").width() / 2);
            $("#shop_index .pagination-shop-index").css("margin-left", "-" + pag_h + "px");


            //---------------------------------------------------------fashion js
            var mySwiper_fashion = new Swiper('.swiper-fashion', {
                pagination: '.pagination-fashion',
                paginationClickable: true
            });
            var pag_h = parseInt($("#fashion .pagination-fashion").width() / 2);
            $("#fashion .pagination-fashion").css("margin-left", "-" + pag_h + "px");


            //----------------------------------------------------------index js
            var mySwiper_index = new Swiper('.swiper-index', {
                pagination: '.pagination-index',
                paginationClickable: true,
                autoplay: 3000
            });
            var pag_h = parseInt($("#index .pagination-index").width() / 2);
            $("#index .pagination-index").css("margin-left", "-" + pag_h + "px");
            var w_h = $(window).height();
            var swiper_h = parseInt(w_h - 43);
            $("#index .swiper-index").css("height", swiper_h + "px");
            $("#mask").css("height", w_h + "px");
            $("#mask").click(function () {
                $(this).css("display", "none");
                $("#mask_zero").css("display", "none");
                $(".index_more").removeClass("open").addClass("close");
            });
            $(".index_more").click(function () {
                if ($(this).hasClass('close')) {
                    $("#mask").css("display", "block");
                    $("#mask_zero").css("display", "block");
                    $(this).removeClass("close").addClass("open");
                } else {
                    $("#mask").css("display", "none");
                    $("#mask_zero").css("display", "none");
                    $(this).removeClass("open").addClass("close");
                }
            });

            //-------------------------------------------footer js
            $(".footer .footer_icon").click(function () {

                $(this).find(".footer_menu").each(function () {
                    if ($(this).css('display') == 'none') {
                        $(this).css('display', 'block');
                    }
                    else {
                        $(this).css('display', 'none');
                    }
                })

            });

            //--------------------------------------------list js

        });

    })


</script>

<?php
TplManager::init(CUR_APP_ID)->render('customize', 'base/reg_login');
?>
<div data-widget="gotop"></div>
<div id="ajaxStatus">
    <p id='ajaxTip' class="wait">加载中...</p>
</div>
<?php if ($this->dispatcher->getActionName() == 'all') { ?>
    <div class="bot_qiehuan">
        <ul>
            <li><a href="javascript:;" class="tab" data-tab="product_main"><img
                        src="/static/wap/images/tpl/emoi/detail_list_bot2.png" alt=""/></a></li>
            <li><a href="javascript:;" class="tab" data-tab="details_list_main"><img
                        src="/static/wap/images/tpl/emoi/detail_list_bot1.png" alt=""/></a></li>
            <div class="clear"></div>
        </ul>
    </div>
<?php } ?>

</body>
</html>