* {
	margin: 0;
	padding: 0;
}
	html,body { /*position:relative;
    	height:100%;*/
    	color: #fff;
    	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial,
    		san-serif;
    	background-color: #121313;
    	margin: 0;
    	padding: 0;
    	text-decoration: none;
    }

li {
	list-style-type: none;
}

.wz04_content {
	background-color: #121313;
	margin: 0;
}

.wz04_content a,.wz04_content a:hover,.wz04_content a:visited{
	color:#ffffff;
}

.content_big_out{
	width: 33.33%;
	float: left;
}

.content_big {
	background-color: black;
	padding: 0 1px 1px 0;
}

.content_big_inner{
	background-color: #337DC2;
}

.content_right_none {
	margin: 0;
}

.content_big img {
	width: 100%;
}

.content_smm_one {
	text-align:center;
	padding:10px 10px 5px;
}

.content_smm_one img{
	width:60px;
	height:60px;
}

.content_smm_two {
	width: 100%;
	padding-bottom:5px;
}

.content_smm_two span {

	display: block;
	line-height: 20px;
	font-size: 16px;
	width: 100%;
	text-align: center;
	color: #000;
	height:20px;
	overflow:hidden;
}


.clr {
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
html,body {
	background-color: #ffffff;
}

.wz13_content {
	background-color: #ffffff;
	margin: 0;
	padding-top:10px;
}

.wz13_content a,.wz04_content a:hover,.wz04_content a:visited{
	color:#121313;
}

.content_smm_one img{
	width:75px;
	height:75px;
}
a{
	text-decoration:none;
}

/*iscroll*/

.banner {
	width:100%;
	margin:0 auto;
	padding:0;
	background-color:#151515;
}
#wrapper {
	margin:0;
	width:100%;
	height:auto;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;

}

#scroller {
	height:auto;
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {

	display:block; float:left;
	width:auto; height:auto;
	text-align:center;
	font-size:0px;
	padding:0;
	position:relative;
}
#scroller li a{

	display:block;
	padding:0;
	margin:0;
}
#scroller li p{
	position:absolute;
	z-index:2;
	display:block;
	width:100%;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.5);
	color:#F4F4F4;
	font-size:14px;
	text-indent: 55px;
	line-height:24px;
	text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:0;
	margin:0;
}
#nav {
	float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
	display: none;
}

#next {
	float:right;
	text-align:right;
}

#indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#888;
	overflow:hidden;
	margin-right:4px;
}

#indicator > li.active {
	background:#DDDDDD;
}

#indicator > li:last-child {
	margin:0;
}
/*index.css*/
html,body {
	color: #ffffff;
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial,
		san-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a{
	text-decoration:none;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

html,body {
	background-color: #fff;
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial,
		san-serif;
}

.clr {
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.ul01 {
	height: 95px;
	width: 100%;

	background-repeat: repeat-x;
	padding-bottom: 1px;
}

.ul01_left {
	float: left;
	width: 11px;
	height: 95px;
}

.ul01_right {
	float: right;
	width: 11px;
	height: 95px;
}

.ul01_cont {
	float: left;
	width: 100%;
	height: 95px;
	position: absolute;
	z-index: 12;
}

.ul01_cont_nr {
	float: left;
	position: absolute;
	padding-left: 118px;
	padding-right: 44px;
	max-width:100%;
	z-index:32;
}

.ul01_cont_nr h4 {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
	/**text-align: center;**/
	display: block;
	margin-top: 21px;
	margin-left: auto;
	margin-right: auto;
	height:22px;
	overflow:hidden;
}

.ul01_cont p {
	margin-top: 11px;
	/**text-align: center;**/
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	font-family: "黑体";
	color: #a4a4a4;
	height:30px;
	overflow:hidden;
}

.circle { /*圆角*/
	width: 75px;
	height: 75px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin-top: 3px;
	margin-left: 13px;
	padding: 6px;

	background-repeat: no-repeat;
	overflow: hidden;
}

.semicircle { /*半透明半圆*/
	z-index: 999;
	position: relative;
	top: -45px;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	width: 75px;
	height: 75px;
	background: #ffffff;
	-moz-border-radius: 100px 100px 100 100;
	-webkit-border-radius: 100px 100px 100 100;
	border-radius: 100px 100px 100px 100px;
}

.imgchange {
	top: 9px;
	z-index: 900;
	position: absolute;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	width: 75px;
	height: 75px;
	-moz-border-radius: 100px 100px 100 100;
	-webkit-border-radius: 100px 100px 100 100;
	border-radius: 100px 100px 100px 100px;
}

.arrow_right {
	float: right;
	margin-right: 15px;
	margin-top: 33px;
}

.ul03{
	height:95px;
	width:100%;

	background-repeat:repeat-x;
	}

.ul04{
	height:95px;
	width:100%;

	background-repeat:repeat-x;
	}

.ul05{
	height:95px;
	width:100%;

	background-repeat:repeat-x;
	}

/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 25px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}
/*列表布局 1.css*/
.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {
    overflow: hidden;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}

/*详情布局 1.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    color: #666;
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
    color:#666;
}

.article-info{
    color: #666;
}
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}
/*------------------------------------- wz.css ------------------------------------------------------*/
#cate1{background-color: #F0F0F0;overflow-x: hidden;}
#cate1 .mainmenu{display: block; margin: 0 auto; padding: 5px; width: 310px;}
#cate1 .mainmenu li{width:50%; float:left; display: block; margin-right: -0.5px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn{display: block; text-decoration:none; color:#000; background-color: #ffffff; border-radius: 5px; margin:5px; box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;}
#cate1 .mainmenu li .menubtn:hover{background-color: #f5f5f5;}
#cate1 .mainmenu li a{display:block; padding:0px; font-size:14px; color: #000000; text-decoration: none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn .menumesg{padding:0px}
#cate1 .mainmenu li .menubtn .menuimg{height:100px; overflow:hidden; border-radius: 5px 5px 0 0; background-color: #F5F5F5;}
#cate1 .mainmenu li div img{border:0; width:100%; min-height:100px; border-radius: 5px 5px 0 0;}
#cate1 .mainmenu li .menutitle{text-align:center; padding: 5px; text-decoration: none; color:#000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*------------------------------------- wz.css end --------------------------------------------------*/