<ul class="round">
    <li class="title">
        <em class="right">
            <?php
            $sta_arr = array(
                '-1' => '<span class="grey">预约不通过</span>',
                '<span class="orange">等待客服确认</span>',
                '<span class="green">客服确认通过</span>',
            );
            echo $order->deleted == 1 ? '<span class="red">用户取消了预约</span>' : $sta_arr[$order->status];
            ?>
        </em>

        <a href="javascript:;">
            我的预约详情
        </a>
    </li>
    <li class="order-status">
        <div class="text">
            <p>联系人：<?php echo $order->username; ?></p>

            <p>联系电话：<?php echo $order->phone; ?></p>

            <p>预约时间 ：<?php echo $order->reserve_date; ?> <?php echo $order->reserve_time; ?></p>

            <p>备注说明：<?php echo $order->remark; ?></p>

            <p>提交时间：<?php echo date('Y年m月d日', $order->created); ?></p>
            <?php
            //|##|25-单选|#|呵呵呵|##|26-多选|#|cc@dd
            if (isset($order->param) && $order->param) {
                $tmp = explode('|##|', $order->param);
                foreach ($tmp as $opt) {
                    if ($opt) {
                        $kv = explode('|#|', $opt);
                        if (isset($kv[0]) && isset($kv[1])) {
                            $id_name = explode('-', $kv[0]);
                            if (isset($id_name[0]) && isset($id_name[1])) {
                                $id = $id_name[0];
                                $param_data[$id]['name'] = $id_name[1];
                                $param_data[$id]['val'] = $kv[1];
                            }
                        }
                    }
                }
            }
            if (isset($param_data) && is_array($param_data)) {
                ?>
                <p class="more">附加选项</p>
                <?php
                foreach ($param_data as $item) {
                    ?>
                    <p>
                        <?php echo $item['name']; ?>：
                        <?php echo str_replace('@', ' ', $item['val']); ?>
                    </p>
                <?php
                }?>
            <?php } ?>
        </div>
        <p class="title">
            <?php if ($order->status == 0 && $order->deleted != 1) { ?>
                <span class="right">
                        <a href="javascript:;" class=" btn btn-orange cancalOrderBtn"
                           data-id="<?php echo \Util\EasyEncrypt::encode($order->id); ?>">取消预约</a>
                    </span>
            <?php } ?>
            审核状态
        </p>
        <?php
        if ($order->deleted == 1) {
            ?>
            <div class="err">
                <p class=""> 您取消了改预约 </p>

                <p class="footReturn">
                    <a href="<?php echo $this->uri->wapModuleUrl('/reserve/editOrder/' . \Util\EasyEncrypt::encode(isset($reserve->id) ? $reserve->id : $order->reserve->id)); ?>"
                       class="submit" style="color:#fff;"
                       id="">修改预约并重新提交</a>
                </p>
            </div>
        <?php
        } else {
            ?>
            <?php
            if ($order->status == 0) {
                ?>
                <div class="wait">
                    <p class=""> 等待客服确认 </p>

                    <p class="footReturn">
                        <a href="<?php echo $this->uri->wapModuleUrl('/reserve/editOrder/' . \Util\EasyEncrypt::encode(isset($reserve->id) ? $reserve->id : $order->reserve->id)); ?>"
                           class="submit" style="color:#fff;"
                           id="">修改预约</a>
                    </p>
                </div>
            <?php } ?>

            <?php
            if ($order->status == 1) {
                ?>
                <p class="success">
                    恭喜您！预约成功，请您于
                    <span class=""><?php echo $order->reserve_date; ?></span>
                    <span class=""><?php echo $order->reserve_time; ?></span>
                    到
                    <span
                        class=""><?php echo isset($reserve->address) ? $reserve->address : $order->reserve->address; ?></span>
                    准时赴约。谢谢！
                </p>
            <?php } ?>
            <?php
            if ($order->status == -1) {
                ?>
                <p class="fail">对不起！预约不成功。不要灰心哦，请继续留意我们最新动态，最新活动，谢谢！</p>
            <?php } ?>
        <?php } ?>

        <script>
            seajs.use('base', function (e) {
                $('.cancalOrderBtn').click(function () {
                    var id = $(this).attr('data-id');
                    var cm = window.confirm('您确认需要取消预约吗？');
                    if (!cm) return;

                    requestApi('<?php echo $this->uri->wapModuleUrl('api/reserve/cancelOrder'); ?>', {id: id}, function (res) {
                        if (res.result == 1) {
                            tip.showTip('ok', '取消预约成功！', 2000);
                            window.location.reload();
                        }
                    });
                });
            });
        </script>
    </li>
</ul>
