<link rel="stylesheet" href="/static/home/pc/reach/css/culture.css"/>
<div class="wrapper">
    <div class="banner"></div>
    <div class="main">
        <div class="culture_left">
            <img src="/static/home/pc/reach/images/culture_pic.png" alt=""/>
        </div><!--culture_left end-->
        <div class="culture_right">
            <div class="word_1">思想超越一步，创新就会超前一步。创新是解放思想的结果，也是对思想 解放成果大小的检验。</div>
            <div class="word_2">诚信是各种商业活动的最佳竞争手段，是市场经济的灵魂，是企业家一张 真正的金质名片。</div>
            <div class="word_3">团队的荣誉感越强，凝聚力也越大。一个成功的团队中，其成员都有强烈 的团队荣誉感与归属感。</div>
            <div class="word_4">人在激情的支持下常能调动身心的巨大潜力。我们呼唤激情是因为我们渴 望实现人生最大的辉煌。</div>
        </div><!--culture_right end-->
        <div class="clear"></div>
    </div><!--main end-->
    <div class="culture_footer">

    </div>
</div><!--wrapper end-->