<div class="container">
    <div class="detail-page">
      <div class="detail-section">
        <h3>基本信息</h3>
        <div class="row detail-row">
          <input id="id" type="hidden" value="{{user.id}}"/>
          <div class="span8">
            <label>用户名：</label><span class="detail-text">{{user.username}}</span>
          </div>
          <div class="span8">
            <label>性别：</label><span class="detail-text">{% if user.gender == 'f' %}女{% elseif user.gender == 'm' %}男{% else %}未知{% endif %}</span>
          </div>
           <div class="span8">
            <label>年龄：</label><span class="detail-text">{{user.age}}</span>
          </div>
        </div>
        <div class="row detail-row">
            <div class="span8">
                <label>头像：</label><span class="detail-text" id="paid_time_box">
                    {% if user.avatar|length > 0 %}<img style="width: 80px; height: 80px;" src="{{user.avatar}}"/>{% else %}无{% endif %}
                </span>
            </div>
            <div class="span8">
                <label class="control-label">所在地：</label>
                <span class="detail-text">
                    {{user.province}} {{user.city}} {{user.town}}
                </span>
                <!--<div class="controls bui-form-group-select"  data-type="city">
                    <select  class="input-small" name="province" value="">
                        <option value="">请选择省</option>
                    </select>
                    <select class="input-small"  name="city" value=""><option value="">请选择市</option></select>
                    <select class="input-small"  name="county" value=""><option value="">请选择县/区</option></select>
                </div>-->
            </div>
            <div class="span8">
                <label>详细地址：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.address}}
                    </span>
                </span>
            </div>
        </div>
      </div>
    <div class="detail-section">
        <h3>联系方式</h3>
        <div class="row detail-row">
            <div class="span8">
                <label>电话：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.qq}}
                    </span>
                </span>
            </div>
            <div class="span8">
                <label>QQ：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.qq}}
                    </span>
                </span>
            </div>
            <div class="span8">
                <label>新浪微博：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.weibo}}
                    </span>
                </span>
            </div>
        </div>
        <div class="row detail-row">
            <div class="span8">
                <label>微信：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.weixin}}
                    </span>
                </span>
            </div>
            <div class="span8">
                <label>支付宝：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.alipay}}
                    </span>
                </span>
            </div>
            <div class="span8">
                <label>淘宝：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.taobao}}
                    </span>
                </span>
            </div>
        </div>
        <div class="row detail-row">
            <div class="span8">
                <label>京东：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.jd}}
                    </span>
                </span>
            </div>
            <div class="span8">
                <label>拍拍：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.paipai}}
                    </span>
                </span>
            </div>
            <div class="span8">
                <label>E-MAIL：</label><span class="detail-text">
                    <span class="detail-text">
                        {{user.email}}
                    </span>
                </span>
            </div>
        </div>
    </div>
      <div class="detail-section">
        <h3>关注的企业</h3>
        <div class="row">
            <div class="span21 offset3 control-row-auto">
                <div id="grid"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    BUI.use('common/page');
    BUI.use(['bui/grid','bui/data','common/search'],function (Grid,Data,Search) {
        var columns = [
                {title : '企业编号',dataIndex :'customer_id', renderer: function(value, obj) {
                    return Search.createLink({
                        id : 'detail' + value,
                        title : '企业详情',
                        text : value,
                        href : '/admin/companies/detail?cid=' + value
                    });
                }},
                {title : '企业名称',dataIndex :'name'},
                {title : '企业账号',dataIndex :'account'},
                {title : '关注时间',dataIndex :'subscribe_time', renderer : function(value, obj) {
                    var seconds = parseFloat(value) * 1000;
                    return BUI.Grid.Format.dateRenderer(seconds);
                }}
            ],
        //默认的数据
            data = [{% if customers is defined and customers|length > 0 %}{% for r in customers %}{'name':'{{r.name}}','account':'{{r.account}}','customer_id':'{{r.customer_id}}','subscribe_time':'{{r.subscribe_time}}'}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}],
            store = new Data.Store({
                data:data
            }),
            grid = new Grid.Grid({
                render : '#grid',
                columns : columns,
                width : 700,
                forceFit : true,
                store : store,
                plugins : [Grid.Plugins.CheckSelection]
            });
        grid.render();

    });
    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true,
            dateMask : 'yyyy-mm-dd'
        });
    });

</script>
