<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label">企业编号：</label>
                    <div class="controls">
                        <input type="text" class="control-text" name="customer_id">
                    </div>
                </div>
                <div class="control-group span8">
                    <label class="control-label">会员名称：</label>
                    <div class="controls">
                        <input type="text" class="control-text" name="name">
                    </div>
                </div>
                <div class="control-group span8">
                    <label class="control-label">性别：</label>
                    <div class="controls" >
                        <select name="industry" id="" name="sex">
                            <option value="">请选择</option>
                            <option value="m">男</option>
                            <option value="f">女</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="control-group span15">
                    <label class="control-label">所在地：</label>
                    <div class="controls bui-form-group-select"  data-type="city">
                        <select  class="input-small" name="province" value="">
                            <option value="">请选择省</option>
                        </select>
                        <select class="input-small"  name="city" value=""><option value="">请选择市</option></select>
                        <select class="input-small"  name="county" value=""><option value="">请选择县/区</option></select>
                    </div>
                </div>-->
                <div class="control-group span9">
                    <label class="control-label">入驻时间：</label>
                    <div class="controls">
                        <input type="text" class="calendar" name="time_start"><span> - </span><input name="time_end" type="text" class="calendar">
                    </div>
                </div>
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>

</div>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript">
    BUI.use('common/search',function (Search) {

        var industries = {"1":"金融","2":"计算机","3":"制造业"},
            activeStatus = {"1":"已激活","0":"未激活"},
            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit'
            }),
            columns = [
                /*{title:'企业编号',dataIndex:'customer_id',width:80,renderer:function(v){
                    return Search.createLink({
                        id : 'detail' + v,
                        title : '会员信息详情',
                        text : v,
                        href : '/admin/user/detail'
                    });
                }},*/
                {title:'头像',dataIndex:'avatar',width:100, renderer: function(value, obj) {
                    if(value && value.length > 0) {
                        return "<img src='" + value + "' style='width: 50px; height: 50px;' />";
                    }
                    else {
                        return "";
                    }
                }},
                {title:'用户昵称',dataIndex:'nickname',width:100},
                {title:'用户姓名',dataIndex:'username',width:100},
                /*{title:'所属平台',dataIndex:'type',width:100, renderer:BUI.Grid.Format.enumRenderer({
                    'wx': "微信平台",
                    'yx': "易信平台"
                })},
                {title:'OPEN ID',dataIndex:'openid',width:100},*/
                {title:'省',dataIndex:'province',width:100},
                {title:'市',dataIndex:'city',width:100},
                {title:'市辖区/镇',dataIndex:'town',width:100},
                {title:'Email',dataIndex:'email',width:100},
                {title:'电话',dataIndex:'phone',width:100},
                {title:'管理',dataIndex:'id',width:100,renderer:function(value, obj){
                    return Search.createLink({
                        id : 'detail' + value,
                        title : '会员信息详情',
                        text : "查看详情",
                        href : '/admin/user/detail?user_id=' + value
                    });
                }}
                /*{title:'入驻时间',dataIndex:'subscribe_time',width:100,renderer:function(value, obj) {
                    var seconds = parseFloat(value) * 1000;
                    return BUI.Grid.Format.dateRenderer(seconds);
                }}*/
            ],
            store = Search.createStore('/admin/user/list', {
                proxy : {
                    method : 'POST'
                },
                pageSize:6
            }),
            gridCfg = Search.createGridCfg(columns,{
                /*tbar : {
                    items : [
                        {text : '<i class="icon-plus"></i>新建', btnCls : 'button button-small',handler:addFunction},
                        {text : '<i class="icon-remove"></i>批量删除', btnCls : 'button button-small',handler : delFunction}
                    ]
                },*/
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

        var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

        function addFunction(){
            var newData = {isNew : true}; //标志是新增加的记录
            editing.add(newData,'name'); //添加记录后，直接编辑
        }

        //删除操作
        function delFunction(){
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items){
            var ids = [];
            BUI.each(items,function(item){
                ids.push(item.id);
            });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>
