<script src="/static/home/yimasou/js/jquery.bxslider.min.js"></script>
<script src="/static/home/yimasou/js/jquery.easing.1.3.js"></script>
<section class="focus">
    <script>
        $(function () {
            var slider = $('.focus .bxslider').bxSlider({
                mode: 'horizontal',
                useCSS: false,
                infiniteLoop: true,
                hideControlOnEnd: true,
                tickerHover: true,
                easing: 'easeInOutBack',
                speed: 1000,
                pager: false,
                controls: false,
                auto: true
            });
            $('.recommend .go-next').live('click', function () {
                slider.goToNextSlide();
            })
        })
    </script>
    <ul class="bxslider" style="margin: 2px 0 0 0;overflow: hidden;">
        <li>
            <img src="/static/home/pc/main/images/focus/4.jpg" alt="">
        </li>
        <li>
            <img src="/static/home/pc/main/images/focus/6.jpg" alt="">
        </li>


    </ul>
</section>
<section class="wrap">
    <div id="function">
        <div class="classify clearfix">
            产品功能主要模块
        </div>
        <ul>
            <li class="list">
                <a href="">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_0.png"></div>
                    <h3>微官网</h3>

                    <div class="info">5分钟轻松建站<br>打造炫酷微官网</div>
                </a></li>

            <li class="list">
                <a href="">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_1.png"></div>
                    <h3>微会员</h3>

                    <div class="info">方便携带 永不挂失<br>消费积分 一卡配备</div>
                </a></li>


            <li class="list">
                <a href="">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_2.png"></div>
                    <h3>微商城</h3>

                    <div class="info">小微信也有大商城<br>电商轻松就能走入微信</div>
                </a></li>


            <li class="list">
                <a href="">
                    <div class="img"><img src="/static/home/pc/main/images/index/bmtool.png"></div>
                    <h3>便民工具</h3>

                    <div class="info">各类查询接口<br>天气,电话,身份证,区号等</div>
                </a></li>

            <li class="list">
                <a href="#360">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_20.png"></div>
                    <h3>360全景</h3>

                    <div class="info">更直观地看产品<br>提高用户体验</div>
                </a></li>


            <li class="list">
                <a href="#02">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_15.png"></div>
                    <h3>自定义菜单</h3>

                    <div class="info">多级菜单导航<br>个性化栏目链接</div>
                </a></li>

            <li class="list">
                <a href="#alipay">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_16.png"></div>
                    <h3>微支付</h3>

                    <div class="info">内嵌微支付接口<br>不需要再跳转其他平台</div>
                </a></li>

            <li class="list">
                <a href="#gua">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_17.png"></div>
                    <h3>刮刮乐</h3>

                    <div class="info">轻轻一刮<br>娱乐奖品同时有</div>
                </a></li>

            <li class="list">
                <a href="#zhuan">
                    <div class="img"><img src="/static/home/pc/main/images/index/i_18.png"></div>
                    <h3>幸运大转盘</h3>

                    <div class="info">转转转<br>转出你的好运气</div>
                </a></li>

            <li class="list">
                <a href="#fruit">
                    <div class="img"><img src="/static/home/pc/main/images/index/lsmax.png"></div>
                    <h3>微留言</h3>

                    <div class="info">手指点一点<br>水果给你送大奖</div>
                </a></li>

        </ul>
        <div class="clear"></div>
    </div>

    <div class="case" style="background: #fff;">
        <div class="classify clearfix">
            主要案例
        </div>
        <div class="case-list">
            <ul>
                <li>
                    <p><img src="/static/home/pc/main/images/case/case1.jpg" alt=""/>
                    </p>

                    <p class="text">智享时代</p>
                </li>
                <li>
                    <p><img src="/static/home/pc/main/images/case/case2.jpg" alt=""/></p>

                    <p class="text">捷明实业</p>
                </li>
                <li>
                    <p><img src="/static/home/pc/main/images/case/case3.jpg" alt=""/></p>

                    <p class="text">盛苑酒家</p>
                </li>
                <li>
                    <p><img src="/static/home/pc/main/images/case/case4.jpg" alt=""/></p>

                    <p class="text">广州行指信息科技</p>
                </li>
                <li>
                    <p><img src="/static/home/pc/main/images/case/case5.jpg" alt=""/></p>

                    <p class="text">汉天下电子</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div style="margin: 20px 0  ;">
        <img src="/static/home/pc/main/images/new/cooperative.png" alt=""/>
    </div>
</section>