<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Single Portfolio Item
                <small>Explain Your Work</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">首页</a>
                </li>
                <li class="active">服务详情</li>
            </ol>
        </div>

    </div>

    <div class="row">

        {% if module is defined %}
        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500">
        </div>

        <div class="col-md-4">

            <h3>{{ module.name }}</h3>

            <p>{{ module.desc }}</p>

            <h3>服务详情</h3>
            <div>
                {{ module.detail }}
            </div>
        </div>
        {% else %}

        {% endif %}

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">热门服务</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </a>
        </div>

    </div>

</div>
<!-- /.container -->