<aside class="sidebar">
    <section class="cats widget">
        <h2 class="title">
            <strong class="name">在线帮助</strong>
        </h2>

        <ul class="list" style="overflow-y:auto;height:525px;">
            {% if articles is defined and articles|length > 0 %}
            {% for item in articles %}
            {% set category = item['category'] %}
            {% if item['articles']|length > 0%}
            <li class="disabled" data-cid="{{category.id}}"><a href="javascript:;">{{category.name}}</a>
                {% for article in item['articles'] %}
            <li class="article" data-cid="{{category.id}}">
                <a href="/home/help/topic?topic={{article.id}}" rel="#2_1">{{article.title}}</a>
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </section>
</aside>
