<main class="wrap">
    <div class="content">
        <?php
        $this->partial('help/base');
        ?>

        <section class="left-section" style="background: #fff;">
            <h1 class="page-header">帮助中心
                <small>
                    [ <a href="/estt/doc/estt-help.doc">文档下载</a> ]
                </small>
            </h1>
            <div class="page-content">
                <p>
                    您可以从帮助中心找到相关的说明文档，如果系统没有提供你想要的帮助文档，请您及时联系我们的客服，以便给您提供更好的服务。
                </p>
            </div>
        </section>

        <div class="clear"></div>
    </div>
</main>