<main class="wrap">
    <div class="content">
        <?php
        $this->partial('help/base');
        ?>

        <section class="left-section" style="background: #fff;">
            <h1 class="page-header">帮助中心
                <small>
                    [ <a href="/estt/doc/estt-help.doc">文档下载</a> ]
                </small>
            </h1>
            <div class="page-content">
                {% if topic is defined %}
                <h2 class="page-title">{{topic.title}}</h2>
                <div class="detail-content">{{topic.content}}</div>
                {% else %}
                {{content()}}
                {% endif %}
            </div>
        </section>

        <div class="clear"></div>
    </div>
</main>