/*** 数字标识E ***/
.color1{background-color: #003366;}
.color2{background-color: #336699;}
.color3{background-color: #3366CC;}
.color4{background-color: #003399;}
.color5{background-color: #000099;}
.color6{background-color: #0000CC;}
.color7{background-color: #000066;}
.color8{background-color: #006666;}
.color9{background-color: #006699;}
.color10{background-color: #0099CC;}
.color11{background-color: #0066CC;}
.color12{background-color: #0033CC;}
.color13{background-color: #0000FF;}
.color14{background-color: #3333FF;}
.color15{background-color: #333399;}
.color16{background-color: #669999;}
.color17{background-color: #009999;}
.color18{background-color: #33CCCC;}
.color19{background-color: #00CCFF;}
.color20{background-color: #0099FF;}
.color21{background-color: #0066FF;}
.color22{background-color: #3366FF;}
.color23{background-color: #3333CC;}
.color24{background-color: #666699;}
.color25{background-color: #339966;}
.color26{background-color: #00CC99;}
.color27{background-color: #00FFCC;}
.color28{background-color: #00FFFF;}
.color29{background-color: #33CCFF;}
.color30{background-color: #3399FF;}
.color31{background-color: #6699FF;}
.color32{background-color: #6666FF;}
.color33{background-color: #6600FF;}
.color34{background-color: #6600CC;}
.color35{background-color: #339933;}
.color36{background-color: #00CC66;}
.color37{background-color: #00FF99;}
.color38{background-color: #66FFCC;}
.color39{background-color: #66FFFF;}
.color40{background-color: #66CCFF;}
.color41{background-color: #99CCFF;}
.color42{background-color: #9999FF;}
.color43{background-color: #9966FF;}
.color44{background-color: #9933FF;}
.color45{background-color: #9900FF;}
.color46{background-color: #006600;}
.color47{background-color: #00CC00;}
.color48{background-color: #00FF00;}
.color49{background-color: #66FF99;}
.color50{background-color: #99FFCC;}
.color51{background-color: #CCFFFF;}
.color52{background-color: #CCCCFF;}
.color53{background-color: #CC99FF;}
.color54{background-color: #CC66FF;}
.color55{background-color: #CC33FF;}
.color56{background-color: #CC00FF;}
.color57{background-color: #9900CC;}
.color58{background-color: #003300;}
.color59{background-color: #009933;}
.color60{background-color: #33CC33;}
.color61{background-color: #66FF66;}
.color62{background-color: #99FF99;}
.color63{background-color: #CCFFCC;}
.color64{background-color: #FFFFFF;}
.color65{background-color: #FFCCFF;}
.color66{background-color: #FF99FF;}
.color67{background-color: #FF66FF;}
.color68{background-color: #FF00FF;}
.color69{background-color: #CC00CC;}
.color70{background-color: #660066;}
.color71{background-color: #336600;}
.color72{background-color: #009900;}
.color73{background-color: #66FF33;}
.color74{background-color: #99FF66;}
.color75{background-color: #CCFF99;}
.color76{background-color: #FFFFCC;}
.color77{background-color: #FFCCCC;}
.color78{background-color: #FF99CC;}
.color79{background-color: #FF66CC;}
.color80{background-color: #FF33CC;}
.color81{background-color: #CC0099;}
.color82{background-color: #993399;}
.color83{background-color: #333300;}
.color84{background-color: #669900;}
.color85{background-color: #99FF33;}
.color86{background-color: #CCFF66;}
.color87{background-color: #FFFF99;}
.color88{background-color: #FFCC99;}
.color89{background-color: #FF9999;}
.color90{background-color: #FF6699;}
.color91{background-color: #FF3399;}
.color92{background-color: #CC3399;}
.color93{background-color: #990099;}
.color94{background-color: #666633;}
.color95{background-color: #99CC00;}
.color96{background-color: #CCFF33;}
.color97{background-color: #FFFF66;}
.color98{background-color: #FFCC66;}
.color99{background-color: #FF9966;}
.color100{background-color: #FF6666;}
.color101{background-color: #FF0066;}
.color102{background-color: #CC6699;}
.color103{background-color: #993366;}
.color104{background-color: #999966;}
.color105{background-color: #CCCC00;}
.color106{background-color: #FFFF00;}
.color107{background-color: #FFCC00;}
.color108{background-color: #FF9933;}
.color109{background-color: #FF6600;}
.color110{background-color: #FF5050;}
.color111{background-color: #CC0066;}
.color112{background-color: #660033;}
.color113{background-color: #996633;}
.color114{background-color: #CC9900;}
.color115{background-color: #FF9900;}
.color116{background-color: #CC6600;}
.color117{background-color: #FF3300;}
.color118{background-color: #FF0000;}
.color119{background-color: #CC0000;}
.color120{background-color: #990033;}
.color121{background-color: #663300;}
.color122{background-color: #996600;}
.color123{background-color: #CC3300;}
.color124{background-color: #993300;}
.color125{background-color: #990000;}
.color126{background-color: #800000;}
.color127{background-color: #993333;}
.btn-color1{border: 1px solid #002953; background: #003b7f;}
.btn-color2{border: 1px solid #2c507c; background: #3977b0;}
.btn-color3{border: 1px solid #2e5db9; background: #336fd5;}
.btn-color4{border: 1px solid #002d81; background: #003cb5;}
.btn-color5{border: 1px solid #00007c; background: #0000c4;}
.btn-color6{border: 1px solid #0000a2; background: #0000fb;}
.btn-color7{border: 1px solid #0000da; background: #0000a8;}
.btn-color8{border: 1px solid #006060; background: #009a9a;}
.btn-color9{border: 1px solid #004d77; background: #007fba;}
.btn-color10{border: 1px solid #0078a2; background: #00afe8;}
.btn-color11{border: 1px solid #005db9; background: #0079e7;}
.btn-color12{border: 1px solid #0028a2; background: #1945c6;}
.btn-color13{border: 1px solid #081195; background: #1425f8;}
.btn-color14{border: 1px solid #2626b6; background: #384dff;}
.btn-color15{border: 1px solid #2a2a87; background: #3d3db9;}
.btn-color16{border: 1px solid #568383; background: #7ab8b8;}
.btn-color17{border: 1px solid #008484; background: #00bfbf;}
.btn-color18{border: 1px solid #28a1a1; background: #53e3ea;}
.btn-color19{border: 1px solid #0092b6; background: #00c2f0;}
.btn-color20{border: 1px solid #0079c8; background: #11b0ff;}
.btn-color21{border: 1px solid #0053d1; background: #1170f0;}
.btn-color22{border: 1px solid #2a50c7; background: #3d74ed;}
.btn-color23{border: 1px solid #262699; background: #3939f3;}
.btn-color24{border: 1px solid #53537e; background: #7d7dbb;}
.btn-color25{border: 1px solid #2b8358; background: #3ab076;}
.btn-color26{border: 1px solid #00a87e; background: #0fe8ba;}
.btn-color27{border: 1px solid #00bb94; background: #0deeb2;}
.btn-color28{border: 1px solid #00c1c1; background: #0be8df;}
.btn-color29{border: 1px solid #289fc7; background: #3adbf9;}
.btn-color30{border: 1px solid #2676c5; background: #3c98e5;}
.btn-color31{border: 1px solid #5176c7; background: #7ca1ff;}
.btn-color32{border: 1px solid #4747ad; background: #7574ff;}
.btn-color33{border: 1px solid #4c00bd; background: #741cff;}
.btn-color34{border: 1px solid #410085; background: #7b00f0;}
.btn-color35{border: 1px solid #277727; background: #39b039;}
.btn-color36{border: 1px solid #00a955; background: #00de74;}
.btn-color37{border: 1px solid #00c476; background: #36ee9a;}
.btn-color38{border: 1px solid #4cbb95; background: #62e9b7;}
.btn-color39{border: 1px solid #49b9b9; background: #77e6e8;}
.btn-color40{border: 1px solid #4a94ba; background: #75cbf2;}
.btn-color41{border: 1px solid #82add8; background: #a2c8ec;}
.btn-color42{border: 1px solid #8383dd; background: #8596ee;}
.btn-color43{border: 1px solid #734abd; background: #8c6ff0;}
.btn-color44{border: 1px solid #6823af; background: #9e54ff;}
.btn-color45{border: 1px solid #7600c6; background: #a443fb;}
.btn-color46{border: 1px solid #005400; background: #008a00;}
.btn-color47{border: 1px solid #00a000; background: #24e020;}
.btn-color48{border: 1px solid #00af00; background: #05d700;}
.btn-color49{border: 1px solid #43a562; background: #71e293;}
.btn-color50{border: 1px solid #73bf97; background: #93e6c2;}
.btn-color51{border: 1px solid #a7cfcf; background: #c1ebe2;}
.btn-color52{border: 1px solid #9f9fc8; background: #c0cde8;}
.btn-color53{border: 1px solid #ab82d7; background: #c5a3ea;}
.btn-color54{border: 1px solid #a354cc; background: #ba72f0;}
.btn-color55{border: 1px solid #a029c9; background: #be46f6;}
.btn-color56{border: 1px solid #aa00d3; background: #b923ef;}
.btn-color57{border: 1px solid #8300af; background: #b500f0;}
.btn-color58{border: 1px solid #002b00; background: #005500;}
.btn-color59{border: 1px solid #007f29; background: #00b43d;}
.btn-color60{border: 1px solid #28a128; background: #41d32e;}
.btn-color61{border: 1px solid #57d257; background: #73f260;}
.btn-color62{border: 1px solid #75c175; background: #7ee58a;}
.btn-color63{border: 1px solid #93ba93; background: #aaf0b2;}
.btn-color64{border: 1px solid #cccccc; background: #f0f0f0;}
.btn-color65{border: 1px solid #d2a8d2; background: #ebcdeb;}
.btn-color66{border: 1px solid #d982d9; background: #e19df1;}
.btn-color67{border: 1px solid #d354d3; background: #e66cf0;}
.btn-color68{border: 1px solid #ca00ca; background: #df14e7;}
.btn-color69{border: 1px solid #a900a9; background: #de00de;}
.btn-color70{border: 1px solid #5d005d; background: #810081;}
.btn-color71{border: 1px solid #2c5900; background: #428300;}
.btn-color72{border: 1px solid #007d00; background: #00b500;}
.btn-color73{border: 1px solid #49b625; background: #83f042;}
.btn-color74{border: 1px solid #73c04d; background: #a4f06e;}
.btn-color75{border: 1px solid #a1c979; background: #bfef98;}
.btn-color76{border: 1px solid #cacaa2; background: #eaf3cb;}
.btn-color77{border: 1px solid #d3a8a8; background: #edcbce;}
.btn-color78{border: 1px solid #bf7299; background: #ee9cc3;}
.btn-color79{border: 1px solid #c64f9e; background: #f570d5;}
.btn-color80{border: 1px solid #c6289e; background: #ec47cf;}
.btn-color81{border: 1px solid #a4007b; background: #e200aa;}
.btn-color82{border: 1px solid #782878; background: #b83db8;}
.btn-color83{border: 1px solid #1f1f00; background: #474700;}
.btn-color84{border: 1px solid #446600; background: #77b200;}
.btn-color85{border: 1px solid #73c027; background: #9cea4a;}
.btn-color86{border: 1px solid #9dc44f; background: #ccf276;}
.btn-color87{border: 1px solid #bcbc71; background: #deea95;}
.btn-color88{border: 1px solid #cda47b; background: #eccb9d;}
.btn-color89{border: 1px solid #d17d7d; background: #f399a6;}
.btn-color90{border: 1px solid #c64f77; background: #d66586;}
.btn-color91{border: 1px solid #c72878; background: #e64490;}
.btn-color92{border: 1px solid #b42d87; background: #e73aad;}
.btn-color93{border: 1px solid #7d007d; background: #bf00bf;}
.btn-color94{border: 1px solid #4a4a25; background: #808040;}
.btn-color95{border: 1px solid #79a100; background: #a8dd0f;}
.btn-color96{border: 1px solid #9cc327; background: #c9f144;}
.btn-color97{border: 1px solid #aeae46; background: #e8e56c;}
.btn-color98{border: 1px solid #c09a4c; background: #f4d37b;}
.btn-color99{border: 1px solid #b36b48; background: #f6a37c;}
.btn-color100{border: 1px solid #c14d4d; background: #e86d70;}
.btn-color101{border: 1px solid #d20054; background: #e81d62;}
.btn-color102{border: 1px solid #a15179; background: #e573ac;}
.btn-color103{border: 1px solid #7f2b54; background: #b73d7a;}
.btn-color104{border: 1px solid #868659; background: #acac73;}
.btn-color105{border: 1px solid #9e9e00; background: #e4d80d;}
.btn-color106{border: 1px solid #adad00; background: #d4da14;}
.btn-color107{border: 1px solid #c79f00; background: #dfb419;}
.btn-color108{border: 1px solid #bf7326; background: #ee9340;}
.btn-color109{border: 1px solid #be4c00; background: #ef6810;}
.btn-color110{border: 1px solid #cf4141; background: #f1606a;}
.btn-color111{border: 1px solid #b10059; background: #e00070;}
.btn-color112{border: 1px solid #540029; background: #7e003f;}
.btn-color113{border: 1px solid #785028; background: #b0753b;}
.btn-color114{border: 1px solid #af8300; background: #dda600;}
.btn-color115{border: 1px solid #c77700; background: #f39314;}
.btn-color116{border: 1px solid #b15900; background: #e87500;}
.btn-color117{border: 1px solid #c62800; background: #e73414;}
.btn-color118{border: 1px solid #b30000; background: #d50000;}
.btn-color119{border: 1px solid #b30000; background: #d50000;}
.btn-color120{border: 1px solid #81002d; background: #a90036;}
.btn-color121{border: 1px solid #602f00; background: #783900;}
.btn-color122{border: 1px solid #845600; background: #aa7200;}
.btn-color123{border: 1px solid #ad2c00; background: #dd3700;}
.btn-color124{border: 1px solid #802b00; background: #b33900;}
.btn-color125{border: 1px solid #8c0000; background: #ac0000;}
.btn-color126{border: 1px solid #700000; background: #a00324;}
.btn-color127{border: 1px solid #892b2b; background: #b03a3a;}
