<?php
use Components\TplManager;
use Multiple\Wap\Helper\SiteData;

$phone = SiteData::init()->getSite('phone');
?>
<?php
TplManager::init(CUR_APP_ID)->render('menu', 'header');
?>

<?php TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe'); ?>

<div id="container" class="container">

    <div style="background: #fff;padding:  0 0 5px 0 ;">

        <div class="phone-call"><a href="tel:<?php echo $phone; ?>"
                                   class="btn phone-btn icon-phone"><?php echo $phone; ?></a></div>

        <?php $this->partial('index/partial/part'); ?>

        <div class="clear"></div>
    </div>

</div>