<?php
use Components\TplManager;
use Models\Shop\Shop;

TplManager::init(CUR_APP_ID)->baseTpl('slider/swipe');
$store = Shop::findFirst('customer_id=' . CUR_APP_ID . ' AND  enable=1 ');
$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');
$store = $store ? $store->toArray() : [];
?>
<style>
    body {
        background: url(http://bcs.duapp.com/baeimg/1joroYYvQI.jpg) no-repeat scroll 0 bottom #530337; /*修改图片路径*/
        background-size: 100% 100%;
    }
</style>
<div id="cate9">
    <div class="catemenu">
        <ul>
            <?php foreach ($navs as $item) { ?>
                <li>
                    <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>"><?php echo $item['name'] ?></a>
                </li>
            <?php } ?>
            <div class="clr"></div>
        </ul>
    </div>


    <div class="copyright">
    </div>
</div>

