<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            编辑预约类型
        </small>
        <span class="right">
            <a href="javascript:;"
               data-url="<?php echo $this->uri->appUrl('/addon/reserve/detail/' . \Util\EasyEncrypt::encode($reserve->id)); ?>"
               class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </span>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->
        <form enctype="multipart/form-data" name="edit_reserve" id="edit_reserve" role="form" data-toggle="validator"
              class="form-horizontal" method="post" action="/panel/addon/reserve/reserve/editReserve">
            <input name="reserve_id" id="reserve_id" value="<?php echo $reserve->id; ?>" type="hidden"/>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">预约名称</label>
					<span class="col-sm-5">
						<input name="name" id="name" value="<?php echo $reserve->name; ?>" class="form-control"
                               data-error="图文消息标题必须填写" placeholder="图文消息标题"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">图文封面</label>
					<span class="col-sm-8">
	 
                        <span class="col-xs-5" style="margin: 0 0 0 -12px;">

                            <span class="input-group">

                                <span class="input-group-addon"><i class="icon icon-picture"></i></span>

                                <input type="text" class="form-control img" id="titlePic" name="title_pic"
                                       placeholder="" readonly

                                       value="<?php echo $reserve->title_pic; ?>"

                                       data-error="" maxlength="255">

                                <a class="input-group-addon" id="upNewsImage" href="javascript:;">选择图片</a>

                            </span>

                        </span>
	 
                        <span class="col-xs-3 pic-review">
	 
                            <img class="preview-brand" id="titlePic-preview" src="<?php echo $reserve->title_pic; ?>"
                                 alt="" style="height: 32px;"/>
	 
                        </span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">预约地址</label>
					<span class="col-sm-5">
						<input name="address" id="address" value="<?php echo $reserve->address; ?>" class="form-control"
                               data-error="预约地址必须填写" placeholder="预约地址"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">预约电话</label>
					<span class="col-sm-5">
						<input onblur="isPhone(this);" value="<?php echo $reserve->tel; ?>" name="tel" id="tel"
                               class="form-control input-mask-phone" data-error="预约地址必须填写" placeholder="预约电话"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">预约头部图片</label>
					<span class="col-sm-8">
	 
                        <span class="col-xs-5" style="margin: 0 0 0 -12px;">
	 
                            <span class="input-group">
	 
                                <span class="input-group-addon"><i class="icon icon-picture"></i></span>
	 
                                <input type="text" class="form-control img" id="infoPic" name="info_pic" placeholder=""
                                       readonly

                                       value="<?php echo $reserve->info_pic; ?>"

                                       data-error="" maxlength="255">
	 
                                <a class="input-group-addon" id="upInfoPic" href="javascript:;">选择图片</a>
	 
                            </span>
	 
                        </span>
	 
                        <span class="col-xs-3 pic-review">
	 
                            <img class="preview-brand" id="infoPic-preview" src="<?php echo $reserve->info_pic; ?>"
                                 alt="" style="height: 32px;"/>
	 
                        </span>
	 
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">预约详情</label>
					<span class="col-sm-5">
						<textarea name="info" id="info" value="<?php echo $reserve->info; ?>" class="form-control"
                                  data-error="预约地址必须填写" placeholder="预约详情"/><?php echo $reserve->info; ?></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">开始日期</label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" readonly value="<?php echo $reserve->start_date; ?>"
                               id="start_date" name="start_date" type="text"
                               value="<?php echo !empty($number->startdate) ? date('Y-m-d', $number->startdate) : date('Y-m-d', time()); ?>"
                               data-date-format="yyyy-mm-dd"/><span class="input-group-addon"><i
                                class="icon-calendar bigger-110"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">结束日期</label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" readonly value="<?php echo $reserve->end_date; ?>"
                               id="end_date" name="end_date" type="text"
                               value="<?php echo !empty($number->enddate) ? date('Y-m-d', $number->enddate) : date('Y-m-d', strtotime("+1year")); ?>"
                               data-date-format="yyyy-mm-dd"/><span class="input-group-addon"><i
                                class="icon-calendar bigger-110"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">每日限定人数</label>

                <div class="col-sm-5">
                    <input onblur="isNum(this);" name="limit_num" value="<?php echo $reserve->limit_num; ?>"
                           id="limit_num" class="form-control" placeholder="预约数限制"/>
                </div>
                <div class="col-sm-5" style="margin-top:7px;">注:0或者为空表示无限制</div>
            </div>
            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script type="text/javascript">
    function fillData(classname, val) {
        $('.' + classname).html(val);
    }
    function choosePic(id) {
        $('#' + id).trigger('click');
    }
    function saveReserve() {
        $("#edit_reserve").submit();
    }
    function isPhone(obj) {
        var s = $(obj).val();
        var patrn = /^(1[\d]{10})|(((400)-(\d{3})-(\d{4}))|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{3,7})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/g;
        if (!patrn.exec(s)) {
            alert('请输入正确的电话号码!');
        }
    }
    function isNum(obj) {
        var s = $(obj).val();
        var patrn = /^([0-9]|[-])+$/g;
        if (!patrn.exec(s)) {
            alert('请输入正确的数值!');
            $(obj).val('');
        }
    }
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
    jQuery(function ($) {
        $('.date-picker').datepicker({
            autoclose: true,
            startDate: "<?php echo date('Y-m-d') ; ?>"
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $(document).ready(function () {

            //上传缩略图
            seajs.use(['app/panel/panel.storage', 'app/app.editor'], function (store, editor) {
                store.getImg('#upNewsImage', function (res) {
                    $('#titlePic').val(res.url);
                    $('#titlePic-preview').attr('src', res.url);

                });


                store.getImg('#upInfoPic', function (res) {

                    $('#infoPic').val(res.url);

                    $('#infoPic-preview').attr('src', res.url);

                });

            });

        });

    });
</script>
<style>
    .title_pic, .info_pic {
        padding-left: 28px;
    }
</style>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/reserve'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>