<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            编辑订单
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->
        <form onsubmit="return editOrder(<?php echo $reserveOrder->id; ?>)" enctype="multipart/form-data"
              name="edit_reserve_order" id="edit_reserve_order" role="form" data-toggle="validator"
              class="form-horizontal">
            <?php
            foreach ($reservecolumn as $key => $value) {
                $k = $value['id'];
                if (!isset($data[$k])) continue;
                switch ($value['column_type']) {
                    case 'input':
                        echo '<div class="form-group"><label for="name" class="col-sm-2 control-label">' . $value['column_name'] . '</label><span class="col-sm-5"><input class="input" name="keyword" data="' . $value['id'] . '" value="' . $data[$k] . '" class="form-control"/><span class="help-block with-errors"></span></span></div>';
                        //echo '<dd><span class="name">'.$value['column_name'].':</span><input style="width:65%;" value="'.$data[$k].'" class="input" type="text" data="'.$value['id'].'" /></dd>';
                        break;
                    case 'textarea':
                        echo '<div class="form-group"><label for="creator" class="col-sm-2 control-label">' . $value['column_name'] . ':</label><div class="col-sm-5"><textarea value="' . $data[$k] . '" data="' . $value['id'] . '" class="input" row=3 col=3 >' . $data[$k] . '</textarea></div></div>';
                        break;
                    case 'single':
                        $single = '<div class="form-group"><label for="creator" class="col-sm-2 control-label">' . $value['column_name'] . '</label><div class="col-sm-5"><select class="input" class="form-control" id="user_id" name="user_id">';
                        $data2 = explode('-', $value['data']);
                        foreach ($data2 as $k2 => $v2) {
                            if ($v2 == $data[$k]) {
                                $single .= '<option selected>' . $v2 . '</option>';
                                continue;
                            }
                            $single .= '<option>' . $v2 . '</option>';
                        }
                        $single .= '</select> </div></div>';
                        echo $single;
                        break;
                    case 'multi':
                        $multi = '<div class="form-group"><label for="creator" class="col-sm-2 control-label">' . $value['column_name'] . ':</label><div class="col-sm-5">';
                        $data_multi = explode('-', $value['data']);
                        $items = explode('-', $data[$k]);

                        foreach ($data_multi as $k => $v) {
                            if (in_array($v, $items)) $multi .= '<input checked data="' . $value['id'] . '" class="input" type="checkbox" value="' . $v . '" />' . $v;
                            else $multi .= '<input data="' . $value['id'] . '" class="input" type="checkbox" value="' . $v . '" />' . $v;
                        }
                        $multi .= '</div></div>';
                        echo $multi;
                        break;
                    case 'date':
                        echo '<div class="form-group"><label for="creator" class="col-sm-2 control-label">' . $value['column_name'] . '</label><div class="col-sm-5"><div class="input-group"><input class="form-control date-picker input" data="' . $value['id'] . '" value="' . $data[$k] . '" id="start_date" name="start_date" type="text" data-date-format="yyyy-mm-dd" /><span class="input-group-addon"><i class="icon-calendar bigger-110"></i></span></div></div></div>';
                        break;
                    case 'time':
                        echo '<div class="form-group"><label for="creator" class="col-sm-2 control-label">' . $value['column_name'] . ':</label><div class="col-sm-5"><select onfocus="insertOption(this);" class="input" type="time" data="' . $value['id'] . '">' .
                            '<option>' . $data[$k] . '</option>' .
                            '</select> </div></div>';
                        break;
                    default:
                        break;
                }
            }
            ?>
            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <button class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<script type="text/javascript">
    function editOrder(id) {
        var data = '';
        var id = id;
        var mark = 1;
        var index1 = '';
        $('.input').each(function () {
            var val = $(this).val();
            var title = $(this).attr("data");
            var index2 = title;
            if ($.trim(val) == '') {
                mark = 0;
                $('#dialog3').dialog('open');
                return;
            }

            if ($(this).attr('type') == 'checkbox' && $(this).attr('checked')) {
                if (index1 == index2) {
                    data += '-' + val;
                    index1 = index2;
                }
                else {
                    data += '|' + title + '|' + val;
                    index1 = index2;
                }
            }
            else {
                if ($(this).attr('type') != 'checkbox') {
                    data += '|' + title + '|' + val;
                }
            }

        });

        $.post('/api/addon/reserve/editOrder', {id: id, data: data}, function (data) {
            if (data == 0) alert('操作失败!');
            else history.go(-1);
        });

        return false;
    }
    function isNum(obj) {
        var s = $(obj).val();
        var patrn = /^([0-9]|[-])+$/g;
        if (!patrn.exec(s)) {
            alert('请输入正确的电话号码!');
            $(obj).val('');
        }
    }
    function insertOption(obj) {
        $(obj).html('<option>01:00~02:00</option>' +
        '<option>02:00~03:00</option>' +
        '<option>03:00~04:00</option>' +
        '<option>04:00~05:00</option>' +
        '<option>05:00~06:00</option>' +
        '<option>06:00~07:00</option>' +
        '<option>07:00~08:00</option>' +
        '<option>09:00~10:00</option>' +
        '<option>10:00~11:00</option>' +
        '<option>11:00~12:00</option>' +
        '<option>12:00~13:00</option>' +
        '<option>13:00~14:00</option>' +
        '<option>14:00~15:00</option>' +
        '<option>15:00~16:00</option>' +
        '<option>16:00~17:00</option>' +
        '<option>17:00~18:00</option>' +
        '<option>18:00~19:00</option>' +
        '<option>19:00~20:00</option>' +
        '<option>20:00~21:00</option>' +
        '<option>21:00~22:00</option>' +
        '<option>22:00~23:00</option>' +
        '<option>23:00~24:00</option>');
    }
    jQuery(function ($) {

        $('.date-picker').datepicker({autoclose: true}).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

    });
</script>
<style>
    .titlePic, .infoPic {
        padding-left: 28px;
    }
</style>
