<div class="page-header">
    <h1>预约管理
        <small class="right">
            <a href="/panel/addon/reserve/reserve/addReserve" class="btn btn-sm btn-primary">新增预约</a>
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    seajs.use('app/module/module.reserve', function (n) {
        n.pubReserve('.pubBtn');
        n.delReserve('.delBtn');
        n.delAllReserve(".delAllSelected");
    });
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
</script>
<table id="article-list" class='list'>
    <thead>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th>预约名称</th>
        <th style="width: 60px;">预约电话</th>
        <th style="width: 260px;">预约地址</th>
        <th style="width: 86px;">每日订单限制</th>
        <th style="width: 140px;">开始结束时间</th>
        <th style='width:80px'>编辑预约</th>
        <th style='width:80px'>预约选项</th>
        <th style='width:80px'>是否发布</th>
        <th style='width:50px'>删除</th>
    </tr>
    </thead>
    <tbody class="listData">
    <?php if ($list) {
        foreach ($list as $item) {
            $url = $this->uri->appUrl('/addon/reserve/detail/' . \Util\EasyEncrypt::encode($item['id']));
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <td title="">
                    [<a
                        href="/panel/addon/reserve/reserve/orderManagement?id=<?php echo $item['id'] ?>">
                        查看订单
                    </a>]

                    <a href="javascript:;" class="preview-app" title="点击预览"
                       data-url="<?php echo $url; ?>"><?php echo $item['name'] ?>
                    </a>
                </td>
                <td class="center"><?php echo $item['tel'] ?></td>
                <td class="center"><?php echo $item['address'] ?></td>
                <td class="center"><?php if ($item['limit_num'] == 0 || $item['limit_num'] == '') {
                        echo '无限制';
                    } else {
                        echo $item['limit_num'];
                    } ?></td>
                <td class="center"><?php if ($item['start_date'] != '0000-00-00' && $item['end_date'] != '0000-00-00') {
                        echo $item['start_date'] . '~~' . $item['end_date'];
                    } else {
                        echo '无限期';
                    } ?></td>
                <td class="center">
                    <a class="item-edit"
                       href="/panel/addon/reserve/reserve/editReserve?id=<?php echo $item['id'] ?>">编辑预约</a>
                </td>
                <td class="center">
                    <a class="item-setting"
                       href="/panel/addon/reserve/reserve/orderSetting?id=<?php echo $item['id'] ?>">附加选项</a>
                </td>
                <td class="center">
                    <?php if ($item['is_active'] == 0) { ?>
                        <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                           data-id="<?php echo $item['id']; ?>">发布</a>
                    <?php } else { ?>
                        <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                           data-status="0">取消发布</a>
                    <?php } ?>
                </td>
                <td class="center">
                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
                </td>
            </tr>
        <?php
        }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="">
        <th class="name">新增</th>
        <td colspan="10">
            <a href="/panel/addon/reserve/reserve/addReserve">新增预约功能 ></a> (最多可以创建10条数据)
        </td>
    </tr>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="10">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                </span>
        </td>
    </tr>

</table>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/reserve'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>