<?php
use Util\EasyEncrypt;

$id = $this->request->get('id');

?>
<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            预约附加选项设置
        </small>
    </h1>
</div>

<?php if ($all_reserve) { ?>
    <div class="" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    请选择预约：
    <select name="" id="reserveOpt">
        <option value="">==请选择预约==</option>
        <?php foreach ($all_reserve as $opt) {
            ?>
            <option
                value="<?php echo $opt['id']; ?>" <?php echo $id == $opt['id'] ? "selected" : ""; ?>><?php echo $opt['name']; ?></option>
        <?php } ?>
    </select>
    <?php if ($reserve) { ?>
        <span class="red">
        [ <a href="javascript:;" class="preview-app" title="点击预览"
             data-url="<?php echo $this->uri->appUrl('/addon/reserve/detail/' . EasyEncrypt::encode($reserve['id'])); ?>">预览</a> ]
    </span>
        <span class="right"><a
                href="/panel/addon/reserve/reserve/editReserve?id=<?php echo $reserve['id']; ?>">查看并编辑</a></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="list">
                        <tr class="showpage">
                            <td colspan="9"><b class="orange">固有信息选项</b>（用户申请预约时必填内容选项）</td>
                        </tr>
                        <tbody>
                        <tr>
                            <td>单行文字</td>
                            <td>联系人</td>
                            <td colspan="4"></td>

                        </tr>
                        <tr>
                            <td>单行文字</td>
                            <td>手机号</td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>日期类型</td>
                            <td>预约日期</td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>时间类型</td>
                            <td>预约时间</td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>多行文本</td>
                            <td>备注说明</td>
                            <td colspan="4"></td>
                        </tr>
                        </tbody>
                        <tr class="showpage">
                            <td colspan="9">
                            <span class="right"><a href="javascript:;"
                                                   class="addOptionBtn btn-primary btn btn-sm">新增选项</a></span>
                                <b class="green">商家附加选项</b>(您可以自己添加一个或多个用于用户填写预约信息时候填写更多多样化有意义的内容)
                            </td>
                        </tr>
                        <tr class="head">
                            <th>选项类型</th>
                            <th>选项名称</th>
                            <th>初始内容</th>
                            <th style="width: 80px;">修改</th>
                            <th style="width: 80px;">启用</th>
                            <th style="width: 60px;">删除</th>
                        </tr>
                        <?php if ($columns){ ?>
                        <tbody class="listData">
                        <?php foreach ($columns as $item) {
                            $_toTypeName = array(
                                'input' => '单行文字',
                                'text' => '多行文字',
                                'single' => '单选项',
                                'multi' => '多选项',
                            );
                            ?>
                            <tr class="item" data-id="<?php echo $item['id']; ?>">
                                <td><?php echo $_toTypeName[$item['column_type']]; ?></td>
                                <td><?php echo $item['column_name']; ?></td>
                                <td><?php echo $item['column_data']; ?></td>
                                <td class="center">
                                    <a href="javascript:;" class='upBtn'
                                       data-id="<?php echo $item['id']; ?>"
                                       data-column_type="<?php echo $item['column_type']; ?>"
                                       data-column_name="<?php echo $item['column_name']; ?>"
                                       data-column_data="<?php echo $item['column_data']; ?>">修改</a>
                                </td>
                                <td class="center">
                                    <?php if ($item['is_active'] == 0) { ?>
                                        <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                                           data-id="<?php echo $item['id']; ?>">发布</a>
                                    <?php } else { ?>
                                        <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                                           data-status="0">取消发布</a>
                                    <?php } ?>
                                </td>
                                <td class="center">
                                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
                                </td>
                            </tr>
                        <?php
                        }
                        } else {
                            ?>
                            <tr>
                                <td colspan="9">
                                    <p style="margin: 20px;color:#f00;"> 暂无自定义项 </p>
                                </td>
                            </tr>
                        <?php } ?>
                        <tr class="">
                            <th class="name">新增一栏</th>
                            <td colspan="10">
                                <a href="javascript:;" class="addOptionBtn">新增预约选项 ></a> (最多可以创建10条数据)
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /span -->
        </div>

        <main class="popup-wrap" id="optionPopup">
            <section class="popup-widget" id="optionWidget">
                <header class="popup-head">预约功能附加选项设置<span class="popup-close">x</span></header>
                <main class="popup-content">
                    <div class="field choose-type-selc">
                        <label class="field-label">选项类型：</label>

                        <select class="select-option-type selc" name="type">
                            <option value="input">单行文字</option>
                            <option value="text">多行文字</option>
                            <option value="single">单选项</option>
                            <option value="multi">多选项</option>
                        </select>
                    </div>

                    <section class="rock-area">
                        <div id="option-input" class="option" data-type="input">
                            <h4 class="option-title">单行文字</h4>

                            <div class="field set-field">
                                <label for="" class="field-label">字段名称：</label>
                                <input type="text" class="column_name" value="">
                                <span class="help-inline"><i class="red">*</i> (如年龄，爱好)</span>
                            </div>

                            <div class="field set-field">
                                <label for="" class="field-label">默认数据：</label>
                                <input type="text" class="column_data" value="">
                                <span class="help-inline">(一般设为空)</span>
                            </div>
                        </div>

                        <div id="option-text" class="option" style="display: none;" data-type="text">
                            <h4 class="option-title">多行文字</h4>

                            <div class="field set-field">
                                <label for="" class="field-label">字段名称：</label>
                                <input type="text" class="column_name" value="">
                                <span class="help-inline"><i class="red">*</i> (如个人描述)</span>
                            </div>

                            <div class="field set-field">
                                <label for="" class="field-label">默认数据：</label>
                                <input type="text" class="column_data" value="">
                                <span class="help-inline">(一般设为空)</span>
                            </div>
                        </div>

                        <div id="option-single" class="option" style="display: none;" data-type="single">
                            <h4 class="option-title">单选项</h4>

                            <div class="field set-field">
                                <label for="" class="field-label">字段名称：</label>
                                <input type="text" class="column_name" value="">
                                <span class="help-inline"><i class="red">*</i> (如性别)</span>
                            </div>

                            <div class="field set-field">
                                <label for="" class="field-label">选项列表：</label>
                                <input type="text" value="" class="column_data"/>
                                <span class="tip"><i class="red">*</i> (选项列表请用"-"隔开)</span>

                                <p style="margin: 6px 0 0 62px;">
                                    <span class="tip">(例如：请在上面填写如"男-女-保密"隔开)</span>
                                </p>
                            </div>
                        </div>

                        <div id="option-multi" class="option" style="display: none;" data-type="multi">
                            <h4 class="option-title">多选项</h4>

                            <div class="field set-field">
                                <label for="" class="field-label">字段名称：</label>
                                <input type="text" class="column_name" value="">
                                <span class="help-inline"><i class="red">*</i> (如爱好)</span>
                            </div>

                            <div class="field set-field">
                                <label for="" class="field-label">选项列表：</label>
                                <input type="text" class="column_data" value="">
                                <span class="tip"><i class="red">*</i> (选项列表请用"-"隔开)</span>

                                <p style="margin: 6px 0 0 62px;">
                                    <span class="tip">(例如：请在上面填写如"音乐-读书-吉他"隔开)</span>
                                </p>
                            </div>
                        </div>
                    </section>

                    <div class="field res-area">
                        <input type="hidden" value="" class="res-val"/>
                        <input class="btn btn-sm btn-success res-btn" type="button" value="确认"
                               data-reserve_id="<?php echo $reserve['id']; ?>"/>
                        <span class="help-inline"></span>
                    </div>
                </main>
            </section>
        </main>
        <style>
            #optionWidget {
                width: 500px;
                margin-left: -250px;
            }

            .option-title {
                font-size: 13px;
                background: #FEFCEF;
                text-align: center;
                padding: 8px;
                color: #333;
                border: 1px solid #DEEFFB;
            }
        </style>


        <div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
            <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
                <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
            </p>
            <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/reserve'); ?>"
                    style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
        </div>
    <?php } ?>
<?php } else { ?>
    <p class="noData">请先添加预约：<a href="/panel/addon/reserve/reserve/addReserve">点击添加</a></p>
<?php } ?>
<script>
    seajs.use('app/module/module.reserve', function (n) {

        n.delColumn('.delBtn');
        n.pubColumn('.pubBtn');
        n.saveColumn();
        $(function () {
            $('.preview-app').click(function () {
                var url = $(this).attr('data-url');
                $('#appFrame').attr('src', url);
                $('#app-frame').show();
            });
            $('#reserveOpt').on('change', function (e) {
                var cid = $(this).val();
                if (cid) {
                    window.location.href = '/panel/addon/reserve/reserve/<?php echo $this->dispatcher->getParam('_a', 'striptags') ; ?>?id=' + cid;
                }
                e.stopImmediatePropagation();
            });
            $("#app-frame .close-app").click(function () {
                $('#app-frame').hide();
            });

            $("#app-frame .refresh-app").click(function () {
                $('#appFrame').attr('src', $('#appFrame').attr('src'));
            });

            $('.copy').click(function () {
                var id = $(this).attr('data-id');
                $('.aUrl[data-id="' + id + '"]').show().focus();
            });

            seajs.use('app/app.copyboard', function (copy) {
                copy.copyBoard('.copyBtn');
            });
        });
    });
</script>