<?php
use Util\EasyEncrypt;

$id = $this->request->get('id');
?>
<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            预约订单列表
        </small>
        <span class="right">
            <a href="javascript:;"
               data-url="<?php echo $this->uri->appUrl('/addon/reserve/detail/' . \Util\EasyEncrypt::encode($reserve['id'])); ?>"
               class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </span>
    </h1>
</div>
<script>
    seajs.use('app/module/module.reserve', function (n) {
        n.setOrderStatus('.changeStatusBtn');
        n.delOrder('.delBtn');
        n.delAllOrder(".delAllSelected");
        $('[data-rel=popover]').popover({html: true});
        $(function () {
            $('.preview-app').click(function () {
                var url = $(this).attr('data-url');
                $('#appFrame').attr('src', url);
                $('#app-frame').show();
            });
            $("#app-frame .close-app").click(function () {
                $('#app-frame').hide();
            });

            $("#app-frame .refresh-app").click(function () {
                $('#appFrame').attr('src', $('#appFrame').attr('src'));
            });

            $('.copy').click(function () {
                var id = $(this).attr('data-id');
                $('.aUrl[data-id="' + id + '"]').show().focus();
            });
            $('#reserveOpt').on('change', function (e) {
                var cid = $(this).val();
                if (cid) {
                    window.location.href = '/panel/addon/reserve/reserve/<?php echo $this->dispatcher->getParam('_a', 'striptags') ; ?>?id=' + cid;
                }
                e.stopImmediatePropagation();
            });
            seajs.use('app/app.copyboard', function (copy) {
                copy.copyBoard('.copyBtn');
            });
        });
    });
</script>
<?php if ($all_reserve) { ?>
    <div class="" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
        请选择预约：
        <select name="" id="reserveOpt">
            <option value="">==请选择预约==</option>
            <?php foreach ($all_reserve as $opt) {
                ?>
                <option
                    value="<?php echo $opt['id']; ?>" <?php echo $id == $opt['id'] ? "selected" : ""; ?>><?php echo $opt['name']; ?></option>
            <?php } ?>
        </select>
        <?php if ($reserve) { ?>
            <span class="red">
        [ <a href="javascript:;" class="preview-app" title="点击预览"
             data-url="<?php echo $this->uri->appUrl('/addon/reserve/detail/' . EasyEncrypt::encode($reserve['id'])); ?>">预览</a> ]
    </span>
            <span class="right"><a
                    href="/panel/addon/reserve/reserve/editReserve?id=<?php echo $reserve['id']; ?>">查看并编辑</a></span>
        <?php } ?>
    </div>
    <table id="article-list" class='list'>
        <tr class="head">
            <th style='width:36px'>ID</th>
            <th style='width:36px'>批量</th>
            <th style='width: 80px;'>联系人</th>
            <th style='width: 60px;'>联系手机</th>
            <th style='width:130px'>预约时间</th>
            <th style="width: 80px;">附加信息</th>
            <th style=''>备注说明</th>
            <th style='width:100px'>订单状态</th>
            <th style='width:120px'>审核</th>
            <th style='width:50px'>删除</th>
            <th style='width:120px'>提交时间</th>
        </tr>
        <?php
        if ($list) {
        ?>
        <tbody class="listData">
        <?php
        foreach ($list as $item) {
            $url = $this->uri->wapModuleUrl('/reserve/detail/' . EasyEncrypt::encode($item['id']));
            ?>

            <tr class="item" data-id="<?php echo $item['id']; ?>" data-cid="<?php echo $item['cid']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <td class="center"><?php echo $item['username']; ?></td>
                <td><?php echo $item['phone']; ?></td>
                <td><?php echo $item['reserve_date']; ?> <?php echo $item['reserve_time']; ?></td>
                <td class="center">
                    <a href="javascript:;" class="tooltip-info" data-rel="popover" data-placement="top"
                       data-original-title="<i class='icon-bolt red'></i> 附加选项信息"
                       data-content="
                    <?php //|##|25-单选|#|呵呵呵|##|26-多选|#|cc@dd
                       if (isset($item['param']) && $item['param']) {
                           $tmp = explode('|##|', $item['param']);
                           foreach ($tmp as $opt) {
                               if ($opt) {
                                   $kv = explode('|#|', $opt);
                                   if (isset($kv[0]) && isset($kv[1])) {
                                       $id_name = explode('-', $kv[0]);
                                       if (isset($id_name[0]) && isset($id_name[1])) {
                                           $id = $id_name[0];
                                           $param_data[$id]['name'] = $id_name[1];
                                           $param_data[$id]['val'] = $kv[1];
                                       }
                                   }
                               }
                           }

                       }
                       if (isset($param_data) && is_array($param_data)) {
                           ?>
                           <ul class='list list-unstyled'>
                           <?php
                           foreach ($param_data as $opt) {
                               ?>
                                <li>
                                    <?php echo $opt['name']; ?>：
                                    <?php echo str_replace('@', ' ', $opt['val']); ?>
                                </li>
                           <?php } ?>
                           </ul>
                        <?php
                       } else {
                           echo('无');
                       } ?>">
                        <i class="icon icon-exclamation-sign"></i> 点击查看</a>
                </td>
                <td><?php echo $item['remark']; ?></td>
                <td class="center show_status" data-id="<?php echo $item['id']; ?>">
                    <?php
                    if ($item['deleted']) {
                        ?>
                        <span class="gray">用户已取消</span>
                    <?php
                    } else {
                        $sta_arr = array(
                            '-1' => '<span class="grey">预约不通过</span>',
                            '<span class="orange">等待客服确认</span>',
                            '<span class="green">客服确认通过</span>',
                        );
                        echo $sta_arr[$item['status']];
                        ?>
                    <?php } ?>
                </td>

                <td class="center show_btn">
                    <?php
                    if ($item['deleted'] == 0) {
                        if ($item['status'] == 0) {
                            ?>
                            <a href="javascript:;" class='changeStatusBtn miBtn btn-green'
                               data-id="<?php echo $item['id']; ?>"
                               data-status="1">通过</a>
                            <a href="javascript:;" class='changeStatusBtn miBtn' data-id="<?php echo $item['id']; ?>"
                               data-status="-1">不通过</a>
                        <?php
                        } else {
                            echo '已审核';
                        }
                    } else {
                        echo '无需审核';
                    } ?>
                </td>
                <td class="center">
                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
                </td>
                <td>
                    <?php echo date('Y-m-d H:i', $item['modified']); ?>
                </td>
            </tr>
        <?php
        }
        } else {
            ?>
            <tr>
                <td colspan="10">
                    <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
                </td>
            </tr>
        <?php } ?>
        </tbody>
        <tr class="showpage">
            <th class="name">操作</th>
            <td colspan="10">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                </span>
            </td>
        </tr>
        <tr class="showpage">
            <th class="name">分页</th>
            <td colspan="10">
                <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
            </td>
        </tr>
    </table>
    <div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
        <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
            <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
        </p>
        <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/reserve'); ?>"
                style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
    </div>
<?php } else { ?>
    <p class="noData">请先添加预约：<a href="/panel/addon/reserve/reserve/addReserve">点击添加</a></p>
<?php } ?>
