<div class="page-header">
    <h1>订单统计</h1>
    <!-- /.col-lg-12 -->
</div>
<div>
	<div id="container" style="float: left;"></div>
	<div style="margin-top:80px;width:200px;float:left;margin-left:10px;height:273px;border:1px solid gray;text-align:center;">
		<div style="font-size:25px;height:50px;line-height:50px;border-bottom:1px solid gray;background:#87B87F;">新增会员</div>
		<div style="height:100px;padding-top: 35px;"><span class="bigger-175 blue"><?php echo $todayNum; ?></span><br>今日新增会员</div>
		<div style="height:100px;padding-top: 20px;"><span class="bigger-175 blue"><?php echo $yesterdayNum; ?></span><br>昨日新增会员</div>
		<div>目前会员共计<?php echo $totalNum; ?>人</div>
	</div>
</div>
<script src="/static/panel/js/highcharts.js"></script>
<script type="text/javascript">
	$(function () {
			$('#container').highcharts({
				chart: {
					type: 'line',
					width: 800
				},
				title: {
					text: '最近一个月新增预约趋势图',
					x: -20 //center
				},
				subtitle: {
					text: '微信聚合平台',
					x: -20
				},
				xAxis: {
					categories: <?php echo $date; ?>
				},
				yAxis: {
					title: {
						text: '预约人数(个)'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				tooltip: {
					valueSuffix: '个'
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: '订单数',
					data: <?php echo $datas; ?>
				}]
			});
		});
</script>
