<style>
    #app_right h2 {
        background-color: #f7f7f7;
        color: #333;
        padding: 10px 20px;
        border-bottom: 1px solid #e1e1e1;
    }

    #app_right ul {
        list-style: square;
        padding-left: 30px;
        color: #666;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #app_right ul li {
        padding: 8px 0;
    }

    #app_show {
        padding-bottom: 40px;
        background-color: #fff;
    }

    .app_show_title {
        font-size: 18px;
        padding: 20px;
        border-bottom: 1px solid #E0E0E0;
    }

    .app {
        padding: 20px;
        border-bottom: 1px dashed #dbdbdb;
        border-right: 1px dashed #dbdbdb;
        width: 286px;
        float: left;
    }

    .app:nth-child(3n) {
        border-right: none;
    }

    .app_icon {
        height: 88px;
        width: 88px;
        background-color: #dedede;
        border-radius: 30px;
        float: left;
    }

    .app_icon img {
        width: 88px;
        height: 88px;
    }

    .app_desc {
        float: left;
        width: 178px;
        padding-left: 20px;
    }

    .app_desc h2 {
        font-size: 14px;
        color: #333;
        padding-bottom: 10px;
        font-weight: bold;
        padding-top: 4px;
    }

    .app_desc p {
        font-size: 12px;
        color: #666;
        line-height: 22px;
        height: 60px;
        overflow: hidden;
    }

    .app_desc a {
        text-decoration: none;
        color: #333;
    }

    .app_desc span {
        display: none;
        /*display: inline-block;*/
        margin-top: 10px;
        text-decoration: none;
        background-color: #dedede;
        color: #666;
        font-size: 12px;
        padding: 4px 10px;
        border-radius: 4px;
    }

    #app_type_list h2 {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
        color: #333;
        border-bottom: 1px solid #dedede;
        padding-left: 20px;
    }

    .app_list_titles li {
        font-size: 12px;
        color: #666;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #fff;
        padding: 14px 0;
    }

    .app_list_titles li a {
        text-decoration: none;
        color: #666;
        padding-left: 40px;

    }

    #app_box h1 {
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 24px;
        margin-bottom: 20px;
        border-bottom: 2px solid #dedede;

    }

    #app_desc img {
        display: block;
        width: 100px;
        height: 100px;
        float: left;
    }

    #app_desc p {
        padding-left: 20px;
        width: 600px;
        float: left;
        font-size: 14px;
        line-height: 24px;
        color: #666;
    }

    #func_desc h2 {
        font-size: 16px;
        border-bottom: 2px solid #dedede;
        padding: 10px 0;
    }
</style>
<main class="wrap" style="margin: 20px auto;">
<div id="app_show" style="">
<h1 class="app_show_title"> 基础功能</h1>

<div class="all_apps">
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wgw.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微官网</a></h2>

            <p>只需设置分类添加图文，选择喜欢的模版和素材，就能生成一个漂亮的微信网站，代码基于html5实现。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wxc.jpg"></div>

        <div class="app_desc">
            <h2><a href="">微相册</a></h2>

            <p>在微信上拥有绚丽的图片展示系统，适用于有丰富图片展现需要的账号。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_znhf.jpg"></div>
        <div class="app_desc">
            <h2><a href="">智能回复</a></h2>

            <p>通过预先设置的图文素材，设置首次关注时回复、关键词自定义回复、默认回复（回答不上）、以及LBS回复（发送“位置”）回复每个网点的距离及地图导航</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_cck.jpg"></div>
        <div class="app_desc">
            <h2><a href="">图文素材</a></h2>

            <p>预先设置的单图文和多图文信息，用于设置智能回复以及自定义菜单。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_lbs.jpg"></div>
        <div class="app_desc">
            <h2><a href="">LBS位置回复</a></h2>

            <p>粉丝发送自己的位置之后，回复每个网点的距离及地图导航。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>


    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_zdycd.jpg"></div>
        <div class="app_desc">
            <h2><a href="">自定义菜单</a></h2>

            <p>用户无需再通过输入关键词触发回复，直接点击菜单就可以看相关的内容，此功能如果结合微信3G网站可以使您的公众号用户体验更好，带给粉丝不一样的感受。</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_fw.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微服务</a></h2>

            <p>用户无需再通过输入关键词触发回复，直接点击菜单就可以看相关的内容，此功能如果结合微信3G网站可以使您的公众号用户体验更好，带给粉丝不一样的感受。</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>


    <div class="clear"></div>
</div>

<h1 class="app_show_title"> 互动营销</h1>

<div class="all_apps">
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_dzp.jpg"></div>
        <div class="app_desc">
            <h2><a href="">大转盘</a></h2>

            <p>直接发布幸运大转盘活动，设置活动内容、奖项及中将比例。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_ggl.jpg"></div>
        <div class="app_desc">
            <h2><a href="">刮刮乐</a></h2>

            <p>通过逼真的刮卡体验，增强用户粘性，可设置活动内容、奖项及中奖比例。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_lyb.png"></div>
        <div class="app_desc">
            <h2><a href="">微留言</a></h2>

            <p>开启此功能,只需要设置好关键词，选择包含匹配，选保存留言，当粉丝发送的信息有包含你设置的关键词就可以在后台查看到。</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>
    <!--
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_yhq.jpg"></div>
        <div class="app_desc">
            <h2><a href="">优惠券</a></h2>

            <p>用于发放优惠券的营销活动。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/529d450dd4f8c.jpg"></div>
        <div class="app_desc">
            <h2><a href="">水果机</a></h2>

            <p>幸运水果机是一款很受欢迎的虚拟游戏，画面精致，让您体验到不一样的刺激。
            </p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wq.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微信墙</a></h2>

            <p>微信墙</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/529d4f173ed34.png"></div>
        <div class="app_desc">
            <h2><a href="">一战到底</a></h2>

            <p>一战到底是一款答题竞赛的游戏，可以通过挑战趣味性俱佳的问题来增长自己的知识。</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_360.png"></div>
        <div class="app_desc">
            <h2><a href="">360全景</a></h2>

            <p>用户可以360度观赏设置的全景</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wdd.png"></div>
        <div class="app_desc">
            <h2><a href="">DIY宣传页</a></h2>

            <p>DIY宣传页。</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_yuh.jpg"></div>
        <div class="app_desc">
            <h2><a href="">音乐盒</a></h2>

            <p>DIY宣传页。</p>
            <span>免费</span>
        </div>
        <div class="clear"></div>
    </div>
            -->

    <div class="clear"></div>
</div>

<h1 class="app_show_title"> 业务模块</h1>

<div class="all_apps">

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_cjsc.jpg"></div>
        <div class="app_desc">
            <h2><a href="">超级商城</a></h2>

            <p>快速建立微信商城，实现商品展示、购买、物流等交易全过程，并与积分优惠系统打通，为您开拓新的销售渠道。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_hy.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微会员卡</a></h2>

            <p>业界最强的微信会员管理系统，礼物兑换、积分管理、会员管理、消费管理等功能，完全替代实物会员卡。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_mdgl.jpg"></div>
        <div class="app_desc">
            <h2><a href="">门店管理</a></h2>

            <p>设置每个网点的位置，实现粉丝定位及导航、以及多网点的配送订单（商城/外卖/酒店等交易模块） </p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <!--
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_tg.jpg"></div>
        <div class="app_desc">
            <h2><a href="">团购</a></h2>

            <p>用于组织团购，可设置最低成团人数、商品描述及活动说明。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_tgfl.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微话题</a></h2>

            <p>基于回访的奖励系统，引导用户将公号微信页面分享到朋友圈、微信群及好友，并有多重策略杜绝作弊。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/yu.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微预约</a></h2>

            <p>微网站页面底部的版权信息，购买此功能可完全自定义底部内容。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_dy.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微调研</a></h2>

            <p>设置每个网点的位置，实现粉丝定位及导航、以及多网点的配送订单（商城/外卖/酒店等交易模块） </p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wtp.png"></div>
        <div class="app_desc">
            <h2><a href="">微投票</a></h2>

            <p>基于回访的奖励系统，引导用户将公号微信页面分享到朋友圈、微信群及好友，并有多重策略杜绝作弊。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
-->
    <div class="clear"></div>
</div>

<h1 class="app_show_title"> 行业系统</h1>

<div class="all_apps">
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wjd.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微酒店</a></h2>

            <p>微酒店模块，让您的公众号瞬间变成在线酒店，粉丝可以在微信上查看多家分店的信息，地理位置，房间情况，价格详情，并直接通过微信预订房间。订单支持邮件通知，短信通知，平台通知，使您不错过任何一个潜在的客户。
                本模块与易微平台的会员系统无缝整合，可以设置会员的优惠价格。更多新功能将陆续开放。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_dybq.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微点菜</a></h2>

            <p>微点菜</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wxt.png"></div>
        <div class="app_desc">
            <h2><a href="">微喜帖</a></h2>

            <p>微喜帖。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wcy.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微餐饮</a></h2>

            <p>微餐饮</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wmdc.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微食品</a></h2>

            <p>微食品</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/mf.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微美容</a></h2>

            <p>微美容</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_hyk.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微健身</a></h2>

            <p>微健身</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wjy.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微教育</a></h2>

            <p>微教育</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wzw.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微政务</a></h2>

            <p>微政务</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_zx.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微物业</a></h2>

            <p>微物业</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_ktv.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微KTV</a></h2>

            <p>用于KTV订房、微信预约、报名等表单需求，字段可完全自定义。</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wjb.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微酒吧</a></h2>

            <p>微酒吧</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wwy.png"></div>
        <div class="app_desc">
            <h2><a href="">微装修</a></h2>

            <p>微装修</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_car.png"></div>
        <div class="app_desc">
            <h2><a href="">微汽车</a></h2>

            <p>微婚庆</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_hd.jpg"></div>
        <div class="app_desc">
            <h2><a href="">微花店</a></h2>

            <p>微花店</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wfc.png"></div>
        <div class="app_desc">
            <h2><a href="">微房产</a></h2>

            <p>一款超酷的房产官方网站</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_wly.png"></div>
        <div class="app_desc">
            <h2><a href="">微旅游</a></h2>

            <p>一款针对旅行社，风景区的强大应用</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="app">
        <div class="app_icon"><img src="/static/home/pc/niuniu/images/func/icon_whq.png"></div>
        <div class="app_desc">
            <h2><a href="">微婚庆</a></h2>

            <p>一款针对结婚庆典推出的新兴行业产品</p>
            <span>付费</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>


</div>
<div class="clear"></div>
</main>