.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
#coupon-container.container{background: #E0E0E0;}
.coupon-tab{text-align: center; width: 100%;}
.coupon-tab .tab{width: 50%; float: left; display: block; line-height: 36px; height: 36px; font-size: 16px; background: #f6efea; text-align: center; border-bottom: 2px solid #f6efea;}
.coupon-tab .tab.active{background: #f9f9f9; border-bottom: 2px solid #f65965;}
.coupon-tab .tab.all{margin-left: -1px; border-right: 1px solid #e3dcd8;}
.coupon-tab .tab.mine{}
.tab-content{}
.tab-content .item{background: #fff; min-width: 324px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.tab-content .item .info a{color: #fff;}
.tab-content .item .info{background: #f65965; color: #fff; padding: 8px; margin: 8px 136px 8px 0;}
.tab-content .item .info .name{font-size: 16px; margin: 4px 0 0; text-shadow: 0 0 3px rgba(250, 83, 15, 0.30);}
.tab-content .item .info .useful{margin: 8px 0; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);}
.tab-content .item .info .useful .imp{font-size: 20pt; color: #ffc42a; font-family: 'Impact';}
.tab-content .item .expired{width: 136px; color: #333; padding: 8px; float: right;}
.tab-content .item .expired span{color: #666;}
.tab-content .item .expired .serial{margin: 12px 0 0; font-family: 'Impact'; font-size: 12px; color: #333;}
.get-btn{margin: 16px 0 0; text-align: center;}
/* detail page */
.coupon-head{background: #fff; padding: 0 8px; text-align: center; line-height: 36px; height: 36px; position: relative;}
.coupon-head .icon{height: 24px; line-height: 24px; display: block; position: absolute; left: 8px; top: 6px; text-align: center; border-radius: 24px; width: 24px; font-size: 16px; color: #333; font-weight: normal; border: 1px solid #ccc;}
.coupon-info{background: #f6f6f6; margin: 8px 6px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); line-height: 180%; color: #666; font-size: 12px;}
.coupon-info label{color: #333; font-size: 14px; width: 60px; display: inline-block;}
.coupon-info .coupon-card{padding: 10px; border: 1px dashed #ccc;}
.coupon-info .coupon-card .coupon-name{font-size: 16px; margin: 0 0 4px; color: #000;}
.coupon-info .coupon-title{background: #c0c0c0; color: #333; padding: 6px; font-size: 14px;}
.coupon-info .tip{text-align: center; font-size: 14px; color: #333;}
.coupon-info li{padding: 6px; border-bottom: 1px solid #eee;}
.coupon-info .imp{font-size: 20pt; font-family: 'Impact';}
.serial_number{font-family: 'Impact';}
.coupon-info .offline-use{}
.coupon-info .offline-use .qrcode{text-align: center; padding: 8px 0;}
.coupon-info .offline-use .qrcode img{display: inline-block; width: 80%;}
/* offline */
.confirm-offline{background: #fff; padding: 12px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.confirm-offline .coupon-tip{line-height: 30px; text-align: center; color: #555;}
.confirm-offline .coupon-passwd{line-height: 50px; height: 50px; color: #fff; background: #444546 linear-gradient(to bottom, #474849, #323233); font-size: 20px; padding: 0 8px; margin: 0 0 8px 0;}
.offlineUseTip{margin: 6px; border: 1px solid #ccc; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); padding: 40px 0; font-size: 14px; text-align: center; display: none; background: #fff;}