.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
.submit[type="button"]{box-sizing: border-box;width: 100%;}
.submit{background-color: #179f00;background-image: -moz-linear-gradient(center bottom, #179f00 0%, #5dd300 100%);border: 1px solid #0b8e00;border-radius: 5px;box-shadow: 0 1px 0 #94e700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);color: #ffffff;display: block;font-size: 16px;padding: 10px 20px;text-align: center;text-decoration: none;text-shadow: 0 1px rgba(0, 0, 0, 0.2);}
.head-title{line-height: 36px;font-size: 14px;background: #fff;padding: 0 8px;margin: 0 0 8px 0;border: 1px solid #f0f0f0;}
/*申请页面*/.container{background: #ececec;}
.apply-banner{display: block;min-height: 26px;position: relative;text-align: center;}
.apply-banner img{border: 0;min-width: 320px;width: 100%;}
.apply-content{margin: 8px;min-width: 301px;}
ul.round{border: 1px solid #C6C6C6;background-color: rgba(255, 255, 255, 1);text-align: left;font-size: 14px;line-height: 24px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-moz-box-shadow: 0 1px 1px #f6f6f6;-webkit-box-shadow: 0 1px 1px #f6f6f6;box-shadow: 0 1px 1px #f6f6f6;margin-bottom: 11px;display: block;overflow: hidden;-webkit-transition: height 0.6s;-moz-transition: height 0.6s;-o-transition: height 0.6s;transition: height 0.6s;}
ul.round li{border-bottom:1px solid #C6C6C6;padding:10px;}
.round li{line-height: 180%;}
.round li.title{background-color: #e1e1e1;background-image: -moz-linear-gradient(center bottom, #e7e7e7 0%, #f9f9f9 100%);border-radius: 5px 5px 0 0;box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #eeeeee;padding: 6px;}
.round li.title span{color: #666;font-size: 14px;text-shadow: 0 1px #fff;}
.round li.nob{border-width: 0;padding: 4px 8px;}
.round .nob .table{width: 100%;}
.round .nob .table .name{color: #333333;display: block;font-size: 16px;font-weight: normal;margin-bottom: 7px;padding: 0;text-align: left;}
.round .nob .table .tip{color: #f00;}
.round .nob .table .more{color: #999999;display: block;padding: 0;}
.round li.nob .px{background-color: #ffffff;border: 1px solid #e8e8e8;border-radius: 5px;margin: 5px 0 4px;line-height: 20px;padding: 15px 10px;color: #999999;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 16px;position: relative;}
.px[type="text"], .px[type="tel"]{box-sizing: border-box;width: 100%;}
.round li.nob .dropdown-select{background-color: #ffffff;border: 1px solid #e8e8e8;border-radius: 5px;margin: 5px 0 4px;padding: 5px 10px;color: #999;display: inline;font-size: 16px;height: auto;outline: medium;overflow: visible;position: relative;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.pxtextarea{background-color: #ffffff;border: 1px solid #e8e8e8;border-radius: 5px;margin: 5px 0;padding: 5px 10px;box-sizing: border-box;width: 100%;}
.round li span.spanover{display: block;background: url(/static/wap/images/tpl/arrow3-.png) no-repeat right 50%;-webkit-background-size: 13px 8px;background-size: 13px 8px;padding: 10px 20px 9px 0;position: relative;font-size: 16px;min-height: 22px;}
.round li span.none{background: none repeat scroll 0 0 transparent;}
.round li span.noneorder{background: none repeat scroll 0 0 transparent;padding: 10px 5px 9px 0;}
.round li span.none em{right: 0;}
em.ok{width: 20px; height: 20px; text-align: center; margin: 0 6px 0 0; vertical-align: middle; display: inline-block; line-height: 20px;background-color: #1CC200;border-radius:20px;color:#FFF;font-size: 12px;text-shadow: 0 0 #FFFFFF;font-style:normal;}
em.error{background-color: #FF6600;}
em.no{background-color: #BBBBBB;}
em.more{text-shadow:0 1px #FFF !important;color: #666666 !important;right:8px !important;}
.replies{margin: 0;}
.replies .reply{margin: 8px; border-radius: 5px; padding: 6px;}
.replies .reply .reply-title{font-size: 14px;}
.replies .reply .reply-title .right{font-size: 10px;}
.replies .from-user{border: 1px solid #d6e9c6; background: #dff0d8; color: #468847;}
.replies .from-customer{border: 1px solid #bce8f1; background: #d9edf7; color: #3a87ad;}
.replies .reply .reply-detail{border: 1px solid #d6e9c6; padding: 8px; background: #fff; box-shadow: none; font-size: 12px; border-radius: 5px; color: #666;}
.reply-tit{line-height: 36px; font-size: 16px; background: #FEFCEF; border: 1px solid #DEEFFB; border-bottom: none; margin: 20px 0 0; padding: 0 8px; color: #333;}