.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
/*===================================*
 * guestbook style 
 ====================================*/
.ui-refresh { padding: 5px 0; }
.ui-refresh-down { text-align: center; }
.ui-loading { vertical-align: middle; }

.guestbook { padding: 0px 0 0; font-family: 'Microsoft YaHei'; }
.guestbook .write-button { display:block; background: url(/static/wap/images/module/guestbook/write-icon.png) no-repeat left center; padding-left: 50px; height: 36px; line-height: 36px; font-size: 20px; color: #999;  }

.guestbook .messageslist .topbtn { margin-left: -11px; }
.guestbook .messageslist { margin-left: 10%; width: 78%; }
.guestbook .messageslist .mlist { padding: 15px 0 5px; background:url(/static/wap/images/module/guestbook/line.png) repeat-y 6px top; margin-bottom: 20px;}
.guestbook .messageslist .mlist dl {  }
.guestbook .messageslist .mlist dl dt { background:url(/static/wap/images/module/guestbook/dot.png) no-repeat left 3px; padding-left: 28px; font-size: 16px; }
.guestbook .messageslist .mlist dl dt span { display: block; font-size: 12px; color: #999; margin: 5px 0; }
.guestbook .messageslist .mlist dl dd { background: white; border:1px solid #ccc; padding: 10px; margin-left: 27px; font-size: 14px; margin-bottom: 15px; }
.guestbook .messageslist .mlist dl.end dd { margin-bottom: 0; }
.guestbook .messageslist .mlist dl dd .reply { padding: 7px 0 0; margin-top: 10px; border-top: 1px dotted #ccc; color: #666; font-size: 12px; }
.guestbook .empty { margin-left: 20px; height: 60px; line-height: 60px; color: #999; text-align: center; border: 1px solid #ccc; background: white; }

