.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
.container{padding: 0;}
.ui-refresh{overflow-x: hidden;}
.panorama .item{border-radius: 5px; background: #fff; padding: 12px; margin: 5px; text-align: justify; border: 1px solid #999;}
.panorama .item .title{font-size: 12pt; color: #000; font-weight: 700;}
.panorama .item .date{color: #999; line-height: 30px;}
.panorama .item .cover img{width: 100%;}
.panorama .item .detail{line-height: 120%; margin: 8px 0 0 0; color: #333;}
html, body{height: 100%;}
#panorama360{width: 100%; height: 100%; position: absolute;}
.page-more{background: #ccc; line-height: 36px; height: 36px; overflow: hidden; color: #000; padding: 0 5px; position: absolute; bottom: 0; left: 0; width: 100%; z-index: 99999; opacity: 0.9;}
.pano-detail{position: absolute; left: 0; padding: 8px; bottom: 36px; font-size: 12px; color: #fff; background: #000; width: 100%; display: none; opacity: 0.5; z-index: 99999;}
.ui-refresh-down{text-align: center;}
