.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
.swiper-container{width: 100%; height: 500px; color: #fff;}
.swiper-container .name{color: white; font-weight: bold; width: 100%; z-index: 1000000; height: 36px; line-height: 36px; vertical-align: middle; background-color: #000; opacity: 0.8; /*其他，透明度50%*/ padding-left: 10px; margin-top: -4px;}
.swiper-container .cover{color: white; font-weight: bold; background-color: #FFFF00; width: 100%; z-index: 1000000; line-height: 50px; vertical-align: middle; background-color: #000; filter: alpha(opacity=60); /*IE滤镜，透明度50%*/ -moz-opacity: 0.6; /*Firefox私有，透明度50%*/ opacity: 0.6; /*其他，透明度50%*/ padding-left: 10px; /* margin-top: -500px; padding-top: 10px;*/}
.swiper-container .cover .topic{font-size: 27px; height: auto; overflow: hidden; vertical-align: middle; border-radius: 5px; width: 95%; margin: auto; background-color: #007d00; margin-bottom: 10px;}
.swiper-container .cover .topic label{font-size: 12px; display: block; line-height: 20px;}
.swiper-container .cover .desc{clear: both; line-height: 25px; padding: 0px 10px; color: #d4d4d4;}
.swiper-container .cover .copyright{position: absolute; top: 380px;}
.swiper-slide{width: 100%; height: 100%;}
.swiper-slide img{width: 100%; height: 90%;}
.pagination{position: absolute; z-index: 20; left: 10px; bottom: 10px;}
.swiper-pagination-switch{display: none; width: 8px; height: 8px; border-radius: 8px; background: #222; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
.swiper-visible-switch{background: #aaa;}
.swiper-active-switch{background: #fff;}
/**/
/****************************** 画册 magazine *****************************/
.magazine{width: 100%; height: 100%; position: absolute; top: 0px; bottom: 43px; left: 0px; right: 0px; padding: 0px; margin: 0px; background-attachment: fixed; background-size: cover; background-position: center;}
.magazine .piclist{width: 100%; height: 100%; margin: auto; display: block; position: relative;}
.magazine .piclist li{list-style: none; display: block; width: 100%; height: 100%; float: left;}
.magazine .returns{width: 100%; height: 50px; position: absolute; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.3); z-index: 1000;}
.magazine .returns img{float: left; width: 30px; height: 30px; margin: 10px 0 10px 20px;}
.magazine .piclist li img{width: 100%; height: 100%;}
.magazine .piclist li p{display: block; position: absolute; bottom: 14px; font-size: 17px; text-indent: 10px; color: #ffffff; z-index: 3000;}
.title{width: 100%; float: left; text-align: center; color: #fff; font-size: 14px; padding: 10px 0;}
.magazine .count{float: right; height: 50px; width: 100%; font-size: 17px; text-align: right; line-height: 50px; text-indent: 10px; color: #ffffff; background-color: rgba(0, 0, 0, 0.5); z-index: 1000; padding-right: 2%; position: fixed; z-index: 1000; bottom: 0; left: 0;}
.b_btn{display: block; height: 32px; cursor: pointer; line-height: 32px; padding: 0 10px; border: 1px solid #ccc; float: left; background: #f5f5f5; border-radius: 5px;}
.intro{display: none; width: 100%; float: left; padding-top: 8px;}
/****************************** 画册 magazine_album *****************************/
#magazine_album{width: 100%; height: auto; float: left; margin-top: 0px; display: block; position: relative;}
#magazine_album ul{width: 95%; height: auto; display: block; margin: auto; margin-top: 20px;}
#magazine_album ul li{width: 48%; height: 250px; list-style: none;}
#magazine_album ul li.left{float: left;}
#magazine_album ul li .img-box{width: 100%; height: 220px; border-radius: 5px; border: 1px solid #cfcfcf;
    overflow: hidden;}
#magazine_album ul li.right{float: right;}
#magazine_album ul li .img-box p{width: 100%; height: 23px; line-height: 25px; text-indent: 8px; float: left; display: block;}
#magazine_album ul li .img-box a .list-thumb {
    width: 94%;
    height: 180px;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
