.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
.container{background: #f0f0f0;}
.head-title{line-height: 36px; font-size: 14px; background: #fff; padding: 0 8px; margin: 0 0 8px 0; border: 1px solid #f0f0f0;}
.item-list{padding: 0;}
.item-list li{float: left; width: 50%; padding: 0 3px; text-align: center; margin-bottom: 6px; display: inline-block; box-sizing: border-box; overflow: hidden;}
.item-list li a{background: #fff; display: block; border: 1px solid #ccc;}
.item-list li a .cover{overflow: hidden; text-align: center;}
.item-list li a:link img,
.item-list li a:active img,
.item-list li a:visited img{width: auto; border: none;}
.item-list li a:hover img{}
.item-list li img{width: 100%;}
.item-list li .detail{background: #fff; text-align: left; padding: 10px;}
.item-list li .detail .price{margin-top: 5px; color: #C73D00; font-weight: bold;}
.item-list li .detail .price del{color: #999; font-weight: normal; margin-left: 5px;}
.item-list li .detail .name{font-size: 14px; color: #333; height: 40px; overflow: hidden;}
/*====================================================* * product detail ====================================================*/
.buy-area{}
.buy-area .name{color: #333333; font-size: 14px; font-weight: 400; line-height: 18px; max-height: 3em; overflow: hidden; padding: 12px 10px 13px 10px;}
.buy-area .price-wrap{height: 15px; line-height: 15px; overflow: hidden; padding: 0 10px;}
.buy-area .price-wrap .tit{color: #333333; font-size: 14px; display: inline-block;}
.buy-area .price-wrap .price{color: #E4393C; float: left; font-size: 16px; font-weight: bold; height: 16px; line-height: 16px; margin-right: 10px; position: relative; top: -1px;}
.buy-area .price-wrap .original-price{color: #B5B5B5; float: left; font-size: 12px; margin-right: 8px;}
.buy-area .qty-wrap{border-top: solid 1px #eee; margin: 8px 0; padding: 0 0 0 20px; line-height: 36px;}
.buy-area .qty-wrap .tit{color: #999999; float: left; font-size: 12px; font-weight: normal; height: 40px; line-height: 34px; overflow: hidden; width: 35px;}
.buy-area .qty-wrap .num{float: left; width: 120px;}
.buy-area .qty-wrap .num input{height: 34px; line-height: normal; width: 70px; font-size: 16px; border: solid 1px #ddd; text-align: center;}
.buy-area .qty-wrap .inventory{color: #999999; display: table; float: left; font-size: 12px; height: 36px; line-height: 34px; margin-left: 15px; padding: 2px;}
.buy-area .btn-wrap{overfloat: hidden; padding: 15px 10px; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd; background: #eee;}
.buy-area .btn-wrap .btn-buy{background: #E4393C; border-radius: 2px; color: #FFFFFF; height: 40px; line-height: 40px; position: relative; text-align: center; text-decoration: none; display: block;}
.shop-info-wrap{border-bottom: 1px solid #DDDDDD; font-size: 12px; padding: 15px 0;}
.shop-info-wrap .btn-shop{background: #F5F5F5; border: 1px solid #CCCCCC; border-radius: 2px; color: #333333; float: right; font-size: 14px; height: 29px; line-height: 29px; margin-right: 10px; margin-top: 1px; position: relative; text-align: center; width: 148px;}
.shop-info-wrap .btn-shop .arr_r_s{margin-left: 25px; position: absolute; right: 15px; top: 8px; background: url(/static/wap/images/tpl/detail.png) no-repeat; background-position: -181px -84px; display: inline-block; height: 12px; width: 7px;}
.mod-tab-gap{background: #F3F3F3; padding-top: 15px;}
.item-detail .param{width: 100%;}
.item-detail .param td{border: 1px solid #ccc; padding: 5px 10px;}
.order-list{width: 100%; color: #333;}
.order-list td{vertical-align: top;}
.order-list img{width: 50px; height: 50px;}
.order-list .btn{height: 12px; line-height: 12px;}
.order-list .order-head{font-size: 10pt;}
.order-list .order-head th{padding: 0 0 8px; text-align: left;}
.order-list .order-head .base span{color: #000; font-weight: bold;}
.order-list .item-list td{padding: 8px 0 0; border: 1px solid #eee;}
.order-list .item-list .cover{width: 64px; text-align: center;}
.order-list .item-list .detail{padding: 8px;}
.order-list .item-list .name{margin: 0 0 4px;}
.order-list .item-list .total{background: #f0f0f0; line-height: 160%; padding: 0 0 0 4px;}
.product-options{}
.product-opt{margin: 8px 0; line-height: 24px; clear: both;}
.product-opt dt{float: left;}
.product-opt .opt_choose{background: #E0E0E0; display: inline-block; padding: 0 8px;}
.product-opt .opt_choose.current{background: #C51B00; color: #fff;}
.tab-wrap{width: 100%;}
.tab-wrap .tab-nav li{width: 33%; float: left; overflow: hidden;}
.tab-wrap .tab-nav li .tab{display: block; overflow: hidden; width: 100%; border: solid #d4d4d4; border-width: 1px 0 1px 1px; text-align: center; color: #4a4a4a; font-size: 16px; background-color: #f4f4f4; height: 35px; line-height: 35px; white-space: nowrap; /*内容不换行*/ cursor: pointer;}
.tab-wrap .tab-nav li .tab.active{background-color: #fff; border-bottom-color: #fff;}
.tab-wrap .tab-nav li:last-child{width: 34%;}
.tab-wrap .tab-nav li:last-child .tab{border-width: 1px;}
.tab-wrap .tab-content{clear: both;}
.tab-wrap .tab-content .tab-panel{display: none; padding: 8px;}
#item-swiper{/*height: 200px;*/ position: relative;}
#item-swiper img{width: 100%;}
#item-swiper .pagination{position: absolute; z-index: 20; left: 10px; bottom: 10px;}
#item-swiper .pagination .swiper-pagination-switch{display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #555; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#item-swiper .pagination .swiper-active-switch{background: #fff;}
#item-swiper .pagination .swiper-dynamic-links{text-align: center;}
#item-swiper .pagination .swiper-dynamic-links a{display: inline-block; padding: 5px; border-radius: 3px; border: 1px solid #ccc; margin: 5px; font-size: 12px; text-decoration: none; color: #333; background: #eee;}
.order-record{border: solid 1px #eee; padding: 8px; margin: 8px 0 0; color: #666;}
.order-record .title{margin: 0 0 8px; font-size: 14px; color: #000;}
.postage_choose{color: #898989;}
.postage_choose select{color: #898989;}
.order-foot{color: #898989;}
.address-content p{color: #898989;}
.choose-address{padding: 12px; width: 100%; background: none; position: relative;}
.choose-address .addr-content p{color: #898989;}