.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
.panorama .item{border-radius: 5px;background: #fff;padding: 12px;margin: 5px;text-align: justify;border: 1px solid #999;}
.panorama .item .title{font-size: 12pt;color: #000;font-weight: 700;}
.panorama .item .date{color: #999;line-height: 30px;}
.panorama .item .more{color: #666;line-height: 120%;}
.panorama .item .cover img{width: 100%;}
.panorama .item .go{margin: 12px 0 0;text-align: center;}
.head-title{line-height: 36px;font-size: 14px;background: #fff;padding: 0 8px;margin: 0 0 8px 0;border: 1px solid #f0f0f0; color: #333;}
/*申请页面*/.container{background: #ececec;}
.apply-banner{display: block;min-height: 26px;position: relative;text-align: center;}
.apply-banner img{border: 0;min-width: 320px;width: 100%;}
.apply-content{margin: 11px 10px 20px 9px;min-width: 301px;}
ul.round{border: 1px solid #C6C6C6;background-color: rgba(255, 255, 255, 1);text-align: left;font-size: 14px;line-height: 24px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-moz-box-shadow: 0 1px 1px #f6f6f6;-webkit-box-shadow: 0 1px 1px #f6f6f6;box-shadow: 0 1px 1px #f6f6f6;margin-bottom: 11px;display: block;overflow: hidden;-webkit-transition: height 0.6s;-moz-transition: height 0.6s;-o-transition: height 0.6s;transition: height 0.6s;}
ul.round li{border: solid #C6C6C6;border-width: 0 0 1px 0;padding: 0px 10px 0 10px;}
ul.round li.iaddr{padding-left: 40px;background: url(/static/wap/images/tpl/addr.png) no-repeat 10px center;background-size: 20px 20px;font-size: 13px;}
ul.round li.iaddr span,
ul.round li.iseller span,
ul.round li.icall span{font-size: 13px;}
ul.round li.icall{padding-left: 40px;background: url(/static/wap/images/tpl/tel.png) no-repeat 10px center;background-size: 20px 20px;}
ul.round li.iseller{padding-left: 40px;background: url(/static/wap/images/tpl/detail_2.png) no-repeat 10px center;background-size: 20px 20px;}
ul.round li:only-of-type{border-width: 0;}
ul.round li:last-of-type{border-width: 0;}
.round li, .round li span, .round li a{line-height: 22px;}
.round li.title{background-color: #e1e1e1;background-image: -moz-linear-gradient(center bottom, #e7e7e7 0%, #f9f9f9 100%);border-radius: 5px 5px 0 0;box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #eeeeee; padding: 6px;}
.round li.title span{color: #666;font-size: 14px;text-shadow: 0 1px #fff;}
.round li.mb{margin-bottom: 4px;}
.round li.nob{border-width: 0;}
.round .nob .table{width: 100%;}
.round .nob .table .name{color: #333333;display: block;font-size: 16px;font-weight: normal;margin-bottom: 7px;padding: 0;text-align: left;}
.round .nob .table .tip{color: #f00;}
.round .nob .table .more{color: #999999;display: block;padding: 0;}
.round li.nob .px{background-color: #ffffff;border: 1px solid #e8e8e8;border-radius: 5px;margin: 5px 0 4px;line-height: 16px;padding: 5px 10px;color: #999999;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 16px;position: relative;}
.px[type="text"], .px[type="tel"]{box-sizing: border-box;width: 100%;}
.round li.nob .dropdown-select{background-color: #ffffff;border: 1px solid #e8e8e8;border-radius: 5px;margin: 5px 0 4px;padding: 5px 10px;color: #999;display: inline;font-size: 16px;height: auto;outline: medium;overflow: visible;position: relative;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.round li.nob .pxtextarea{background-color: #ffffff;border: 1px solid #e8e8e8;border-radius: 5px;margin: 5px 0;padding: 5px 10px;box-sizing: border-box;width: 100%;}
.round li span.spanover{display: block;background: url(/static/wap/images/tpl/arrow3-.png) no-repeat right 50%;-webkit-background-size: 13px 8px;background-size: 13px 8px;padding: 10px 20px 9px 0;position: relative;font-size: 16px;min-height: 22px;}
.round li span.none{background: none repeat scroll 0 0 transparent;}
.round li span.noneorder{background: none repeat scroll 0 0 transparent;padding: 10px 5px 9px 0;}
.round li span.none em{right: 0;}
em.ok{width: 20px; height: 20px; text-align: center; margin: 0 6px 0 0; vertical-align: middle; display: inline-block; line-height: 20px;background-color: #1CC200;border-radius:20px;color:#FFF;font-size: 12px;text-shadow: 0 0 #FFFFFF;font-style:normal;}
em.error{background-color: #FF6600;}
em.no{background-color: #BBBBBB;}
em.more{text-shadow:0 1px #FFF !important;color: #666666 !important;right:8px !important;}
.round li.none span{background: none;}
.round li h2{color: #373B3E;font-size: 16px;font-weight: normal;line-height: 20px;padding: 10px 0 10px 0;border-bottom: 1px dotted #C6C6C6;}
.round li .text{padding: 10px 0 10px;}
.round li .btop{background-color: #F5F5F5;margin-bottom: 10px;padding: 10px;}
.round li .text p{line-height: 20px;font-size: 14px;color: #666;}
.round .addr a p, .round .tel a p{padding: 8px 0;}
.round .head-title{padding: 8px;margin: 0;}
.round li img{max-width: 100%;border: 0;}
.footReturn{margin: 11px auto;padding: 0;position: relative;}
.submit[type="button"]{box-sizing: border-box;width: 100%;}
.submit{background-color: #179f00;background-image: -moz-linear-gradient(center bottom, #179f00 0%, #5dd300 100%);border: 1px solid #0b8e00;border-radius: 5px;box-shadow: 0 1px 0 #94e700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);color: #ffffff;display: block;font-size: 16px;padding: 10px 20px;text-align: center;text-decoration: none;text-shadow: 0 1px rgba(0, 0, 0, 0.2);}
.window{background-color: #f1f1f1;border-radius: 0.6em;bottom: 60px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);display: none;font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;left: 50%;margin: 0 auto 0 -136px;padding: 2px;position: absolute;width: 267px;z-index: 10;}
.window .wtitle{background-color: #585858;border-radius: 0.5em 0.5em 0 0;color: #ffffff;font-size: 16px;line-height: 26px;padding: 5px 5px 5px 10px;}
.window .content{color: #222222;overflow: auto;padding: 10px;text-shadow: 0 1px 0 #ffffff;}
.window #txt{font-size: 14px;line-height: 20px;min-height: 30px;}
.order-status{word-break: break-all; font-size: 12px;}
.order-status .title{line-height: 30px; font-size: 16px; color: #f00;}
.order-status .wait{}
.order-status .success{color: #000;}
.order-status .success span{color: #0B8E00; display: inline;}
.order-status .fail{color: #666;}
.order-status .wait{color: #369;}
.order-status .more{padding: 5px; background: #e0e0e0; margin: 5px 0;}
#column{background: #f9f9f9; border: 1px solid #f0f0f0; margin: 10px 0; border-left: none; border-right: none; padding: 0 0 10px;}
#column .column-title{margin: 0 0 10px; background: #e0e0e0; line-height: 30px; border: 1px solid #ccc; border-left: none; border-right: none;}