.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
#guagua{margin: 0 auto;}
.activity-lottery-winning{background: url(/static/wap/images/module/wheel/activity-lottery-2.png) #2a8a00;overflow-x: hidden;}
.activity-lottery-end{background: url(/static/wap/images/module/wheel/activity-lottery-end.jpg) #2a8a00;overflow-x: hidden;}
.activity-coupon-winning{background-color:#8d0001;overflow-x: hidden;}
.activity-coupon-end{background-color:#8d0001;overflow-x: hidden;}
.activity-scratch-card-winning{background: url(/static/wap/images/module/scratch/activity-scratch-card-bg.jpg) #944f20;overflow-x: hidden;}
.activity-scratch-card-end{background: url(/static/wap/images/module/scratch/activity-scratch-card-bg.jpg) #944f20;overflow-x: hidden;}
.activity-lottery-winning .main{background: url(/static/wap/images/module/scratch/activity-lottery-bg.png) no-repeat top center;background-size: 320px auto;}
#outer-cont{position: relative;width: 100%;top: 20px;margin-bottom: 30px;/* -moz-transform: rotate(-5deg);-webkit-transform: rotate(-5deg);-o-transform: rotate(-5deg);-ms-transform: rotate(-5deg);transform: rotate(-5deg); */}
#inner-cont{position: absolute;width: 100%;top: 70px;/* -moz-transform: rotate(-5deg);-webkit-transform: rotate(-5deg);-o-transform: rotate(-5deg);-ms-transform: rotate(-5deg);transform: rotate(-5deg); */}
#outer{height: 227px; margin: 0 auto; max-width: 227px; width: 227px;}
#inner{cursor: pointer; height: 110px; margin: 0 auto; max-width: 90px; width: 90px;}
#outer img, #inner img{display: block;margin: 0 auto;}
.cover{width: 320px;max-width: 480px;margin: 0 auto;position: relative;}
.cover img{width: 320px;}
#scratchpad,#prize{position: absolute;width: 150px;height: 40px;top: 140px;left: 105px;text-align: center;font-size: 20px;line-height: 40px;color:#333;}
.btn-cont{position: absolute;bottom: 3px;right: 3px;display: none;}
.content{max-width: 480px;margin: 0 auto;position: relative;}
.banner{text-align:center;}
.main img{max-width: 100%;border: 0 none;}
.boxcontent{margin:15px 15px 0;border-radius: 5px;padding: 2px;background-color: #FEF8B2;-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
.boxyellow{background-color: #FEF8B2;}
.boxwhite{background-color: #ffffff;}
.box{border-radius: 5px;font-size:14px;border: 1px dashed rgba(0, 0, 0, 0.3);}
.box .title-red{padding: 0 5px 0px 10px;background:url(/static/wap/images/module/scratch/title-bg-red.png) no-repeat 0 0;border-radius: 3px 3px 3px 0;color:#ffffff;height:22px;line-height:22px;font-size: 12px;margin:-1px;/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;text-shadow:0px 1px 0 #8d0001;*/}
.box .title-orange{padding: 0 5px 0px 10px;background:url(/static/wap/images/module/scratch/title-bg-orange.png) no-repeat 0 0;border-radius: 3px 3px 3px 0;color:#ffffff;height:22px;line-height:22px;font-size: 12px;margin:-1px;/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;text-shadow:0px 1px 0 #8d0001;*/}
.box .title-green{padding: 0 5px 0px 10px;background:url(/static/wap/images/module/scratch/title-bg-green.png) no-repeat 0 0;border-radius: 3px 3px 3px 0;color:#ffffff;height:22px;line-height:22px;font-size: 12px;margin:-1px;/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;text-shadow:0px 1px 0 #8d0001;*/}
.box .title-brown{padding: 0 5px 0px 10px;background:url(/static/wap/images/module/scratch/title-bg-brown.png) no-repeat 0 0;border-radius: 3px 3px 3px 0;color:#ffffff;height:22px;line-height:22px;font-size: 12px;margin:-1px;/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;text-shadow:0px 1px 0 #8d0001;*/}
.box .Detail{padding: 15px;font-size: 12px;}
.Detail img{height: auto;max-width: 100%;border: 0 none;}
.box .Detail th{text-align: center;}
.red{color:red}
.px{margin: 0.5em 0;position: relative;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;background-color: #FFFFFF;border-radius: 0.6em 0.6em 0.6em 0.6em;border: 1px solid rgba(0, 0, 0, 0.3);color: #333333;text-shadow: 0 1px 0 #FFFFFF;display: block;width: 100%;padding:6px 10px;font-size: 18px;margin:10px 0 0 0;font-family:Arial, Helvetica, sans-serif;-webkit-appearance:none;}
.px:hover{border: 1px solid #ff6501;}
.px:focus{border: 1px solid #ff6501;box-shadow: 0 0 5px #ff6501;}
.px[type="text"]{width: 100%; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.px[type="password"]{width: 100%; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.pxbtn{background: #ff6501;background-image: -webkit-gradient(linear, left top, left bottom, from( #ffa201 ), to( #ff6501 )); /* Saf4+, Chrome */background-image: -webkit-linear-gradient( #ffa201 , #ff6501 ); /* Chrome 10+, Saf5.1+ */background-image: -moz-linear-gradient( #ffa201 , #ff6501 ); /* FF3.6 */background-image: -ms-linear-gradient( #ffa201 , #ff6501 ); /* IE10 */background-image: -o-linear-gradient( #ffa201 , #ff6501 ); /* Opera 11.10+ */background-image: linear-gradient( #ffa201 , #ff6501 );border: 1px solid #ff6501;border-bottom: 1px solid #d35605;color: #ffffff;font-weight: bold;text-shadow: 0 1px 0 #FFFFFF;border-radius: 0.6em 0.6em 0.6em 0.6em;display: block;width: 100%;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);text-overflow: ellipsis;white-space: nowrap;cursor: pointer;text-align: center;font-weight: bold;text-shadow: 0 0 2px #BE4205;font-size: 18px;padding:10px;margin:10px 0 0 0;}
.pxbtn:visited{background-image: -webkit-gradient(linear, left top, left bottom, from( #ffa201 ), to( #ff6501 )); /* Saf4+, Chrome */background-image: -webkit-linear-gradient( #ffa201 , #ff6501 ); /* Chrome 10+, Saf5.1+ */background-image: -moz-linear-gradient( #ffa201 , #ff6501 ); /* FF3.6 */background-image: -ms-linear-gradient( #ffa201 , #ff6501 ); /* IE10 */background-image: -o-linear-gradient( #ffa201 , #ff6501 ); /* Opera 11.10+ */background-image: linear-gradient( #ffa201 , #ff6501 );}
.pxbtn:hover{background-image: -webkit-gradient(linear, left top, left bottom, from( #ff7f01 ), to( #ff6501 )); /* Saf4+, Chrome */background-image: -webkit-linear-gradient( #ff7f01 , #ff6501 ); /* Chrome 10+, Saf5.1+ */background-image: -moz-linear-gradient( #ff7f01 , #ff6501 ); /* FF3.6 */background-image: -ms-linear-gradient( #ff7f01 , #ff6501 ); /* IE10 */background-image: -o-linear-gradient( #ff7f01 , #ff6501 ); /* Opera 11.10+ */background-image: linear-gradient( #ff7f01 , #ff6501 );}
.pxbtn:active{background-image: -webkit-gradient(linear, left top, left bottom, from( #ff6501 ), to( #ffa201 )); /* Saf4+, Chrome */background-image: -webkit-linear-gradient( #ff6501 , #ffa201 ); /* Chrome 10+, Saf5.1+ */background-image: -moz-linear-gradient( #ff6501 , #ffa201 ); /* FF3.6 */background-image: -ms-linear-gradient( #ff6501 , #ffa201 ); /* IE10 */background-image: -o-linear-gradient( #ff6501 , #ffa201 ); /* Opera 11.10+ */background-image: linear-gradient( #ff6501 , #ffa201 );border: 1px solid #ff6501;border-top: 1px solid #d35605;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;}
input::-moz-placeholder, textarea::-moz-placeholder{color: #999;}
table.tablelist{width: 100%;}
table.tablelist th, table.tablelist td{border-bottom: 1px solid #ddd;}
table.tablelist thead{}
table.tablelist thead tr{}
table.tablelist thead tr th{background: #eee; padding: 5px; font-size: 14px;}
table.tablelist tbody{}
table.tablelist tbody tr{}
table.tablelist tbody tr td{background: white; padding: 5px; text-align: center; font-size: 12px;}



.wrap #container{margin-top: 0px;}
ul.round{border:1px solid #C6C6C6; background-color:rgba(255, 255, 255, 1); text-align:left; font-size:14px; line-height:24px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -moz-box-shadow:0 1px 1px #f6f6f6; -webkit-box-shadow:0 1px 1px #f6f6f6; box-shadow:0 1px 1px #f6f6f6; margin-bottom:11px; display:block; overflow:hidden; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; -o-transition: height 0.6s; transition: height 0.6s; margin: 2px 10px;}
ul.round li{border:solid #C6C6C6; border-width:0 0 1px 0; padding:0px 10px 0 10px;}
#container .scratchul{background-color: #e4e4e4; margin-top: 10px;}
#container .scratchul li{border:solid #C6C6C6; border-width:0 0 1px 0; padding:0px 10px 0 10px; height: 40px; line-height: 40px; vertical-align:middle ;}
