.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
#your_address{margin: 0 0 8px 0;}
#your_address dt{border-radius: 5px 5px 0 0; padding: 6px; font-size: 16px; font-weight: bold; color: #fff; text-align: center; background-image: linear-gradient(bottom, #076404 0, #4FBA4D 100%); background-image: -moz-linear-gradient(bottom, #076404 0, #4FBA4D 100%); background-image: -webkit-linear-gradient(bottom, #076404 0, #4FBA4D 100%);}
#your_address dd{background: #fff; line-height: 36px; padding: 0 8px; border-bottom: 1px solid #eee;}
#your_address dd:last-child{border-bottom: none; border-radius: 0 0 5px 5px;}
#your_address .curAddr{}
#stores{}
#stores .sub_stores .store{margin-bottom: 8px; background: #fff; border-radius: 5px;}
#stores .sub_stores .store .store-name{border-radius: 5px 5px 0 0; line-height: 36px; background: #666; height: 36px; color: #fff; padding: 0 8px;}
#stores .sub_stores .store dd{background: #fff; position: relative; padding: 8px; border-bottom: 1px solid #ddd;}
#stores .sub_stores .store dd:last-child{border: none; border-radius: 0 0 5px 5px;}
/*loading*/
.apply-content{margin: 11px 10px 20px 9px; min-width: 301px;}
ul.round{border: 1px solid #C6C6C6; background-color: rgba(255, 255, 255, 1); text-align: left; font-size: 14px; line-height: 24px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 0 1px 1px #f6f6f6; -webkit-box-shadow: 0 1px 1px #f6f6f6; box-shadow: 0 1px 1px #f6f6f6; margin-bottom: 11px; display: block; overflow: hidden; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; -o-transition: height 0.6s; transition: height 0.6s;}
ul.round li{border: solid #C6C6C6; border-width: 0 0 1px 0; padding: 0px 10px 0 10px;}
ul.round li.nob{border-bottom: none;}
.round li h2{color: #373B3E; font-size: 16px; font-weight: normal; line-height: 20px; padding: 10px 0 10px 0; border-bottom: 1px dotted #C6C6C6;}
.round li .text{padding: 10px 0 10px;}
#store-swiper{height: 200px; position: relative; overflow: hidden; width: 100%;}
#store-swiper img{width: 100%;}
#store-swiper .pagination{position: absolute; z-index: 20; left: 10px; bottom: 10px;}
#store-swiper .pagination .swiper-pagination-switch{display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #555; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#store-swiper .pagination .swiper-active-switch{background: #fff;}
#store-swiper .pagination .swiper-dynamic-links{text-align: center;}
#store-swiper .pagination .swiper-dynamic-links a{display: inline-block; padding: 5px; border-radius: 3px; border: 1px solid #ccc; margin: 5px; font-size: 12px; text-decoration: none; color: #333; background: #eee;}