.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
ul.round{border:1px solid #C6C6C6; background-color:rgba(255, 255, 255, 1); text-align:left; font-size:14px; line-height:24px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -moz-box-shadow:0 1px 1px #f6f6f6; -webkit-box-shadow:0 1px 1px #f6f6f6; box-shadow:0 1px 1px #f6f6f6; margin-bottom:11px; display:block; overflow:hidden; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; -o-transition: height 0.6s; transition: height 0.6s; margin: 2px 10px;}
ul.round li{border:solid #C6C6C6; border-width:0 0 1px 0; padding:0px 10px 0 10px;}
#container .surveyul{background-color: #e4e4e4; margin-top: 10px;}
#container .surveyul li{border:solid #C6C6C6; border-width:0 0 1px 0; padding:0px 10px 0 10px; height: 40px; line-height: 40px; vertical-align:middle ;}
/*
ul.round li .option_wrap{width: 100%; height: auto; overflow:hidden; padding-left: 5px;}
ul.round li .option_wrap .option{color:#444;}
#container .topic{text-align: center; font-weight: bold; margin-top: 10px;}
#container .submit{display: block; width:100px; vertical-align: middle; font-weight: bold; margin:20px auto; padding: 10px 10px; text-align: center; color: #fff; background-color: #0066FF; border-radius: 5px;}
.wrap .alert-danger{width: 90%; margin:auto; margin-top: 10px; height: 40px; line-height: 40px; text-align: center; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; background-color:darkred; color: #ffffff; font-weight: bold;}*/
/*************************调查问卷 question**************************/
#question{width:100%; height:auto; margin:auto; margin-top:10px; display: block; font-family: arial, sans-serif;font-size:15px;color:#858ca8;}
#question .title_box{width:100%; height:50px; float:left; margin-bottom:7px; border-bottom:1px solid #e0e0e0; font-weight:bold; color: #646464;line-height:53px; font-size:17px;text-align: center;}
#question ul{width:90%; height:auto; margin: auto; display: block;}
#question ul li{width:100%; height:50px; float: left; display: block; list-style: none; font-size:15px; color:#646464; line-height:50px; vertical-align: middle;}
#question ul li.title{border-bottom:1px solid #cfcfcf; text-align: center;}
#question ul li .xuanze{line-height: 50px; float:left; margin-top:19px; color:#646464;}
#question ul li.overlinebox{width:100%; height:55px; float: left; display:block; border-top:1px solid #cacaca;}
#question ul li .submit-box{width:110px; height:40px; margin: auto; margin-top:12px; display: block;background: #4586f0; border-radius:4px; text-align: center; line-height:40px; font-size: 17px; color:#ffffff;}
