.wrap #container{margin-top: 0;background: #E0E0E0;  color: #666;}
ul.round{border:1px solid #C6C6C6; background-color:rgba(255, 255, 255, 1); text-align:left; font-size:14px; line-height:24px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -moz-box-shadow:0 1px 1px #f6f6f6; -webkit-box-shadow:0 1px 1px #f6f6f6; box-shadow:0 1px 1px #f6f6f6; margin-bottom:11px; display:block; overflow:hidden; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; -o-transition: height 0.6s; transition: height 0.6s; margin: 5px 5px; background-color: #e4e4e4;}
ul.round li{border:solid #C6C6C6; border-width:0 0 1px 0; padding:0px 10px 0 10px; height: 40px; line-height: 40px;
    vertical-align:middle ;}
.voteul li{border:1px solid #C6C6C6; background-color:rgba(255, 255, 255, 1); text-align:left; font-size:14px; line-height:24px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -moz-box-shadow:0 1px 1px #f6f6f6; -webkit-box-shadow:0 1px 1px #f6f6f6; box-shadow:0 1px 1px #f6f6f6; margin-top:11px; display:block; overflow:hidden; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; -o-transition: height 0.6s; transition: height 0.6s; float: left; min-width: 150px; margin-left: 5px; color: #666; padding: 10px;}
.voteul li .vote{display: inline-block; background-color: #009300; padding: 1px 8px; border-radius:5px; float: right; color:#fff; cursor: pointer;}
.voteul li img{min-width: 150px;max-width: 150px;}
.voteul li .count{color: red}
.topic{width: 100%; text-align: center; -moz-box-shadow:0 1px 1px #e6e6e6; -webkit-box-shadow:0 1px 1px #e6e6e6; background-color:#e4e4e4; color: #333; font-weight:bold; height: 40px; line-height: 40px; vertical-align: middle;}
.wrap .alert-danger{width: 90%; margin:auto; margin-top: 10px; height: 40px; line-height: 40px; text-align: center; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-transition: height 0.6s; -moz-transition: height 0.6s; background-color:darkred; color: #ffffff; font-weight: bold;}
/******************************投票 vote******************************/
#vote{width:100%; height:auto; margin:auto; margin-top:50px; display: block; font-family: arial, sans-serif;font-size:15px;color:#858ca8; border: 1px solid #000000; overflow: hidden; margin-bottom: 50px;}
#vote ul{width:95%; height:auto; margin: auto; display: block;}
#vote ul li{width:100%; height:auto; float: left; display: block; list-style: none; font-size:14px; color:#646464; vertical-align: middle;}
#vote ul li.title{width:100%; height:40px; border-bottom:1px solid #cfcfcf; line-height:45px; text-align: center; vertical-align: middle; margin:6px 0 13px 0;}
#vote ul li.vote-box{width:100%; height:auto; float: left; margin:0 0 10px 0; display:block;}
#vote ul li.vote-box #column{overflow: hidden;height: auto; margin-bottom: 5px;}
#vote ul li.vote-box .voting-box01{width:45%;height:70px;float: left; border: 1px solid #cac9c9; border-radius:4px; font-size:14px; color:#818181;position: relative;}
#vote ul li.vote-box .voting-box01 .box-title{width:100%; height:15px; float: left; margin:6px 0; display: block; text-indent: 7px; display:block;}
#vote ul li.vote-box .voting-box01 .votes{width:100%; height:26px; display:block; position: absolute; bottom:5px; left:0px; line-height:28px;text-indent: 7px;}
#vote ul li.vote-box .voting-box01 .votes span{color:#ff5a00; text-indent: 0px;}
#vote ul li.vote-box .voting-box01 .votes a.votes-box{width:30%; height:26px; position: absolute; right:7px;bottom: 0px; background-color: #313541; border-radius:4px; color:#ffffff; line-height:28px; text-align:center; text-indent:0px;}

#vote ul li.vote-box .voting-box02{width:45%; height:70px; float:right; border: 1px solid #cac9c9; border-radius:4px; font-size:14px; color:#818181;position: relative;overflow: hidden;}
#vote ul li.vote-box .voting-box02 .box-title{width:100%; height:15px; float: left; margin:6px 0; display: block; text-indent: 7px; display:block; overflow: hidden;}
#vote ul li.vote-box .voting-box02 .votes{width:100%; height:26px; display:block; position: absolute; bottom:5px; left:0px; line-height:28px;text-indent: 7px;}
#vote ul li.vote-box .voting-box02 .votes span{color:#ff5a00; text-indent: 0px;}
#vote ul li.vote-box .voting-box02 .votes a.votes-box{width:30%; height:26px; position: absolute; right:7px;bottom: 0px; background-color: #313541; border-radius:4px; color:#ffffff; line-height:28px; text-align:center; text-indent:0px;}

#vote ul li.vote-box .voting-box001{height: auto;}
#vote ul li.vote-box .voting-box001 img,#vote ul li.vote-box .voting-box002 img{margin-bottom: 35px; border-radius: 5px;width:96%; margin-left: 2%;}
#vote ul li.vote-box .voting-box002{height: auto;}
