<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="中小企业营销一站式解决方案 支持微信、微博、淘宝、京东、苏宁等第三方电商平台">
    <meta name="author" content="yanue">

    {{get_title()}}

    <!-- Bootstrap core CSS -->
    <link href="/static/home/pc/estt/css/base.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <?php $this->assets->outputCss();?>
    <script src="/static/ace/js/jquery-1.10.2.min.js"></script>
    <script src="/static/home/pc/estt/js/common.js"></script>
</head>

<body>
<?php

$controller = $this->router->getControllerName();
$customer_info=$this->session->get('customer_info') ? $this->session->get('customer_info')->toArray() : [];
?>
<?php if($controller == 'index'): $this->partial('base/top-index'); endif;?>
<?php $this->partial('base/header'); ?>

{{content()}}

<?php $this->partial('base/footer'); ?>

<!-- JavaScript -->
<?php $this->assets->outputJs();?>
</body>

</html>
