<?php
use Multiple\Wap\Helper\SiteData;

$part = SiteData::init()->getNavs('part');
?>
<div id="part">
    <?php
    if ($part) {
        ?>
        <ul class="part">
            <li class="nav">
                <?php foreach ($part as $k => $item) {
                    if ($k % 2 == 0 && $k > 0) {
                        echo '<div class="clear"></div></li><li class="nav">';
                    }
                    ?>
                    <p class="nav-wrap <?php echo $k % 2 == 0 ? 'bdr' : ''; ?>">
                        <a href="<?php echo $item['link_type'] == 'tel' ? 'tel:' . $item['link'] : $item['link']; ?>">
                            <span class="icon part-bg <?php echo $item['icon'] ?>"></span>

                            <span class="sec-name"><?php echo $item['name'] ?></span>
                        </a>
                    </p>
                <?php } ?>

            </li>
            <div class="clear"></div>
        </ul>
    <?php } ?>
    <div class="clear"></div>
</div>