<style>
    body {
        background: #fff;
    }
</style>
<div id="container" class="container">
    <div id="question">
        <?php if (isset($question) && !empty($question)) { ?>
            <b class="title_box"><?php echo $survey['topic'] ?></b>
            <form method="post" action="<?php echo $this->uri->baseUrl('addon/survey/submit/'); ?>" id="surveyForm">
                <div class="ui-refresh">
                    <ul class="su">
                        <?php $i = 1;
                        foreach ($question as $item) {
                            ?>
                            <?php if (count($item['option']) > 0) { ?>
                                <li class="title"><?php echo $i ?>、<?php echo $item['desc'] ?></li>
                                <?php foreach ($item['option'] as $itemo) { ?>
                                    <li>
                                        <input type="<?php echo $item['type'] ?>" class="xuanze"
                                               value="<?php echo $itemo['id'] ?>" data-id="<?php echo $item['id'] ?>"
                                               id="option_<?php echo $item['id'] . '_' . $itemo['id'] ?>"
                                               name="<?php echo $item['type'] ?>_<?php if ($item['type'] == 'checkbox') {
                                                   echo $item['id'] . '[]';
                                               } else {
                                                   echo $item['id'];
                                               } ?>"/>
                                        <label class="option"
                                               for="option_<?php echo $item['id'] . '_' . $itemo['id'] ?>"> <?php echo $itemo['option_name'] ?></label>
                                    </li>
                                <?php } ?>
                                <?php $i++;
                            } ?>
                        <?php } ?>
                        <?php if (isset($count) && $count < 10 && $count > 0) { ?>
                            <li class="overlinebox"><input type="submit" value="提交" class="submit-box submit"></li>
                        <?php } ?>
                    </ul>
                    <div class="clear"></div>
                    <div class="ui-refresh-down"></div>


                </div>
                <input type="hidden" name="survey_id" value="<?php echo $survey['id'] ?>">

            </form>
        <?php } else { ?>
            暂无信息
        <?php } ?>
    </div>


    <script type="text/javascript">
        seajs.use('/static/wap/gmu/widget/refresh.js', function () {
            var page = 1;
            /*组件初始化js begin*/
            $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() + 45 || 82)).refresh({
                load: function (dir, type) {
                    var me = this;
                    var link = '<?php echo $this->uri->baseUrl('/addon/api/survey/list') . '? id='.$survey['id']  ?>' + '&page=' + page;
                    $.getJSON(link, function (data) {
                        page++;
                        var $list = $('.su'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);
                                });
                                return liArr.join('');
                            })(data);

                        $list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading(dir);    //数据加载完成后改变状态
                        if (data.length <= 0) {
                            me.disable(dir, false);
                        }
                    });
                }
            });
            /*组件初始化js end*/
        });
    </script>
    <script>
        var submitFlag = 1;
        $(document).on('click', '.submit', function () {
            var data = [];
            var str = '';
            var flag = 1;
            var notselect = [];
            $('input[type=radio]').each(function () {
                var preg = $(this).attr('data-id');
                if (preg) {
                    if (!str.match(preg)) {
                        data.push('radio_' + preg);
                        str += preg + '-';
                    }
                }
            });
            if (str) {
                for (var i = 0; i < data.length; i++) {
                    if ($('input[name=' + data[i] + ']:checked').val() == undefined) {
                        submitFlag = 0;
                        alert('请先完成问卷的填写,再提交问卷');
                        return false;
                    }
                }
            }
            var data1 = [];
            var str1 = '';
            $('input[type=checkbox]').each(function () {
                var preg = $(this).attr('data-id');
                if (preg) {
                    if (!str1.match(preg)) {
                        data1.push('checkbox_' + preg + '[]');
                        str1 += preg + '-';
                    }
                }
            })
            if (str1) {
                for (var i = 0; i < data1.length; i++) {
                    if ($('input[name="' + data1[i] + '"]:checked').val() == undefined) {
                        submitFlag = 0;
                        alert('请先完成问卷的填写,再提交问卷');
                        return false;
                    }
                }
            }

        })
    </script>
</div>