<div class="duration">
    <ul class="range">
        <li class="item">
            <a href="javascript:;">1</a>
        </li>
        <li class="item">
            <a href="javascript:;">2</a>
        </li>
        <li class="item">
            <a href="javascript:;">3</a>
        </li>
        <li class="item">
            <a href="javascript:;">4</a>
        </li>
        <li class="item">
            <a href="javascript:;">5</a>
        </li>
        <li class="item">
            <a href="javascript:;">6</a>
        </li>
        <li class="item">
            <a href="javascript:;">7</a>
        </li>
        <li class="item">
            <a href="javascript:;">8</a>
        </li>
        <li class="item">
            <a href="javascript:;">9</a>
        </li>
        <li class="item" data-year="1">
            <a href="javascript:;">1年</a>
        </li>
        <li class="item" data-year="2">
            <a href="javascript:;">2年</a>
        </li>
        <li class="item" data-year="3">
            <a href="javascript:;">3年</a>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="bar">
        <div class="current">
            <a class="unit" href="javascript:;">
                1<img src="/static/panel/images/unit.png" data-unit="1"
                      style="display: inline-block;"/>
            </a>
            <a class="unit" href="javascript:;">
                2<img src="/static/panel/images/unit.png" data-unit="2"/>
            </a>
            <a class="unit" href="javascript:;">
                3<img src="/static/panel/images/unit.png" data-unit="3"/>
            </a>
            <a class="unit" href="javascript:;">
                4<img src="/static/panel/images/unit.png" data-unit="4"/>
            </a>
            <a class="unit" href="javascript:;">
                5<img src="/static/panel/images/unit.png" data-unit="5"/>
            </a>
            <a class="unit" href="javascript:;">
                6<img src="/static/panel/images/unit.png" data-unit="6"/>
            </a>
            <a class="unit" href="javascript:;">
                7<img src="/static/panel/images/unit.png" data-unit="7"/>
            </a>
            <a class="unit" href="javascript:;">
                8<img src="/static/panel/images/unit.png" data-unit="8"/>
            </a>
            <a class="unit" href="javascript:;">
                9<img src="/static/panel/images/unit.png" data-unit="9"/>
            </a>
            <a class="unit" href="javascript:;" data-year="1">1年</a>
            <a class="unit" href="javascript:;" data-year="2">2年</a>
            <a class="unit" href="javascript:;" data-year="3">3年</a>
        </div>
    </div>
    <div class="drag" style="left: 30px">
        <i></i>
        <i></i>
        <i></i>
    </div>
</div>