<?php
use Multiple\Wap\Helper\ShopData;

$order = $this->request->get('order', null, 'is_hot');
$sort = $this->request->get('sort');
$keyword = $this->request->get('keyword');

$where = 'is_active = 1 and customer_id = ' . CUR_APP_ID;
$order = in_array($order, array('is_hot', 'is_recommended', 'sell_price', 'created')) ? $order : 'is_hot';

$keyword = $this->request->get('keyword');
if (!empty($keyword)) {
    $where .= " AND name like '%$keyword%'";
}

$products = ShopData::init()->getList($where, 0, 10, $order . ' ' . $sort);

$filter = array(
    'order' => $order,
    'sort' => $sort,
    'keyword' => $keyword,
);
?>

<div class="lay_page ">
    <?php if (count($products) > 0): ?>
        <div class="lay_page_wrap">
            <div class="fn_ad ad_bigpic">
                <?php foreach ($products as $pro): ?>
                    <a class="ui_clearfix"
                       href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($pro['id'])); ?>">
                        <img src="<?php echo $pro['thumb']; ?>" class="ad_img ui_fluid">

                        <div class="ad_detail">
                            <p class="qb_fs_l"><strong><?php echo $pro['name']; ?></strong></p>

                            <p class="qb_fs_s"></p>
                        </div>
                    </a>
                <?php endforeach; ?>

            </div>


        </div>
    <?php else: ?>

        <div class="empty">暂无商品信息</div>

    <?php endif; ?>
</div>

<div class="qb_quick_tip qb_none" id="bubble"></div>
