<?php
use Components\Product\ProductManager;
use Multiple\Wap\Helper\ShopData;

$shop = ShopData::init()->getStore();
$cat = ProductManager::instance()->getCategories(CUR_APP_ID, true);//用户商城一级二级分类
foreach ($cat as $key => $val) {
    if (!empty($val['subs'])) {
        $cat[$key]['subs'] = array_slice($cat[$key]['subs'], 0, 5, true);
    }
}
//var_dump($cat);exit;
$productRec = ShopData::init()->getList('is_recommended=1 and is_active=1 and customer_id=' . CUR_APP_ID, 0, 10);
$productCount = ShopData::init()->getCount();
if ($shop) {
    ?>
    <div class="lay_page">
        <div class="lay_page_wrap">
            <div class="fn_indexad">
                <img src="<?php echo $shop['background']; ?>" class="default" style="width: 100%;">

                <?php foreach ($cat as $key => $cat): ?>
                    <?php if ($key % 2 == 0) { ?>
                        <div class="item_show_type2 content">

                            <!-- 楼层大图 -->
                            <a href="<?php echo $this->uri->baseUrl('shop/listgoods' . '/' . $cat['id']); ?>"
                               class="item_img right">
                                <img src="<?php echo $cat['image'] ?>">
                            </a>

                            <div class="tab_content content_left">
                                <!-- 楼层促销 -->
                                <a href="<?php echo $this->uri->baseUrl('shop/listgoods' . '/' . $cat['id']); ?>"
                                   class="tab_banner">
                                    <span><?php echo $cat['name']; ?></span>

                                    <div class="arrow_right1"></div>
                                </a>
                                <!-- 关键词 -->
                                <div class="tab_container">
                                    <?php foreach ($cat['subs'] as $son): ?>
                                        <a href="<?php echo $this->uri->baseUrl('shop/listgoods' . '/' . $son['id']); ?>"
                                           class="tab"><?php echo $son['name']; ?></a>
                                    <?php endforeach; ?>
                                </div>
                            </div>

                        </div>
                    <?php } else { ?>
                        <div class="item_show_type2 content">

                            <!-- 楼层大图 -->
                            <a href="#" class="item_img left">
                                <img src="<?php echo $cat['image'] ?>">
                            </a>

                            <div class="tab_content content_right">
                                <!-- 楼层促销 -->
                                <a href="<?php echo $this->uri->baseUrl('shop/listgoods' . '/' . $cat['id']); ?>"
                                   class="tab_banner">
                                    <span><?php echo $cat['name']; ?></span>

                                    <div class="arrow_right1"></div>
                                </a>
                                <!-- 关键词 -->
                                <div class="tab_container">
                                    <?php foreach ($cat['subs'] as $son): ?>
                                        <a href="<?php echo $this->uri->baseUrl('shop/listgoods' . '/' . $son['id']); ?>"
                                           class="tab"><?php echo $son['name']; ?></a>
                                    <?php endforeach; ?>
                                </div>

                            </div>

                        </div>
                    <?php } ?>

                <?php endforeach; ?>

            </div>
        </div>
    </div>
<?php } ?>
