<?php
use Multiple\Wap\Helper\ShopData;

$item = ShopData::init()->getItem();
if ($item) {
    $attrs = ShopData::init()->getItemAttr($item['id']);
    $brand = ShopData::init()->getItemBrand($item['brand_id']);
    $desc = $item['detail'];
    ?>
    <div id="container" class="container" style="background: #fcfcfc;">
        <?php
        include MODULE_PATH . "/Views/base/shop/partial/item_swipe.phtml";
        ?>
        <div class="buy-area">
            <h1 class="name"><?php echo $item['name']; ?></h1>

            <div class="price-wrap">
                <span class="tit">活动价：</span>
                <span class="price" id="priceSale">&yen; <?php echo $item['sell_price']; ?></span>
                <del class="original-price">&yen; <em id="priceMarket"><?php echo $item['original_price']; ?></em></del>
                <div class="clear"></div>
            </div>

            <?php
            include MODULE_PATH . "/Views/base/shop/partial/item_buy.phtml";
            ?>
        </div>
        <div class="shop-info-wrap">
            <?php
            include MODULE_PATH . "/Views/base/shop/partial/item_share.phtml";
            ?>

            <a href="<?php echo $this->uri->baseUrl('shop'); ?>" class="btn-shop">进入店铺<i class="arr_r_s"></i></a>

            <div class="clear"></div>
        </div>
        <div class="mod-tab-gap"></div>
        <div class="item-detail">
            <div id="detail-tab" class="tab-wrap">
                <ul class="tab-nav">
                    <li><a href="javascript:;" class="tab active" data-tab="desc">商品介绍</a></li>
                    <li><a href="javascript:;" class="tab" data-tab="param">商品参数</a></li>
                    <li><a href="javascript:;" class="tab" data-tab="comment">评价</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-panel" data-tab="desc" style="display: block;">
                        <?php echo $desc; ?>
                    </div>
                    <div class="tab-panel" data-tab="param">
                        <table class="param">
                            <?php if ($attrs) { ?>
                                <?php foreach ($attrs as $attr): ?>
                                    <tr>
                                        <td style="width: 40%;"><?php echo $attr['attr_name']; ?></td>
                                        <td style="width: 60%;"><?php echo $attr['attr_val']; ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php } else { ?>
                                暂无
                            <?php } ?>
                        </table>
                    </div>
                    <div class="tab-panel" data-tab="comment">
                        <div id="comment">暂无</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(function () {
            $('.tab-wrap .tab-nav').on('click', '.tab', function (e) {
                var tab = $(this).attr('data-tab');

                $('.tab-wrap .tab-nav .tab').removeClass('active');
                $(this).addClass('active');

                $('.tab-wrap .tab-content .tab-panel').hide();
                $('.tab-wrap .tab-content .tab-panel[data-tab="' + tab + '"]').show();
                e.stopImmediatePropagation();
            });
        })
    </script>
<?php
} else {
    ?>
    <p>商品未找到！</p>
<?php } ?>