<?php

?>

<div class="lay_page page_cat_1">
    <div class="lay_page_wrap">
        <div>
            <img class="ui_fluid" src="images/0473_c.jpg" alt="五谷杂粮">
        </div>
        <div class="fn_titles">
            <h1>五谷杂粮</h1>
        </div>
        <div class="fn_goods qb_clearfix">
            <ul id="show_container">
                <li>
                    <a href="#">
                        <img src="images/74153.jpg" width="140" height="140" class="default">

                        <div class="goods_name qb_fs_s mod_color_weak">红皮花生米</div>
                        <div class="price qb_fs_s mod_color_strong">¥7.00</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="images/74147.jpg" width="140" height="140" class="default">

                        <div class="goods_name qb_fs_s mod_color_weak">白皮花生米（生的）</div>
                        <div class="price qb_fs_s mod_color_strong">¥6.00</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="images/86892.jpg" width="140" height="140" class="default">

                        <div class="goods_name qb_fs_s mod_color_weak">大红豆</div>
                        <div class="price qb_fs_s mod_color_strong">¥7.00</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="images/86888.jpg" width="140" height="140" class="default">

                        <div class="goods_name qb_fs_s mod_color_weak">小红豆</div>
                        <div class="price qb_fs_s mod_color_strong">¥6.50</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="qb_quick_tip qb_none" id="bubble"></div>

