
    <link rel="stylesheet" href="/static/home/pc/reach/css/introduction.css"/>
<div class="wrapper">
    <div class="banner"></div>
    <div class="main">
        <div class="introduction_left">
            <ul>
                <li>
                    <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/introduction_pic1.png" alt=""/></a></div>
                    <div class="name"><a href="javascript:void(0)">品牌设计中心</a></div>
                </li>
                <li>
                    <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/introduction_pic2.png" alt=""/></a></div>
                    <div class="name"><a href="javascript:void(0)">运营发展中心</a></div>
                </li>
                <li>
                    <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/introduction_pic3.png" alt=""/></a></div>
                    <div class="name"><a href="javascript:void(0)">技术研发中心</a></div>
                </li>
                <li>
                    <div><a href="javascript:void(0)"><img src="/static/home/pc/reach/images/introduction_pic4.png" alt=""/></a></div>
                    <div class="name"><a href="javascript:void(0)">产品展示中心</a></div>
                </li>
            </ul>
        </div><!--introduction_left end-->
        <div class="introduction_right">
            <p>    广州市行指信息科技有限公司是中国电子商务协会O2O推广专业委员会唯一指定负责运营和推广的企业，是国内最早运用O2O商业模式开展移动互联网整合营销服务的企业。公司依托于中国科技大学，中科院计算机研究所的优势，拥有优秀的技术研发团队，开发了涉及电商平台，网络支付，微商城等多领域的软件产品，并获得了国家版权局颁发的著作权登记证书。</p>
            <p>    凭借着齐全的产品功能，精美的产品设计，快捷的产品创新，我们基于微信为企业提供开发，运营，培训，推广一体化解决方案，帮助企业打造O2O电商、微官网及微商城，线上线下双向互通（O2O），社会化客户关系管理（SCRM），全媒体整合营销推广等多维体营销体系，真正帮助客户实现从传统营销到具有互联网思维的微营销的转型升级，为用户创造实实在在的价值! </p>
            <p>    公司已为餐饮，茶叶，批发零售，3C，酒店，汽车等多个行业 、企业开发了以O2O、微网站和微商城为基础的功能强大的微应用平台；并与多方面企业深度合作，为其量身打造个性化营销推广体系，实现了品牌影响力和产品（服务）销售的双重提升。</p>
            <p>    我们期待着与更多有实力的机构和个人合作，共同创造、推广O2O电商及移动互联网辉煌的明天。</p>
        </div><!--introduction_right end-->
    </div><!--main end-->
</div><!--wrapper end-->
