
<?php
use  Models\System\SystemHelpCat;
use Models\System\SystemHelpArticle;
use Phalcon\Tag;
  $img_url=array('/static/home/pc/estt/images/title1.gif',
                '/static/home/pc/estt/images/title2.gif',
                '/static/home/pc/estt/images/title3.gif',
  );
$id=$this->request->get('id');
$first_article=array();//当前文章
if($id && !is_numeric($id))
{
    $this->flash->error("无效的参数");exit;
}
elseif($id && is_numeric($id))
{
       $article=SystemHelpArticle::findFirst("id=".$id);
     if(!$article){
         $this->flash->error("该文章不存在");exit;
     }
    else
    {
        $first_article=$article->toArray();
        $first_parent=$first_article['cid'];
        Tag::setTitle($first_article['title']);
    }
}
$cat=$this->db->query(
  "select id, name from system_help_cat where pid=0 and host_key='".HOST_KEY."'"
)->fetchAll();

foreach($cat as $k=>$val)
{

    $article=SystemHelpArticle::find('cid='.$val['id']);
    $article=($article ? $article->toArray():[]);
    if(!$id)
    {
        foreach($article  as $item)
        {
           if(empty($first_article))
           {
                   $first_article=$item;
                   $first_parent=$item['cid'];
                    break;
           }

        }
    }

    $cat[$k]['list']=$article;

}



?>
<link rel="stylesheet" href="/static/home/pc/estt/css/help_center.css"/>
<div class="help_center_banner">
    <div class="help_center_content">
        <div class="help_center_logo">
            <img src="/static/home/pc/estt/images/help_center_logo.png" alt=""/>
            <p><?php echo $first_article['title'] ?></p>
        </div>
        <div class="help_center_main">
            <div class="help_center_left baguetteBoxOne gallery">
                 <?php if($first_article){echo $first_article['content'];} ?>
            </div>
            <div class="help_center_right ">
                <?php foreach($cat as $k=>$item){?>
                    <div class="jichujinashe">
                      <span><?php echo $item['name']?></span>
                    </div>
                <div class="help_center_right_p<?php if($item['id']==$first_parent){echo " current_cat";}?>">
                    <?php foreach($item['list'] as $list){?>
                        <p class="<?php if($id && $id==$list['id'])echo "current_a" ?>"><a href="<?php echo "/home/help?id=".$list['id'];?>" title="<?php echo $list['title']?>"><?php echo $list['title']?></a></p>
                    <?php }?>
                </div>
                 <?php }?>
            </div>
            <div class="clear"></div>
        </div><!-- help_center_main end -->
    </div><!-- help_center_content end -->
</div><!-- help_center_banner end-->
<!--************************** help_center_banner end ************************************-->
<script src="/static/panel/js/jquery/jquery.last.js"></script>
<script src="/static/home/pc/estt/js/baguetteBox.js"></script>
<script>
    $('.help_center_right').on('click','.jichujinashe',function(){
        var children=$(this).next();
       if(!children.hasClass('current_cat'))
       {
           children.addClass('current_cat');
       }
        else
       {
           children.removeClass('current_cat');
       }




    });
    window.onload = function() {
        baguetteBox.run('.baguetteBoxOne');
    };
</script>


