<div id="modify" class="person_main">
    <div class="person_info">
        <div class="lf"><img
                src="<?php echo !empty($user['avatar']) ? $user['avatar'] : '/static/wap/images/default/portrait.jpg'; ?>"
                alt=""/>

        </div>
        <div class="rg">
            <div><span>用户名：</span><?php echo $user['username']; ?></div>
            <div class="tp">
                <span>性别：</span><?php echo($user['gender'] == 'm' ? '男' : ($user['gender'] == 'f' ? '女' : '保密')); ?>
                <span
                    class="distance">所在地：</span><?php echo ($user['province'] ? $user['province'] : '') . " " . ($user['city'] ? $user['city'] : '') . " " . ($user['town'] ? $user['town'] : '') ?>
            </div>
            <div class="tp"><span>电话：</span><a href="javascript:;" class="tel"><?php echo $user['phone'] ?></a></div>
            <div class="tp"><span>邮箱：</span><?php echo $user['email'] ?></div>
            <div class="tp">
                <span>所在地：</span><?php echo ($user['province'] ? $user['province'] : '') . " " . ($user['city'] ? $user['city'] : '') . " " . ($user['town'] ? $user['town'] : '') ?>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- person_info end -->
    <div class="con">
        <ul>
            <!--<li><a href="/addon/vipcard"><img src="/static/wap/images/tpl/renhao2/revised_data_1.png" alt=""/>会员卡</a>
            </li>-->
            <li><a href="/addon/wheel"><img src="/static/wap/images/tpl/renhao2/revised_data_2.png" alt=""/>大转盘</a></li>
            <li><a href="/addon/scratch"><img src="/static/wap/images/tpl/renhao2/revised_data_3.png" alt=""/>刮刮乐</a>
            </li>
            <li><a href="/addon/store"><img src="/static/wap/images/tpl/renhao2/revised_data_4.png" alt=""/>附近门店</a>
            </li>
            <li><a href="/addon/guestbook"><img src="/static/wap/images/tpl/renhao2/revised_data_5.png" alt=""/>用户留言</a>
            </li>
            <li><a href="/user/resetPass"><img src="/static/wap/images/tpl/renhao2/login_code1.png" alt=""/>修改密码</a>
            </li>
            <!-- <li><a href="javascript:;"><img src="/static/wap/images/tpl/renhao2/revised_data_6.png" alt=""/>服务协议</a></li>-->
        </ul>
        <div class="clear"></div>
    </div>
</div><!-- modify end -->

<!------------------------------- person_main end ----------------------------->
