<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style type="text/css">
    body {
        width: 100%;
        height: 100%;
        background: url("/static/wap/images/tpl/renhao2/register.png") no-repeat;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
</style>

<div id="login" class="register">
    <div class="pic"><img src="/static/wap/images/tpl/renhao2/register_logo.png" alt=""/></div>
    <form action="javascript:;" method="post" id="loginForm" class="form">
        <p class="field"><input type="text" name="phone" id="phone" class="login_num phone" placeholder="请输入您的手机账号"/>
        </p>

        <p class="field"><input type="password" id="password" name="password" class="login_code password"
                                placeholder="请输入密码"/></p>
        <a href="/user/forgot" style="text-align: left; color: #fff; float: left; ">忘记密码?&nbsp;找回密码</a>

        <div class="href">
            <a href="javascript:;" class="loginBtn">立即登录 </a><a
                href="<?php echo $this->uri->appUrl('user/signup?go=' . urlencode($this->request->get('go'))); ?>"
                class="m_l">我要注册</a>

            <div class="clear"></div>
        </div>
    </form>
</div>

<script>
    seajs.use('renhao/renhao.user', function (user) {
        user.user_login("<?php echo $this->request->get('go'); ?>");
    });
</script>
