<?php
\Components\TplManager::$_config['hideHeader'] = true;
\Components\TplManager::$_config['hideFooter'] = true;
?>
<style type="text/css">
    body {
        width: 100%;
        height: 100%;
        background: url("/static/wap/images/tpl/renhao2/register.png") no-repeat;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
</style>
<div id="register" class="register">
    <div class="pic"><img src="/static/wap/images/tpl/renhao2/register_logo.png" alt=""/></div>
    <form action="javascript:;" class="form" method="post" id="phoneCheckForm">
        <p class="field"><input id="r_phone" type="text" name="phone" class="phone" placeholder="请设置您的手机号"/>
        </p>

        <p class="field">
            <input type="text" id="verifyCode" name="verifyCode" class="verify-code" value="" placeholder="验证码">
        </p>
        <a href="javascript:;" class="btn btn-gray get-code" id="sendCodeBtn" data-timer="0">获取验证码</a>

        <input type="submit" value="下一步" class="nextBtn reg_sub"/>
    </form>
    <form action="javascript:;" class="form" method="post" id="signUpForm" style="display: none;">


        <p class="field"><input type="text" name="username" class="username" placeholder="请设置您的昵称"/></p>

        <p class="field"><input type="password" name="password" class="password" placeholder="请设置您的安全密码"/></p>

        <p class="field"><input type="password" name="repassword" class="repassword" placeholder="确认您的密码"/></p>

        <div class="receive"><span class="choose"><input type="checkbox"/></span>接受华润漆有关协议</div>

        <p>
            <input type="submit" value="注册" class="regBtn reg_sub"/>
        </p>
    </form>


</div>


<script>
    seajs.use('renhao/renhao.user', function (api) {
        api.user_reg("<?php echo $this->request->get('go'); ?>");
    });
    /*$(function(){
     $(".register .receive>span").click(function(){
     if($(this).hasClass("choose")){
     $(this).removeClass("choose");
     }else{
     $(this).addClass("choose");
     }
     });
     });*/

</script>