<div id="container" class="container">
    <div class="user-widget">
        <ul class="func-list">
            <!--<li>
                <a href="/addon/vipcard/score">
                    <span class="sign color118"><i class="icon icon-star"></i></span> 我的积分
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>-->
            <li>
                <a href="javascript:;">
                    <span class="sign color102"><i class="icon icon-comments-alt"></i></span> 我参与的微投票
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>
        </ul>
        <ul class="func-list">
            <!--<li>
                <a href="/addon/vipcard/score">
                    <span class="sign color118"><i class="icon icon-star"></i></span> 我的积分
                    <span class="right"><i class="icon icon-angle-right"></i></span>
                </a>
            </li>-->
            <?php if ($vote) { ?>
                <?php foreach ($vote as $item) { ?>
                    <li class="vote_list">
                        <a target="_blank"
                           href="<?php echo $this->uri->baseUrl('addon/vote/vote/' . \Util\EasyEncrypt::encode($item['vote_id'])); ?>">
                            <?php echo $item['vote_topic'] ?>
                        </a>
                    </li>
                <?php } ?>
            <?php } else { ?>
                <li class="vote_list">
                    <a href="javascript:;">
                        暂时没有任何投票记录
                    </a>
                </li>

            <?php } ?>

        </ul>

    </div>

</div>