<?php

$navs = \Multiple\Wap\Helper\SiteData::init()->getNavs('part');

?>

<!---wz_wrapper-->
<div class="wz_wrapper">
    <?php foreach ($navs as $key => $val) { ?>
        <? if ($key % 2 == 0) { ?>
            <div class="wz_line ">
                <a href="<?php echo $val['link_type'] == 'tel' ? 'tel:' . $val['link'] : $val['link']; ?>">
                    <div
                        class="wz_text wz_color_01 wz_flat_left <?php echo $val['color'] ?>"><?php echo $val['name'] ?></div>
                    <div class="wz_img "><img src="<?php echo \Util\ImgSize::getSize($val['cover_img'], 240, 100) ?>">
                    </div>
                </a>

                <div class="clfl"></div>
            </div>
        <? } else { ?>
            <div class="wz_line  ">
                <a href="<?php echo $val['link_type'] == 'tel' ? 'tel:' . $val['link'] : $val['link']; ?>">
                    <div
                        class="wz_text wz_color_02 wz_flat_right <?php echo $val['color'] ?>"><?php echo $val['name'] ?></div>
                    <div class="wz_img "><img src="<?php echo $val['cover_img'] ?>"></div>
                </a>

                <div class="clfl"></div>
            </div>

        <? } ?>

    <?php } ?>
</div><!---wz_wrapper-->

