﻿/* 商城首页 */

.tpl-fbb {
    min-height: 300px;
}

.tpl-fbb .swiper-container {
    width: 100%;
    height: 188px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0
}

.tpl-fbb a {
    color: #fff;
    display: block
}

.tpl-fbb .swiper-container .swiper-slide {
    padding-right: 1px;
    opacity: .2;
    -webkit-transform: translate3d(64px, 0, 0);
    -moz-transform: translate3d(64px, 0, 0);
    -o-transform: translate3d(64px, 0, 0);
    transform: translate3d(64px, 0, 0);
    -webkit-transition: -webkit-transform .5s ease-out .1s, opacity .5s ease-out .1s;
    -moz-transition: transform .5s ease-out .1s, opacity .5s ease-out .1s;
    -o-transition: transform .5s ease-out .1s, opacity .5s ease-out .1s;
    transition: transform .5s ease-out .1s, opacity .5s ease-out .1s
}

.tpl-fbb .swiper-container .swiper-slide.done {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.tpl-fbb .swiper-container .swiper-slide a.slide-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000
}

.tpl-fbb .swiper-container .swiper-slide a {
    width: 85px;
    height: 188px;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    position: relative
}

.tpl-fbb .swiper-container .swiper-item-bg {
    background-color: #000;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.container .homepage-footer {
    position: absolute;
    bottom: -80px;
    height: 80px;
    overflow: hidden;
    width: 100%;
    background-color: #2d3132
}

.container .homepage-footer .footer {
    margin: 0 auto
}

.container .homepage-footer .copyright {
    color: #999;
    font-size: 12px;
    line-height: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center
}

.container .homepage-footer .copyright.dark-bg .ft-links > a {
    color: #848c8d
}

.container .homepage-footer .copyright.dark-bg .ft-links > a:hover {
    color: #848c8d
}

.container .homepage-footer .copyright.dark-bg .ft-shop-weixin {
    line-height: 16px
}

.container .homepage-footer .copyright.dark-bg .ft-shop-weixin > a {
    color: #696f70
}

.container .homepage-footer .copyright.dark-bg .ft-shop-weixin > a:hover {
    color: #696f70
}

.container .homepage-footer .copyright .ft-links {
    text-align: center
}

.container .homepage-footer .copyright .ft-links > a {
    margin: 0 6px;
    color: #6191bf
}

.container .homepage-footer .copyright .ft-links > a:hover {
    color: #6191bf
}

.container .homepage-footer .copyright .ft-shop-weixin {
    text-align: center;
    margin-top: 10px;
    font-size: 12px
}

.container .homepage-footer .copyright .ft-shop-weixin > a {
    color: #999
}

.container .homepage-footer .copyright .ft-shop-weixin > a:hover {
    color: #999
}

.homepage-footer .footer .copyright .ft-links > a {
    color: #848c8d
}

.homepage-footer .footer .copyright .ft-links > a:hover {
    color: #848c8d
}

.homepage-footer .footer .copyright .ft-shop-weixin > a {
    color: #696f70
}

.homepage-footer .footer .copyright .ft-shop-weixin > a:hover {
    color: #696f70
}

.tpl-course .swiper-container, .tpl-course .swiper-container .swiper-slide a {
    height: 100px
}

.tpl-course .butn-section {
    margin: 0 auto;
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    z-index: 10
}

.tpl-course-title, .tpl-course-sub-title {
    margin: 0 auto;
    color: #fff;
    font-size: 31px;
    font-weight: normal;
    line-height: 1.2;
    text-align: center
}

.tpl-course-title {
    text-transform: uppercase;
    font-size: 30px;
    padding: 40px 0 0 0
}

.tpl-course-sub-title {
    font-size: 18px;
    color: #cfcfcf;
    letter-spacing: 5px;
    margin: 15px 0
}

.tpl-fbb-item-wrap {
    position: absolute;
    z-index: 10;
    width: 100%
}

.tpl-fbb-item-name {
    font-size: 16px;
    margin: 12px auto 6px;
    height: 24px;
    overflow: hidden;
    width: 100%
}

.tpl-fbb-item-line {
    border-bottom: 1px solid #4d4948;
    width: 60px;
    margin: 0 auto
}

.tpl-fbb-item-icon {
    margin: 12px auto 6px;
    width: 30px;
    height: 30px
}

.tpl-fbb-item-icon img {
    width: 30px;
    height: 30px
}

.tpl-fbb-item-text {
    font-size: 12px;
    text-align: left;
    width: 73px;
    height: 60px;
    line-height: 18px;
    margin: 0 auto;
    padding-top: 7px;
    color: #f0f0f0;
    overflow: hidden;
}

.tpl-fbb-item-date {
    font-size: 16px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    color: #f0f0f0;
    overflow: hidden
}

.tpl-shop-header {
    position: relative;
    height: 100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover
}

.tpl-shop-header:hover .close-modal {
    display: block
}

body {
    background: #eee;
}

.clearfix:after{
    content:"."; display:block; height:0; clear:both;
    visibility:hidden;
}
*html .clearfix{
    height:1%;
}
*+html .clearfix{
    height:1%;
}

/*首页样式*/
.shop-brand {
    height: 208px;
    overflow: hidden;
    color: #333;
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

.shop-brand .shop-bg{width:100%;max-width:100%;}

.shop-brand .shop-info {
    border: 1px solid #CCCCCC;
    bottom: 0;
    height: 48px;
    left: 0;
    padding: 0 10px;
    position: absolute;
    right: 0;
    background: #fff;
    margin: 0;
}

.shop-brand .shop-info .photo {
    margin: -35px 10px 0 0;
    position: relative;
    background: #fff;
    height: 70px;
    width: 70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
}

.shop-brand .shop-info .photo img {
    width: 70px;
    height: 70px;
}

.shop-brand .shop-info .name {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #000;
}

.shop-brand .shop-info .goods-num {
    border-left: 1px solid #CCCCCC;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12px;
}

.shop-brand .shop-info .goods-num span{margin-left:2px;}

/*推荐商品*/
.products .mod-tit{color: #333333;font-size: 18px;font-weight: normal;line-height: 18px;margin: 15px 0;padding: 0 10px;}

/*====================================================*
 *  categories
 ====================================================*/
#categories {}
#categories li { border-bottom: 1px solid #ccc; background: #F3F3F3; padding-left: 15px; }
#categories li.parent { background: white; padding-left: 0; }
#categories li a { height: 45px; line-height: 45px; font-size: 14px; padding-left: 20px; display: block; font-family: 'Microsoft YaHei'; }

/*====================================================*
 *  product list
 ====================================================*/
.product {
}

.product .filter {
    margin: 6px 3px;
}

.product .filter table { width: 100%; }
.product .filter table td { border: 1px solid #ccc; padding: 1px; width: 25%; }
.product .filter table td a { display:block; height: 32px; line-height: 32px; text-align: center; font-size: 14px; }
.product .filter table td a.cur { background: #685C5B; color: white; }

.productlist {
    padding: 0;
}

.productlist li {
    float: left;
    width: 50%;
    padding: 0 3px;
    text-align: center;
    margin-bottom: 6px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.productlist li a {
    background: #fff;
    display: block;
    border: 1px solid #ccc;
}

.productlist li a .cover {
    overflow: hidden;
    text-align: center;
}

.productlist li a:link img,
.productlist li a:active img,
.productlist li a:visited img {
    width: auto;
    border: none;
}

.productlist li a:hover img {  }
.productlist li img{width:100%;}
.productlist li .detail { background: #fff; text-align: left; padding: 10px; }
.productlist li .detail .price { margin-top: 5px; color: #C73D00; font-weight: bold; }
.productlist li .detail .price del { color: #999; font-weight: normal;margin-left: 5px;}

.productlist li .detail .name {
    font-size: 14px;
    color: #333;
    height: 40px;
    overflow: hidden;
}

.ui-refresh {

}

.ui-refresh .filter {
}

.ui-refresh-down { text-align: center; }

.sort {
    background: url("/static/wap/images/tpl/filter.png") no-repeat scroll right center / 26px 20px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 12px;
    vertical-align: middle;
}
.sort.asc {
    background: url("/static/wap/images/tpl/filter.png") no-repeat scroll left center / 26px 20px rgba(0, 0, 0, 0);
}

.empty { height: 200px; line-height: 200px; text-align: center; }

.search {
    margin: 12px 0 0;
    background: white;
    font-family: 'Microsoft YaHei';
}

.searchForm { width: 100%; }
.searchForm td { background: #F5F5F5; padding: 10px; }
.searchForm td a { color: #237FE5; }

.searchForm td .find {
    border-radius: 3px 0 0 3px;
    background: #fff;
    position: relative;
    padding: 0 0 0 30px;
}

.searchForm td .searchIcon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #666;
    text-align: center;
}

.searchForm td input.iText {
    width: 100%;
    height: 24px;
    border-radius: 0 3px 3px 0;
    line-height: 24px;
}

.search .keywords { margin-top: 20px; }
.search .keywords .title { font-size: 14px; margin-bottom: 15px; }
.search .keywords .wordlist { }
.search .keywords .wordlist li { float: left; margin-right: 10px; }
.search .keywords .wordlist li a { display: inline-block; padding: 0 10px; height: 24px; margin-bottom: 5px; line-height: 24px; background: #F5F5F5; }

/*====================================================*
 *  product detail
 ====================================================*/
.buy-area{}
.buy-area .name{ color: #333333;font-size: 14px;font-weight: 400;line-height: 18px;max-height: 3em;overflow: hidden;padding:12px 10px 13px 10px; }
.buy-area .price-wrap{height: 15px;line-height: 15px;overflow: hidden;padding: 0 10px;}
.buy-area .price-wrap .tit{color: #333333;float: left;font-size: 14px;}
.buy-area .price-wrap .price{ color: #E4393C;float: left;font-size: 16px;font-weight: bold;height: 16px;line-height: 16px;margin-right: 10px;position: relative;top: -1px;}
.buy-area .price-wrap .original-price{ color: #B5B5B5;float: left;font-size: 12px;margin-right: 8px;}

.buy-area .qty-wrap {
    border-top: solid 1px #eee;
    margin: 8px 0;
    padding: 0 0 0 20px;
    line-height: 36px;
}

.buy-area .qty-wrap .tit{color: #999999;float: left;font-size: 12px;font-weight: normal;height: 40px;line-height: 34px;overflow: hidden;width: 35px;}

.buy-area .qty-wrap .num {
    float: left;
    width: 120px;
}

.buy-area .qty-wrap .num input{height:34px;line-height:normal;width:70px;font-size:16px;border:solid 1px #ddd;text-align:center;}
.buy-area .qty-wrap .inventory{ color: #999999;display: table;float: left;font-size: 12px;height: 36px;line-height: 34px;margin-left: 15px;padding: 2px;}
.buy-area .btn-wrap{overfloat:hidden;padding:15px 10px;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background:#eee;}
.buy-area .btn-wrap .btn-buy{background:#E4393C;border-radius: 2px;color: #FFFFFF;height: 40px;line-height: 40px;position: relative;text-align: center;text-decoration: none;display:block;}
.shop-info-wrap{border-bottom: 1px solid #DDDDDD;font-size: 12px;padding-left: 0;padding-right: 0;padding:15px 0;display:relative;}
.shop-info-wrap .btn-shop{background: #F5F5F5;border: 1px solid #CCCCCC;border-radius: 2px;color: #333333;float: right;font-size: 14px;height: 29px;line-height: 29px;margin-right: 10px;margin-top: 1px;position: relative;text-align: center;width: 148px;}
.shop-info-wrap .btn-shop .arr_r_s{ margin-left: 25px;position: absolute;right: 15px;top: 8px;background:url(/static/wap/images/tpl/detail.png) no-repeat;background-position: -181px -84px;display: inline-block;height: 12px;width: 7px;}
.mod-tab-gap{background: #F3F3F3;padding-top: 15px;}

.item-detail .param{width:100%;}
.item-detail .param td{border: 1px solid #ccc; padding: 5px 10px;}



.order-list {
    width: 100%;
    color: #333;
}

.order-list td {
    vertical-align: top;
}

.order-list img {
    width: 50px;
    height: 50px;
}

.order-list .btn {
    height: 12px;
    line-height: 12px;
}

.order-list .order-head {
    font-size: 10pt;
}

.order-list .order-head th {
    padding: 0 0 8px;
    text-align: left;
}

.order-list .order-head .base span {
    color: #000;
    font-weight: bold;
}

.order-list .item-list td {
    padding: 8px 0 0;
    border: 1px solid #eee;
}

.order-list .item-list .cover {
    width: 64px;
    text-align: center;
}

.order-list .item-list .detail {
    padding: 8px;
}

.order-list .item-list .name {
    margin: 0 0 4px;
}

.order-list .item-list .total {
    background: #f0f0f0;
    line-height: 160%;
    padding: 0 0 0 4px;
}


.product-options {
}

.product-opt {
    margin: 8px 0;
    line-height: 24px;
    clear: both;
}

.product-opt dt {
    float: left;
}

.product-opt .opt_choose {
    background: #E0E0E0;
    display: inline-block;
    padding: 0 8px;
}

.product-opt .opt_choose.current {
    background: #C51B00;
    color: #fff;
}

.tab-wrap {
    width: 100%;
}

.tab-wrap .tab-nav li {
    width: 33%;
    float: left;
    overflow: hidden;
}

.tab-wrap .tab-nav li .tab {
    display: block;
    overflow: hidden;
    width: 100%;
    border: solid #d4d4d4;
    border-width: 1px 0 1px 1px;
    text-align: center;
    color: #4a4a4a;
    font-size: 16px;
    background-color: #f4f4f4;
    height: 35px;
    line-height: 35px;
    white-space: nowrap; /*内容不换行*/
    cursor: pointer;
}

.tab-wrap .tab-nav li .tab.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.tab-wrap .tab-nav li:last-child {
    width: 34%;
}

.tab-wrap .tab-nav li:last-child .tab {
    border-width: 1px;
}

.tab-wrap .tab-content {
    clear: both;
}

.tab-wrap .tab-content .tab-panel {
    display: none;
    padding: 8px;
}

#item-swiper {
    height: 200px;
    position: relative;
}

#item-swiper img {
    width: 100%;
}

#item-swiper .pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

#item-swiper .pagination .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

#item-swiper .pagination .swiper-active-switch {
    background: #fff;
}

#item-swiper .pagination .swiper-dynamic-links {
    text-align: center;
}

#item-swiper .pagination .swiper-dynamic-links a {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    background: #eee;
}


/*首页样式*/
.shop-brand {
    height: 208px;
    overflow: hidden;
    color: #333;
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

.shop-brand .shop-bg{width:100%;max-width:100%;}

.shop-brand .shop-info {
    border: 1px solid #CCCCCC;
    bottom: 0;
    height: 48px;
    left: 0;
    padding: 0 10px;
    position: absolute;
    right: 0;
    background: #fff;
    margin: 0;
}

.shop-brand .shop-info .photo {
    margin: -35px 10px 0 0;
    position: relative;
    background: #fff;
    height: 70px;
    width: 70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
}

.shop-brand .shop-info .photo img {
    width: 70px;
    height: 70px;
}

.shop-brand .shop-info .name {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #000;
}

.shop-brand .shop-info .goods-num {
    border-left: 1px solid #CCCCCC;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12px;
}

.shop-brand .shop-info .goods-num span{margin-left:2px;}

/*推荐商品*/
.products .mod-tit{color: #333333;font-size: 18px;font-weight: normal;line-height: 18px;margin: 15px 0;padding: 0 10px;}

/*====================================================*
 *  categories
 ====================================================*/
#categories {}
#categories li { border-bottom: 1px solid #ccc; background: #F3F3F3; padding-left: 15px; }
#categories li.parent { background: white; padding-left: 0; }
#categories li a { height: 45px; line-height: 45px; font-size: 14px; padding-left: 20px; display: block; font-family: 'Microsoft YaHei'; }

/*====================================================*
 *  product list
 ====================================================*/
.product {
}

.product .filter {
    margin: 6px 3px;
}

.product .filter table { width: 100%; }
.product .filter table td { border: 1px solid #ccc; padding: 1px; width: 25%; }
.product .filter table td a { display:block; height: 32px; line-height: 32px; text-align: center; font-size: 14px; }
.product .filter table td a.cur { background: #685C5B; color: white; }

.productlist {
    padding: 0;
}

.productlist li {
    float: left;
    width: 50%;
    padding: 0 3px;
    text-align: center;
    margin-bottom: 6px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}

.productlist li a {
    background: #fff;
    display: block;
    border: 1px solid #ccc;
}

.productlist li a .cover {
    overflow: hidden;
    text-align: center;
}

.productlist li a:link img,
.productlist li a:active img,
.productlist li a:visited img {
    width: auto;
    border: none;
}

.productlist li a:hover img {  }
.productlist li img{width:100%;}
.productlist li .detail { background: #fff; text-align: left; padding: 10px; }
.productlist li .detail .price { margin-top: 5px; color: #C73D00; font-weight: bold; }
.productlist li .detail .price del { color: #999; font-weight: normal;margin-left: 5px;}

.productlist li .detail .name {
    font-size: 14px;
    color: #333;
    height: 40px;
    overflow: hidden;
}

.ui-refresh {

}

.ui-refresh .filter {
}

.ui-refresh-down { text-align: center; }

.sort {
    background: url("/static/wap/images/tpl/filter.png") no-repeat scroll right center / 26px 20px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 12px;
    vertical-align: middle;
}
.sort.asc {
    background: url("/static/wap/images/tpl/filter.png") no-repeat scroll left center / 26px 20px rgba(0, 0, 0, 0);
}

.empty { height: 200px; line-height: 200px; text-align: center; }

.search {
    margin: 12px 0 0;
    background: white;
    font-family: 'Microsoft YaHei';
}

.searchForm { width: 100%; }
.searchForm td { background: #F5F5F5; padding: 10px; }
.searchForm td a { color: #237FE5; }

.searchForm td .find {
    border-radius: 3px 0 0 3px;
    background: #fff;
    position: relative;
    padding: 0 0 0 30px;
}

.searchForm td .searchIcon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #666;
    text-align: center;
}

.searchForm td input.iText {
    width: 100%;
    height: 24px;
    border-radius: 0 3px 3px 0;
    line-height: 24px;
}

.search .keywords { margin-top: 20px; }
.search .keywords .title { font-size: 14px; margin-bottom: 15px; }
.search .keywords .wordlist { }
.search .keywords .wordlist li { float: left; margin-right: 10px; }
.search .keywords .wordlist li a { display: inline-block; padding: 0 10px; height: 24px; margin-bottom: 5px; line-height: 24px; background: #F5F5F5; }

/*====================================================*
 *  product detail
 ====================================================*/
.buy-area{}
.buy-area .name{ color: #333333;font-size: 14px;font-weight: 400;line-height: 18px;max-height: 3em;overflow: hidden;padding:12px 10px 13px 10px; }
.buy-area .price-wrap{height: 15px;line-height: 15px;overflow: hidden;padding: 0 10px;}
.buy-area .price-wrap .tit{color: #333333;float: left;font-size: 14px;}
.buy-area .price-wrap .price{ color: #E4393C;float: left;font-size: 16px;font-weight: bold;height: 16px;line-height: 16px;margin-right: 10px;position: relative;top: -1px;}
.buy-area .price-wrap .original-price{ color: #B5B5B5;float: left;font-size: 12px;margin-right: 8px;}

.buy-area .qty-wrap {
    border-top: solid 1px #eee;
    margin: 8px 0;
    padding: 0 0 0 20px;
    line-height: 36px;
}

.buy-area .qty-wrap .tit{color: #999999;float: left;font-size: 12px;font-weight: normal;height: 40px;line-height: 34px;overflow: hidden;width: 35px;}

.buy-area .qty-wrap .num {
    float: left;
    width: 120px;
}

.buy-area .qty-wrap .num input{height:34px;line-height:normal;width:70px;font-size:16px;border:solid 1px #ddd;text-align:center;}
.buy-area .qty-wrap .inventory{ color: #999999;display: table;float: left;font-size: 12px;height: 36px;line-height: 34px;margin-left: 15px;padding: 2px;}
.buy-area .btn-wrap{overfloat:hidden;padding:15px 10px;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background:#eee;}
.buy-area .btn-wrap .btn-buy{background:#E4393C;border-radius: 2px;color: #FFFFFF;height: 40px;line-height: 40px;position: relative;text-align: center;text-decoration: none;display:block;}
.shop-info-wrap{border-bottom: 1px solid #DDDDDD;font-size: 12px;padding-left: 0;padding-right: 0;padding:15px 0;display:relative;}
.shop-info-wrap .btn-shop{background: #F5F5F5;border: 1px solid #CCCCCC;border-radius: 2px;color: #333333;float: right;font-size: 14px;height: 29px;line-height: 29px;margin-right: 10px;margin-top: 1px;position: relative;text-align: center;width: 148px;}
.shop-info-wrap .btn-shop .arr_r_s{ margin-left: 25px;position: absolute;right: 15px;top: 8px;background:url(/static/wap/images/tpl/detail.png) no-repeat;background-position: -181px -84px;display: inline-block;height: 12px;width: 7px;}
.mod-tab-gap{background: #F3F3F3;padding-top: 15px;}

.item-detail .param{width:100%;}
.item-detail .param td{border: 1px solid #ccc; padding: 5px 10px;}



.order-list {
    width: 100%;
    color: #333;
}

.order-list td {
    vertical-align: top;
}

.order-list img {
    width: 50px;
    height: 50px;
}

.order-list .btn {
    height: 12px;
    line-height: 12px;
}

.order-list .order-head {
    font-size: 10pt;
}

.order-list .order-head th {
    padding: 0 0 8px;
    text-align: left;
}

.order-list .order-head .base span {
    color: #000;
    font-weight: bold;
}

.order-list .item-list td {
    padding: 8px 0 0;
    border: 1px solid #eee;
}

.order-list .item-list .cover {
    width: 64px;
    text-align: center;
}

.order-list .item-list .detail {
    padding: 8px;
}

.order-list .item-list .name {
    margin: 0 0 4px;
}

.order-list .item-list .total {
    background: #f0f0f0;
    line-height: 160%;
    padding: 0 0 0 4px;
}


.product-options {
}

.product-opt {
    margin: 8px 0;
    line-height: 24px;
    clear: both;
}

.product-opt dt {
    float: left;
}

.product-opt .opt_choose {
    background: #E0E0E0;
    display: inline-block;
    padding: 0 8px;
}

.product-opt .opt_choose.current {
    background: #C51B00;
    color: #fff;
}

/*------------------------------------- style.css--------------------------------------------------*/
.marginb{display: block; margin-bottom: 15px;}
.content{margin: 10px; text-decoration: none; word-wrap: break-word;}
.content p{color: #666666; font-size: 14px; line-height: 1.5; margin: 0; padding: 0;}
.content img{height: auto; max-width: 100%; border: 0 none;}
/*------------------------------------- style.css end --------------------------------------------------*/

/*------------------------------------- iscroll.css -----------------------------------------------------*/
.banner{width:100%; margin:0 auto; padding:0; background-color:#151515;}
#wrapper{margin:0; width:100%; height:auto; float:left; position:relative;/* On older OS versions "position" and "z-index" must be defined, */ z-index:1;/* it seems that recent webkit is less picky and works anyway. */ overflow:hidden;}
#scroller{height:auto; float:left; padding:0;}
#scroller ul{list-style:none; display:block; float:left; width:100%; height:auto; padding:0; margin:0; text-align:left;}
#scroller li{display:block; float:left; width:auto; height:auto; text-align:center; font-size:0px; padding:0; position:relative;}
#scroller li a{display:block; padding:0; margin:0;}
#scroller li p{position:absolute; z-index:2; display:block; width:100%; bottom:0; background-color:rgba(0, 0, 0, 0.5); color:#F4F4F4; font-size:14px; text-indent: 55px; line-height:24px; text-align: left; text-indent: 10px; text-overflow: ellipsis; white-space: nowrap; padding:0; margin:0;}
#nav{float: right; margin-top: -15px; padding: 0; position: relative; width: auto; z-index: 3;}
#prev, #next{float:left; font-weight:bold; font-size:14px; padding:5px 0; width:80px; display: none;}
#next{float:right; text-align:right;}
#indicator > li{display:block; float:left; list-style:none; padding:0; margin:0;}
#indicator{display: block; margin: 0 8px; padding: 0; width: auto;}
#indicator > li{text-indent:-9999em; width:8px; height:8px; -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border-radius:4px; background:#888; overflow:hidden; margin-right:4px;}
#indicator > li.active{background:#DDDDDD;}
#indicator > li:last-child{margin:0;}
/*------------------------------------- iscroll.css end --------------------------------------------------*/


/*------------------------------------- news.css --- --------------------------------------------------*/
#popmenu{cursor:pointer; display:block; position:relative; text-align: center; width: 200px; margin:0 auto}
#popmenu:after{content: ""; width: 0; height: 0; position: absolute; right: 50px; top: 50%; margin-top: -2px; border-width: 5px 5px 0 5px; border-style: solid; border-color: #9D9D9D transparent;}
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0;filter:alpha(opacity=0);display:none;z-index: 4;}
#win{position:absolute;top:55px;left:50%; width: 200px;margin:0 0 0 -100px;display:none;z-index: 5;}
.dropdown{/* Size and position */ position: relative; display:block; margin: 0 auto; padding: 5px; /* Styles */ background-color: rgba(47, 47, 47, 1); border-radius: 7px; border: 1px solid rgba(0,0,0,0.15); box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15); cursor: pointer; outline: none; list-style: none outside none;}
.dropdown:after{content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 90px; border-width: 0 6px 6px 6px; border-style: solid; border-color: rgba(47, 47, 47, 0.9) transparent;}
.dropdown:before{content: ""; width: 0; height: 0; position: absolute; bottom: 100%; right: 88px; border-width: 0 8px 8px 8px; border-style: solid; border-color: rgba(0,0,0,0.1) transparent;}
.dropdown li{background-color: rgba(58, 58, 58, 1); display: block; float: left;height: 37px; width: 50%;}
.dropdown li span{border-color: #494949 #181818 #181818 #494949; border-left: 1px solid #494949; border-style: solid; border-width: 1px; color: #FFFFFF; line-height: 37px; display: block; font-size: 15px; height: 37px; text-align: center; text-shadow: 0 2px 2px #000000; width: 100%;}
.dropdown li:hover,.dropdown .current{background-color: rgba(0, 0, 0, 0.9);}

.Listpage{position: relative; z-index: 2;}
.top46{height:46px; padding:0; margin:0}
#ui-header{width: 100%; height: 46px; line-height:46px; z-index: 3; position: absolute; left: 0; top: 0; right:0;}
#ui-header .fixed{display: block; margin: 0 auto; min-width: 320px; height: 45px; top: 0; border-bottom: 1px solid #D1D1D1; box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15); background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9)); background-image:-webkit-linear-gradient(#ffffff, #f9f9f9); background-image:-moz-linear-gradient(#ffffff, #f9f9f9); background-image:-ms-linear-gradient(#ffffff, #f9f9f9); background-image:-o-linear-gradient(#ffffff, #f9f9f9); background-image:linear-gradient(#ffffff, #f9f9f9); /*opacity: 0.95;*/}
.ui-title{min-height: 46px; text-align: center; font-size: 16px; font-weight:normal; display: block; margin: 10px 70px 0; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; display:none;text-indent: -10px;}
.ui-btn-left{position:absolute; top:0px; left:0px; background:url(img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-left_pre{position:absolute; top:0px; left:0px; background:url(img/pre.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right{position:absolute; top:0px; right:0px; background:url(img/Refresh.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px;margin:0; padding:0; background-size:28px auto;}
.ui-btn-right_menu{position:absolute; top:0px; right:0px; background:url(img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right_home{position:absolute; top:0px; right:0px; background:url(img/home.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
#todayList{display: block; margin: 0 auto;}
.todayList li{display: block; color: #222222; border-bottom:1px solid #DDDDDD; font-weight: bold; /*text-shadow: 0 1px 0 #FFFFFF;*/ text-decoration: none; background:#F9F9F9; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; position: relative; /*padding:10px 8px;*/overflow:hidden;}
.todayList li.listhome2 a{padding:15px 30px 15px 8px; background: url("img/ico-next.png") no-repeat scroll 98% center transparent; background-size: 10px auto;}
.todayList li a{padding:10px 40px 11px 8px; display: block;}
.todayList li.only2 a{padding:10px 40px 9px 15px;display: block;}
.todayList li.only3 a{padding:10px 40px 9px 15px;display: block;}
.todayList li.only4 a{padding:10px 40px 11px 8px; display: block;}
.todayList li .img{width:75px;height:41px;float:left;margin:0 10px 0 0; display:inline;overflow:hidden;}
.todayList li img{width:75px;float:left;}
.todayList li:hover{background-color:#eeeeee; font-weight:bold; cursor:pointer; text-decoration:none;}
.todayList li:active{background-color:#eeeeee; font-weight:bold; cursor:pointer; text-decoration:none;}
.todayList li h2{font-size: 16px; color:#2f2f2f; font-weight:normal; height:20px;font-weight:normal;line-height:16px;padding:0; max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;}
.todayList li.only2 h2{padding:6px 0 8px;}
.todayList li.only3 h2{padding:0;}
.todayList li.only4 h2{padding:0;}
.todayList li p{display: block; font-size: 12px; color:#9C9C9C; line-height: 16px; font-weight: normal; margin-top: 2px 0 0 0; overflow: hidden; text-overflow: ellipsis;/*white-space: nowrap;*/ padding-right:2px;}
.todayList li.only3 p{white-space: nowrap;}
.todayList li.only4 p{white-space: nowrap;}
.todayList li p.onlyheight{height:16px; /*margin-bottom:5px*/}
.todayList li .commentNum{color: #BFBFBF; font-size: 0.75em; padding-right: 5px; text-align: right; font-weight:normal;}
.todayList li .icon{margin-top: -6px; position: absolute; top: 50%; right: 10px; height: 14px; width: 14px; background:url(img/jiantou.png) no-repeat 0 0 ; background-size: 14px 14px;}
.todayList li.border-top-none{border-top:0px solid #DDDDDD}
.todayList li.border-bottom-none{border-bottom:0px solid #DDDDDD}
#Page_wrapper .c-pnav-con{text-align:center; font-size:18px;}
#Page_wrapper .c-pnav-con ul{list-style:none; display:inline-block;}
#Page_wrapper .c-pnav-con ul li{display:inline-block; padding:5px 15px;}
#Page_wrapper .c-pnav-con ul li:nth-child(2){width:85px;}
#Page_wrapper .c-pnav-con ul li:nth-child(3){margin-left:-110px;}
#Page_wrapper .c-pnav-con ul li:last-child{margin-left:0;}
#Page_wrapper .c-pnav-con .c-p-sec{display:inline-block; margin:20px auto;}
#Page_wrapper .c-pnav-con .c-p-sec div{display:inline-block;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre{width:88px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre a{display:inline-block; width:70px; height:30px; line-height:30px; background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); border:1px #D5D5D5 solid; overflow:hidden; border-radius:2px; -webkit-border-radius:2px; border-left:1px #d5d5d5 solid; border-right:1px #d5d5d5 solid;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p{display:inline-block; width:17px; height:30px; position:relative; overflow:hidden; vertical-align:top;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p em{display:inline; -webkit-transform:rotate(45deg); background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); position:absolute; top:4px; left:6px; width:21px; height:21px; border:1px solid #ddd;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next{width:88px; margin-left:5px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next a{display:inline-block; width:70px; height:30px; line-height:30px; background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); border:1px #D5D5D5 solid; overflow:hidden; border-radius:2px; -webkit-border-radius:2px; border-left:1px #d5d5d5 solid; border-right:1px #d5d5d5 solid;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p{display:inline-block; width:17px; height:30px; position:relative; overflow:hidden; vertical-align:top;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p em{display:inline; -webkit-transform:rotate(45deg); background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8); position:absolute; top:4px; left:-12px; width:21px; height:21px; border:1px solid #ddd;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur{position:relative; height:30px; vertical-align:baseline; text-align:center; margin-left:5px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow{display:inline-block; width:88px; line-height:30px; border:1px solid #ddd; background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8)); background-image:-webkit-linear-gradient(#fefefe, #e8e8e8); background-image:-moz-linear-gradient(#fefefe, #e8e8e8); background-image:-ms-linear-gradient(#fefefe, #e8e8e8); background-image:-o-linear-gradient(#fefefe, #e8e8e8); background-image:linear-gradient(#fefefe, #e8e8e8);}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow span:first-child{width:50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-down span:last-child{display:inline-block; font-size:0; width:1px; height:6px; background-color:transparent; -webkit-transform:rotate(225deg); margin-bottom:3px;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-up span:last-child{display:inline-block; font-size:0; border-top:3px solid #666; border-left:3px solid #666; width:6px; height:6px; background-color:transparent; -webkit-transform:rotate(45deg);}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey{display:inline-block;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey a{color:#999;}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-select{position:absolute; top:0; left:0; height:30px; width:90px; opacity:0;}
#listhome1{background-color:#F0EFEF;margin: 0 auto; max-width: 640px; min-width: 320px;overflow-x: hidden;height: 100%; width: 100%;}
#listhome2{background-color:#F0EFEF;margin: 0 auto; max-width: 640px; min-width: 320px;overflow-x: hidden;}
.text em{font-style:italic}
.text img{max-width: 100%;}
#scroller{height:auto; float:left; padding:0;}
#scroller ul{list-style:none; display:block; float:left; width:100%; height:auto; padding:0; margin:0; text-align:left;}
#scroller li{display:block; float:left; width:320px; height:auto; text-align:center; font-size:0px; padding:0; position:relative;}
#scroller li a{display:block; padding:0; margin:0;}
#scroller li p{position:absolute; z-index:2; display:block; width:100%; bottom:0; background-color:rgba(0, 0, 0, 0.5); color:#F4F4F4; font-size:14px; text-indent: 55px; line-height:24px; text-align: left; text-indent: 10px; text-overflow: ellipsis; white-space: nowrap; padding:0; margin:0;}
#next{float:right; text-align:right;}
#scroller li img{width:320px; height:200px;}
/*------------------------------------- news.css end --------------------------------------------------*/

/*------------------------------------- wz.css ------------------------------------------------------*/
.copyright{padding:8px;text-align:center;font-size:11px;color:#ccc;}
.copyright a{color:#ccc;}
#cate1{background-color: #F0F0F0;overflow-x: hidden;}
#cate1 .mainmenu{display: block; margin: 0 auto; padding: 5px; width: 310px;}
#cate1 .mainmenu li{width:50%; float:left; display: block; margin-right: -0.5px; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn{display: block; text-decoration:none; color:#000; background-color: #ffffff; border-radius: 5px; margin:5px; box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;}
#cate1 .mainmenu li .menubtn:hover{background-color: #f5f5f5;}
#cate1 .mainmenu li a{display:block; padding:0px; font-size:14px; color: #000000; text-decoration: none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;}
#cate1 .mainmenu li .menubtn .menumesg{padding:0px}
#cate1 .mainmenu li .menubtn .menuimg{height:100px; overflow:hidden; border-radius: 5px 5px 0 0; background-color: #F5F5F5;}
#cate1 .mainmenu li div img{border:0; width:100%; min-height:100px; border-radius: 5px 5px 0 0;}
#cate1 .mainmenu li .menutitle{text-align:center; padding: 5px; text-decoration: none; color:#000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*------------------------------------- wz.css end --------------------------------------------------*/
/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    overflow: hidden;
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 6px;
    -webkit-border-radius: .1em;
    -moz-border-radius: .1em;
    border-radius: .1em;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 30px;
}

.list .price {
    overflow: hidden;
    display: block;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-x span {
    overflow: hidden;
}
/*列表布局 1.css*/
.list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
.list-x .sub-title {
    font-size: 11pt;
    color: #666;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
}

.list-x .small {
    overflow: hidden;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
}

.list-x .price {
    overflow: hidden;
    color: #EA8511;
    padding-top: 2px;
    font-size: 12pt;
    font-weight: 600;
}

.list-x .del {
    text-decoration: line-through;
    margin-left: 10px;
}

.list-arrow-right li {
    background: url(/static/wap/images/tpl/arrow-r.png) center right no-repeat;
}

/*详情布局 1.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    color: #666;
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
}

.article-info{
    color: #666;
}
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}
