<div id="container" class="container">
    <div id="panorama360" style="width: 100%;height: 100%;">
        loading...
        <noscript><p><b>请启用javascript功能</b></p></noscript>
    </div>
    <a href="javascript:history.go(-1);" class="goBackBtn btn btn-green" style="z-index: 99999;margin: 0 0 0 8px;position: absolute;top: 8px;
    ">返回</a>
</div>
<div class="pano-detail">
    <?php echo $item['detail']; ?>
</div>
<div class="page-more">
    <?php echo $item['title']; ?>
    <span class="right"><a href="javascript:;" class="btn showDetailBtn btn-green">详情</a></span>
</div>
<script>
    seajs.use('module/panorama/pano2vr_player.js', function () {
        if (ggHasHtml5Css3D() || ggHasWebGL()) {
            pano = new pano2vrPlayer("panorama360");

            //pano.readConfigUrl('http://www.wxslu.com/index.php?g=Wap&m=Panorama&a=item&o=xml&id=2');
            pano.readConfigUrl('/addon/panorama/xml/<?php echo \Util\EasyEncrypt::encode($item['id']);?>');
        } else {
            alert("对不起！你的浏览器不支持360全景展示功能.");
        }

        $('.showDetailBtn').click(function (e) {
            var flag = $(this).attr('data-flag');
            if (flag) {
                $('.pano-detail').hide();
                $(this).removeAttr('data-flag');
            } else {
                $('.pano-detail').show();
                $(this).attr('data-flag', 1);
            }
            e.stopImmediatePropagation();
        });
    });
</script>