<div id="container" class="container">
    <?php
    if ($list) {
        ?>
        <div class="ui-refresh">
            <ul class="panorama">
                <?php foreach ($list as $item) {
                    ?>
                    <li class="item">
                        <a href="<?php echo $this->uri->wapModuleUrl('panorama/detail/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                            <p class="title"><?php echo $item['title']; ?></p>

                            <p class="date"><span
                                    class="right">浏览 <?php echo $item['views']; ?>
                                    次</span><?php echo date('Y年m月d日', $item['created']); ?>
                            </p>

                            <p class="cover">
                                <img src="<?php echo $item['front']; ?>" alt=""/>
                            </p>

                        </a>

                        <p class="detail"><?php echo $item['detail']; ?></p>
                    </li>
                <?php } ?>
            </ul>
            <div class="ui-refresh-down"></div>
        </div>
    <?php } else { ?>
        <p>暂无数据</p>
    <?php } ?>

    <script type="text/javascript">
        seajs.use('/static/wap/gmu/widget/refresh.js', function () {
            var page = 1;
            /*组件初始化js begin*/
            $('.ui-refresh').css('height', window.innerHeight - ($('.header').height() + 45 || 82)).refresh({
                load: function (dir, type) {
                    var me = this;
                    var link = '<?php echo $this->uri->wapModuleUrl('/api/panorama/more') . '?'  ?>' + 'page=' + page;
                    $.getJSON(link, function (data) {
                        page++;
                        var $list = $('.panorama'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);
                                });
                                return liArr.join('');
                            })(data);

                        $list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading(dir);    //数据加载完成后改变状态
                        if (data.length <= 0) {
                            me.disable(dir, false);
                        }
                    });
                }
            });
            /*组件初始化js end*/
        });
    </script>
</div>