<?php
use Components\Product\ProductManager;
use Models\Product\ProductCat;

$cat = ProductManager::instance()->getCategories(CUR_APP_ID);
$page = 1;
$parent = array();
$son = array();
$selectType = '';
$filter = array();//商品筛选
$filter_url = '';
$where = '';
if (empty($cat)) {
    $this->flash->error('该商家还未添加任何分类');
    exit;
}
//推荐商品
if ($this->request->get('is_recommended') && $this->request->get('is_recommended') == 1) {
    $filter['is_recommended'] = "is_recommended=1";

}
//新品
if ($this->request->get('is_new') && $this->request->get('is_new') == 1) {
    $filter['is_new'] = "is_new=1";
}
//热销
if ($this->request->get('is_hot') && $this->request->get('is_hot') == 1) {
    $filter['is_hot'] = "is_hot=1";
}
if (!empty($filter)) {
    $where = ' AND ' . implode(' AND ', $filter);
    $filter_url = '&' . implode('&', $filter);
}
if ($this->request->get('cat_id')) {
    $cat_id = Util\EasyEncrypt::decode($this->request->get('cat_id'));
    $flag = false;
    $List = array();
    if (!is_numeric($cat_id)) {
        $this->flash->error('无效的参数');
        exit;
    }
    $catinfo = ProductCat::findFirst("customer_id=" . CUR_APP_ID . "  AND id=" . $cat_id);
    if (!$catinfo) {
        $this->flash->error('分类不存在');
        exit;
    }
    if ($catinfo->parent_id != 0) {
        $selectType = 'son';
        $parent = ProductCat::findFirst("customer_id=" . CUR_APP_ID . "  AND id=" . $catinfo->parent_id);
        $son = ProductCat::find("customer_id=" . CUR_APP_ID . "  AND parent_id=" . $catinfo->parent_id);
        $son = $son ? $son->toArray() : [];
        $List = $this->db->query(
            " SELECT p.*,ccd.name as cname,b.name as bname  FROM  product AS p
              LEFT JOIN product_cat as ccd ON
              p.cid=ccd.id LEFT JOIN  product_brand as b ON p.brand_id=b.id  where p.cid=" . $cat_id . $where
        )->fetchAll();

    } else {
        $selectType = 'parent';
        $parent = $catinfo;
        $son = ProductManager::instance()->getSubCategoryById(CUR_APP_ID, $catinfo->id);
        $son = $son ? $son['subs'] : [];
        $cat_array = ProductManager::instance()->getSubCategoryById2(CUR_APP_ID, $catinfo->id);
        $List = $this->db->query(
            " SELECT p.*,ccd.name as cname,b.name as bname  FROM  product AS p
              LEFT JOIN product_cat as ccd ON
              p.cid=ccd.id LEFT JOIN   product_brand as b ON p.brand_id=b.id  where p.cid in (" . implode(',', $cat_array) . ") AND p.customer_id=" . CUR_APP_ID . $where
        )->fetchAll();
    }

    $parent = $parent ? $parent->toArray() : [];
    foreach ($cat as $k => $item) {
        if ($item['id'] == $parent['id']) {
            $page = floor($k / 2);
        }
    }


} else {
    $parent = $cat[0];
    $son = isset($parent['subs']) ? $parent['subs'] : [];
    $List = $this->db->query(
        " SELECT p.*,ccd.name as cname,b.name as bname  FROM  product AS p
          LEFT JOIN product_cat as ccd ON
          p.cid=ccd.id LEFT JOIN   product_brand as b ON p.brand_id=b.id  WHERE  p.customer_id=" . CUR_APP_ID . $where
    )->fetchAll();
    //  $this->flash->error('无效的参数');exit;

}
?>

<div id="nav-list">
    <div class="swiper-nav-list">

        <div class="swiper-wrapper">
            <?php foreach ($cat as $k => $item) { ?>
                <?php if ($k == 0 || $k % 2 == 0) { ?>
                    <div class="swiper-slide">
                <?php } ?>
                <a href="/shop/cat?cat_id=<?php echo \Util\EasyEncrypt::encode($item['id']) . $filter_url ?>"
                   class="<?php if (($selectType == 'parent' && $item['id'] == $parent['id'])) {
                       echo "choosed";
                   } else {
                       echo "no-choosed";
                   } ?>"><?php echo $item['name'] ?></a>
                <?php if ($k + 1 == count($cat) || ($k % 2 == 1)) { ?>
                    </div>
                <?php } ?>
            <?php } ?>


        </div>
        <div class="pagination-nav-list"></div>
    </div>
    <!-- swiper-nav-list end-->
    <div class="small_classify">
        <ul>
            <?php foreach ($son as $item) { ?>
                <li class="<?php if ($selectType == 'son' && $item['id'] == $cat_id) {
                    echo "selected";
                } ?>">
                    <a href="/shop/cat?cat_id=<?php echo \Util\EasyEncrypt::encode($item['id']) . $filter_url ?>"><?php echo $item['name'] ?></a>
                </li>

            <?php } ?>
        </ul>
        <div class="clear"></div>
    </div>
    <!-- small_classify end-->
    <div class="nav-list-pic">
        <div class="swiper-nav-list-pic">
            <div class="swiper-wrapper">
                <?php foreach ($List as $j => $item) { ?>
                    <?php if ($j == 0 || $j % 6 == 0) { ?>
                        <div class="swiper-slide">
                        <ul>
                    <?php } ?>
                    <li>
                        <div class="img"><a
                                href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                                    src="<?php echo $item['thumb'] ?>" alt=""/></a></div>
                        <div class="info">
                            <div class="info_t"><?php echo $item['name'] ?></div>
                            <div><span>品牌：</span><?php echo $item['bname'] ?></div>
                            <div><span>类型：</span><?php echo $item['cname'] ?></div>
                        </div>
                        <div class="clear"></div>
                    </li>

                    <?php if ($j + 1 == count($List) || (($j + 1) % 6 == 0 && $j > 4)) { ?>
                        </ul>
                        <div class="clear"></div>
                        </div>
                    <?php } ?>
                <?php } ?>

            </div>
            <!-- swiper-wrapper end-->
            <div class="pagination-nav-list-pic"></div>
        </div>
        <!-- swiper-nav-list-pic end-->
    </div>
    <!-- nav-list-pic end-->
</div><!-- nav-list end-->

<script>
    seajs.use('tools/swiper.js', function () {
        $(".swiper-nav-list .swiper-slide a").click(function () {
            $(".swiper-nav-list .swiper-slide a").removeClass("choosed").addClass("no-choosed");
            $(this).removeClass("no-choosed").addClass("choosed");
        });

        var mySwiper_nav_list = new Swiper('.swiper-nav-list', {
            paginationClickable: true,
            initialSlide:<?php echo $page?>

        });

        var mySwiper_list_pic = new Swiper('.swiper-nav-list-pic', {
            pagination: '.pagination-nav-list-pic',
            paginationClickable: true
        });
        var ul_h = parseInt($(".swiper-nav-list-pic .swiper-slide ul").height() + 50);
        $(".nav-list-pic .swiper-wrapper").css("height", ul_h + "px");
        var pag_h = parseInt($(".pagination-nav-list-pic").width() / 2);
        $(".pagination-nav-list-pic").css("margin-left", "-" + pag_h + "px");

        $("#nav-list .small_classify ul li").click(function () {
            $("#nav-list .small_classify ul li").removeClass("selected");
            $(this).addClass("selected");
        });

    })
</script>