<?php
use Multiple\Wap\Helper\ShopData;
use Multiple\Wap\Helper\SiteData;


$shop = ShopData::init()->getStore();
$new = ShopData::init()->getList("customer_id=" . CUR_APP_ID . " AND is_new=1 AND is_active=1 ", 0, 4);
$hot = ShopData::init()->getList("customer_id=" . CUR_APP_ID . " AND is_hot=1 AND is_active=1 ", 0, 4);
$recommend = ShopData::init()->getList("customer_id=" . CUR_APP_ID . " AND is_recommended=1 AND is_active=1 ", 0, 4);
$slider = SiteData::init()->getFocus('focus_slider');
$nav = SiteData::init()->getNavs('part');
$category = ShopData::init()->getCatGoods();
?>
<!---------------------- shop_index begin --------------------------------->
<div id="shop_index">
    <div class="swiper-shop-index">
        <div class="swiper-wrapper">
            <?php foreach ($slider as $item): ?>
                <div class="swiper-slide">
                    <a href="<?php echo $item['link']; ?>"><img src="<?php echo $item['img']; ?>"
                            ></a>
                </div>
            <?php endforeach; ?>
            <div class="clear"></div>
        </div>
        <div class="pagination-shop-index"></div>
    </div>
    <!-- swiper-shop-index end-->

    <div class="shop_line"></div>

    <div class="shop_index_video">
        <div class="tit">
            <span>华润漆VIDEO</span>
        </div>
        <div class="con"><img src="/static/wap/images/tpl/huarunqi/shop_video1.png" alt=""/></div>
    </div>
    <!-- shop_index_list1 end-->

    <div class="shop_index_list">
        <div class="tit">
            <span>最新推出</span><a href="/shop/more?type=new">更多 ></a>
        </div>
        <div class="clear"></div>
        <?php foreach ($new as $item): ?>
            <div class="con">
                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                    <img src="<?php echo $item['thumb'] ?>" alt=""/></a>
                <span><?php echo $item['name'] ?></span>
            </div>
        <?php endforeach; ?>


        <div class="tit">
            <span>热销商品</span><a href="/shop/more?type=hot">更多 ></a>
        </div>
        <?php foreach ($hot as $item): ?>
            <div class="selling">
                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                    <img src="<?php echo $item['thumb'] ?>" alt=""/></a>

                <div class="word w_lf w_c1"><span><?php echo $item['name'] ?></span></div>
            </div>

        <?php endforeach; ?>
        <div class="tit">
            <span>商家推荐</span><a href="/shop/more?type=recommended">更多 ></a>
        </div>
        <?php foreach ($recommend as $item): ?>
            <div class="selling">
                <a href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>">
                    <img src="<?php echo $item['thumb'] ?>" alt=""/></a>

                <div class="word w_lf w_c1"><span><?php echo $item['name'] ?></span></div>
            </div>

        <?php endforeach; ?>
        <!-- <div class="tit tit_more">
             <span class="p_l">品牌经典</span><a href="javascript:;">更多 ></a>
             <div class="shop_index_person"><img src="/static/wap/images/tpl/huarunqi/shop_person.png" alt=""/></div>
         </div>
         <div class="brand_only">
             <div class="top">
                 <div class="new_lf left"><a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_1.png" alt=""/></a></div>
                 <div class="new_rg right">
                     <div class="new_rg_t"><a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_2.png" alt=""/></a></div>
                     <div class="new_rg_b">
                         <div class="new_rg_sm left"><a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_1.png" alt=""/></a></div>
                         <div class="left"><a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_1.png" alt=""/></a></div>
                     </div>
                 </div>
                 <div class="clear"></div>
             </div>
             <div class="bottom">
                 <div class="bot_lf left">
                     <a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_4.png" alt=""/></a>
                     <a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_4.png" alt=""/></a>
                 </div>
                 <div class="bot_rg right">
                     <a href="javascript:;"><img src="/static/wap/images/tpl/huarunqi/brand_3.png" alt=""/></a>
                 </div>
                 <div class="clear"></div>
             </div>
         </div><!-- brand_only end-->

    </div>
    <!-- shop_index_list end-->

</div><!-- shop_index end-->

<script type="text/javascript">
    seajs.use('tools/swiper.js', function () {
        $("#index img").show();
        $(function () {
            //-----------------------------------------------------------shop_index js
            var mySwiper_shop_index = new Swiper('.swiper-shop-index', {
                pagination: '.pagination-shop-index',
                paginationClickable: true,
                autoplay: 3000
            });
            var pag_h = parseInt($("#shop_index .pagination-shop-index").width() / 2);
            $("#shop_index .pagination-shop-index").css("margin-left", "-" + pag_h + "px");
            //--------------------------------------------list js
        });
    });
</script>