<?php
use Components\Product\CommentManger;
use Multiple\Wap\Helper\ShopData;

$item = ShopData::init()->getItem();
if ($item) {
    $count = CommentManger::instance()->getCount($item['id']);
    $attrs = ShopData::init()->getItemAttr($item['id']);
    $brand = ShopData::init()->getItemBrand($item['brand_id']);
    $desc = $item['detail'];
    $images = explode(',', $item['imgs']);

    ?>
    <div id="shop_detail">
        <div class="shop_details_top">
            <div class="pic">
                <ul>
                    <?php foreach ($images as $key => $item2) { ?>
                        <?php if ($key == 0) { ?>
                            <li><a href="javascript:;"><img src="<?php echo $item2['image'] ?>" alt=""/></a></li>
                        <?php } else { ?>
                            <li style="display: none;"><a href="javascript:;"><img src="<?php echo $item2['image'] ?>"
                                                                                   alt=""/></a></li>
                        <?php }
                    } ?>
                </ul>

            </div>
            <div class="opacity_zero"></div>
            <div class="small_pic">
                <div class="small_pic_w">
                    <ul>
                        <?php foreach ($images as $key => $item1) { ?>
                            <?php if ($key == 0) { ?>
                                <li class="org_border"><img src="<?php echo $item1['image'] ?>" alt=""/></li>

                            <?php } else { ?>
                                <li><img src="<?php echo $item1['image'] ?>" alt=""/></li>
                            <?php }
                        } ?>
                    </ul>
                </div>
            </div>
            <a href="javascript:;" class="next"></a>
            <a href="javascript:;" class="prev"></a>
        </div>
        <!-- shop_details_top end -->

        <div class="shop_detail_bottom">
            <div class="tit"><span>商品属性</span></div>
            <div class="con">
                <ul>
                    <li class="w_100"><span>名称：</span><?php echo $item['name'] ?></li>
                    <?php foreach ($attrs as $k => $item3) { ?>
                        <li class="w_50 <?php if ($k % 1 == 0) echo "w_line" ?>"><span><?php echo $item3['attr_name'] ?>
                                ：</span><?php echo $item3['attr_val'] ?> </li>
                    <?php } ?>

                </ul>
                <div class="clear"></div>
            </div>
            <!-- con end-->
            <div class="tit"><span>商品描述</span></div>
            <div id="news_content">
                <?php echo $desc; ?>
            </div>
        </div>
        <!-- shop_detail_bottom end-->

    </div><!-- shop_detail end-->
<?php } else { ?>
    暂无商品信息
<?php } ?>
<script>

    //商品详情图片切换
    $("#shop_detail .prev").click(function () {
        var current = $(".small_pic_w ul").find("li[class='org_border']");
        var next = current.next();
        if (next.length == 0) {
            next = $(".small_pic_w ul li:first");
        }
        current.removeClass("org_border");
        next.addClass("org_border");
        var current_index = parseInt(current.index());
        var next_index = parseInt(next.index());
        $("#shop_detail .pic ul li:eq(" + current_index + ")").hide();
        // $("#shop_detail .pic ul li:eq("+current_index+")").fadeOut("slow");
        //$("#shop_detail .pic ul li:eq("+next_index+")").delay("400").fadeIn("slow");
        $("#shop_detail .pic ul li:eq(" + next_index + ")").show();

    });


    $("#shop_detail .next").click(function () {
        var current = $(".small_pic_w ul").find("li[class='org_border']");
        var prev = current.prev();
        if (prev.length == 0) {
            prev = $(".small_pic_w ul li:last");
        }
        current.removeClass("org_border");
        prev.addClass("org_border");
        var current_index = parseInt(current.index());
        var prev_index = parseInt(prev.index());
        // $("#shop_detail .pic ul li:eq("+current_index+")").fadeOut("slow");
        //    $("#shop_detail .pic ul li:eq("+prev_index+")").delay("400").fadeIn("slow");

        $("#shop_detail .pic ul li:eq(" + current_index + ")").hide();
        $("#shop_detail .pic ul li:eq(" + prev_index + ")").show();
    });


    $(".small_pic_w ul li").click(function () {
        var current = $(".small_pic_w ul").find("li[class='org_border']");
        current.removeClass("org_border");
        $(this).addClass("org_border");
        var current_index = parseInt(current.index());
        var next_index = parseInt($(this).index());
        //   $("#shop_detail .pic ul li:eq("+current_index+")").fadeOut("slow");
        //    $("#shop_detail .pic ul li:eq("+next_index+")").delay("400").fadeIn("slow");
        $("#shop_detail .pic ul li:eq(" + current_index + ")").hide();
        $("#shop_detail .pic ul li:eq(" + next_index + ")").show();
    });
    $(function () {
        var imgsSrc = [];
        /*微信*/
        seajs.use('tools/imgPreview', function (api) {
            api.wxPreview("#news_content");
        });

    })

</script>

