<div id="new_product">
    <div class="tit"><span><?php echo $title; ?></span></div>
    <ul>
        <?php foreach ($list as $item): ?>
            <li>
                <div class="pic"><a
                        href="<?php echo $this->uri->baseUrl('shop/item/' . \Util\EasyEncrypt::encode($item['id'])); ?>"><img
                            src="<?php echo $item['thumb'] ?>" alt=""/></a></div>
                <span><?php echo $item['name']; ?></span>
            </li>
        <?php endforeach; ?>

    </ul>
</div><!-- new_product end-->
<!---------------------- new_product begin --------------------------------->