<footer class="footer">
    <section class="copy">
        <div class="wrap">
            <div class="qrcode">
                <img src="/static/home/pc/main/images/new/logo.png" alt="" title="">
            </div>
            <p>
                <a href="/home/func">功能介绍</a> |
<!--                <a href="">成功案例</a> |-->
                <a href="/home/help">帮助中心</a> |
                <a href="/home/contact">联系我们</a>
<!--                <a href="">关于我们</a>-->
            </p>

            <p>Copyright &copy; 2014 ESTT微站营销 | 粤ICP备13079031号-3</p>

            <div class="clear"></div>
        </div>
    </section>
</footer>