<header class="header">
    <div class="top">
        <section class="wrap">
            <span class="right">咨询热线： <i class="icon icon-phone"></i> 0755-88309091</span>
            ESTT微站平台 - 中小企业微站营销一站式解决方案
        </section>
    </div>
    <section class="wrap">
        <span class="top-menu">
            <a href="/account/login">客户登陆</a>
            |
            <a href="/account/reg">立即入驻</a>
        </span>
        <a href="/" class="logo">
            <img src="/static/home/pc/main/images/new/logo.png" alt="" style="height: 64px;">
        </a>

        <?php
        $controller = $this->router->getControllerName();
        $menus = array(
            array('title' => '首页', 'c' => 'index', 'a' => ''),
            array('title' => '功能介绍', 'c' => 'func', 'a' => ''),
//            array('title' => '成功案例', 'c' => 'case', 'a' => ''),
//            array('title' => '渠道代理', 'c' => 'agent', 'a' => ''),
            array('title' => '帮助中心', 'c' => 'help', 'a' => ''),
            array('title' => '联系我们', 'c' => 'contact', 'a' => ''),
        );
        ?>
        <nav class="nav">
            <?php
            foreach ($menus as $menu) {
                ?>
                <a href="<?php echo $menu['c'] == 'index' ? '/' : '/home/' . $menu['c'] . '/' . $menu['a']; ?>"
                   class="<?php echo ($controller == $menu['c']) ? 'current' : ''; ?>"><?php echo $menu['title']; ?></a>
            <?php } ?>
        </nav>
        <div class="clear"></div>
    </section>
</header>