<link rel="stylesheet" href="/static/home/pc/estt/css/services.css"/>
<div class="help_banner">
    <div class="help_content">
        <div class="help_center_logo"><img src="/static/home/pc/estt/images/help_center_logo.png" alt=""/></div>
        <div class="help_main">
            <div class="help_left">
                <div class="help_process">Always believe that, our service can change your story, can cha</div>
                <div class="help_steps"><img src="/static/home/pc/estt/images/help_center_steps.png" alt=""/></div>
                <div class="help_p">2014年7月10号紧急更新85模板带支付功能</div>
                <div class="help_p">拍前必读：请先看下演示站，测试后购买，以免产生误会,部分功能正在开发中暂不能用,说明一切以演示网站源码为准，安装过程中务器空间原因出现各种对应问题。所以强烈要求需要懂一定技术，能完全自己调试安装，源码程序保证正常，不要万一遇到什么技术 店家。和演示站完全一样，看好再拍！！其实安装简单，正常很顺利就能安装好。</div>
                <div class="help_p">由于店家平时比较忙，5元只提供与演示站一样的源码，不提供任何技术支持和其它咨询服务，对于自己不懂技术、遇到问题动不动受中差评！（文明购物！文明做人！）</div>
                <div class="help_p">最后一天卖5元  明天恢复原价100元产品可复制性强，发货后谢绝退款，谢谢合作！2014年最新版本，85套模板可选择，欢迎测试 新版更新了多套精美首页模板，共计85套，更新图文模板至12套.</div>
                <div class="help_pic"><img src="/static/home/pc/estt/images/help_center_pic.png" alt=""/></div>
                <div class="help_p">2014年7月10号紧急更新85模板带支付功能</div>
                <div class="help_p">拍前必读：请先看下演示站，测试后购买，以免产生误会,部分功能正在开发中暂不能用,说明一切以演示网站源码为准，安装过程中可能会因您购买的服务器空间原因出现各种对应问题。所以强烈要求需要懂一定技术，能完全自己调试安装，源码程序保证正常，不要万一遇到什么技术问题，动不动发问店家。和演示站完全一样，看好再拍！！其实安装简单，正常很顺利就能安装好</div>
                <div class="help_p">由于店家平时比较忙，5元只提供与演示站一样的源码，不提供任何技术支持和其它咨询服务，对于自己不懂技术、遇到问题动不动会差评者慎拍！不接受中差评！（文明购物！文明做人！）</div>
            </div>
        </div><!-- help_main end -->
    </div><!-- help_content end -->
</div><!-- help_banner end-->