<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">功能编号：</label>
                    <div class="controls">
                        <input type="text" class="control-text input-small" name="resource_id">
                    </div>
                </div>
                <div class="control-group span9">
                    <label class="control-label">时间：</label>
                    <div class="controls">
                        <input type="text" class="calendar" name="paid_time_min"><span> - </span><input name="paid_time_max" type="text" class="calendar">
                    </div>
                </div>
                <div class="span3 pull-right">
                    <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>

</div>
<script type="text/javascript" src="/static/bui/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/bui/js/bui-min.js"></script>
<script type="text/javascript" src="/static/bui/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript">
    BUI.use('common/search', function (Search) {

        var industries = {"1":"金融","2":"计算机","3":"制造业"},
            activeStatus = {"1":"已支付","0":"未支付", "2": "已作废"},
            editing = new BUI.Grid.Plugins.DialogEditing({
                contentId : 'content', //设置隐藏的Dialog内容
                autoSave : true, //添加数据或者修改数据时，自动保存
                triggerCls : 'btn-edit',
                title: '订单修改'
            }),
            columns = [
                {title:'功能',dataIndex:'resourcename',width:100},
                {title:'销售人员ID',dataIndex:'sales_id',width:100},
                {title:'金额',dataIndex:'discount_price',width:100},
                {title:'周期',dataIndex:'period',width:100},
                {title:'支付时间',dataIndex:'paid_time',width:100}
            ],
            store = Search.createStore('/agent/system-orders/salescountlist', {
                autoSync : true //保存数据后，自动更新
            }),
            gridCfg = Search.createGridCfg(columns,{
                tbar : {
                    items : [

                    ]
                },
                plugins : [editing,BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

        var  search = new Search({
                store : store,
                gridCfg : gridCfg
            }),
            grid = search.get('grid');

        var select = new BUI.Select.Select({
            render: '.status-select',
            valueField:'#hide',
            items: [
            	{text:'未付款',value:'0'},
                {text:'已付款',value:'1'},
                {text:'已作废',value:'2'}
            ]
        });
        select.render();
        select.on('change', function(ev){
            alert(ev.item);
          });
        
        function valid(value){
            if(value === '1'){
              return '不能选择1';
            }
          }
        
        function addFunction(){
            var newData = {isNew : true}; //标志是新增加的记录
            editing.add(newData,'name'); //添加记录后，直接编辑
        }

        //删除操作
        function delFunction(){
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items){
            var ids = [];
            BUI.each(items,function(item){
                ids.push(item.id);
            });

            if(ids.length){
                BUI.Message.Confirm('确认要删除选中的记录么？',function(){
                    store.save('remove',{ids : ids});
                },'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick',function(ev){
            var sender = $(ev.domTarget); //点击的Dom
            if(sender.hasClass('btn-del')){
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar',function(Calendar){
        var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            delegateTrigger : true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender : true
        });
    });
</script>
