<!--<div class="footer">
    <div class="logo">
        <a href="#"><img src="/static/home/pc/reach/images/logo.jpg" alt=""></a>
    </div>
    <div style="margin: 20px auto; text-align: center">
        <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备11051785号</a>
    </div>
</div>-->
<div class="footer">
    <div class="project_footer_wrapper">
        <div class="project_footer_w">
            <div class="project_footer_nav">
                <ul>
                    <li><a href="/home/culture/">关于我们</a></li>
                    <li><a href="/home/investment">项目招商</a></li>
                    <li style="background: url('/static/home/pc/reach/images/project_sina_lgo.png') no-repeat  left center; padding-left: 18px;"><a href="http://weibo.com/fingooo">关注我们</a></li>
                    <li><a href="/home/contact/">联系我们</a></li>
                </ul>
            </div>
            <div class="project_copyright">
                <a href="http://www.miitbeian.gov.cn/">粤ICP备11051785号    Copyright © 2007 橙意 版权所有</a></div>
        </div><!--project_footer_w end-->
    </div><!--project_footer_wrapper end-->
</div><!--project_footer end-->
