<!--Public_header start-->
<link rel="stylesheet" href="/static/home/pc/reach/css/common.css"/>
<div class="header">
    <div class="logo">
        <a href="#"><img src="/static/home/pc/reach/images/logo.jpg" alt=""/></a>
    </div>

    <?php
    $controller = $this->router->getControllerName();
    $menus = array(
        array('title' => '首页', 'c' => 'index', 'a' => ''),
        array('title' => '公司简介', 'c' => 'introduction', 'a' => ''),
        array('title' => '公司宗旨', 'c' => 'aim', 'a' => ''),
        array('title' => '公司文化', 'c' => 'culture', 'a' => ''),
        array('title' => '公司产品', 'c' => 'func', 'a' => ''),
        array('title' => '行业方案', 'c' => 'plan', 'a' => ''),
        array('title' => '项目招商', 'c' => 'investment', 'a' => ''),
        array('title' => '企业入口', 'c' => 'account', 'a' => ''),
    );
    ?>
    <div class="nav">
    <ul>
        <?php
        foreach ($menus as $menu) {
            ?>
            <li><a href="<?php echo  $menu['c'] == 'index' ? '/' : ($menu['c']== 'account' ? '/account/login/' : '/home/' . $menu['c'] . '/' . $menu['a']); ?> "  class="<?php echo ($controller == $menu['c']) ? 'current' : ''; ?>"><?php echo $menu['title']; ?></a></li>
        <?php } ?>
    </ul>
    </div>
</div><!--header end-->
<!--Public_header end-->