<?php
use Components\TplManager;
use Library\O2O\O2oShareManager;
use Multiple\Wap\Helper\ShopData;

TplManager::$_config['hideHeader'] = true;
?>

<style>
    body {
        background: #f0f0f0;
    }

    .share-head {
        border-bottom: 1px solid #eee;
        height: 50px;
        line-height: 50px;
        padding: 0 6px;
        background: #f0f0f0;

        font-size: 12pt;
        position: relative;
    }

    .share-head .center {
        position: absolute;
        left: 60px;
        right: 60px;
        top: 0;
        display: block;
        text-align: center;
    }

    .share-item {
        height: 50px;
        border: 1px solid #eee;
        overflow: hidden;
        margin: 8px;
        padding: 8px;
    }

    .share-item dt {
        width: 50px;
        height: 50px;
        float: left;
        margin: 0 8px 0 0;
        overflow: hidden;
    }

    .share-item dt img {
        width: 50px;
    }

    .share-item {

    }

    .share-rule {
        margin: 8px;
        padding: 8px 0;
        line-height: 120%;
        color: #333;
    }

    .share-rule .title {
        color: #000;
        font-size: 14px;
        background: #eee;
        line-height: 36px;
        padding: 0 0 0 6px;
    }

    .share-rule p {
        margin: 8px 0;
    }
</style>
<div id="container" class="container" style="background: #fff;">
    <div class="share-head">
        <a href="javascript:history.back();" class=""><i class="icon icon-angle-left"></i> 返回</a>
        <span class="center">推广返现</span>
        <span class="right">
            <a href="javascript:;" class="btn btn-green showAddrFormBtn">我的推广</a>
        </span>
    </div>
    <div class="clear"></div>
    <?php
    ?>
    <?php
    $spm = $this->request->get('spm');
    $spm = O2oShareManager::init()->parseShareSpm($spm);
    $url = $this->uri->fullUrl();
    if ($spm) {
        // 推广商品
    if ($spm['type'] == 'item') {
        $item = ShopData::init()->getItem($spm['data']);
        $param = O2oShareManager::init()->getShareParam($spm['data']);
    if ($item) {
        ?>
        <a href="/shop/item/<?php echo \Util\EasyEncrypt::encode($spm['item']); ?>">
            <dl class="share-item">
                <dt><img src="<?php echo \Util\ImgSize::getSize($item['thumb'], 50); ?>" alt=""/></dt>
                <dd>
                    <p style="margin: 4px 0 10px;color: #000;"><?php echo $item['name']; ?></p>

                    <p>￥<span class="money"><?php echo $item['sell_price']; ?></span>元</p>
                </dd>
            </dl>
        </a>
        <div class="clear"></div>
        <p style="padding: 8px;">
            <a href="javascript:;" class="itemShare goShareBtn btn btn-red"
               data-url="<?php echo urlencode($url); ?>">商品推广返现</a>
            (￥<?php echo $param['cash']; ?>元)
        </p>
        <script>
            seajs.use(['app/app.share'], function (share) {
                var shareParams = {
                    'url': '<?php echo $url ;?>',
                    'pics': ['<?php echo $item['thumb'] ;?>'],
                    'title': '<?php echo $item['name'].'. ￥'.$item['sell_price'].'元' ;?>',
                    'desc': '<?php echo '只需￥'.$item['sell_price'].'元，'.$item['name'];?>'
                };
                share.share('.itemShare.goShareBtn', shareParams);
            });
        </script>
    <?php
    } else {
        ?>
        <p>错误的推广链接！</p>
    <?php
    }
    }
    if ($spm['type'] == 'shop') {
    ?>
        <a href="/shop">
            <dl class="share-item">
                <dt><img src="<?php echo \Util\ImgSize::getSize($store['logo'], 50); ?>" alt=""/></dt>
                <dd>
                    <p style="margin: 4px 0 10px;color: #000;"><?php echo $store['name']; ?></p>

                    <p><span class=""><?php echo $store['address']; ?></span></p>
                </dd>
            </dl>
        </a>
        <div class="clear"></div>
        <p style="padding: 8px;">
            <a href="javascript:;" class="itemShare goShareBtn btn btn-red"
               data-url="<?php echo urlencode($url); ?>">推广店铺返现</a>
            (<?php echo $store['cashback_proportion']; ?>%返现比例)
        </p>
        <script>
            seajs.use(['app/app.share'], function (share) {
                var shareParams = {
                    'url': '<?php echo $url ;?>',
                    'pics': ['<?php echo $store['logo'] ;?>'],
                    'title': '<?php echo $store['name'].'.  '.$store['address'] ;?>',
                    'desc': '<?php echo $store['name'].'，'.mb_substr(strip_tags($store['introduction']),0,200); ;?>'
                };
                share.share('.itemShare.goShareBtn', shareParams);
            });
        </script>
    <?php
    }
    } else {
        echo '错误的推广链接';
    }
    ?>

    <?php
    \Components\TplManager::init(CUR_APP_ID)->baseTpl('widget/share');
    ?>
    <div class="clear"></div>
    <div class="share-rule">
        <h4 class="title">推广返现规则</h4>

        <p>1. 推广店铺时，如果在cookie有效期(1天)下单成交，如果相应商品有设置返现，则得相应现金</p>

        <p>2. 每推广一次商品，有效链接返回时，在cookie有效期(1天)内下单成交，得商品设置的相应现金</p>

        <p>3. 购买商品数量大于1时，只获取1件商品推广现金</p>

        <p>4. 用户自己推广出去的链接，自己点击链接回来现无效</p>
    </div>
</div>