<?php
use Multiple\Wap\Helper\SiteData;

$phone = SiteData::init()->getSite('phone');
$modules = \Components\ModuleManager\ModuleManager::instance(CUR_APP_ID)->getCustomerModules();
if ($modules) {
    $modules = $modules->toArray();
    $has_active = false;
    foreach ($modules as $m) {
        if ($m['is_activity'] == true) {
            $has_active = true;
        }
    }
    if ($has_active) {
        ?>
        <div class="activity">
            <p class="act-title">正在进行的活动</p>
            <ul class="activity-list">
                <?php
                foreach ($modules as $m) {
                    if ($m['is_activity'] == true) {
                        ?>
                        <li>
                            <a href="<?php echo $this->uri->wapModuleUrl($m['module_name']); ?> "><?php echo $m['name']; ?></a>
                        </li>
                    <?php
                    }
                }
                ?>
            </ul>
            <div class="clear"></div>
        </div>
    <?php
    }
} ?>
<div class="micro-func">
    <?php
    if ($phone) {
        ?>
        <a href="tel:<?php echo $phone; ?>" class="box-btn phone-btn">
            <i class="icon icon-phone"></i> <?php echo $phone; ?>
        </a>
    <?php } ?>
</div>

