<?php
if ($fields) {
    //|##|25-单选|#|呵呵呵|##|26-多选|#|cc@dd
    if (isset($user['param']) && $user['param']) {
        $tmp = explode('|##|', $user['param']);
        foreach ($tmp as $opt) {
            if ($opt) {
                $kv = explode('|#|', $opt);
                if (isset($kv[0]) && isset($kv[1])) {
                    $id_name = explode('-', $kv[0]);
                    if (isset($id_name[0]) && isset($id_name[1])) {
                        $id = $id_name[0];
                        $param_data[$id] = $kv[1];
                    }
                }
            }
        }
    }
    ?>
    <li class="ll_sty1 qiye">
        附加选项
    </li>
    <?php foreach ($fields as $key => $value) {
        if (!$value['column_name']) continue;
        ?>
        <li class="ll_sty1">
            <a href="javascript:;">
                <div class="tit"><?php echo $value['column_name']; ?></div>
                <div class="con">
                    <?php if ($value['column_type'] == 'input') { ?>
                        <?php echo isset($param_data[$value['id']]) ? $param_data[$value['id']] : $value['column_data']; ?>
                    <?php } else if ($value['column_type'] == 'text') { ?>
                        <?php echo isset($param_data[$value['id']]) ? $param_data[$value['id']] : $value['column_data']; ?>
                    <?php } else if ($value['column_type'] == 'single') { ?>
                        <?php
                        $option = explode('-', $value['column_data']);
                        $opt_val = isset($param_data[$value['id']]) ? $param_data[$value['id']] : '';
                        if ($option) {
                            foreach ($option as $k => $v) {
                                if ($v && $opt_val == $v) {
                                    echo "<label>", $v, "</label>";
                                }
                            }
                        } ?>
                    <?php } else if ($value['column_type'] == 'multi') { ?>
                        <?php
                        $multi = '';
                        $checkout = explode('-', $value['column_data']);
                        $multi_val = isset($param_data[$value['id']]) ? $param_data[$value['id']] : '';
                        if ($multi_val) {
                            $multi = explode('@', $multi_val);
                        }
                        foreach ($checkout as $k => $v) {
                            if ($v && $multi && in_array($v, $multi)) {
                                echo "<label>", $v, "</label>";
                            }
                        }
                        ?>
                    <?php } ?>
                </div>
                <div class="clear"></div>
            </a>
        </li>
    <?php
    }
    ?>
<?php } ?>