<?php
if ($fields) {
    $param_data = array();
    //|##|25-单选|#|呵呵呵|##|26-多选|#|cc@dd
    if (isset($vipcard['param']) && $vipcard['param']) {
        $tmp = explode('|##|', $vipcard['param']);
        foreach ($tmp as $opt) {
            if ($opt) {
                $kv = explode('|#|', $opt);
                if (isset($kv[0]) && isset($kv[1])) {
                    $id_name = explode('-', $kv[0]);
                    if (isset($id_name[0]) && isset($id_name[1])) {
                        $id = $id_name[0];
                        $param_data[$id] = $kv[1];
                    }
                }
            }
        }
    }
    ?>
    <ul id="card-column">
        <li class="column-title">
            商家附加选项
        </li>
        <?php foreach ($fields as $key => $value) {
            if (!$value['column_name']) continue;
            if ($value['column_type'] == 'input') {
                ?>
                <li class="nob">
                    <table class="table">
                        <tr>
                            <th class="name" style="width: 100px;"><?php echo $value['column_name']; ?> </th>
                            <td class="more">
                                <input type="text"
                                       value="<?php echo isset($param_data[$value['id']]) ? $param_data[$value['id']] : $value['column_data']; ?>"
                                       data-id="<?php echo $value['id']; ?>"
                                       data-name="<?php echo $value['column_name']; ?>"
                                       class="px input">
                            </td>
                        </tr>
                    </table>
                </li>
            <?php } ?>

            <?php
            if ($value['column_type'] == 'text') {
                ?>
                <li class="nob">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="name"  style="width: 100px;" ><?php echo $value['column_name']; ?></th>
                            <td class="more">
                                <textarea placeholder=""
                                          style="height: 99px; overflow-y: visible"
                                          data-id="<?php echo $value['id']; ?>"
                                          class="pxtextarea input" data-name="<?php echo $value['column_name']; ?>"
                                    ><?php echo isset($param_data[$value['id']]) ? $param_data[$value['id']] : $value['column_data']; ?></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            <?php } ?>

            <?php
            if ($value['column_type'] == 'single') {
                ?>
                <li class="nob">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="name"  style="width: 100px;"><?php echo $value['column_name']; ?></th>
                            <td class="more">
                                <select class="dropdown-select input"
                                        data-id="<?php echo $value['id']; ?>"
                                        data-name="<?php echo $value['column_name']; ?>">
                                    <?php
                                    $option = explode('-', $value['column_data']);
                                    $opt_val = isset($param_data[$value['id']]) ? $param_data[$value['id']] : '';
                                    if ($option) {
                                        foreach ($option as $k => $v) {
                                            if (!$v) continue;
                                            ?>
                                            <option
                                                value="<?php echo $v; ?>" <?php echo $opt_val == $v ? 'selected' : ''; ?>><?php echo $v; ?></option>
                                        <?php
                                        }
                                    } ?>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            <?php } ?>

            <?php
            if ($value['column_type'] == 'multi') {
                ?>
                <li class="nob">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="name"  style="width: 100px;"> <?php echo $value['column_name']; ?></th>
                            <td class="more">
                                <?php
                                $multi = '';
                                $checkout = explode('-', $value['column_data']);
                                $multi_val = isset($param_data[$value['id']]) ? $param_data[$value['id']] : '';
                                if ($multi_val) {
                                    $multi = explode('@', $multi_val);
                                }
                                foreach ($checkout as $k => $v) {
                                    if ($v) {
                                        ?>
                                        <input data-id="<?php echo $value['id']; ?>"
                                               data-name="<?php echo $value['column_name']; ?>"
                                            <?php
                                            echo $multi && in_array($v, $multi) ? 'checked' : '';
                                            ?>
                                               class="input" type="checkbox"
                                               value="<?php echo $v; ?>"/>
                                        <?php echo $v; ?>
                                    <?php
                                    }
                                }
                                ?>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            <?php } ?>
        <?php
        }
        ?>
    </ul>
<?php } ?>