<?php
\Components\TplManager::$_config['hideFooter'] = true;
\Components\TplManager::$_config['hideHeader'] = true;
?>
<div id="container" class="container" style="background: #FCFCFC;">
    <div class="head-title" style="color: #666;">积分商城
        -
        积分换购
    </div>

    <?php
    if ($list) {
        ?>
        <div class="ui-refresh">
            <ul class="item-list">
                <?php foreach ($list as $item) {
                    ?>
                    <li class="item">
                        <a href="<?php echo $this->uri->wapModuleUrl('pointmall/item/' . \Util\EasyEncrypt::encode($item['item_id'])); ?>">

                            <p class="cover">
                                <img src="<?php echo \Util\ImgSize::getSize($item['item_cover'], 200); ?>" alt=""/>
                            </p>

                            <p class="title"><?php echo $item['item_name']; ?></p>

                            <p style="color: #999;">
                                <s> 商品价格：  <?php echo $item['sell_price']; ?></s>
                            </p>

                            <p>
                                <span class="red">积分:<?php echo $item['cost_point']; ?></span>

                                <span class="orange">￥<?php echo $item['cost_cash']; ?></span>
                            </p>
                        </a>
                    </li>
                <?php } ?>
            </ul>
            <div class="clear"></div>
            <div class="ui-refresh-down"></div>
        </div>
    <?php } else { ?>
        <p>暂无数据</p>
    <?php } ?>
    <div class="clear"></div>

    <script type="text/javascript">
        seajs.use('/static/wap/gmu/widget/refresh.js', function () {
            var page = 1;
            /*组件初始化js begin*/
            $('.ui-refresh').css('height', window.innerHeight - ($('header').height() + 45 || 82)).refresh({
                load: function (dir, type) {
                    var me = this;
                    var link = '/addon/api/pointmall/more?page=' + page;
                    $.getJSON(link, function (data) {
                        page++;
                        var $list = $('.item-list'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);
                                });
                                return liArr.join('');
                            })(data);

                        $list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading(dir);    //数据加载完成后改变状态
                        if (data.length <= 0) {
                            me.disable(dir, false);
                        }
                    });
                }
            });
            /*组件初始化js end*/
        });
    </script>
</div>