<?php
use Components\UserStatusWap;
use Models\Modules\Pointmall\AddonPointMallOrder;
use Multiple\Wap\Helper\ShopData;

$item = ShopData::init()->getItem();

$point = UserStatusWap::init()->getPoint();
$uid = \Components\UserStatus::getUid();
$item_spec = ShopData::init()->getItemSpec();

$count = 0;
$order = null;
if ($uid) {
    $count = AddonPointMallOrder::sum(array('customer_id=' . CUR_APP_ID . ' and user_id=' . $uid . ' and item_id=' . $point_item['item_id'], 'column' => 'num'));
    $order = AddonPointMallOrder::find('customer_id=' . CUR_APP_ID . ' and user_id=' . $uid . ' and item_id=' . $point_item['item_id']);
}
?>

<div class="buy-wrap">
    <div class="product-num">
        <span class="tit">数量</span>

        <span class="num-choose">
            <a href="javascript:;" class="minusBtn"><i class="icon icon-angle-left"></i></a>
            <input type="text" value="1"
                   class="item_quantity"
                   data-id="<?php echo $item['id']; ?>"
                   data-price="<?php echo $item['sell_price']; ?>"
                   data-limit="<?php echo $point_item['item_limit'] - $count; ?>"
                   style="width: 20px;height: 12px;text-align: center;"
                   data-inventory="<?php echo $item['quantity']; ?>"
                />
            <a href="javascript:;" class="plusBtn"><i class="icon icon-angle-right"></i></a>
        </span>

        <span class="inventory">库存 <span class="num"><?php echo $item['quantity']; ?></span> 件</span>
    </div>

    <div class="clear"></div>
    <?php
    if ($item_spec) {
        $spec_data = [];
        foreach ($item_spec as $uniq) {
            $spec_arr = json_decode($uniq['spec_data'], true);

            foreach ($spec_arr as $tmp) {
                $spec_data[$tmp['spec_id']]['name'] = $tmp['spec_name'];
                $spec_data[$tmp['spec_id']]['values'][$tmp['key']] = $tmp['val'];
                $spec_data[$tmp['spec_id']]['spec_unique_key'] = $uniq['spec_unique_key'];
                $spec_data[$tmp['spec_id']]['sell_price'] = $uniq['sell_price'];
                $spec_data[$tmp['spec_id']]['original_price'] = $uniq['original_price'];
                $spec_data[$tmp['spec_id']]['num'] = $uniq['num'];
                $spec_data[$tmp['spec_id']]['thumb'] = $uniq['thumb'];
            }
        }
        ?>
        <div class="product-spec">
            <input class="spec_all_data" type="hidden" value="<?php echo base64_encode(json_encode($item_spec)); ?>"/>

            <h4 class="tit">
                商品规格</h4>
            <?php
            foreach ($spec_data as $spec_id => $spec) {
                ?>
                <dl class="spec" data-spec_id="<?php echo $spec_id; ?>">
                    <dt style="">
                        <?php echo $spec['name']; ?>：
                    </dt>
                    <dd>
                        <?php
                        if ($spec['values']) {
                            $values = array_unique($spec['values']);
                            foreach ($values as $k => $val) {
                                ?>
                                <a href="javascript:;"
                                   class="spec_val"
                                   data-spec_id="<?php echo $spec_id; ?>"
                                   data-key="<?php echo $k; ?>"
                                   data-val="<?php echo $val; ?>"
                                    ><?php echo $val; ?></a>
                            <?php
                            }
                        }
                        ?>
                    </dd>
                </dl>
            <?php
            } ?>
        </div>
    <?php
    }
    ?>
</div>

<?php
if (($count + 1) <= $point_item['item_limit']) {
    ?>
    <p style="margin: 0 8px;">
        您还可以兑换 <span class="red"><?php echo $point_item['item_limit'] - $count; ?></span> 件
    </p>
    <p style="margin: 8px;">
        <a href="javascript:;" class="btn btn-red btn-buy btn-block" data-id="<?php echo $item['id']; ?>"
           style="width: inherit;"
           data-cash="<?php echo $point_item['cost_cash']; ?>"
           data-has_spec="<?php echo $item_spec ? 'must' : ''; ?>"
           data-hasCount="<?php echo $count; ?>"
           data-point="<?php echo $point_item['cost_point']; ?>">立即兑换</a>
    </p>
<?php } ?>
<?php
if ($count > 0) {
    ?>
    <div class="order-record">
        <h3 class="title">您已经下过单信息：</h3>
        <?php
        foreach ($order as $od) {
            ?>
            <p>
                订单号：<a href="/order/detail/<?php echo $od->order_number; ?>"><?php echo $od->order_number; ?></a>
            </p>
            <p>
                商品数量：<span class="red"><?php echo $od->num; ?></span>
            </p>
            <p>
                花费积分：<span class="red"><?php echo $od->total_point; ?></span>
            </p>
            <p>
                花费现金：<span class="red"><?php echo $od->total_cash; ?></span>
            </p>
            <p style="margin: 8px 0 0; ">
                <a href="/order/detail/<?php echo $od->order_number; ?>" class="btn btn-block">查看订单详情</a>
            </p>
        <?php
        }
        ?>
    </div>
<?php } ?>

<script>
    seajs.use('app/app.shop_cart', function (cart) {
        cart.pointMallInit();
    });
</script>