<?php
use Multiple\Wap\Helper\ShopData;

$item = ShopData::init()->getItem();
if ($item) {
    $attrs = ShopData::init()->getItemAttr($item['id']);
    $brand = ShopData::init()->getItemBrand($item['brand_id']);
    $point_item = ShopData::init()->getPointMallItem($item['id']);
    if ($point_item) {
        ?>
        <div id="container" class="container" style="background: #fcfcfc;">
            <?php
            include MODULE_PATH . "/Views/base/shop/partial/item_swipe.phtml";
            ?>
            <div class="buy-area">
                <h1 class="name"><?php echo $item['name']; ?></h1>

                <div style="color: #999;padding: 8px 12px;font-size: 14px;">
                    <s class="tit">商品价格：￥ <?php echo $item['original_price']; ?> 元</s>
                </div>

                <div class="price-wrap">
                    <span class="red right">邮费: ￥<?php echo $point_item['postage_fee']; ?>元</span>
                    <span class="tit">积分换购：</span>
                    <span class="cost_point" id=""><?php echo $point_item['cost_point']; ?>积分</span>
                    <?php if ($point_item['cost_cash']) { ?>
                        <span class="cost_cash">+￥<?php echo $point_item['cost_cash']; ?>元</span>
                    <?php } ?>
                    <br>

                    <div class="clear"></div>
                </div>

                <?php
                include MODULE_PATH . "/Views/module/pointmall/item_buy.phtml";
                ?>
            </div>
            <div class="shop-info-wrap">
                <?php
                include MODULE_PATH . "/Views/base/shop/partial/item_share.phtml";
                ?>

                <a href="<?php echo $this->uri->baseUrl('shop'); ?>" class="btn-shop">进入店铺<i class="arr_r_s"></i></a>

                <div class="clear"></div>
            </div>
            <div class="mod-tab-gap"></div>
            <div class="item-detail">
                <div id="detail-tab" class="tab-wrap">
                    <ul class="tab-nav">
                        <li><a href="javascript:;" class="tab active" data-tab="desc">商品介绍</a></li>
                        <li><a href="javascript:;" class="tab" data-tab="param">商品参数</a></li>
                        <li><a href="javascript:;" class="tab" data-tab="comment">评价(<?php echo $count; ?>)</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-panel" data-tab="desc" style="display: block;">
                            <?php echo $item['detail']; ?>
                        </div>
                        <div class="tab-panel" data-tab="param">
                            <table class="param">
                                <?php if ($attrs) { ?>
                                    <?php foreach ($attrs as $attr): ?>
                                        <tr>
                                            <td style="width: 40%;"><?php echo $attr['attr_name']; ?></td>
                                            <td style="width: 60%;"><?php echo $attr['attr_val']; ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php } else { ?>
                                    暂无
                                <?php } ?>
                            </table>
                        </div>
                        <div class="tab-panel" data-tab="comment">
                            <div id="comment">
                                <?php require_once MODULE_PATH . "/Views/base/shop/partial/item_comment.phtml" ?>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <script>
            $(function () {
                $('.tab-wrap .tab-nav').on('click', '.tab', function (e) {
                    var tab = $(this).attr('data-tab');

                    $('.tab-wrap .tab-nav .tab').removeClass('active');
                    $(this).addClass('active');

                    $('.tab-wrap .tab-content .tab-panel').hide();
                    $('.tab-wrap .tab-content .tab-panel[data-tab="' + tab + '"]').show();
                    e.stopImmediatePropagation();
                });
            })
        </script>
    <?php
    } else {
        ?>
        <p>换购商品未找到或商品不支持换购！</p>
    <?php
    }
}
?>