<style>
    .choose-address {
        padding: 0;
    }
</style>
<?php
use Components\TplManager;
use Models\Modules\Pointmall\AddonPointMallOrder;

TplManager::$_config['hideFooter'] = true;
TplManager::$_config['hideHeader'] = true;
$uid = \Components\UserStatus::getUid();
?>
<link rel="stylesheet" href="/static/wap/css/default/order.css"/>
<div id="container" class="container" style="position:static;background: #fff;">
    <div class="settle-page page">
        <div class="head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
            <span class="center">积分换购结算订单</span>
        </div>
        <?php
        if ($item) {
        $count = AddonPointMallOrder::count('customer_id=' . CUR_APP_ID . ' and user_id=' . $uid . ' and item_id=' . $item['item_id']);
        $order = AddonPointMallOrder::find('customer_id=' . CUR_APP_ID . ' and user_id=' . $uid . ' and item_id=' . $item['item_id']);
        if (($count + $item['num']) <= $item['item_limit']) {
        ?>
        <?php
        include MODULE_PATH . "/Views/default/order/settle/addrChoose.phtml";
        ?>
        <div class="order-wrap">
            <div class="order-head">订单详情</div>
            <ul class="order-detail">
                <li class="item" data-id="<?php echo $item['id']; ?>">
                    <dl class="detail">
                        <dt><img src="<?php echo \Util\ImgSize::getSize($item['item_cover'], 50); ?>" alt=""/></dt>
                        <dd>
                            <p class="name"><?php echo $item['item_name']; ?></p>

                            <p>
                                    <span class="right">
                                        <span class="cart-money">
                                            ￥<?php echo $item['total_paid']; ?>元 +
                                            <?php echo $item['total_point']; ?>积分
                                        </span>
                                    </span>
                                <?php if ($item['spec_data']) { ?>
                                    [
                                    <span class="blue">
                                    <?php
                                    $spec = json_decode($item['spec_data'], true);
                                    if ($spec) {
                                        foreach ($spec as $v) {
                                            echo $v['val'] . ' ';
                                        }
                                    }
                                    ?></span>
                                    ]
                                <?php } ?>
                                <em class="green">x</em> <?php echo $item['num']; ?>
                            </p>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="order-count">
                        <p>
                            所需积分：<span class="red"><?php echo $item['cost_point']; ?>积分</span>
                            所需现金：<span class="red">￥<?php echo $item['total_paid']; ?> 元</span>
                            <br/>
                            运费：<span class="red">￥<?php echo $item['postage_fee']; ?> 元</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <textarea name="" id="order_item"
                  style="display: none;"><?php echo base64_encode(json_encode($cart, JSON_UNESCAPED_UNICODE)); ?></textarea>

        <div class="order-foot">
            <p style="font-size: 14px;line-height: 36px;padding: 0 8px;">
                实际支付： <span class="money total_fee" style="font-size: 12pt;"
                            data-total="<?php echo $item['total_paid']; ?>">&yen; <?php echo isset($item['postage_fee']) ? $item['total_paid'] + $item['postage_fee'] : $item['total_paid']; ?>
                    元</span>
            </p>

            <p style="margin: 8px;">
                <a href="javascript:;" class="btn btn-red pointMallOrderBtn btn-block">确认换购</a>
            </p>
        </div>
    </div>
    <?php } else { ?>
        <div class="order-record">
            <h3 class="title">订单商品超过限购数量！</h3>

            <p>
                商品名称： <a href=""><?php echo $item['item_name']; ?></a>
            </p>

            <p>
                限购数量： <span class="red"><?php echo $item['item_limit']; ?></span> 件
            </p>

            <p>
                本次购买数量：<span class="red"><?php echo $item['num']; ?></span> 件
            </p>

            <p>
                您已下订单：(商品数量<span class="red"><?php echo $count; ?></span>件)
            </p>
        </div>

        <?php
        if ($order) {
            ?>
            <div class="order-record">
                <h3 class="title">该商品您已下过单信息：</h3>
                <?php
                foreach ($order as $od) {
                    ?>
                    <p>
                        订单号：<a
                            href="/order/detail/<?php echo $od->order_number; ?>"><?php echo $od->order_number; ?></a>
                    </p>
                    <p>
                        商品数量：<span class="red"><?php echo $od->num; ?></span>
                    </p>
                    <p>
                        花费积分：<span class="red"><?php echo $od->total_point; ?></span>
                    </p>
                    <p>
                        花费现金：<span class="red"><?php echo $od->total_cash; ?></span>
                    </p>
                    <p style="margin: 8px 0 0; ">
                        <a href="/order/detail/<?php echo $od->order_number; ?>"
                           class="btn btn-block">查看订单详情</a>
                    </p>
                <?php
                }
                ?>
            </div>
        <?php } ?>

        <p style="margin: 8px;">
            <a href="/addon/pointmall" class="btn btn-orange btn-block">返回积分商城</a>
        </p>
    <?php } ?>
    <?php
    } else {
        ?>
        <p> 您尚未选择任何换购商品~ <a href="/addon/pointmall">返回积分商城</a></p>
    <?php
    }
    ?>

    <?php
    include MODULE_PATH . "/Views/default/order/settle/addrManage.phtml";
    ?>
</div>

<script>
    seajs.use('app/app.shop_order', function (cart) {
        cart.settlePointMall();
    });
</script>
