<div id="return_wrap">
    <p class='order_number'><?php echo $item_info[0]['order_number'] ?></p>

    <div class="img_name">
        <img src="<?php echo $item_info[0]['thumb'] ?>">

        <div class="name">
            <p class="label_name1"><?php echo $item_info[0]['item_name'] ?></p>

            <p class="label_name2">
                <span class='price'>&yen;<?php echo $item_info[0]['item_price'] ?></span>
                <span class='count'>数量:<?php echo $item_info[0]['quantity'] ?></span>
            </p>
        </div>
    </div>
    <div class="reason">
        <p>退货原因:<?php echo $item_info[0]['reason']; ?></p>

        <p>退货说明:<?php echo $item_info[0]['reason_detail']; ?></p>
    </div>
    <input type="hidden" name="type" id="item_id" value="<?php echo $item_info[0]['id'] ?>">

    <div id="expre">
        <p> 选择快递:
            <select name="deliver_logistics" id="deliver_logistics">
                <?php foreach ($logistics as $item) { ?>
                    <option value="<?php echo $item['key'] ?>"><?php echo $item['name'] ?></option>
                <?php } ?>

            </select>
        </p>
        <p>运单号:<input type="text" name="deliver_no" id="deliver_no"/></p>


    </div>
    <div id="button">

        <span class="btn prev">上一步</span>
        <span class="btn submit">提交</span>

    </div>

</div>

<script>
    seajs.use('app/app.shop_order', function (order) {
        order.backBtn();
    })

</script>