<?php
use Components\Product\TransactionManager;

?>
<div id="container" class="container page" style="margin: 0;padding: 0;">
    <p class="head">
        <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
        <span class="center">订单详情</span>
    </p>

    <div class="pay-widget pay-addr">
        <div class="pay-head">
            地址信息
        </div>
        <div class="pay-content">
            <p><?php echo $addr['province'] . '·' . $addr['city'] . '·' . $addr['town']; ?></p>

            <p><?php echo $addr['address'] . ' ' . $addr['zip_code']; ?></p>

            <p><?php echo $addr['name'] . ' ' . $addr['phone']; ?></p>
        </div>
    </div>

    <div class="order-wrap" style="margin: 0 0 12px;">
        <div class="order-head">
            <span class="right"
                  style="color: #999;font-family: 'Helvetica';font-size: 14px;"><?php echo $order['order_number']; ?></span>
            订单详情
        </div>
        <ul class="order-detail">
            <?php foreach ($order['list'] as $item) { ?>
                <li class="item" data-id="<?php echo $item['id']; ?>">
                    <dl class="detail">
                        <dt><img src="<?php echo $item['thumb']; ?>" alt=""/></dt>
                        <dd>
                            <p class="name"><?php echo $item['item_name']; ?></p>

                            <p>
                            <span class="right">
                                <span class="cart-money">
                                    ￥<?php echo $item['total_cash']; ?>元
                                </span>
                            </span>
                                <?php if ($item['item_spec_data']) { ?>
                                    [
                                    <span class="blue">
                                    <?php
                                    $spec = json_decode($item['item_spec_data'], true);
                                    if ($spec) {
                                        foreach ($spec as $v) {
                                            echo $v['val'] . ' ';
                                        }
                                    }
                                    ?></span>
                                    ]
                                <?php } ?>
                                <em class="green">x</em> <?php echo $item['quantity']; ?>
                            </p>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </li>
                <li>
                    <p style="padding: 12px;
                    font-size: 14px;color: #666;">
                        最终支付：
                        <span class="cart-money">
                            &yen;<?php echo $order['paid_cash'] + $order['logistics_fee']; ?>元
                        </span>
                        (含邮费<?php echo $order['logistics_fee']; ?>元)
                    </p>
                </li>
            <?php } ?>
        </ul>
    </div>


    <div class="pay-widget">
        <div class="pay-head">
            支付状态 <span class="small right">
        </div>
        <div class="pay-content">
            <p class="base order-foot">
                <?php
                // 货到付款
                if ($order['is_cod']) {
                    ?>
                    [<span class="money">货到付款</span>]
                <?php } ?>
                <?php
                // 取消订单
                if (
                    ($order['is_cod'] && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_SELLER_SEND_GOODS)
                    || (!$order['is_cod'] && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY)
                ) {
                    ?>
                    <a href="javascript:;"
                       class="btn cancelOrderBtn"
                       data-order="<?php echo $order['order_number']; ?>">取消订单</a>
                <?php
                }
                ?>

                <?php
                if ($order['is_cod'] == 0 && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY) {
                    ?>
                    <a href="/order/pay?order=<?php echo $order['order_number']; ?>"
                       class="btn btn-green">立即支付</a>
                <?php
                } else {
                    //货到付款初始状态为代发货
                    if ($order['is_cod'] == 1 && $order['status'] == TransactionManager::ORDER_STATUS_WAIT_BUYER_PAY) {
                        ?>
                        <span
                            class="money">待发货</span>
                    <?php
                    } else {
                        ?>
                        <span
                            class="money"><?php echo TransactionManager::getOrderStatus($order['status']); ?></span>
                    <?php
                    }
                } ?>

                <?php
                // todo 确认收获按钮
                if (in_array($order['status'], array(TransactionManager::ORDER_STATUS_WAIT_BUYER_CONFIRM_GOODS, TransactionManager::ORDER_STATUS_SELLER_DELIVERED))) {
                    ?>
                    <span class="btn confirmReceiptBtn"
                          data-order="<?php echo $order['order_number']; ?>">确认收货</span>
                <?php
                }
                ?>
            </p>
        </div>
    </div>
</div>

<?php
if ($order['is_delivered']) {
    ?>
    <div class="pay-widget">
        <div class="pay-head">
            <span class="dot color99"></span>
            物流信息
        </div>
        <div class="pay-content">

            <p>
                商家已发货
            </p>

            <p>
                物流公司：<?php echo $order['logistics_name']; ?>
            </p>

            <p>
                运单号码：<?php echo $order['logistics_order']; ?>
            </p>

        </div>
    </div>
<?php
}
?>
</div>
<script>
    seajs.use('app/app.shop_order', function (or) {
        or.orderStatus();
    })
</script>