<?php
use Components\Payments\PaymentUtil;

?>

<div id="container" class="container page" style="margin: 0;padding: 0;
">
<div class="head">
    <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
    <span class="center">订单支付</span>
</div>

<div class="pay-widget pay-addr">
    <div class="pay-head">
        地址信息
    </div>
    <div class="pay-content">
        <p><?php echo $addr['province'] . '·' . $addr['city'] . '·' . $addr['town']; ?></p>

        <p><?php echo $addr['address'] . ' ' . $addr['zip_code']; ?></p>

        <p><?php echo $addr['name'] . ' ' . $addr['phone']; ?></p>
    </div>
</div>

<div class="order-wrap" style="margin: 0 0 12px;">
    <div class="order-head">订单详情</div>

    <?php if (isset($order)) { ?>
        <ul class="order-detail">
            <?php foreach ($order['list'] as $item) { ?>
                <li class="item" data-id="<?php echo $item['id']; ?>">
                    <dl class="detail">
                        <dt><img src="<?php echo $item['thumb']; ?>" alt=""/></dt>
                        <dd>
                            <p class="name"><?php echo $item['item_name']; ?></p>

                            <p>
                                    <span class="right">
                                        <span class="cart-money">
                                            ￥<?php echo $item['total_cash']; ?>元
                                        </span>
                                    </span>
                                <?php if ($item['item_spec_data'] && $item['item_spec_data'] != '""') { ?>
                                    [
                                    <span class="blue">
                                    <?php
                                    $spec = json_decode($item['item_spec_data'], true);
                                    if ($spec) {
                                        foreach ($spec as $v) {
                                            echo $v['val'] . ' ';
                                        }
                                    }
                                    ?></span>
                                    ]
                                <?php } ?>
                                <em class="green">x</em> <?php echo $item['quantity']; ?>
                            </p>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </li>

            <?php } ?>
            <li>
                <p style="padding: 12px;
                    font-size: 14px;color: #666;">
                    最终支付：
                        <span class="cart-money">
                            &yen;<?php echo $order['paid_cash'] + $order['logistics_fee']; ?>元
                        </span>
                    (含运费<?php echo $order['logistics_fee']; ?>元)
                </p>
            </li>
        </ul>
    <?php } ?>

    <?php if (isset($shopOrder)) {
        foreach ($shopOrder as $items) {
            ?>
            <ul class="order-detail">
                <?php foreach ($items['list'] as $item) { ?>
                    <li class="item" data-id="<?php echo $item['id']; ?>">
                        <dl class="detail">
                            <dt><img src="<?php echo $item['thumb']; ?>" alt=""/></dt>
                            <dd>
                                <p class="name"><?php echo $item['item_name']; ?></p>

                                <p>
                                    <span class="right">
                                        <span class="cart-money">
                                            ￥<?php echo $item['total_cash']; ?>元
                                        </span>
                                    </span>
                                    <?php if ($item['item_spec_data'] && $item['item_spec_data'] != '""') { ?>
                                        [
                                        <span class="blue">
                                    <?php
                                    $spec = json_decode($item['item_spec_data'], true);
                                    if ($spec) {
                                        foreach ($spec as $v) {
                                            echo $v['val'] . ' ';
                                        }
                                    }
                                    ?></span>
                                        ]
                                    <?php } ?>
                                    <em class="green">x</em> <?php echo $item['quantity']; ?>
                                </p>
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </li>

                <?php } ?>
                <li>
                    <p style="padding: 12px;
                    font-size: 14px;color: #666;">
                        小计：
                        <span class="cart-money">
                            &yen;<?php echo $items['paid_cash'] + $items['logistics_fee']; ?>元
                        </span>
                        (含运费<?php echo $items['logistics_fee']; ?>元)
                    </p>
                </li>
            </ul>
        <?php } ?>
        <ul class="order-detail">
            <li>
                <p style="padding: 12px;
                    font-size: 14px;color: #666;">
                    最终支付：
                        <span class="cart-money">
                            &yen;<?php echo $combineOrder['paid_cash'] + $combineOrder['logistics_fee']; ?>元
                        </span>
                    (含运费<?php echo $combineOrder['logistics_fee']; ?>元)
                </p>
            </li>
        </ul>
    <?php } ?>
</div>

<div class="pay-widget">
    <div class="pay-head">
        支付方式
    </div>
    <div class="pay-content">
        <ul class="choose-payment">
            <?php
            $can_pay = false;
            $wxPaySupported = false;
            if ($payment) {
                foreach ($payment as $pay) {
                    if ($pay['is_active']) {
                        if ($pay['key'] == PaymentUtil::PAYMENT_KEY_WXPAY) {
                            if (\Components\UserStatusWap::init()->isWechat()) {
                                $wxPaySupported = true;
                            } else {
                                continue;
                            }
                        }
                        $can_pay = true;
                        ?>
                        <li>
                            <a href="javascript:;" class="payment" data-pay="<?php echo $pay['key']; ?>">
                                <label for="" class="label">
                                    <input type="radio" name="pay-method" id="" class="pay-method"
                                           data-pay="<?php echo $pay['key']; ?>"/>
                                </label>
                                    <span class="logo">
                                        <?php if ($pay['logo']) { ?>
                                            <img src="<?php echo $pay['logo']; ?>" alt=""/>
                                        <?php } ?>
                                    </span>
                                <span class="name"><?php echo $pay['name']; ?></span>
                            </a>
                        </li>
                    <?php
                    }
                }
            }
            ?>
            <?php
            if (isset($this->view->store['enable_cod']) && $this->view->store['enable_cod']) {
                $can_pay = true;
                ?>
                <li>
                    <a href="javascript:;" class="payment" data-pay="cod">
                        <label for="" class="label">
                            <input type="radio" name="pay-method" id="" class="pay-method" data-pay="cod"/>
                        </label>
                        <span class="name">货到付款</span>
                    </a>
                </li>
            <?php } ?>
            <?php
            if (!$can_pay) {
                ?>
                <li>对不起，商家还没有设置支付信息！</li>
            <?php } ?>
        </ul>
    </div>
    <div style="height: 54px;"></div>
</div>
<div class="pay"
     style="position: fixed;bottom: 0;left: 0;padding: 5px 0;width: 100%;background: #fff;z-index: 99999;">
    <div style="margin: 0 5px; ">
        <a href="javascript:;" class="payBtn btn-large btn <?php echo $can_pay ? 'btn-red' : ''; ?>"
           data-order="<?php echo \Util\EasyEncrypt::encode($this->request->get('order')); ?>">立即支付</a>
    </div>
</div>
</div>
<script>
    seajs.use('base', function () {

        var lastChoosePayCod = 0;// 上一次选择的支付方法
        $('.payment').on('click', function (e) {
            var pay = $(this).attr('data-pay');
            var order = $('.payBtn').attr('data-order');

            $('.pay-method').removeAttr('checked');
            $('.pay-method[data-pay="' + pay + '"]').prop('checked', true);

            // 货到付款
            if (pay == 'cod') {
                is_cod = 1;
                $('.payBtn').removeClass('btn-red').addClass('btn-green').html('确认货到付款');
            } else {
                is_cod = 0;
                $('.payBtn').removeClass('btn-green').addClass('btn-red').html('立即支付');
            }


            // 货到付款
            if (lastChoosePayCod != is_cod) {
                requestApi('/api/user/orderCod', {order: order, is_cod: is_cod}, function (res) {
                    if (res.result == 1) {
                        tip.showTip('ok', '支付方式选择成功', 1000);
                    }
                });
            }

            // 记录当次选择的支付方法
            lastChoosePayCod = is_cod;

            e.stopImmediatePropagation();
        });

        // 跳转到支付
        $('.payBtn').on('click', function () {
            var pay_method = $('.pay-method:checked').attr('data-pay');
            if (!pay_method) {
                tip.showTip('err', '请选择支付方式', '2000');
                return false;
            }

            var order = $(this).attr('data-order');


            var payUrl = '<?php echo $this->uri->payUrl();?>';

            // todo
            if (pay_method == 'alipay') {
                var uri = 'payment/alipay/pay/so/' + order;
                window.location.href = payUrl + uri;
            }

            // 货到付款
            if (pay_method == '<?php echo PaymentUtil::PAYMENT_KEY_COD  ;?>') {
                window.location.href = '/order/detail/' + <?php echo (isset($order) ? $order['order_number']:$combineOrder['combine_order_number']);?>;
            }

            if (pay_method == '<?php echo PaymentUtil::PAYMENT_KEY_WXPAY;  ?>') {
                if (!is_weixin()) {
                    alert('请在微信平台下使用');
                    return false;
                }

                var uri = 'payment/wxpay/js?showwxpaytitle=1&order=' + order;
                window.location.href = payUrl + uri;
            }
            return true;
        });
    });
</script>
