<style>
    #return_wrap . <?php echo $type==1 ? 'exchange':'back';?> {
        display: block;
    }

</style>
<?php if ($item_info) { ?>
    <div id="return_wrap">
        <p class='order_number'><?php echo $item_info[0]['order_number'] ?></p>

        <div class="img_name">
            <img src="<?php echo $item_info[0]['thumb'] ?>">

            <div class="name">
                <p class="label_name1"><?php echo $item_info[0]['item_name'] ?></p>

                <p class="label_name2">
                    <span class='price'>&yen;<?php echo $item_info[0]['item_price'] ?></span>
                    <span class='count'>数量:<?php echo $item_info[0]['quantity'] ?></span>
                </p>
            </div>
        </div>
        <input type="hidden" name="type" id="type" value="<?php echo $type ?>">
        <input type="hidden" name="type" id="item_id" value="<?php echo $item_info[0]['id'] ?>">

        <div class="back">
            <select name="reason_option" id="reason_option">
                <option value="0">请选择退货原因</option>
                <option value="1">质量不好</option>
                <option value="2">商品有破损</option>
            </select>
            <textarea name="reason" class="reason" id="reason" placeholder="请填写退货说明">请填写退货说明
            </textarea>
            <span class="btn btn-block btn-back">提交</span>

        </div>
        <div class="exchange">
            <select name="reason_option_exchange" id="reason_option_exchange">
                <option value="0">请选择换货原因</option>
                <option value="1">质量不好</option>
                <option value="2">商品有破损</option>
            </select>
            <textarea name="reason" class="reason" id="reason_exchange" placeholder="请填写换货说明">请填写换货说明
            </textarea>
            <span class="btn btn-block btn-back">提交</span>
        </div>

    </div>

<?php } ?>
<script>
    seajs.use('app/app.shop_order', function (order) {
        order.backBtn();

    })

</script>