<?php
use Components\Product\OrderManager;
use Models\User\UserAddress;
use Components\UserStatusWap;

$discount = \Components\Module\VipcardManager::init()->getCardDiscount(\Components\UserStatusWap::getUid(), CUR_APP_ID);
// get settle list item

$settleData = OrderManager::init()->getSettleData($discount);
$list = $settleData['list'];
$total_cash = $settleData['total_cash'];
$paid_cash = $settleData['paid_cash'];
$order_preferential = $settleData['order_preferential']; //订单优惠的金额(促销)
$discount_amount = $settleData['discount_amount']; //折扣优惠的金额
$return_points = $settleData['return_points']; //返回积分数
$shop = \Models\Shop\Shop::findFirst(array("customer_id='" . CUR_APP_ID . "'", 'columns' => 'free_postage'));
$default_address = UserAddress::findFirst('is_default = 1 and user_id=' . UserStatusWap::getUid());
$default_addr = $default_address ? $default_address->toArray() : []; //用户默认收货地址
$goods = OrderManager::init()->getFreight($list, $settleData['all_data'], $default_addr);
$total_freight_price = 0;
/*echo "<pre>";
var_dump($goods['express_mail']['goods'][0]['spec_info']['spec']);exit;*/
?>
<div id="container-settle" class="container" style="position:static;background: #fff;margin: 0;padding: 0;">
    <div class="settle-page page">
        <div class="head">
            <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
            <span class="center">结算订单</span>
        </div>

        <?php
        $this->view->partial('order/settle/addrChoose');
        ?>
        <div class="order-wrap">
            <div class="order-head">订单详情</div>
            <ul class="order-detail">
                <?php

                foreach ($goods as $k => $good) {
                    ?>

                    <?php foreach ($good['goods'] as $item) { ?>
                        <li class="item" data-id="<?php echo $item['id']; ?>">
                            <dl class="detail">
                                <dt><img src="<?php echo $item['thumb']; ?>" alt=""/></dt>
                                <dd>
                                    <p class="name"><?php echo $item['name']; ?></p>

                                    <p>
                                                        <span class="right">
                                                            <span class="cart-money">
                                                                ￥<?php echo $item['subtotal']; ?>元
                                                            </span>
                                                        </span>
                                        <?php if ($item['spec_data']) { ?>
                                            [
                                            <span class="blue">
                                                        <?php
                                                        $spec = json_decode($item['spec_data'], true);
                                                        if ($spec) {
                                                            foreach ($spec as $v) {
                                                                echo $v['val'] . ' ';
                                                            }
                                                        }
                                                        ?></span>
                                            ]
                                        <?php } ?>
                                        <em class="green">x</em> <?php echo $item['num']; ?>
                                    </p>
                                </dd>
                            </dl>
                            <div class="clear"></div>
                        </li>

                    <?php } ?>
                    <?php $freight_price = 0;
                    if ($shop->free_postage <= 0 || $shop->free_postage > $paid_cash) {
                        ?>
                        <li class="freight_li">
                            <div class="right freight_select">
                                配送方式:<select name="freight_<?php echo $k; ?>" class="freight_type" data-item="">
                                    <?php
                                    $i = 0;
                                    foreach ($good['freight_tpl'] as $k2 => $freight) {
                                        $k2 = strtolower($k2);
                                        if ($i == 0) {
                                            $freight_price = $freight['total_freight_money'];
                                            $total_freight_price += $freight['total_freight_money'];
                                        }?>
                                        <option
                                            value="<?php echo $k2; ?>"
                                            data-val="<?php echo $freight['total_freight_money'] ?>"><?php echo ($k2 == 'express' ? '快递' : ($k2 == 'ems' ? 'EMS' : '平邮')) . '&nbsp &yen' . $freight['total_freight_money']; ?></option>
                                        <?php $i++;
                                    } ?>
                                </select>

                                <div class="freight_price"
                                     data-val="<?php echo $freight_price ?>"><?php echo '&yen' . $freight_price; ?></div>
                            </div>
                        </li>
                    <?php } ?>

                <?php } ?>
                <li>
                    <div class="order-count">
                        <p>
                            订单总额：
                            <span class="cart-money" style="font-size: 12pt;">&yen;<?php echo $total_cash; ?>元</span>
                            订单优惠：
                            <span class="cart-money">&yen; <?php echo $order_preferential; ?>元</span>
                        </p>

                        <p>
                            <?php if ($discount_amount > 0): ?>
                                VIP卡折扣优惠：<span class="money"> - &yen; <?php echo $discount_amount; ?>元</span>
                            <?php endif; ?>
                            <?php if ($return_points > 0) { ?> 赠送积分：<span class="money"> + <?php echo $return_points; ?>
                                分</span><?php } ?>
                        </p>

                        <p>运费: <span class="freight_money cart-money" data-val="<?php echo $total_freight_price; ?>"
                                     style="font-size: 12pt;"><?php if ($total_freight_price == 0) {
                                    echo ($shop->free_postage > 0 && $shop->free_postage < $paid_cash ? "满&yen" . $shop->free_postage : '') . "包邮";
                                } else {
                                    echo "&yen" . $total_freight_price;
                                } ?></span>
                        </p>
                    </div>
                </li>
            </ul>

            <?php
            $this->view->partial('order/settle/coupon');
            ?>
            <?php
            //             $this->view->partial('order/settle/postage');
            ?>
            <div class="postage_choose">
                <p class="">
                    <input class="remark" type="text" placeholder="给卖家留言"
                           style="display: block;width: 100%;box-sizing: border-box"/>
                </p>
            </div>

            <div class="settle-foot">
                <?php
                $this->view->partial('order/settle/usePoint');
                ?>
            </div>

            <textarea name="" id="all_item"
                      style="display: none;"><?php echo base64_encode(json_encode($goods)); ?></textarea>
        </div>

        <div class="pay"
             style="position: fixed;bottom: 0;left: 0;padding: 6px 0;width: 100%;background: #fff;z-index: 99999;">
            <div style="margin: 0 6px; ">
                <a href="javascript:;" class="btn-large btn btn-red generateOrderBtn" id="confirmOrderBtn"
                   style="display:block;">确认订单</a>
                <a href="javascript:;" class="btn-large btn btn-green showAddrFormBtn" id="showAddrFormBtn"
                   style="display:none;">新增地址</a>
                <a href="javascript:;" class="btn-large btn btn-red saveAddrBtn" id="saveAddrBtn"
                   style="display:none;">保存地址</a>
            </div>
        </div>
        <?php
        $this->view->partial('order/settle/addrManage');
        ?>
    </div>
    <div style="height: 50px;"></div>
</div>

<script>
    seajs.use('app/app.shop_order', function (cart) {
        cart.settlePageInit();
    });
</script>
