<?php if ($flag) { ?>

    <div>评论成功,还有<span id="co" style="color: red; margin: 0px 3px; font-weight: bold;">5</span>秒跳转到<a href="/order/mine">订单页</a>
    </div>

    <script>
        var time = 5;
        var hand = setInterval('count()', 1000);
        function count() {
            if (time <= 0) {
                clearInterval(hand);
                window.location.href = '/order/mine';
            }
            else {
                document.getElementById('co').innerHTML = time;
                time--;
            }
        }

    </script>

<?php } ?>


