<?php
$_action = $this->dispatcher->getParam('_a', 'striptags');

$act = array(
    'index' => '积分换购商品列表',
    'add' => '添加积分换购商品',
    'update' => '修改积分换购商品',
);
?>

<div class="page-header">
    <h1>
        积分商城[积分换购]
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $act[$_action] ?>
        </small>

        <small class="right">
            <?php if (!in_array($_action, ['add', 'order'])) { ?>
                <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
            <?php } ?>
        </small>
    </h1>
</div>

<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
</script>