<?php
use Util\EasyEncrypt;

$this->partial('module/pointmall/default/base');
?>
<form action="" method="get" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <label for="name">关键字</label>
    <input name="key" type="text" id="key" value="<?php echo $this->request->get('key'); ?>">
    <input type="submit" class="btn btn-primary btn-sm" value="搜索">
</form>
<table id="article-list" class=' list'>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th style='width:36px'>排序</th>
        <th style=''>商品名称</th>
        <th style='width:100px'>所需积分</th>
        <th style='width:100px'>所需费用</th>
        <th style='width: 80px;'>复制链接</th>
        <th style='width:60px'>浏览</th>
        <th style='width:50px'>修改</th>
        <th style='width:80px'>是否发布</th>
        <th style='width:50px'>删除</th>
        <th style='width:120px'>过期时间</th>
        <th style='width:120px'>添加时间</th>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
    foreach ($list as $item) {
        $url = $this->uri->wapModuleUrl('/pointmall/item/' . EasyEncrypt::encode($item['item_id']));
        ?>
        <tr class="item" data-id="<?php echo $item['id']; ?>">
            <th class='name'><?php echo $item['id']; ?></th>
            <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
            <td class="center">
                <?php echo $item['sort']; ?>
            </td>
            <td>
                <a href="javascript:;" class="preview-app" title="点击预览"
                   data-url="<?php echo $url; ?>">
                    <?php echo $item['item_name']; ?>
                </a>
                [<a href="javascript:;" class="copy" data-id="<?php echo $item['id']; ?>">
                    查看链接
                </a>]
                <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                       type="text"
                       value="<?php echo $url; ?>"/>
            </td>
            <td class="center">
                <span class="red"><?php echo $item['cost_point']; ?></span>
                积分
            </td>
            <td class="center">
                ￥
                <span class="orange"><?php echo $item['cost_cash']; ?></span>
                元
            </td>
            <td class="center"><a href="javascript:;" class="copyBtn miBtn"
                                  data-clipboard-text="<?php echo $url; ?>">复制链接</a>
            </td>
            <td class="center">
                <?php echo $item['views']; ?>
            </td>
            <td class="center">
                <a href="<?php echo $this->uri->actionUrl('/pointmall/default/update?id=' . EasyEncrypt::encode($item['id'])); ?>"
                   class='upBtn'>修改</a>
            </td>

            <td class="center">
                <?php if ($item['published'] == 0) { ?>
                    <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                       data-id="<?php echo $item['id']; ?>">发布</a>
                <?php } else { ?>
                    <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                       data-status="0">取消发布</a>
                <?php } ?>
            </td>
            <td class="center">
                <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
            </td>
            <td>
                <?php echo $item['deadline'] == 0 ? '无限制' : ($item['deadline'] > time() ? date('Y-m-d H:i', $item['deadline']) : '已经过期'); ?>
            </td>

            <td>
                <?php echo date('Y-m-d H:i', $item['created']); ?>
            </td>
        </tr>
    <?php
    }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span>
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="12">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->wapModuleUrl('pointmall'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>

<script>
    seajs.use('app/module/module.pointmall', function (n) {
        n.pubItem('.pubBtn');
        n.delItem('.delBtn');
        n.delAllItem(".delAllSelected");
    });
</script>
