<?php
$this->partial('module/pointmall/default/base');
?>

{{ content() }}

<?php
if (isset($item) && $item) {
    if (isset($sell_item) && $sell_item) {
        ?>
        <form action="" id="registerForm" class="form-horizontal" onbeforesubmit="return false"
              data-toggle="validator" role="form" method="post">
            <fieldset>

                <p style="border-bottom: 1px solid #e0e0e0;padding: 8px;margin: 0 0 12px;font-size: 14px;font-weight: bold;">
                    商品原始信息
                </p>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">商品名称</label>

                    <div class="col-sm-10">
                        <span class="col-sm-6">
                            <?php echo $sell_item['name']; ?>
                            <?php
                            if ($sell_item['is_recommended']) {
                                ?>
                                <span class="orange">荐</span>
                            <?php
                            }
                            ?>
                            <?php
                            if ($sell_item['is_recommended']) {
                                ?>
                                <span class="red">热</span>
                            <?php
                            }
                            ?>
                        </span>
                    </div>
                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">商品价格</label>

                    <div class="col-sm-10">
                        <span class="col-sm-6">
                            ￥ <?php echo $sell_item['sell_price']; ?> 元
                        </span>
                    </div>
                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">商品库存</label>

                    <div class="col-sm-10">
                        <span class="col-sm-6">
                            <?php echo $sell_item['quantity']; ?>
                        </span>
                    </div>
                </section>

                <p style="border-bottom: 1px solid #e0e0e0;padding: 8px;margin: 0 0 12px;font-size: 14px;font-weight: bold;">
                    商品换购信息
                </p>
                <?php
                if ($sell_item['quantity'] > 0) {
                ?>
                <input type="hidden" name="sell_price" id="<?php echo $sell_item['sell_price']; ?>"/>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label"><span class="green">邮费设置</span></label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="" id="postage_fee" name="postage_fee" placeholder="邮费"
                                   value="<?php echo $item['postage_fee']; ?>"
                                   required style="width: 60px;" maxlength="5">
                            元
                        </span>
                        <span class="help-block with-errors"><span class="red">*</span> 请设置邮费</span>
                    </div>
                </section>
                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">换购商品图片</label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="form-control" id="item_cover" name="item_cover"
                                   placeholder="换购商品名称"
                                   value="<?php echo $item['item_cover']; ?>" readonly
                                   required>
                            <input type="hidden" name="sell_price" id="<?php echo $item['item_cover']; ?>"/>

                        </span>
                        <span class="btn btn-success btn-sm" id="coverImgBtn">上传图片</span>
                        <img src="<?php echo $item['item_cover']; ?>" id="item_cover-preview" style="height: 36px;"
                             alt=""/>
                    </div>
                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">换购商品名称</label>

                    <div class="col-sm-10">
                    <span class="col-sm-3">
                        <input type="text" class="form-control" id="item_name" name="item_name" placeholder="换购商品名称"
                               value="<?php echo $item['item_name']; ?>"
                               required>
                        <input type="hidden" name="sell_price" id="<?php echo $sell_item['sell_price']; ?>"/>

                    </span>
                        <span class="help-block with-errors"><span class="red">*</span> 设置一个响亮的名字勾引用户购买欲</span>
                    </div>
                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">换购所需积分</label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="" id="cost_point" name="cost_point" placeholder="换购所需积分"
                                   value="<?php echo $item['cost_point']; ?>"
                                   required style="width: 60px;"> 积分
                        </span>
                        <span class="help-block with-errors"><span class="red">*</span> 设置用户换购所需的积分</span>
                    </div>

                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">换购所需现金</label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="" id="cost_cash" name="cost_cash" placeholder="换购所需现金"
                                   value="<?php echo $item['cost_cash'] > $sell_item['sell_price'] ? $sell_item['sell_price'] : $item['cost_cash']; ?>"
                                   required style="width: 60px;"> 元

                        </span>
                        <span class="help-block with-errors"><span
                                class="red">*</span> 设置用户换购所需的现金,不得大于商品销售价格(￥<span
                                class="red"><?php echo $sell_item['sell_price']; ?></span>元
                            )</span>
                    </div>

                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">可换购库存量</label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="" id="item_quantity" name="item_quantity" placeholder="可换购数量"
                                   value="<?php echo $item['item_quantity'] > $sell_item['quantity'] ? $sell_item['quantity'] : $item['item_quantity']; ?>"
                                   required style="width: 60px;">
                        </span>
                        <span class="help-block with-errors"><span
                                class="red">*</span> 设置该商品的可换购数量，不得大于商品库存(<span
                                class="red"><?php echo $sell_item['quantity']; ?></span>)</span>
                    </div>
                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">用户换购限制</label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="" id="item_limit" name="item_limit" placeholder="可换购数量"
                                   value="<?php echo $item['item_limit']; ?>"
                                   required style="width: 60px;">
                        </span>
                        <span class="help-block with-errors"><span
                                class="red">*</span> 每个用户可换购数量,不得大于可换购库存量,0表示不限制</span>
                    </div>
                </section>

                <section class="form-group">
                    <label for="name" class="col-sm-2 control-label">排序值</label>

                    <div class="col-sm-10">
                        <span class="col-sm-3">
                            <input type="text" class="" id="sort" name="sort" placeholder="可换购数量"
                                   value="<?php echo $item['sort']; ?>"
                                   required style="width: 60px;" maxlength="3">
                        </span>
                        <span class="help-block with-errors"><span class="red"></span> 最大255,由大到小排序</span>
                    </div>
                </section>


                <section>
                    <label for="name" class="col-sm-2 control-label"></label>

                    <div class="col-sm-10" style="padding: 0 0 0 14px;">
                        <input type="submit" value="提交" class="btn btn-primary btn-large" name="btn-base"/>
                    </div>
                </section>
            </fieldset>
            <?php } else { ?>
                <p style="margin: 20px;">对不起，商品库存不足！ <a href="/shop/product/edit?iid=<?php echo $sell_item['id']; ?>">修改原始商品</a>
                </p>
            <?php } ?>
        </form>
        <div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    display: none;">
            <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
                <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
            </p>
            <iframe name="appFrame" id="appFrame"
                    src="<?php echo $this->uri->wapModuleUrl('pointmall/item/' . \Util\EasyEncrypt::encode($item['item_id'])); ?>"
                    style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
        </div>

    <?php } else { ?>
        <p>
            原始商品已被删除
        </p>
    <?php
    }
} ?>
<script>
    //上传缩略图
    seajs.use('app/panel/panel.storage', function (store) {
        store.getImg('#coverImgBtn', function (res) {
            $('#item_cover').val(res.url);
            $('#item_cover-preview').attr('src', res.url);
        });
    });
</script>