<style>
    .tpl {
        width: 170px;
        height: 400px;
        float: left;
        margin: 9px 0 0 9px;
        padding: 2px 0 0 0;
        background: url(/static/panel/images/panel/phone.png) no-repeat;
    }

    .tpl img {
        width: 167px;
        height: 353px;
    }

    .tpl dd {
        text-align: center;
        margin: 8px 0 0;
    }

    .tpl:hover {
        background: url(/static/panel/images/panel/phone-hover.png) no-repeat;
    }
</style>
<?php
$cur_type = $this->request->get('type');
$cur_type = in_array($cur_type, array('home', 'list', 'page', 'menu', 'about', 'user', 'shop')) ? $cur_type : 'home';

$inner = array(
    'home' => '',
    'list' => 'list',
    'page' => '',
    'menu' => '',
    'about' => 'about',
    'user' => 'user',
    'shop' => 'shop'
);
$menus = array(
    array('title' => '微官网模板', 'type' => 'home'),
    array('title' => '微商城模板', 'type' => 'shop'),
    array('title' => '用户中心模板', 'type' => 'user'),
    array('title' => '快捷导航模板', 'type' => 'menu'),
);
?>
<div class="page-header">
    <h1>
        商城模板选择
        <small>
        </small>
        <span class="right"><a href="javascript:;" class="preview-app btn btn-sm btn-danger fuckbtn">预览微站</a></span>
    </h1>
</div>

<script>
    seajs.use('app/panel/site/panel.site.set_tpl', function (tpl) {
        tpl.setTpl();
    });
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

    });
</script>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl($inner[$cur_type]); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
<style>
    .tpl {
        width: 170px;
        height: 353px;
        float: left;
        margin: 8px;
        background: url(/static/panel/images/panel/phone.png);
        margin-top: 35px;
    }

    .tpl dd {
        text-align: center;
        margin: 8px 0 0;
    }

    .tpl:hover {
        cursor: pointer;
        background: url(/static/panel/images/panel/phone-hover.png);
    }

    .tpl-content {
        padding: 8px;
    }
</style>

<div class="tpl-content">
    <?php $this->partial('tpl/block/row'); ?>
    <div class="clear"></div>
</div>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl($inner[$action]); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>