<style>
    .tpl {
        width: 170px;
        height: 400px;
        float: left;
        margin: 9px 0 0 9px;
        padding: 2px 0 0 0;
        background: url(/static/panel/images/panel/phone.png) no-repeat;
    }

    .tpl img {
        width: 167px;
        height: 353px;
    }

    .tpl dd {
        text-align: center;
        margin: 8px 0 0;
    }

    .tpl:hover {
        background: url(/static/panel/images/panel/phone-hover.png) no-repeat;
    }
</style>
<div class="page-header">
    <h1>
        微站模板设置
        <small>
            <i class="icon-double-angle-right"></i>
            <span class="span3">[套装模板]</span>
        </small>
        <span class="right"><a href="javascript:;" class="preview-app btn btn-sm btn-danger">预览微站</a></span>
    </h1>
</div>

<div class="tpl-content">
    <?php $this->partial('tpl/block/row'); ?>
    <div class="clear"></div>
</div>
<script>

    seajs.use('app/panel/site/panel.site.set_tpl', function (tpl) {
        tpl.setTpl();
    });
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

    });
</script>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl(); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>