<?php
use Components\TplManager;

?>

<?php TplManager::init(CUR_APP_ID)->baseTpl('slider/gmu'); ?>

<div id="container" class="container">

    <?php $this->partial('index/partial/micro-func'); ?>

    <?php $this->partial('index/partial/part'); ?>

    <div class="clear"></div>
</div>

