/* base */
body {
    width: 100%;
    height: 100%;
    background: url(/static/wap/images/tpl/estt/bg.png) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-positon: 100%, 100%;
}

#top-bg {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2000;
    border: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

#top-bg .top {
    width: 100%;
    height: 40px;
    position: relative;
    display: block;
    background: url(/static/wap/images/tpl/estt/top-bg.png) repeat-x;
}

#top-bg .top a.return {
    width: 51px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background-size: 51px 40px;
}

#top-bg .top a.return:hover {
    width: 51px;
    height: 40px;
    background-color: #4e54da;
    background-size: 51px 40px;
}

#top-bg .top a.personal {
    width: 51px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url(/static/wap/images/tpl/estt/Personal-Center.png) no-repeat;
    background-size: 51px 40px;
}

#top-bg .top a.personal:hover {
    width: 51px;
    height: 40px;
    background-color: #4e54da;
    background-size: 51px 40px;
}

#top-bg .top a.phone {
    width: 51px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(/static/wap/images/tpl/estt/phone.png) no-repeat;
    background-size: 51px 40px;
}

#top-bg .top a.phone:hover {
    width: 51px;
    height: 40px;
    background-color: #4e54da;
    background-size: 51px 40px;
}

#top-bg .top .top-title {
    width: auto;
    height: 40px;
    margin: auto;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-family: Microsoft Yahei;
    font-size: 17px;
}

/* 首页 */
.home-list {
    padding: 4px;
    margin: 0 0 0 4px;
}

.home-list li {
    width: 33%;
    float: left;
}

.home-list li a {
    margin: 4px;
    border-radius: 6px;
    display: block;
    background: #fff;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.home-list li a .img {
    height: 80px;
    overflow: hidden;
}

.home-list li a img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.home-list li .title {
    border-top: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 11pt;
}

#scrollContent {
    position: fixed;
    top: 40px;
    bottom: 42px;
    overflow-y: auto;
    left: 0;
    right: 0;
}

.copy {
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #666;
    margin: 0 0 4px;
}

/* footer */
#meun-bg {
    width: 100%;
    height: 42px;
    background: url(/static/wap/images/tpl/estt/meun-bg.png);
    background-size: 100% 42px;
    position: fixed;
    z-index: 2000;
    bottom: 0;
    border-top: 1px solid #c9cbce;
}

#meun-bg li {
    display: block;
    line-height: 42px;
    float: left;
}

#meun-bg li a {
    display: block;
    text-align: center;
    width: 100%;
    color: #656565;
    font-size: 15px;
}

#meun-bg li a img {
    height: 12px;
    vertical-align: middle;
    margin: -2px 4px 0 4px;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-head .article-title .normal {
    color: #666;
    font-size: 11pt;
}

.article-content {
    border-top: 1px solid #d0e0eb;
    background: #eee;
    padding: 8px;
}

.article-content div, .article-content p {
    margin: 8px 0;
    color: #666;
    font-size: 11pt;
}

.article-info {
    color: #666;
}

/* 关于 */
.about-list {
    color: #666;
    margin: 8px 0;
}

.about-list .title {
    font-size: 12pt;
    line-height: 30px;
    color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 4px 8px;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    border-top: 1px solid #d0e0eb;
    font-size: 9pt;
    color: #666;
    padding: 8px;
    background: #f6f6f6;
}

/*列表布局*/
.list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.list li {
    position: relative;
    border-top: 1px solid #d0e0eb;
    border-bottom: 1px solid #d0e0eb;
    background: #f6f6f6;
    padding: 8px;
    margin: 5px 0;
}

.list li a img {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 80px;
    margin-right: 6px;
}

.list li a {
    overflow: hidden;
    display: block;
    font-size: 12.5pt;
}

.list li a span {
    display: block;
    overflow: hidden;
}

.list li .title {
    font-size: 14pt;
    color: #333;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}

.list li .right {
    float: right;
}

.list .icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.list .small {
    overflow: hidden;
    display: block;
    color: #666;
    padding-top: 2px;
    font-size: 10pt;
    margin-right: 30px;
}
