/************************ header style ***********************/
.header{ width: 100%; background-color: #313541;  height: 50px; position: fixed; z-index: 1000; top: 0;}
.header a{ display: block; width: 25%; height: 50px; line-height: 50px; text-align: center; float: left;}
.header a img{ vertical-align: middle; width: 24px; height: 24px; overflow: hidden; line-height: 50px;}

/**************************** footer style *******************************/
.footer{ width: 100%; height: 43px; background-color: #fafafa; border-top: 1px solid #dbdbdb; position: fixed; z-index: 1050; bottom: 0; left: 0;}
.footer a{ box-sizing: border-box;}
.footer .footer_say{ float: left; width: 13%; height: 43px; background:url("/static/wap/images/tpl/huarunqi/public_say.png") no-repeat center; background-size: 20px 20px;}
.footer .footer_icon{ float: left; width: 29%; height: 43px; line-height:43px; border-left: 1px solid #dbdbdb; text-align: center; text-decoration: none; color: #909090;}
.footer .footer_icon img{ margin-right: 2px; vertical-align: middle; width: 20px; height: 20px; overflow: hidden;}

/*****************************版权 Copyright********************************/
#Copyright-box {width:100%; height:60px; float: left;padding:8px 0 0 0; margin:10px 0 40px 0; background-color:#313541; display: block; }
#Copyright-box .box-list{width:100%; height:20px; text-align: center;line-height:20px;font-size: 10px; color: #9ea8c7;}
#Copyright-box .box-list img{width:11px; height:11px; }


/*************************公司简介introduce**************************/
#introduce-bg { width: 100%; height:150px;  float:left;  padding: 0px; margin: 50px 0 0 0;background: url(/static/wap/images/tpl/huarunqi/introduce-bg.png) no-repeat;background-size: cover;background-position: center;}
#introduce-bg .logo01{width:110px;height:47px;margin: auto;margin-top:20px;display: block;}
#introduce-bg .logo01 img {width:110px;height:47px;float: left;}
#text-introduce{width:100%; height:auto;padding: 15px; margin-top:-65px; display: block; float: left;font-family: arial, sans-serif;font-size:15px;color:#858ca8; }
#text-introduce h2{ width:100%;  height:35px;line-height:35px; margin: 10px 0;font-size:17px;font-weight:bold; color:#858ca8; border-bottom:1px solid #858ca8; }
#text-introduce p{ font-family: arial, sans-serif;font-size:15px;color:#858ca8;line-height: 25px;}


/*************************新闻内容 news_content**************************/

#news_content {width:100%; height:auto; margin:auto; margin-bottom: 50px; display: block; font-family: arial, sans-serif;font-size:15px;color:#858ca8; padding: 0 10px;padding-top: 50px;}
#news_content .title-box{width:100%;height:auto; float:left; background: #f5f8ff; margin-bottom:7px; border-bottom:1px solid #ededed; font-weight:bold; color: #434f73;line-height:25px;padding:5px 0; font-size:17px;text-align: center;}
#news_content h2 {color: #434f73;line-height:38px; font-weight:bold; font-size:16px;text-align:left; width:100%; height:35px; float: left;}
#news_content p{font-family: arial, sans-serif;color:#434f73;padding:5px;}


/*********************** person_info.html **************************/
.person_info_main{;padding-top: 17px;padding-bottom: 43px;padding-top: 50px;}
.person_info_w{padding-left: 12px;background-color: #fff;}
.person_info_w ul li{height: 44px;line-height: 44px;padding-right: 10px;}
.person_info_w ul li a{display: block;background: url("/static/wap/images/tpl/emoi/member_card_arrow.png") no-repeat right center;padding-right: 20px;}
.person_info_w ul li .tit{float:left;font-size: 13pt;color: #808080;}
.person_info_w ul li .tit_lf{margin-left: 15px;}
.person_info_w ul li .con{float:right;font-size: 13pt;color: #c3c4c5;}
.person_info_w ul .ll_sty1{border-bottom: 1px solid #dedde1;}
.person_info_w .input_padding{margin-left: 5px;}
.person_info_w .qiye .details{display: none;}
.emoi .form label{width: 43px;}

/****************************** 用户中心 user_center *****************************/
#user_center {width:100%; height:auto; float: left;  margin-top:50px; background: url(/static/wap/images/tpl/huarunqi/uesrbg.jpg) bottom no-repeat; background-size:100% 200px;  background-position:center; background-attachment:fixed;}
#user_center .topbg{width:100%; height:200px; float: left; background: url(/static/wap/images/tpl/huarunqi/topbg.png) bottom no-repeat; background-size: 100% auto; background-position: 0 0;}
#user_center .topbg .user{width:100px; height:100px; float: left; margin:40px 0 0 20px; border:1px solid #e3e0e0; border-radius:10px; background:#ffffff; }
#user_center .topbg .user img{width:90px; height:90px; margin:4px 4px; border-radius:10px; }
#user_center .topbg ul{width:61%; height:auto; display: block; float: right; margin:35px 0 0 0;}
#user_center .topbg ul li{width:100%; height:28px; float:left; display: block; list-style: none; font-size:15px; color:#6b6b6b; line-height:30px; position: relative;}
#user_center .topbg ul li .box{width:auto; height:28px;font-size: 14px; position:absolute; right:0px;top:0px; padding-right:10px;  line-height:30px; }
#user_center .topbg ul li a{width:auto; height:28px; position:absolute; right:0px;top:0px; padding-right:10px;  line-height:30px; color:#6b6b6b; font-weight:bold;}
#user_center .topbg ul li a img{width:17px; height:17px;margin:5px 5px; float:left;}
#user_center .box-box{width:100%; height:auto; float: left; margin-bottom:50px;}
#user_center .box-box a.list{width:100%; height:50px; float: left; display: block; font-size:15px;  color:#949494; border-bottom:1px solid #d6d6d6; line-height: 53px; background-color:rgba(255,255,255,0.5) }
#user_center .box-box a.list:hover{background-color: rgba(236,236,236,1);}
#user_center .box-box a.list img{width:25px; height:25px; margin:14px 10px 0 10px;float: left;}


/********************************** 注册 login *********************************/
#login-bg { width: 100%;height: 100%; overflow:hidden;top: 0px; bottom: 0px; left: 0px;right: 0px;padding: 0px;margin: 0px;background: url(/static/wap/images/tpl/huarunqi/login-bg.jpg) no-repeat;background-attachment: fixed;background-size: cover; background-position: center;}
#logo { width: 110px;height: 110px; margin: auto;margin-top: 30px;}
#logo img {width: 110px;height: 110px;}
#login-list-bg {display: block;clear: both; width: 100%;margin: auto;margin-top: 25px; mrgin-bottom: 30px;}
#login-list-bg .login-list {display: block;width: 86%; height: 50px; list-style: none;display: block;margin: auto; margin-bottom: 25px;}
#login-list-bg .login-list .login-kuang {display: block;; width: 100%;height: 45px;float: left;background-color: rgba(255, 255, 255, 0.1);margin-left: 35px; border: 0px;text-align: left;line-height: 47px;font-size: 17px;color: #333333;line-height: 40px;}
.login-input {overflow: hidden;background-color: rgba(255, 255, 255, 0.5);float: left; width: 60%;height: 45px; border-radius: 4px;position: relative;border: 1px solid #FFFFFF;}
.login-input img { width: 30px;height: 30px;position: fixed;position: absolute;left: 5px;top: 5px}
#login-list-bg .login-list .verify {width:36%; height: 45px; background: url(/static/wap/images/tpl/huarunqi/yanzheng.png) no-repeat;background-size: 100% 45px;float: right;font-size: 16px;color: #FFFFFF;text-align: center;line-height: 47px; cursor: pointer;}
#login-list-bg .login-list .box01 {width: 100%; height: 45px; line-height: 43px;margin: auto; border:0px; border: 1px solid #FFFFFF;border-radius: 4px; background-color: rgba(255, 255, 255, 0.5);text-indent: 1px;line-height: 47px;font-size: 17px; color: #333333;line-height: 40px;}
#login-list-bg .login-list .submit { margin-top: 50px;width:100%;height: 45px; background: url(/static/wap/images/tpl/huarunqi/submit.png) no-repeat;background-size: 100% 45px;border: 0px solid #000000;font-size: 18px;color: #FFFFFF; text-align: center;line-height: 47px;}
#login-bg .copyright-box {width: 100%;height: auto;clear: both;display: block; float: left; margin-top:90px;}
#login-bg .copyright {width: 100%; height: 20px;list-style: none;display: block;text-align: center;font-size: 8px;color: #afb5cd;line-height: 25px;}

/******************************注册第二页 login02*******************************/
#login-list-bg01 {display: block;clear: both;width: 100%; margin: auto; margin-top: 25px;mrgin-bottom: 30px;}
#login-list-bg01 .login-list {overflow: hidden;position: relative;display: block;width: 86%;height: 50px;list-style: none;display: block; margin: auto;margin-bottom: 25px;border: 1px solid #ffffff;border-radius: 4px; background-color:rgba(255,255,255,0.5) ;}
#login-list-bg01 .login-list .box02{ width: 90%;height:50px;line-height:50px;border:0px;float:left;margin-left:38px;font-size:17px;color: #7e849e;background-color:rgba(255,255,255,0) ;}
#login-list-bg01 .xieyi {overflow: hidden;position: relative; display: block;width: 86%;height: 50px;list-style: none;display: block;margin: auto;margin-top:70px;font-size: 15px;color:#9da5c8;text-indent:40px;line-height:45px;}
#login-list-bg01 .login-list img{width:30px;height:30px; position: absolute;top:8px; left:5px;}
#login-list-bg01 .xieyi img{width:25px;height:25px; position: absolute;top:8px;left:5px;background-size:25px 25px; }
#login-list-bg01 .ok-box{ width:86%;height:50px; margin: auto;display: block;overflow:hidden; margin-top:20px;background: url(/static/wap/images/tpl/huarunqi/submit.png) no-repeat;background-size:100% 50px;}
#login-list-bg01 .ok-box .OK01{width:100%;height:50px;display: block; line-height: 50px;text-align: center;font-size: 17px;color:#ffffff;background-color:rgba(255,255,255,0);}
#login-list-bg01 .form-label {overflow: hidden;position: relative;display: block;width: 86%;height: 50px;list-style: none; margin: auto;margin-bottom: 0; padding-left: 10px;}

/************************************登录页**************************************/
#login-list-bg01 .sign-in{width:86%; height:50px; margin: auto; display: block; margin-top:80px; }
#login-list-bg01 .sign-in .denglu{width:47%; height:50px; float: left;border-radius: 4px;background: url(/static/wap/images/tpl/huarunqi/denglu.png) no-repeat;background-size:100%;}
.denglu .ok-sign-in{ width:100%;height:100%; display: block; text-align: center;line-height: 50px;color:#ffffff;font-size:17px;background: rgba(255,255,255,0)}
#login-list-bg01 .sign-in .zhuce{width:47%;height:50px;float:right;border-radius: 4px; background: url(/static/wap/images/tpl/huarunqi/zhuce.png) no-repeat;background-size:100%;text-align: center;line-height: 50px; color:#ffffff;font-size:17px;}

/*找回密碼*/
.register_main{margin-top: 50px;/*background-color: #f3f3f3;*/padding-top: 17px;}
.register_main_w{background-color: #fff;padding-left: 10px;padding-right: 10px;/*padding-top: 1px;*/}
.register_main_w .user{width: 100%;position: relative;background: #ededed;border-radius: 5px;}
.register_main_w .user .lf{position: relative;z-index: 9;float: left;margin-left: 10px;width: 24px;height: 39px;background: url("/static/wap/images/tpl/emoi/register_person.png") no-repeat center;}
.register_main_w .user .ct{width: 100%;position: absolute;z-index: 3;top: 0;left: 0;height: 39px;}
.register_main_w .user .ct input{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .user .ct input:hover,.register_main_w .user .ct input:focus{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .user .rg{position: relative;z-index: 9;float: right;margin-right: 10px;width: 12px;height: 39px;background: url("/static/wap/images/tpl/emoi/register_person_arrow.png") no-repeat center;}
.register_main_w .yanzheng{margin-top: 10px;width: 100%;position: relative;background: #ededed;border-radius: 5px;}
.register_main_w .yanzheng .lf{position: relative;z-index: 9;float: left;margin-left: 10px;width: 20px;height: 39px;background: url("/static/wap/images/tpl/emoi/register_yanzheng.png") no-repeat center;}
.register_main_w .yanzheng .ct{width: 100%;position: absolute;z-index: 3;top: 0;left: 0;height: 39px;}
.register_main_w .yanzheng .ct input{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .yanzheng .ct input:hover{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .yanzheng .ct input:focus{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .yanzheng .rg{position: relative;z-index: 9;margin:1px 10px 0 0;width: 100px;height: 39px;}
.register_main_w .yanzheng #sendCodeBtn{position: absolute;z-index: 1001;right: 6px;top:6px;color: #9a9b9a;}
.register_main_w .login{margin-top: 20px;width: 100%;}
.register_main_w .login a{display: block;height: 38px;line-height: 38px;}
.register_main_w .login .btn.btn-reg{cursor: pointer;height: 40px;line-height: 40px;text-shadow: 0 1px 0 #fff;white-space: nowrap;color: #fff;font-size: 16pt;background-color: #b4d14e;text-align: center;border:none;border-radius: 5px;box-shadow: none;background-image: linear-gradient(to bottom, #6E7CA7,#6E7CA7);}
.register_main_w .next_log{cursor: pointer;height: 46px !important;line-height: 46px !important;text-shadow: 0 1px 0 #fff;white-space: nowrap;color: #fff;font-size: 16pt;background-color: #b4d14e;text-align: center;border:none;border-radius: 5px;box-shadow: none;background-image: linear-gradient(to bottom, #6E7CA7,  #6E7CA7);}


/*默认user.css*/
/*body {
    background: #e0e0e0;
}*/

.red {
    color: red;
}

.container {
    margin:50px 0 43px 0;padding:10px;
}

.user-widget {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    line-height: 160%;
    margin: 8px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.func-list li {
    border-bottom: 1px solid #E0E0E0;
    font-size: 11pt;
    height: 20px;
    padding: 5px 0;
}

.func-list li .sign {
    width: 20px;
    height: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 10pt;
}

.func-list li .cart_count {
    font-size: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    vertical-align: middle;
    margin: -10px 0 0 -2px;
    background: #EA2818;
    color: #fff;
}

.func-list li:last-child {
    border: none;
}

.func-list li a {
    display: block;
}

.w250-center, .form.w250-center {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

/*.full-form, .form.full-form, .full-form p {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.form.full-form label {
    width: 25%;
    text-align: right;
}

.form.full-form input:text,  .form.full-form textarea, .form.full-form select {
    width: 50%;
    text-align: left;
}

.full-form .btn.loginBtn, .full-form  .btn.regBtn, .full-form .btn.saveBtn, .full-form .btn.showAddrFormBtn {
    width: 100%;
    text-align: center;
}

.btn.loginBtn, .btn.regBtn, .btn.saveBtn, .btn.resetPassBtn, .btn.showAddrFormBtn, .btn.saveAddrBtn {
    height: 40px;
    line-height: 30px;
    padding: 0 50px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: block;
}
*/

.block-tip {
    border: solid 1px #ccc;
    background: #fff;
    padding: 5px;
    margin: 10px 0 0;
}

.order-tab {
}

.order-tab .order-header {
    background: #fff;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    padding: 6px 10px;
    border-bottom: 1px solid #E0E0E0;
}

.order-tab .order-nav {
    height: 50px;
    font-size: 14px;
    background: #fff;
    text-align: center;
}

.order-tab .order-nav li {
    float: left;
    width: 25%;
}

.order-tab .order-nav .active {
    margin: -2px 0 0;
    border-bottom: 2px solid #CC0000;
}

.order-tab .order-nav li a {
    text-align: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 15px 0;
    display: block;
    border-right: 1px solid #e0e0e0;
}

.order-list {
    width: 100%;
    color: #333;
}

.order-list td {
    vertical-align: top;
}

.order-list img {
    width: 50px;
    height: 50px;
}

.order-list .btn {
    height: 12px;
    line-height: 12px;
}

.order-list .order-head {
    font-size: 10pt;
    margin: 0 0 6px 0;
}

.order-list .order-foot {
    margin: 8px 0 0 0;
}

.order-list .order-head .base span {
    color: #000;
    font-weight: bold;
}

.order-list .item-list td {
    padding: 8px 0 0;
    border: 1px solid #eee;
}

.order-list .item-list .cover {
    width: 64px;
    text-align: center;
}

.order-list .item-list .detail {
    padding: 8px;
}

.order-list .item-list .name {
    margin: 0 0 4px;
}

.order-list .item-list .total {
    background: #f0f0f0;
    line-height: 160%;
    padding: 0 0 0 4px;
}

.user-info {
    height: 50px;
}

.user-info dt {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
}

.user-info dt img {
    width: 50px;
}

.user-info dd .name {
    font-size: 12pt;
    color: #000;
    line-height: 28px;
}
.user-info dd .point {
    font-size: 9pt;
    color: #666;
}
.user-info dd .detail {
    color: #333;
}

.small {
    font-size: 10pt;
    color: #666;
}

#container  .user-widget .vote_list{
    padding-left: 20px !important;
    font-size: 12px;
    background-color:#e4e4e4;
    border-radius: 4px;
    margin-bottom: 3px;
    border:1px solid #e2e2e2;

}


/*end  user.css*/

@charset "utf-8";

/************************ 重写部分***********************/
*{margin: 0; padding: 0; list-style: none; border: none;}
div{margin: 0 auto;}
body{margin: 0; padding: 0;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{border: none; background: none; vertical-align: middle;}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover{box-shadow: none; border: none; background: none;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{box-shadow: none; border: none; background: none;}

/************************ header style ***********************/
.header{width: 100%; background-color: #313541; height: 50px; position: fixed; z-index: 1000; top: 0;}
.header a{display: block; width: 25%; height: 50px; line-height: 50px; text-align: center; float: left;}
.header a img{vertical-align: middle; width: 24px; height: 24px; overflow: hidden;}

/**************************** footer style *******************************/
.footer{width: 100%; height: 43px; background-color: #fafafa; border-top: 1px solid #dbdbdb; position: fixed; z-index: 1000; bottom: 0; left: 0;}
.footer .footer_say{float: left; width: 13%; height: 43px; background: url("/static/wap/images/tpl/huarunqi/public_say.png") no-repeat center; background-size: 20px 20px;}
.footer .footer_icon{ position:relative; float: left; width: 29%; height: 43px; line-height: 43px; border-left: 1px solid #dbdbdb; text-align: center; text-decoration: none; color: #909090;}
.footer .footer_icon img{margin-right: 2px; vertical-align: middle; width: 20px; height: 20px; overflow: hidden;}
/*add footer_menu*/
.footer_menu{ display: none; position: absolute; z-index: 1200; bottom: 44px; left: 0; width: 100%; background-color: #fff;}
.footer_menu ul{border-top: 1px solid #c9c9c9; border-left: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9; }
.footer_menu ul li{ height: 35px; line-height: 28px;}
.footer_menu ul li a{ color: #8d8d8d; font-size: 10pt;}
.footer_menu ul .line{border-bottom: 1px solid #c9c9c9;}


/*********************** shop_index.html **************************/
#shop_index {padding-top: 50px; padding-bottom: 43px;}
#shop_index .swiper-shop-index{width: 100%; height: 270px; color: #fff; text-align: center; overflow: hidden; position: relative; }
#shop_index .swiper-shop-index img{ height: 100%;}
#shop_index .pagination-shop-index{position: absolute; z-index: 20; left: 50%; bottom: 10px;}
#shop_index .swiper-pagination-switch{display: inline-block; width: 8px; height: 8px; border-radius: 8px; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#shop_index .swiper-visible-switch{}
#shop_index .swiper-active-switch{background: #008aff;}
#shop_index .shop_index_video .tit{margin-top: 10px; margin-left: 25px; background: url("/static/wap/images/tpl/huarunqi/shop_index_video_line.png") repeat-x bottom; height: 30px; line-height: 30px;}
#shop_index .shop_index_video .tit span{ padding: 0 36px 0 10px; margin-left: -13px; height: 30px; line-height: 30px; color: #fff;text-align:center; font-size: 12pt; background: url("/static/wap/images/tpl/huarunqi/shop_index_video.png") no-repeat; background-size: 132px 30px;}
#shop_index .shop_index_video .con{  text-align: center; height: 150px; padding: 5px; margin:10px 13px; border: 1px solid #c2c2c2;}
#shop_index .shop_index_video .con img{ max-width: 100%; max-height:100%; overflow: hidden; }
#shop_index .shop_index_list .tit{ position: relative; margin-right: 10px; margin-top: 10px; margin-left: 25px; background: url("/static/wap/images/tpl/huarunqi/shop_index_video_line.png") repeat-x center; }
#shop_index .shop_index_list .tit_more{ margin-left: 36px;}
#shop_index .shop_index_list .tit span{ padding: 2px 10px; margin-left: -13px; height: 28px; line-height: 28px; color: #fff;text-align:center; border-radius: 20px; background: #008aff url("/static/wap/images/tpl/huarunqi/shop_angle.png") no-repeat right bottom; font-size: 12pt;}
#shop_index .shop_index_list .tit .p_l{padding-left: 30px;}
#shop_index .shop_index_list .tit a{ display:block; height: 28px; line-height: 28px; float: right; color: #008aff; font-size: 14pt; background-color: #fff;}
#shop_index .shop_index_list .con{ position: relative;  text-align: center; height: 150px; margin-top: 10px; }
#shop_index .shop_index_list .con span{ position: absolute; z-index: 20; right: 8px; top: 8px; background-color: #008aff; opacity: 0.85; color: #fff; padding: 5px 10px; border-radius: 20px; font-weight: bold; font-size: 12pt;}
#shop_index .shop_index_list .con img{ width: 100%; height:100%; overflow: hidden; }
#shop_index .shop_index_list .selling{ position: relative;  text-align: center; height: 150px; margin-top: 10px; }
#shop_index .shop_index_list .selling .word{ text-align: center; position: absolute; z-index: 20;top: 0;  opacity: 0.85; color: #fff; font-size: 12pt; width: 30%; height: 150px; overflow: hidden;}
#shop_index .shop_index_list .selling .w_lf{  right: 0; }
#shop_index .shop_index_list .selling .w_rg{  left: 0; }
#shop_index .shop_index_list .selling .w_c1{ background-color: #008aff; }
#shop_index .shop_index_list .selling .w_c2{ background-color: #22601a; }
#shop_index .shop_index_list .selling .w_c3{ background-color: #228981; }
#shop_index .shop_index_list .selling .w_c4{ background-color: #1f4b89; }
#shop_index .shop_index_list .selling .word span{ height: 62px; overflow: hidden; margin-top:50px; }
#shop_index .shop_index_list .selling img{ width: 100%; height:100%; overflow: hidden; }
#shop_index .shop_index_person{ position: absolute; z-index: 3; top: -2px; left: -20px; width: 35px; height: 35px; overflow: hidden;}
#shop_index .brand_only { margin-top: 10px; border-bottom: 1px solid #dbdbdb;}
#shop_index .brand_only .top{width: 100%; border-top: 1px solid #dbdbdb; height: 140px; overflow: hidden;}
#shop_index .brand_only  img{width: 100%; height: 100%; overflow: hidden;}
#shop_index .brand_only .top .new_lf{ width: 40%; height: 140px; border-right: 1px solid #dbdbdb;}
#shop_index .brand_only .top .new_rg{ width: 60%; height: 140px;}
#shop_index .brand_only .top .new_rg_t{ width: 100%; height: 70px;border-bottom: 1px solid #dbdbdb;}
#shop_index .brand_only .top .new_rg_b{ width: 100%; height: 70px;}
#shop_index .brand_only .top .new_rg_b div{ width: 50%; height: 70px;}
#shop_index .brand_only .top .new_rg_b .new_rg_sm{border-right: 1px solid #dbdbdb;}
#shop_index .brand_only .top .new_rg_b a{display: block; width: 100%; height: 70px; overflow: hidden;}
#shop_index .brand_only .bottom { width: 100%; height: 200px; overflow: hidden; border-top: 1px solid #dbdbdb;}
#shop_index .brand_only .bottom .bot_lf{ width: 40%; height: 200px; border-right: 1px solid #dbdbdb; }
#shop_index .brand_only .bottom .bot_lf a{ display: block; width: 100%; height: 100px; border-bottom: 1px solid #dbdbdb;}
#shop_index .brand_only .bottom .bot_rg{ width: 60%; height: 200px; border-bottom: 1px solid #dbdbdb;}

/*********************** fashion.html **************************/
#fashion{ padding-top: 50px; padding-bottom: 43px; position: fixed; z-index: 1; top: 0; left: 0; height: 100%; width: 100%;}
#fashion .swiper-fashion{width: 100%; height: 100%; color: #fff; text-align: center; overflow: hidden; position: relative; }
#fashion .swiper-fashion img{width: 100%; height: 100%; overflow: hidden;}
#fashion .pagination-fashion{position: absolute; z-index: 20; left: 50%; bottom: 10px;}
#fashion .swiper-pagination-switch{display: inline-block; width: 8px; height: 8px; border-radius: 8px; margin-right: 5px; opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#fashion .swiper-visible-switch{}
#fashion .swiper-active-switch{background: #008aff;}



/*********************** shop_detail.html **************************/
#shop_detail {margin-bottom: 43px; position: relative; }
#shop_detail .shop_details_top{ position: relative; }
#shop_detail .pic{ width: 100%; height: 340px; position: relative;}
#shop_detail .pic ul li{ width: 100%; height: 340px; position: absolute; z-index: 10; left: 0 ;top: 0;}
#shop_detail .pic img{ width: 100%; height: 340px;}
#shop_detail .opacity_zero{ width: 100%; height: 56px; position: absolute; z-index: 100; left: 0; bottom:0; background-color: #40281a; opacity: 0.7;}
#shop_detail .small_pic{ width: 100%; height: 56px; position: absolute; z-index: 102; left: 0; bottom:0;}
#shop_detail .small_pic .small_pic_w{ width: 245px; overflow: hidden;}
#shop_detail  .next{ cursor: pointer; position: absolute; z-index: 103; width: 17px; height:33px; background: url("/static/wap/images/tpl/huarunqi/shop_details_lf.png") no-repeat; left: 8px; bottom: 11px;}
#shop_detail  .prev{ cursor: pointer; position: absolute; z-index: 103; width: 17px; height:33px; background: url("/static/wap/images/tpl/huarunqi/shop_details_rg.png") no-repeat; right: 8px; bottom: 11px;}
#shop_detail .small_pic ul{ text-align: center; margin-right: -5px; }
#shop_detail .small_pic ul li{ box-sizing: border-box; border-radius: 5px; cursor: pointer; float: left; width: 45px; height: 45px; overflow: hidden; margin-right: 5px;  margin-top: 5px;}

#shop_detail .org_border{ border: 2px solid #ff4800;}
#shop_detail .org_border img{width: 100%; height: auto;overflow: hidden;}
#shop_detail .shop_detail_bottom .tit{ margin-top: 20px; background: url("/static/wap/images/tpl/huarunqi/shop_details_bg.png")no-repeat; background-size: 100px 29px; border-bottom: 1px solid #008aff;}
#shop_detail .shop_detail_bottom .tit span{ padding-left: 13px; font-size: 11pt; width:90px; height: 25px; line-height: 30px; color: #fff; overflow: hidden;  }
#shop_detail .shop_detail_bottom .con ul .w_100{ width: 100%;border-top: 1px solid #d1d2d6; }
#shop_detail .shop_detail_bottom .con ul .w_50{ width: 50%; }
#shop_detail .shop_detail_bottom .con ul .w_line{border-right: 1px solid #d1d2d6;}
#shop_detail .shop_detail_bottom .con ul li{ padding:10px; float: left; color: #919191; font-size: 10pt; box-sizing: border-box; border-bottom: 1px solid #d1d2d6;}
#shop_detail .shop_detail_bottom .con ul li span{ color: #595e6d;}
#shop_detail .describe{ padding-bottom: 15px;}
#shop_detail .describe .describe_tit { margin-top: 10px; padding-left: 13px; color: #595e6d; font-weight: bold; font-size: 12pt; line-height: 30px;}
#shop_detail .des_botline{ border-bottom: 1px solid #d1d2d6; }
#shop_detail .describe p{ padding-left: 13px; color: #919191; font-size: 10pt; line-height: 28px; font-weight: bold;}

/*********************** news_list.html **************************/
#news_list{ padding-top: 50px; padding-bottom: 43px; overflow: hidden; background-color: #fff;}
#news_list .tit{ height: 40px; line-height: 40px;text-align: center; color: #707070; font-size: 12pt;  border-bottom: 1px solid #eff2f5;}
#news_list .con{ }
#news_list .con ul li{ padding: 0 10px; height: 40px; line-height: 40px;  border-bottom: 1px solid #eff2f5; }
#news_list .con ul li a{ display: block; height: 40px; line-height: 40px; color: #707070; font-size: 11pt; font-weight: bold; background: url("/static/wap/images/tpl/huarunqi/news_list_icon.png") no-repeat right center; background-size: 18px 18px;}

/*********************** news_list.html **************************/
#store_query{padding-top: 50px; padding-bottom: 43px; overflow: hidden; background-color: #fff;}
#store_query .map{ position: relative;}
#store_query .map{ width: 100%; height: 240px; overflow: hidden;}
#store_query .map img{ width: 100%; height: 100%; overflow: hidden;}
#store_query .home{ font-size: 12pt; position: absolute; z-index: 3; left: 0; bottom: 0; width: 100%; background: #606fa0 url("/static/wap/images/tpl/huarunqi/store_query_home.png") no-repeat 10px center; height: 32px; line-height: 32px; color: #fff; padding-left: 43px; background-size: 25px;}
#store_query .line{  background: url("/static/wap/images/tpl/huarunqi/store_query_line.png") repeat-x left top;}
#store_query .con{ padding: 10px;}
#store_query .con ul li{ font-size: 10pt; color: #6c7590; line-height: 21px;}

/*********************** new_product.html **************************/
#new_product{padding-top: 60px; padding-bottom: 43px; overflow: hidden; background-color: #fff;}
#new_product .tit{ height: 30px; line-height: 30px;text-align: center; background: url("/static/wap/images/tpl/huarunqi/shop_index_video_line.png") repeat-x left center;}
#new_product .tit span{ width: 132px; height: 30px; line-height: 30px; font-size: 12pt; padding-left: 9px; background: url("/static/wap/images/tpl/huarunqi/new_product_titbg.png") no-repeat; background-size: 132px 30px; color: #fff;}
#new_product ul li{ position: relative; margin-top: 15px; width: 100%; border-top: 1px solid #e3e3e3; box-shadow: 2px 2px 5px #e3e3e3; }
#new_product ul li .pic{  width: 100%; padding-top: 5px;  padding-bottom: 5px;}
#new_product ul li .pic img{  width: 100%; overflow: hidden;  }
#new_product ul li span{ position: absolute; z-index: 12; padding: 5px 10px; background: #0189ff; opacity: 0.4; left: 5px; bottom: 17px; color: #fff; border-radius: 13px;}

/*********************** index.html **************************/
#index{ padding-bottom: 43px; overflow: hidden; background-color: #fff;}
#index .swiper-index{ position: relative; width: 100%; height:879px; color: #fff; text-align: center;}
#index .swiper-index img{ height: 100%; overflow: hidden; width: 100%;}
#index .pagination-index{ position: absolute; z-index: 20; left: 50%; bottom:50px;}
#index .swiper-pagination-switch { display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #fff; margin-right: 5px; opacity: 0.8;  cursor: pointer;}
#index .swiper-visible-switch { background: #fff;}
#index .swiper-active-switch { background: #064498;}
#index .index_more { background: url("/static/wap/images/tpl/huarunqi/index_more.png") no-repeat; background-size: 36px 36px; margin-left: -18px; width: 36px; height: 36px; overflow: hidden; position: absolute; z-index: 1000; left: 50%; bottom: 70px;}
#index .open{-webkit-animation-name: open; -webkit-transform: rotate(135deg);}
#index .close{-webkit-animation-name: close; -webkit-transform: rotate(0deg);}

#mask{ display: none; width: 100%; position: fixed; z-index: 1000; left: 0; top: 0; background: #000; opacity: 0.5;}
#mask_zero{ display: none; width: 280px;  position: fixed; z-index: 2000; left: 50%; margin-left: -140px; top: 50%; margin-top: -171px;}
#mask_zero ul{ margin:auto; padding:10px; box-sizing: border-box; width:260px; }
#mask_zero ul li{ width:70px; height: 95px; overflow: hidden; float: left; margin-top:14px; margin-right:5px; margin-left: 5px;}
#mask_zero ul li .img{ height: 70px; line-height: 70px; background-color: #000; border-radius: 5px; text-align: center; display: block;}
#mask_zero ul li .img img{ width: 45px; overflow: hidden; vertical-align: middle;}
#mask_zero ul li .img_word{ display: block;  height: 25px; line-height: 25px; text-align: center; color: #fff; font-size: 10pt;}


/*********************** menu.html **************************/
#menu{ width: 100%;}
body .ui-panel{padding: 0px;}
#menu .menu_log{ box-shadow: -3px -3px 3px #000; background-color: #313541;height: 50px; line-height: 50px;}
#menu .menu_1 img{ margin-right: 10px; width: 25px; overflow: hidden; vertical-align: middle;}
#menu .menu_log img{ width: 105px; height: 28px; overflow: hidden;}
#menu ul li{ height: 38px; line-height: 38px; overflow: hidden;}
#menu ul li a{ color: #fff;display: block; width: 100%; box-sizing: border-box;}
#menu ul .menu_1{ border-bottom: 1px solid #383c4d;}
#menu ul .menu_1 a{ font-size: 11pt; padding-left: 30px; background-color: #2e3241; border-bottom: 1px solid #383c4d;}
#menu ul .menu_2{ border-bottom: 1px solid #464a5c;}
#menu ul .menu_2 a{ font-size: 10pt; padding-left: 115px; background-color: #232736; border-bottom: 1px solid #464a5c;}

/*********************** nav-list.html **************************/
#nav-list{padding-top: 50px; padding-bottom: 43px; overflow: hidden; background-color: #fff;}
#nav-list .swiper-nav-list{ width: 100%; color: #fff; text-align: center; height: 50px;}
#nav-list .pagination-nav-list{ position: absolute; z-index: 20; left: 10px; bottom: 10px;}
#nav-list .swiper-pagination-switch { display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #222; margin-right: 5px;opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#nav-list .swiper-visible-switch { background: #aaa;}
#nav-list .swiper-active-switch { background: #fff;}
#nav-list .swiper-nav-list .swiper-slide{ width: 100%;}
#nav-list .swiper-nav-list .swiper-slide a{ display:block; float: left;  width: 50%; height: 50px; line-height: 50px; text-align: center;}
#nav-list .swiper-nav-list .swiper-slide .choosed{ background-color: #606fa0; font-size: 12pt; color: #fff;}
#nav-list .swiper-nav-list .swiper-slide .no-choosed{ background-color: #d7def5; font-size: 14pt; color: #5d6682;}
#nav-list .small_classify{ box-shadow: 3px 3px 5px #ddd;}
#nav-list .small_classify ul li{ float: left; width: 25%; height: 50px; line-height: 50px;text-align: center; box-sizing: border-box; border-right: 1px solid #ededed;  border-bottom: 1px solid #ededed;}
#nav-list .small_classify ul li a{ display: block; color:#9197aa; font-size: 11pt;}
#nav-list .small_classify ul .selected{ background-color: #d7def5; color: #5d6682; font-weight: bold; font-size: 12pt;}
#nav-list .nav-list-pic ul li{ box-shadow: 3px 3px 2px #ddd; margin-top: 15px; width: 100%; height: 120px; overflow:hidden; border-top: 1px solid #ededed;}
#nav-list .nav-list-pic .img{ width: 55%; height: 120px; overflow:hidden; float: left; }
#nav-list .nav-list-pic .img img{ width: 100%; height: 120px; overflow:hidden; }
#nav-list .nav-list-pic .info{ width: 45%; height: 120px; overflow:hidden; background-color: #d7def5; color: #18285b; padding: 10px; float: left;}
#nav-list .nav-list-pic .info div{ margin-top: 10px; white-space:nowrap; overflow: hidden; font-size: 10pt; text-align: left;}
#nav-list .nav-list-pic .info .info_t{ font-size: 11pt;}
#nav-list .swiper-nav-list-pic{ width: 100%; color: #fff; text-align: center; height:100%;}
#nav-list .pagination-nav-list-pic{ position: absolute; z-index: 2000; left: 50%; bottom: 50px;}
#nav-list .swiper-pagination-switch { display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #eae9e9; margin-right: 5px;opacity: 0.8; border: 1px solid #fff; cursor: pointer;}
#nav-list .swiper-visible-switch { background: #eae9e9;}
#nav-list .swiper-active-switch { background: #7c85a2;}

/*默认list.css*/

/*列表布局*/
.ListContainer .list{margin-top:30px;width:100%;overflow:hidden;padding: 0; margin-bottom: 50px;}
.ListContainer .list li{position: relative;overflow:hidden;list-style-type: none;border:1px solid #D0D0D0;margin-bottom:5px;background-color:#fff;padding:6px;-webkit-border-radius: .1em;-moz-border-radius: .1em;border-radius: .1em;}
.ListContainer .list li a img{float:left;overflow:hidden;height:60px;width:80px;margin-right:6px;}
.ListContainer .list li a {overflow:hidden;display:block;font-size:12.5pt;}
.ListContainer .list li a span{display:block;overflow:hidden;}
.ListContainer .list li .title{font-size: 14pt;color:#333;font-weight:700;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
}

.ListContainer .list .icon-right {
    position: absolute;
    right: 12px;
    font-weight: 400;
    top:50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.ListContainer .list .small{overflow:hidden;display:block;color:#666;padding-top:2px;font-size: 10pt;}
.ListContainer .list .price{overflow:hidden;display:block;color:#EA8511;padding-top:2px;font-size: 12pt;font-weight:600;}
.ListContainer .list .del{text-decoration:line-through;margin-left:10px;}

.ListContainer .list-x span{overflow:hidden;}
.ListContainer .list-x .sub-title{font-size: 11pt;color:#666;font-weight:600;padding-left:10px;margin-bottom:10px;}
.ListContainer .list-x .small{overflow:hidden;color:#666;padding-top:2px;font-size: 10pt;}
.ListContainer .list-x .price{overflow:hidden;color:#EA8511;padding-top:2px;font-size: 12pt;font-weight:600;}
.ListContainer .list-x .del{text-decoration:line-through;margin-left:10px;}
.ListContainer .list-arrow-right li{background: url(/site/images/arrow-r.png) center right no-repeat;}

.ListContainer .list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}
