@charset "utf-8";

/************************ 重写部分*******************************/
div{ margin: 0 auto;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{border: none;  background: none; vertical-align: middle; }
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover{box-shadow: none; border: none; background: none; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{box-shadow: none; border: none; background: none; }
img{vertical-align: bottom;}

/************************ header style *************************/
.header{ width: 100%; background-color: #301c13; z-index: 1000;  height: 43px; line-height: 39px; position: fixed; top: 0; border-bottom: 3px solid #faf9a9;}
.header a{ display: block; text-align: center;}
.header img{ vertical-align: middle;}
.header .public_person{  float: left; width: 24px !important; height: 24px !important; padding:8px 5px 0 6px; }
.header .logo{ position: absolute; left: 0; top: 0; z-index: 2; width: 100%;  height: 40px;  font-weight: bold; color: #4c4948; font-size: 16pt; }
.header .logo img{ height: 26px;}
.header .logo_word{ line-height: 40px; color: #faf9a9;}
.header .public_rg{ position: relative; float: right;  z-index: 9; width: 23px;   height: 40px; margin-right: 10px; }
.header .search{margin-top: 7px;   z-index:100;background-color: #844e36; border-radius: 10px; width: 80px; left: 45px; height: 28px; line-height:28px;text-align: left;}
.header .shop_search{ float: left; margin-left:5px; width: 14px; background: url("/static/wap/images/tpl/renhao1/shop_search.png") no-repeat center; cursor: pointer;}
.header .search_keyword,.header .search_keyword:hover,.header .search_keyword:focus{ float: left;  margin-left: 5px; color: #b47457; font-size: 10pt; width: 50px; padding: 0;height: 23px !important; margin-top:3px; line-height:23px; display: block; }
.header .submit{display: none;}
.header .person{ position: relative; float: left;  z-index: 9; width: 32px; height: 32px;  margin-right: 10px;}
.header .person a{ display: block;  height: 32px; overflow: hidden;}
.header .person a img{ width: 32px;  height: 32px; overflow: hidden;}
.header .person .pop_person{ display: none; position: absolute;  width: 150px; left: 20px; top: 34px;}
.header .person .pop_person .arrow{ width: 150px; height: 7px; }
.header .person .pop_person .con{ width: 150px; background: #301C13; border-radius: 3px; }
.header .person .pop_person .con .pop_li{ width: 150px; height: 40px; line-height: 40px; padding-right: 32px;}
.header .person .pop_person .con .line{ border-bottom: 1px solid #d9d9d7;}
.header .person .pop_person .con .pop_li a{ display: block; width: 150px; height: 40px; line-height: 40px;  color: #fff;  font-size: 16pt;}
.header .person .pop_person .con div:nth-last-child(1){
    border-bottom:0;

}

/************************ footer style *************************/
.footer{ height: 43px; border-top: 1px solid #e1e1e1; position: fixed; z-index: 1000; bottom: 0; width: 100%; background-color: #fefefe;}
.footer ul li{ width: 25%; float: left; height: 40px; line-height: 40px;}
.footer ul li a{display: block; text-align: center; }
.footer ul li a img{vertical-align: middle; margin-top: -4px;}
.footer ul li a span{ margin-left: 4px;}
.footer ul .line{ background: url("/static/wap/images/tpl/renhao1/footer_line.png") no-repeat right;}
.footer .cur{ color: #a16a00;}
/************************ pop_more style *************************/
#mask{ display: none; position: fixed; z-index: 500; left: 0; bottom: 0; background: #000; opacity: 0.5; }
.pop_more{ display: none; width: 100%; position: absolute; z-index: 505; left: 0; bottom: 48px;}
.pop_more .con{ background-color: #fff; padding: 20px; position: relative;}
.pop_more .con ul li{float: left; width: 33%; text-align: center; margin-top: 10px;}
.pop_more .con ul li a{display: block; width: 100%;}
.pop_more .con ul li span{ margin-left: 5px; color: #6f6f6f; font-size: 10pt;}
.pop_more .con .arrow{ position: absolute; z-index: 510; left: 100px; bottom: -6px;  width: 10px; height: 6px; background: url("../images/more_arrow.png") no-repeat;}

/************************ copyright style *************************/
.copyright{ text-align: center;  padding-bottom:  10px; padding-top: 20px; font-size: 10pt; color:#efeab4;}

/************************ main style *************************/
.index_main{ margin-top: 43px; margin-bottom: 43px;}
.index_main .pic{ width: 100%;  overflow: hidden; text-align: center;}
.index_main .pic img{ width: 100%; overflow: hidden; vertical-align: middle;}
.index_main .list ul li{ float: left; width: 50%; box-sizing: border-box; background-color: #40291b; height: 84px;}
.index_main .list .boder_rg{ border-right: 1px solid #503f35; margin:0px;}
.index_main .list .boder_bot{border-bottom: 1px solid #503f35;margin:0px;}
.index_main .list ul li a{ text-align: center;}
.index_main .list_img{  height: 50px; line-height: 60px; }
.index_main .list_img img{ vertical-align: middle; height:45px;}
.index_main .list_name{ color: #967f53; font-size: 10pt; line-height:40px;}
.index_main .index_b img{ width: 100%; margin-bottom: 43px;}

/************************ shop style *************************/
.shop_main{ margin-top: 43px; margin-bottom: 43px;}
 .all_product{margin-top: 10px;}
.shop_main #slider{width: 100%;}
.shop_main #slider .pic{ width: 100%;  position: relative; text-align: center;}
.shop_main #slider .pic img{vertical-align: bottom;}
.shop_main #slider .left{ display: block; width:14px; height: 14px; position: absolute; z-index: 100;  background: url("/static/wap/images/tpl/renhao1/shop_left.png") no-repeat; top: 50px; left: 0;}
.shop_main #slider .right{ display: block; width:14px; height: 14px; position: absolute; z-index: 100;  background: url("/static/wap/images/tpl/renhao1/shop_right.png") no-repeat; top: 50px; right: 0;}
.shop_main .zero{background-color: #8e522e; width: 100%; height: 7px;}
.shop_main .wrapper{ background: #40281a;}
.shop_main .wrapper .tit{ margin-left: 23px; padding-top: 14px;  background: url("/static/wap/images/tpl/renhao1/yellow_line.png") repeat-x bottom;}
.shop_main .wrapper .tit .big_tit{ margin-left: -13px; border-radius: 21px; background: #faf9a9; padding: 5px 25px; color: #a16a00; font-size: 12pt;}
.shop_main .wrapper .tit .more{ margin-right: 10px; color: #faf9a9; background: url("/static/wap/images/tpl/renhao1/shop_more.png") no-repeat right center; padding-right: 20px; font-size: 12pt; }
.shop_main .wrapper .con2 ul li{ float: left; width: 50%; margin-top: 13px; overflow: hidden;}
.shop_main .wrapper .con2 ul li a{ width: 100%; display: block; text-align: center;}
.shop_main .wrapper .con2 ul li a img{ width: 100%; overflow: hidden; }
.shop_main .wrapper .con2 ul .li_wrapper{ background-color: #6b3b1f; padding: 5px;}
.shop_main .wrapper .con2 ul .li_wrapper p{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 6px; margin-top: 3px; font-size: 9pt !important; color: #e0d8a5;}
.shop_main .wrapper .con2 ul .m_l{ margin-left: 10px; margin-right: 5px;}
.shop_main .wrapper .con2 ul .m_r{ margin-left: 5px; margin-right: 10px;}
/*.shop_main .wrapper .con1 ul li a{margin-left:100px;text-align: left;}*/
.shop_main .wrapper .con1 ul li{ background: #854d2c; text-align: center; margin-top: 12px;position: relative; width: 100%; height: 128px; overflow: hidden;}
.shop_main .wrapper .con1 ul li a img{  height: 128px; overflow: hidden; text-align: inherit;}
.shop_main .wrapper .con1 ul li .opaticy{ position: absolute; z-index: 10; top: 0; width: 100px; height: 128px; background-color: #8e522e; opacity: 0.88;}
.shop_main .wrapper .con1 ul li .opaticy_con{ padding: 5px; position: absolute; z-index: 15; top: 0; width: 100px; height: 128px; overflow: hidden; }
.shop_main .wrapper .con1 ul li .opaticy_con p{ color: #efeab4; font-size: 9pt;max-height: 100px; overflow: hidden; line-height: 18px;}
.shop_main .wrapper .con1 ul li .opaticy_con .dg{ font-size: 11pt; padding-top: 9px; height: 19px; color:#faf9a9; overflow: hidden;}
/*.shop_main .wrapper .con1 ul li .opaticy_lf{ left: 0;}*/
/*.shop_main .wrapper .con1 ul li .opaticy_rg{ right: 0;}*/
.shop_main .wrapper .con1 ul li:nth-child(odd) .opaticy_rg{
    left: 0;
}
.shop_main .wrapper .con1 ul li:nth-child(odd)  a{
    margin-left:100px;text-align: left;
}

.shop_main .wrapper .con1 ul li:nth-child(even) .opaticy_lf{
    right: 0;
}
.shop_main .wrapper .con1 ul li:nth-child(even)  a{
    margin-right:100px;text-align: right;
}





.shop_main .swiper-container{width: 100%;color: #fff; text-align: center; position: relative; overflow: hidden;}
.shop_main .swiper-slide img{}
.shop_main .swiper-visible-switch { background: #aaa;}
.shop_main .swiper-active-switch { background: #fff;}
.shop_main .arrow-left {background:url("/static/wap/images/tpl/renhao1/shop_left.png") no-repeat; position: absolute; left: 0; top: 50%; margin-top: -15px; width: 30px; height: 30px; z-index: 1000;}
.shop_main .arrow-right {background:url("/static/wap/images/tpl/renhao1/shop_right.png") no-repeat; position: absolute; right: 0; top: 50%; margin-top: -15px; width: 30px; height: 30px; z-index: 1000;}

/************************ consult style *************************/
.consult_main{ margin-top: 43px; margin-bottom: 43px; padding-top: 5px; background:url("/static/wap/images/tpl/renhao1/consult_bg.png") repeat; padding-bottom: 100px;}
.consult_main ul li{ margin-top: 6px;  padding: 15px; background-color: #996a3f;}
.consult_main ul li a{ padding-right: 10px; display: block; background: url("/static/wap/images/tpl/renhao1/consult_arrow.png") no-repeat right center; color: #faf9a9; font-size: 12pt; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/************************ introduce style *************************/
.introduce_main{ margin-top: 43px; margin-bottom: 43px; }
.introduce_main .pic{ height: 185px; overflow: hidden; width: 100%; text-align: center;}
.introduce_main .pic img{ vertical-align: middle;}
.introduce_main .con{ font-size: 12pt; color: #575757; padding:10px 20px 20px; line-height: 18px;}
.introduce_main .con span{font-size: 16pt;}

/************************ person style *************************/
.person_main{ margin-top: 40px; margin-bottom: 43px; }
.person_main .person_info{ width: 100%; height: 140px; background: url("/static/wap/images/tpl/renhao2/person_bg.png") repeat; border-bottom: 2px solid #fff;}
.person_main .person_info .lf{ padding: 0 3%; margin-top: 20px; float: left; width: 30%;}
.person_main .person_info .lf img{  width: 74px; height: 74px; overflow: hidden; border: 3px solid #fff;}
.person_main .person_info .rg{ padding-left: 10px; margin-top: 15px; float: left;  color: #fff; font-size: 11pt; width: 70%; position: relative;}
.person_main .person_info .rg .distance{margin-left: 12px;}
.person_main .person_info .rg .tel{color: #fff;}
.person_main .person_info .rg .edit{ font-size: 11pt; position: absolute; z-index: 3; right: 10px; top: 0;background: url("/static/wap/images/tpl/renhao1/login_code.png") no-repeat left -1px; background-size: 15px 18px; color: #fff; padding-left: 20px; }
.person_main .person_info .tp{ margin-top: 3px;}
.person_main .con ul li{ background-color: #fff; padding:0 10px; margin-bottom: 1px; height: 34px; line-height: 34px; color: #858585; font-size: 12pt; border-bottom: 1px solid #c7c7c7;}
.person_main .con ul li a{ float: right; color: #505050; line-height: 15px; font-size: 12pt;}
.person_main .con ul li span{float: left; height: 34px; line-height: 34px; }
.person_main .con ul li .tit{ color: #505050; }


/************************ shop_details style *************************/
.shop_details_main{ margin-top: 43px; margin-bottom: 43px; position: relative; }
.shop_details_top{ position: relative; }
.shop_details_main .pic{width:100%; height: 340px; position: relative; background: #40281a; }
.shop_details_main .pic ul li{width:100%;text-align: center; height: 340px; position: absolute; z-index: 10; left: 0 ;top: 0;}
.shop_details_main .pic img{ height: 340px;display: inline-block; text-align: center;}
.shop_details_main .opacity_zero{ width: 100%; height: 56px; position: absolute; z-index: 100; left: 0; bottom:0; background-color: #301c13; opacity: 0.7;}
.shop_details_main .small_pic{ width: 100%; height: 56px; position: absolute; z-index: 102; left: 0; bottom:0;}
.shop_details_main .small_pic .small_pic_w{ width: 245px; overflow: hidden;}
.shop_details_main  .next{ cursor: pointer; position: absolute; z-index: 103; width: 17px; height:33px; background: url("/static/wap/images/tpl/renhao1/shop_details_lf.png") no-repeat; left: 8px; bottom: 11px;}
.shop_details_main  .prev{ cursor: pointer; position: absolute; z-index: 103; width: 17px; height:33px; background: url("/static/wap/images/tpl/renhao1/shop_details_rg.png") no-repeat; right: 8px; bottom: 11px;}
.shop_details_main .small_pic ul{ text-align: center; margin-right: -5px; }
.shop_details_main .small_pic ul li{ box-sizing: border-box; border-radius: 5px; cursor: pointer; float: left; width: 45px; height:45px; overflow: hidden; margin-right: 5px;  margin-top: 5px;}
.shop_details_main .org_border{ border: 2px solid #ff4800;}
.shop_details_main .small_pic ul li img{height:45px;}
.shop_details_bottom{padding: 15px; background: #40281a; box-shadow:  0 5px 10px #000 inset;}

.shop_details_bottom ul li{ float: left; width: 33%; height: 30px; line-height: 30px; color: #967f53; font-size: 10pt;}
.shop_details_bottom .describ{ margin:30px 0 20px 0; padding-bottom: 5px; border-bottom: 1px solid #faf9a9;}
.shop_details_bottom .describ span{ padding: 5px 10px; background-color:#faf9a9; border-radius: 21px; color: #967f53; font-size: 10pt;}
.shop_details_bottom p{ margin-top: 5px; color: #967f53; line-height: 18px; font-size: 10pt;  text-align:center;}

/*swiper*/
/* swipe 样式*/
#item-swiper {
    position: relative;
}

#item-swiper img {

}
#item-swiper .pagination .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

#item-swiper .pagination .swiper-active-switch {
    background: #fff;
}

#item-swiper .pagination .swiper-dynamic-links {
    text-align: center;
}

#item-swiper .pagination .swiper-dynamic-links a {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    background: #eee;
}
#focus-swiper .pagination {
    position: absolute;
    z-index: 20;
    left:0px;
    bottom: 10px;
    width:100%;
    text-align: center;
}

#focus-swiper .pagination .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #555;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

#focus-swiper .pagination .swiper-active-switch {
    background: #fff;
}

#focus-swiper .pagination .swiper-dynamic-links {
    text-align: center;
}

#focus-swiper .pagination .swiper-dynamic-links a {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    background: #eee;

}
.swiper-container {
    width:100%;
    color: #fff;
}
.home .swiper-container {
}

.swiper-slide {
    width: 100%;
}

.swiper-slide img{
    width:100%;
}
.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}
.swiper-pagination-switch {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #fff;
}

/*end  swiper/

/*all.css*/

/*********************** details_list.html **************************/
.qiehuan_w{ background-color: #fff;}

.details_list_main{margin-bottom: 60px;}
.details_list_main .tit{ width: 100%; padding: 0 2%; height: 26px; margin-top: 60px;}
.details_list_main .tit_w{ width: 100%;  border: 1px solid #bdbebf; border-radius: 5px; overflow: hidden;}
.details_list_main .tit_w .name{ width:25%; box-sizing: border-box; float:left;text-align: center; height: 24px; line-height: 24px; color: #c3c4c5;  font-size: 11pt;}
.details_list_main .tit_w .ps{border-right: 1px solid #bdbebf;}
.details_list_main .tit_w .ps div{}
.details_list_main .tit_w .current{background-color:#844e36;color: #fff; }
.details_list_main .tit_w .currentSort{ background-color:#6b3b1f; color: #fff;}

.details_list_main .con{ width: 100%;}
.details_list_main .con ul li{ padding: 24px 0; border-bottom: 1px solid #d9d9d7;  position: relative;}
.details_list_main .con ul li .pic{ float: left; margin-left: 10px; height: 120px; width: 120px; text-align: center;}
.details_list_main .con ul li .pic img{ width: 120px;  height: 120px; overflow: hidden; }
.details_list_main .con ul li .details { float:left; }
.details_list_main .con ul li .details .name{ margin-left: 10px; width: 120px; color: #858585;  font-size: 11pt;}
.details_list_main .con ul li .details .price{ position: absolute; z-index: 11; left: 140px; bottom: 24px; height: 20px; overflow: hidden; color: #858585;  font-size:11pt;}
.bot_qiehuan{width: 80px; margin-top: 15px; padding-bottom: 15px; position: fixed; bottom: 75px; right: 0px;}
.bot_qiehuan ul{ width: 80px; overflow: hidden;}
.bot_qiehuan ul li{width: 26px;  margin-left: 5px;  float: left; height: 26px; overflow: hidden; margin-bottom: 5px;}

/*end  all.css*/

/*默认user.css*/

body {
    background: #e0e0e0;
}

.red {
    color: red;
}

.container {
    padding:43px 0;
}

.user-widget {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    line-height: 160%;
    margin: 8px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.func-list li {
    border-bottom: 1px solid #E0E0E0;
    font-size: 11pt;
    height: 20px;
    padding: 5px 0;
}

.func-list li .sign {
    width: 20px;
    height: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 10pt;
}

.func-list li .cart_count {
    font-size: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    vertical-align: middle;
    margin: -10px 0 0 -2px;
    background: #EA2818;
    color: #fff;
}

.func-list li:last-child {
    border: none;
}

.func-list li a {
    display: block;
}

.w250-center, .form.w250-center {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

/*.full-form, .form.full-form, .full-form p {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.form.full-form label {
    width: 25%;
    text-align: right;
}

.form.full-form input:text,  .form.full-form textarea, .form.full-form select {
    width: 50%;
    text-align: left;
}

.full-form .btn.loginBtn, .full-form  .btn.regBtn, .full-form .btn.saveBtn, .full-form .btn.showAddrFormBtn {
    width: 100%;
    text-align: center;
}

.btn.loginBtn, .btn.regBtn, .btn.saveBtn, .btn.resetPassBtn, .btn.showAddrFormBtn, .btn.saveAddrBtn {
    height: 40px;
    line-height: 30px;
    padding: 0 50px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: block;
}
*/

.block-tip {
    border: solid 1px #ccc;
    background: #fff;
    padding: 5px;
    margin: 10px 0 0;
}

.order-tab {
}

.order-tab .order-header {
    background: #fff;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    padding: 6px 10px;
    border-bottom: 1px solid #E0E0E0;
}

.order-tab .order-nav {
    height: 50px;
    font-size: 14px;
    background: #fff;
    text-align: center;
}

.order-tab .order-nav li {
    float: left;
    width: 25%;
}

.order-tab .order-nav .active {
    margin: -2px 0 0;
    border-bottom: 2px solid #CC0000;
}

.order-tab .order-nav li a {
    text-align: center;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 15px 0;
    display: block;
    border-right: 1px solid #e0e0e0;
}

.order-list {
    width: 100%;
    color: #333;
}

.order-list td {
    vertical-align: top;
}

.order-list img {
    width: 50px;
    height: 50px;
}

.order-list .btn {
    height: 12px;
    line-height: 12px;
}

.order-list .order-head {
    font-size: 10pt;
    margin: 0 0 6px 0;
}

.order-list .order-foot {
    margin: 8px 0 0 0;
}

.order-list .order-head .base span {
    color: #000;
    font-weight: bold;
}

.order-list .item-list td {
    padding: 8px 0 0;
    border: 1px solid #eee;
}

.order-list .item-list .cover {
    width: 64px;
    text-align: center;
}

.order-list .item-list .detail {
    padding: 8px;
}

.order-list .item-list .name {
    margin: 0 0 4px;
}

.order-list .item-list .total {
    background: #f0f0f0;
    line-height: 160%;
    padding: 0 0 0 4px;
}

.user-info {
    height: 50px;
}

.user-info dt {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
}

.user-info dt img {
    width: 50px;
}

.user-info dd .name {
    font-size: 12pt;
    color: #000;
    line-height: 28px;
}
.user-info dd .point {
    font-size: 9pt;
    color: #666;
}
.user-info dd .detail {
    color: #333;
}

.small {
    font-size: 10pt;
    color: #666;
}

#container  .user-widget .vote_list{
    padding-left: 20px !important;
    font-size: 12px;
    background-color:#e4e4e4;
    border-radius: 4px;
    margin-bottom: 3px;
    border:1px solid #e2e2e2;

}


/*end user.css*/

/*默认 list.css*/
/*列表布局*/

.listContainer .list{margin-top:10px;width:100%;overflow:hidden;padding: 0;}
.listContainer .list li{position: relative;overflow:hidden;list-style-type: none;border:1px solid #D0D0D0;margin-bottom:5px;background-color:#fff;padding:6px;-webkit-border-radius: .1em;-moz-border-radius: .1em;border-radius: .1em;}
/*.list li a img{float:left;overflow:hidden;height:60px;width:80px;margin-right:6px;}*/
.listContainer .list li a {overflow:hidden;display:block;font-size:12.5pt;}
.listContainer .list li a span{display:block;overflow:hidden;}
.listContainer .list li .title{font-size: 14pt;color:#333;font-weight:700;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
}

.listContainer .list .icon-right {
    position: absolute;
    right: 12px;
    font-weight: 400;
    top:50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.listContainer .list .small{overflow:hidden;display:block;color:#666;padding-top:2px;font-size: 10pt;}
.listContainer .list .price{overflow:hidden;display:block;color:#EA8511;padding-top:2px;font-size: 12pt;font-weight:600;}
.listContainer .list .del{text-decoration:line-through;margin-left:10px;}

.listContainer .list-x span{overflow:hidden;}
.listContainer .list-x .sub-title{font-size: 11pt;color:#666;font-weight:600;padding-left:10px;margin-bottom:10px;}
.listContainer .list-x .small{overflow:hidden;color:#666;padding-top:2px;font-size: 10pt;}
.listContainer .list-x .price{overflow:hidden;color:#EA8511;padding-top:2px;font-size: 12pt;font-weight:600;}
.listContainer .list-x .del{text-decoration:line-through;margin-left:10px;}
.listContainer .list-arrow-right li{background: url(/site/images/arrow-r.png) center right no-repeat;}

.listContainer .list.list-part li{
    background: #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #FCFCFC));
    background: -ms-linear-gradient(bottom, #f0f0f0, #FCFCFC);
    background: -moz-linear-gradient(center bottom, #f0f0f0 0, #FCFCFC 100%);
    background: -o-linear-gradient(#FCFCFC, #f0f0f0);
    border: 1px solid #E0E0E0;
}


/*end list.css*/

/*默认page.css*/
.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: justify;
    word-break: break-all;
    line-height: 160%;
    word-wrap: break-word;
}

.article-info{
    color: #666;
}
/*end  page.css*/

/*默认about.css*/
.item-widget {
    margin: 3px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* 关于 */
.about-list {
    color: #666;
    padding: 12px;
}

.about-list .title {
    font-size: 13pt;
    line-height: 36px;
    color: #000;
}

.about-list .mate {
    font-size: 9pt;
}

.about-list .intro {
    font-size: 9pt;
    color: #333;
    padding: 8px 0;
}

.article-head {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
    padding: 8px 8px 0 8px;
    border: 1px solid #eee;
}

.article-head .article-title {
    line-height: 36px;
}

.article-content{
    margin: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.article-info{
    color: #666;
}

/*end about.css*/


/************************ register style *************************/
#sendCodeBtn{position: absolute; right:5px; top:160px;background:#cb3b44;text-shadow: 0 1px 0 #d5000e; color:#FFF;border:1px solid #d5000e; }
.register{ padding: 20px 0; ; text-align: center; margin-top: 20px; }
.register .pic img{width: 115px; height: 30px; overflow: hidden;}
.register form{padding:30px 0; width: 80%; margin: auto;position: relative;}
.register .field{ margin-top: 25px; border: 1px solid #fff; padding: 5px 15px; overflow: hidden; border-radius: 6px;}
#r_phone{ padding: 10px  0 10px 15px; }
#verifyCode{ padding: 10px  0 10px 15px;  }
#sendCodeBtn{position: absolute; right:5px; top:145px;}
.register .field input,.register .field input:hover,.register .field input:focus{ width: 100%; padding: 0; color:#fff; font-size: 16px; font-weight: bold;}
.register .receive{ margin-top: 80px; color: #fff; font-size: 12px; text-align: left; }
.register .receive span{vertical-align: middle; margin-right: 7px; width: 13px; height: 13px; overflow: hidden; border: 2px solid #fff; }
.register .receive .choose{ background: url("/static/wap/images/tpl/renhao2/register_accept.png") no-repeat center; background-size: 11px 11px;}
.register .receive input{display: none; }
.register .reg_sub{ margin:35px auto auto auto; width: 100%;  font-size: 17px;  cursor: pointer; display: block; height: 42px; line-height: 42px;   color: #fff; background: url("/static/wap/images/tpl/renhao2/register_submit.png") no-repeat; background-size: 100% 100%;text-align: center;}
.register_main{margin-top: 40px;/*background-color: #f3f3f3;*/padding-top: 17px; background-color: #fff;}
.register_main_w{background-color: #fff;padding-left: 10px;padding-right: 10px;/*padding-top: 1px;*/}
.register_main_w .user{width: 100%;position: relative;background: #ededed;border-radius: 5px; margin-top: 10px;}
.register_main_w .user .lf{position: relative;z-index: 9;float: left;margin-left: 10px;width: 24px;height: 39px;background: url("/static/wap/images/tpl/emoi/register_person.png") no-repeat center;}
.register_main_w .user .ct{width: 100%;position: absolute;z-index: 3;top: 0;left: 0;height: 39px;}
.register_main_w .user .ct input{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .user .ct input:hover,.register_main_w .user .ct input:focus{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .user .rg{position: relative;z-index: 9;float: right;margin-right: 10px;width: 12px;height: 39px;background: url("/static/wap/images/tpl/emoi/register_person_arrow.png") no-repeat center;}
.register_main_w .yanzheng{margin-top: 10px;width: 100%;position: relative;background: #ededed;border-radius: 5px;}
.register_main_w .yanzheng .lf{position: relative;z-index: 9;float: left;margin-left: 10px;width: 20px;height: 39px;background: url("/static/wap/images/tpl/emoi/register_yanzheng.png") no-repeat center;}
.register_main_w .yanzheng .ct{width: 100%;position: absolute;z-index: 3;top: 0;left: 0;height: 39px;}
.register_main_w .yanzheng .ct input{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .yanzheng .ct input:hover{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .yanzheng .ct input:focus{font-size:12pt;box-sizing: border-box;border: 0;box-shadow: none;width: 100%;height: 39px;padding: 0 40px;color: #c3c4c5;}
.register_main_w .yanzheng .rg{position: relative;z-index: 9;margin:1px 10px 0 0;width: 100px;height: 39px;}
.register_main_w .yanzheng #sendCodeBtn{position: absolute;z-index: 1001;right: 6px;top:6px;color: #9a9b9a;}
.register_main_w .login{margin-top: 20px;width: 100%;}
.register_main_w .login a{display: block;height: 38px;line-height: 38px;}
.register_main_w .login .btn.btn-reg{cursor: pointer;height: 40px;line-height: 40px;text-shadow: 0 1px 0 #fff;white-space: nowrap;color: #fff;font-size: 16pt;background-color: #D0000F;text-align: center;border:none;border-radius: 5px;box-shadow: none;background-image: linear-gradient(to bottom, #D0000F, #D0000F);}
.register_main_w .next_log{cursor: pointer;height: 46px !important;line-height: 46px !important;text-shadow: 0 1px 0 #fff;white-space: nowrap;color: #fff;font-size: 16pt;background-color: #b4d14e;text-align: center;border:none;border-radius: 5px;box-shadow: none;background-image: linear-gradient(to bottom, #B4D14E, #B4D14E);}

/************************ register_success style *************************/
.register_success{ background-color: #fff; padding-top: 110px; padding-bottom: 40px;}
.register_success .word{ margin-bottom: 70px; min-height: 36px; background: url("/static/wap/images/tpl/renhao2/register_success.png") no-repeat left center; padding: 10px 0 10px 60px; background-size: 34px 34px;  color: #ff5a00; font-size: 14px; width: 90%;}
.register_success .href{ width: 90%;}
.register_success .href a{ background-color: #d0000f; width: 45%; display: block; float: left; border-radius: 5px; height: 42px; line-height: 42px; color: #fff; font-size: 18px; text-align: center;}
.register_success .m_l { margin-left: 10%;}

/************************ register_success style *************************/
#login .login_num{ background: url("/static/wap/images/tpl/renhao2/login_num.png") no-repeat left center; padding: 10px 10px 10px 40px; }
#login .login_code{ background: url("/static/wap/images/tpl/renhao2/login_code.png") no-repeat left center; padding: 10px 10px 10px 40px;}
#login .field{margin-top: 25px;}
#login .href{ margin-top: 48px;}
#login .href a{background: url("/static/wap/images/tpl/renhao2/register_submit.png") no-repeat; background-size: 100% 100%; width: 45%; display: block; float: left; border-radius: 5px; height: 42px; line-height: 42px; color: #fff; font-size: 18px; text-align: center;}
#login .m_l { margin-left: 10%;}

/************************ register_success style *************************/
#modify .con ul li{ height: 40px; line-height: 40px;}
#modify .con ul li img{ width: 20px; height: 20px; overflow: hidden; vertical-align: middle; margin-right: 5px;}
#modify .con ul li a{ float: none; display: block; width: 100%; height: 40px; line-height: 40px;}

/************************ find_password style *************************/
#find_password{ padding-top: 40px;  padding-bottom: 46px; }
#find_password form{ padding-left: 10px; width: 90%; margin: auto;}
#find_password form label{width:60px; color: #6c6c6c;}
#find_password .email_label{ margin-right: 13px;}
#find_password .field{ margin-top: 10px;}
#find_password  .field input,#find_password  .field input:hover,#find_password  .field input:focus{ border-radius: 7px;  width: 150px; padding: 2px 8px; color:#949494; font-size: 12px; border: 1px solid #d1d1d1; height: 30px; line-height: 30px;}
#find_password .word{ color: #949494; font-size: 14px; margin-top: 30px; line-height: 20px;}
#find_password .login_sub{ margin-bottom: 100px; cursor: pointer; border-radius: 5px; margin-top: 60px; height: 35px; line-height: 35px; width: 227px; color: #fff; font-size: 16px; background-color: #d0000f;}

/*********************** person_info.html **************************/.person_info_main{background-color: #f3f3f3;padding-top: 17px;padding-bottom: 43px;padding-top: 50px;}
.person_info_w{padding-left: 12px;background-color: #fff;}
.person_info_w ul li{height: 44px;line-height: 44px;padding-right: 10px;}
.person_info_w ul li a{display: block;background: url("/static/wap/images/tpl/emoi/member_card_arrow.png") no-repeat right center;padding-right: 20px;}
.person_info_w ul li .tit{float:left;font-size: 13pt;color: #808080;}
.person_info_w ul li .tit_lf{margin-left: 15px;}
.person_info_w ul li .con{float:right;font-size: 13pt;color: #c3c4c5;}
.person_info_w ul .ll_sty1{border-bottom: 1px solid #dedde1;}
.person_info_w .input_padding{margin-left: 5px;}
.person_info_w .qiye .details{display: none;}
#btn-large{background:#9b6334; color:#FFF;  width:100%;  font-size: 12pt;}
