div.tab-content {
    padding-top: 10px;
}

form .tab-pane {
    min-height: 500px;
}

.modal-dialog {
    width: 800px;
}

#option_values_list_table select {
    width: 40px;
    height: 24px;
    padding: 0 2px;
}

textarea.form-control {
    height: 300px;
}

.small-input {
    width: 50px;
    height: 20px;
    line-height: 20px;
}

select.small-input {
    width: 38px;
}

ul#picturesPreview {
    display: block;
    float: right;
    width: 80%;
}

#picturesPreview img {
    width: 100px;
    height: 80px;
    float: left;
    clear: left;
}

#picturesPreview a {
    float: left;
    clear: left;
    text-align: center;
    display: inline-block;
    width: 100px;
}

.upload-picture {
    display: block;
    width: 20%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    height: auto;
    padding: 5px;
    float: left;
}

.upload-picture .browse_button {
    width: 50px;
    border: 1px dashed #ddd;
}

.upload-picture .upload-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #f8f8f8;
}

.upload-picture .file_list {
    height: auto;
}

.upload-picture .file_list div {
    float: right;
    width: 200px;
    display: inline-block;
    margin: 5px;
    border-bottom: 1px dashed #ddd;
}

.gradeX td{ text-align: center;}
.brand-icon{ margin-right: 5px;}