<div class="page-header">
    <h1>画报管理
        <small class="right">
            <a href="/panel/addon/pictorial/pictorial/add" class="btn btn-sm btn-primary">新增画报</a>
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<table id="article-list" class='list'>
    <thead>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th>画报主题</th>
        <th>画报缩略图</th>
        <th>关键字</th>
        <th>期刊号</th>

        <th style='width:100px'>操作</th>
    </tr>
    </thead>
    <tbody class="listData">
    <?php if ($pictorial) {
        foreach ($pictorial as $item) {
            $url = $this->uri->appUrl('/addon/pictorial/pictorial/' . \Util\EasyEncrypt::encode($item['id']));
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <th class='name'>  <a href="javascript:;" class="preview-app" title="点击预览"
                                      data-url="<?php echo $url; ?>"><?php echo $item['name']; ?></a></th>
                <th class='name' ><img src="<?php echo $item['thumb'];?>" style="width: 50px; height: 50px;"/></th>

                <th class='name'><?php echo $item['keywords']; ?></th>
                <th class='name'><?php echo $item['periodical']; ?></th>

                <td class="center">

                    <a href="/panel/addon/pictorial/pictorial/pictorialEdit/<?php echo $item['id']?>" class='' data-id="<?php echo $item['id']; ?>">编辑</a>
                    <a href="/panel/addon/pictorial/pictorial/optionList?id=<?php echo $item['id']?>" class='' data-id="<?php echo $item['id']; ?>">图片编辑</a>
                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']?>">删除</a>
                </td>
            </tr>
        <?php
        }
    } else {
        ?>
        <tr>
            <td colspan="10">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="10">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="10">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>

</table>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/pictorial'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
<script>
    seajs.use('app/module/module.pictorial', function (n) {
        n.del('.delBtn');
        n.delAllPictorial(".delAllSelected");
    });
</script>
<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });
    })
</script>




