<div class="page-header">
    <h1>画报管理
        <small class="right">
            <a  data-toggle="modal"
                data-target="#questionInfoModal" class="btn item-edit btn-sm btn-primary">新增图片</a>
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<table id="article-list" class='list'>
    <thead>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th>图片名称</th>
        <th>图片缩略图</th>
        <th style='width:100px'>操作</th>
    </tr>
    </thead>
    <tbody class="listData">
    <?php if(isset($option) && !empty($option)) {
        foreach ($option as $item) {
            $url = $this->uri->appUrl('/addon/pictorial/pictorial/' . \Util\EasyEncrypt::encode($item['id']));
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <th class='name'>  <a href="javascript:;" class="preview-app" title="点击预览"
                                      data-url="<?php echo $url; ?>"><?php echo $item['option_name']; ?></a></th>
                <th class='name' ><img src="<?php echo $item['option_images'];?>" style="width: 50px; height: 50px;"/></th>

                <td class="center">

                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']?>">删除</a>
                </td>
            </tr>
        <?php
        }
    } else {
        ?>
        <tr>
            <td colspan="10">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="5">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="5">
            <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>


</table>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('/addon/pictorial/pictorial/'.\Util\EasyEncrypt::encode($pictorial['id'])); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>
<div class="modal fade" id="questionInfoModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">增加图片</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator" class="form-horizontal">
                    <input type="hidden" id="pictorial_id" value="<?php echo $pictorial['id'] ?>"/>
                    <div class="form-group">
                        <label for="creator" class="col-sm-2 control-label">图片名称</label>
					<span class="col-sm-5">
						<input name="option_name" id="option_name"   class="form-control" required data-error="图片名称" placeholder="图片名称"/>
						<span class="help-block with-errors"></span>
					</span>
                    </div>
                    <div class="form-group">
                        <label for="logo" class="col-sm-2 control-label">图片地址</label>
					<span class="col-sm-10">

                        <span class="col-xs-8">

                            <span class="input-group" style="margin:0 0 0  -12px;">

                                <span class="input-group-addon"><i class="icon icon-picture"></i></span>

                                <input type="text" class="form-control img"   id="infoPic" name="thumb" placeholder="" readonly

                                       value=""

                                       data-error="" maxlength="255">

                                <a class="input-group-addon" id="upInfoPic"  href="javascript:;">选择图片</a>
	                             </span>

                        </span>
	                         <span class="col-xs-3 pic-review">

                            <img class="preview-brand" id="infoPic-preview" src="/static/wap/images/module/reserve/head_pic.jpg" alt="" style="height: 32px;"/>

                        </span>

					</span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-8" style="text-align: center;">
                          图片建议尺寸:450px * 450px
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="save">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    seajs.use('app/module/module.pictorial', function (n) {
        n.addOption('#save');
        n.delOption('.delBtn');
        n.delAllOption('.delAllSelected');

    });
</script>
<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });


    })

    jQuery(function($) {
        $(document).ready(function() {

            //上传缩略图
            seajs.use(['app/panel/panel.storage', 'app/app.editor'], function(store, editor) {
                store.getImg('#upNewsImage', function (res) {
                    $('#titlePic').val(res.url);
                    $('#titlePic-preview').attr('src', res.url);
                });

                store.getImg('#upInfoPic', function (res) {
                    $('#infoPic').val(res.url);
                    $('#infoPic-preview').attr('src', res.url);
                });
            });

        });
    })
</script>




