<div class="page-header">
    <h1>
        <?php echo $pageTitle ?>
        <small>
            <i class="icon-double-angle-right"></i>
            微画报信息编辑
        </small>
    </h1>
</div><!-- /.page-header -->
<?php if($pictorial){ ?>
<div class="row">
    <div class="col-xs-12" style="margin-top: 20px;">
        <!-- PAGE CONTENT BEGINS -->

        <form enctype="multipart/form-data" name="add_reserve" id="add_reserve" role="form" data-toggle="validator" class="form-horizontal" method="post" action="/panel/addon/pictorial/pictorial/pictorialEdit">
            <input type="hidden" name="pictorial_id" value="<?php echo $pictorial['id']?>">
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">画报标题名称</label>
					<span class="col-sm-5">
						<input name="name" id="name" value="<?php echo $pictorial['name'] ?>" class="form-control" required data-error="画报标题名称必须填写" placeholder="画报标题名称"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="logo" class="col-sm-2 control-label">画报封面图</label>
                <span class="col-sm-10">
                    <span class="col-xs-5">
                        <span class="input-group" style="margin:0 0 0  -12px;">
                            <span class="input-group-addon"><i class="icon icon-picture"></i></span>
                            <input type="text" class="form-control img"  value="<?php echo $pictorial['thumb'] ?>" id="infoPic" name="thumb" placeholder="" readonly
                                   value=""
                                   data-error="" maxlength="255">
                            <a class="input-group-addon" id="upInfoPic"  href="javascript:;">选择图片</a>
                        </span>
                    </span>
                     <span class="col-xs-3 pic-review">
                        <img class="preview-brand" id="infoPic-preview" src="<?php echo $pictorial['thumb'] ?>" alt="" style="height: 32px;"/>
                    </span>
                </span>
                <span class="help-block col-sm-offset-2">建议尺寸规格：宽 <= 高， 宽高比为3:4或者9:16为佳。</span>
            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">画报简介</label>
					<span class="col-sm-5">
						<textarea name="desc" id="info" class="form-control" required data-error="画报简介必须填写"
                                  placeholder="画报简介"/> <?php echo $pictorial['desc'] ?></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">关键字</label>
					<span class="col-sm-5">
						<input name="keywords" id="keywords"  value="<?php echo $pictorial['keywords'] ?>" class="form-control" required data-error="关键字必须填写" placeholder="关键字(画报,精品画报)"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">期刊号</label>
					<span class="col-sm-5">
						<input name="periodical" id="periodical"   value="<?php echo $pictorial['periodical'] ?>" class="form-control" required data-error="期刊号必须填写" placeholder="期刊号(2014-1期)"/>
						<span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">是否有登录限制</label>
					<span class="col-sm-5">
						<input type="radio" name="allow_login" id="allow_login"   value="1" <?php if($pictorial['allow_login']==1) echo " checked";?>  required />
						是
                        <input type="radio" name="allow_login" id="allow_login"   value="0" <?php if($pictorial['allow_login']==0) echo " checked";?>  required />
						否
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="form-group pagec" style="display:<?php if($pictorial['allow_login']==1){echo "block";}else{echo "none";} ?> ">
                <label for="creator" class="col-sm-2 control-label">未登录允许查看的图片数</label>
					<span class="col-sm-5">
						<input name="page" id="page"   value="<?php echo $pictorial['page'] ?>" class="form-control" />
                        <span class="help-block with-errors"></span>
					</span>
            </div>

            <div class="form-group">
                <label for="creator" class="col-sm-2 control-label">版权信息</label>
					<span class="col-sm-5">
						<textarea name="copyright" id="info" class="form-control" required data-error="版权信息必须填写"
                                  placeholder="原著：根据路遥同名中篇小说 编文：纪元琪 绘画：孙为民 聂鸥 原载：连环画报 "/> <?php echo $pictorial['copyright'] ?></textarea>
                        <span class="help-block with-errors"></span>
					</span>
            </div>
            <div class="col-sm-12">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-3">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重设
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
    <script type="text/javascript">
        function fillData(classname,val)
        {
            $('.'+classname).html(val);
        }
        function choosePic(id)
        {
            $('#'+id).trigger('click');
        }
        function saveReserve()
        {
            $("#add_reserve").submit();
        }

        function isNum(obj)
        {
            var s = $(obj).val();
            var patrn=/^([0-9]|[-])+$/g ;
            if (!patrn.exec(s))
            {
                alert('请输入正确的数值!');
                $(obj).val('');
            }
        }


        jQuery(function($) {
            $(document).ready(function() {

                //上传缩略图
                seajs.use(['app/panel/panel.storage', 'app/app.editor'], function(store, editor) {
                    store.getImg('#upNewsImage', function (res) {
                        $('#titlePic').val(res.url);
                        $('#titlePic-preview').attr('src', res.url);
                    });

                    store.getImg('#upInfoPic', function (res) {
                        $('#infoPic').val(res.url);
                        $('#infoPic-preview').attr('src', res.url);
                    });
                });
                $("input[name='allow_login']").change(function(){

                    if($(this).val()==1)
                    {
                        $(".pagec").css('display','block');
                    }
                    else
                    {
                        $(".pagec").css('display','none');
                    }

                })

            });
        })
    </script>


<?php }?>
