#header-shop{background: linear-gradient(to bottom,#212121,#161616);height: 45px;}
#header-shop span{display: inline-block;color: white;border-right: 1px solid black;position: relative;z-index: 9;}
#header-shop span a:before,
#header-shop span a{color: white;}
#header-shop span a{display: block; position: relative; height: 45px; line-height: 45px; width: 60px; text-align: center;}
#header-shop span a:before{font-size: 26px;}
#header-shop span.center{width: 100%;height: 45px;position: absolute;top:0;left: 0;text-align: center;z-index: 1;}
#header-shop span.center a{width: auto;}
#header{background:-webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));height: 35px;}
#header > span{background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.1)),color-stop(50%,rgba(255,255,255,0.8)), to(rgba(255,255,255,0.1)));-webkit-background-size: 1px 80%;background-size: 1px 80%;background-position: right center;background-repeat: no-repeat;display: inline-block;width: 24%;text-align: center;}
#header > span a{color: white; height: 35px; text-align: center; line-height: 35px;}
#header > span a:before{font-size: 24px;}
.foot{margin: 0 0 36px; color: #999; line-height: 160%; text-align: center; padding: 8px 0;}
.foot .copyInfo{line-height: 36px;}
.foot .go-register{color: #ff6e00;}
.footer{font-size: 10pt; text-align: center; color: #666; line-height: 160%; width: 100%; position: fixed; left: 0; bottom: 0; z-index: 99;}
.footer-nav{border-top: 1px solid #E0E0E0;}
.footer-nav li{float: left; height: 36px; overflow: hidden; text-align: center; line-height: 36px; background: url("/static/wap/images/tpl/nav.png") repeat-x 0 -16px;}
.footer-nav.shop-nav li{width: 25%;}
.footer-nav li a{display: block; height: 36px; border-right: 1px solid #ccc;}
.footer-nav li:last-child a{border: none;}
.footer-nav li a img.img_icon{width: 14px; height: 14px; vertical-align: middle;}
.footer-nav.shop-nav .searchNav{font-size: 9pt; line-height: 1;}
.footer-nav.shop-nav .searchNav .goUpBtn{border: 1px solid #666; height: 14px; line-height: 14px; padding: 2px 8px; font-size: 9pt; margin: -2px 0 2px 0; border-radius: 5px; display: inline-block;}
.footer-nav.shop-nav .cart_count{font-size: 10px; width: 12px; height: 12px; line-height: 12px; display: inline-block; text-align: center; border-radius: 6px; vertical-align: middle; margin: -10px 0 0 -2px; background: #EA2818; color: #fff;}
.footer .footer-nav .parent .ui-dropmenu{min-width: 100px !important;}
.footer .footer-nav .ui-mark-temp .ui-dropmenu-items li{line-height: 20px; height: 20px; float: none !important; width: 100%;}
.footer .footer-nav .ui-dropmenu-items li{float: none !important;}
.footer .footer-nav .ui-dropmenu-items li a{display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333; white-space: nowrap; text-decoration: none;}