<div id="container" class="container">
    <p class="show-path">
        <i class="icon icon-home"></i>
        <a href="<?php echo $this->uri->appUrl(''); ?>">首页</a>
        <i class="icon icon-double-angle-right"></i>
        <a href="<?php echo $this->uri->appUrl('list'); ?>">新闻中心</a>
        <i class="icon icon-double-angle-right"></i>
        <?php echo $nav['name']; ?>
    </p>

    <div id="news">
        <ul class="list">
            <?php
            if ($list) {
                foreach ($list as $item) {

                    ?>
                    <li>
                        <a href="<?php echo $this->uri->baseUrl('/article/detail/' . \Util\EasyEncrypt::encode($item['id'])) ?>">
                            <?php
                            if ($item['cover']) {

                                ?>
                                <dl>
                                    <dt>
                                        <img src="/static/wap/images/default/loading.gif" class="ui-imglazyload"
                                             data-original="<?php echo \Util\ImgSize::getSize($item['cover'], 80) ?>"
                                             alt=""/>
                                    </dt>
                                    <dd>
                                        <h4 class="title"><?php echo $item['title'] ?></h4>

                                        <p class="small">
                                            <icon class="icon-time"></icon>
                                            发布:
                                            <?php echo date('Y-m-d', $item['created']); ?>
                                            <icon class="icon-bar-chart"></icon>
                                            浏览：
                                            <?php echo $item['views']; ?>
                                        </p>
                                    </dd>
                                </dl>
                            <?php } else { ?>
                                <span class="right small">
                                   <?php echo date('Y-m-d', $item['created']); ?>
                                </span>
                                <i class="icon icon-angle-right"></i> <?php echo $item['title']; ?>
                            <?php } ?>
                        </a>
                    </li>
                <?php
                }
            } else {
                ?>
                <li>
                    <p>暂无新闻内容</p>
                </li>
            <?php } ?>
        </ul>
    </div>
    <div>
        <?php \Util\Pagination::instance($this->view)->display($this->view, false); ?>
    </div>
</div>