<?php
use Components\TplManager;

TplManager::$_config['hideFooter'] = true;
TplManager::$_config['hideHeader'] = true;
?>
<div id="container" class="container page" style="background: #fff;">
    <p class="head">
        <a href="javascript:history.go(-1);" class="backBtn"><i class="icon icon-angle-left"></i></a>
        <span class="center">错误页面</span>
    </p>

    <div class="empty">
        <div class="nop">

            <p>哎呀,出错了~</p>

            <p>
                <?php echo $msg; ?> <a href="javascript:history.go(-1);">返回 <i
                        class="icon icon-angle-right"></i></a>
            </p>
        </div>
    </div>
</div>