<div class="container">
    <div class="row">
        <div id="grid">

        </div>
    </div>
    <script type="text/javascript">
        BUI.use(['bui/grid', 'bui/data'], function (Grid, Data) {
            var Grid = Grid,
                Store = Data.Store,
                enumObj = {"1": "启用", "0": "禁用"},
                columns = [
                    {title: '名称', dataIndex: 'name', editor: {xtype: 'text'}}, //editor中的定义等用于 BUI.Form.Field.Text的定义
                    {title: '排序', dataIndex: 'sort', editor: {xtype: 'number', rules: {required: true}}},
                    {title: '状态', dataIndex: 'status', editor: {xtype: 'select', items: enumObj}, renderer: Grid.Format.enumRenderer(enumObj)},
                    {title: '操作', dataIndex: 'edit', renderer: function () {
                        return '<span class="grid-command btn-edit">编辑</span>'
                    }}
                ];

            var editing = new Grid.Plugins.RowEditing({
                    triggerCls: 'btn-edit',
                    triggerSelected: false
                }),
                store = new Store({
                    url: '/admin/help/getCat',
                    autoLoad: true //自动加载数据
                }),
                grid = new Grid.Grid({
                    render: '#grid',
                    columns: columns,
                    width: 700,
                    forceFit: true,
                    loadMask: true, //加载数据时显示屏蔽层
                    tbar: { //添加、删除
                        items: [
                            {
                                btnCls: 'button button-small',
                                text: '<i class="icon-plus"></i>添加',
                                listeners: {
                                    'click': addFunction
                                }
                            },
                            {
                                btnCls: 'button button-small',
                                text: '<i class="icon-remove"></i>删除',
                                listeners: {
                                    'click': delFunction
                                }
                            }
                        ]
                    },
                    plugins: [editing, Grid.Plugins.CheckSelection, Grid.Plugins.RowNumber, Grid.Plugins.AutoFit],
                    store: store
                });

            grid.render();

            editing.on('editorshow', function (ev) {
                var editor = editing.get('curEditor');
                editor.set('errorAlign', {
                    points: ['br', 'tr'],
                    offset: [0, 10]
                });
            });

            editing.on('accept', function (e) {
                var record = editing.get('record');
                $.ajax({
                    type: "post",
                    url: '/admin/help/saveCat',
                    dataType: 'json',
                    data: {data: record},
                    success: function (data) {
                        if (data.result == 1) { //编辑、新建成功
                        } else { //编辑失败失败
                            var msg = data.msg;
                            BUI.Message.Alert('错误原因:' + msg);
                        }
                    }
                });
            });

            //添加记录
            function addFunction() {
                var newData = {pid: 0, sort: 0, status: 0, name: '' };
                store.addAt(newData, 0);
                editing.edit(newData, 'name'); //添加记录后，直接编辑
            }

            //删除选中的记录
            function delFunction() {
                var selections = grid.getSelection();
                var ids = [];
                BUI.each(selections, function (item) {
                    ids.push(item.id);
                });

                if (ids.length) {
                    BUI.Message.Confirm('确认要删除选中的记录么？', function () {
//                        store.save('remove', {ids: ids});
                        store.remove(selections);
                        $.ajax({
                            type: "post",
                            url: '/admin/help/delCat',
                            dataType: 'json',
                            data: {data: ids},
                            success: function (data) {
                                if (data.result == 1) { //编辑、新建成功
                                } else { //编辑失败失败
                                    var msg = data.msg;
                                    BUI.Message.Alert('错误原因:' + msg);
                                }
                            }
                        });
                    }, 'question');
                }
            }


        })
        ;
    </script>

</div>