<div class="container">
    <div class="row">
        <form id="searchForm" class="form-horizontal span24">
            <div class="row">
                <div class="control-group span6">
                    <label class="control-label">关键字：</label>

                    <div class="controls">
                        <input type="text" class="control-text input-small" name="keywords">
                    </div>
                </div>
                <div class="control-group span9">
                    <label class="control-label">帮助类别：</label>

                    <div class="controls span2">
                        <select id="" name="cid">
                            <option value="">请选择</option>
                            <?php foreach ($cats as $cat) {
                                ?>
                                <option value="<?php echo $cat['id']; ?>"><?php echo $cat['name']; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="control-group span9">
                    <label class="control-label">添加时间：</label>

                    <div class="controls">
                        <input type="text" class="calendar" name="created_min"><span> - </span><input name="created_max"
                                                                                                      type="text"
                                                                                                      class="calendar">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span3">
                    <button type="button" id="btnSearch" class="button button-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="search-grid-container">
        <div id="grid"></div>
    </div>

</div>

<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript">
    BUI.use('common/search', function (Search) {
        var editing = new BUI.Grid.Plugins.DialogEditing({
                contentId: 'content', //设置隐藏的Dialog内容
                autoSave: true, //添加数据或者修改数据时，自动保存
                triggerCls: 'btn-edit',
                editor: {
                    title: '客户信息',
                    listeners: {
                        show: function () {
                            var form = this.get('form');
                            var timeStartField = form.getField('time_start');
                            var timeEndField = form.getField('time_end');
                            timeStartField.set(function (data) {
                                console.log(data);
                            });
                        },
                        itemrendered: function () {
                            var form = this.get('form');
                            var timeStartField = form.getField('time_start');
                            var timeEndField = form.getField('time_end');
                            console.log(timeStartField);
                            timeStartField.set();
                        }
                    }
                }
            }),
            columns = [
                {title: '帮助主题', dataIndex: 'title', width: 300, renderer: function (v, obj) {
                    return Search.createLink({
                        id: obj.id,
                        title: '修改帮助信息',
                        text: v,
                        href: '/admin/help/update/' + obj.id
                    });
                }},
                {title: '帮助类别', dataIndex: 'category_name', width: 100},
                {title: '作者', dataIndex: 'author_name', width: 100},
                {title: '创建时间', dataIndex: 'created', width: 130, renderer: function (value, obj) {
                    return value;
//                     var seconds = parseFloat(value) * 1000;
//                     return BUI.Grid.Format.dateRenderer(seconds);
                }},
                {title: '点击量', dataIndex: 'views', width: 60},
                {title: '操作', dataIndex: '', width: 100, renderer: function (value, obj) {
                    delStr = '<span class="grid-command btn-del" title="删除企业信息">删除</span>';//页面操作不需要使用Search.createLink
                    return delStr;
                }}
            ],

            store = Search.createStore('/admin/help/getList', {
                proxy: {
                    save: { //也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
                        addUrl: '/admin/help/add',
                        updateUrl: '/admin/help/up',
                        removeUrl: '/admin/help/del'
                    },
                    method: 'POST'
                },
                pageSize:10,
                autoSync: true //保存数据后，自动更新
            }),

            gridCfg = Search.createGridCfg(columns, {
                tbar: {
                    items: [
                        {text: '<i class="icon-remove"></i>批量删除', btnCls: 'button button-small', handler: delFunction}
                    ]
                },
                plugins: [editing, BUI.Grid.Plugins.CheckSelection, BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
            });

        var search = new Search({
                store: store,
                gridCfg: gridCfg
            }),
            grid = search.get('grid');

        function addFunction() {
            var newData = {isNew: true}; //标志是新增加的记录
            editing.add(newData, 'name'); //添加记录后，直接编辑
        }

        //删除操作
        function delFunction() {
            var selections = grid.getSelection();
            delItems(selections);
        }

        function delItems(items) {
            var ids = [];
            BUI.each(items, function (item) {
                ids.push(item.id);
            });

            if (ids.length) {
                BUI.Message.Confirm('确认要删除选中的记录么？', function () {
                    store.save('remove', {ids: ids});
                }, 'question');
            }
        }

        //监听事件，删除一条记录
        grid.on('cellclick', function (ev) {
            var sender = $(ev.domTarget); //点击的Dom
            if (sender.hasClass('btn-del')) {
                var record = ev.record;
                delItems([record]);
            }
        });
    });

    BUI.use('bui/calendar', function (Calendar) {
        var datepicker = new Calendar.DatePicker({
            trigger: '.calendar',
            delegateTrigger: true, //如果设置此参数，那么新增加的.calendar元素也会支持日历选择
            autoRender: true,
            dateMask: 'yyyy-mm-dd'
        });
    });
</script>
