<div class="container">
    <div class="error">{{content()}}</div>
    <form id="J_Form" action="" class="form-horizontal" method="post">

        <div class="control-group">
            <label class="control-label"><s>*</s>帮助标题：</label>

            <div class="controls">
                <input name="title" type="text" value="<?php echo $article['title']; ?>" class="input-large"
                       data-rules="{required : true}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"><s>*</s>帮助类别：</label>

            <div class="controls bui-form-group-select">
                <select class="input-small" name="cid" data-rules="{required : true}">
                    <option value="">请选择</option>
                    <?php foreach ($cats as $cat) {
                        ?>
                        <option
                            value="<?php echo $cat['id']; ?>" <?php echo $article['cid'] == $cat['id'] ? 'selected="selected"' : ''; ?> >
                            <?php echo $cat['name']; ?>
                        </option>
                    <?php
                    }
                    ?>
                </select>
                [ <a href="/admin/help/cat">管理 >></a> ]
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><s>*</s>是否发布：</label>

            <div class="controls bui-form-radio">
                <input type="radio" name="published"
                       value="1" <?php echo $article['published'] == 1 ? 'checked' : ''; ?>/>是
                <input type="radio" name="published"
                       value="0"<?php echo $article['published'] == 0 ? 'checked' : ''; ?>/>否
            </div>
        </div>

        <div class="control-group" style="width: 100%;height: 400px;">
            <label class="control-label"><s>*</s>内容：</label>

            <div class="controls">
                <textarea name="content" id="content"
                          style="width: 100%;height: 400px;"><?php echo htmlentities($article['content']); ?></textarea>
            </div>
        </div>

        <div class="row actions-bar">
            <div class="form-actions span13 offset3">
                <button type="submit" class="button button-primary">保存</button>
                <button type="reset" class="button">重置</button>
            </div>
        </div>
    </form>

    <!-- script start-->
    <script type="text/javascript">
        BUI.use('bui/form', function (Form) {
            new Form.Form({
                srcNode: '#J_Form'
            }).render();
        });
        BUI.use('editor/xheditor-1.2.1', function () {
            $('#content').ready(function () {
                $("#content").xheditor({
                    tools: "full",
                    remoteImgSaveUrl: '/admin/upload/saveimg?from=xheditor',
                    upLinkUrl: '/admin/upload/file?from=xheditor',
                    upLinkExt: "zip,rar,txt,doc,xls,ppt,docx,pptx,xlsx",
                    upImgUrl: '/admin/upload/img?from=xheditor',
                    upImgExt: "jpg,jpeg,gif,png",
                    upMediaUrl: '/admin/upload/media?from=xheditor',
                    upMediaExt: "mp4,3gp,ogg,webm"
                });
            });
        })
    </script>
    <!-- script end -->
</div>