<?php
$controller = $this->view->getControllerName();
$action = $this->view->getActionName();
$menus = array(
    array('title' => '文章列表', 'm' => 'panel', 'c' => 'article', 'a' => 'list'),
    array('title' => '文章栏目', 'm' => 'panel', 'c' => 'article', 'a' => 'cat'),
    array('title' => '添加文章', 'm' => 'panel', 'c' => 'article', 'a' => 'add'),
    array('title' => '修改文章', 'm' => 'panel', 'c' => 'article', 'a' => 'update', 'hide' => 1),
);

$act = array(
    'list' => '文章列表',
    'cat' => '文章栏目',
    'add' => '添加文章',
    'update' => '修改文章'
);
?>

<div class="page-header">
    <h1>
        文章管理
        <small>
            <i class="icon-double-angle-right"></i>
            <?php echo $act[$action] ?>
        </small>

        <small class="right">
            <a href="javascript:;" class="btn btn-sm btn-danger preview-app normal">预览微站</a>
        </small>
    </h1>
</div>
<script>
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copy').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

        seajs.use('app/app.copyboard', function (copy) {
            copy.copyBoard('.copyBtn');
        });
    });
</script>