<?php $this->partial('article/base'); ?>

<style>
    .icon {
        color: #629b58;
    }

    .color-block {
        width: 38px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<div style="margin: 20px 0;display: none;" class="alert alert-danger action-tip"></div>
<table class="list">
    <tr class="head">
        <th style="width:36px">ID</th>
        <th style="width:32px">批量</th>
        <th style="width: 200px;">名称</th>
        <th style="width:50px">图标</th>
        <th style="width:50px">色彩</th>
        <th style="width:80px">封面</th>
        <th style="">描述</th>
        <th style="width:50px">排序</th>
        <th style="width:50px">编辑</th>
        <th style="width:50px">删除</th>
    </tr>
    <?php
    if ($list) {
        ?>
        <tbody class="listData">

        <?php
        foreach ($list as $item) {
            if ($item['parent_id'] == 0) {
                ?>
                <tr class="item" data-id="<?php echo $item['id']; ?>">
                    <th class="name">
                        <?php echo $item['id']; ?>
                    </th>
                    <td class="center">
                        <input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>">
                    </td>
                    <td><a href="<?php echo "/panel/article/list/cid/".$item['id']?>"><?php echo $item['name']; ?></a></td>
                    <td class="center"><i class="icon <?php echo $item['icon']; ?>"></i></td>
                    <td><i class="color-block <?php echo $item['color']; ?>"></i></td>
                    <td class="center">
                        <?php if ($item['cover']) { ?>
                            <img src="<?php echo $item['cover']; ?>" alt="" style="height: 36px;"/>
                        <?php } ?>
                    </td>
                    <td><?php echo $item['detail']; ?></td>
                    <td class="center"><?php echo $item['sort']; ?></td>
                    <td class="center">
                        <a class="upBtn" data-id="<?php echo $item['id']; ?>" href=" javascript:;">编辑</a>
                    </td>
                    <td class="center">
                        <a class="delBtn" data-id="<?php echo $item['id']; ?>" href="javascript:;">删除</a>
                    </td>
                </tr>
                <?php
                foreach ($list as $sub) {
                    if ($item['id'] == $sub['parent_id']) {
                        ?>
                        <tr class="item" data-id="<?php echo $sub['id']; ?>">
                            <th class="name">
                                <?php echo $sub['id']; ?>
                            </th>
                            <td class="center">
                                <input type="checkbox" class="chk" data-id="<?php echo $sub['id']; ?>">
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo "/panel/article/list/cid/".$sub['id']?>">|―― <?php echo $sub['name']; ?></a></td>
                            <td class="center"><i class="icon <?php echo $sub['icon']; ?>"></i></td>
                            <td><i class="color-block <?php echo $sub['color']; ?>"></i></td>
                            <td class="center">
                                <?php if ($sub['cover']) { ?>
                                    <img src="<?php echo $sub['cover']; ?>" alt="" style="height: 36px;"/>
                                <?php } ?>
                            </td>
                            <td><?php echo $sub['detail']; ?></td>
                            <td class="center"><?php echo $sub['sort']; ?></td>
                            <td class="center">
                                <a class="upBtn" data-id="<?php echo $sub['id']; ?>" href=" javascript:;">编辑</a>
                            </td>
                            <td class="center">
                                <a class="delBtn" data-id="<?php echo $sub['id']; ?>" href="javascript:;">删除</a>
                            </td>
                        </tr>
                    <?php
                    }
                }
            }
        } ?>
        </tbody>
    <?php } else { ?>
        <tr>
            <td colspan="12">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="12">
            <span class="right">
                [ <a href="javascript:;" class="selectAll">全选</a> ]
                [ <a href="javascript:;" class="selectNone">全不选</a> ]
                [ <a href="javascript:;" class="selectInvert">反选</a> ]
                <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
            </span>
            <a href="#catModal" data-toggle="modal" class="miBtn addBtn">添加栏目</a>
        </td>
    </tr>
</table>
<?php $this->partial('article/cat/modal'); ?>

<script>
    seajs.use('app/panel/panel.article', function (api) {
        api.setCat();
        api.delCat('.delBtn');
        api.delAllCats('.delAllSelected');
    });
</script>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('article'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>