<?php
use Util\EasyEncrypt;

$this->partial('article/base');

$curCid = $this->uri->getParam('cid');
$cat_name = array_column($cats, 'name', 'id');
$cat_name[0] = '未指定';
?>

<script>
    seajs.use('app/panel/panel.article', function (n) {
        n.selectCheckbox();
        n.pubPost('.pubBtn');
        n.delPost('.delBtn');
        n.mvPost('.mvPostBtn');
        n.delAllPost(".delAllSelected");
    });
</script>
<form action="" method="get" style="border: 1px solid #DEEFFB;padding: 8px;margin: 0 0 8px;">
    <label for="name">关键字</label>
    <input name="key" type="text" id="key" value="<?php echo $this->request->get('key'); ?>">
    <input type="submit" class="btn btn-primary btn-sm" value="搜索">
</form>
<table id="article-list" class=' list'>
    <tr class="showpage">
        <th class="name">
            栏目
        </th>
        <td colspan="9">
        <a href="<?php echo $this->uri->actionUrl(''); ?>"
               style="<?php echo $curCid == '' ? 'color:red' : ''; ?>">全部分类</a>
            |
            <?php
            foreach ($cats as $cat) {
                if ($cat['parent_id'] == 0) {
                    if ($curCid == $cat['id']) {
                        echo '【 <span style="color: #f00;">' . $cat['name'] . '</span> 】 | ';
                    } else {
                        echo '【 <a href="' . $this->uri->actionUrl('cid/' . $cat['id']) . '">' . $cat['name'] . '</a> 】 | ';
                    }
                    foreach ($cats as $cat2) {
                        if ($cat2['parent_id'] == $cat['id']) {
                            if ($curCid == $cat2['id']) {
                                echo '<span style="color: #f00;">' . $cat2['name'] . '</span> | ';
                            } else {
                                echo ' <a href="' . $this->uri->actionUrl('cid/' . $cat2['id']) . '" class"">' . $cat2['name'] . '</a> | ';
                            }
                        }
                    }
                }
            }
            ?>
            <a href="<?php echo $this->uri->actionUrl('cid/0'); ?>"
               style="<?php echo is_numeric($curCid) && $curCid == 0 ? 'color:red' : ''; ?>">未指定</a>
        </td>
    </tr>
    <tr class="head">
        <th style='width:36px'>ID</th>
        <th style='width:36px'>批量</th>
        <th style=''>标题</th>
        <th style='width: 80px;'>复制链接</th>
        <th style='width:120px'>栏目</th>
        <th style='width:50px'>修改</th>
        <th style='width:80px'>是否发布</th>
        <th style='width:50px'>删除</th>
        <th style='width:120px'>添加时间</th>
        <th style='width:120px'>修改时间</th>
    </tr>
    <?php
    if ($list) {
    ?>
    <tbody class="listData">
    <?php
        foreach ($list as $item) {
            $url = $this->uri->appUrl('/article/detail/' . EasyEncrypt::encode($item['id']));
            ?>
            <tr class="item" data-id="<?php echo $item['id']; ?>" data-cid="<?php echo $item['cid']; ?>">
                <th class='name'><?php echo $item['id']; ?></th>
                <td class="center"><input type="checkbox" class="chk" data-id="<?php echo $item['id']; ?>"/></td>
                <td>
                    <a href="javascript:;" class="preview-app" title="点击预览"
                       data-url="<?php echo $url; ?>">
                        <?php echo $item['title']; ?>
                    </a>
                    <?php if ($item['recommend']) { ?>
                        <mark class="mark mark-yellow small">荐</mark>
                    <?php } ?>

                    [<a href="javascript:;" class="copy" data-id="<?php echo $item['id']; ?>">
                        查看链接
                    </a>]
                    <input style="display: none;" readonly="readonly" class="aUrl" data-id="<?php echo $item['id']; ?>"
                           type="text"
                           value="<?php echo $url; ?>"/>
                </td>
                <td class="center"><a href="javascript:;" class="copyBtn miBtn"
                                      data-clipboard-text="<?php echo $url; ?>">复制链接</a>
                </td>
                <td class="center">
                    <a href="<?php echo $this->uri->actionUrl('cid/' . $item['cid']); ?>">
                        <?php echo $cat_name[$item['cid']]; ?>
                    </a>
                </td>
                <td class="center">
                    <a href="<?php echo $this->uri->controllerUrl('update/' . EasyEncrypt::encode($item['id'])); ?>"
                       class='upBtn'>修改</a>
                </td>
                <td class="center">
                    <?php if (!$item['published']) { ?>
                        <a href="javascript:;" class='pubBtn' style="color: #ff0000;" data-status="1"
                           data-id="<?php echo $item['id']; ?>">发布</a>
                    <?php } else { ?>
                        <a href="javascript:;" class='pubBtn' data-id="<?php echo $item['id']; ?>"
                           data-status="0">取消发布</a>
                    <?php } ?>
                </td>
                <td class="center">
                    <a href="javascript:;" class='delBtn' data-id="<?php echo $item['id']; ?>">删除</a>
                </td>
                <td>
                    <?php echo date('Y-m-d H:i', $item['created']); ?>
                </td>
                <td>
                    <?php echo date('Y-m-d H:i', $item['modified']); ?>
                </td>
            </tr>
        <?php
        }
    } else {
        ?>
        <tr>
            <td colspan="9">
                <p style="margin: 20px;color:#f00;"> 暂无内容 </p>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tr class="showpage">
        <th class="name">操作</th>
        <td colspan="9">
                <span>
                    [ <a href="javascript:;" class="selectAll">全选</a> ]
                    [ <a href="javascript:;" class="selectNone">全不选</a> ]
                    [ <a href="javascript:;" class="selectInvert">反选</a> ]
                    <a class="btn-light delAllSelected" href="javascript:;">批量删除</a>
                </span>
                <span style="float: right;">
                        选中文章移到 >
                    <select name="" class="mvPostCat">
                        <option>请选择</option>
                        <?php
                        foreach ($cats as $val) {
                            if ($val['parent_id'] == 0) {
                                $selected = $val['id'] == $curCid ? 'selected=""' : '';
                                echo '<option value="' . $val['id'] . '" ' . $selected . '>【' . $val['name'] . '】</option> ';
                                foreach ($cats as $val2) {
                                    if ($val2['parent_id'] == $val['id']) {
                                        $selected = $val['id'] == $curCid ? 'selected=""' : '';
                                        echo '<option value="' . $val2['id'] . '" ' . $selected . ' >　　|一' . $val2['name'] . '</option>';
                                    }
                                }
                            }
                        }
                        ?>
                    </select>
                    <a href="javascript:;" class="miBtn mvPostBtn">确认移动</a>
                </span>
        </td>
    </tr>
    <tr class="showpage">
        <th class="name">分页</th>
        <td colspan="9">
        <?php \Util\Pagination::instance($this->view)->display($this->view); ?>
        </td>
    </tr>
</table>
<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame" src="<?php echo $this->uri->appUrl('article'); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>