<?php
$this->partial('article/base');
$url = $this->uri->appUrl('article/detail/' . \Util\EasyEncrypt::encode($article['id']));

?>

{{ content() }}

<form action="" id="registerForm" class="form-horizontal" onbeforesubmit="return false"
      data-toggle="validator" role="form" method="post">
    <fieldset>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label red">链接地址</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text"
                           value="<?php echo $url; ?>"
                           readonly class="txt"/>
                </span>
                <span class="help-block with-errors">
                    <a href="javascript:;" class="miBtn copyBtn" data-clipboard-text="<?php echo $url; ?>">复制地址</a>
                    <a href="javascript:;" class="miBtn preview-app " data-url="<?php echo $url; ?>">预览文章</a>
                </span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章栏目</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <select name="cid" id="cid" class="form-control" required="required">
                        <option value="">请选择</option>
                        <?php if ($cats) {
                            foreach ($cats as $cat) {
                                if ($cat['parent_id'] == 0) {
                                    ?>
                                    <option
                                        value="<?php echo $cat['id']; ?>" <?php echo ($article['cid']) == $cat['id'] ? 'selected="selected"' : ''; ?>>
                                        <b><?php echo $cat['name']; ?></b>
                                    </option>
                                    <?php foreach ($cats as $sub) {
                                        if ($sub['parent_id'] == $cat['id']) {
                                            ?>
                                            <option
                                                value="<?php echo $sub['id']; ?>" <?php echo ($article['cid']) == $sub['id'] ? 'selected="selected"' : ''; ?>>
                                                &nbsp;&nbsp;&nbsp;&nbsp;|― <?php echo $sub['name']; ?>
                                            </option>
                                        <?php
                                        }
                                    } ?>
                                <?php
                                }
                            }
                        } ?>
                        <option value="0" <?php echo ($article['cid']) == 0 ? 'selected="selected"' : ''; ?>>不指定
                        </option>
                    </select>
                </span>

                <span class="help-block with-errors"><a href="/panel/article/cat">栏目管理 >></a></span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章标题</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="title" name="title" placeholder="文章标题"
                           value="<?php echo $article['title'] ?>"
                           required>
                </span>
                <span class="help-block with-errors"><span class="red">*</span> </span>
            </div>
        </section>

        <section class="form-group">
        	<label for="summary" class="col-sm-2 control-label">摘要</label>
        	<div class="col-sm-10">
        		<span class="col-sm-3">
        			<textarea name="summary" id="summary" style="height: 80px;" placeholder="内容摘要"><?php echo $article['summary']; ?></textarea>
        		</span>
        	</div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章内容</label>

            <div class="col-sm-10">
                <main class="col-sm-10">
                    <textarea name="content" id="txtContent"
                              style="width: 100%;height:360px;"><?php echo htmlentities($article['content']) ?></textarea>
                </main>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章封面图片</label>

            <div class="col-sm-10">
                <span class="col-sm-3">
                    <input type="text" class="form-control" id="cover" readonly="readonly" name="cover"
                           value="<?php echo $article['cover'] ?>">
                </span>
                <span class="btn btn-success btn-sm tooltip-success" id="upCoverIcon">选择图片</span>
                <img class="imgPreview" src='<?php echo $article['cover'] ?>'
                     style="height: 36px;<?php echo $article['cover'] ? '' : 'display:none;'; ?>"/></span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章作者</label>

            <div class="col-sm-10">
                <span class="col-sm-2">
                    <input type="text" class="form-control" id="author" name="author"
                           value="<?php echo $article['author'] ?>">
                </span>
                <span class="help-block with-errors"></span>
            </div>
        </section>

        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">文章來源</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="source_link" name="source_link"
                           value="<?php echo $article['source_link'] ?>">
                </span>
                <span class="help-block with-errors"></span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">关键字</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="meta_keyword" name="meta_keyword"
                           value="<?php echo $article['meta_keyword'] ?>">
                </span>
                <span class="help-block with-errors">（用于seo）</span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">描述</label>

            <div class="col-sm-10">
                <span class="col-sm-5">
                    <input type="text" class="form-control" id="meta_desc" name="meta_desc"
                           value="<?php echo $article['meta_desc'] ?>">
                </span>
                <span class="help-block with-errors">（用于seo）</span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">是否发布</label>

            <div class="col-sm-10">
                <span class="col-sm-2">
                    <label for=""><input type="radio" id="published" name="published"
                                         value="1"  <?php echo $article['published'] ? 'checked="checked"' : ''; ?>>
                        是</label>
                    <label for=""><input type="radio" id="published" name="published" value="0"
                            <?php echo !$article['published'] ? 'checked="checked"' : ''; ?>                            >
                        否</label>
                </span>
                <span class="help-block with-errors">* 发布后才能显示</span>
            </div>
        </section>
        <section class="form-group">
            <label for="" class="col-sm-2 control-label">阅读权限：</label>
            <div class="col-sm-10">
                <span class="col-sm-2">
                    <label for=""><input type="radio" value="0" name="allow_login" checked>开放</label>
                    <label for=""><input type="radio" value="1" name="allow_login">需要登录</label>
                </span>
                <span class="help-block with-errors">* 如有限制，则用户需先登陆方可阅读此文章</span>
            </div>
        </section>
        <section class="form-group">
            <label for="name" class="col-sm-2 control-label">是否推荐</label>

            <div class="col-sm-10">
                <span class="col-sm-2">
                    <label for=""><input type="radio" id="recommend" name="recommend"
                                         value="1"  <?php echo $article['recommend'] ? 'checked="checked"' : ''; ?>>
                        是</label>
                    <label for=""><input type="radio" id="recommend" name="recommend" value="0"
                            <?php echo !$article['recommend'] ? 'checked="checked"' : ''; ?>> 否</label>
                </span>
                <span class="help-block with-errors">*</span>
            </div>
        </section>
        <section>
            <label for="name" class="col-sm-2 control-label"></label>

            <div class="col-sm-10" style="padding: 0 0 0 20px;">
                <input type="submit" value="提交" class="btn btn-primary btn-large" name="btn-base"/>
            </div>
        </section>
</fieldset>
</form>
<script>
    seajs.use('app/panel/panel.article', function (api) {
        api.setArticle();
    });
    $(function () {
        $('.preview-app').click(function () {
            var url = $(this).attr('data-url');
            $('#appFrame').attr('src', url);
            $('#app-frame').show();
        });
        $("#app-frame .close-app").click(function () {
            $('#app-frame').hide();
        });

        $("#app-frame .refresh-app").click(function () {
            $('#appFrame').attr('src', $('#appFrame').attr('src'));
        });

        $('.copyBtn').click(function () {
            var id = $(this).attr('data-id');
            $('.aUrl[data-id="' + id + '"]').show().focus();
        });

    });

</script>

<div class="" id="app-frame" style=" background-color:white; position: fixed;right: 0;z-index: 99999;top:0;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        display: none;">
    <p style="background: #fff;height: 36px;line-height: 36px;padding: 0 8px;">
        <a href="javascript:;" class="close-app">关闭预览</a> | <a href="javascript:;" class="refresh-app">重新预览</a>
    </p>
    <iframe name="appFrame" id="appFrame"
            src="<?php echo $this->uri->appUrl('article/detail/' . \Util\EasyEncrypt::encode($article['id'])); ?>"
            style="width: 400px;height: 600px;margin: 0;padding: 0;border: 2px solid #333;"></iframe>
</div>