<div id="introduce-bg">
    <div class="logo01">
        <img src="/static/wap/images/tpl/huarunqi/logo01.png" alt="">
    </div>
</div>
<div id="text-introduce">
    <?php echo $item['content'] ?>
</div>