<!---------------------- fashion begin --------------------------------->
<div id="fashion">
    <div class="swiper-fashion">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/static/wap/images/tpl/huarunqi/fashion_1.png" alt=""/>
            </div>
            <div class="swiper-slide blue-slide">
                <img src="/static/wap/images/tpl/huarunqi/fashion_2.png" alt=""/>
            </div>
            <div class="swiper-slide orange-slide">
                <img src="/static/wap/images/tpl/huarunqi/fashion_3.png" alt=""/>
            </div>
            <div class="swiper-slide green-slide">
                <img src="/static/wap/images/tpl/huarunqi/fashion_4.png" alt=""/>
            </div>
        </div>
        <div class="pagination-fashion"></div>
    </div>

</div><!-- fashion end-->

<script type="text/javascript">
    seajs.use('tools/swiper.js', function () {
        $("#index img").show();
        $(function () {
            //---------------------------------------------------------fashion js
            var mySwiper_fashion = new Swiper('.swiper-fashion', {
                pagination: '.pagination-fashion',
                paginationClickable: true
            });
            var pag_h = parseInt($("#fashion .pagination-fashion").width() / 2);
            $("#fashion .pagination-fashion").css("margin-left", "-" + pag_h + "px");
    });
</script>