<div class="modal" id="catModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">微网站分类导航设置</h4>
            </div>
            <div class="modal-body">
                <p class="field set-field">
                    <label for="" class="field-label">分类名称：</label>
                    <input type="text" id="name" value="" class="input-small">
                    <input type="hidden" id="position"
                           value="<?php echo $this->router->getActionName() == 'foot' ? 'foot' : 'part'; ?>"
                           class="input-small">
                    <span class="red">*</span><span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">父级分类：</label>
                    <select name="" id="parent_id">
                        <option value="0">最顶级</option>
                        <?php foreach ($list as $item) {
                            if ($item['parent_id'] == 0) {
                                ?>
                                <option value="<?php echo $item['id']; ?>"><?php echo $item['name']; ?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                    <span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">分类描述：</label>
                    <input type="text" id="detail" value="" class="input-small">
                    <span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">封面图片：</label>
                    <img src="" class="preview_img" style="height: 60px;"/>
                    <input type="hidden" id="cover_img" value="" class="input-small" readonly>
                    <a href="javascript:;" class="btn btn-sm btn-success getCoverBtn">上传封面图片</a>
                    <span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">排序大小：</label>
                    <input type="text" id="sort" value="0" class="input-small" style="width: 60px;" maxlength="1">
                    <span class="red">*</span><span
                        class="help-inline">(最大值255,排序值越大越靠前)</span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">是否有登录限制：</label>
                    没有<input type="radio" value="0" name="allow_login" checked>
                    有 <input type="radio" value="1" name="allow_login">
                </p>

                <p class="field set-field pagec" id="pagec" style="display:none ">
                    <label for="" class="field-label">未登录允许查看的文章数</label>
                    <input type="text" id="page" value="0" class="input-small" style="width: 60px;" maxlength="1">
                </p>

                <div class="field set-field" style="position: relative;">
                    <label for="" class="field-label">选择图标：</label>
                    <span class="red">*</span>
                    <span class="help-inline"></span>
                    <input id="icon" class="form-control nav_icon" type="hidden" value="icon-sun">
                    <i class="icon-preview"
                       style="width: 36px;height: 36px;line-height: 36px;text-align: center;font-size: 24px;color: #2a6496;display: block;border: 1px solid #428bca;"></i>

                    <div class="icon-wrap"></div>
                </div>

                <div class="field set-field" style="position: relative;">
                    <label for="" class="field-label">背景颜色：</label>
                    <input type="hidden" name="color" class="" id="color" value="">
                    <?php $this->partial('base/widget/colorPicker'); ?>
                </div>

            </div>

            <div class="modal-footer">
                <a href="javascript:;" data-dismiss="modal" class="btn">关闭</a>
                <a href="javascript:;" class="btn btn-primary saveBtn">保存</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("input[name='allow_login']").change(function(){

            if($(this).val()==1)
            {
                $(".pagec").css('display','block');
            }
            else
            {
                $(".pagec").css('display','none');
            }

        })

    })
    </script>