body{background: #e0e0e0;}
.red{color: red;}
.container{}
.user-widget{padding: 10px; background: #fff; border: 1px solid #ccc; border-right: none; border-left: none; line-height: 160%; margin: 8px 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.func-list li{border-bottom: 1px solid #E0E0E0; font-size: 11pt; height: 20px; padding: 5px 0;}
.func-list li .sign{width: 20px; height: 20px; color: #fff; display: inline-block; text-align: center; border-radius: 3px; font-size: 10pt;}
.func-list li .cart_count{font-size: 10px; width: 12px; height: 12px; line-height: 12px; display: inline-block; text-align: center; border-radius: 6px; vertical-align: middle; margin: -10px 0 0 -2px; background: #EA2818; color: #fff;}
.func-list li:last-child{border: none;}
.func-list li a{display: block;}
.w250-center, .form.w250-center{width: 250px; margin-right: auto; margin-left: auto;}
/*.full-form, .form.full-form, .full-form p{width: 100%; margin-right: auto; margin-left: auto;}
.form.full-form label{width: 25%; text-align: right;}
.form.full-form input:text, .form.full-form textarea, .form.full-form select{width: 50%; text-align: left;}
.full-form .btn.loginBtn, .full-form .btn.regBtn, .full-form .btn.saveBtn, .full-form .btn.showAddrFormBtn{width: 100%; text-align: center;}
.btn.loginBtn, .btn.regBtn, .btn.saveBtn, .btn.resetPassBtn, .btn.showAddrFormBtn, .btn.saveAddrBtn{height: 40px; line-height: 30px; padding: 0 50px; width: 100%; font-size: 16px; text-align: center; display: block;}
*/
.block-tip{border: solid 1px #ccc; background: #fff; padding: 5px; margin: 10px 0 0;}
.user-info{height: 60px;}
.user-info dt{width: 60px; height: 60px; overflow: hidden; float: left; margin: 0 10px 0 0; text-align: center;}
.user-info dt img{width: 60px;}
.user-info dd .name{font-size: 12pt; color: #000; line-height: 20px;}
.user-info dd .point{font-size: 9pt; color: #666;}
.point_phone{margin-left: 10px;}
.user-info dd .detail{color: #333;font-size: 9pt;}
.small{font-size: 10pt; color: #666;}
#container .user-widget .vote_list{padding-left: 20px !important; font-size: 12px; background-color:#e4e4e4; border-radius: 4px; margin-bottom: 3px; border:1px solid #e2e2e2;}
