<?php

use Components\UserStatusWap;
use Models\Modules\Vipcard\AddonVipcardUsers;
use Multiple\Wap\Helper\ShopData;

$point = UserStatusWap::init()->getPoint();
$store = ShopData::init()->getStore(true);
$redeem_proportion = $store['redeem_proportion'];
$vipcard_user = AddonVipcardUsers::findFirst("customer_id=" . CUR_APP_ID . " AND user_id=" . UserStatusWap::getUid());
if ($vipcard_user && $vipcard_user->is_company == 1 && $store['firm_redeem_proportion'] > 0) {
    $redeem_proportion = $store['firm_redeem_proportion'];
}

?>
<?php if ($store && $redeem_proportion > 0) { ?>
    <p class="points_choose" style="">
        <input type="hidden" value="<?php echo $point; ?>" id="pointsBox">
        <input type="hidden" value="<?php echo $redeem_proportion ?>" id="redeem_proportion">
        使用积分(可用<span class="myPoints"><?php echo $point; ?></span>)：
        <input type="checkbox" value="1" name="pointsCheckbox" id="pointsCheckbox">
        <input type="text" value="0" name="usePoint" id="usePoint"
               style="display: none;border: 1px solid #e3e3e3; width: 100px;"/>
    </p>
<?php } ?>
