<main class="popup-wrap" id="optionPopup">
    <section class="popup-widget" id="optionWidget">
        <header class="popup-head">商品类目属性选项设置<span class="popup-close">x</span></header>
        <main class="popup-content">
            <div class="field choose-type-selc">
                <label class="field-label">属性类型：</label>

                <select class="select-option-type selc" name="type">
                    <option value="single">单选项</option>
                    <option value="multi">多选项</option>
                    <option value="input">单行文字</option>
                    <option value="text">多行文字</option>
                </select>
            </div>

            <section class="rock-area">
                <div id="option-input" class="option" data-type="input" style="display: none;">
                    <h4 class="option-title">单行文字</h4>

                    <div class="field set-field">
                        <label for="" class="field-label">属性名称：</label>
                        <input type="text" class="attr_name" value="">
                        <span class="help-inline"><i class="red">*</i> (如"货号")</span>
                    </div>

                    <div class="field set-field">
                        <label for="" class="field-label">默认数据：</label>
                        <input type="text" class="attr_value" value="">
                        <span class="help-inline">(一般设为空)</span>
                    </div>
                </div>

                <div id="option-text" class="option" data-type="text" style="display: none;">
                    <h4 class="option-title">多行文字</h4>

                    <div class="field set-field">
                        <label for="" class="field-label">属性名称：</label>
                        <input type="text" class="attr_name" value="">
                        <span class="help-inline"><i class="red">*</i> (如"描述")</span>
                    </div>

                    <div class="field set-field">
                        <label for="" class="field-label">默认数据：</label>
                        <input type="text" class="attr_value" value="">
                        <span class="help-inline">(一般设为空)</span>
                    </div>
                </div>

                <div id="option-single" class="option" style="" data-type="single">
                    <h4 class="option-title">单选项</h4>

                    <div class="field set-field">
                        <label for="" class="field-label">属性名称：</label>
                        <input type="text" class="attr_name" value="">
                        <span class="help-inline"><i class="red">*</i> (如"风格")</span>
                    </div>

                    <div class="field set-field">
                        <label for="" class="field-label">选项列表：</label>
                        <input type="text" value="" class="attr_value" style="width: 400px;"/>
                        <span class="tip"><i class="red">*</i></span>

                        <p style="margin: 6px 0 0 62px;">
                            <span class="tip">(选项列表请用"-"隔开,例如：请在上面填写如"复古-怀旧-时尚-青春")</span>
                        </p>
                    </div>

                </div>

                <div id="option-multi" class="option" style="display: none;" data-type="multi">
                    <h4 class="option-title">多选项</h4>

                    <div class="field set-field">
                        <label for="" class="field-label">属性名称：</label>
                        <input type="text" class="attr_name" value="">
                        <span class="help-inline"><i class="red">*</i> (如"流行元素")</span>
                    </div>

                    <div class="field set-field">
                        <label for="" class="field-label">选项列表：</label>
                        <input type="text" class="attr_value" value="" style="width: 400px;">
                        <span class="tip"><i class="red">*</i> </span>

                        <p style="margin: 6px 0 0 62px;">
                            <span class="tip">(选项列表请用"-"隔开,例如：请在上面填写如"印花-纯色-蕾丝-波浪")</span>
                        </p>
                    </div>
                </div>

                <div class="field set-field">
                    <label for="" class="field-label">排序大小：</label>
                    <input type="text" class="sort" value="0" style="width: 50px;">
                    <span class="help-inline"><i class="red">*</i>(最大255，由大到小)</span>
                </div>

                <div class="field set-field">
                    <label for="" class="field-label">是否必填：</label>
                    <label>
                        <input type="radio" name="must" class="ace must" value="1" checked>
                        <span class="lbl"> <b>是</b></span>
                    </label>
                    <label>
                        <input type="radio" name="must" class="ace must" value="0">
                        <span class="lbl"> <b>否</b></span>
                    </label>
                    <span class="help-inline"><i class="red">*</i></span>
                </div>

                <div class="field set-field">
                    <label for="" class="field-label">是否激活：</label>
                    <label>
                        <input type="radio" name="is_active" class="ace is_active" value="1" checked>
                        <span class="lbl"> <b>是</b></span>
                    </label>
                    <label>
                        <input type="radio" name="is_active" class="ace is_active" value="0">
                        <span class="lbl"> <b>否</b></span>
                    </label>
                    <span class="help-inline"><i class="red">*</i></span>
                </div>

                <input type="hidden" name="is_sale_prop" class="is_sale_prop" value="0">
            </section>

            <div class="field res-area">
                <input type="hidden" value="" class="res-val"/>
                <input class="btn btn-sm btn-success res-btn" type="button" value="确认"
                       data-cid="<?php echo intval($this->request->get('cid')); ?>"/>
                <span class="help-inline"></span>
            </div>
        </main>
    </section>
</main>
<style>
    #optionWidget {
        width: 500px;
        margin-left: -250px;
        top: 50px;
    }

    .option-title {
        font-size: 13px;
        background: #FEFCEF;
        text-align: center;
        padding: 8px;
        color: #333;
        border: 1px solid #DEEFFB;
    }
</style>
<script>
    seajs.use('app/panel/product/product.attr', function (n) {
        n.delAttr('.delBtn');
        n.pubAttr('.pubBtn');
        n.saveAttr(25);
    });
</script>