<div class="modal" id="navModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">商品品牌设置</h4>
            </div>
            <div class="modal-body">
                <p class="field set-field">
                    <label for="" class="field-label">品牌名称：</label>
                    <input type="text" id="name" value="" class="input-small">
                    <input type="hidden" id="position"
                           value="<?php echo $this->router->getActionName() == 'foot' ? 'foot' : 'part'; ?>"
                           class="input-small">
                    <span class="red">*</span><span class="help-inline"></span>
                </p>

                <p class="field set-field">
                    <label for="" class="field-label">LOGO图片：</label>
                    <img src="" class="preview_img" style="height: 60px;"/>
                    <input type="hidden" id="image" value="" class="input-small" readonly>
                    <a href="javascript:;" class="btn btn-sm btn-success getCoverBtn">上传LOGO</a>
                    <span class="help-inline"></span>
                </p>
            </div>

            <div class="modal-footer">
                <a href="javascript:;" data-dismiss="modal" class="btn">关闭</a>
                <a href="javascript:;" class="btn btn-primary saveBtn">保存</a>
            </div>
        </div>
    </div>
</div>

