<main class="popup-wrap" id="optionPopup">
    <section class="popup-widget" id="optionWidget">
        <header class="popup-head">商品规格选项设置<span class="popup-close">x</span></header>
        <main class="popup-content">
            <div class="field choose-type-selc">
                <label class="field-label">属性类型：</label>

                <select class="select-option-type selc" name="type">
                    <option value="multi">普通选项</option>
<!--                    <option value="color">色彩选项</option>-->
                </select>
            </div>

            <section class="rock-area">
                <div id="option-multi" class="option" data-type="multi">
                    <h4 class="option-title">多选项</h4>

                    <div class="field set-field">
                        <label for="" class="field-label">属性名称：</label>
                        <input type="text" class="attr_name" value="">
                        <span class="help-inline"><i class="red">*</i> (如"尺码")</span>
                    </div>

                    <div class="field set-field">
                        <label for="" class="field-label">选项列表：</label>
                        <input type="text" class="attr_value" value="" style="width: 400px;">
                        <span class="tip"><i class="red">*</i> </span>

                        <p style="margin: 6px 0 0 62px;">
                            <span class="tip">(选项列表请用"-"隔开,例如：请在上面填写如"S-M-L-XL-XXL")</span>
                        </p>
                    </div>
                </div>

                <div class="field set-field">
                    <label for="" class="field-label">排序大小：</label>
                    <input type="text" class="sort" value="0" style="width: 50px;">
                    <span class="help-inline"><i class="red">*</i>(最大255，由大到小)</span>
                </div>


                <div class="field set-field">
                    <label for="" class="field-label">是否激活：</label>
                    <label>
                        <input type="radio" name="is_active" class="ace is_active" value="1" checked>
                        <span class="lbl"> <b>是</b></span>
                    </label>
                    <label>
                        <input type="radio" name="is_active" class="ace is_active" value="0">
                        <span class="lbl"> <b>否</b></span>
                    </label>
                    <span class="help-inline"><i class="red">*</i></span>
                </div>

                <input type="hidden" name="is_sale_prop" class="is_sale_prop" value="1">
            </section>

            <div class="field res-area">
                <input type="hidden" value="" class="res-val"/>
                <input class="btn btn-sm btn-success res-btn" type="button" value="确认"
                       data-cid="<?php echo intval($this->request->get('cid')); ?>"/>
                <span class="help-inline"></span>
            </div>
        </main>
    </section>
</main>
<style>
    #optionWidget {
        width: 500px;
        margin-left: -250px;
        top: 50px;
    }

    .option-title {
        font-size: 13px;
        background: #FEFCEF;
        text-align: center;
        padding: 8px;
        color: #333;
        border: 1px solid #DEEFFB;
    }
</style>
<script>
    seajs.use('app/panel/product/product.attr', function (n) {
        n.delAttr('.delBtn');
        n.pubAttr('.pubBtn');
        n.saveAttr(2);
    });
</script>