<?php
use Multiple\Wap\Helper\SiteData;

// 是否隐藏
$hide = \Components\TplManager::$_config['hideFooter'];
if (!$hide) {
    $site_name = SiteData::init()->getSite('site_name');
    $record = SiteData::init()->getSite('record');
    $weibo = SiteData::init()->getSite('weibo');
    //$list = SiteData::init()->getNavs('foot','shop');
    $AllFootNav = SiteData::init()->getAllNavs('foot');
    $headTitle = \Multiple\Wap\Helper\Meta::$head_title;
    $controller = $this->router->getControllerName();
    $action = $this->router->getActionName();
    $count = \Components\Order\CartManager::init()->getCount();
    ?>
    <div class="clear"></div>
    <?php
    if ($controller == 'shop') {
        ?>
        <div class="foot">
            <div class="copyInfo">
                <p>&copy; <?php echo date('Y') . $site_name; ?> | <a href="/about">关于我们</a></p>
            </div>
            <p>
                技术支持： <a href="http://12345718.m.saleasy.net/" target="_blank">深圳智享时代</a>
            </p>
        </div>

        <div class="footer">
            <ul class="footer-nav shop-nav">
                <li class="searchNav">
                    <a class="searchBtn" href="/shop/search">
                        <p><i class="icon icon-caret-up"></i></p>

                        <p><span class=" goUpBtn">搜索</span></p>
                    </a>
                </li>
                <li>
                    <a href="/shop/catalog"><img src="/static/wap/images/tpl/footer-nav-cls.png" class="img_icon"
                                                 alt=""/>商品分类</a>
                </li>
                <li>
                    <a href="/order/cart">
                        <i class="icon icon-shopping-cart"></i> 购物车
                        <sup class="cart_count"><?php echo $count; ?></sup>
                    </a>
                </li>
                <li>
                    <a href="/"><i class="icon icon-home"></i>微官网</a>
                </li>
            </ul>
        </div>
    <?php } else { ?>
        <?php
        $has_foot = false;
        $count = count($AllFootNav);
        if ($count > 0) {
            $has_foot = true;
            ?>
            <div class="foot">
                <div class="copyInfo">
                    <p>
                        &copy; <?php echo date('Y'); ?> <a href="/"><?php echo $site_name; ?></a> |
                        <?php if ($weibo) { ?>
                            <a href="http://weibo.com/n/<?php echo $weibo; ?>" target="_blank">微博关注</a>
                        <?php } else { ?>
                            <a href="/about">关于我们</a>
                        <?php } ?>
                    </p>
                    <p>
                        技术支持： <a href="http://12345718.m.saleasy.net/" target="_blank">深圳智享时代</a>
                    </p>
                </div>
            </div>
            <div class="footer">
                <ul class="footer-nav">
                    <?php
                    $count = count($AllFootNav);

                    foreach ($AllFootNav as $k => $item) {
                        if ($count > 4) {
                            $count = 4;
                        }

                        if ($k > 3) {
                            continue;
                        }
                        ?>
                        <?php  if ($item['son']) {
                            $data = '';
                            foreach ($item['son'] as $val) {

                                $data .= "{text:" . "'" . $val['name'] . "',href:'" . $val['link'] . "',icon:'ui-icon-grid'},";
                            }
                            $data = '[' . rtrim($data, ',') . ']'; ?>
                            <li class="parent" style="width:<?php echo 100 / $count; ?>%;text-align: center;">
                                <a href="javascript:;" class="navMenu " data-widget="dropmenu"
                                   data-content="<?php echo $data ?>">
                                    <i class="icon <?php echo $item['icon']; ?>"></i>
                                    <?php echo $item['name']; ?>
                                </a>
                            </li>
                        <?php } else { ?>
                            <li class="parent" style="width:<?php echo 100 / $count; ?>%;text-align: center;">
                                <a href="<?php echo $item['link'] ?>">
                                    <i class="icon <?php echo $item['icon']; ?>"></i>
                                    <?php echo $item['name']; ?>
                                </a>
                            </li>

                        <?php
                        }
                    }
                    ?>


                </ul>
            </div>
        <?php } ?>
    <?php
    }
}
?>
<script>

    seajs.use('/static/wap/gmu/widget/dropmenu.js', function () {
        $('.navMenu').each(function () {
            var content = eval($(this).attr('data-content'));
            $(this).dropmenu({
                content: content,
                placement: 'top',
                align: 'center'
            });
        });
    });
</script>

