<?php
use Components\TplManager;
use Multiple\Wap\Helper\SiteData;

// 是否隐藏
$hide = \Components\TplManager::$_config['hideHeader'];
if (!$hide) {
    $headTitle = \Multiple\Wap\Helper\Meta::$head_title;

    $app_name = SiteData::init()->getSite('site_name');
    $app_logo = SiteData::init()->getSite('site_logo');
    $headTitle = \Multiple\Wap\Helper\Meta::$head_title;
    $controller = $this->router->getControllerName();
    $action = $this->router->getActionName();
    $store = $this->view->store;
    $controller_action = $controller . '_' . $action;
    $headname = isset($headTitle[$controller . '_' . $action]) ? $headTitle[$controller . '_' . $action] : '';
    ?>

    <div id="header">
    <span class="title">
        <?php if ($controller_action != 'index_index' && $controller_action != 'shop_index') { ?>
            <a class="back" href="javascript:history.back(-1)"><span></span></a>
        <?php
        } else {
            if ($controller == 'shop') {
                ?>
                <a class="name"
                   href="<?php echo $this->uri->baseUrl('shop'); ?>"><?php echo isset($store) ? $store['name'] : ''; ?></a>
            <?php } else { ?>
                <a href="<?php echo $this->uri->baseUrl(); ?>">
                    <?php
                    if ($app_logo) {
                        ?>
                        <img src="<?php echo $app_logo; ?>" alt=""/>
                    <?php
                    } else {
                        echo $app_name;
                    }
                    ?>
                </a>
            <?php
            }
        } ?>
    </span>

    <span class="center">
        <?php echo isset($top_title) && $top_title ? $top_title : $headname; ?>
    </span>

        <?php
        if ($controller == 'shop') {
            ?>
            <span class="right">
            <a href="<?php echo $this->uri->baseUrl('shop/search'); ?>" class="searchbtn"><span></span></a>
            <a href="<?php echo $this->uri->baseUrl('user'); ?>" class="user"><span></span></a>
                <a class="catbtn" href="<?php echo $this->uri->baseUrl('shop'); ?>"><span></span></a>
        </span>
        <?php
        } else {
            ?>
            <span class="right">
            <?php
            TplManager::init(CUR_APP_ID)->render('menu', 'topMenu');
            ?>
                <a href="<?php echo $this->uri->baseUrl('user'); ?>" class="user home-user"><span></span></a>
        </span>
        <?php
        } ?>
        <div class="clear"></div>
    </div>
<?php } ?>