<?php
$baseUri = $this->uri->appUrl('');
$default['home'] = $baseUri;
$default['news'] = $baseUri . 'article';
if ($this->view->store) {
    $default['shop'] = $baseUri . 'shop';
}
$default['about'] = $baseUri . 'about';
$default['user'] = $baseUri . 'user';

// 固定有菜单
$topStr = array(
    'home' => array(
        'text' => '首页',
        'href' => $default['home'],
        'icon' => 'icon-home',
    ),
    /*'shop' => array(
        'text' => '店铺中心',
        'href' => $default['shop'],
        'icon' => 'icon-bell',
    ),*/
    'news' => array(
        'text' => '新闻中心',
        'href' => $default['news'],
        'icon' => 'icon-bullhorn',
    ),
    'user' => array(
        'text' => '用户中心',
        'href' => $default['user'],
        'icon' => 'icon-user',
    ),
    'about' => array(
        'text' => '关于我们',
        'href' => $default['about'],
        'icon' => 'icon-exclamation-sign',
    )
);
if ($this->view->store) {
    $topStr['shop'] = array(
        'text' => '店铺中心',
        'href' => $default['shop'],
        'icon' => 'icon-bell',
    );
}

$topS = '';
foreach ($topStr as $key => $top) {
    $topS .= json_encode($top) . ',';
}

$menu = '[' . rtrim($topS, ',') . ']';
?>
<a class="catbtn" id="menu" href="javascript:;"><span></span></a>
<script>
    seajs.use('/static/wap/gmu/widget/dropmenu.js', function () {
        var menus = <?php echo $menu; ?>;
        $('#menu').dropmenu({
            content: menus,
            placement: 'bottom',
            align: 'right'
        });
    });
</script>
