<!--<link rel="stylesheet" href="/ace/assets/css/jquery-ui-1.10.3.custom.min.css" />-->


<div class="page-content">
    <div class="page-header">
        <h1>
            模块购买
            <small>
                <i class="icon-double-angle-right"></i>
                {{module.name}}
            </small>
        </h1>
    </div>
    <!-- /.page-header -->
    {{content()}}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <form class="form-horizontal" role="form" method="post">
                <input type="hidden" id="id" value="{{module.id}}">
                <input type="hidden" id="year_price" value="{{module.year_price}}">
                <input type="hidden" id="month_price" value="{{module.month_price}}">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 功能说明 </label>

                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-5 alert alert-info">
                            {{module.description}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="total_cash"> 总费用 </label>

                    <div class="col-sm-9">
                        &yen;<input readonly="" type="text" name="total_cash" class="col-xs-10 col-sm-5" id="total_cash" value="{{module.year_price}}">
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="years">购买年数</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="col-xs-1 input-sm" type="text" id="years" name="years" value="1" placeholder="购买年数"/>年
                        </div>

                        <div class="space-2"></div>

                        <div class="help-block ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all col-xs-10 col-sm-5"
                             id="years-slider" aria-disabled="false">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                 style="width: 0%;"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="months">购买月数</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="col-xs-1 input-sm" type="text" id="months" name="months" value="0" placeholder="购买月数"/>月
                        </div>
                        <div class="space-2"></div>

                        <div class="help-block ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all col-xs-10 col-sm-5"
                             id="months-slider" aria-disabled="false">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                 style="width: 0%;"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>重置
                        </button>
                    </div>
                </div>

                <div class="hr hr-24"></div>
                <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

