<div class="widget-box">
    <div class="widget-header widget-header-blue widget-header-flat">
        <h4 class="lighter">订单确认
        </h4>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <!-- /.page-header -->
            {{content()}}
            {% if order is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <form class="form-horizontal" role="form" method="post" action="pay">
                        <input type="hidden" id="id" value="{{module.id}}">
                        <input type="hidden" id="year_price" value="{{module.year_price}}">
                        <input type="hidden" id="month_price" value="{{module.month_price}}">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 购买的功能 </label>

                            <div class="col-sm-9">
                                <a class="btn btn-info btn-sm pull-right" href="/panel/module/editOrder">
                                    <i class="icon-pencil bigger-110"></i>编辑订单
                                </a>
                                {% if modules is defined %}
                                {% for module in modules %}
                                <span class="red">{{module.name}}</span>
                                {% endfor %}
                                {% endif %}

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="total_cash"> 总费用 </label>

                            <div class="col-sm-9">
                                &yen;<code>{{order.total_money}}</code>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <h4>在线支付</h4>
                        <div class="clearfix form-actions">

                            <div class="col-md-offset-2 col-md-9">
                                {% if order.total_money is defined and order.total_money > 0 %}
                                <a href="/payment/alipay/pay/PO/<?php echo \Util\EasyEncrypt::encode($order->order_number);?>"  target="_blank">
                                    <img class="icon bigger-10" src="/static/panel/images/payment/alipay.gif" style="margin-top:0px;margin-right:0px;margin-bottom:0;margin-left:0px; border: solid 1px #6fb3e0;" title="支付宝付款" align="middle" alt="" border="0">
                                </a>
<!--                                <a href="/payment/china-bank/send/PO/<?php echo \Util\EasyEncrypt::encode($order->order_number);?>"  target="_blank"><img src="/static/panel/images/payment/cbpay.png"></a>-->
<!--                                <a href="/payment/tenpay/pay/PO/<?php echo \Util\EasyEncrypt::encode($order->order_number);?>"  target="_blank"><img src="/static/panel/images/payment/tenpay.png"></a>-->

                                {% else %}
                                <a href="/panel/module/trial" class="btn btn-sm btn-default">免费试用</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="hr hr-24"></div>
                        <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            {% endif %}
            <!-- /.row -->
        </div>
    </div>
</div>
