<div class="page-header">
    <h1>
        <a href="/panel/module/more">模块中心</a>
        <small>[ <?php echo $module->name; ?> ]</small>
    </h1>
</div>
{{content()}}
<div class="row">

    {% if module is defined %}
    <div class="col-md-4">
        <img class="img-responsive" src="<?php echo $module->image; ?>">
    </div>

    <div class="col-md-6">

        <h3>{{ module.name }}</h3>

        <div>
            {{ module.description }}
        </div>
    </div>
    <div class="col-md-2">
        {% if isAuthed and deadline < time() %}
        {% if module.is_free != 0 %}
        <span>到期时间为：<code>{{date("Y-m-d", deadline)}}</code></span>
        <a href="/panel/module/buy/{{module.module_name}}" class="btn btn-primary">购买续费</a>
        {% endif %}
        {% else %}
        {% if module.is_free %}
        <a href="/panel/module/addFree/{{module.module_name}}" class="btn btn-primary">免费添加</a>
        {% else %}
        <a href="/panel/module/buy/{{module.module_name}}" class="btn btn-primary">购买续费</a>
        {% endif %}
        {% endif %}
    </div>
    {% else %}
    <div class="alert alert-warning">
        对不起， 没有找到您要查询的功能模块哦，您可以去<a href="/panel/module/more">功能中心</a>看看其他功能！
    </div>
    {% endif %}

</div>

