<div class="widget-box">
<div class="widget-header widget-header-blue widget-header-flat">
    <h4 class="lighter">完成以下内容即可完成入驻</h4>
</div>
<input type="hidden" id="orderType" value="{% if order is defined %}1{% else %}0{% endif %}"/>
<input type="hidden" id="order_number" value="{% if order is defined %}{{order.order_number}}{% endif %}">
<input type="hidden" id="orderResources"
       value='{% if resources is defined %}{{resources|json_encode}}{% else %}{}{% endif %}'/>

<div class="widget-body">
<div class="widget-main">
<div id="wizard-header" class="row-fluid" data-target="#step-container">
    <ul class="wizard-steps">
        <li data-target="#step1">
            <span class="step">1</span>
            <span class="title">选择服务种类</span>
        </li>

        <li data-target="#step2">
            <span class="step">2</span>
            <span class="title">设置服务时限</span>
        </li>

        <li data-target="#step3">
            <span class="step">3</span>
            <span class="title">确认订单</span>
        </li>
    </ul>
</div>

<hr>
<div class="step-content row-fluid position-relative" id="step-container">
    <div class="step-pane active" id="step1">
        {% if customer_modules is defined and customer_modules|length > 0 %}
        <h3>您已经拥有的服务</h3>
        <div class="row-fluid col-xs-12">
            {% for item in customer_modules %}
            <div class="col-xs-4 module-item">
                <div class="checked">
                    <div class="item-thumb pull-left">
                        <a href="/home/services/detail/{{item.module_name}}"><img src="{{item.image}}" alt="微信公众号" class="img-thumbnail"></a>
                    </div>
                    <div class="item-content pull-right">
                        <div class="item-title">{{item.name}}</div>
                        <div class="item-title">到期：{{date("Y-m-d", item.time_end)}}</div>
                        <div class="item-desc">{{item.description}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <h3>您可以购买或者续约以下服务</h3>

        <div class="row-fluid col-xs-12">
            {% if modules is defined and modules|length > 0 %}
            <div class="row">
                {% for index,item in modules %}
                {% if index > 0 and index % 3 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                <div class="col-xs-4 module-item" title="单击选择我">
                    <div class="check-item" data-id="{{item.id}}">
                        <div class="item-thumb pull-left">
                            <a href="/home/services/detail/{{item.module_name}}">
                                <img src="{% if item.image|length > 0 %}{{item.image}}{% else %}http://placehold.it/200x200{% endif %}"
                                                                                     alt="{{item.name}}"
                                                                                     class="img-thumbnail"></a>
                        </div>
                        <div class="item-content pull-right">
                            <div class="item-title">{{item.name}}</div>
                            <div class="item-desc">{{item.description}}</div>
                            <div class="item-price">&yen;<span
                                    class="item-year-price">{{item.year_price}}</span>/年</div>
                            <div class="item-price">&yen;<span
                                    class="item-month-price">{{item.month_price}}</span>/月</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="step-pane" id="step2">
        <h3 class="blue lighter">选择服务时限</h3>

        <div class="col-xs-12 center">
            <div class="alert alert-info">
                推荐使用年付方式，花10个月的钱，享受12个月的服务！
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="years">购买年数</label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="col-xs-1 input-sm" type="text" id="years" name="years" value="1" placeholder="购买年数"/>年
                        </div>

                        <div class="space-2"></div>

                        <div class="help-block ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all col-xs-10 col-sm-5"
                             id="years-slider" aria-disabled="false">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                 style="width: 0%;"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="months">购买月数</label>
                    <div class="col-sm-9">
                        <div class="clearfix">
                            <input class="col-xs-1 input-sm" type="text" id="months" name="months" value="0" placeholder="购买月数"/>月
                        </div>
                        <div class="space-2"></div>

                        <div class="help-block ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all col-xs-10 col-sm-5"
                             id="months-slider" aria-disabled="false">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
                                 style="width: 0%;"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="serve_type">金额总计</label>

                    <div class="col-xs-12 col-sm-5">
                        &yen;<span id="total_cash"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="step-pane" id="step3">

    </div>
</div>

<hr>
<div class="row-fluid wizard-actions">
    <button class="btn btn-prev" disabled="disabled">
        <i class="icon-arrow-left"></i>
        上一步
    </button>

    <button class="btn btn-success btn-next" data-last="开始试用">
        下一步
        <i class="icon-arrow-right icon-on-right"></i>
    </button>
</div>
</div>
<!-- /widget-main -->
</div>
<!-- /widget-body -->
</div>