<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">模块购买记录</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<?php
$gender = array(
    '0' => '保密',
    '1' => '男',
    '2' => '女',
);
?>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>总金额</th>
                            <th>下单时间</th>
                            <th>支付状态</th>
                            <th>支付方式</th>
                            <th>支付订单号</th>
                            <th>管理</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if unpaidOrders is defined and unpaidOrders|length > 0 %}
                        {% for item in unpaidOrders %}
                        <tr class="warning">
                            <td>{{item.order_number}}</td>
                            <td>{{item.total_money}}</td>
                            <td>{{date("Y-m-d", item.ordered)}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.paid_type}}</td>
                            <td>{{item.paid_time}}</td>
                            <td>
                                <a class="item-edit" href="/panel/module/orderDetail?order{{item.order_number}}" target="_blank"><i class="icon icon-pencil"></i>详情</a>
                                <a class="item-remove"><i class="icon icon-trash"></i>作废</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% if list.items|length > 0 %}
                        {% for item in list.items %}
                        <tr class="odd gradeX">
                            <td>{{item.order_number}}</td>
                            <td>{{item.total_money}}</td>
                            <td>{{date("Y-m-d", item.ordered)}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.paid_type}}</td>
                            <td>{{item.paid_time}}</td>
                            <td>
                                <a class="item-edit" href="/panel/module/orderDetail?order{{item.order_number}}" target="_blank"><i class="icon icon-pencil"></i>详情</a>
                                <a class="item-remove"><i class="icon icon-trash"></i>作废</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}

                        {% if unpaidOrders is not defined and list.items|length == 0 %}
                        <tr class="even gradeC">
                            <td colspan="9">还没有历史订单</td>
                        </tr>
                        {% endif %}

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite"
                                 aria-relevant="all">显示 1 至 10 条， 共 <code id="ruleTotalNum">{{list.total_items}}</code> 条数据
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right" id="dataTables-example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.first}}">首页</a>
                                    </li>
                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                        tabindex="0" id="dataTables-example_previous"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.before}}">上一页</a>
                                    </li>
                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                        <a href="#">{{list.current}}</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.next}}">下一页</a></li>
                                    <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                                        id="dataTables-example_next"><a href="<?php echo $this->url->get('panel/users/list?page=');?>{{list.last}}">末页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /#wrapper -->



